[2020-11-25 04:13] membphis commented on #856
https://github.com/apache/apisix/commit/c8823d0eedcdc6e329afc48d6f41e7c92637ae28

fixed in APISIX already. @cleverpig you can make a try with this commit or the latest version of APISIX.

[2020-11-25 05:37] membphis commented on #578
No plans at this time, contributions are welcome

[2020-11-25 05:48] moonming commented on #865
`batch-requests` is not a custom plugin.

[2020-11-25 05:50] membphis commented on #861
I also like the way of `label`, which is more flexible than `group`.

* one route allows binding multiple labels

[2020-11-25 05:56] membphis commented on #866
This is a good reason.

[2020-11-25 06:02] membphis commented on #839
I think `2.2` is fine. I add this issue to `2.2` milestone

[2020-11-25 06:20] juzhiyuan commented on #861
There is a difference here, we should continue discussing this proposal.

[2020-11-25 07:02] membphis commented on #865
that is a bug, confirmed.

https://github.com/apache/apisix-dashboard/blob/master/api/build-tools/schema-sync.lua#L55-L56

here is a way we can make a try:

[code]

[2020-11-25 07:15] nic-chen commented on #866
second way +1
but could the version be read by status API mention in #849 ?

[2020-11-25 07:27] nic-chen commented on #861
If used for management, I prefer to use a separate group id. If it's just for group display, label is a better choice.

[2020-11-25 08:42] nic-chen commented on #630
close by #810

[2020-11-25 08:42] #630 closed

[2020-11-25 09:07] idbeta opened #870 "bug: manager-api should not allow create consumers with two more auth plugin"
# Bug report

## Describe the bug

Same as adminAPI, manager-api should not allow create consumers with two more auth plugin, but now it is allowed.

## How to Reproduce

[2020-11-25 09:11] juzhiyuan commented on #861
The label would be more closer to the description but not logic.

[2020-11-25 09:14] tokers commented on #866
@nic-chen The status API in #849 exposes APISIX instances' data, which contains APISIX version.

[2020-11-25 09:44] membphis commented on #870
nice catch

[2020-11-25 09:57] nic-chen commented on #866
sure. I know that. but I think we should expose data of `manager-api` too.

[2020-11-25 10:50] juzhiyuan commented on #468
For there have too many changes, so I will close this issue. @idbeta could add another issue for the latest codes if needed.

[2020-11-25 10:50] #468 closed

[2020-11-25 11:32] idbeta opened #872 "bug: manager-api should not allow create route with remote_addrs and remote_addr at the same time"
# Bug report

## Describe the bug

manager-api should not allow create route with remote_addrs and remote_addr at the same time

## How to Reproduce

[code]
It is return 200 now.

[2020-11-25 11:39] membphis commented on #870
after we talked right now, I think `manager-api` way is correct.

"allow create consumers with two more auth plugin", that is the right way. I think the APISIX should support this case too.

[2020-11-25 11:50] idbeta opened #873 "bug: create route with error format remote_addrs manager-api will return 200, but should return 400"
# Bug report

## Describe the bug

manager-api shuold not allow create route with error format remote_addrs

## How to Reproduce

[code]
It is return 200 now.

[2020-11-25 11:56] #776 closed

[2020-11-26 01:41] nic-chen commented on #822
I prefer to use grafana too

[2020-11-26 01:55] juzhiyuan commented on #822
Just to make sure, do you mean we don't need to implement this feature, just use Grafana is ok?

[2020-11-26 02:09] membphis commented on #822
I think this is enough

[2020-11-26 02:56] idbeta commented on #568
[code]

[2020-11-26 03:03] juzhiyuan commented on #822
fine, then we could close this issue now.

[2020-11-26 03:03] #822 closed

[2020-11-26 03:28] membphis commented on #568
I think `JSON Schema` can check this case

[2020-11-26 05:50] liuxiran commented on #861
Agree +1.

Refer to the previous discussion https://github.com/apache/apisix-dashboard/issues/431#issuecomment-684139567, and prs: https://github.com/apache/apisix/pull/2279 https://github.com/apache/apisix/pull/2345 , We've already introduced labels in apisix, and labels were originally preparing for group.

Basicly, we need to add `group schema` to APISIX, and as @gxthrj mentioned, we also need

[2020-11-26 06:01] idbeta opened #877 "bug: CI failed because scheme validate failed when create route"
# Bug report

## Describe the bug

CI failed because scheme validate failed when create route.

cc @nic-chen

[2020-11-26 06:07] juzhiyuan opened #879 "Support priority field in Route module"
# Feature request

## Please describe your feature

Users could use the priority field to do some actions like a grayscale release.

## Describe the solution you'd like

1. Add that field in the Route module.

## Describe alternatives you've considered

None

## Additional context

None

[2020-11-26 06:08] juzhiyuan commented on #879
cc @nic-chen I remember the manager-api supports this field, right?

cc @membphis

[2020-11-26 06:19] juzhiyuan commented on #861
@membphis would you like to share your ideas?

[2020-11-26 06:19] juzhiyuan commented on #861
@membphis would you like to share your ideas?

[2020-11-26 06:23] #877 closed

[2020-11-26 06:40] membphis commented on #861
I think @liuxiran 's comment https://github.com/apache/apisix-dashboard/issues/861#issuecomment-734089720 is fine for me.

It is the way I would like.

[2020-11-26 06:41] membphis commented on #879
need @nic-chen 's confirm. `manager-api` should support this field, same as `admin api`

[2020-11-26 08:06] nic-chen commented on #879
sure, it has supported.

[2020-11-26 09:00] liuxiran commented on #861
Thanks for your support. If that is ok, I will create the related issue to trace progress.

[2020-11-26 09:09] membphis commented on #861
We can wait for more time, maybe others want to say something

[2020-11-26 09:18] liuxiran commented on #861
ok, that would be better ^-^

[2020-11-26 12:56] nic-chen commented on #862
fixed by json schema updated.

and here is a test case for it:
https://github.com/apache/apisix-dashboard/blob/master/api/test/e2e/route_with_auth_plugin_test.go#L38-L58

[2020-11-26 12:56] #862 closed

[2020-11-26 15:34] nic-chen opened #886 "test: need cross-testing between `manager api` and `admin api`"
need cross-testing between `manager api` and `admin api`,
to make sure they works well between each other.

[2020-11-26 15:40] nic-chen opened #887 "test: need e2e test to ensure JSONSchema default value works fine"
depends on:
https://github.com/apache/apisix/issues/2834

Once this issue is done, we need to add e2e tests to ensure that no default value added in the manager api also works fine

[2020-11-27 00:14] membphis commented on #886
how to resolve this issue? @nic-chen do you have any idea?

[2020-11-27 02:06] idbeta opened #889 "bug: manager-api allows adding route with uri and uris at the same time"
# Bug report

## Describe the bug

manager-api allows adding route with `uri` and `uris` at the same time.
Because the front end is limited, the priority of the issue is not high.

## How to Reproduce

[code]
It should return 400, but it returned 200 and insert to the etcd.

[2020-11-27 02:10] lilien1010 commented on #889
might need to discard uri, only uris is enough,

[2020-11-27 05:57] nic-chen commented on #568
It has returned before the json schema verification

[2020-11-27 06:37] #855 closed

[2020-11-27 06:39] LiteSun commented on #855
closed by #891

cc @membphis

[2020-11-27 06:51] membphis commented on #855
Got it,  Thanks for your notification.

[2020-11-27 08:47] cleverpig commented on #856
@membphis
I checked out the master version of APISIX, the problem still stay on after I'd created a consumer from dashboard.
[code]

It's the output from git log:
[code]

[2020-11-27 08:55] membphis commented on #856
@spacewander  Do you have any suggestion?

[2020-11-27 08:59] cleverpig commented on #856
If I use curl script to access JWT authed page following the guide (https://github.com/apache/apisix/blob/master/doc/plugins/jwt-auth.md),
Apisix will throw 500 exception.

[code]

This is backend output:
[code]

[2020-11-27 09:03] spacewander commented on #856
Can't reproduce at my side with commit f4161d39a495879edffbc75e2099f6e487bae81d.

[2020-11-27 10:10] spacewander commented on #856
Please run `etcdctl --endpoints=$your_server get /apisix/route --prefix` to get your route configuration and paste them here.

[2020-11-27 10:52] idbeta commented on #728
here is test case
[code]

[2020-11-27 10:56] nic-chen opened #896 "bug: manager api does not support int for field `id`"
# Bug report

## Describe the bug

`admin api` supports the id field as string and int type, `manager api` only supports string,
which will cause the data with int type id entered in `admin api` cannot be displayed with `manager api`

## How to Reproduce

1.  create upstream
[code]

2. use upstream  id as int
[code]

[2020-11-27 11:13] membphis commented on #896
thid bug still not fixed?

[2020-11-27 11:15] nic-chen commented on #856
It may be the default value from json schema problem

[2020-11-27 11:43] moonming commented on #896
I think this is a serious bug

[2020-11-27 12:00] cleverpig commented on #856
my route configuration :
[code]
@spacewander

[2020-11-27 12:56] spacewander commented on #856
@nic-chen
Do you mean the `"remote_addrs":[""]` in @cleverpig's route?

[2020-11-27 14:13] nic-chen commented on #856
@spacewander

field `algorithm` defines a default value (HS256) in json schema, but creating a consumer on dashboard will not set this default value.

it's for consumer not route.

[2020-11-27 15:16] nic-chen commented on #634
close since PR merged.

[2020-11-27 15:16] #634 closed

[2020-11-27 16:12] nic-chen commented on #896
In order to fix this bug quickly, I am going to change the ID field type to interface, perform type conversion during input, and convert int to a string so that when APISIX discards int as an id, it can be directly replaced.

I also refer to the [IntOrString](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/intstr/intstr.go#L40) used in k8s, similar str

[2020-11-27 21:26] juzhiyuan commented on #850
@starsz @tokers Could we have API schema confirmed? so that the frontend would go parallel.

[2020-11-27 21:27] juzhiyuan commented on #850
This issue would be addressed by @guoqqqi

[2020-11-28 00:29] membphis commented on #896
We can choose a quick way at the first.

This is acceptable for me.

[2020-11-28 02:30] juzhiyuan commented on #495
![image](https://user-images.githubusercontent.com/2106987/100492128-8868eb00-3164-11eb-8d62-6ef5a4b5b84c.png)

![image](https://user-images.githubusercontent.com/2106987/100492143-974f9d80-3164-11eb-8d7b-589280a770f9.png)

Just to make sure, it seems that the manager-api doesn't support this feature now? Do we have any plan about this?

[2020-11-28 03:16] juzhiyuan commented on #532
waiting for https://github.com/apache/apisix/issues/2308#issuecomment-735024172

[2020-11-28 08:28] starsz commented on #853
It looks like this.

How about it?

[code]

[2020-11-28 09:07] #568 closed

[2020-11-28 09:34] nic-chen commented on #856
@cleverpig

Please run etcdctl --endpoints=$your_server get /apisix/consumer --prefix to get your consumer configuration and paste them here. Thanks.

[2020-11-28 12:21] moonming opened #901 "the manger API should not listen 8080, which is the port of data plane"
# Bug report

https://github.com/apache/apisix-dashboard/blob/master/api/conf/conf.yaml#L21

## Describe the bug

A clear and concise description of what the bug is.

## How to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

Add screenshots to help explain your

[2020-11-28 15:16] membphis commented on #856
@cleverpig you can make a try with the latest `master` branch or `2.1` branch

[2020-11-28 15:39] starsz commented on #849
Hi, I think the API may like this.

[code]

ResponseBody

[code]

if without id, it will return an array like this:

[code]

if with id, it will return an object:

[code]

[2020-11-28 16:01] juzhiyuan commented on #849
LGTM, but should we still keep the `/apisix/admin`prefix?

[2020-11-28 16:02] juzhiyuan commented on #853
🤔 `Listen on` and `Log path`would be better IMO

[2020-11-28 23:40] nic-chen commented on #495
Looks like it need to modify the code to achieve it? I thought the schema had been modified before.

[2020-11-29 00:33] membphis commented on #495
yes, you can take a look at the processes of APISIX

[2020-11-29 03:15] tokers commented on #849
Maybe the `admin` section could be removed.

[2020-11-29 03:30] juzhiyuan commented on #849
Could we use something like `/api/xxx` in the future? because admin API will be deprecated.

[2020-11-29 03:41] tokers commented on #849
Maybe add the version is better? Like `/api/v1/xxx`, so that the API migration will be easy.

[2020-11-29 05:02] juzhiyuan commented on #849
Agree, how about you? @membphis @liuxiran

[2020-11-29 05:05] gxthrj commented on #896
Agree

[2020-11-29 05:13] starsz commented on #849
Agree +1.

[2020-11-29 06:10] membphis commented on #849
need to add prefix `/apisix/****`

[2020-11-29 06:56] juzhiyuan commented on #849
🤔 when will the version be upgraded?

[2020-11-29 06:59] juzhiyuan commented on #849
It's strange to see apisix as a prefix for manager api IMHO.

[2020-11-29 07:43] moonming commented on #849
why we need apisix as prefix？

YuanSheng Wang <notifications@github.com>于2020年11月29日 周日下午2:10写道：

--
Thanks,
Ming Wen
Twitter: _WenMing

[2020-11-29 09:59] juzhiyuan commented on #849
Hi @guoqqqi, please build mock data according to this data format.

[code]

[2020-11-29 12:34] juzhiyuan commented on #529
I checked this issue once more, and it seems that the backend should support this feature too 🤔 @liuxiran @membphis right?

[2020-11-29 12:35] juzhiyuan commented on #815
After some research and trying, I find that we should add a Format button instead of auto-formatting because auto-formatting will make the input Textarea lost focus.

[2020-11-29 12:36] juzhiyuan commented on #815
When users input or paste some JSON codes here, they could click the format button to achieve code format, easy to implement.

[2020-11-29 15:25] nic-chen commented on #873
close by #899

[2020-11-29 15:25] #873 closed

[2020-11-29 15:27] nic-chen commented on #653
has done by the first e2e test pr

[2020-11-29 15:27] #653 closed

[2020-11-29 15:33] nic-chen commented on #632
close by #888

[2020-11-29 15:33] #632 closed

[2020-11-30 01:16] juzhiyuan commented on #839
Who is glad to resolve this issue?

[2020-11-30 01:24] nic-chen commented on #901
@moonming
OK. What is the recommended port? 9081 or 8081? Thanks.

[2020-11-30 02:09] hyt05 opened #905 "Manage multiple apisix gateways with one dashboard"
My company is using four kubernetes clusters, which are distributed in different geographic locations, namely "dev, staging, production, and Ali cloud".

I want to use apisix instead of the default nginx Controller. For this reason, I don’t want to deploy multiple apisi dashbord, which not only increases the amount of operation and maintenance, but also inconvenient my operation. Can the current a

[2020-11-30 02:41] nic-chen commented on #872
uri and uris
host and hosts
have the same issue.

[2020-11-30 02:43] gxthrj commented on #872
Ok， this should be fixed in 3 PRs.

[2020-11-30 02:55] juzhiyuan commented on #815
Snapshot

![image](https://user-images.githubusercontent.com/2106987/100563889-7d47c380-32fa-11eb-8be4-b8bfa95e58e6.png)

[2020-11-30 03:25] juzhiyuan commented on #905
cc @ShiningRush @membphis @liuxiran

[2020-11-30 03:30] membphis opened #907 "ci: Error: printer.go:54: PUT http://127.0.0.1:8080/apisix/admin/routes/r1"
# Bug report

CI failed: https://github.com/apache/apisix-dashboard/runs/1470134423#step:5:87

![image](https://user-images.githubusercontent.com/6814606/100565824-6192ec00-32ff-11eb-9826-00ba1035cf35.png)

[2020-11-30 03:30] nic-chen opened #908 "enhance e2e test for upstream"
here is the detail list:
 - [ ] key: remote_addr, query_string, arg_xxx
 - [ ] hash_on: consumer, header, cookie

[2020-11-30 03:35] nic-chen commented on #908
@idbeta

[2020-11-30 03:41] idbeta commented on #633
Hi, I want to handle it

[2020-11-30 03:43] idbeta commented on #635
Hi, please assigned to me.

[2020-11-30 03:49] idbeta commented on #631
Hi, please assign it to me.

[2020-11-30 03:53] membphis commented on #908
we can only implement some important feature in `2.1.1`

[2020-11-30 03:58] idbeta commented on #908
Hi, please assign it to me.

[2020-11-30 04:03] #633 closed

[2020-11-30 04:05] moonming commented on #901
@gxthrj @membphis @spacewander @tokers what do you think about the port of CP?

[2020-11-30 04:05] nic-chen commented on #856
Can't reproduce at my side, please make sure you are running the new code. Thanks. @cleverpig

[2020-11-30 04:14] nic-chen commented on #908
updated.

[2020-11-30 04:20] nic-chen commented on #907
It should be unstable. watching on it.

[2020-11-30 05:28] membphis commented on #907
Do we need to fix this issue in 2.1.1 or later?

[2020-11-30 05:38] idbeta commented on #638
Hi, please assign it to me.

[2020-11-30 05:45] membphis commented on #849
Export addresses use a uniform prefix for easy management.

The gateway's own API should avoid conflicts with user APIs.

[2020-11-30 05:54] nic-chen commented on #901
ping @gxthrj @membphis @spacewander @tokers
request help, thanks.

[2020-11-30 06:01] tokers commented on #901
@moonming Since the admin api port in DP will be changed to 9180 in version 3.0, what about using 9180 also?

[2020-11-30 06:06] membphis commented on #901
We used port `9180` as CP in APISIX before, I think this is not a good port.

I prefer `9000` now.  Here are the reasons:

1. The ports on the control plane and the data plane should be very different.
2. The port of the control plane allows the use of HTTP protocol or HTTPS protocol. So this port number avoids any protocol-related identification (such as 80 or 443).

[2020-11-30 06:17] membphis opened #911 "feat(e2e): display more meaningful information when running E2E test cases fail"
Here is the current output:

![image](https://user-images.githubusercontent.com/6814606/100574819-ca855e80-3315-11eb-9e05-ca6d1b2d65bb.png)

Need to show `caseDesc` field.
Without it, we would not be able to quickly confirm which test case caused the failure.

It would be better if the original test case line number could be displayed.

[2020-11-30 06:18] membphis commented on #911
@nic-chen Do you have anything to add?

[2020-11-30 06:18] liuxiran commented on #529
thanks for @juzhiyuan 's reminder,  I also rethinked this issue, and IMHO, it is better to get support from BE:

- get `whether the plugin needs to be config` together with `category` of all plugins instead of only get plugin names from `GET /apisix/admin/plugins`

`whether the plugin needs to be config` could also not be a specific flag, FE can also judge from whether the [plugin].schema.properti

[2020-11-30 06:21] nic-chen commented on #911
I think showing `caseDesc` is OK for us

[2020-11-30 06:40] membphis opened #912 "chore: use `Desc` to replace of `caseDesc`"
![image](https://user-images.githubusercontent.com/6814606/100576857-e854c280-3319-11eb-9fd4-495bc5ad8e2e.png)

keep one name style, same as others.

[2020-11-30 07:16] nic-chen commented on #856
close it according we have test case for it:
https://github.com/apache/apisix-dashboard/blob/master/api/test/e2e/route_with_auth_plugin_test.go#L38-L125

feel free to reopen this issue if need.

[2020-11-30 07:23] juzhiyuan commented on #529
This solution works for me, but it seems that there still has also a lot of work to do, could you please take a look at this issue? cc @membphis @tokers.

[2020-11-30 07:24] nic-chen commented on #907
we could fix it later.

[2020-11-30 07:42] membphis commented on #815
agree ^_^

[2020-11-30 07:43] membphis commented on #905
cc @gxthrj

[2020-11-30 07:45] membphis commented on #905
This is a very interesting and important feature.

But it is not useful for all users. A simple and easy-to-use version will be welcomed by the community.

Welcome to the mailing list to discuss project design with everyone.

[2020-11-30 07:47] idbeta opened #914 "bug: the schema verification prompt message contains typo"
# Bug report

## Describe the bug

the schema verification prompt message contains typo

`scheme validate fail` should be `schema validate failed`

cc @nic-chen

[2020-11-30 08:07] cleverpig commented on #856
ok, I ran "etcdctl --endpoints=IP:port get /apisix/consumer --prefix", and got these:
[code]

@nic-chen

[2020-11-30 08:08] cleverpig commented on #856
Sorry,it still...I updated apisix and dashboard.

[2020-11-30 08:13] #896 closed

[2020-11-30 08:15] membphis commented on #856
@idbeta please confirm if you can reproduce this error

[2020-11-30 08:37] nic-chen commented on #856
@cleverpig

If you are convenient, please contact my QQ 4061470

thanks.

[2020-11-30 08:41] membphis commented on #529
We can create a new API to return all the information of the plug-in, such as `schema`, `type`, `priority`, etc.

For example the new API: `/apisix/admin/plugins/meta_attributes`, we need to discuss it on the mailing list first.

@liuxiran would like to handle this job?

[2020-11-30 09:09] membphis opened #916 "ci: failed with error, "lua: ./apisix/plugins/error-log-logger.lua:19: module 'ngx.errlog' not found:""
https://github.com/apache/apisix-dashboard/runs/1472650549#step:6:840

![image](https://user-images.githubusercontent.com/6814606/100589944-b26e0900-332e-11eb-8627-cc0c6bcf1977.png)

[2020-11-30 09:12] membphis commented on #916
we should not run `schema-sync` in CI, so we can delete this step

[2020-11-30 09:16] LiteSun commented on #861
It's been four days since the last discussion, should we continue the discussion or prepare for development? @membphis

[2020-11-30 09:16] idbeta commented on #638
The frequency of using `filter_func` is low, it is recommended to move to the 2.2 milestone. What do you think? cc @nic-chen

[2020-11-30 09:18] nic-chen commented on #638
agree with that.

[2020-11-30 09:31] NetRainn opened #920 "bug: 修改upstream权重为0熔断后，修改rout会出现问题"
### 修改upstream
![image](https://user-images.githubusercontent.com/35440615/100592114-a2a3f400-3331-11eb-949e-4b6002ca2b4a.png)
### 修改rout
![image](https://user-images.githubusercontent.com/35440615/100592237-ccf5b180-3331-11eb-803a-59ff6942e598.png)

[2020-11-30 09:33] membphis commented on #865
https://github.com/apache/apisix-dashboard/commit/cdab40954340d37c94a5e7e6fecf41a4020e2570#diff-89ff393b58f42ba20bebfddf49f17dc9652e90d21a47a10727da861c16b3fdabR110-R111

fixed this issue

[2020-11-30 09:33] #865 closed

[2020-11-30 09:38] membphis commented on #861
Agree, let's do it ^ _ ^. We can start developing now

[2020-11-30 09:40] membphis commented on #861
Do we need to implement this API in `Admin API`?

[2020-11-30 09:43] #916 closed

[2020-11-30 09:44] idbeta opened #918 "bug: config route with non-existent fields should return 400"
# Bug report

## Describe the bug

config route with non-existent fields should return 400

## How to Reproduce

[code]
it return 200 and insert it to etcd now.

[2020-11-30 09:54] LiteSun commented on #861
cc @liuxiran

[2020-11-30 09:57] liuxiran commented on #529
sure, I have already sent a mail to dev, just waiting for others' comments and suggestions :)

[2020-11-30 10:06] LiteSun commented on #835
The development plan is ok for me 😊. please have a check. @juzhiyuan @moonming .

If there are no problems with the development plan, then we need to start the development task step by step to ensure that the feature is on schedule for completion at [Milestone 2.2](https://github.com/apache/apisix-dashboard/milestone/5).
cc @liuxiran

[2020-11-30 10:10] juzhiyuan commented on #920
![image](https://user-images.githubusercontent.com/2106987/100596500-31ffd600-3337-11eb-8b6c-319c478ded40.png)

Backend should not omit any fields from the user's input

[2020-11-30 10:16] membphis commented on #920
need @nic-chen confirm. we fixed one bug about the `weight` equal to `0`

[2020-11-30 10:19] nic-chen commented on #636
close since the related PRs merged.

[2020-11-30 10:19] #636 closed

[2020-11-30 10:23] nic-chen commented on #920
yes, we had fixed it in this PR #847

@NetRainn  please take a try with the master branch. Thanks.

[2020-11-30 10:48] nic-chen commented on #605
@membphis
I think we could move it to 2.2
what do you think?

[2020-11-30 10:55] membphis commented on #605
agree, and set the milestone to `2.2`

[2020-11-30 11:04] NetRainn commented on #920
ok,I use version 2.0,i will use the latest

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/apisix-dashboard"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年11月30日(星期一) 晚上6:23
收件人:

[2020-11-30 12:54] #637 closed

[2020-11-30 13:07] #817 closed

[2020-11-30 13:24] #914 closed

[2020-11-30 13:31] gxthrj commented on #905
This is a requirement for unified management of multiple clusters with one dashboard. The simple solution is to switch and manage multiple APISIX clusters on the dashboard.
If you need cluster linkage function, it will need more in-depth discussion.

[2020-11-30 13:37] gxthrj commented on #901
But I think `80`/ `443` is more accepted by the public, and the manager-api will be completely independent in 3.0, the port of `CP` and `DP` do not affect each other, so we can treat `CP` as an independent project.

[2020-11-30 13:46] #638 closed

[2020-11-30 13:54] membphis opened #922 "test: E2E test case unstable"
https://github.com/apache/apisix-dashboard/runs/1474065168#step:5:91

![image](https://user-images.githubusercontent.com/6814606/100618235-849cba80-3356-11eb-88a1-c1d15df15577.png)

[2020-11-30 14:06] membphis opened #923 "ci: E2E test failed"
# Bug report

https://github.com/apache/apisix-dashboard/runs/1474172932#step:5:86

[code]

I can not sure if we need to revert this commit: https://github.com/apache/apisix-dashboard/commit/666e8a203d8dcc968b526154a01f6eb40b077103

[2020-11-30 14:07] membphis commented on #923
@idbeta please take a look at this issue

[2020-11-30 14:16] idbeta commented on #638
` verify routing correctness under multi routes`, this test point need to
Now, there are few effective uris provided by the upstream service docker, can you provide an upstream, similar to nginx `location /`? In that case, no matter how many routes are created, they can all use different valid uris.

[2020-11-30 14:36] idbeta commented on #923
I ran CI again and no more errors occurred. I haven't found the reason yet. If this problem occurs again, I will continue to check it.

[2020-11-30 16:25] juzhiyuan commented on #920
@membphis @nic-chen the snapshot is taken from http://139.217.190.60/ here.

[2020-12-01 00:54] hyt05 commented on #905
@gxthrj You fully described my idea, hope it can be realized as soon as possible, it will be easier to operate and maintain。

[2020-12-01 01:10] guoqqqi commented on #850
OK, please let me handle it

[2020-12-01 01:10] guoqqqi commented on #850
OK, please let me handle it

[2020-12-01 01:31] LiteSun commented on #918
cc @nic-chen

[2020-12-01 02:22] nic-chen commented on #901
Through a meeting, it was finally determined that the default port of dashboard manager api will change to 9000.

Participants:
@gxthrj @membphis @spacewander @tokers @moonming @ShiningRush @nic-chen

will send a mail to our maillist.

[2020-12-01 03:11] liuxiran commented on #861
It is necessary to increase a group schema in APISIX,  and for v2.x we may not rely on the admin api to implement this proposal, so whether add new admin api, needs  advice from back-end classmates

cc @membphis @nic-chen @gxthrj @moonming  @spacewander

[2020-12-01 03:23] cleverpig commented on #856
ok

[2020-12-01 03:45] membphis opened #930 "ci: run the E2E test case with APISIX 2.1"
this depends on PR: https://github.com/apache/apisix/pull/2887

[2020-12-01 03:46] membphis commented on #930
@nic-chen would you like to handle this job? ^_^

[2020-12-01 05:35] #635 closed

[2020-12-01 06:55] liuxiran commented on #825
For the  upstream info or service info which are not supported by OAS3.0, there are two feasible options of implementation scenarios:

- Expand OAS3.0, increase `upstream` and `service`, which are required by APISIX, and at the same time provide a detailed documentation. we can refer to aliyun API gateway[1].

    - advantages:
when users import OAS, they only need to pay attention to the profile

[2020-12-01 07:10] moonming commented on #825
how can the user export it if using the second plan?

[2020-12-01 07:14] membphis opened #933 "feat: not allowed to specify `create_time` and `update_time` when create/edit route, service, upstream and consumer"
[code]

original comment: https://github.com/apache/apisix-dashboard/pull/927/files#r533114051

[2020-12-01 07:15] membphis commented on #933
The values of `create_time` and `update_time` are maintained by the manager-api itself.

[2020-12-01 07:18] liuxiran commented on #825
with the second plan, user can only export part of the route info which supported by OAS3.0

[2020-12-01 07:20] #631 closed

[2020-12-01 07:20] moonming commented on #825
got it. So I think the first plan is good for me.

[2020-12-01 07:22] #901 closed

[2020-12-01 07:48] membphis opened #935 "feat: allow consumer bind with two more auth plugins"
# Feature request

the related issue of APISIX: https://github.com/apache/apisix/issues/2850#issuecomment-733655243

both Manager-API and Dashboard need to update.

[2020-12-01 08:48] idbeta commented on #908
@nic-chen I submitted 3 PRs to solve this issue, #897 #932 #936 , and some cases todo: `hash_on: vars, health check: basic config`.

[2020-12-01 09:20] #920 closed

[2020-12-01 09:32] #930 closed

[2020-12-01 10:31] lin2627 opened #938 "panic: dial udp 8.8.8.8:80: connect: network is unreachable"
./manager-api   内网不能联外网，启动提示connect: network is unreachable
panic: dial udp 8.8.8.8:80: connect: network is unreachable
goroutine 1 [running]:
github.com/apisix/manager-api/internal/utils.GetOutboundIP(0x0, 0x0, 0x0)
	/root/apisix-dashboard/api/internal/utils/utils.go:61 +0x133
github.com/apisix/manager-api/internal/utils.init.0.func1(0x0, 0xecb95ae00, 0x0)
	/root/apisix-dashboard/api/internal/uti

[2020-12-01 12:52] Caelebs opened #939 "The view for create a route is missing publish and offline button?"
# Bug report

## Screenshots
![image](https://user-images.githubusercontent.com/12752710/100742664-1fa89980-3416-11eb-892f-ccb47219e1dc.png)

Add screenshots to help explain your problem if applicable.

## System information

- OS: [e.g. macOS, Windows] CentOS Linux release 7.9.2009 (Core)
- Browser (if applies) [e.g. Chrome, Safari, Edge] Chrome 78
- Version: [e.g. 2.0-rc3] 2.1

## Additional con

[2020-12-01 13:11] nic-chen commented on #939
Yes, we temporarily removed this feature and will reimplement it later.

[2020-12-01 14:15] cleverpig commented on #856
haha, we found tow little bugs! Thanks @nic-chen

1.Route: remote address is required, it must input.
![image](https://user-images.githubusercontent.com/580435/100751508-5a183380-3422-11eb-9de7-711a808d785a.png)
if not, this exception will be thrown:
![image](https://user-images.githubusercontent.com/580435/100751457-4ec50800-3422-11eb-9061-71225f22796b.png)

2.Consumer: JWT secret is required, it

[2020-12-01 14:46] nic-chen commented on #856
Thanks for feedback. @cleverpig

[2020-12-01 14:54] moonming commented on #863
why test case PR will fix bug?

[2020-12-01 15:14] nic-chen commented on #856
there are two bugs:
1. when user not fill in `remote address` , `remote_addrs` should be [], but not [""]
2. the field `secret` of plugin `jwt-auth` should be required.

@membphis @juzhiyuan @spacewander

[2020-12-01 15:15] nic-chen opened #940 "bug: when user not fill in `remote address` , `remote_addrs` should be [], but not [""]"
# Bug report

## How to Reproduce

1. use dashboard to create a route without filling in `remote address`

2. wait a few minutes, will find some error log like
[code]

3. the route doesn't work

[2020-12-01 15:25] membphis commented on #856
When the user not filled, should no field `remote_addrs`. this should be a bug of the frontend. @juzhiyuan

BTW, I think `[""]` should be an invalid input, the JSON schema should return wrong. I make a test, confirm this.

this depends on APISIX, we can fix this bug at `2.2`. @nic-chen would you like to create a new issue to APISIX?

[2020-12-01 15:26] membphis commented on #940
@juzhiyuan

[2020-12-01 15:27] membphis commented on #863
we can close this issue. @nic-chen please confirm again

![image](https://user-images.githubusercontent.com/6814606/100760476-c1d37c00-342c-11eb-8345-74c9850d8ca2.png)

[2020-12-01 15:29] moonming commented on #940
Server API should never trust input

[2020-12-01 15:30] membphis commented on #938
@gxthrj I think we should allow the user to set the DNS resolver via `conf/config.yaml`

[2020-12-01 15:32] nic-chen commented on #856
APISIX fixed this by addon code，not schema

[2020-12-01 15:34] nic-chen commented on #940
sure，backend need to fix it too

[2020-12-01 15:36] moonming commented on #863
Please add the fix PR of apisix

[2020-12-01 15:39] membphis commented on #940
APISIX has fixed this bug: https://github.com/apache/apisix/pull/2907/files

need to sync the JSON schema.

[2020-12-01 15:42] membphis commented on #856
manager-api should keep the same way ^_^

[2020-12-01 21:56] liuxiran commented on #835
got it, later this week I will open a pr about this feature 😊

[2020-12-02 00:11] nic-chen commented on #863
updated in the PR.

[2020-12-02 00:11] nic-chen commented on #863
related issue in APISIX:  https://github.com/apache/apisix/issues/2834
fixed by PR in APISIX:  https://github.com/apache/apisix/pull/2856

[2020-12-02 00:12] nic-chen commented on #856
OK

[2020-12-02 01:09] nic-chen opened #941 "test: need to do custom check for plugins"
Some plugins directly use special codes to verify parameters instead of JSONSchema verification. We need to use JSONSchema verification in APISIX instead, so that neither the FE nor the `Manager API` need to be modified, and subsequent maintenance is more convenient.

Example:
https://github.com/apache/apisix/blob/master/apisix/plugins/jwt-auth.lua#L109-L124

here is the list:

- [ ] jwt-auth
- [

[2020-12-02 01:15] membphis commented on #941
@nic-chen is this a bug? I think this issue should be `test`

[2020-12-02 01:29] membphis opened #942 "test: clean the temporary data in etcd at the end of test case"
the current way: https://github.com/apache/apisix-dashboard/blob/96e3ad1ec87f35d52d75f0a560dc152843e21e23/api/test/e2e/route_test.go#L227-L260

The current way is to completely depend on the developer and bring extra work to the test case maintainer.

we need a common way to clean all of the temporary data in etcd after running the test cases of each file.

[2020-12-02 01:31] membphis commented on #942
I think this feature is useful. The E2E test cases are unstable, I think this feature will improve the stability of E2E testing.

[2020-12-02 01:31] nic-chen commented on #941
sure.
we need to fix `jwt-auth` first, the others could be later.

[2020-12-02 01:32] membphis commented on #942
@nic-chen @ShiningRush do you think we can implement this feature at milestone `2.2`?

[2020-12-02 01:43] juzhiyuan opened #943 "Improve CI & CD order"
# Feature request

Only all CI are passed, the CD would be triggered.

## Describe the solution you'd like

Need @nic-chen's check.

## Describe alternatives you've considered

Or it's strange to see CI failed but CD successfully.

## Additional context

None

[2020-12-02 01:47] juzhiyuan commented on #940
related issue https://github.com/apache/apisix-dashboard/issues/856#issuecomment-736578374

Just to make sure, will manager-api check the input from the client? (no matter using API or frontend), the manager-api must not trust any data from client.

cc @nic-chen @membphis @ShiningRush

[2020-12-02 01:48] juzhiyuan commented on #940
oh I noticed this comment, API should never trust any data from client.

[2020-12-02 01:49] juzhiyuan commented on #943
If yes, kindly close this issue, just to make sure.

[2020-12-02 01:57] membphis commented on #943
ping  @nic-chen @gxthrj

[2020-12-02 02:05] gxthrj commented on #938
We use snowflake do not have to rely on external networks，we'd better to  remove the network dependency .

[2020-12-02 02:22] membphis commented on #938
ignore what I said. ^_^

[2020-12-02 02:26] LiteSun commented on #940
I noticed that remote_addrs is not required in [apisix](https://github.com/apache/apisix/blob/master/doc/admin-api.md#route ). When the user does not enter remote_addrs, should the client pass [] or not pass the remote_addrs field? @nic-chen

[2020-12-02 02:32] juzhiyuan opened #944 "Improve the Bug Report issue template"
# Feature request

Once the info page is added, users could provide more information easily.

## Describe the solution you'd like

Update the issue template.

## Describe alternatives you've considered

None

## Additional context

related issue or PR

#853
#850

[2020-12-02 02:39] nic-chen commented on #940
@LiteSun

"not pass the remote_addrs field" should be better.

[2020-12-02 02:40] membphis commented on #940
https://github.com/apache/apisix-dashboard/issues/856#issuecomment-736624035 I have replied this question before.

`When the user not filled, should no field remote_addrs. this should be a bug of the frontend`

[2020-12-02 02:58] ShiningRush commented on #942
It is useful and easy to implement with go's `TestMain`, We can ensure etcd is fresh before start test.

[2020-12-02 06:16] JieTrancender opened #950 "make api-test filed"
# Bug report

## Describe the bug

I got the newest code of master branch, and then exec `make api-test`. unfortunate, not pass all test.

## How to Reproduce

And this failed test making a dirty data in etcd.
![image](https://user-images.githubusercontent.com/13239914/100835784-20d6d680-34a9-11eb-915e-bbf4745d38fe.png)

## Screenshots
![image](https://user-images.githubusercontent.com/13239914/10

[2020-12-02 06:17] juzhiyuan commented on #950
cc @idbeta

[2020-12-02 07:51] #938 closed

[2020-12-02 07:52] membphis commented on #938
@lin2627 you can make a try with the latest master branch. please feel free to reopen this issue if you still have this issue

[2020-12-02 08:01] #863 closed

[2020-12-02 08:12] membphis commented on #942
@gxthrj @nic-chen do you know `TestMain `? Any suggestions?

[2020-12-02 08:49] #940 closed

[2020-12-02 09:21] idbeta opened #954 "test: route_with_limit_plugin_test (E2E) may fail"
# Bug report

when I execute tests in my local environment，somtimes may fail.

## How to Reproduce

[code]

## Additional context
[code]

In this case, the `time_window` of the `limit-count `is `2`, it should be set larger so that it can avoid the failure.

[2020-12-02 09:22] nic-chen opened #955 "bug: JSON schema verification should be performed on the original data submitted by the user"
# Bug report

## Describe the bug

JSON schema verification should be performed on the original data submitted by the user, not the data after binding structures

The usual practice in Go is to bind the request body to a structure for subsequent processing of the request body.

This will cause a problem, that is, if there is no corresponding value in the request body for the fields defined in the

[2020-12-02 09:31] souzens opened #956 "redirect httptohttps Report Error in Chrome Console"
# Bug report

## Describe the bug

There was an error in https-enabled function with apisix-dashboard 2.1 ， when enable httptohttps ，The final submit button cannot be clicked，and chrome console report error

## How to Reproduce

1. Enable HTTPS
![image](https://user-images.githubusercontent.com/35559209/100853602-ebd77d80-34c2-11eb-8608-e9bd20d6be3c.png)

2. Click on "submit" in the last step then

[2020-12-02 09:41] membphis commented on #954
`"time_window": 2,` to `"time_window": 60,`, should be enough

[2020-12-02 09:42] membphis commented on #956
@juzhiyuan @idbeta please confirm this issue

[2020-12-02 09:53] idbeta commented on #956
My local environment does not reproduce this issue, how did you deploy dashboard 2.1, tar? or source code branch? @souzens

[2020-12-02 10:07] nic-chen commented on #908
close according PRs merged.

[2020-12-02 10:07] #908 closed

[2020-12-02 10:27] JieTrancender commented on #950
Get more information by adding some log.
After the first time to exec `make api-test`, get a test error. at the same time, dirty data keep in etcd.
[code]
![image](https://user-images.githubusercontent.com/13239914/100859767-9b641e00-34ca-11eb-85e5-b1945abd98c0.png)

Then, exec `make api-test` will repeat this problem.
Failure assertion code is:
https://github.com/apache/apisix-dashboard/blob/b4ad

[2020-12-02 10:27] nic-chen commented on #856
has been fixed by #948  and #952

we will continue the work by #941

close this issue now.

[2020-12-02 10:27] #856 closed

[2020-12-02 10:29] idbeta commented on #950
This is indeed a bug of the unit test case.

[2020-12-02 10:29] nic-chen commented on #607
put it to next milestone to continue this job.
will create small issues to add test cases step by step.

[2020-12-02 10:58] souzens commented on #956
run in docker image

Dockerfile

[code]

AND docker build result ：

[code]

[2020-12-02 13:00] gxthrj commented on #943
Got it, will check it this week.

[2020-12-02 13:08] nic-chen commented on #942
I think we need to clear ETCD data without distinction before or after running test, by `TestMain`.

[2020-12-02 13:20] gxthrj commented on #942
The TestMain way is a test suite like ginkgo,  we can use it make struct more clear, but I still like ginkgo mode.

[2020-12-02 15:37] #956 closed

[2020-12-03 01:30] jaredhuang opened #960 "request help: failed to fetch SSL certificate: not found"
### Issue description
我上传证书后，本地hosts绑定测试，请求443端口，apisix 的logs输入如下如下错误：
[code]

### Environment

* apisix version (cmd: `apisix version`):
[root@tx-apisix-01 ~]# apisix version
2.0
* OS:
[root@tx-apisix-01 ~]# cat /etc/redhat-release
CentOS Linux release 7.8.2003 (Core)
[root@tx-apisix-01 ~]# etcd -version
etcd Version: 3.4.13
Git SHA: ae9734ed2
Go Version: go1.12.17
Go OS/Arch: linux/amd64

[2020-12-03 03:48] gxthrj commented on #960
cc @nic-chen @juzhiyuan

[2020-12-03 03:55] nic-chen opened #961 "feat: need a tool to check version before release"
# Feature request

## Please describe your feature

we could refer to
https://github.com/apache/apisix/blob/master/utils/check-version.sh

[2020-12-03 04:42] juzhiyuan commented on #960
cc @idbeta

[2020-12-03 04:45] juzhiyuan commented on #960
Hi, would you mind sharing a sample SSL certificate pair here? Or provide more information like where you get it, then @idbeta would help you to check what happened.

[2020-12-03 04:52] nic-chen commented on #960
@jaredhuang
what version is your dashboard？ thanks.
we have fixed a SSL bug in #719

[2020-12-03 07:51] yangxikun opened #962 "feat: upstream support set `pass_host` parameter"
# Feature request

## Please describe your feature

When create upstream on apisix-dashboard, we need to set https://github.com/yangxikun/apisix/blob/master/doc/admin-api.md#upstream `pass_host` parameter.

[2020-12-03 08:38] moonming commented on #955
Don't understand what the bug is.
@nic-chen please add more details

[2020-12-03 10:01] juzhiyuan commented on #815
ping @membphis

[2020-12-03 10:07] idbeta opened #963 "bug: the FAQ.md lacks a description about enabling custom plugin"
# Bug report

## Describe the bug

The FAQ.md lacks a description about enabling custom plugin: after `manually copy api/conf/schema.json to the conf directory`, **the manager-api needs to be restarted.**

[2020-12-03 10:20] idbeta commented on #794
2.1.1 version
[code]
[code]

[2020-12-03 12:44] nic-chen commented on #955
updated

[2020-12-03 12:45] membphis commented on #815
got it

[2020-12-03 12:46] LiteSun commented on #861
New diagrams based on previous discussions.

1. Add filter label feature, label field will display on the route list page

![image](https://user-images.githubusercontent.com/31329157/101019466-fc155880-35a7-11eb-8231-6deb85ee80e4.png)

2. Add label select feature to the route create(edit) page
![image](https://user-images.githubusercontent.com/31329157/101018640-c328b400-35a6-11eb-9552-249c18f5947

[2020-12-03 12:57] membphis commented on #794
@juzhiyuan should we fix this bug in milestone `2.2`?

[2020-12-03 14:02] juzhiyuan commented on #794
Yep, the code mirror feature will fix this.

[2020-12-04 02:21] gy09535 commented on #962
I think it is a good feature, now the pass_host value is always "pass", when we set the upstream node with domain , it can not set the host to the upstream, It is a problem.

[2020-12-04 02:22] liuxiran commented on #861
Based on previous discussions, we need two apis in manager-api, a API to get label list, and a API to search routes by labels filter.

- Get label list（create a new API）
API name: `GET /apisix/admin/labels`
Data:
[code]

- Search routes by lables (expand existing interfaces `GET /apisix/admin/routes`, add query params)
API name: `GET /apisix/admin/routes?label=key:value&label=key:value1&...`
Data:

[2020-12-04 02:24] spacewander commented on #861
We should not add new API to admin API anymore.

[2020-12-04 02:28] juzhiyuan commented on #962
Just to make sure, if the manager-api supports this feature?

cc @nic-chen

[2020-12-04 02:30] nic-chen commented on #962
yes, it has supported.

[2020-12-04 02:31] juzhiyuan commented on #861
Hi @liuxiran, we may use a different prefix for the newer API :) How about using something like `HOST/api/labels` for fetching global label list.

[2020-12-04 02:32] liuxiran commented on #861
Yep, sorry to forget to synchronize the results of the discussion:

1. it is not required to modify DP

1. mananger-api provides the relevant interface （https://github.com/apache/apisix-dashboard/issues/861#issuecomment-738515671）

1. FE adds a label operation when creating/editing route, and support to search routes by labels.

[2020-12-04 02:38] liuxiran commented on #861
It looks more reasonable IMO,  how about considering making uniform changes in 3.0? @juzhiyuan

[2020-12-04 02:43] idbeta commented on #941
I don’t quite understand your issue, can you provide a more detailed explanation? @nic-chen

[2020-12-04 02:43] nic-chen commented on #861
I think API `Get label list` also need support search, like:

`GET /apisix/admin/labels?label=key&label=key:value&...`

User can filter when there are too many labels.

What do you think? @liuxiran

[2020-12-04 02:47] juzhiyuan commented on #861
2 things I'm considering.
1. Our docs don't have that api in the apisix repo.
2. When we upgrade to 3.0, we only need to convert /apisix/admin to /api for example, then we don't have to wait for 3.0 IMHO.

Let's wait for others' thoughts 😊

[2020-12-04 02:56] liuxiran commented on #861
Agree @nic-chen , that will be more easy to use, and at the same time, we have also considered adding `resType` to filter lables only belongs to  specified res,e.g: routes.

[2020-12-04 03:01] liuxiran commented on #861
Actually, I just don't want to add a new proxy in FE to fit the new prefix ^-^

[2020-12-04 04:41] juzhiyuan commented on #861
It doesn't matter to do an interceptor 😃 to prevent from 2 api styles haha

[2020-12-04 06:46] chenyicai opened #965 "bug: Modify proxy_rewrite plugin in dashboard,unable to save it"
### Issue description
When i modify proxy_rewrite plugin in dashboard, i can not save it
Fill in the configuration, click the confirm button, there is no response

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS: centos 7

[2020-12-04 07:45] membphis commented on #918
if we fix #955, then we should fix this issue too

[2020-12-04 08:00] juzhiyuan commented on #965
Will be resolved in 2.2 in 8 days.

[2020-12-04 08:41] gxthrj commented on #861
Agree, `resType` is needed.

[2020-12-04 08:53] nic-chen opened #966 "feat: collect code coverage for backend e2e test"
We have added a lot of [e2e test cases](https://github.com/apache/apisix-dashboard/tree/master/api/test/e2e) to the Manager API, but there is currently no way to collect the code coverage of the Manager API by the e2e tests.

We currently start ETCD, APISIX, Manager API through [docker-compose,](https://github.com/apache/apisix-dashboard/blob/master/api/test/docker/docker-compose.yaml) and then te

[2020-12-04 08:57] nic-chen commented on #545
We have collected code coverage for unit test.

But can't find a way to collect coverage for e2e test.

I created an issue to continue tracking to see if I can find a solution. #966

close this first.

[2020-12-04 08:57] #545 closed

[2020-12-04 12:39] membphis commented on #965
you can make a try with 2.1.1 branch

[2020-12-04 14:40] juzhiyuan commented on #965
🤔 this is a bug from plugin form, will be resolved by using code mirror.

[2020-12-05 03:20] membphis opened #967 "docs: comments in the `api/conf/config.yaml` need to be aligned"
The current comment style is not good to read.

They should be aligned for easy reading.

we should use a better style, here is an example:

[code]

[2020-12-05 08:34] JieTrancender commented on #950
maybe i know what things happened.

in **apisix** project **script** filed used to make lua code by using loadstring function, code in this:

https://github.com/apache/apisix/blob/2472db56c8adbd1495707fffc0e3e4f00a8cab88/apisix/admin/routes.lua#L136-L146

so the type of **script** is string, schema is `script = {type = "string", minLength = 10, maxLength = 102400}`. but in this test, **script** is

[2020-12-05 09:53] moonming commented on #950
cc @nic-chen @membphis
why CI pass？

[2020-12-05 10:03] membphis opened #968 "show a message: "not support Service object now" when user uses `Service` object"
If the user uses a feature that is not yet supported by Dashboard, a friendly prompt will be returned to tell him/her that it is not yet supported.

![image](https://user-images.githubusercontent.com/6814606/101239632-0cead900-3724-11eb-9f13-f6c5bf545342.png)

[2020-12-05 12:31] nic-chen commented on #950
@JieTrancender

Currently, the Manager API relies on Lua and lib `dag-to-lua`. That's why you run test failed.

please have a look at:

https://github.com/apache/apisix-dashboard/blob/master/.github/workflows/backend-unit-test.yml#L27-L32

and

https://github.com/apache/apisix-dashboard/blob/master/.github/workflows/backend-unit-test.yml#L39-L42

cc @moonming

[2020-12-05 12:35] 96RadhikaJadhav commented on #967
@membphis  Could you please assign the issue to me? I wish to work on it.

[2020-12-05 12:36] nic-chen commented on #967
that's great. thanks.

[2020-12-05 12:56] juzhiyuan commented on #950
Developers may not know this tip, FAQ is a good place 😁

[2020-12-05 13:15] 96RadhikaJadhav commented on #967
@membphis  Could you please review my PR?

[2020-12-05 14:37] juzhiyuan commented on #968
How to check that feature doesn't support yet?

e.g check if the data has service id or service object.

[2020-12-05 18:29] jinchizhou commented on #827
Is this still an issue? I'd like to contribute to this open source project!

[2020-12-06 03:43] nic-chen commented on #827
Hi, @jinchizhou
This issue have been resolved incidentally by some PR.

I think you could try other issue that suitable for first PR like:  #566

Here is some develop guide:
https://github.com/apache/apisix-dashboard/blob/master/docs/develop.md

If you have any questions, please feel free to contact me in the issue or the PR you submitted.

Thanks.

[2020-12-06 04:45] juzhiyuan commented on #827
Closed

[2020-12-06 04:45] #827 closed

[2020-12-06 13:27] membphis commented on #950
Run `make api-test`, should check `dag-to-lua` dependencies, if the dependencies are not installed, we need to download and install.

All of those steps, we'd better write them in `Makefile`.

[2020-12-06 13:34] membphis commented on #967
I have reviewed ^_^

[2020-12-06 13:38] membphis commented on #968
contains `service_id` in `route`, here is an example:

https://github.com/apache/apisix/blob/2ba28ff6a7a1823c3ea37e2cdcd7427d4244f3d9/t/node/merge-route.t#L82

here is the doc link:

https://github.com/apache/apisix/blob/master/doc/admin-api.md#route

![image](https://user-images.githubusercontent.com/6814606/101281676-595d1400-380b-11eb-9e70-32d5e46443ba.png)

[2020-12-06 19:33] jinchizhou commented on #566
I'll play around with this issue tomorrow!

[2020-12-06 23:56] nic-chen commented on #566
that's great. thanks.

[2020-12-07 01:28] #967 closed

[2020-12-07 03:31] moonming commented on #837
This PR is in 2.2 milestone, and Apache APISIX supports it in https://github.com/apache/apisix/pull/2943

[2020-12-07 03:31] moonming commented on #837
What is the progress in dashboard? @liuxiran @nic-chen

[2020-12-07 04:13] juzhiyuan commented on #529
Hi folks, final conclusion here?

[2020-12-07 04:20] LiteSun commented on #861
Related issues: #611

[2020-12-07 07:29] membphis opened #973 "docs: API document about `Manager-API`"
The API interfaces of Manager API and Admin API are mostly the same.

However, the Manager API actually adds some new APIs, such as the search interface for Dashboard.

We need a separate documentation page to list the API interfaces that the Manager API implements separately.

[2020-12-07 07:30] membphis commented on #973
@nic-chen Do you have time to check this issue?

[2020-12-07 07:42] chenyicai commented on #965
When I upgraded to version 2.1.1, my problem was solved，thank you very much!

[2020-12-07 07:42] #965 closed

[2020-12-07 07:58] ryianyang opened #974 "request help: import k8s_deployment_info to upstream cann't use it"
### Issue description
how to set apisix upstream config with k8s_deployment_info, I have import the k8s_deployment_info to upstream,but the upstream dashboard cann't display，also use k8s_deployment config the routes.

### Environment
kubernetes 1.15

* apisix version (cmd: `apisix version`):2.1
* OS: centos 7.8

I use postman input the k8s_deployment_info to set the upstream, it's return add it su

[2020-12-07 08:21] iyuhptop commented on #831
which plugin should select for websocket

[2020-12-07 08:37] liuxiran commented on #861
We will create a new api for get labels,
The origin propsal for new api prefix is in https://github.com/apache/apisix-dashboard/issues/861#issuecomment-738519671
and  the referenced comment is from zhiyuan's consideration.

cc @membphis

[2020-12-07 08:46] membphis commented on #837
this feature depends on https://github.com/apache/apisix/pull/2943

we need to release a new version of APISIX. so I want to change the milestone to `2.3`

@liuxiran @nic-chen please confirm if this is ok ^_^

[2020-12-07 08:55] liuxiran commented on #837
ok, and related pr for fe and manager-api will be created as a draft later this week.

[2020-12-07 09:01] nic-chen commented on #973
@membphis
Here is the list:

|Method      |Request URI|Request Body|Description        |
|---------|-------------------------|--|------|
|GET      |/apisix/admin/routes?page=&page_size=&name=&uri=|NULL|Fetch route list|
|GET      |/apisix/admin/routes/{id}|NULL|Fetch route|
|PUT      |/apisix/admin/routes/{id}|{...}|Create route by ID|
|POST     |/apisix/admin/routes     |{...}|Create route, and I

[2020-12-07 09:03] membphis commented on #850
this feature depends on https://github.com/apache/apisix/pull/2926

we need to release a new version of APISIX first.
so I want to change the milestone to 2.3

@tokers @guoqqqi @juzhiyuan  please confirm if this is ok ^_^

[2020-12-07 09:18] idbeta opened #975 "test: add frontend e2e test for create route"
use the current test framework to write web E2E tests:

- [ ] create a route according to the default steps

       1. input route `Name`
       2. input route `Path`
       next
       3. input upstream `Node ip`
       next
       4. click submit
       5. confirm page return

- [ ] verify the route
       check on the `/routes/list` page
- [ ] delete the route

[2020-12-07 10:26] juzhiyuan commented on #850
Ok for me, the frontend is ready, once apisix and manager api are ready, we would release them soon 😊

[2020-12-07 10:59] juzhiyuan commented on #974
Has the manager api supported that field?

cc @nic-chen

[2020-12-07 11:55] moonming commented on #973
we need swagger to manager those APIs

[2020-12-07 11:56] moonming commented on #831
no plugin need weboscket，which is binding with router

[2020-12-07 13:02] nic-chen commented on #974
sure, it has supported.

[2020-12-07 19:25] jinchizhou commented on #566
Hey @nic-chen ,

When setting up, I ran into the issue
[code]

The [doc](https://github.com/apache/apisix-dashboard/blob/master/docs/develop.md#manager-api) says to change `api/conf/conf.yaml`. Is there anything I need to change? Thanks!

[2020-12-07 19:32] jinchizhou commented on #566
I exported ETCDCTL_API = 2 and got
[code]

[2020-12-07 22:26] juzhiyuan commented on #831
I see, i will check this ASAP.

[2020-12-08 00:45] moonming commented on #975
What is "web test"?

Please use technical terms

[2020-12-08 01:11] nic-chen commented on #566
Hi @jinchizhou , what's your ETCD version ?  3.4+ is required.

[2020-12-08 01:14] nic-chen commented on #566
you could contact my QQ 4061470 if convenient.  we could quickly communicate these env issues.

[2020-12-08 01:24] nic-chen commented on #603
We could add a simple access log first. It is conducive for data analysis and problem location.

We could add advanced features later, such as custom fields and custom formats, log rotate, etc.

[2020-12-08 01:57] jinchizhou commented on #566
Unfortunately my windows computer doesn't have the capability to support ETCD. Sorry, looks like I can't work on this open source repo :(.

[2020-12-08 02:19] suifff opened #980 "Support CRT format certificate upload."
# Feature request

## Please describe your feature

用户下载服务商crt证书后可直接上传 | Users can upload CRT certificate directly after downloading.

## Describe the solution you'd like

能够在控制台或者`admin api`直接上传crt证书 | It can upload CRT certificate directly on the console or `admin api`.

## Describe alternatives you've considered

None

## Additional context

None

[2020-12-08 03:29] nic-chen commented on #566
@jinchizhou  It doesn't matter. but if you still have the willing you could contact, we could resolved it together.

[2020-12-08 06:24] juzhiyuan opened #983 "reject request data if it contains an empty array, eg: "remote_addrs": []"
original comment https://github.com/apache/apisix/issues/2924#issuecomment-740405671

# Feature request

## Please describe your feature

reject request data if it contains an empty array, eg: "remote_addrs": []

## Describe the solution you'd like

**Here is the todo list(from the discussion)**

* `Admin API`: reject request data if it contains an empty array, eg: `"remote_addrs": []`. `Code + Do

[2020-12-08 06:30] membphis opened #984 "reject request data if it contains an empty array, eg: "remote_addrs": []"
To add a route, if the `remote_addrs` field is an empty array, the matching behavior is ambiguous.

In order to avoid ambiguity and keep the API design simple and clear, we should reject the value as an empty array.

Here is an example, should return `400`:

[code]

**Here is the todo list(from the discussion)**

* `Admin API`: reject request data if it contains an empty array, eg: `"remote_addrs"

[2020-12-08 06:31] membphis commented on #984
@liuxiran @juzhiyuan @moonming pls take a look when you have time ^_^

[2020-12-08 07:39] souzens opened #985 "feat re: active check support custom port"
apisix's feature：
active.port: The customize health check host port (optional), this will override the port in the upstream node.

but apisix-dashboard do not support now.

LIke:
![image](https://user-images.githubusercontent.com/35559209/101454185-81fc1f80-396b-11eb-8f21-9fce0ef82d6e.png)

[2020-12-08 09:08] membphis commented on #973
@nic-chen we do not need a full API list. only need some new API different from Admin API.

[2020-12-08 09:14] NetRainn opened #987 "not found the error code list doc"
麻烦请问下整理的错误文档在哪里？找了会儿没有找到...

[2020-12-08 09:16] #907 closed

[2020-12-08 09:16] #923 closed

[2020-12-08 09:21] nic-chen commented on #973
OK, It's a better way for api doc.

[2020-12-08 09:22] membphis commented on #529
@liuxiran I think we can close this issue and create a new one with the final conclusion from the emailing list.

[2020-12-08 09:23] nic-chen commented on #973
updated. I will submit the first PR about api doc with those APIs.

[2020-12-08 09:23] membphis commented on #861
agree +1 ^_^

[2020-12-08 09:29] juzhiyuan commented on #983
close due to duplicate issue https://github.com/apache/apisix-dashboard/issues/984

[2020-12-08 09:29] idbeta opened #988 "enhance e2e test for upstream"
# Feature request

- [ ] roundrobin: weight

[2020-12-08 09:31] membphis commented on #973
I confirm some detail.

eg, the API `/apisix/admin/routes?page=&page_size=&name=&uri=`

The API doc should focus on the new argument: `page`, `page_size`, `name` and `uri`.

@nic-chen all right?

[2020-12-08 09:33] nic-chen commented on #973
OK

[2020-12-08 09:46] nic-chen commented on #987
@NetRainn
here is an example(but not used), please have a look:
https://github.com/apache/apisix-dashboard/blob/master/api/internal/utils/consts/error.go

[2020-12-08 09:53] membphis commented on #987
@NetRainn please use English in public channel

[2020-12-08 10:12] liuxiran commented on #529
got it , and as we talked yesterday., this issue would be move to M2.3, right? @membphis

[2020-12-08 10:12] Jaycean commented on #861
I will replace @liuxuran to implement the related functions of the `manager-api`. I have two ideas for the function implementation:

1. At present, the simplest implementation method is to obtain all the route, service and other objects containing labels and traverse them to match the label implementation related functions. However, with the growth of business volume, this may not be the best impl

[2020-12-08 10:57] Caelebs opened #989 "Build docker image report "Error running install script for optional dependency""
# Bug report
When I use docker to build the image, the console output contains error messages
[code]

Although this error message can be ignored, it seems that this error can be avoided as much as possible?

## System information

- OS: [e.g. macOS, Windows] `CentOS Linux release 7.9.2009 (Core)`
- Browser (if applies) [e.g. Chrome, Safari, Edge]
- Version: [e.g. 2.0-rc3] `v2.1.1`

[2020-12-08 11:10] juzhiyuan commented on #989
This error is due to node gyp, from frontend, just ignored this error.

[2020-12-08 11:35] liuxiran commented on #861
After evaluating the implementation plan, it would be more appropriate for my teammate relay to implement it ^-^

and  for the implementations outlined above, just wait for others opinion

@gxthrj @membphis @ShiningRush @nic-chen

[2020-12-08 13:30] nic-chen commented on #839
close by #951

[2020-12-08 13:30] #839 closed

[2020-12-08 14:51] juzhiyuan commented on #495
ok, go ahead.

[2020-12-08 15:03] covalentbond commented on #490
hey @juzhiyuan, I saw this issue https://issues.apache.org/jira/browse/APISIX-12 `Apache APISIX Dashboard: Enhancement plugin orchestration`. I would like to know, is it still open and if yes, how can I start contributing towards this as a beginner

[2020-12-08 15:05] covalentbond commented on #490
In the skills of the issue, React, HTML, CSS & Javascript were mentioned. And I pretty much like them.
But the repository also have Golang. Is it a required skill to work on this issue

[2020-12-08 15:10] juzhiyuan commented on #490
Hi @covalentbond, this issue is reported by @LiteSun, let's wait for his reply :)

[2020-12-08 15:26] membphis commented on #566
Does Manage API have steps to check etcd version? I think this step is important.

[2020-12-08 15:27] membphis commented on #529
yes, confirm this @liuxiran

[2020-12-08 15:33] #988 closed

[2020-12-09 01:31] LiteSun commented on #490
Hi, @covalentbond

1. The [issue](https://issues.apache.org/jira/browse/APISIX-12) is open and if you want to contribute please refer to [contributing](https://github.com/apache/apisix-dashboard/blob/master/CONTRIBUTING.md#how-to-add-a-new-feature-or-change-an-existing-one) ,For develop front-end, please refer to [web-contributing](https://github.com/apache/apisix-dashboard/blob/master/CONTRIBUTIN

[2020-12-09 01:40] liuxiran opened #990 "feat: Add a new API to get plugin information"
# Feature request

We have already discuss about this feature in the [mail list](https://lists.apache.org/thread.html/r33b8d142ba57cfda467b4912ec94d5ae9c77b1eec4982f39f2e6bf0e%40%3Cdev.apisix.apache.org%3E), and it will be Implemented in M2.3

- Dependent conditions:  a command-line tool used to synchronize the data from APISIX. [discussed link](https://lists.apache.org/thread.html/r33b8d142ba57cf

[2020-12-09 03:18] gxthrj commented on #861
My thoughts are consistent with method 2. We have already watched `etcd`, all fields in memory now.

[2020-12-09 05:57] nic-chen commented on #861
Agree with method 2, too.

We should refer to other mature solutions to avoid redevelopment in the future.

[2020-12-09 06:14] idbeta opened #993 "enhance e2e test for chash upstream"
# Feature request

- [x] e2e test chash upstream with key (wrong key, vars)

[2020-12-09 07:06] #993 closed

[2020-12-09 09:20] Caelebs opened #995 "Dashboard function does not seem to be perfect."
# Bug report

[Global Rule](https://github.com/apache/apisix/blob/master/doc/architecture-design.md#Global-Rule)
#### Plugin just can be binded to Service or Route, if we want a Plugin work on all requests, how to do it? We can register a global Plugin with GlobalRule

A global plugin can be registered as described in the document, but in the dashboard, I did not find how to register a global plug

[2020-12-09 09:27] souzens opened #996 "only enable cors plugin will take empty object"
# Bug report

## Describe the bug

in plugin step , if I only enable cors plugin but not to click on SETTINGS button and click on ”确认"

Finally,  it seems the data of cors object is empty by reading etcd.

My idea is that there should be a default value when only the plugin is enabled

![image](https://user-images.githubusercontent.com/35559209/101610659-83008000-3a43-11eb-9d45-5605ab651f32.png)

[2020-12-09 10:08] covalentbond commented on #490
Sure! I would start by understanding what APISIX is all about and how plugins function in it

[2020-12-09 10:17] nic-chen opened #997 "feat: support generate and convert format api doc in Makefile"
# Feature request

## Please describe your feature

After supporting the use of swagger to write api doc(#992), we need to support generate and convert format api doc in Makefile to realize one-click generation to facilitate development.

[2020-12-09 11:27] juzhiyuan commented on #996
will be resolved with https://github.com/apache/apisix-dashboard/pull/898

[2020-12-09 11:27] #996 closed

[2020-12-09 11:30] juzhiyuan commented on #995
duplicate with https://github.com/apache/apisix-dashboard/issues/820 https://github.com/apache/apisix-dashboard/issues/471

[2020-12-09 11:30] #995 closed

[2020-12-09 11:38] juzhiyuan commented on #495
will be fixed in #815

[2020-12-09 11:38] #495 closed

[2020-12-09 11:38] juzhiyuan commented on #794
will be fixed in #815

[2020-12-09 11:38] #794 closed

[2020-12-09 14:47] moonming commented on #984
LGTM

[2020-12-09 15:39] juzhiyuan opened #998 "CI failed: TestRoute_Create_Service"
# Bug report

## Describe the bug

![image](https://user-images.githubusercontent.com/2106987/101651220-c8d73b80-3a77-11eb-905d-1e8c6a02d125.png)

## How to Reproduce

https://github.com/apache/apisix-dashboard/pull/898/checks?check_run_id=1524859082

[2020-12-09 15:57] juzhiyuan commented on #996
doc https://github.com/apache/apisix/blob/master/doc/plugins/cors.md

[2020-12-10 02:19] liuxiran commented on #861
Got it, then we will do it in the way of method2.

Method2 is more difficult to implement than method1, it'll take more time. At the same time, @Jaycean has another arrangement this week, we will update the latest progress next week， thanks ^-^

cc @LiteSun @membphis

[2020-12-10 03:04] ShiningRush commented on #861
This is too simple to use, If we add label for resource, we should  also implement `label selector` as described in [here](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/)

Here is no need to add api to control `group` resource?
And I think label should be a common feature for all resource not just route

IMO, the first one is not a option, because we do not need to walk

[2020-12-10 03:35] starsz commented on #861
HI, It looks good to me. I can help to implement this if I have the opportunity.

[2020-12-10 03:40] #998 closed

[2020-12-10 05:55] #815 closed

[2020-12-10 06:38] NetRainn opened #1003 "plugin proxy-rewrite has some problems"
### key and value is “test”
![image](https://user-images.githubusercontent.com/35440615/101730379-de3e7b00-3af4-11eb-9cbb-a055e95f9774.png)

### but
I'll get it through Linux
![image](https://user-images.githubusercontent.com/35440615/101730514-1e9df900-3af5-11eb-9461-0f98a5f94ee0.png)

### I can't find this header in Java
![image](https://user-images.githubusercontent.com/35440615/101730600-4b521

[2020-12-10 06:51] membphis commented on #861
@starsz many thx for you, wait for your PR ^_^

[2020-12-10 07:01] NetRainn commented on #1003
There is no problem with command generation
maybe The format is wrong（dashboard）

[2020-12-10 09:28] #659 closed

[2020-12-10 09:29] #730 closed

[2020-12-10 10:05] juzhiyuan commented on #1003
Hi, please use the latest codes for we just removed the plugin form, using code mirror currently.

[2020-12-10 10:05] #1003 closed

[2020-12-10 10:05] juzhiyuan commented on #1003
![image](https://user-images.githubusercontent.com/2106987/101757619-523b4c00-3b12-11eb-9c33-e7ee696e0b99.png)

[2020-12-10 10:11] #879 closed

[2020-12-10 10:18] juzhiyuan commented on #824
any update?

[2020-12-10 10:30] juzhiyuan opened #1010 "docs: add demo site's infomation"
# Feature request

## Please describe your feature

Add Demo site's information to README

## Describe the solution you'd like

[code]

[2020-12-10 11:53] gxthrj commented on #824
Before submitting, I want to discuss the implementation method. I am not going to modify the `Dockerfile` in the root directory. It is for production.

Suggest to create a new docker directory to store the new `Dockerfile` to solve this issue.

Do you agree ?

[2020-12-10 12:02] juzhiyuan commented on #824
Do this in the apisix-docker repo?

[2020-12-10 12:13] gxthrj commented on #824
Yes, it is OK.

After that, apisix-docker will serve two projects: APISIX & APISIX dashboard.

What other people think? @moonming @membphis @nic-chen

[2020-12-10 13:13] nic-chen commented on #824
agree with that. It should be another `Dockerfile`

[2020-12-10 13:37] nic-chen commented on #954
we don't have this fail now, should have be fixed by  #976

[2020-12-10 13:37] #954 closed

[2020-12-10 16:22] LiteSun commented on #656
I try hours to fix this bug but failed.

I found that if I comment line 74、76、83、84 below，the warning disappears. but I can't found a proper way to fix this.
![image](https://user-images.githubusercontent.com/31329157/101798544-22a63700-3b46-11eb-8474-b99cb425ef8f.png)

any suggestions? 👀👀 @juzhiyuan @liuxiran

[2020-12-10 23:12] starsz commented on #861
After reading the above discussion and try to implement it for a while.
I design two APIs like the following.

1.
`GET /api/labels/:type?{label=key,key:value,key:value}`

Type means the specified response e.g: "upstream", "ssl", "service", "consumer".
If type is "all", it means to get all of them.

Because of the lib [droplet](http://github.com/shiningrush/droplet/wrapper/gin) can't get total valu

[2020-12-11 00:12] LiteSun commented on #861
I think we need to implement the route search api first(M2.2) then implement others.

Any suggestions about the API design @nic-chen ？

[2020-12-11 00:34] moonming opened #1013 "add spell CI tool"
# Feature request
just like https://github.com/apache/apisix/pull/3011

## Please describe your feature

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you

[2020-12-11 00:48] juzhiyuan opened #1014 "docs: remove duplicate commit message guide"
# Feature request

## Please describe your feature

We have a commit message guideline in the CONTRIBUTING file, there has a duplicate commit message guideline under the `.github` directory, we should remove it.

https://github.com/apache/apisix-dashboard/blob/master/.github/commit-convention.md

## Describe the solution you'd like

- [ ] Remove that guide;
- [ ] Check all files' content if there

[2020-12-11 01:49] #603 closed

[2020-12-11 01:54] membphis commented on #803
@idbeta You can take a look at this problem, I remember you got this error too.

[2020-12-11 02:25] to2false opened #1015 "Official support docker image?"
# Feature request

## Please describe your feature

Provider an official support docker image.

## Describe the solution you'd like

Auto build docker hub image with version release.

## Describe alternatives you've considered

## Additional context

[2020-12-11 02:47] juzhiyuan commented on #1015
Please follow this issue[1]

[1] https://github.com/apache/apisix-dashboard/issues/824

[2020-12-11 02:47] #1015 closed

[2020-12-11 02:59] #791 closed

[2020-12-11 03:12] nic-chen commented on #861
yes, we could just  implement the route search api, others could be implemented later. @starsz @LiteSun

[2020-12-11 03:28] nic-chen commented on #960
He used old version dashboard that time. we could close this issue now.

[2020-12-11 03:28] #960 closed

[2020-12-11 04:50] #803 closed

[2020-12-11 06:33] #853 closed

[2020-12-11 06:33] #866 closed

[2020-12-11 07:04] membphis opened #1016 "CI: failed to run the CI after merge PR#868"
here is the task of CI:

https://github.com/apache/apisix-dashboard/runs/1535613056

[2020-12-11 07:04] membphis commented on #1016
@starsz do you have time to look at this issue?

![image](https://user-images.githubusercontent.com/6814606/101873580-27a8cc00-3bc2-11eb-8186-0ac7c5befb24.png)

[2020-12-11 07:05] membphis commented on #1016
if it is not easy to resolve, then we need to revert this commit first

[2020-12-11 07:12] juzhiyuan opened #1017 "remove husky to resolve Docker Deploy failed"
# Bug report

## Describe the bug

Husky will throw an error if there doesn't have `.git` directory.

## How to Reproduce

https://github.com/apache/apisix-dashboard/runs/1535199712

## Solution

Remove husky.

[2020-12-11 07:32] juzhiyuan commented on #658
refer to https://dev.to/flipp-engineering/linting-only-changed-files-with-github-actions-4ddp

[2020-12-11 07:42] starsz commented on #1016
OK, I found the problem. Let me fix it.

[2020-12-11 07:48] #1016 closed

[2020-12-11 07:53] LiteSun commented on #837
Just for reminder: [apache/apisix#2943](https://github.com/apache/apisix/pull/2943) is merged two days ago. cc @liuxiran

[2020-12-11 08:02] #973 closed

[2020-12-11 08:06] #1017 closed

[2020-12-11 08:08] membphis commented on #658
@bzp2010 do you want to handle this issue? that is a useful feature ^_^

[2020-12-11 08:08] #570 closed

[2020-12-11 08:12] membphis commented on #824
@gxthrj please confirm if we can close this issue

[2020-12-11 08:16] #824 closed

[2020-12-11 09:44] nic-chen opened #1023 "style: code optimization for `api/filters/schema.go`"
refer to:

https://github.com/apache/apisix-dashboard/pull/986#discussion_r540804001
https://github.com/apache/apisix-dashboard/pull/986#discussion_r540806059
https://github.com/apache/apisix-dashboard/pull/986#discussion_r540806679

[2020-12-11 09:54] #918 closed

[2020-12-11 09:54] #955 closed

[2020-12-11 10:46] moonming commented on #820
why remove from MS？

[2020-12-11 11:20] juzhiyuan commented on #1023
close?

[2020-12-11 16:37] #980 closed

[2020-12-12 00:52] membphis commented on #1023
This is the to do things we need

[2020-12-12 01:01] jinchizhou commented on #566
hey @nic-chen , can I contact you?

[2020-12-12 01:05] membphis commented on #820
@juzhiyuan you need to submit your design for this issue and update the title

[2020-12-12 01:12] idbeta opened #1027 "bug: when create route with plugin, the disable key should hide in code mirror"
# Bug report

## Describe the bug

`disable` key should hide in the code mirror

three reason:
1. user modify `disable` key in code mirror is useless
2. create **route** with the `jwt` or `basic-auth` plugins, when `enable`-> `disable`->`enable`,there will be an error
![image](https://user-images.githubusercontent.com/7396835/101968422-10b5b880-3c5a-11eb-8944-e76c8b085287.png)
that because `disabl

[2020-12-12 01:14] juzhiyuan commented on #820
Of course, the proposal would be finished and discuss completed no longer than next week.

[2020-12-12 01:19] idbeta opened #1028 "bug: create consumer or route and enable any plugin, will be an error"
# Bug report

## Describe the bug

create consumer or route and enable any plugin via **enable button not setting button**, will be an error
except prometheus plugin.

## How to Reproduce
![image](https://user-images.githubusercontent.com/7396835/101968622-119b1a00-3c5b-11eb-80e6-e6b9784a110f.png)

[2020-12-12 01:22] nic-chen commented on #566
sure, QQ 4061470

[2020-12-12 01:38] juzhiyuan commented on #1028
What's the enable button and setting button? could you please take a snapshot?

[2020-12-12 01:38] juzhiyuan commented on #1028
This Error will popup when the plugin data is not compatible with that plugin's schema.

[2020-12-12 01:40] jinchizhou commented on #566
hey @nic-chen , I'm unable to download, can you add me on wechat instead? wxid_p1kxun8an63822

[2020-12-12 01:53] idbeta commented on #1028
![image](https://user-images.githubusercontent.com/7396835/101969563-df3feb80-3c5f-11eb-8a93-c598b529f05d.png)

[2020-12-12 02:01] juzhiyuan commented on #1028
**Schema from http://139.217.190.60/routes/328942401265598931/edit**

![image](https://user-images.githubusercontent.com/2106987/101969712-e6b3c480-3c60-11eb-83e0-1d9a1053b27a.png)

**Schema from 40.73.92.163:8080**

![image](https://user-images.githubusercontent.com/2106987/101969726-f4694a00-3c60-11eb-869e-4be19fc6b899.png)

Should check backend first

[2020-12-12 03:03] membphis opened #1033 "Collect E2E code coverage"
There are many test cases for Manager-API, and code coverage cannot be obtained at present.
For E2E testing, we need to collect code coverage, which is very important for subsequent development.

[2020-12-12 03:04] membphis commented on #1033
welcome to discuss at this issue  @ShiningRush do you have any suggestions?

[2020-12-12 03:08] membphis commented on #1033
@gxthrj said: https://tech.youzan.com/you-zan-go-xiang-mu-dan-ce-ji-cheng-zeng-liang-fu-gai-lu-tong-ji-yu-fen-xi

[2020-12-12 03:55] idbeta opened #1034 "bug: when enable or disable existing ssl certificate, will be error"
# Bug report

## Describe the bug

when enable or disable existing ssl certificate,  will be error
[code]

[2020-12-12 05:01] #1027 closed

[2020-12-12 05:01] #1028 closed

[2020-12-12 05:54] juzhiyuan commented on #648
conclusion?

[2020-12-12 05:54] idbeta opened #1035 "bug: create route with plugin, will be error"
# Bug report

## Describe the bug

create route with plugin, will be error

## How to Reproduce

1. create route with route, only enable the plugin but not do any config, so when finish commit the route, it will prompt an error, which is correct
![image](https://user-images.githubusercontent.com/7396835/101976564-58036f80-3c81-11eb-8ac8-ec18310e5907.png)
[code]
2. but when I go back to route confi

[2020-12-12 06:07] nic-chen commented on #566
can't contact with this id.

[2020-12-12 07:01] juzhiyuan opened #1036 "Test Framework"
# Feature request

## Please describe your feature

Test framework.

## Describe the solution you'd like

None

## Describe alternatives you've considered

None

## Additional context

None

[2020-12-12 07:03] juzhiyuan commented on #831
in `Route`.

[2020-12-12 07:05] #968 closed

[2020-12-12 07:13] jinchizhou commented on #566
I see. I'm in the US, not sure if that is why you cannot add me on wechat. Could I possibly sync up with you through Google Hangouts? or Zoom? You can contact me through email jinchizhou@gmail.com

[2020-12-12 07:33] juzhiyuan commented on #831
![image](https://user-images.githubusercontent.com/2106987/101978377-6a84a580-3c8f-11eb-89fd-2b19d5e791ec.png)

[2020-12-12 07:41] juzhiyuan commented on #1035
Need a discussion on if we MUST have valid data no matter enable or disable that plugin.

cc @nic-chen @idbeta @membphis

[2020-12-12 07:59] #724 closed

[2020-12-12 08:05] juzhiyuan commented on #613
Hi @idbeta, could you please take a look at this issue? We need to package the Dashboard as an RPM package.

[2020-12-12 08:20] #813 closed

[2020-12-12 08:35] juzhiyuan commented on #968
will be resolved in #471

[2020-12-12 08:43] juzhiyuan opened #1038 "Client-side URL redirect"
# Bug report

## Describe the bug

https://github.com/apache/apisix-dashboard/security/code-scanning/3?query=ref%3Arefs%2Fheads%2Fmaster

![image](https://user-images.githubusercontent.com/2106987/101979572-0ebf1a00-3c99-11eb-841f-d739b0e00752.png)

Redirecting to a URL that is constructed from parts of the DOM that may be controlled by an attacker can facilitate phishing attacks. In these attacks

[2020-12-12 08:44] juzhiyuan commented on #1038
We may limit the target redirect URL to have the same host as the current URL.

[2020-12-12 08:49] nic-chen commented on #566
OK

[2020-12-12 09:45] ShiningRush commented on #1033
I have already read it and check our team code before, Now I am sure that our team is also use the same way.

[2020-12-13 05:41] juzhiyuan commented on #618
Will this be implemented in 2.3?

[2020-12-13 05:42] juzhiyuan commented on #672
Will this be implemented in 2.3?

[2020-12-13 05:42] juzhiyuan commented on #571
Implement in 2.3?

[2020-12-13 05:43] juzhiyuan commented on #842
in 2.3?

[2020-12-13 06:11] tokers commented on #842
You mean systemd and supervisord?

[2020-12-13 06:14] juzhiyuan commented on #820
Please take a look at this proposal, to check if there have any improvements about Global Plugin.

cc @nic-chen @liuxiran @ShiningRush @tokers @LiteSun @Miss-you @membphis

[2020-12-13 06:20] juzhiyuan opened #1039 "Build plugin form according to its jsonschema"
# Feature request

## Please describe your feature

It's more convenient to use a form instead of a code mirror to set up plugins.

**important issues**
- https://github.com/apache/apisix-dashboard/issues/815

[2020-12-13 06:25] juzhiyuan opened #1040 "Support Error highlighting for plugin's code mirror"
# Feature request

## Please describe your feature

Currently, when we use plugin's CodeMirror, one error message will pop up when we input an invalid JSON data, it would be more clear to have the Error Line highlighting support for CodeMirror.

Related issue: https://github.com/apache/apisix-dashboard/issues/815

[2020-12-13 06:32] juzhiyuan commented on #842
Ya, would this issue be resolved in M2.3?

[2020-12-13 08:16] membphis opened #1041 "failed to load the route in etcd"
here are the routes in my `etcd`, I created them by a python script:

[code]

the Manager API can not load them, here are the routes in etcd:

[routes.log](https://github.com/apache/apisix-dashboard/files/5684342/mm.log)

[2020-12-13 08:16] membphis commented on #1041
@nic-chen do you have time to look at this issue?

[2020-12-13 08:17] membphis commented on #1041
cc @idbeta

[2020-12-13 09:06] juzhiyuan commented on #831
https://github.com/apache/apisix/pull/2836/files#diff-ebd29c155b76d68bb1cd728cd626f281f81c62ddb451b345baf2ed8f81480127R378

![image](https://user-images.githubusercontent.com/2106987/102007595-7e9ad680-3d65-11eb-8e86-3edb3ccdc2eb.png)

Hi @membphis, I see there has a tip saying the enable_websocket field will be removed soon, do we have any plan?

[2020-12-13 10:23] moonming commented on #831
Will be removed in 2.3

琚致远 <notifications@github.com>于2020年12月13日 周日下午5:07写道：

--
Thanks,
Ming Wen
Twitter: _WenMing

[2020-12-13 10:29] juzhiyuan commented on #831
I couldn't find milestone 2.3, you mean 3.0 or 2.3 has not been created?

https://github.com/apache/apisix/milestones

[2020-12-13 10:30] juzhiyuan commented on #831
The frontend will still use that field for now.

[2020-12-13 10:47] moonming commented on #831
no, FE should not use it in upstream

琚致远 <notifications@github.com>于2020年12月13日 周日下午6:30写道：

--
Thanks,
Ming Wen
Twitter: _WenMing

[2020-12-13 10:48] nic-chen commented on #1041
@membphis

the Manager API has loaded them, but the ID is null for each routes.

I guess you can't see them on the FE UI?

[2020-12-13 10:48] moonming commented on #831
Websocket is binding with route now

Ming Wen <moonbingbing@gmail.com>于2020年12月13日 周日下午6:47写道：

--
Thanks,
Ming Wen
Twitter: _WenMing

[2020-12-13 10:50] moonming commented on #831
Please check the Chang log of apisix for detail

Ming Wen <moonbingbing@gmail.com>于2020年12月13日 周日下午6:48写道：

--
Thanks,
Ming Wen
Twitter: _WenMing

[2020-12-13 11:06] juzhiyuan commented on #831
Ok, now i know what happened, i heard from @membphis that this field is bound to Route and called enable_websocket, but when i saw that PR, i didn't see that change is related to upstream_def until you point out.

Conclusion: The frontend will use that field with Route instead of Upstream.

[2020-12-13 11:08] juzhiyuan commented on #1041
Just for sure, does API return those records?

[2020-12-13 12:43] nic-chen commented on #1041
No, It depends. My guess is wrong.

[2020-12-13 13:15] membphis commented on #1041
I think that is a bug of Manager API.

[code]

[2020-12-13 13:20] juzhiyuan commented on #1041
fix in M2.3?

[2020-12-13 13:56] membphis commented on #820
@juzhiyuan the Admin API has implemented the `global rule` API: https://github.com/apache/apisix/blob/5de6ee467f83c38f31eff6cfd683736b441ac9c2/doc/zh-cn/architecture-design.md#global-rule

So I think we'd better use the existing APIs.

[2020-12-13 13:58] membphis commented on #820
![image](https://user-images.githubusercontent.com/6814606/102013971-5d9aab80-3d8e-11eb-936a-70058bcbab12.png)

[2020-12-13 14:00] membphis commented on #831
yes, that is right

[2020-12-13 14:01] membphis commented on #1041
this is ok

[2020-12-13 14:08] membphis commented on #672
I think the priority of this issue is not high, and it is recommended to remove it from the `2.3` milestone.

[2020-12-13 14:18] membphis commented on #571
`/apisix/admin/global_rules`

we need this API in milestone `2.3`. @nic-chen I think we can create a new issue about this

[2020-12-13 14:27] membphis commented on #842
@nic-chen @tokers It depends on building the package for the specific OS, eg: ubuntu, centos.

I think we can remove milestone `2.3`.

[2020-12-13 14:30] membphis commented on #613
It is an easy job, welcome to take a look at this project(build APISIX RPM):

https://github.com/api7/build-tools
https://github.com/api7/build-tools/blob/master/run.sh

[2020-12-13 14:31] membphis commented on #1036
that is an important job, we really need it

[2020-12-13 14:53] juzhiyuan commented on #820
@membphis np, I just updated the proposal.

[2020-12-14 01:37] nic-chen commented on #820
I think the APIs should be consistent with the existing, [refer to](https://github.com/apache/apisix/blob/master/doc/architecture-design.md#Global-Rule):

**API: set global rule**
[code]
[code]

**API: get global rule**
[code]
[code]

**API: get global rule list(new)**
[code]
[code]

[2020-12-14 01:39] nic-chen commented on #842
OK

[2020-12-14 01:51] juzhiyuan commented on #820
The only difference between your comment and this proposal is, this proposal doesn't have the target rule id, as a global API, why there will have **multiple global** records? but yes, you are right, for the frontend, it will use the target rule id, there will not have a global rule list.

![image](https://user-images.githubusercontent.com/2106987/102031594-683a5c80-3df1-11eb-82a7-005f477f7743.png

[2020-12-14 01:53] moonming commented on #820
There is a more obvious problem in this design:
The plugin menu bar on the left is not just for global plugins. It can also become a universal plug-in object like service and upstream. For example, a limit count plugin and configuration can be referenced by multiple routes.

The global plug-in is just an attribute of the plug-in, and it is not worth a separate menu.

[2020-12-14 01:53] nic-chen opened #1042 "feat: support global rule in Manager API"
# Feature request

## Please describe your feature

In the refactoring of version 2.0, we left some APIs that were not implemented in m.
Now we need to implement the `global rule` part as soon as possible.
refer:

https://github.com/apache/apisix/blob/master/doc/architecture-design.md#Global-Rule

## Describe alternatives you've considered

The APIs should be consistent with the original APIs of A

[2020-12-14 03:21] juzhiyuan commented on #820
after discussion with @membphis @moonming @nic-chen, we have reached an agreement in the general direction, I will update the proposal today:
- UE
- features in the future

[2020-12-14 03:57] LiteSun opened #1043 "Check markdown links CI failed"
# Bug report

![image](https://user-images.githubusercontent.com/31329157/102038915-72655680-3e03-11eb-8e0f-21dc2de24c05.png)

[2020-12-14 06:10] membphis commented on #532
backend todo things:

- [ ] sync tools: support to sync more field(eg: type)
- [ ] API: `/plugins?all=true`

[2020-12-14 06:24] nic-chen commented on #984
need e2e test to confirm

[2020-12-14 06:31] nic-chen commented on #571
has a new issue to track for it, so close this now.

[2020-12-14 06:31] #571 closed

[2020-12-14 06:49] nic-chen commented on #872
should not support uri, host, remote_addr in Manager API

[2020-12-14 06:50] #792 closed

[2020-12-14 06:50] nic-chen commented on #792
fixed by code-mirror

[2020-12-14 06:51] juzhiyuan commented on #792
closed by https://github.com/apache/apisix-dashboard/pull/898

[2020-12-14 06:55] nic-chen commented on #941
fixing in APISIX: https://github.com/apache/apisix/pull/3021

[2020-12-14 06:55] #941 closed

[2020-12-14 06:57] nic-chen commented on #777
close first. if you have the problem feel free to reopen

[2020-12-14 06:57] #777 closed

[2020-12-14 06:58] nic-chen commented on #746
ping @tokers

[2020-12-14 08:00] LiteSun opened #1044 "bug: Incomplete label display when create rule in route step1 page"
# Bug report

## Describe the bug

![image](https://user-images.githubusercontent.com/31329157/102055185-6b4f4000-3e25-11eb-9675-f76d168ef9c6.png)

## How to Reproduce

1. Go to 'Create Route Page'
2. Click on 'Create' button below Advanced Routing Matching Conditions

## Expected behavior

![image](https://user-images.githubusercontent.com/31329157/102055088-4529a000-3e25-11eb-8f6e-87cdcdebee73.p

[2020-12-14 08:02] membphis opened #1045 "chore: show a friendly prompt when the project is successfully built"
![image](https://user-images.githubusercontent.com/6814606/102055038-35aa5700-3e25-11eb-94fb-8c5593a03f98.png)

[code]

[2020-12-14 08:20] juzhiyuan commented on #1045
Yep, and this message is from [Webpack](https://webpack.js.org/)

[2020-12-14 08:41] juzhiyuan opened #1048 "group error messages when submit plugins's data in CodeMirror"
# Feature request

## Please describe your feature

Currently, errors will popup one by one when we submit the wrong plugin data, it's better to group those error messages in one popup.

related PR https://github.com/apache/apisix-dashboard/pull/1047/checks?check_run_id=1548891304

[2020-12-14 10:15] idbeta commented on #613
sure, I have written the script, where do you think it is better to put this script?

[2020-12-14 10:35] juzhiyuan commented on #820
Hello, I just updated this proposal, kindly review when you are free 😊

cc @nic-chen @liuxiran  @membphis @moonming

[2020-12-14 10:38] juzhiyuan commented on #613
not sure where to put that script is properly 🤔 How about utils?

[2020-12-14 11:40] nic-chen commented on #613
we could upload the rpm package when release a new version

[2020-12-14 13:42] starsz opened #1050 "bug: don't support set SSL labels"
# Bug report

## Describe the bug

Hi, I found that we don't support set SSL labels. But apisix support.

## How to Reproduce

1. Use POST to create an `SSL` config with labels.
2. Get SSL config

## Expected behavior

1. Should support set SSL labels in apisix-dashboard backend.

[2020-12-15 07:30] liuxiran commented on #825
Based on the first plan, how to transform route configuration to OAS3.0?
After further compare the configuration of OAS3.0 and routes in APISIX, we categorized the current route fields into three parts
* explicitly matched fields are:

|  route field   |  OAS3.0  field|
|  ----  | ----  |
| name | paths[url][method]operationId |
| desc  | paths[url][method]summary |
| methods  | paths[url]method |

[2020-12-16 07:06] Caelebs opened #1058 "'schema-sync.sh' generates jsonschema data for apisix error"
# Bug report

[After modifying the plugin schema or creating a custom plugin in Apache APISIX, why can't I find it on the dashboard?](https://github.com/apache/apisix-dashboard/blob/master/docs/FAQ.md#4-after-modifying-the-plugin-schema-or-creating-a-custom-plugin-in-apache-apisix-why-cant-i-find-it-on-the-dashboard)

I added a custom plug-in, according to the requirements in the FAQ.md document,

[2020-12-16 07:21] nic-chen commented on #1058
@Caelebs

Apache APISIX 2.1 doesn't have the `error-log-logger` plugin.

you could download in on:
https://github.com/apache/apisix/releases/tag/2.1

[2020-12-16 08:01] Caelebs commented on #1058
So awkward, I checked the .history log and found that I pulled the master code, so this `error-log-logger` plugin appeared.
After Switch to version 2.1, the command execution returned successfully.
thanks
@nic-chen

[code]

[2020-12-16 08:01] #1058 closed

[2020-12-16 15:27] juzhiyuan opened #1059 "figure out what happened to gitleaks"
# Bug report

## Describe the bug

https://github.com/apache/apisix-dashboard/runs/1564493861

[2020-12-17 10:42] juzhiyuan commented on #974
Please take a look at this issue 💯

cc @membphis

[2020-12-17 14:47] LiteSun commented on #1036
we use cypress to replace puppeteer for the FE e2e test. refer to PR #1056

[2020-12-17 14:47] #1036 closed

[2020-12-18 03:11] nic-chen opened #1065 "discuss: Support empty nodes in Upstream"
Manager API should keep same as Admin API, we need to track the discussion in APISIX, and sync if any thing changes.

related issue:
https://github.com/apache/apisix/issues/3072

[2020-12-18 03:37] LiteSun commented on #823
In order to manage api more finely, I propose to add api version management feature.

## front-end
 - add version management section in route step1 page

![image](https://user-images.githubusercontent.com/31329157/102568888-6b9a5480-411f-11eb-93b5-7f3bf69585f8.png)

- when `enable version` turn on,  section `version config` and `version table` will show.

![image](https://user-images.githubusercon

[2020-12-18 06:14] membphis commented on #823
In the first version, I think it is enough to control the API version by only supporting the header.
This makes our implementation design easier.

I was confused with `Edit version drawer` and `version table`, need more docs @LiteSun , I can not understand them.

[2020-12-18 07:20] LiteSun commented on #823
1. version table is used to show the version list, just like our  `Advanced Routing Matching Conditions`
![image](https://user-images.githubusercontent.com/31329157/102585838-09a01600-4144-11eb-8ca1-b1d93dae3508.png)

2.` Edit version drawer` is used to edit or create a version item. will trigger show when you click the `add` button or `edit`

[2020-12-18 10:19] juzhiyuan opened #1070 "support unit test for ajv"
# Feature request

## Please describe your feature

- [ ] Support unit test (functionality level) about injectDisableProperty to schema.

[2020-12-18 10:21] #44 closed

[2020-12-18 10:21] juzhiyuan commented on #44
tracker issue

[2020-12-18 10:23] juzhiyuan commented on #823
I will take this proposal.

[2020-12-18 10:30] liuxiran commented on #825
We just holed a offline meeting, and agreed on the following points:

1. First implement import/outport based on OAS 3.0, and consider implementing other formats later
2. import and export in atomic.

Todo before development：

1. need to List ignored OAS fields when import OAS3.0 @liuxiran
2. Investigate whether golang has  librarys that enables functionality.

cc @juzhiyuan @LiteSun @nic-chen @me

[2020-12-18 10:32] idbeta commented on #644
hello, assign to me pls.

[2020-12-18 10:32] idbeta commented on #643
hello, assign to me pls.

[2020-12-18 10:32] idbeta commented on #642
hello, assign to me pls.

[2020-12-18 10:32] idbeta commented on #641
hello, assign to me pls.

[2020-12-18 10:32] idbeta commented on #640
hello, assign to me pls.

[2020-12-18 12:00] #849 closed

[2020-12-19 03:47] LiteSun opened #1075 "feat: show front-end e2e test report on PR's comment."
# Feature request

in order to let developers have clear info about why the front-end e2e test failed, we need show the front-end e2e report  in each pr's comment, just like Codecov Report.

refer pr: #991

[2020-12-19 10:10] #850 closed

[2020-12-19 10:19] juzhiyuan commented on #529
any update?

[2020-12-19 10:19] juzhiyuan commented on #974
ping @membphis

[2020-12-19 10:27] juzhiyuan opened #1077 "OnlineDebug throws error when sending request"
# Bug report

## Describe the bug

![图片](https://user-images.githubusercontent.com/2106987/102687112-ac7d9080-4227-11eb-83cd-3580ab9c8160.png)

## How to Reproduce

0. Visit http://139.217.190.60/routes/list
1. Go to Route list;
2. Click on Online Debug;
3. Input path "/hello";
4. Click Send Request then error shown;

[2020-12-19 10:28] juzhiyuan commented on #1077
Please take a look when you have time :)

cc @liuxiran

[2020-12-19 10:36] juzhiyuan commented on #1077
![图片](https://user-images.githubusercontent.com/2106987/102687314-1c404b00-4229-11eb-8f7f-7140b9fa7d4b.png)

[2020-12-19 13:36] juzhiyuan commented on #640
related feature:
- [ ] https://github.com/apache/apisix-dashboard/pull/1079

[2020-12-19 13:38] juzhiyuan commented on #642
**TODO**
- [ ] HealthCheck: custom active port https://github.com/apache/apisix-dashboard/pull/1078

[2020-12-19 23:58] liuxiran commented on #1077
need to fill in the full URL of the request in the url input, e.g: http://ip:port/hello @juzhiyuan

Perhaps a simple FAQ can help users quickly know how to use this feature, let me add it later. ^_^

[2020-12-20 01:42] juzhiyuan commented on #1077
oh I know what happened, the error says the protocol for that URL is missing 😂

[2020-12-20 03:22] liuxiran commented on #1077
yes you are right~! perhaps I need to do another enhancement

-  a clearer information about the error is needed here
-  fe add a input validation to reject not validate url

[2020-12-20 06:45] #985 closed

[2020-12-21 01:20] spacewander opened #1085 "Store the `script.ID` in the router entity?"
It seems currently there is not reference between `/apisix/route` and the `/apisix/script`?

[2020-12-21 01:28] tokers commented on #1085
That's really, we may add the reference relations just like route and upstream.

[2020-12-21 01:52] #723 closed

[2020-12-21 02:22] #618 closed

[2020-12-21 03:08] #784 closed

[2020-12-21 03:08] nic-chen commented on #1085
sure, we should store it.

[2020-12-21 03:18] moonming opened #1086 "support EWMA in upstream balancer"
# Feature request

https://github.com/apache/apisix/blob/4d316bc0681c80435ab1a3fc113c3c6ea3c82831/apisix/balancer.lua#L33

## Please describe your feature

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise descr

[2020-12-21 03:39] juzhiyuan commented on #1086
Doc: https://github.com/apache/apisix/blob/master/doc/admin-api.md#upstream

May I know what should happen after selecting EWMA?

cc @membphis

[2020-12-21 03:50] juzhiyuan commented on #974
related discussion: https://github.com/apache/apisix/issues/3068

[2020-12-21 03:50] #974 closed

[2020-12-21 03:58] juzhiyuan commented on #990
Any update about that command line?

[2020-12-21 03:59] juzhiyuan commented on #933
Will this issue been resolved by the community or?

[2020-12-21 03:59] #831 closed

[2020-12-21 04:06] #620 closed

[2020-12-21 04:09] juzhiyuan commented on #511
![image](https://user-images.githubusercontent.com/2106987/102738511-4f97ec80-4385-11eb-91b9-fd5e422d851c.png)

[2020-12-21 04:09] #511 closed

[2020-12-21 04:10] juzhiyuan commented on #614
I will close this tracking issue, for there have a lot of detailed issues to track.

[2020-12-21 04:10] #614 closed

[2020-12-21 04:11] juzhiyuan commented on #676
Done?

[2020-12-21 04:11] juzhiyuan commented on #679
any plan?

[2020-12-21 04:12] juzhiyuan commented on #682
plan?

[2020-12-21 04:13] juzhiyuan commented on #741
any update?

[2020-12-21 04:14] juzhiyuan commented on #752
no conclusion and not urgent here so closed.

[2020-12-21 04:14] #752 closed

[2020-12-21 04:14] juzhiyuan commented on #809
Hi, anything could I help you?

[2020-12-21 04:15] juzhiyuan commented on #838
Any update for this issue?

[2020-12-21 04:44] #837 closed

[2020-12-21 05:07] liuxiran commented on #835
all prs merged, close it now.

[2020-12-21 05:07] #835 closed

[2020-12-21 06:00] ziyou434 commented on #809
.

emm... I find you added the wait for update label, I remembered I added the PR ,but I can't find my action about this ,maybe I did the wrong operation.

[2020-12-21 06:49] juzhiyuan commented on #809
Oh yes, I added that label because no update here 😂 kindly refile a PR when you are free 💯

[2020-12-21 06:59] juzhiyuan commented on #809
related issue https://github.com/apache/apisix-website/pull/118

[2020-12-21 06:59] #809 closed

[2020-12-21 07:00] #962 closed

[2020-12-21 10:18] Caelebs commented on #939
When will these feature be re-implemented in the future and probably in which version?
@nic-chen

[2020-12-21 10:44] juzhiyuan commented on #939
Just added today morning, please use the latest codes in the master branch.

[2020-12-21 10:44] #939 closed

[2020-12-21 16:57] liuxiran commented on #825
when we import routes from OAS3.0, some fields in OAS will be missed because there are not corresponding fields in APISIX's Route:

1. API General Info: used to describe the general information about your API, some times, a oas file contains a series of apis which belong to a app, so this info is different from the api's name and extra basic info.
[reference](https://swagger.io/docs/specification/

[2020-12-22 01:08] juzhiyuan commented on #825
as for API Documentation, here is an example for both 2.0 and 3.0.

https://editor.swagger.io/

![image](https://user-images.githubusercontent.com/2106987/102836703-043d1700-4435-11eb-901a-ca39c275f6de.png)

cc @membphis

[2020-12-22 01:57] starsz commented on #1013
That's good. Assign to me.

[2020-12-22 02:06] tokers commented on #741
It seems the priority of this feature is not so high, so what about postponing it to a future milestone?

[2020-12-22 02:41] juzhiyuan commented on #741
good to me 😄

[2020-12-22 07:25] juzhiyuan opened #1094 "support full i18n"
# Feature request

## Please describe your feature

**Checklist**
- [ ] Route
- [ ] Service
- [ ] Upstream
- [ ] Consumer
- [ ] SSL
- [ ] Plugin
- [ ] Other: Login, Logout, etc.

[2020-12-22 07:26] juzhiyuan commented on #1094
Please fix this first.

cc @guoqqqi

[2020-12-22 07:40] #643 closed

[2020-12-22 07:58] candicandi opened #1095 "路由修改无法提交"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## How to Reproduce

正常情况下添加路由，重定向设置为禁用，提交后再编辑这个路由，把重定向选择为强制https，其他不变，会无法提交

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

Add screenshots to help explain your problem if applicable.

## System information

- OS: [e.g. macOS, Windows]
- Browser (if appli

[2020-12-22 08:16] juzhiyuan commented on #1095
@idbeta please take a look.

[2020-12-22 09:07] idbeta commented on #1095
My environment has not reproduced. I remember that we modified this question some time ago #692

[2020-12-22 09:13] juzhiyuan commented on #1095
fine, please use the latest codes based on the master branch. @candicandi

thanks! @idbeta

[2020-12-22 09:13] #1095 closed

[2020-12-22 09:23] liuxiran commented on #529
after the new api `GET /plugins?all=ture` finished, I will open a new issue to trace the process. close it now.

[2020-12-22 09:23] #529 closed

[2020-12-22 12:44] Caelebs opened #1098 "The menu bar `consumer ` in Chinese view supports Chinese"
# Feature request

![image](https://user-images.githubusercontent.com/12752710/102889924-785bd700-4496-11eb-9164-fe02c3e9271c.png)
![image](https://user-images.githubusercontent.com/12752710/102889956-890c4d00-4496-11eb-8220-cb11311fc1a3.png)

[2020-12-22 13:42] thekingofworld opened #1099 "Supports rollbacks of operations."
# Feature request

## Supports rollbacks of operations

In some scenarios, we need rollback after route configuration published.

## Describe the solution you'd like

add rollback feature in Dashboard, essentially manipulate etcd data.

[2020-12-22 14:01] thekingofworld opened #1100 "route configuration supports Grayscale release"
# Feature request

## route configuration supports Grayscale release

At first, we can specify these configurations to be applied to some APISIX instances, after observing for a period of time, these configurations can be published to all instances if no problem.

[2020-12-22 14:55] starsz commented on #1013
Hi @juzhiyuan, please have a look, when you are free.
![image](https://user-images.githubusercontent.com/25628854/102901471-a4805380-44a8-11eb-991d-e4cda0c9e544.png)

[2020-12-22 15:43] juzhiyuan commented on #1013
Hi @guoqqqi, here has one misspelling in the `DebugDrawView` file, please fix this.

As for misspellings in yarn.lock, ignore it because we couldn't modify it.

[2020-12-22 16:51] juzhiyuan commented on #1098
oh yes, that's because we don't have a proper description in Chinese, what's your opinion? 🤔

[2020-12-23 01:54] LiteSun commented on #861
FE is not ready now.

[2020-12-23 02:15] juzhiyuan commented on #1013
Hi @starsz, would we invoke a CI to check every PR?

[2020-12-23 03:28] starsz commented on #1013
@juzhiyuan Yes, I will. I want to know which directories should be checked under "web".

[2020-12-23 03:42] juzhiyuan commented on #1013
1. `/web/src`
2. `/web/cypress`

[2020-12-23 04:01] Hcreak opened #1103 "Select only wolf-rabc in the plugin list when creating consumer，Unable to continue"
# Bug report

## Describe the bug

I follow the steps of the official document([https://github.com/apache/apisix/blob/master/doc/zh-cn/plugins/wolf-rbac.md])(https://github.com/apache/apisix/blob/master/doc/zh-cn/plugins/wolf-rbac.md) to deploy wolf-rbac plugin,
When I creating consumer in the dashboard, the page prompts: `请启用一种身份认证类插件`

If I continue to use the dashboard, I cannot  to continue.

[2020-12-23 04:29] membphis commented on #1085
yes, we need this feature ^_^

APISIX needs to be updated for this feature, all right? @spacewander

[2020-12-23 05:58] juzhiyuan commented on #1103
Hi, please use the latest codes on the master branch.

[2020-12-23 05:59] juzhiyuan commented on #1103
BTW, yes, we must enable a Plugin under the Authentication category when creating consumer.

[2020-12-23 06:16] Hcreak commented on #1103
Thanks for your reply, Do you mean that the next version will put wolf-rbac into the Authentication category to fix this bug?

[2020-12-23 07:26] spacewander commented on #1085
Yes.

[2020-12-23 07:48] membphis commented on #1086
same as `roundrobin`

[2020-12-23 07:52] membphis commented on #825
LGTM, thx

[2020-12-23 08:41] membphis commented on #990
@liuxiran we can use this feature to export the JSON schema: https://github.com/apache/apisix/pull/3092
if you need any help, please let us know

[2020-12-23 08:42] membphis commented on #933
@nic-chen ping

[2020-12-23 08:42] membphis commented on #676
@nic-chen ping

[2020-12-23 10:04] nic-chen commented on #676
yes，it has been merged

[2020-12-23 10:04] #676 closed

[2020-12-23 10:26] juzhiyuan commented on #1103
The next version(2.3) will be released in the middle of the next month :)

[2020-12-23 10:28] juzhiyuan commented on #1103
currently, you could fix this by following steps:
1. update this value to `Authentication` here[1];
2. rebuild the web :)

[1] https://github.com/apache/apisix-dashboard/blob/master/web/src/components/Plugin/data.tsx#L110

[2020-12-23 10:28] juzhiyuan commented on #1103
related to #532

[2020-12-23 10:32] juzhiyuan commented on #1086
cc @guoqqqi

[2020-12-23 10:52] juzhiyuan commented on #990
FYI This issue would be resolved once `plugins?all=true` is supported.

[2020-12-23 16:01] idbeta opened #1113 "request help: frontend E2E test (change upstream type to chash) need a better the search method"
# Feature request

## Please describe your feature

now the method of `change upstream type to cash and input hash_on and key` which in frontend E2E test is:
[code]
These steps seem too complicated, I hope there are simpler steps to achieve it.

https://github.com/apache/apisix-dashboard/blob/master/web/cypress/integration/upstream/create_and_delete_upstream.spec.js#L73-L84

[2020-12-24 01:33] Hcreak commented on #1103
Thanks

[2020-12-24 01:33] #1103 closed

[2020-12-24 03:20] gy09535 opened #1115 "bug: host pass error with dashboard 2.0"
### Issue description
When we set upstream in dashboard ,the value of "upstream.pass_host"  not  be set, after that we set the nodes with domain, the domain value should be set to the backend node, but it not be set. because of the pass_host default value is pass( ref: https://github.com/apache/apisix/blob/master/apisix/schema_def.lua#L360 ), it can not execute the node host set logical(ref: https

[2020-12-24 03:32] nic-chen commented on #1115
Do you mean dashboard need to support config `pass_host`?

[2020-12-24 03:48] gy09535 commented on #1115
yeah, If we not do that, the upstream host should not be set.

[2020-12-24 05:00] juzhiyuan commented on #1115
already supported yesterday, please check.

[2020-12-24 05:01] juzhiyuan commented on #1115
![image](https://user-images.githubusercontent.com/2106987/103062073-288d2500-45e8-11eb-9ca8-5a21815e7299.png)

https://github.com/apache/apisix-dashboard/pull/1088

[2020-12-24 05:01] #1115 closed

[2020-12-24 10:27] qwxingzhe opened #1117 "The console supports synchronization of the latest schema"
# Feature request

## Please describe your feature

I hope the console can have the function of cleaning cache

## Describe the solution you'd like
When I was making a custom plug-in, I found that the list of console plug-ins was not updated after changing the configuration file of apimix. The FAQ mentioned using schema- sync.sh To update, but I was run by docker. I didn't find this file after ent

[2020-12-24 11:59] #911 closed

[2020-12-24 13:49] #605 closed

[2020-12-24 13:49] #990 closed

[2020-12-24 14:14] #984 closed

[2020-12-24 23:56] #1034 closed

[2020-12-25 01:10] #933 closed

[2020-12-25 02:50] liuxiran commented on #1098
We translated `consumer` to `应用` In the course of our use, for most of the consumers of the apis are applications.

[2020-12-25 05:07] #1013 closed

[2020-12-25 05:09] juzhiyuan commented on #1098
1. `消费者`;
2. `应用`;
3. xxx

[2020-12-25 06:02] #852 closed

[2020-12-25 06:25] tokers commented on #739
Solved since #773 was merged.

[2020-12-25 06:25] #739 closed

[2020-12-25 06:49] #471 closed

[2020-12-25 08:36] #861 closed

[2020-12-25 08:47] starsz opened #1119 "Bug: the sleep should be done after the body check in api e2e test"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

I think sleep should be done after the request sent and the response check.

## Additional context

Add any other context about the problem here.

Now, the sleep is after the new req object.

https://github.com/apache/apisix-dashboard/blob/d4792fcf4eea985ea44a76f86e93d5c784d2ae5c/api/test/e2e/base.go#L194-L200

[2020-12-25 08:53] Caelebs commented on #1098
As far as the current functions are concerned, `用户` +1

[2020-12-25 08:57] qwxingzhe opened #1120 "schema- sync.sh generate schema.json Is empty"
# Bug report

## Describe the bug

I want to make apisix plug-ins, but I met the problem I asked yesterday  #1117. I changed the plug-in configuration in apisix config, and the plug-in list in the dashboard was not updated. So I installed the two projects in source code, using api/build-tools/schema-sync.sh to update schema.json The result is generated schema.json It's empty. Do I need to install

[2020-12-25 09:07] #1119 closed

[2020-12-25 09:16] #1041 closed

[2020-12-25 09:23] juzhiyuan commented on #1098
I would prefer using `用户`, let's wait for others replies 💯

cc @membphis @ShiningRush

[2020-12-25 09:35] juzhiyuan opened #1125 "E2E: Upstream"
# Feature request

TODO

- [ ] Create Upstream in Route
- [ ] Select Upstream in Route then Input manually

related issue
- https://github.com/apache/apisix-dashboard/pull/1124

cc @idbeta @LiteSun

[2020-12-25 09:36] nic-chen commented on #1120
@qwxingzhe
what versions are your APISIX and Dashboard?

[2020-12-25 09:39] idbeta opened #1126 "test: add global files to contain selector mappers and public methods"
# Feature request

## Please describe your feature

frontend E2E test:
add a global file to contain selector mappers
add some public methods, such as `create base route`, `create base upstream` etc.

[2020-12-25 09:48] qwxingzhe commented on #1120
v2.2

I installed it according to this document
https://github.com/apache/apisix-dashboard/blob/master/docs/deploy.md

![image](https://user-images.githubusercontent.com/7071651/103130835-49817300-46d9-11eb-8afd-47a4cdbb8f5e.png)

[2020-12-25 12:30] starsz commented on #1120
Hi @qwxingzhe, Because the `schema-sync.lua` doesn't preload the package `ngx.errlog` on v2.2.
Maybe you can try the `schema-sync.lua` on master branch.

See more details:
https://github.com/apache/apisix-dashboard/blob/78b4031d6899be672fcb41b29fcb40f9f898509b/api/build-tools/schema-sync.lua#L26

[2020-12-25 13:22] nic-chen commented on #1120
@qwxingzhe
APISIX 2.1 doesn't have plugin `error-log-logger.lua`, you can download it on:
https://github.com/apache/apisix/releases/tag/2.1

if you are using code from APISIX master branch, please use Dashboard's master branch together.

[2020-12-25 13:28] qwxingzhe commented on #1120
I build it again through the master, but it's stuck in this link
![image](https://user-images.githubusercontent.com/7071651/103136042-ece18080-46f7-11eb-9b95-683a704ccc53.png)

[2020-12-25 14:15] #721 closed

[2020-12-25 14:15] #731 closed

[2020-12-25 14:46] juzhiyuan commented on #1120
cc @LiteSun

[2020-12-25 15:50] #1035 closed

[2020-12-25 15:51] juzhiyuan commented on #922
![image](https://user-images.githubusercontent.com/2106987/103138304-0f7d9480-470c-11eb-834e-c02813c86343.png)

FYI: @starsz is working on this issue.

[2020-12-25 15:54] #687 closed

[2020-12-25 15:54] #694 closed

[2020-12-25 16:07] idbeta opened #1127 "bug: manager-api doesn't support PATCH method"
# Bug report

## Describe the bug

manager-api do not support PATCH method:
when using the following three types of bodies to update node of `service`, will be error
1.
[code]
2.
[code]
return error:
[code]

3.
[code]

and
`ExpectCode` of the test framework does not work

## Expected behavior

The `upstream nodes` of the service can be updated correctly.

[2020-12-26 00:30] #641 closed

[2020-12-26 02:32] starsz commented on #1127
Please assigned it to me.

[2020-12-26 04:09] nic-chen commented on #1127
@starsz
Patch methods for service, upstream, consumer have bug, you could refer to Patch method for SSL or route.

[2020-12-26 06:58] #566 closed

[2020-12-26 13:21] starsz commented on #922
Yes. Please assign it to me.

[2020-12-26 15:16] juzhiyuan opened #1130 "It doesn't return all records when seaching routes with labels"
# Bug report

## Describe the bug

![image](https://user-images.githubusercontent.com/2106987/103154048-0950ec00-47d0-11eb-8bea-35bebab62d04.png)

![image](https://user-images.githubusercontent.com/2106987/103154022-e6bed300-47cf-11eb-9f93-84eab3fc832b.png)

![image](https://user-images.githubusercontent.com/2106987/103154091-47e6a680-47d0-11eb-8a5d-c6cc40014671.png)

[code]

Not sure if it's a bu

[2020-12-27 14:01] #644 closed

[2020-12-27 16:38] #1086 closed

[2020-12-28 03:16] qwxingzhe commented on #1120
It took me more than 30 minutes to rebuild,tks.

[2020-12-28 03:16] #1120 closed

[2020-12-28 03:56] zd1990 opened #1133 "通过dockerfile无法创建镜像"
# Bug report

## Describe the bug

通过docker部署的文档无法创建镜像，编译镜像报错

## How to Reproduce

`
git clone https://github.com/apache/apisix-dashboard.git
`
`
cd apisix-dashboard
`
`
docker build -t apisix-dashboard:v1 . --build-arg ENABLE_PROXY=true
`

## Expected behavior

编译镜像成功

## Screenshots

![image](https://user-images.githubusercontent.com/11418143/103188415-54b7e700-4903-11eb-9ca2-646bdd59d6a8.png)

[2020-12-28 06:12] Hcreak opened #1134 "The Plan of dashboard shows the gateway’s Plugin interceptors"
# Feature request

https://github.com/apache/apisix/blob/master/doc/zh-cn/plugin-interceptors.md

I need  use `interceptors` functions to protect some plugin interfaces,
Do you have any plans to display it on the dashboard? Thanks.

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to h

[2020-12-28 06:46] #642 closed

[2020-12-28 06:53] juzhiyuan commented on #1134
Hi, would you have any proposal for this feature?

[2020-12-28 06:54] juzhiyuan commented on #1134
You would lead this feature and we will help u if needed.

[2020-12-28 07:09] Hcreak commented on #1134
I want to know if you have any plans for this, and if you put it in Milestones， Thanks.

[2020-12-28 07:10] Hcreak commented on #1134
If there is it will be the best

[2020-12-28 07:21] juzhiyuan commented on #1134
No, we don't have a plan for this feature now, welcome PR to resolve this.

[2020-12-28 07:30] pguokun opened #1135 "config_etcd.lua:262: sync_data(): failed to check item data of [/apisix/routes] err:additional properties forbidden"
**Issues Description:**

After installing apisix v2.1 and apisix-dashboard v2.2, after adding a new routing configuration through apisix-dashboard, the ```apisix/logs/error.log``` file shows that ```config_etcd.lua``` has been and often reports errors, and APISIX cannot update routing information
similar to the following：

[code]

**Environment:**
apisix version : v2.1
apisix-dashborad version : v

[2020-12-28 07:43] LY-GO commented on #1133
i also meet same question

[2020-12-28 07:47] juzhiyuan commented on #1133
Hello, @LY-GO @zd1990 I see you are using 2.0-rc3, but clone from the master branch, I'm curious that the master branch is going to release v2.0, not 2.0-rc3.

@idbeta  Please help to verify if this issue occurred in the master branch.

[2020-12-28 08:23] #1042 closed

[2020-12-28 08:55] pguokun commented on #1135
So this is the incompatibility between apisix v2.1 and apisix-dashboard v2.2?

[2020-12-28 09:14] juzhiyuan opened #1136 "Adding useful information to backend E2E test cases"
# Feature request

## Please describe your feature

- [x] Which test case is failed (would better support error highlighting);
- [x] Which file is this test case in?

cc @idbeta @nic-chen

[2020-12-28 11:21] starsz opened #1137 "Feat: try storage.Get in GenericStore.Get"
# Feature request

## Please describe your feature

Hello. Now we only try to get info from the cache in GenericStore.Get.
You can see this:

https://github.com/apache/apisix-dashboard/blob/822aa6d1f40c5eb5bfef00030304eb5b619a9eea/api/internal/core/store/store.go#L139-L146

It's not perfect.

## Describe the solution you'd like

IMO, I think that we need to try `storage.Get` if it can't found in t

[2020-12-28 11:27] juzhiyuan commented on #1137
oh yes!!!

[2020-12-28 11:28] juzhiyuan commented on #1137
If we couldn't find it from the cache, shall we set it to cache once we get it from Storage?

[2020-12-28 11:48] starsz commented on #1137
I think there is no need. Because this will be done in `etcd` watch.

https://github.com/apache/apisix-dashboard/blob/822aa6d1f40c5eb5bfef00030304eb5b619a9eea/api/internal/core/store/store.go#L113-L134

[2020-12-28 11:55] nic-chen commented on #1137
The failure is on the APISIX api. We could have a try for it.

[2020-12-28 12:09] juzhiyuan commented on #1137
APISIX API means admin api?

[2020-12-28 12:12] nic-chen commented on #1137
DP API

[2020-12-28 12:22] moonming commented on #1137
Didn't you operate etcd directly?  Why is it related to dp?

[2020-12-28 12:45] nic-chen commented on #1137
Oh, E2E test failed on DP API. The issue is about trying to fix E2E failed, the title is a bit misleading.

[2020-12-28 14:10] nic-chen commented on #1133
@LY-GO @zd1990

If you want to use `https://github.com/apache/apisix-dashboard/archive/v2.0.tar.gz`, you should read docs in branch v2.0, not master.

And I recommend to use v2.2.

[2020-12-28 14:12] membphis commented on #1098
my vote: '用户' +1

[2020-12-28 14:47] #1094 closed

[2020-12-28 14:56] liuxiran commented on #1135
hi @pguokun,I want to make sure that `apisix-dashboard v2.2` you mentioned in the issue is got from https://github.com/apache/apisix-dashboard/releases/tag/2.2

[2020-12-28 15:13] liuxiran commented on #1135
Hi @pguokun , I want to make sure that if the `apisix-dashboard v2.2` you mentioned in the issue was got from https://github.com/apache/apisix-dashboard/releases/tag/2.2 or https://github.com/apache/apisix-dashboard/tree/v2.2 instead of master branch of dashboard?

Route status is added after apisix-dashboard v2.2 released, I have checked that the branch V2.2 or the 2.2 release codes did have this

[2020-12-28 15:31] nic-chen opened #1140 "ci: Use the ginkgo framework to run E2E test cases to better display the running result information"
Currently e2e tests use the original `testing` to run, we can add a `ginkgo` framework for better displaying of the results. here is an example:

https://travis-ci.org/github/onsi/ginkgo/jobs/751622591

[2020-12-29 00:15] juzhiyuan commented on #613
https://github.com/api7/build-tools/pull/7/files

cc @nic-chen @gxthrj

[2020-12-29 02:31] tokers opened #1141 "go report card"
Use [goreportcard](https://github.com/gojp/goreportcard) to calculate the score about the manager api. The higher the score is, the more confidence users will have.

[2020-12-29 03:36] juzhiyuan commented on #658
https://github.com/dorny/paths-filter

[2020-12-29 04:09] imjoey commented on #1141
@tokers nice idea. You could assign to me if possible.

[2020-12-29 05:17] pguokun commented on #1135
I tried to reinstall apisix 2.1 and apisix-dashboard 2.2 in the master branch, but still reported the following error log:
···
2020/12/29 12:39:39 [error] 42#42: *79 [lua] config_etcd.lua:262: sync_data(): failed to check item data of [/apisix/routes] err:additional properties forbidden, found status ,val: {"id":"335013859259581286","status":1,"priority":0,"methods":["GET"],"vars":{},"hosts":["def

[2020-12-29 05:43] juzhiyuan commented on #1135
cc @idbeta

[2020-12-29 06:02] starsz opened #1143 "request help: global_rule need create_time and update_time"
### Issue description

Now, the global rule schema doesn't have `create_time` and `update_time`.
I think we can add it.

https://github.com/apache/apisix/blob/9b5fa0b4c49c1eb1a12a21f5ced32a456c7c39f1/apisix/schema_def.lua#L686-L694

### Environment

* apisix version (cmd: `apisix version`): master
* OS: (cmd: `uname -a`)
* OpenResty / Nginx version: (cmd: `nginx -V` or `openresty -V`)

[2020-12-29 06:16] nic-chen commented on #1135
@pguokun please confirm your APISIX is using master branch， and restart successfully

[2020-12-29 06:28] starsz commented on #1130
Got it. I had reproduced in my local environment.

[2020-12-29 06:49] juzhiyuan commented on #715
done?

[2020-12-29 06:49] juzhiyuan commented on #698
update?

[2020-12-29 06:49] #607 closed

[2020-12-29 07:01] #532 closed

[2020-12-29 07:10] pguokun commented on #1135
I am sure, I am using version 2.1 of the master branch, and successfully restarted

![图片](https://user-images.githubusercontent.com/15042141/103265012-83a78900-49e7-11eb-9867-811ece2a696c.png)

[2020-12-29 07:22] membphis commented on #715
ping @gxthrj

[2020-12-29 07:48] kinbod opened #1144 "插件配置项里面，必填项没有默认参数，导致配置提交失败"
# Bug report

## Describe the bug

插件配置项里面，启用插件，然后关闭插件后，发送给后端的json数里面仍然包含已关闭插件的属性，由于某些插件的配置属性里面包含必填项，最终导致整个配置无法提交

## How to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
(root): key is required
(root): time_window is required

Must validate one and only one schema (oneOf)
(root): whitelist is required

## Expected behavior

A clear and concise description of w

[2020-12-29 07:58] juzhiyuan commented on #1144
This issue is resolved in the coming v2.3, please use the master branch currently.

[2020-12-29 07:58] #1144 closed

[2020-12-29 08:05] imjoey opened #1145 "bug(Dockerfile): use the code from master branch for building docker image"
# Bug report

## Describe the bug

The `Dockerfile` in master branch seems using the code from a specific release for building docker image. I guess we should fetch the code from master branch in `Dockerfile` defined in master branch. The code from a release can only be used in a `Dockerfile` defined in corresponding release.

Any feedback is welcome. Thanks.

[2020-12-29 08:11] juzhiyuan commented on #609
Just sent the discussion mail

[2020-12-29 08:26] imjoey commented on #1145
I've proposed a PR #1146 to fix this. Feel free to review, only if we can reach a consensus. Much appreciated. 😄

[2020-12-29 08:41] nic-chen commented on #1135
APISIX 2.1 doesn't  support `status` on  route. It will be support next version. also you can use code in master branch.

here is the pr:
https://github.com/apache/apisix/pull/2943

[2020-12-29 09:53] #640 closed

[2020-12-29 10:02] #1141 closed

[2020-12-29 10:03] #922 closed

[2020-12-29 10:10] idbeta opened #1147 "bug: manager-api -p doesn't work"
# Bug report

## Describe the bug

manager-api `-p` parameter doesn't work, it will prompt  `panic: fail to read configuration: ./conf/conf.yaml`

1. move `output` to another dir
2. use `ln -s` create manager-api soft links to `/usr/bin`
3. use manager-api -p `/path/to/output`
4. it will prompt  `panic: fail to read configuration: ./conf/conf.yaml`

@nic-chen

[2020-12-29 10:22] nic-chen commented on #1147
@tokers

seems `cobra` doesn't works here:
https://github.com/apache/apisix-dashboard/blob/master/api/cmd/managerapi.go#L114

[2020-12-29 10:33] #1137 closed

[2020-12-29 10:33] starsz commented on #1137
The e2e test fixed in https://github.com/apache/apisix-dashboard/pull/1139

[2020-12-29 10:51] tokers commented on #1147
![image](https://user-images.githubusercontent.com/10428333/103278553-b57c1800-4a06-11eb-97b7-732789f61185.png)

The conf path will append the `conf/conf.yaml`, it's not the filename of configuration, but the super path of it.

We may need to change it, it's not so intuitive.

[2020-12-29 11:47] imjoey commented on #1145
Since https://github.com/apache/apisix-dashboard/pull/1146 and https://github.com/apache/apisix-docker/pull/108 are already merged, I would say this issue has been fixed. Will close this. Feel free to reopen this if anything is unexpected.

[2020-12-29 11:47] #1145 closed

[2020-12-29 12:06] juzhiyuan commented on #1147
Will this be addressed in M2.3?

[2020-12-29 13:10] membphis commented on #1147
confirm

[2020-12-29 13:11] membphis commented on #1070
@juzhiyuan please update the status of this issue

[2020-12-29 13:14] juzhiyuan commented on #1147
Who will take this?

[2020-12-29 13:15] juzhiyuan commented on #1070
will be done after #820 tomorrow.

[2020-12-29 13:18] membphis commented on #1147
@nic-chen @tokers What is your opinion?

[2020-12-29 13:20] nic-chen commented on #1147
yes，we need to fix in M2.3

[2020-12-29 13:22] membphis commented on #1113
@idbeta please provide a link about your example, it is easier to view

[2020-12-29 13:22] membphis commented on #1113
@LiteSun Need your help ^_^

[2020-12-29 13:36] membphis commented on #1117
@nic-chen @idbeta

[2020-12-29 13:40] membphis commented on #1136
@idbeta @nic-chen what is your opinion?

[2020-12-29 13:42] membphis commented on #1136
related issue? https://github.com/apache/apisix-dashboard/issues/1140

if yes, then we can close one of them

[2020-12-29 13:43] membphis commented on #1140
can we implement this issue at milestone `2.3`? or `2.4`?

[2020-12-29 13:46] membphis commented on #1130
if it is a bug, we should fix it asap. can we fix it at milestone `2.3`? @starsz

[2020-12-29 13:56] membphis commented on #1143
why do we need to export this field?

[2020-12-29 14:08] umelly opened #1148 "bug: edit route param `Redirect : Enable HTTPS`, javascript raise exception"
# Bug report

## Screenshots

<img width="2080" alt="image" src="https://user-images.githubusercontent.com/973111/103289482-4ad8d580-4a22-11eb-906f-8386e781535a.png">

[2020-12-29 14:18] starsz commented on #1143
IMO, if we have `create_time` and `update_time` in `global rules` will be useful for developers. We can know the `global rules` create time and update time.

Besides, `route`, consumer` and `services`  all have both fields.

[2020-12-29 14:20] starsz commented on #1130
Yes, we can. It's not very hard to fix.

[2020-12-29 14:21] umelly commented on #1148
apisix-dashboard: v2.2
apisix: v2.1
browser: chrome/safari lastest version

[2020-12-29 14:24] membphis commented on #1143
only need to read this field for API caller, all right?

[2020-12-29 14:40] juzhiyuan commented on #1148
Hi, @umelly This issue maybe fixed in the master branch, please have a try.

[2020-12-29 14:53] nic-chen commented on #1117
good idea. welcome PR for this feature.

[2020-12-30 01:32] starsz commented on #1143
Right.

[2020-12-30 01:37] nic-chen commented on #1140
duplicate with #1136

[2020-12-30 01:37] #1140 closed

[2020-12-30 01:37] nic-chen commented on #1136
yes, it's duplicate.
we can use the ginkgo framework to improve the readability of e2e test information.

[2020-12-30 01:39] nic-chen commented on #1136
since bug of e2e failed has fixed, we could put it to M2.4

[2020-12-30 01:54] idbeta commented on #1113
ok, I have added the link.

[2020-12-30 01:57] idbeta commented on #1136
I agree with @juzhiyuan .

[2020-12-30 02:55] LiteSun opened #1149 "Bug: get 'key: xxxx is conflicted' message when PUT global rules"
# Bug report

## Describe the bug
Get 'key: xxxx is conflicted' error message when PUT global rules

## Expected behavior
PUT `global_rules` successfully

## Screenshots
![image](https://user-images.githubusercontent.com/31329157/103326795-ee5ed000-4a8c-11eb-80c3-8b2abe633f8a.png)
![image](https://user-images.githubusercontent.com/31329157/103326807-fcacec00-4a8c-11eb-87d8-88df34274cdf.png)

## Sy

[2020-12-30 03:18] QiuQiu0034 opened #1150 "plugin compose support Edge browser"
plugin compose doesn't support Edge browser

The Edge and Chrome are both based on Chromium.
maybe the edge will work well

[2020-12-30 05:33] imjoey commented on #1133
Hi @zd1990 , previously there's bug that the `Dockerfile` in master branch is trying to fetch `v2.2` source code. It has been fixed via https://github.com/apache/apisix-dashboard/pull/1146 , you could rerun the commands with the latest code from master branch. That already works for me now. Thanks.

[2020-12-30 05:47] tokers opened #1154 "Resource create request should return the ultimate data"
# Feature request

## Please describe your feature

When create resources like Route without specifying id, the ultimate data should be returned, otherwise people cannot reference the just created resource by id.

![image](https://user-images.githubusercontent.com/10428333/103332608-8f598500-4aa5-11eb-856e-c2a23fd97740.png)

## Describe the solution you'd like

Output the data in the response.

[2020-12-30 06:13] imjoey commented on #1098
Sorry for this late response. `应用` +1 for me.

My reasons are as follows:

- `Consumer` actually represents a program, which will take with an auth key for emitting client calls to the `Route`. The word `用户` probably indicate that it's a **person**.
- The word `用户` may be confusing once we add support for multi-tenant (`RBAC` in other words).

In Aliyun API Gateway, a user can login in and access

[2020-12-30 06:31] umelly commented on #1148
<img width="2191" alt="image" src="https://user-images.githubusercontent.com/973111/103334210-89ff3900-4aab-11eb-8981-b28e6e6c7f06.png">

haven't fix the bug

[2020-12-30 06:37] imjoey commented on #1077
Hi @juzhiyuan @liuxiran , since #1091 and #1092 had been merged, so shall we close this issue?

[2020-12-30 06:48] liuxiran commented on #1077
Thanks for your reminder @imjoey ,  another pr for update the debug api error msg is on the way, I will finish it ASAP

[2020-12-30 06:58] umelly commented on #1148
v2.2 to the lastest master branch, when visist uri `/routes/list`, I got backend err

2020-12-30T14:20:16.855+0800	WARN	store/store.go:142	data not found by key: 335047112842544855
2020-12-30T14:20:16.855+0800	WARN	store/store.go:142	data not found by key: 335061613004457687
2020-12-30T14:20:16.855+0800	WARN	store/store.go:142	data not found by key: 335062720216827607
2020-12-30T14:20:16.855+0800

[2020-12-30 06:59] juzhiyuan commented on #1133
great, let's close this first, feel free to reopen if needed.

[2020-12-30 06:59] #1133 closed

[2020-12-30 07:01] juzhiyuan commented on #1148
Hi @umelly, I need more information to debug this issue, could you please add my WeChat (jushaoyao)?

[2020-12-30 07:03] juzhiyuan commented on #1098
Let's wait for another 72 hours to have a final conclusion :)

[2020-12-30 07:05] juzhiyuan commented on #1150
Yep, but we have a long way to support other browsers currently 😂 Would you like to have a try on this issue? We could help you to resolve this.

[2020-12-30 07:13] imjoey commented on #1098
@juzhiyuan  Many thanks for your kindness.

[2020-12-30 07:22] #613 closed

[2020-12-30 08:05] imjoey opened #1155 "bug(cmd): Inaccurate output Version number of manger-api command"
# Bug report

## Describe the bug

When running `manager-api` command generated by the latest code from `master` branch, the output `Version` is `2.2`, which is obviously inaccurate. The log shows as below:

[code]

## How to Reproduce

1. Fetch the latest code from master branch;
2. Run `make build`;
3. Go into `output` directory and run `./manager-api`;
4. See error;

## Expected behavior

The `

[2020-12-30 08:25] juzhiyuan commented on #1155
I agree, it's really helpful in the develop branch. @tokers @membphis  right?

[2020-12-30 08:27] starsz commented on #1127
@nic-chen, I had checked the apisix. And only `global_rule`, `routes`, `services`, `ssl`, `upstream`.

Do `consumer` need the `Patch` method?

[2020-12-30 08:32] starsz commented on #1155
Agree +1. PR is welcomed.

[2020-12-30 08:41] LiteSun opened #1156 "test: add FE e2e test for global plugin"
# Feature request

## Please describe your feature
After #1106 merged, we need to add  e2e test for the global plugin.

[2020-12-30 08:41] LiteSun commented on #1156
cc @idbeta

[2020-12-30 08:46] imjoey commented on #1155
@juzhiyuan @starsz OK, thanks for your feedback. I can tackle this. 😃

[2020-12-30 09:07] imjoey commented on #989
@Caelebs @juzhiyuan , I can NOT reproduce this error. I'm able to successfully build the docker image with the latest code. In the meantime, your logs shows out that the root cause may be lack of valid Python installation. Could you please rerun `docker build` after install Python? Thanks.

[2020-12-30 09:07] #820 closed

[2020-12-30 09:20] juzhiyuan opened #1158 "UI: incorrect page width in Plugin Market page"
# Bug report

## Describe the bug

Too width to see all contents, unless scroll horizontal.

## How to Reproduce

1. Go to Consumer module;
2. Create a Consumer;
3. We will see incorrect width on the Step2.

## Expected behavior

Don't show the scrollbar.

## Screenshots

![image](https://user-images.githubusercontent.com/2106987/103341935-2aad2300-4ac3-11eb-8ec5-8229ef058201.png)

## System infor

[2020-12-30 09:23] json7 opened #1159 "通过apisix访问 manage-api(作为upstream), 偶发性的403?"
# Bug report

##
1. enable_admin: false 关闭 admin api
2. 启动 dashboard: apisix-dashboard 运行起来后,listen 9001.  然后基于localhost:9001的方式 访问web管理系统, 然后创建一个upstream(就是manage-api 自己 127.0.0.1:9001), 再去创建路由( /* 全部匹配 )
3. curl 127.0.0.1:9080/apisix/admin/upstreams 偶发性403 (理论上这应该转发到manage-api上,实时流量被apisix拦住了)

[2020-12-30 09:28] starsz opened #1160 "Feat: remove the etcd dependency in the unit test"
# Feature request

## Please describe your feature

Now, `route`, `ssl` `services`  and `upstream` module are use etcd to store info.
I think we should remove the etcd dependency in the unit test.

## Describe the solution you'd like

Use store.MockInterface{} instead of using the etcd.

- [ ] route
- [ ] ssl
- [ ] services
- [ ] upstream

[2020-12-30 09:28] starsz opened #1161 "Feat: remove the etcd dependency in the unit test"
# Feature request

## Please describe your feature

Now, `route`, `ssl` `services`  and `upstream` module are use etcd to store info.
I think we should remove the etcd dependency in the unit test.

## Describe the solution you'd like

Use store.MockInterface{} instead of using the etcd.

- [x] route
- [x] ssl
- [x] services
- [x] upstream

[2020-12-30 10:01] #1160 closed

[2020-12-30 10:04] juzhiyuan commented on #989
Thanks for your verification, I could see this error, but it's not urgent 😂 it won't effect the fe building.

[2020-12-30 10:07] starsz commented on #1159
Hello, please provide your apisix and apisix-dashboard version.

I think the reason is the apisix doesn't sync data from etcd in time.
Maybe you can check the `resync_delay` option in apisix config.

[2020-12-30 10:30] json7 commented on #1159
不是的.我手动查看过etcd中的数据,并且尝试N次apisix restart. 还是无效.
当然我已经解决,就是将 manage-api中的 url前缀 "apisix/admin" 修改为 "apisixbug/admin" . 问题已经解决.  目测来看这个bug不是dashboard的,而是apisix的

[2020-12-30 10:37] imjoey commented on #989
@juzhiyuan that's kind of weird. Will investigate on it. Thanks.

[2020-12-30 11:04] jinusuresh opened #1163 "Langauge selection issue in Dashboard"
# Bug report
Despite setting the language to English , the language is not getting set in Dashboard , for example the create Route screen , first screen shows in English but the following screen is in Chinese , a screen shot attached
## Describe the [bug](url)
![SharedScreenshot](https://user-images.githubusercontent.com/51432247/103347396-e7e84c80-4abc-11eb-848a-2a1c5d697094.jpg)

Despite setting

[2020-12-30 11:06] nic-chen commented on #1127
sure

[2020-12-30 12:33] juzhiyuan commented on #1163
Hi, I just checked the latest codes from the master branch, but couldn't produce this issue.

cc @idbeta Please have a try on the Windows, thanks!

![image](https://user-images.githubusercontent.com/2106987/103351421-217d7f80-4ade-11eb-9dc1-90ef324a43ca.png)

[2020-12-30 12:33] juzhiyuan commented on #1159
cc @spacewander Please take a look.

[2020-12-30 14:19] membphis opened #1165 "tip: display a warning message on the dashboard if the user is not using the recommended APISIX + Dashboard version"
this is the recommended way.

![image](https://user-images.githubusercontent.com/6814606/103356788-9eaff100-4aec-11eb-807f-07cb0f0923d5.png)

If the user does not use it in this way, we can display a warning message on the dashboard.

It might be a good way to display it on the status page.

related issue: https://github.com/apache/apisix-dashboard/issues/1148

[2020-12-30 14:59] tokers commented on #1159
What's the response body like about this 403?

[2020-12-30 15:03] tokers commented on #1161
Agree +1.

[2020-12-30 15:06] #1149 closed

[2020-12-30 15:18] json7 commented on #1159
没有响应body, http 协议 status是403

[2020-12-30 15:21] json7 commented on #1159
复现方法:
关闭admin api, 直接curl  ip:9080/apisix/admin/upstreams, 10次请求以内就会出403.  9443https不会出现, 只有http 9080会出现

[2020-12-30 15:23] json7 commented on #1159
![Uploading image.png…]()

[2020-12-30 15:24] json7 commented on #1159
![image](https://user-images.githubusercontent.com/3734822/103363503-336b1c80-4af6-11eb-8ca0-6ddd31fcb353.png)

[2020-12-30 15:27] json7 commented on #1159
![image](https://user-images.githubusercontent.com/3734822/103363626-83e27a00-4af6-11eb-98a1-5ae955965a85.png)

[2020-12-30 15:42] json7 opened #1167 "When creating a route, the domain name is v1_test-api.xxx.com and it cannot pass the verification json schema verification"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## How to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

Add screenshots to help explain your problem if applicable.

## System information

- OS: [e.g. macOS, Windows]
- B

[2020-12-30 16:44] juzhiyuan commented on #1167
cc @idbeta

[2020-12-31 00:16] juzhiyuan commented on #1167
I just checked this host is forbidden by ManagerAPI, let's @nic-chen @starsz take a look.

![image](https://user-images.githubusercontent.com/2106987/103387760-79e56900-4b40-11eb-8965-9facddda4475.png)

[2020-12-31 00:59] #823 closed

[2020-12-31 01:05] nic-chen commented on #1167
We don't support `_` in host or hosts now.

Top-level domains do not support `_`.

But some domain name registrars seem to support `_` for subdomains.

Do we need to support it ?

cc @membphis @spacewander

[2020-12-31 01:30] spacewander commented on #1159
Please provide the error log when 403 happened. Since the error log will be large, you should upload the whole one instead of paste it here.

[2020-12-31 01:30] juzhiyuan opened #1168 "feat: adding Icons for plugins"
# Feature request

## Please describe your feature

 adding Icons for plugins

[2020-12-31 01:42] spacewander commented on #1167
Sure.

[2020-12-31 02:42] spacewander commented on #1159
Remember to decrease the error_log level to "info" before providing the error log.

[2020-12-31 04:02] membphis commented on #1167
@nic-chen you need to sync the latest JSON schema from APISIX

related PR merged: https://github.com/apache/apisix/pull/3165

[2020-12-31 05:13] liuxiran commented on #1077
As all prs has been merged, close this issue, feel free to reopen it when you need, thanks

[2020-12-31 05:13] #1077 closed

[2020-12-31 08:46] idbeta opened #1172 "bug: plugin list shows the plugins which are disabled in config-default.yaml"
# Bug report

## Describe the bug

the plugin list shows the plugins which are disabled in `config-default.yaml`, so they are invalid after setting.
It is recommended not to display them, or prompt need to enable the plugin first.
like `log-rotate`, `error-log-logger`, `node-status`, `skywalking`, `server-info`

![image](https://user-images.githubusercontent.com/7396835/103402182-f0a55500-4b86-11e

[2020-12-31 08:53] idbeta opened #1173 "request help: server info page does not display any information, can it be displayed by default"
# Feature request

## Please describe your feature

server Info page does not display any information, can it be displayed by default?

[2020-12-31 08:58] idbeta opened #1174 "bug: when setting the plugin in codemirror, an error is prompted."
# Bug report

## Describe the bug
when create route or setting plugin in `Plugin List`, after setting the plugin in codemirror, submit it,  an error is prompted.
![image](https://user-images.githubusercontent.com/7396835/103402922-4da20a80-4b89-11eb-89cf-a206ee471609.png)

[2020-12-31 09:10] idbeta opened #1175 "bug: if there is only one plugin in the plugin list, an error will be prompted when deleting it."
# Bug report

## Describe the bug

 if there is only one plugin in the plugin list, an error will be prompted when deleting it.

## How to Reproduce

1. Go to `plugin list` page
2. enable **one** plugin, like "prometheus"
3. deleting it by `Delete` button
4. See error

![image](https://user-images.githubusercontent.com/7396835/103403403-e4bb9200-4b8a-11eb-8d69-3f45daef2ead.png)

[code]

[2020-12-31 09:28] json7 commented on #1159
Yes, it's about the openresty version. I went back to 1.17 and it's normal

[2020-12-31 09:28] #1159 closed

[2020-12-31 09:29] idbeta opened #1176 "bug: server info page shows `create_time` and `update_time`, which are not the content returned by the plugin"
# Bug report

## Describe the bug

the server info page shows `create_time` and `update_time`, which are not the content returned by the plugin (server-info).

`{"code":0,"message":"","data":{"rows":[{"id":"9b1cfaa8-b33c-4eb9-912e-f2dbe267ece4","create_time":0,"update_time":0,"last_report_time":1609406690,"up_time":1920,"boot_time":1609404770,"etcd_version":"3.4.0","hostname":"xxxx","version":"2.1

[2020-12-31 09:47] nic-chen commented on #1167
OK

[2020-12-31 11:44] idbeta opened #1178 "bug: the date and time displayed on server info page are not human readable"
# Bug report

## Describe the bug

the date and time displayed on `server info` page are not human readable

![image](https://user-images.githubusercontent.com/7396835/103981552-f91c1200-51bc-11eb-9336-aa29821731b0.png)

[2020-12-31 15:15] idbeta commented on #1163
I tried the `master` branch and `v2.2` branch in windows7, but the problem cannot be reproduced.

[2020-12-31 15:51] juzhiyuan commented on #1163
got it, thanks.

@jinusuresh Please have a try on the master branch with APISIX master, if this issue still occurred, we could reopen this issue.

[2020-12-31 16:45] jinusuresh commented on #1163
Hi ,

This is what used after taking the code from master branch on Ubuntu 20.x

docker build --build-arg APISIX_VERSION=2.1 --build-arg APISIX_DASHBOARD_VERSION=v2.2 -t apache/apisix-dashboard:test5 -f ./all-in-one/apisix-dashboard/Dockerfile .

Thanks,
Jinu Sureshbabu

From: 琚致远<mailto:notifications@github.com>
Sent: Thursday, December 31, 2020 9:21 PM
To: apache/apisix-dashboard<mailto:apisix-d

[2020-12-31 16:46] jinusuresh commented on #1163
Also did this to run

docker run -v `pwd`/all-in-one/apisix/config.yaml:/usr/local/apisix/conf/config.yaml -v `pwd`/all-in-one/apisix-dashboard/conf.yaml:/usr/local/apisix-dashboard/conf/conf.yaml -p 19080:9080 -p 12379:2379 -p 19000:9000 -d apache/apisix-dashboard:test5

Thanks,
Jinu Sureshbabu

From: Jinu S - ASISTA<mailto:jinu.s@asista.com>
Sent: Thursday, December 31, 2020 10:14 PM
To: apache/

[2020-12-31 16:52] jinusuresh commented on #1163
I am still getting the same issue , first screen English and second screen Chinese. I can help with any other info you might need to resolve this

Thanks,
Jinu Sureshbabu

From: Jinu S - ASISTA<mailto:jinu.s@asista.com>
Sent: Thursday, December 31, 2020 10:16 PM
To: apache/apisix-dashboard<mailto:reply@reply.github.com>; apache/apisix-dashboard<mailto:apisix-dashboard@noreply.github.com>
Cc: Menti

[2021-01-01 00:13] juzhiyuan commented on #1163
@idbeta Please take a further deep search on this issue.

[2021-01-01 00:13] juzhiyuan commented on #1178
Why is this a bug?

[2021-01-01 00:18] juzhiyuan commented on #1173
If that plugin is not enabled, there doesn't have any information indeed. We have a tip on this.

![image](https://user-images.githubusercontent.com/2106987/103431393-f6904a00-4c09-11eb-988a-aa396d663d55.png)

[2021-01-01 00:18] #1173 closed

[2021-01-01 09:00] tokers commented on #1178
We may need to convert them to a human friendly format in page.

[2021-01-02 01:11] qwxingzhe commented on #1117
@nic-chen I'm going to finish it. Here's my idea:

1. Save the schema to etcd when APISIX restarts;
2. Where APISIX uses schema, it dynamically reads from etcd.

[2021-01-02 12:45] nic-chen commented on #1117
@qwxingzhe
Thanks for your research!

We have discussed schema synchronization for a long time in the past few months and finally reached an agreement:

Instead of saving the schema to ETCD, export the schema in APISIX and copy it to the dashboard for use.

You can search to see related issues and maillist discussions.

If you could optimize base on the agreement, that would be great.

[2021-01-02 22:03] #1155 closed

[2021-01-03 10:26] hongbinhsu opened #1182 "Dockerfile source code is COPY from the current version instead of remote download"
# dockerfile 源码从当前版本COPY而非远程下载

##
docker build时，每次都需要远程下载文件，以及可能存在对应版本与分支版本不一致的情况

## Describe the solution you'd like
使用 COPY . /usr/local/apisix-dashboard 即可完成；即不用每次修改 dockerfile也节省了下载时间

## Describe alternatives you've considered

FROM golang:1.14 as api-builder
升级为
FROM golang:1.15 as api-builder

FROM node:14-alpine as fe-builder
升级为
FROM node:15-alpine as fe-builder

## Additional context

[2021-01-03 11:07] juzhiyuan commented on #1182
The Dockerfile under this repo would possibly be removed once we have published release images to Dockerhub.

[2021-01-03 12:17] chaosBreaking opened #1183 "Object(...) is not a function"
apisix-dashboard: v2.1分支
apisix: 2.1

问题

除了设置和监控两个tab以外的tab打开都显示Something went wrong. 错误内容是：Object(...) is not a function

[2021-01-03 12:20] chaosBreaking commented on #1183
![image](https://user-images.githubusercontent.com/23056897/103478363-205f9180-4e01-11eb-96ca-f367cadab5d2.png)

[2021-01-03 13:47] juzhiyuan commented on #1148
fixed.

[2021-01-03 13:47] #1148 closed

[2021-01-03 13:52] imjoey commented on #1147
+1 for same issue.

After digging deeper into this issue, I found that `conf.WorkDir` would always be `.`, cause the config initialization process defined in the `init()` function under `github.com/apisix/manager-api/internal/log` package would be forever executed in prior to setting Cobra command flags.

So I could get through with this via commenting out https://github.com/apache/apisix-dashboar

[2021-01-03 14:00] juzhiyuan commented on #1183
@chaosBreaking Hi, this issue is fixed in the v2.2 and later[1], could you have a try?

BTW, we should maintain an LTS version indeed, so I just sent a mail[2], welcome to discuss with us.

[1] https://apisix.apache.org/downloads/
[2] https://lists.apache.org/thread.html/r56c7ecc17ba06d4c1afc99cd9e823a12eaadc495030f99deb541c555%40%3Cdev.apisix.apache.org%3E

[2021-01-03 14:00] #1183 closed

[2021-01-03 14:38] nic-chen commented on #1147
Hi, @imjoey

Because we did not have E2E testing before, it is a quick solution to integrate ETCD directly in the unit test.

PR is welcome. You could just fix this bug, because we need more time to completely remove the integration of ETCD in the unit test.

[2021-01-03 14:45] juzhiyuan commented on #1147
How to fix this bug in M2.3? any steps?

[2021-01-03 15:07] imjoey commented on #1147
@nic-chen thanks for your guide. OK, I will propose a PR to fix this first.

[2021-01-04 00:36] liuxiran commented on #1135
Hi @pguokun , have your problem been solved? looking for your reply 😊

[2021-01-04 01:11] spacewander commented on #1176
Is the create_time / update_time necessarily in this case? Who cares about the create / update time of server info which only used to display? The life cycle info is not so useful.

[2021-01-04 01:14] juzhiyuan commented on #1176
Agree, and server info page doesn’t need those 2 fields indeed.--
来自 琚致远

[2021-01-04 01:31] juzhiyuan commented on #1174
@liuxiran @nic-chen Hello, please take a look at this issue. This issue happened due to different schema for Route and Consumer.

[2021-01-04 01:33] juzhiyuan commented on #1172
ping @nic-chen

[2021-01-04 01:35] juzhiyuan commented on #1161
If we need to resolve this issue in 2.3 or 2.4?

[2021-01-04 01:36] juzhiyuan commented on #1143
conclusion and solution?

[2021-01-04 01:40] juzhiyuan commented on #1127
not urgent, the frontend doesn't need this method.

[2021-01-04 01:41] juzhiyuan commented on #1126
- [ ] Public Selector;
- [ ] Public Functions;
- [ ] Public Texts;

[2021-01-04 01:46] juzhiyuan commented on #1098
After consideration according to the above comments, let's use `应用` for `Consumer`.

[2021-01-04 01:47] juzhiyuan commented on #1085
any update?

[2021-01-04 01:50] juzhiyuan commented on #1070
Will do it this afternoon.

[2021-01-04 01:51] #1045 closed

[2021-01-04 01:52] juzhiyuan commented on #1043
This CI is staled due to Action limitation.

[2021-01-04 01:52] #1043 closed

[2021-01-04 01:53] juzhiyuan commented on #1033
done?

[2021-01-04 01:53] #997 closed

[2021-01-04 01:53] nic-chen commented on #1174
According to https://github.com/apache/apisix-dashboard/issues/529 .

I think we should  not config the auth plugins in route, service or global rule.

[2021-01-04 01:54] juzhiyuan commented on #989
not urgent, close this.

[2021-01-04 01:54] #989 closed

[2021-01-04 01:54] juzhiyuan commented on #966
done?

[2021-01-04 01:55] #943 closed

[2021-01-04 01:56] starsz commented on #1143
Add create_time and update_time in the `global rule` like `route`.

[2021-01-04 01:58] spacewander commented on #1085
APISIX already updated for this feature

[2021-01-04 02:00] liuxiran opened #1185 "Bug: missed Version and Githash when do `make api-run`"
# Bug report

## Describe the bug

when start manager-api using `make api-run`, version and githash fields are empty in command line.

## How to Reproduce

1. update dashboard to lastest master branch
2. use `make api-run` to run manager-api
3. view the info in command line
4. Version field and Githash field are empty.

## Screenshots
![2021-01-04 09-48-56屏幕截图](https://user-images.githubuserconten

[2021-01-04 02:23] starsz commented on #1161
I think it's a feature. So we may resolve it in 2.4.

[2021-01-04 02:23] moonming commented on #1113
ping @LiteSun

[2021-01-04 02:44] idbeta commented on #1174
but the `Plugin List` page  is not `global rule`, can’t enable `auth plugins` in it, will make others strange.

[2021-01-04 02:48] juzhiyuan commented on #935
The frontend doesn't limit this action.

[2021-01-04 02:48] juzhiyuan commented on #935
@nic-chen Does the manager-api support this?

[2021-01-04 02:50] juzhiyuan commented on #821
Good first issue for apisix-dashboard indeed.

[2021-01-04 02:50] idbeta commented on #1173
This is too complicated for ordinary users, I think it should be displayed by default.

[2021-01-04 02:51] juzhiyuan commented on #758
done or ?

[2021-01-04 02:52] juzhiyuan commented on #741
in 2.4 or 2.5?

[2021-01-04 02:53] juzhiyuan commented on #720
done?

[2021-01-04 02:53] nic-chen commented on #935
Manager API doesn't limit too.

[2021-01-04 02:53] #935 closed

[2021-01-04 02:54] nic-chen commented on #720
yes, and we have E2E test for it now.

[2021-01-04 02:54] #720 closed

[2021-01-04 02:55] juzhiyuan commented on #671
done?

[2021-01-04 02:55] #656 closed

[2021-01-04 02:56] #639 closed

[2021-01-04 02:57] juzhiyuan commented on #611
This tracker issue could be closed.

[2021-01-04 02:57] #611 closed

[2021-01-04 02:58] nic-chen commented on #1172
OK, just need to update schema.

[2021-01-04 02:59] #447 closed

[2021-01-04 03:01] juzhiyuan commented on #1174
then how to bind Consumer with Route?

[2021-01-04 03:05] juzhiyuan commented on #1174
![image](https://user-images.githubusercontent.com/2106987/103497495-a5d45780-4e7c-11eb-96e2-0cf8e89d5e69.png)

Got it, then for Route, Service and Global Rule, we only need to enable/disable Auth plugins without any configurations, right?

[2021-01-04 03:05] nic-chen commented on #966
duplicate with #1033

[2021-01-04 03:05] #966 closed

[2021-01-04 03:05] imjoey commented on #1176
@spacewander agreed. The two fields are only for recording etcd operations, meaningless for APISIX core and users. I would close the linked corresponding PR. @juzhiyuan so please let us mark this issue to `frontend`. Thanks.

[2021-01-04 03:07] juzhiyuan commented on #1174
we only need to add some tips in the frontend, tells users just enable or disable.

[2021-01-04 03:10] juzhiyuan commented on #1176
Hi @imjoey, do we need to display these 2 fields in the frontend?

[2021-01-04 03:12] imjoey commented on #1176
@juzhiyuan IMHO, no need for that, as the `boot_time` and `last_report_time` are already enough for users. 😄

[2021-01-04 03:17] juzhiyuan commented on #1173
This is disabled by default here[1], could you send a new issue about this in apache/apisix?

[1] https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L251

[2021-01-04 03:17] juzhiyuan commented on #1085
ok, waiting manager-api's update.

[2021-01-04 03:19] tokers commented on #741
I think 2.4 is appropriate.

[2021-01-04 03:20] juzhiyuan commented on #1176
fine, the frontend receives data, then parse it as key/value array, if we need to hide these 2 fields, we'd better do this in manager-api, but I think it's not needed, so just assign a Good First Issue label for it.

https://github.com/apache/apisix-dashboard/blob/v2.3/web/src/pages/ServerInfo/List.tsx#L86-L91

[2021-01-04 03:27] liuxiran commented on #1174
Agree, only enable/disable auth plugins in `Route` `Service` module is engough ^_^
but for the global rule, I'm not sure is we only enable a auth plugin, what will happen in Consumer module?

[2021-01-04 03:27] idbeta commented on #1173
ok

[2021-01-04 03:33] starsz commented on #1185
Thanks for the report.
We need to add `ldflags` in `make api-run`.

[2021-01-04 03:38] starsz commented on #1165
Agree with it.
Do this need to store the `version mapping` info in FE?

[2021-01-04 03:39] nic-chen commented on #626
fixed by #1083

[2021-01-04 03:39] #626 closed

[2021-01-04 03:40] starsz commented on #1154
Agree with it.

IMO, we need to keep the same response as apisix.

[2021-01-04 03:41] nic-chen commented on #668
duplicate with #1033

[2021-01-04 03:41] #668 closed

[2021-01-04 03:42] juzhiyuan commented on #1165
The quick way to implement this is just adding some tips in README or some places;

I would prefer adding the `x-client-version: v2.3` header when sending a request, then the backend will check if it's compatible 🤔

[2021-01-04 03:45] ShiningRush commented on #1033
I will do it this week

[2021-01-04 03:48] starsz commented on #720
@nic-chen . It means that the response from admin API and manager-api are the same?

Please have look about this https://github.com/apache/apisix-dashboard/issues/1154.

[2021-01-04 03:50] nic-chen commented on #1174
`global rule` acts like enable plugins for routes. So it's same as enable plugins in routes.

[2021-01-04 03:53] imjoey commented on #1176
@juzhiyuan  sorry for not knowing the fields are provided via backend. 😢   Agreed with you that it should be fixed in manager-api. It's easy with just two tiny changes, please allow to continue with this issue via another PR in manager-api. 😄

[2021-01-04 03:59] juzhiyuan commented on #1176
Sure 😊

[2021-01-04 04:02] starsz commented on #758
@juzhiyuan. Not done.

I review the code again. There is too much error handler.

Like:

https://github.com/apache/apisix-dashboard/blob/4f12ae6f8495a441c330415802d891a9d7d1b2d6/api/internal/handler/handler.go#L53-L68

and

https://github.com/apache/apisix-dashboard/blob/6fa6a16559a1c1d0e90de4a3277a3db6e73cb9fc/api/internal/utils/consts/api_error.go#L28-L52

I think we can design it and implement

[2021-01-04 04:11] idbeta opened #1186 "bug: route's label search is return 400"
# Bug report

## Describe the bug
the lable of route is `a:1`
when search on route, is return 400.

[code]
## How to Reproduce
![image](https://user-images.githubusercontent.com/7396835/103500387-192e9700-4e86-11eb-9f6c-2f0d33d519a4.png)

[2021-01-04 04:15] juzhiyuan commented on #1174
A little strange 🤔 If we need to create a global rule with auth plugins, we should:

1. Create a Consumer with Auth plugins;
2. Create a global rule and enable at least 1 auth plugin;

cc @membphis @spacewander May I know what's your opinion?

[2021-01-04 05:18] idbeta opened #1188 "bug: the content of create route display is truncated"
# Bug report

## Describe the bug
![image](https://user-images.githubusercontent.com/7396835/103503341-f05ecf80-4e8e-11eb-933f-445a3d122227.png)

This should be displayed as `Define API Backend Server`

[2021-01-04 05:33] starsz commented on #1186
@juzhiyuan. If only one label, it shouldn't contain ",".

Like this:
`http://127.0.0.1:9000/apisix/admin/routes?label=a:1&page=1&page_size=20`

And this:
`http://127.0.0.1:9000/apisix/admin/routes?label=a:1,b:1&page=1&page_size=20`

[2021-01-04 05:50] idbeta opened #1189 "bug: search by status on the route list page is invalid"
# Bug report

## Describe the bug
![image](https://user-images.githubusercontent.com/7396835/103504788-6d8c4380-4e93-11eb-9ba0-9dddda581e99.png)
I think the query string is wrong.
[code]

[2021-01-04 06:11] idbeta opened #1190 "bug: when enable jwt-auth plugin on dashabord, can't get the token of jwt-auth"
# Bug report

when enable jwt-auth plugin on dashabord, can't get the token of jwt-auth

A clear and concise description of what the bug is.

## How to Reproduce

1. create consumer with jwt-auth
[code]
2. get the token of jwt-auth
[code]

[2021-01-04 06:25] idbeta opened #1191 "bug: search by description on the Service List page is invalid"
# Bug report

bug: search by Description on the Service List page is invalid

![image](https://user-images.githubusercontent.com/7396835/103506853-b85c8a00-4e98-11eb-88ef-646815429505.png)

[code]

[2021-01-04 06:31] idbeta opened #1193 "bug: create service with manual fill upstream, will be error."
# Bug report

create service with manual fill upstream, will be error.
This problem will not arise if create service with select an existing upstream.
![image](https://user-images.githubusercontent.com/7396835/103507239-a8917580-4e99-11eb-9cde-d3b514b4d7b3.png)

## How to Reproduce

[code]

[2021-01-04 07:04] juzhiyuan commented on #1193
cc @nic-chen @LiteSun

[2021-01-04 07:06] LiteSun opened #1194 "test: Check for unnecessary wait in FE e2e"
# Feature request
The current e2e test case [1] has many `cy.wait()` [2] statements, we cannot change the test code because of the host environment, we need to check if the statements are required, if they are not required, remove them.

refer links:
1: https://github.com/apache/apisix-dashboard/blob/master/web/cypress/integration/upstream/create_and_delete_upstream.spec.js#L73- L84
2: https://doc

[2021-01-04 07:06] LiteSun commented on #1194
cc @idbeta @juzhiyuan

[2021-01-04 07:39] nic-chen commented on #1193
should omit `checks`, or it will fail on schema checking. @LiteSun

[2021-01-04 07:47] LiteSun commented on #1186
OK, I'll fix it.

[2021-01-04 08:06] nic-chen commented on #1191
it should be better if you can submit the request data and respond data. @idbeta

[2021-01-04 08:11] idbeta opened #1196 "bug: use online debug post a x-www-form-urlencoded data, which result is not what was expected"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## How to Reproduce

[code]
Result:
![image](https://user-images.githubusercontent.com/7396835/103514368-7129c580-4ea7-11eb-9ec9-a21133d4a132.png)

Expected result:
[code]

ping @nic-chen @liuxiran

[2021-01-04 08:48] #1175 closed

[2021-01-04 09:11] LiteSun commented on #1193
Got it.

[2021-01-04 10:21] LiteSun commented on #1191
I check it in my local environment. both FE and BE need to fix. 😂 @nic-chen

![image](https://user-images.githubusercontent.com/31329157/103525049-8f002600-4eb9-11eb-8f92-ae2f92d1becf.png)

[2021-01-04 11:19] #1113 closed

[2021-01-04 11:53] #1147 closed

[2021-01-04 11:56] juzhiyuan commented on #1191
@LiteSun you mean the manager-api should support search by desc?

[2021-01-04 12:14] chenyicai opened #1198 "can not save plugin ip-restriction blacklist"
# Bug report

## Describe the bug

When I edit the plugin （ip-restriction ） and configure blacklist, the page will display "is an invalid additional property"。
then  i can not save this configuretion;

A clear and concise description of what the bug is.

## How to Reproduce

1. Go to 'Plugin Config'
2. Click on 'ip-restriction'
3. Scroll down to 'blacklist'
4. See error

## Screenshots

Add screen

[2021-01-04 12:16] nic-chen commented on #1191
Oh, we don't support search by desc now.

[2021-01-04 12:21] nic-chen commented on #1198
@chenyicai  what's your APISIX version ?

[2021-01-04 12:26] chenyicai commented on #1198
my apisix version is v2.0

[2021-01-04 12:40] nic-chen commented on #1198
`Dashboard 2.1.1 should be used with APISIX 2.1. It is not recommended to use with other APISIX versions.`

If you can upgrade it, It is recommended to use Dashboard 2.2 and use it with APISIX 2.1 now.

[2021-01-04 12:55] agile6v opened #1199 "Change the structure of manager api will cause build failure in project apisix-docker."
# Bug report

## Describe the bug

The [structure](https://github.com/apache/apisix-dashboard/commit/cc9eb35db608142996fbba14c216181048182a1d#diff-a549989c42f7953e1c5f4ce79a9e5a5401dda0dae43897a0e1d43c69428ae49a) of the project will cause the build failure in [this](https://github.com/apache/apisix-docker/tree/master/all-in-one/apisix-dashboard) project.

Please see the [issue](https://github.com/

[2021-01-05 00:17] #1185 closed

[2021-01-05 00:17] moonming commented on #1194
I am very puzzled, why can't I just get rid of the waiting?  The official document explains very clearly, waiting is not necessary

[2021-01-05 00:22] juzhiyuan commented on #1194
I will check and update those test cases with @LiteSun today, `wait` is used too tricky just due to a different tester host.

[2021-01-05 01:27] LiteSun commented on #1191
OK, will remove search desc later.

[2021-01-05 01:56] gxthrj commented on #1199
With [build args](https://github.com/apache/apisix-docker#quick-test-with-all-dependencies-in-one-docker-container) we can build the 2.0, 2.1 version, if build from master it will be failed.

I have to set some conditional judgment in Dockerfile.

[2021-01-05 02:36] starsz commented on #1165
Now, the way to get apisix version is through `server_info`.And there is more than one apisix instance. So I think we can add an API like this `/version_check` to do the version check.
When FE called `/version_check`, the manger-api will traverse the apisix server info and give the response.

[2021-01-05 02:47] nic-chen commented on #1190
has been fixed by https://github.com/apache/apisix/pull/3185

#1195 is test cases to confirm it.

[2021-01-05 03:14] imjoey opened #1204 "bug(BE): manager-api will panic when accessing with malformed authorization string"
# Bug report

## Describe the bug

The manager-api backend will panic if the authorization string in request header is malformed.

## How to Reproduce

1. Run `make api-run` to start manager-api, with listening address `localhost:9000`;
2. Run `curl http://127.0.0.1:9000/apisix/admin/server_info -H "Authorization: Not-Valid-JWT-String"`, or just simple `curl http://127.0.0.1:9000/apisix/admin/serv

[2021-01-05 03:30] nic-chen commented on #1204
Thanks for reporting.

[2021-01-05 03:32] imjoey commented on #1204
@nic-chen I can tackle this. Pls assign to me if possible. Thanks.

[2021-01-05 03:34] Jaycean commented on #1189
@liuxiran Please Assigne to me. Thks.

[2021-01-05 03:35] nic-chen commented on #1204
sure, thanks.

[2021-01-05 05:53] imjoey commented on #1168
Hi @juzhiyuan , may I ask that what kinds of icons will be added for each plugin? Is there a plan or a design? Looking forward to your reply. Thanks.

[2021-01-05 05:54] juzhiyuan commented on #1168
Not sure, I will handle this issue those days :)

[2021-01-05 06:00] imjoey commented on #1168
@juzhiyuan will keep an eye on this. Please let @liuxiran and me know if there is anything we can do. Thanks.

[2021-01-05 07:10] imjoey opened #1208 "bug(global_rule): check if the returned global_rule list data is as expected"
# Bug report

## Describe the bug

I enabled two plugins in global scope ( also known as `global_rule` ). The json data in response from endpoint `manager-api:9000/apisix/admin/global_rules` is as follows:

[code]

The above data structure is not the same as others retuned by other interfaces. You will find the `total_size` is `1`. While what does the `id:1` mean for two plugins, does it indicate

[2021-01-05 07:20] nic-chen commented on #1208
don't quite understand, where is the second data returned?

[2021-01-05 07:26] imjoey commented on #1208
@nic-chen there are two plugins in : `cors` and `echo`. The following screenshot could be illustrated on that.

<img width="949" alt="image" src="https://user-images.githubusercontent.com/2542401/103618058-4b192980-4f6a-11eb-8680-aa11db0aeb1b.png">

[2021-01-05 07:30] nic-chen commented on #1208
I know the difference between the two data. what are the steps to reproduce?

[2021-01-05 07:35] imjoey commented on #1208
Sorry not provide the reproduce steps:

- Create two plugins on the `Plugin List` page
- Use `curl http://manager-api:9000/apisix/admin/global_rules` to fetch the global rule list

[2021-01-05 07:48] juzhiyuan commented on #1208
@imjoey Hello,  the frontend will ALWAYS use one fixed id as global_rule id, using `1` currently.

[2021-01-05 07:49] juzhiyuan commented on #1208
https://github.com/apache/apisix-dashboard/blob/master/web/src/constants.ts#L35

[2021-01-05 07:49] nic-chen commented on #1208
@imjoey   can't reproduce on my side.. could you provide more detail, please ? thanks.

[2021-01-05 07:51] juzhiyuan commented on #1208
@imjoey How about using `DEFAULT_GLOBAL_RULE_ID` as that rule's id?

[2021-01-05 07:53] #1204 closed

[2021-01-05 07:59] nic-chen commented on #1208
Sorry, It's not a problem with the returned data, just about data format.

The logic of this is really different, you could have a look the proposal:
https://github.com/apache/apisix-dashboard/issues/820

[2021-01-05 08:02] #1191 closed

[2021-01-05 08:02] #1193 closed

[2021-01-05 08:03] juzhiyuan commented on #1190
done?

[2021-01-05 08:07] imjoey commented on #1208
@juzhiyuan @nic-chen Thank you guys for the explanations. This issue is proposed only to have a confirm that if the data format is as expected. Very happy to see everything works fine.

Since I've understand the data format, so I guess `1` is also OK for me. 😄

I would close this issue, much appreciated.

[2021-01-05 08:08] #1208 closed

[2021-01-05 08:20] json7 opened #1211 "can 2.3 branch be used? Which version of apisix should it be used with"

[2021-01-05 08:22] idbeta commented on #1190
yes

[2021-01-05 08:22] juzhiyuan commented on #1211
v2.3 is still in bugfix, will be released this week.

It should be used with Apache APISIX v2.2 (https://github.com/apache/apisix/tree/v2.2 still in release process)

[2021-01-05 08:23] #1190 closed

[2021-01-05 08:23] json7 commented on #1211
thanks

[2021-01-05 08:23] #1211 closed

[2021-01-05 08:43] #1167 closed

[2021-01-05 08:43] #1172 closed

[2021-01-05 08:45] nic-chen commented on #1174
ping

[2021-01-05 09:11] spacewander commented on #1174
The auth plugin is all for selecting a consumer. It is a noop if we don't have any consumer. Also the route configuration for auth plugin is usually empty.

[2021-01-05 09:20] juzhiyuan commented on #1174
fine, then for Route, Service, and GlobalRule, we only disable/enable auth plugins, right? 🤔

[2021-01-05 10:28] idbeta opened #1213 "The process of creating routes using dashboard needs improvement"
# Bug report

Now, upstream is necessary when using dashboard to create a route. If service is selected, the user needs to fill in upstream twice, which is unreasonable. I drew a flowchart to express what I mean.

![image](https://user-images.githubusercontent.com/7396835/103635666-d2bf6200-4f83-11eb-9556-3e874309b1ab.png)

[2021-01-05 10:30] imjoey commented on #1176
Hi @idbeta , this issue has been fixed via #1203 . Please have a check. Thank you very much.

[2021-01-05 11:40] #1186 closed

[2021-01-05 11:41] juzhiyuan commented on #1213
This is not a bug IMHO...

[2021-01-05 11:41] #1176 closed

[2021-01-05 14:42] membphis opened #1216 "bug: module 'resty.radixtree' not found when call command `http://schema-sync.sh/`"
original comment: https://github.com/api7/lua-resty-radixtree/issues/87

ping @qwxingzhe

[2021-01-05 14:57] juzhiyuan commented on #1216
Please check ASAP to see if this issue should be fixed in M2.3

[2021-01-05 15:16] membphis commented on #1174
yes, you are right. @juzhiyuan

[2021-01-05 17:45] liuxiran opened #1217 "support debug file transfer in online debug"
# Feature request

## Please describe your feature

In the process of solving #1196, I found that the current online debug does not support debugging file transfer. It would be better to support this feature since APISIX support it.

## Describe the solution you'd like

![image](https://user-images.githubusercontent.com/2561857/103676650-4e3d0580-4fbc-11eb-9d88-3d7685c00221.png)

I would like to i

[2021-01-06 02:40] #1199 closed

[2021-01-06 04:32] #1196 closed

[2021-01-06 06:17] #1174 closed

[2021-01-06 09:13] starsz commented on #1216
OK. I had found the reason. Let me fix it.

[2021-01-06 10:02] #1189 closed

[2021-01-06 10:03] liuxiran opened #1222 "yarn start failed: dependencies were not found"
# Bug report

## Describe the bug

when I started web dev, an error occured and dashboard fe failed to started.

## How to Reproduce

1.update to latest master
2.cd web
3. yarn
4. yarn start
5. See error:
[code]

## System information

- OS: Fedora32
- node -v: v14.7.0
- yarn -v: 1.22.4
- Version: latest master branch

## Additional context

After
[code]
dashboard dev could be start successfully

[2021-01-06 10:04] juzhiyuan opened #1223 "fe: remove npm mirror from taobao"
# Feature request

## Please describe your feature

Some dependencies are using taobao as npm mirror, we have to remove them from yarn.lock.

[2021-01-06 10:17] juzhiyuan commented on #1222
maybe you could have a try:

[code]

?

[2021-01-06 10:28] imjoey commented on #1223
Nice catch. Good for non-Chinese users worldwide. 👍  Chinese users should have their own settings on mirror if needed. 😄

[2021-01-06 10:35] bzp2010 commented on #1223
* A good way to use [npmjs](https://www.npmjs.org) as modules repository.
* At the same time, we may use webpack external to separate some main modules (such as React) from the compiled products and load them from CDNs such as [jsdelivr](https://www.jsdelivr.com/), which will reduce the size of the compiled products (managed by configuration).

[2021-01-07 01:28] liuxiran commented on #1222
Thanks a lot @juzhiyuan , it can solve my problem :100:

[2021-01-07 01:28] #1222 closed

[2021-01-07 01:42] #1070 closed

[2021-01-07 02:27] #1216 closed

[2021-01-07 03:27] #1168 closed

[2021-01-07 03:34] juzhiyuan commented on #1194
Those test cases still have improvements, after discussing with @LiteSun, we are going to solve this in M2.4 first.

[2021-01-07 03:51] juzhiyuan opened #1227 "The API for fetching all plugins should return `disable` property"
# Feature request

## Please describe your feature

The data from `plugins?all=true`, only part of the data contains a `disable` property, so the FE has to hack codes.

https://github.com/apache/apisix-dashboard/blob/master/web/src/components/Plugin/PluginDetail.tsx#L62-L74

[2021-01-07 04:03] juzhiyuan opened #1229 "Architecture for Web"
# Feature request

## Please describe your feature

Here is the latest architecture for the web, we may improve its design step by step.

![image](https://user-images.githubusercontent.com/2106987/103984915-f0c6d580-51c2-11eb-9a60-64a8a0e3b30e.png)

[2021-01-07 06:13] jinusuresh commented on #1163
Hi Guys ,

Any update ?

Thanks,
Jinu Sureshbabu

From: 琚致远<mailto:notifications@github.com>
Sent: Friday, January 1, 2021 5:43 AM
To: apache/apisix-dashboard<mailto:apisix-dashboard@noreply.github.com>
Cc: Jinu S - ASISTA<mailto:jinu.s@asista.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [apache/apisix-dashboard] Langauge selection issue in Dashboard (#1163)

@idbeta<https://githu

[2021-01-07 06:30] imjoey commented on #1163
Hi @jinusuresh , good to see you and sorry for late.

It seems that your previous command specified a build argument `APISIX_DASHBOARD_VERSION=v2.2`, which would lead to use the code from `v2.2` release of dashboard, instead of the latest code from master. The default value for `APISIX_DASHBOARD_VERSION ` is `master`, so could you please take a try with the following command?

`docker build --buil

[2021-01-07 06:43] belongwqz opened #1233 "docker build fail"
# Bug report

## Describe the bug

docker build fail when build manager-api

## How to Reproduce

1. `docker build -t apisix-dashboard:2.2 --build-arg APISIX_DASHBOARD_VERSION=v2.2 .` or `docker build -t apisix-dashboard:2.2 --build-arg ENABLE_PROXY=true --build-arg APISIX_DASHBOARD_VERSION=v2.2 .`
2. when get to the "**build manager-api**" step, it fails.
3. error log is:`
go: github.com/api7/go-

[2021-01-07 06:46] imjoey commented on #1233
@belongwqz thanks for reporting. We will check ASAP.

[2021-01-07 06:51] juzhiyuan commented on #1163
This command should under the `apisix-docker` repo, right?

[2021-01-07 06:56] LLLLimbo opened #1234 "Cannot read property 'upstream_id' of undefined"
1.  I added a route in this way
`curl --location --request PUT 'http://192.168.2.102:9080/apisix/admin/routes/1' \
--header 'Content-Type: application/json' \
--header 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' \
--data-raw '{
    "uri": "/car/*",
    "upstream": {
        "service_name": "SEEINER-CAR",
        "type": "roundrobin",
        "discovery_type": "eureka"
    }
}'`

2. Then I  tried

[2021-01-07 07:01] imjoey commented on #1216
@starsz @juzhiyuan I'm afraid that this issue has not been completely fixed. With the latest code from master branch, I still got the following errors:

[code]

and

[code]

After I added these two missing module names into `fake_module_list` variable. Everything works fine. So please have a check, if it's a bug,  I would commit a PR to fix that. Thanks.

[2021-01-07 07:26] fukiki opened #1236 "bug: Online Debug can not use key-value to enter the integer params"
# Bug report

## Describe the bug

When Online Debug, using key-value to enter `Header Params`, the params validation failed.
![apisix-bug1](https://user-images.githubusercontent.com/59835099/103863127-391ac080-50fb-11eb-97ba-ba15e96c91f3.png)

I enable plugin `request-validation`, the headers and body data will be validated. The schema for request-validation plugin is as follows:
[code]

## How t

[2021-01-07 07:46] juzhiyuan commented on #1233
cc @idbeta

[2021-01-07 07:50] imjoey opened #1237 "bug: Failed to sync schema with APISIX via schema-sync.lua"
# Bug report

## Describe the bug

I would get the following errors at running `./api/build-tools/schema-sync.sh` to sync schema definitions with APISIX.

[code]

and

[code]

After I added these two missing module names into `fake_module_list` variable. Everything works fine. So please have a check, if it's a bug,  I would commit a PR to fix that. Thanks.

I guess this bug is similar to https://g

[2021-01-07 07:54] juzhiyuan commented on #1237
cc @nic-chen  @starsz

[2021-01-07 08:04] starsz commented on #1237
Hi, @imjoey what's your apisix version.

[2021-01-07 08:06] juzhiyuan opened #1238 "sync plugins' testcases from apisix automatically"
# Feature request

## Please describe your feature

We use the dataset[1] to store plugins' valid and invalid data for the frontend's Plugin E2E test, we would better use the shell to automatically update this dataset from apisix[2] instead of updating by hand.

[1] https://github.com/apache/apisix-dashboard/blob/master/web/cypress/fixtures/plugin-dataset.json
[2] https://github.com/apache/apisix/

[2021-01-07 08:19] imjoey commented on #1237
@starsz I did not specify any argument or flag when running `./api/build-tools/schema-sync.sh`, so it was downloading `master` branch of APISIX.

[2021-01-07 09:28] starsz commented on #1237
@imjoey Thanks for reporting. It's indeed a bug.
But I think there is a better solution. We can override the `require` function like this:

[code]

[2021-01-07 09:40] imjoey commented on #1237
@starsz yep, your solution is really fantastic. Looking forward to your PR. Much appreciated. 😄

[2021-01-07 09:41] starsz commented on #1233
Hi, @belongwqz. Do you use the apisix-docker project?

[2021-01-07 10:09] juzhiyuan commented on #1237
Does this should be fixed in M2.3?

[2021-01-07 10:18] imjoey commented on #1237
@juzhiyuan , end users rarely run the script to sync schema. Meanwhile, this bug will not make any other impact on the functionality. So IMHO, this could be fixed until M2.4. Let's wait others opinions. Thanks.

[2021-01-07 14:49] starsz commented on #1237
Agree +1.

[2021-01-07 23:58] belongwqz commented on #1233
I have tried both with the same result.

[2021-01-08 00:59] belongwqz commented on #1233
I switch the `golang:1.14` image to `golang:1.15` and `ENABLE_PROXY`(only for go build), then it's OK, sorry to trouble, maybe it's something about my development environment.

[2021-01-08 00:59] #1233 closed

[2021-01-08 02:23] juzhiyuan commented on #609
https://hub.docker.com/repository/docker/apache/apisix-dashboard

Just created.

cc @liuxiran @totemofwolf

[2021-01-08 02:56] imjoey commented on #609
Hi @juzhiyuan , I noticed that currently the image is published to Azure Container Registry service triggered by every single commit. After we publish to Docker Hub, will be the Azure registry still in use? Thanks.

[2021-01-08 03:03] juzhiyuan commented on #609
Azure is used to deploying a preview website, we will still use it for a long time IMO.

[2021-01-08 03:08] imjoey commented on #609
@juzhiyuan thanks for the explanations. Sorry for not knowing much of its usage.

[2021-01-08 03:34] Caelebs opened #1241 "Cannot configure request path rewrite when creating a route using dashboard"
# Bug report

## Describe the bug

In apisix-dashboard version 2.2, is there no input box configured to request rewriting on the page? I tried the `proxy-rewrite` plugin and it is still available. The function of request rewrite is normal, but the entry of configuration request rewrite is moved to the plugin configuration page. And this configuration page is a bit cumbersome? I need to edit the pl

[2021-01-08 04:22] imjoey commented on #1241
+1 for me.

Hi @Caelebs , thanks for reporting and sorry for the inconvenience.

I'm afraid that the problem you mentioned above is just as expected. Since 2.2, the functionalities provided by plugins need to be configured at the plugin page via lines of JSON code. The proxy-rewrite plugin is one of them. 😄

[2021-01-08 04:57] liuxiran commented on #1241
We tried to use form to config the plugins according to its json schema before V2.2, but nnfortunately most of the plugins couldn't be built perfectly.

Refer to the issue https://github.com/apache/apisix-dashboard/issues/1039, we are still trying to find a way to use the form, which is more friendly to use.

Just feel free to talk about the way you are perfer to config the plugins, and welcome th

[2021-01-08 06:40] juzhiyuan commented on #987
related issue https://github.com/apache/apisix-dashboard/issues/758

[2021-01-08 06:40] #987 closed

[2021-01-08 06:42] juzhiyuan commented on #942
cc @starsz

[2021-01-08 06:45] juzhiyuan commented on #905
duplicate with #648

[2021-01-08 06:45] #905 closed

[2021-01-08 06:56] juzhiyuan commented on #671
cc @starsz

[2021-01-08 07:16] Caelebs commented on #1241
I understand, so the current version 2.2 routing configuration related page involves plugin related functions, basically moved to the plugin configuration page, the plugin is configured in json format, which has little effect on the configuration items and the plugins with small data volume. , But the function is a little more complicated, the plug-in with more configuration items, json is not ver

[2021-01-08 07:24] fukiki opened #1243 "Bug: The plugin 'redirect' cannot be enabled when editing route"
# Bug report

## Describe the bug

The plugin 'redirect' cannot be enabled in step 3 'Plugin Config' when editing route.

## How to Reproduce

1. Go to 'Route'
2. Select one route, click on 'Edit', go to step 3 'Plugin Config'
3. Select plugin 'redirect', enable plugin and add config.
![apisix-bug3](https://user-images.githubusercontent.com/59835099/103985386-ca556a00-51c3-11eb-929f-ca31cc1d8811.p

[2021-01-08 07:34] starsz commented on #671
Please assign it to me. I will improve the schema-sync.lua.

Releated: https://github.com/apache/apisix-dashboard/issues/1237.

[2021-01-08 08:19] starsz commented on #912
Hi, @juzhiyuan. I checked it, and I think it was fixed.

See line 166.

https://github.com/apache/apisix-dashboard/blob/40d8f97de8770187599ff5963617049603020e92/api/test/e2e/base.go#L165-L181

[2021-01-08 08:49] starsz opened #1246 "chore: change the type of `ExpectBody` to []string in backend e2e test"
# Feature request

## Please describe your feature

Hi, now the type of `ExpectBody` is `string` in the backend e2e test.
See: https://github.com/apache/apisix-dashboard/blob/40d8f97de8770187599ff5963617049603020e92/api/test/e2e/base.go#L177

Sometimes we need to check multiple strings (such as the list function) in the response body. So I recommend changing the type of `ExpectBody` to `[]string`.

[2021-01-08 08:53] starsz commented on #1246
Maybe change it into interface{}, and we can judge the type of it.
If the type is `string`, just check it.
If the type is `[]string`, and we need to traverse it.

[2021-01-08 08:56] imjoey commented on #1246
@starsz just want to make sure, does the `ExpectBody` of `[]string` type indicate that the response body equals to one of the items within this string array?

[2021-01-08 09:06] starsz commented on #1246
Hi, @imjoey, every item in []string should be contained in response body.

[2021-01-08 09:30] LiteSun opened #1247 "[Proposal]: Enhance plugin orchestration"
## why
Currently, our plugin orchestration has some features, but the interaction and functionality needs to be enhanced.

## how
The plugin orchestration is divided into three blocks: functional component area, drawing board area, and property configuration area, in which the functional component area contains two parts: the base node and the plugin node. As showing below:

![image](https://user-

[2021-01-08 10:46] #912 closed

[2021-01-08 12:23] imjoey commented on #1246
@starsz got you. the `interface{}` type is better, since it will keep the backward compatibility. Shall we also make the same change for the `Unexpected` field?

[2021-01-08 14:59] starsz commented on #1246
Good idea.We shoud.

[2021-01-08 16:00] liuxiran commented on #1247
The enhanced design looks more powerful and clearer than before 👏
I just want to confirm some details:
1. what does the `start node` `end node` and `Connection node` used to? Could these nodes also be configured? If so, where can we config them?
2. Could we draw two or more orchestrations once in the drawing area?
3. how to delete or replace a node which is already in the orchestration?
looking fo

[2021-01-08 23:06] imjoey commented on #1246
@starsz  pls assign this to me, if no one has taken. Thanks.

[2021-01-09 02:58] imjoey commented on #1246
@starsz @juzhiyuan thank you guys very much.

[2021-01-10 02:40] guoqqqi commented on #1158
You can assign it to me, I will try to solve it.

[2021-01-10 04:14] moonming commented on #1247
please send to mailinglist too

[2021-01-10 04:14] moonming commented on #1247
and you need refer to more RPA too

[2021-01-10 04:16] moonming commented on #1158
why we need “

How to Reproduce

Go to '...'
Click on '....'
Scroll down to '....'
See error
”？
NEVER used.

[2021-01-10 04:43] juzhiyuan commented on #1247
imove[1] is also built with X6, the same as the current proposal, but this proposal should have more inspiration from other RPAs indeed.

[1] https://github.com/imgcook/imove

[2021-01-10 04:56] juzhiyuan commented on #1158
It's an Issue template, to make authors have a guide on how to clearly describe what this Issue does (AMAP), just updated the issue description.

[2021-01-10 05:31] LiteSun commented on #1247
1. The start and end nodes are designed to give the user a clearer picture of where the plug-in orchestration begins and ends without additional configuration.
The connection nodes that are not in our plug-in orchestration, the picture is just used to show the general structure.

2. We can only draw one orchestration in the drawing area.

3. If you want to delete a plugin, you need to select the p

[2021-01-10 05:40] LiteSun commented on #1247
ok 👌

[2021-01-10 07:05] #1044 closed

[2021-01-10 09:40] guoqqqi commented on #1178
For this problem, I want to try to solve it！

[2021-01-10 10:47] #1158 closed

[2021-01-10 14:13] LiteSun opened #1255 "feature: enhance plugin config editor"
# Feature request

Enhance plugin config editor--code error indication

## Please describe your feature
Currently, our plugin editor only checks the data entered by the editor after clicking submit, which is not good for the user.
We need to indicate if the code is correct as soon as the user enters it.

![image](https://user-images.githubusercontent.com/31329157/104125076-726b5e80-538f-11eb-8e87-

[2021-01-11 06:30] fukiki opened #1260 "Bug: Document link error for plugins serverless-pre-function and serverless-pre-function"
# Bug report

## Describe the bug

Document link error for plugins serverless-pre-function and serverless-pre-function.

The right link should be: `https://github.com/apache/apisix/blob/master/doc/plugins/serverless.md`

## Screenshots
![apisix-bug6](https://user-images.githubusercontent.com/59835099/104151880-12b99580-5419-11eb-97bc-20631448b26c.png)

## System information

- OS:  macOS, Windows

[2021-01-11 06:53] juzhiyuan opened #1262 "release workflow"
**Workflow[1]**

http://processon.com/chart_image/5ffbd7e707912914e7e0ab17.png

[1] https://www.processon.com/view/link/5ffbdad81e0853437c3a846d

[2021-01-11 06:54] juzhiyuan commented on #1262
cc @imjoey

[2021-01-11 07:19] LiteSun opened #1263 "feat: enhance plugin category"
# Feature request
Enhance plugin category

## Please describe your feature
![image](https://user-images.githubusercontent.com/31329157/104154588-3cc28600-5420-11eb-8b95-7c743dd25036.png)

Currently, many of the plugins returned by the interface are grouped into other, which makes it difficult for users to quickly locate a specific plugin, so we need a more detailed category.

cc @juzhiyuan @nic-ch

[2021-01-11 07:20] juzhiyuan commented on #609
Will publish images soon

https://hub.docker.com/r/apache/apisix-dashboard

[2021-01-11 07:20] #609 closed

[2021-01-11 07:26] juzhiyuan commented on #1263
1. Update APISIX
2. Sync Schema

[2021-01-11 07:48] imjoey commented on #1262
@juzhiyuan @nic-chen @liuxiran

The recommended mode from me  for this project from me, is to adept the **Gitlab flow**, especially the **Release branches with GitLab flow** [[1]] . I've updated the chart on  [[2]].  Any feedback is welcome.

[1]: https://docs.gitlab.com/ee/topics/gitlab_flow.html#release-branches-with-gitlab-flow
[2]: https://www.processon.com/diagraming/5ffbd7e707912914e7e0ab14

[2021-01-11 08:02] liuxiran commented on #1262
the new updated image could not be viewed due to the permission, it would be better to updated again

[2021-01-11 08:15] imjoey commented on #1262
@juzhiyuan

One more thing, we need to protect `master` and all the release branches. It will prevent these branches from force-pushing or deleting by accident. 😄

[2021-01-11 08:25] liuxiran commented on #1262
LGTM, let's wait for others' suggestions.

cc @membphis @moonming @spacewander

[2021-01-11 08:49] juzhiyuan commented on #1262
![image](https://user-images.githubusercontent.com/2106987/104160279-d2afde00-542b-11eb-922c-5bb8514cec3b.png)

This workflow looks good to me indeed!!!

Fine, I need to file a ticket to Infra for all branches start with `v2.x`, then every release branch would get protected. Need some time.

[2021-01-11 08:51] membphis commented on #1262
LGTM too

[2021-01-11 08:53] juzhiyuan commented on #1262
Fine, @imjoey could you please add this workflow to some documentation, like contributing or release-guide?

[2021-01-11 08:56] juzhiyuan opened #1265 "use apisix-docker to manage Dockerfile"
# Feature request

## Please describe your feature

Use the `apisix-docker` repo to manage Dockerfile and documentation.

[2021-01-11 08:59] imjoey commented on #1262
@juzhiyuan very glad to add relevant docs. May I ask that in which repository I should put it?

[2021-01-11 09:02] nic-chen commented on #1262
LGTM too.

It looks similar to what was discussed before. Are there something that need special attention? Thanks.

[2021-01-11 09:26] juzhiyuan commented on #1262
@imjoey Here are 2 repos that could cover this requirement:

- https://github.com/apache/apisix-website
- https://github.com/apache/apisix-dashboard

I would prefer the `website` 🤔

[2021-01-11 09:38] nic-chen commented on #1237
@starsz
we don't need the tool `schema-sync` now, we could use [APISIX controlAPI](https://github.com/apache/apisix/blob/master/doc/control-api.md#get-v1schema) to export schema.
we only need to update doc about sync schema here.

[2021-01-11 09:39] logan2013 opened #1268 "build docker image failed for v2.3"
# Bug report

## Describe the bug

docker build failed for v2.3

## How to Reproduce

1. Switch to branch v2.3
2. build
[code]

## Expected behavior

success build docker image

## Screenshots

![image](https://user-images.githubusercontent.com/5728244/104165046-caf43780-5433-11eb-9962-9309bafdcf04.png)

## System information

- OS: centos 7
- docker: Docker version 19.03.2, build 6a30dfc

[2021-01-11 09:41] nic-chen commented on #671
we don't need the tool `schema-sync` now, we could use [APISIX controlAPI](https://github.com/apache/apisix/blob/master/doc/control-api.md#get-v1schema) to export schema.
we only need to update doc about sync schema here.

[2021-01-11 09:41] nic-chen commented on #671
it's same with #1237 , we could close this now.

[2021-01-11 09:41] #671 closed

[2021-01-11 09:41] imjoey commented on #1262
Hi @nic-chen , IMHO, we should pay more attention to the following two things:

- During the release time window, keep a close eye on every new PR and issue, as maintainers need to decide if it should be within the present release. If yes, relevant PR needs to be attached with a `need backport` label and then back port to release branch. Meanwhile, the issue should also be marked with proper miles

[2021-01-11 09:42] imjoey commented on #1262
@juzhiyuan My opinion is also `website`. 😄

[2021-01-11 09:52] juzhiyuan commented on #671
@nic-chen Please remove any related text from this repo if needed

[2021-01-11 09:55] nic-chen commented on #1262
thanks very much for  the explanation.

[2021-01-11 10:13] nic-chen commented on #671
sure, we will update the doc, and track it in #1237

[2021-01-11 10:23] nic-chen commented on #1268
@logan2013

In branch v2.3, it's
[code]
not
[code]
please see:
https://github.com/apache/apisix-dashboard/blob/v2.3/Dockerfile#L47-L48

please check that you are using the right code.  thanks.

[2021-01-11 11:42] starsz commented on #1265
Agree +1.
And we should introduce this in README.md like apisix.

[2021-01-11 11:46] ThanoshanMV commented on #1038
Hi @juzhiyuan, I would like to work on this issue. Can you please guide me here?

[2021-01-11 12:10] logan2013 commented on #1268
@nic-chen thanks. I think that's because my Dockfile is wrong

[2021-01-11 12:10] #1268 closed

[2021-01-11 12:12] membphis commented on #1085
ping @nic-chen

[2021-01-11 12:13] membphis commented on #1033
any news? @ShiningRush

[2021-01-11 12:14] membphis commented on #942
any news? @starsz

[2021-01-11 12:25] juzhiyuan commented on #1038
@ThanoshanMV sure! please give me some time to prepare this issue.

BTW, here[1] is our Slack channel, welcome to join in :)

[1] http://s.apache.org/slack-invite

[2021-01-11 12:35] #1143 closed

[2021-01-11 12:37] membphis commented on #1154
agree with this too

[2021-01-11 12:38] #1198 closed

[2021-01-11 12:56] membphis commented on #1135
we can use the APISIX 2.2 version now. https://github.com/apache/apisix/releases/tag/2.2

[2021-01-11 12:56] #1135 closed

[2021-01-11 13:04] membphis commented on #1156
ping @idbeta

[2021-01-11 13:08] juzhiyuan commented on #1156
FYI: most test cases for every plugin have been added.

[2021-01-11 13:08] membphis commented on #1237
@nic-chen so we can update the doc and close this issue, right?

[2021-01-11 13:11] nic-chen commented on #1237
sure.

[2021-01-11 13:20] #1237 closed

[2021-01-11 13:52] juzhiyuan opened #1269 "How to deploy with RPM?"
# Feature request

## Please describe your feature

Dashboard v2.3 now supports deployment with RPM[1], we need to improve README and related docs.

[1] https://github.com/apache/apisix-dashboard/releases/tag/v2.3

[2021-01-11 13:53] juzhiyuan commented on #1269
cc @idbeta

[2021-01-11 13:53] imjoey commented on #1262
@juzhiyuan Regarding to tag `v2.3`, I'm still curious about shall we need to revert `branch v2.3` and `tag v2.3` to commit https://github.com/apache/apisix-dashboard/commit/d518b477b7d5e506ae124283aeb7cedb05027dc1 , cause it's the code generating the assets of 2.3 release. The latest commits can be put into v2.3.1 then, if any.  😄

[2021-01-11 13:57] imjoey commented on #1143
@juzhiyuan cause this functionality is still not integrated in FE, so shall we keep it open for now? Thanks.

[2021-01-11 14:05] juzhiyuan commented on #1143
@imjoey Just to make sure, https://github.com/apache/apisix-dashboard/blob/master/web/src/pages/ServerInfo/List.tsx#L86-L91 if those 2 fields are returned from manager-api, then the fe will show them directly.

[2021-01-11 14:06] juzhiyuan commented on #1262
🤔 sure, let me force push to the target commit, and please help to cherry-pick needed commits to 2.3 (if needed).

[2021-01-11 14:22] imjoey commented on #1143
@juzhiyuan I'm a little confused that the code you mentioned is about ServerInfo, not GlobalRule.

[2021-01-11 14:31] juzhiyuan commented on #1143
ok fine, for Global Rule in the FE, the Global Plugin(Global Rule actually) doesn't plan to have UI to show created_time/updated_time, please see here https://github.com/apache/apisix-dashboard/blob/d6dcaa4066acf864b2d9303e570486b5dabb9265/web/src/pages/Plugin/service.ts#L30