[2021-01-11 14:48] imjoey commented on #1143
@juzhiyuan thanks for reply. If there is no plan in FE, we can close this for now. 🍻

[2021-01-12 01:38] #1178 closed

[2021-01-12 03:10] idbeta commented on #1269
No problem, I will submit a PR to introduce this.

[2021-01-12 03:12] idbeta commented on #1156
No problem, I submit a PR to achieve it.

[2021-01-12 06:51] imjoey opened #1275 "bug: the script field in Route is limited to map, instead of string"
# Bug report

## Describe the bug

In APISIX, we can see the `script` field in `Route` is of type `string`.
https://github.com/apache/apisix/blob/3e19b06293463f52c8d26f0958542fc475ff0fcd/apisix/schema_def.lua#L456

While as creating a Route in manager-api, we forcibly cast the script to `map[string]interface{}`.
https://github.com/apache/apisix-dashboard/blob/0f322e1d4a03e3416da1ae989fcfa492320356

[2021-01-12 07:39] #1188 closed

[2021-01-12 07:42] starsz commented on #1275
Good capture. I think we need to fix it.

[2021-01-12 08:16] imjoey commented on #1275
@juzhiyuan @starsz

I've one more question, when creating a `Route`, manager-api will store the script field into etcd with prefix `/apisix/script`, treating `Script` as top level resource type. While, AFAIK, not the same as APISIX, since it only regards `Script` as an inner property of `Route`, only stored with in Route object. This definitely introduces inconsistency between manager-api and Admi

[2021-01-12 08:29] juzhiyuan commented on #1275
cc @nic-chen

[2021-01-12 08:53] #1246 closed

[2021-01-12 09:03] nic-chen commented on #1275
oh, please have a look at test cases for plugin orchestration:
https://github.com/apache/apisix-dashboard/blob/master/api/test/e2e/route_with_plugin_orchestration_test.go

and you will know why.

[2021-01-12 09:16] imjoey commented on #1275
@nic-chen

Thanks for pointing this out. I guess you mean the `Script` of `map` type is only for plugin orchestration in FE, just as the comment **-- The 'script' fields below are used by dashboard for plugin orchestration** in https://github.com/apache/apisix/blob/3e19b06293463f52c8d26f0958542fc475ff0fcd/apisix/schema_def.lua#L455 ? Is that correct?

If yes, may I ask that how we could add a scri

[2021-01-12 11:34] LiteSun commented on #1075
I tried it under my fork branch and it worked as shown here.

![image](https://user-images.githubusercontent.com/31329157/104309152-aa4be080-550c-11eb-941e-044da0aac25f.png)

waiting for admin to install Cypress Github app. https://issues.apache.org/jira/projects/APISIX/issues/APISIX-19?filter=allopenissues

[2021-01-12 11:38] juzhiyuan commented on #1227
cc @nic-chen

High Priority

[2021-01-12 11:41] juzhiyuan commented on #1163
We have pushed the new docker image to DockerHub `apache/apisix-dashboard`, please have a try.

[2021-01-12 11:41] #1163 closed

[2021-01-12 11:43] juzhiyuan commented on #1238
Do we have any solutions to export those Lua test cases to JSON?

cc @spacewander @tokers

[2021-01-12 11:59] spacewander commented on #1238
Since most of plugins use jsonschema to do validation, we only need to handle a few plugin?

[2021-01-12 12:01] juzhiyuan commented on #1038
![image](https://user-images.githubusercontent.com/2106987/104311758-a3bf6800-5510-11eb-8291-45765ac335d3.png)

Hi @ThanoshanMV, here is the explanation from GitHub, we should limit the `redirect` URL, it MUST do the redirect action with the current host.

[2021-01-12 13:09] jinusuresh commented on #1163
Thanks , it got fixed

Thanks,
Jinu Sureshbabu

From: 琚致远<mailto:notifications@github.com>
Sent: Tuesday, January 12, 2021 5:12 PM
To: apache/apisix-dashboard<mailto:apisix-dashboard@noreply.github.com>
Cc: Jinu S - ASISTA<mailto:jinu.s@asista.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [apache/apisix-dashboard] Langauge selection issue in Dashboard (#1163)

We have pushed the ne

[2021-01-12 15:10] imjoey commented on #1154
@tokers @starsz @membphis Users could create a resource via `POST` or `PUT` methods. No way to refer the new object only occurs at `POST` method. Shall we also return the ultimate data when using `PUT` method?  FYI, the answer is yes for APISIX, need to make manager-api the same as Admin API?

Looking forward to your insights. Thanks.

[2021-01-12 15:23] ThanoshanMV commented on #1038
Am I okay here: `decodeURIComponent(redirect)`'s host should be the current host. If it is, then we'll perform the redirect action and if it doesn't, we don't perform any redirect action.

[2021-01-12 19:06] KishaniKandasamy commented on #733
Hi juzhiyuan ,
Here, Port is also included  in the UpstreamForm .So do we need to  merge   those three  input to input URL ?... or is this issue already
resolved?
![Screenshot (12)](https://user-images.githubusercontent.com/53715187/104360419-09264f80-5537-11eb-8e63-3e952afe5b39.png)

[2021-01-13 01:04] #1269 closed

[2021-01-13 01:27] LiteSun commented on #1255
relevant issue: #1040

[2021-01-13 01:28] belongwqz commented on #578
This is quite important, hope it can be supported.

[2021-01-13 01:33] nic-chen commented on #1275
Yes. The threshold for manually writing Lua code to implement plugin orchestration is too high. We prefer that users use the FE to drag for plugin orchestration, not write Lua code.

[2021-01-13 02:03] liuxiran opened #1278 "bug(fe): route created with service can not use the service upstream"
# Bug report

## Describe the bug

Refer to the [description](https://github.com/apache/apisix/blob/master/doc/architecture-design.md#service), when create a route with service id, this route will have the same upstream and plugin configuration.

When I try to create a route with service in dashboard, although I have selected a service in the first step, I still  have to define a new`upstream` bec

[2021-01-13 02:06] juzhiyuan commented on #1038
@ThanoshanMV yep :)

[2021-01-13 02:13] juzhiyuan commented on #578
I see this parameter is set in the configuration file[1], we don't support it dynamically from Dashboard :( Would you have any proposal for this feature?

[1] https://github.com/apache/apisix/blob/master/doc/stream-proxy.md#how-to-enable-stream-proxy

[2021-01-13 02:14] juzhiyuan commented on #733
@jinpy666 Would you like to take this issue? we could help you if needed.

[2021-01-13 02:21] juzhiyuan commented on #1278
Creating Route needs to be updated according to [1], please take a look.

![image](https://user-images.githubusercontent.com/2106987/104398014-ef155d00-5588-11eb-8281-9dede574a429.png)

[1] https://github.com/apache/apisix-dashboard/issues/1213

[2021-01-13 02:31] belongwqz opened #1279 "当Route中存在被禁用的插件时Service里的同名插件失效"
# Bug report

## Describe the bug

当Route中存在被禁用的插件时Service里的同名插件失效。

## How to Reproduce

1. 创建一个Service SRV-A，启用basic-auth插件
2. 创建一个Route ROUTE-A，关联上第一部的SRV-A，启用basic-auth插件
3. 创建一个Consumer，配置basic-auth的账号和密码
4. 编辑ROUTE-A，将其之前启用的basic-auth插件禁用
5. 根据ROUTE-A访问应用时basic-auth失效，因为etcd中对应route配置有{"plugins": {"basic-auth":{"disable": true}}}的配置，且Route里的同名插件basic-auth优先级高于其对应的Service插件。
6. 手工编辑ROUTE-A在et

[2021-01-13 02:44] juzhiyuan commented on #1238
The Dashboard maintains a dataset[1] to ensure the plugin editor could validate as expected 🤣

[1] https://github.com/apache/apisix-dashboard/blob/master/web/cypress/fixtures/plugin-dataset.json

[2021-01-13 03:23] starsz opened #1281 "The called check in unit test is inaccurate"
# Bug report

## Describe the bug

Hi, I found that the called check in those unit test is inaccurate.

consumer_test.go
global_rule_test.go
server_info_test.go

See:

https://github.com/apache/apisix-dashboard/blob/ecfef5b63247ca13cac8280201d423dd52b98036/api/internal/handler/consumer/consumer_test.go#L66-L71

## Expected behavior

A clear and concise description of what you expected to happen.

[2021-01-13 03:28] belongwqz commented on #578
I create a issue in apisix project  # [3265](https://github.com/apache/apisix/issues/3265)

[2021-01-13 03:47] imjoey commented on #1275
@nic-chen got it. Much appreciated for the explanation. I will propose a PR that also supports `string` type script alongside the existing `map` type, in order to eliminate the errors. Pls assign this to me, if possible. Thanks.

[2021-01-13 04:05] nic-chen commented on #1275
Thanks.

[2021-01-13 04:26] juzhiyuan commented on #578
All right, it seems that this feature cannot implement using a good way :(

cc @membphis please have a final confirm

[2021-01-13 04:27] nic-chen commented on #1227
Add the disable attribute to the schema of all plugins? Or should the manager api do this hack? What is your opinion? Thanks. @juzhiyuan

What do you think is better? Thanks. @membphis @spacewander

[2021-01-13 04:28] juzhiyuan commented on #1227
Because I see that a part of plugins have that property, and others don't have :( little curious

[2021-01-13 06:08] nic-chen commented on #1279
I think this is normal. The only problem is that the FE needs to provide the feature of deleting a plugin.
@LiteSun @juzhiyuan

[2021-01-13 06:39] juzhiyuan commented on #1279
Route is higher than Service IMO, even if it's disabled.

@membphis, what's your opinion?

[2021-01-13 06:58] spacewander commented on #1227
@juzhiyuan
It is expected that the property is injected into each plugin. Which plugins have that property and which don't?

[2021-01-13 07:12] membphis commented on #1154
the Admin API and Manager API should work in the same way.
So I think the answer is yes, they should return the final data at the same time, whether it is PUT or POST method.

[2021-01-13 07:16] membphis commented on #578
@bingoku we need a proposal first, need to confirm with the community about how to support this feature step by step.

Welcome to submit your proposal. and welcome to discuss the proposal at  Apache APISIX mail list.

[2021-01-13 07:18] juzhiyuan commented on #1227
`apisix/admin/plugins?all=true`

![image](https://user-images.githubusercontent.com/2106987/104418821-7cb97280-55b2-11eb-95a3-ca939e51dac5.png)

![image](https://user-images.githubusercontent.com/2106987/104418829-804cf980-55b2-11eb-8e1d-f5c64c939070.png)

[2021-01-13 07:18] membphis commented on #1279
you are right.

@belongwqz for your case, you need to delete the plugin in route first.

[2021-01-13 07:23] imjoey commented on #1154
@membphis copy. Thanks for the directions.

[2021-01-13 07:34] belongwqz commented on #1279
I agree, but now the problem is that we need a button to performs the `delete plugin` action on the dashboard.

[2021-01-13 07:46] membphis commented on #1279
@juzhiyuan Do you have any advice?

[2021-01-13 07:59] LiteSun commented on #1279
IMO, Remove plug-in functionality needs to be added
Interface interaction issues need to be discussed
- When will the delete button be displayed?
- Should the delete button be placed in the card or the drawer?

[2021-01-13 08:13] #1243 closed

[2021-01-13 08:32] json7 opened #1286 "What's the use of "application" in the menu of version 2.3? It's not found in the document. What's more, when can service discovery be provided"

[2021-01-13 09:17] #1223 closed

[2021-01-13 10:06] idbeta opened #1288 "chore: reduce the size of the compiled binary file of manager-api"
# Feature request

when used `make build` to build `Apache APISIX Dashboard`, the size of the binary file of `manager-api` is almost `27M`, it should be reduced.

[2021-01-13 10:08] liuxiran commented on #1236
Thanks for your report.

There are two parts params validation can be defined in `request-validation`  plugin, one is the header params, another is body params.

Refer to the header params descriptions, we could only pass string values to headers, so IMHO,  @fukiki you would better modify your configuration mentioned in the issue.

And for the body field, actually we can defiine any supported type

[2021-01-13 10:43] htwdjqr opened #1294 "request help: traffic-split plugin does not work"
### Issue description
traffic-split plugin does not work.

[code]

request like this:
![企业微信截图_16105345164716](https://user-images.githubusercontent.com/26807197/104441752-0f680a80-55cf-11eb-8485-65ce94aab657.png)

### Environment

* apisix version (cmd: `apisix version`):2.2
* OS: (cmd: `uname -a`)
* OpenResty / Nginx version: (cmd: `nginx -V` or `openresty -V`)

[2021-01-13 11:09] #1236 closed

[2021-01-13 12:06] juzhiyuan opened #1290 "Switch Language doesn't work 🤔"
# Bug report

## Describe the bug

The Language Switcher[1] doesn't work as expected 🤔

cc @guoqqqi Please take a look

[1] http://139.217.190.60/consumer/list

[2021-01-13 12:07] juzhiyuan commented on #1286
You mean `Consumer` is translated to `Application`?

[2021-01-13 12:10] juzhiyuan commented on #1236
good good

[2021-01-13 13:38] starsz commented on #942
Sorry for I am late. I think we can do this work when we use ginko framework.
As far as I know, we will use ginko framework in M2.4, so this will be solved at that time.

[2021-01-13 15:29] liuxiran opened #1291 "test(fe): add e2e test for online debug"
# Feature request

## Please describe your feature

as mentioned in https://github.com/apache/apisix-dashboard/pull/1287#pullrequestreview-567116648 and https://github.com/apache/apisix-dashboard/pull/1239#issuecomment-755963097, we need to add e2e test cases to online debug.

[2021-01-14 01:04] gxthrj commented on #715
I think we can close this issue now, feel free to reopen if have any problems.

[2021-01-14 01:04] #715 closed

[2021-01-14 01:19] gxthrj commented on #838
cc @nic-chen @starsz what do you think about this

[2021-01-14 01:28] w7team opened #1292 "chore: If the routing rules contain the same domain name, can there be a better display"
希望对相同域名的规则进行自动归类

目前规则列表显示了对域名的支持，如果规则非常多，寻找起来会非常不方便。所以希望能对相同域名的规则进行自动分组归类。

可以参考一下phpmyadmin的数据库列表，对相同前缀的库名进行自动归类。

Translation:
Want automatic categorization of rules for the same domain name

Currently the rules list shows support for domain names, which can be very inconvenient to find if there are very many rules. So I would like to be able to automatically group rules with the same domain na

[2021-01-14 01:30] starsz commented on #838
Agree +1. But what should we do if we catch the other goroutine panic?

[2021-01-14 01:33] nic-chen commented on #838
sure, agree +1

[2021-01-14 01:45] tokers commented on #1288
By default Go Compiler saves the debug info into the binary, it's possible to strip it.

[2021-01-14 02:09] LiteSun commented on #1279
High priority. @LiteSun

[2021-01-14 02:29] belongwqz opened #1293 "route vars support IN operator"
# Feature request

## Please describe your feature

route vars support `IN` operator, in etcd it will like:
[code]
apisix project already support this feature #[3123](https://github.com/apache/apisix/issues/3123)

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

Currently, I have to create two routes with

[2021-01-14 03:20] htwdjqr commented on #1294
config like this,It works.
thanks. @nic-chen @Firstsawyou

{
	"rules": [{
		"match": [{
			"vars": [
				[
					"http_release",
					"==",
					"new_release"
				]
			]
		}],
		"weighted_upstreams": [{
			"upstream": {
				"name": "upstream_A",
				"nodes": {
					"192.168.100.21:8002": 10
				},
				"type": "roundrobin"
			}
		}]
	}]
}

[2021-01-14 03:20] juzhiyuan commented on #1293
@LiteSun Please take a look at this issue, and leave some steps to achieve this issue. Then @belongwqz would you like to implement this issue?

[2021-01-14 03:23] juzhiyuan commented on #1294
@nic-chen Please update this issue's status, done or still need to be resolved 🤔

[2021-01-14 03:38] Firstsawyou commented on #1294
It may be caused by two `tarffic-split` names.

[2021-01-14 03:39] nic-chen commented on #1294
@Firstsawyou

I check the schema for plugin `traffic-split`, it doesn't have `additionalProperties = false` to limit config, could we add this limit ? so that we could  prompt error when config invalid.

[2021-01-14 04:17] Firstsawyou commented on #1294
Agree, we need to add it.

[2021-01-14 04:22] Firstsawyou commented on #1294
I will submit a pr to add it later.

[2021-01-14 05:19] belongwqz commented on #1293
My most familiar stack is around python, so I can't do it now.

[2021-01-14 05:57] juzhiyuan commented on #1227
@nic-chen anything we need to do for this issue?

[2021-01-14 05:58] juzhiyuan commented on #1293
all right, we will support this feature in M2.4[1]

[1] https://github.com/apache/apisix-dashboard/milestone/10

[2021-01-14 06:04] starsz commented on #1288
IMO, I think we should add another make option that will ignore the debug info and disable the symbol table.
Because the debug info and symbol table may be useful for developers to debug.

[2021-01-14 07:17] nic-chen commented on #1227
oh, we need to sync the schema to dashboard since the PR has been merged.

[2021-01-14 07:48] juzhiyuan commented on #1278
ping

[2021-01-14 08:13] juzhiyuan commented on #1227
ok, reop

[2021-01-14 08:21] liuxiran commented on #1278
Got it, so IMHO, when create a route with a service, we need to :
1. auto fill in the upstream with the service's upstream info
2. user can also specify difference upstream according to their requirements

what do you think? @juzhiyuan @LiteSun @idbeta

[2021-01-14 08:37] #1294 closed

[2021-01-14 08:40] idbeta commented on #1278
Agree, but the option of `specify difference upstream` should not be necessary.
@membphis

[2021-01-14 08:58] juzhiyuan commented on #1278
Hi @liuxiran, specify different upstream is a historical legacy 🤔 not sure if we should remove this part in the future, only allow users to bind an upstream or a service.

[2021-01-14 09:14] starsz opened #1295 "Chore: move the authentication middleware into droplet framework"
# Feature request

## Please describe your feature

Hi, I found the [dorplet](https://github.com/ShiningRush/droplet/tree/master/middleware) had split the http_input into `http_injector` and `http_input`. We can get the http.Request in droplect.Context.
So I think we can move those middleware:

https://github.com/apache/apisix-dashboard/blob/822aa6d1f40c5eb5bfef00030304eb5b619a9eea/api/internal/ro

[2021-01-14 09:27] liuxiran commented on #1278
Thanks for your reply @juzhiyuan @idbeta .

so when create a route with a service, we only need to auto fill in the upstream with the service upstream info, and at the same time, user could not specify it, am I right?

[2021-01-14 09:33] juzhiyuan commented on #1278
Once we auto fill upstream info from service, an upstream object would be bound to that route unexpectedly IMO ⚠️

[2021-01-14 09:48] liuxiran commented on #1278
you mean we should omit the `upstream` in the request body, right? Ok, got it, it is the same as mentioned in the https://github.com/apache/apisix/blob/master/doc/architecture-design.md#service.

I just assigned myself, and the pr will be opened later this week^_^

[2021-01-14 12:16] juzhiyuan opened #1299 "after editing a Service, the upstream info will be lost."
# Bug report

## Describe the bug

![image](https://user-images.githubusercontent.com/2106987/104589683-36910b80-56a5-11eb-92f2-17d224a6ba66.png)

## How to Reproduce

1. Go to Service List;
2. Find a Service and click on Edit;
3. Update Upstream configuration;
4. Submit;
5. Edit again but without upstream configuration.

## System information

- Version: master branch

[2021-01-14 14:54] juzhiyuan opened #1300 "Label feature doesn't support Chinese as key?"
# Bug report

## Describe the bug

When I create a route with Label, an error occurred when using Chinese as key.

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

![image](https://user-images.githubusercontent.com/2106987/104607114-706d0c80-56bb-11eb-8c6b-6d0ac3181eb0.png)

![image](https://user-images.githubusercontent.com/2106987/104606805-1

[2021-01-14 14:55] juzhiyuan commented on #1300
Chinese as the key is a normal requirement IMHO, what's your opinion?

cc @liuxiran @nic-chen @membphis

[2021-01-14 15:12] imjoey commented on #1300
@juzhiyuan

Chinese characters as the name or value of Label is not such common. Until Kubernetes 1.17+, the name and value of Label are strictly limited to match `'([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9]`, not accepting Chinese. IMHO,  we could keep the same as Kubernetes.

Looking forward to others insights. Thanks.

[2021-01-14 15:23] juzhiyuan commented on #1300
but this is used as a label's key 🤔

[2021-01-14 15:49] imjoey commented on #1300
@juzhiyuan sorry for not clear enough. The `name` mentioned above is the `key` of Label.

[2021-01-14 15:58] liuxiran commented on #1300
Technical aspects aside, I would vote for supporting Chinese labels 🤦‍♀️, both the key and value, that would be convenient for Chinese users

[2021-01-14 16:36] juzhiyuan commented on #1300
let's wait for others' opinion 💯

[2021-01-15 01:05] tokers commented on #1288
I'm not sure whether this is an good idea since for now i don't think the manager api is stable enough, once it crashes, debug info is important to dump the stack, otherwise we have no idea to debug it.

[2021-01-15 01:05] tokers commented on #1288
I'm not sure whether this is an good idea since for now i don't think the manager api is stable enough, once it crashes, debug info is important to dump the stack, otherwise we have no idea to debug it.

[2021-01-15 01:23] starsz commented on #1300
I think we should support Chinese labels. This will be more convenient for some companies.
In another way, we only need to update the validate schema, then we can support the Chinese labels., why not?

[2021-01-15 01:42] starsz commented on #1288
So I recommend we can add another make option for reducing the binary size.

@idbeta By the way, what's the reason that we need to reduce the binary size. Only because it's too large?

[2021-01-15 02:06] imjoey commented on #1300
Yep, I slightly changed my mind and we should confirm the following two things fine, then we can add support.

- If Chinese is supported, it should be better to also support all other non English languages
- As APISIX can be deployed in kubernetes as ingress controller at present, maybe as sidecar in future, we shall ensure that this label will not introduce the incompatibility with kubernetes.

T

[2021-01-15 02:36] idbeta commented on #1288
yes, so I think this is not a high priority optimization point.

[2021-01-15 02:57] juzhiyuan commented on #1300
thanks for your point! @gxthrj please take a look at this issue, too.

[2021-01-15 03:02] membphis commented on #1300
agree to support Chinese and other non-English languages.

[2021-01-15 03:43] liuxiran opened #1303 "Doc: a better doc about how to write and run e2e test and unit test for Backend"
# Feature request

## Please describe your feature

Recently when my partners and I tried to finish the the issues of backend, we always found troubles in writting unit test cases and e2e test cases. I have to say the big reason is that we are not skilled enough with the current testing framework, it would be better to add a detailed documentation to guide the newcomer on how to start writting  te

[2021-01-15 04:40] juzhiyuan commented on #1300
failed with English.

[code]

[code]

[2021-01-15 04:44] juzhiyuan commented on #1303
cc @nic-chen @starsz

[2021-01-15 04:45] #1275 closed

[2021-01-15 05:46] #1281 closed

[2021-01-15 05:51] starsz commented on #1303
@liuxiran Thanks for your advice. I think we should add a doc after those issues were solved:

1. remove the etcd dependency in the unit test #1161
2. use ginko framework in e2e test #1136

Then we can add a doc to introduce how to write the test for backend.

[2021-01-15 05:53] tokers commented on #1288
@idbeta What about preparing some stuffs like debuginfo.rpm when compiling it.

[2021-01-15 06:23] liuxiran commented on #1303
Got it,  thanks a lot @starsz, waiting for the right timing~

[2021-01-15 06:35] admin-xl-2048 opened #1305 "make build2.3版本的时候cypress和node-pty无法下载；显示二进制文件过大。Expected downloaded file to have size: 203515894 Computed size: 9120117"
# Feature request

## Please describe your feature

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other

[2021-01-15 06:37] idbeta commented on #1288
sorry, I don't quite understand what you mean.
I don't think `reduce` is necessary now.
You can see if a lot of people give feedback about this before deciding to optimize.

[2021-01-15 06:44] #1227 closed

[2021-01-15 07:12] juzhiyuan commented on #1305
Hi, this issue is fixed in the master branch. You could simply do this patch[1] for your codes.

[1] https://github.com/apache/apisix-dashboard/commit/93b9765e3e77c6cefe0487e1657886d5f05d4146#diff-76ed074a9305c04054cdebb9e9aad2d818052b07091de1f20cad0bbac34ffb52R39

[2021-01-15 07:12] #1305 closed

[2021-01-15 07:36] admin-xl-2048 commented on #1305
非常感谢，按照这个方法我已经解决掉了。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/apisix-dashboard"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2021年1月15日(星期五) 下午3:12
收件人:&nbsp;"apache/apisix-das

[2021-01-15 08:49] liuxiran commented on #1217
a TODO feature, reopen now

[2021-01-15 09:46] gxthrj commented on #1300
Agree, I did not find a suitable reason to refuse to use Chinese as the key 👍

[2021-01-15 09:55] liuxiran commented on #1241
Sourced from this discussion：https://github.com/apache/apisix-dashboard/pull/1276#discussion_r556206373

Since we have already filtered the `redirect` plugin from plugin page, how about filter `proxy-rewrite` plugin at the same time?
Just like v1.5, Integrated function of proxy rewrite into the process of creating a route.

For `proxy-rewrite` is a frequently used plugin, IMHO we could customize t

[2021-01-15 10:03] juzhiyuan commented on #1241
It's ok to use this plugin outside PluginMarket, but be careful to make sure the final data is correct.

[2021-01-15 10:20] juzhiyuan commented on #1098
Hi all, how about calling `Consumer` as `消费者`? `应用` is more like an application.

[2021-01-15 10:23] imjoey commented on #1098
@juzhiyuan it's OK for me. If we still using `consumer` in English version, `消费者` is a more proper translation.

[2021-01-15 11:01] liuxiran commented on #1241
got it, and I have a few details to confirm:
1. it seems that pluginmarket is a common component, no mather I create `route` `service` or the `global rules`, I will use the same page, so do I need to make a difference between `create route` and others, which means filter the `proxy-rewrite` only in create route step3
2. when I filterd this plugin, and I config `proxy-write` and `script`  at the sa

[2021-01-15 11:20] juzhiyuan commented on #1241
1. If @LiteSun's filter configuration could solve this issue, we may not need to do a lot of changes, if I get your point :)
2. `plugins` and `scrip` must not exist at the same time.

[2021-01-15 15:34] #1295 closed

[2021-01-16 01:23] #1098 closed

[2021-01-16 02:47] LiteSun commented on #1241
You can filter specific plugins on specific pages, as shown below. @liuxiran

![image](https://user-images.githubusercontent.com/31329157/104795270-d9ea3980-57e7-11eb-8f07-39d0e259aa10.png)

[2021-01-16 07:36] #1010 closed

[2021-01-16 07:37] juzhiyuan commented on #1290
Still not working 🤔

[2021-01-16 07:58] juzhiyuan commented on #963
https://github.com/apache/apisix-dashboard/blob/master/docs/FAQ.md#4-after-modifying-the-plugin-schema-or-creating-a-custom-plugin-in-apache-apisix-why-cant-i-find-it-on-the-dashboard

[2021-01-16 07:58] #963 closed

[2021-01-16 09:47] imjoey opened #1311 "feat(fe): Press Enter key can trigger the Login button"
# Feature request

## Please describe your feature

At login page, users have to explicitly click the `Login` button to do the login. It's common that also support for triggering login via pressing the `Enter` key. I believe this would be very convenient for those users who always use keyboard instead of mouse, like me. 😄

## Describe the solution you'd like

After filling in the username and pass

[2021-01-16 09:48] imjoey commented on #1311
ping @juzhiyuan @liuxiran @nic-chen . If all accepted, this can be marked as good-first-issue. 😄

[2021-01-16 09:49] juzhiyuan commented on #1311
Of course

[2021-01-16 10:03] nic-chen commented on #1311
sure, that's great

[2021-01-16 10:33] #1260 closed

[2021-01-17 02:21] to2false opened #1312 "Save paging selection"
# Feature request

## Please describe your feature

save recent paging operations
when I select 50 per page and refresh the page, it changes back to 20 per page

## Describe the solution you'd like

When I select 50 per page and refresh the page, it keeps 50 per page.

## Describe alternatives you've considered

## Additional context

[2021-01-17 02:22] #1312 closed

[2021-01-17 02:22] to2false opened #1313 "FE: save List page's meta status"
# Bug report

## Describe the bug

when I select 50 per page and refresh the page, it changes back to 20 per page

## How to Reproduce

1. select 50 per page
2. refresh page
3. still 20 per page

## Expected behavior

when I select 50 per page and refresh the page, it keeps 50 per page.

## Screenshots

## System information

- OS: [macOS]
- Browser (if applies) [Chrome]
- Version: [2.3]

## Addit

[2021-01-17 03:39] juzhiyuan commented on #1313
It's not a bug, it's a feature.

We could use queryString to save status like page, pageSize, etc. Welcome PR to enhance this, ping me if there has any problems.

[2021-01-17 03:45] juzhiyuan commented on #1279
I would prefer placing the Delete button outside the Drawer:

1. In the GlobalPlugin list, we could directly delete that plugin;
2. In the Service/Route/Consumer module, we could delete one plugin by clicking the button on Card.

[2021-01-17 04:03] tokers commented on #1300
Agree + 1, as long as we have a strong mechanism to detect malformed label, it's no problem to accept any language.

[2021-01-17 04:13] juzhiyuan commented on #1300
yep, then who is glad to take this issue?

[2021-01-17 04:18] juzhiyuan commented on #1154
This is needed.

[2021-01-17 04:19] #1262 closed

[2021-01-17 04:29] juzhiyuan opened #1314 "FE: integrate with easy-to-use mock server"
# Feature request

## Please describe your feature

We are using the `mockjs` for FE which is outdated 🤔 I would prefer using `json-server` or something else to replace `mockjs`.

[2021-01-17 04:32] juzhiyuan commented on #1286
as for Service Discovery, do you have any ideas about this? You could create a new issue to discuss this.

[2021-01-17 04:32] #1286 closed

[2021-01-17 04:33] juzhiyuan commented on #1085
done??

[2021-01-17 04:33] juzhiyuan commented on #1065
done?

[2021-01-17 04:33] #1059 closed

[2021-01-17 04:33] #1048 closed

[2021-01-17 04:35] juzhiyuan commented on #842
any plan?

[2021-01-17 07:34] juzhiyuan opened #1316 "GlobalPlugin List: cannot delete multiple plugins without page refreshing"
# Bug report

## Describe the bug

GlobalPlugin List: cannot delete multiple plugins without page refreshing.

## How to Reproduce

1. Go to GlobalPlugin (Plugin);
2. Click on Delete, then that plugin is deleted;
3. Click on Delete on another Plugin, then the deleted plugin (step2) is shown.

## System information

- Version: master branch

## Additional context

This is because, it will put the p

[2021-01-17 10:29] imjoey commented on #1262
@juzhiyuan Since https://github.com/apache/apisix-website/pull/143 has been merged, could this be closed now? We can reopen it if anything in the docs needs improvement. Thanks.

[2021-01-17 12:18] imjoey commented on #1085
@juzhiyuan I will work on this if no one has taken.

[2021-01-17 12:18] imjoey commented on #1154
@juzhiyuan yep, I will commit an PR for this.

[2021-01-17 12:24] juzhiyuan commented on #1085
All right, thanks!

[2021-01-17 23:20] #1038 closed

[2021-01-18 00:42] liuxiran commented on #1311
LGTM ^_^

[2021-01-18 01:35] LiteSun commented on #1279
Agree with you. What do you think?? cc @nic-chen @liuxiran

[2021-01-18 03:21] liuxiran commented on #1290
related issue: https://github.com/umijs/umi/issues/5974

[2021-01-18 04:27] liuxiran commented on #1279
Agree with placing the Delete button outside the Drawer too.

There is still a detail I want to confirm:

this means we need to add button something called `Delete` together with the `Enable` button on the Card right? If so, maybe the name of `Enable` button need to change at the same time, because `Enable` may be misinterpreted as `enable the plugin` IMHO.

[2021-01-18 04:39] juzhiyuan commented on #1290
@guoqqqi Once this issue is fixed, please add related test case.

[2021-01-18 04:41] liuxiran commented on #1241
thanks for the instruction @LiteSun @juzhiyuan
pls assign to me if it has not been claimed yet ^_^

[2021-01-18 06:20] juzhiyuan commented on #1279
ya, actually, it's `Configured` and `Not configured`, and `configured` means `disable` or `enable`.

[2021-01-18 06:20] liuxiran commented on #781
Just take Js for an example(sorry for not familiar with Golang and Lua):

there is a string 'please take a look 一一':
* the length of this string is 21, IMHO, this is what we are expected result;
* the utf-8 byte length is 25. In fact a Chinese character is 3 byte long in JS too, may be these is equal to the current Lua result.

If we need to limit the length of use input characters, we'd better li

[2021-01-18 06:22] #1050 closed

[2021-01-18 06:24] juzhiyuan commented on #781
I would prefer limiting the string length, this is easy to understand for users :)

[2021-01-18 10:17] juzhiyuan opened #1325 "allow - character in the OnlineDebug module"
# Feature request

## Please describe your feature

We need to improve Regexp to allow the `-` character in the OnlineDebug module's URI input box.

## Describe the solution you'd like

Improve Regexp.

## Additional context

![image](https://user-images.githubusercontent.com/2106987/104902058-2e90de80-59b9-11eb-9efa-f32e5c3a3b22.png)

[2021-01-19 02:18] juzhiyuan commented on #1290
@guoqqqi Test!

[2021-01-19 02:47] nic-chen opened #1328 "test: add e2e test for dubbo"
after PR https://github.com/apache/apisix/pull/3224  merged, we should add some test cases for it. and we need build a test env for it.

[2021-01-19 02:59] nic-chen opened #1329 "bug: non-json data causes error logs"
# Bug report

## Describe the bug

json parse failed log in error.log

## How to Reproduce

1. start Manager API (new installation)
2. start APISIX (new installation)

## Expected behavior

no error log

## System information

- OS: [e.g. macOS, Windows] macOS
- Browser (if applies) [e.g. Chrome, Safari, Edge]
- Version: [e.g. 2.0-rc3] master

## Additional context

first time installation and sta

[2021-01-19 05:13] membphis opened #1330 "bug: Forward the request to the stale upstream node"
# Bug report

![image](https://user-images.githubusercontent.com/6814606/104990711-1c19b200-5a58-11eb-8cb0-4a870f543fbd.png)
![image](https://user-images.githubusercontent.com/6814606/104990723-2340c000-5a58-11eb-8c8e-ace71ec3bd7a.png)

## Describe the bug

A clear and concise description of what the bug is.

## How to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See er

[2021-01-19 05:16] membphis commented on #1330
need more information from the user.

[2021-01-19 05:55] imjoey opened #1331 "feat: Better design for the Create and Update methods of Store interface"
# Feature request

## Please describe your feature

This issue is originated from discussions with @ShiningRush in #1322 , current definition of `Update` methods in Store interface `Update(ctx context.Context, obj interface{}, createIfNotExist bool) (interface{}, error)` should be changed to `Update(ctx context.Context, obj interface{}, createIfNotExist bool) error`. The reason is that the input p

[2021-01-19 06:02] imjoey opened #1332 "feat: Improve testing coverage for the POST and PATCH methods of the resources"
# Feature request

## Please describe your feature

At present, most test cases in Backend E2E and Unit-test cases are using `PUT` method for creating and updating the resource, which leads to extremely low testing coverage for creating by `POST` and updating by `PATCH`.

## Describe the solution you'd like

So it would be much better that if we could add more test cases for the `POST` and `PATCH`

[2021-01-19 09:59] liuxiran commented on #1291
according to this comment: https://github.com/apache/apisix-dashboard/pull/1326#discussion_r560013791

in fact, the original purpose of `online debug` is to debug routes published on APISIX, so if I want to test whether the function is correct, I need to run APISIX together with the fontend-e2e-test.

I have two solutions:

1. only test whether the ui is corrent, and do not take care of the funcit

[2021-01-19 10:07] juzhiyuan commented on #1291
I would prefer:
1. UI is correct;
2. JS functionalities are correct;

We don't need to run APISIX for now 🤔

[2021-01-19 10:26] juzhiyuan commented on #1299
cc @guoqqqi

[2021-01-19 10:54] LiteSun commented on #1291
How about using the [cypress intercept](https://docs.cypress.io/api/commands/intercept.html#Waiting-on-a-request) function to check if the request is correct. 🤔

[2021-01-19 13:17] juzhiyuan commented on #1291
😂

like

[code]

[2021-01-19 15:03] #1033 closed

[2021-01-20 01:56] liuxiran commented on #1291
Thanks for the instruction which teach me how to use `cypress intercept`, it will be very useful to write this test spec. @juzhiyuan @LiteSun

and if we did not run APISIX, my test object is not a route published on the APISIX, it becomes an accessible request, actually that also makes sense.

[2021-01-20 02:26] juzhiyuan commented on #1291
fine

[2021-01-20 02:28] LiteSun commented on #1299
ping

[2021-01-20 03:07] Caelebs opened #1335 "Align dashboard menu options to the left"
# Bug report

## Describe the bug

I deployed the latest version of dashboard v2.3, and found that the `Server Info` in the left menu bar is not aligned, and the icons and text titles are displayed misaligned. And the content displayed in the `Server Info` is not very friendly. I hope that `last_report_time ` and `boot_time` do not use Unix Timestamp to display. In addition, the etcd version numbe

[2021-01-20 05:50] belongwqz opened #1336 "Support subpath to use the reverse proxy"
# Feature request

## Please describe your feature

Support subpath to use the reverse proxy

## Describe the solution you'd like

When start dashboard  via manager-api, the address is `http://host:port`, if we can setup a subpath to the address, then we can config a reverse proxy for the dashboard. Example:
`conf.yaml`:
[code]

 `nginx.conf`:
[code]

## Describe alternatives you've considered

A

[2021-01-20 07:15] Caelebs opened #1337 "request help: How to add icons to custom plugins?"
I added a custom plugin. I want to add a logo when displaying the plugin in the dashboard. What do I need to do? For example, the jwt-auth plugin has a corresponding logo.

![20210120151324](https://user-images.githubusercontent.com/12752710/105140241-5d7e9000-5b32-11eb-9910-0d6ea7fa490a.png)

[2021-01-20 09:48] juzhiyuan commented on #1337
This is not an easy job, but I will draft documentation about this after v2.4 release.

[2021-01-20 09:57] membphis commented on #1065
ping @nic-chen

[2021-01-20 10:02] membphis commented on #1336
@nic-chen what do you think?

[2021-01-20 10:11] nic-chen commented on #1336
@belongwqz
Could it be achieved by nginx configuration? I don’t understand why we need to change the Manager API to support this feature. Thanks.

[2021-01-20 10:12] liuxiran commented on #1065
May I ask whether Fe also need to support empty nodes in upstream? The current policy is that use have to fill in at least one node

[2021-01-20 10:12] Caelebs commented on #1337
nice. looking forward to the next version

[2021-01-20 10:13] Caelebs commented on #1337
nice. looking forward to the next version

[2021-01-20 10:33] nic-chen commented on #1065
I think FE don't need this feature now, it's for ingress controller, manually add upstream should not allow empty nodes.

[2021-01-20 11:12] starsz commented on #1332
Aha! Much appreciated.

[2021-01-20 11:28] starsz commented on #1331
Right, there is no need.
But I think we can still keep the logic now. If someday, we want to do some custom design in GenericStore, e.g. inject some filed in the returned parameter. So the returned parameter value is different from the parameter.

[2021-01-20 11:30] starsz commented on #1329
@nic-chen Sorry, I don't get your point. Can you give more info about this?

[2021-01-20 13:08] #1065 closed

[2021-01-20 13:27] KishaniKandasamy commented on #1335
Hi I think  I fixed " Align dashboard menu options to the left".
![Screenshot (34)](https://user-images.githubusercontent.com/53715187/105181034-4c914700-5b51-11eb-98b5-a7bd3b6207ab.png)

[2021-01-20 13:30] KishaniKandasamy commented on #1335
but here,I think  the Server Info is already in a form of human readable.
![Screenshot (35)](https://user-images.githubusercontent.com/53715187/105181233-89f5d480-5b51-11eb-9352-a98dc15dec10.png)

[2021-01-20 14:33] juzhiyuan commented on #1335
@nic-chen Please take a look at this issue, the etcd version is incorrect according to user's feedback 🤔

[2021-01-20 15:09] tokers commented on #1329
@nic-chen Any examples?

[2021-01-20 15:58] nic-chen commented on #1329
![image](https://user-images.githubusercontent.com/33000667/105200809-2e404100-5b7b-11eb-889b-7b70a2c74bae.png)

@tokers @starsz

[2021-01-20 23:58] belongwqz commented on #1336
The `manager-api` command startup a http server to serve the apisix-dashboard so we can visit it by url like `http://{some_ip}:{some_port}`, what I want is we can change the url to **`http://{some_ip}:{some_port}/{sub_path}/`** by change the `conf.yaml`.

Suppose I'v already have a website `http://{my_domain}/`, then I want `http://{my_domain}/{sub_path}/` to visit the apisix-dashboard, my solutio

[2021-01-21 00:46] nic-chen commented on #1336
Thanks for the explanation. PR is welcome : ) , or we could support this feature later.

[2021-01-21 02:33] juzhiyuan opened #1340 "find a better way to store a self defined icon"
maybe we need to find a better way to store a self-defined icon, it is a little hard to maintenance IMHO.

_Originally posted by @liuxiran in https://github.com/apache/apisix-dashboard/pull/1338#discussion_r561486523_

[2021-01-21 02:45] imjoey commented on #1329
@nic-chen I'm afraid I cannot reproduce in my environment. Is the etcd also newly installed? I guess there's something wrong with the data in etcd. So could you please have a try to run `etcdctl del "/apisix" --prefix && apisix init && apisix init_etcd` to reinitialize the etcd?

[2021-01-21 03:49] nic-chen commented on #1300
need support in APISIX first if we want to support it

[2021-01-21 04:02] membphis commented on #1300
do we need to transfer this issue to APISIX?

[2021-01-21 04:05] nic-chen commented on #1300
cc @spacewander

[2021-01-21 04:40] imjoey commented on #1331
@ShiningRush @starsz

I refer to the implementations of the `rest.Store` and `Storage` in Kubernetes APIServer. From the following code snippet (refer to https://github.com/kubernetes/apiserver/blob/5c8a24e0c50e5392e4766e59b41732074cd303c6/pkg/storage/interfaces.go#L214-L245 .), I get that the `Update` interface of `Storage` does not have returned data, just as the `Storage` interface we defined i

[2021-01-21 05:57] imjoey commented on #1154
@tokers  @juzhiyuan  since both #1277 and #1322 had been merged, I could close this issue. Please feel free to reopen it if anything unexpected. Thanks.

[2021-01-21 05:57] #1154 closed

[2021-01-21 06:41] juzhiyuan commented on #1165
**Backend**
- Provide the `version_check` API;

**Frontend**
- Call the above API when the page first shows, once.

[2021-01-21 06:50] juzhiyuan commented on #1238
Hi @spacewander @starsz, do we have any quick ideas to export those test cases from Lua?

[2021-01-21 07:06] spacewander commented on #1238
I don't any idea unless we modify the code of APISIX and dump the data we used.

[2021-01-21 07:08] starsz commented on #1127
Not urgent, I think this should be done in M2.5.

[2021-01-21 07:12] starsz commented on #1127
@juzhiyuan Help me move to M2.5.

[2021-01-21 07:12] starsz commented on #1161
This is a big project, I will finish part of them in M2.4

[2021-01-21 07:13] starsz commented on #758
This will be discussed in M2.4 and finished in M2.5.
cc @juzhiyuan

[2021-01-21 07:20] juzhiyuan commented on #1238
all right, ping @membphis @nic-chen, any ideas about this feature?

It seems a little cumbersome, if we could resolve this issue, there has no need to sync the dataset by hand anymore. But if we couldn't handle it easily and smoothly, we have to sync the dataset by hand.

[2021-01-21 07:29] juzhiyuan commented on #1182
The DockerHub maintains an image for Apache APISIX Dashboard[1], you could pull that image instead of the building by hand, and here is the issue[2] to track when to omit that Dockerfile.

[1] https://hub.docker.com/r/apache/apisix-dashboard
[2] https://github.com/apache/apisix-dashboard/issues/1265

[2021-01-21 07:29] #1182 closed

[2021-01-21 07:31] nic-chen commented on #886
We could handle it later, just before 3.0 version

[2021-01-21 07:34] nic-chen commented on #706
fixed by #977

[2021-01-21 07:34] #706 closed

[2021-01-21 07:39] nic-chen commented on #679
not urgent, we could move to next version

[2021-01-21 07:45] nic-chen commented on #889
fixed by https://github.com/apache/apisix/pull/3008

[2021-01-21 07:45] #889 closed

[2021-01-21 07:49] nic-chen commented on #887
fixed by
#906 and #1195

[2021-01-21 07:49] #887 closed

[2021-01-21 08:16] nic-chen commented on #872
fixed by https://github.com/apache/apisix/pull/3008

[2021-01-21 08:16] #872 closed

[2021-01-21 08:36] nic-chen commented on #650
we use docker-compose to run env for e2e test now. and have supported different config test on cli test.

[2021-01-21 08:36] #650 closed

[2021-01-21 09:17] moonming commented on #1279
any PR for this?

[2021-01-21 09:17] juzhiyuan opened #1343 "Route: update description input box"
update route description's input box, 200 characters to 256.

_Originally posted by @juzhiyuan in https://github.com/apache/apisix-dashboard/issues/1342#issuecomment-764495686_

[2021-01-21 09:18] #1342 closed

[2021-01-21 09:19] juzhiyuan commented on #1279
no, I will take this.

[2021-01-21 09:39] juzhiyuan commented on #1075
This issue is relying on Cypress's Write permission, which needs infra's reply.

[2021-01-21 10:52] membphis commented on #1238
I do not have a good idea for this job :(

[2021-01-21 11:24] nic-chen commented on #1329
a simple reproduce step:

1. run Manager API
2. etcdctl del --prefix /apisix
3. apisix init

in the process don't stop the Manager API.

[2021-01-21 11:52] imjoey commented on #1329
@nic-chen thanks for the details. I managed to reproduce this issue. The reason is that we should explicitly ignore the `init_dir` etcd event during `Watch` etcd process. I would commit an PR to fix this. Thanks for reporting.

[2021-01-21 13:39] #1290 closed

[2021-01-21 13:46] juzhiyuan opened #1345 "Dashboard for Apache APISIX Ingress Controller"
This is an issue to discuss with the Dashboard for APISIX Ingress Controller.

**What can it do?**
_TODO_

**What functions does it contain?**
_TODO_

**Reference**
_TODO_

[2021-01-21 14:17] juzhiyuan commented on #658
https://github.com/peter-evans/repository-dispatch

[2021-01-22 01:37] juzhiyuan opened #1349 "add `maxlength={256}` to `Input.TextArea`"
we could also try to add `maxlength={256}` to  `Input.TextArea`, which will limit the length of input string ^_^

_Originally posted by @liuxiran in https://github.com/apache/apisix-dashboard/issues/1348#issuecomment-765047420_

[2021-01-22 01:40] nic-chen opened #1350 "bug: starting the Manager API in docker does not display the version number"
# Bug report

## Describe the bug

When starting the Manager API should display some info like:
[code]

but starting the Manager API in docker does not display the version number

## System information

- OS: [e.g. macOS, Windows]  docker
- Browser (if applies) [e.g. Chrome, Safari, Edge]
- Version: [e.g. 2.0-rc3] 2.3

[2021-01-22 01:47] nic-chen opened #1351 "bug: some apis bypassed authentication"
# Bug report

## Describe the bug

I found that some apis that need to get the original data of the request without using the droplet bypass the authentication, I think it's due to #1296

we need to fix it before release.

## System information

- OS: [e.g. macOS, Windows] macOS
- Browser (if applies) [e.g. Chrome, Safari, Edge]
- Version: [e.g. 2.0-rc3] master

[2021-01-22 01:53] nic-chen commented on #1351
cc @starsz

[2021-01-22 02:04] gxthrj commented on #789
OK

[2021-01-22 02:13] #1343 closed

[2021-01-22 03:10] QiAnXinCodeSafe opened #1352 "There is a vulnerability in protobuf v1.3.1,upgrade recommended"
https://github.com/apache/apisix-dashboard/blob/e04c6516ec1101a758f076f2df87ec4022adcb29/api/go.mod#L24

CVE-2021-3121

Recommended upgrade version：v1.3.2

[2021-01-22 03:12] QiAnXinCodeSafe opened #1353 "There is a vulnerability in gjson v1.6.1,upgrade recommended"
https://github.com/apache/apisix-dashboard/blob/e04c6516ec1101a758f076f2df87ec4022adcb29/api/go.mod#L38

CVE-2020-35380  CVE-2020-36066  CVE-2020-36067

Recommended upgrade version：
v1.6.7

[2021-01-22 03:14] nic-chen commented on #746
not urgent, we could move to the next version

[2021-01-22 03:18] #1329 closed

[2021-01-22 03:20] QiAnXinCodeSafe opened #1354 "There is a vulnerability in node-fetch-1.7.3,upgrade recommended"
https://github.com/apache/apisix-dashboard/blob/e04c6516ec1101a758f076f2df87ec4022adcb29/web/yarn.lock#L11870-L11872

CVE-2020-15168

Recommended upgrade version：
2.0.0-alpha.9

[2021-01-22 03:23] belongwqz opened #1355 "Support limit the client address"
# Feature request

## Please describe your feature

The apisix-dashboard actually have administrator rights for the apisix, it should limit the client address for safe, just like the `allow_admin` in `config.yaml` of apisix.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description

[2021-01-22 03:25] QiAnXinCodeSafe opened #1356 "There is a vulnerability in codemirror 5.57.0,upgrade recommended"
https://github.com/apache/apisix-dashboard/blob/e04c6516ec1101a758f076f2df87ec4022adcb29/web/yarn.lock#L5476-L5479

CVE-2020-7760

Recommended upgrade version：5.59.1

[2021-01-22 03:33] juzhiyuan opened #1357 "Why we need to skip it in store not storage?"
Why we need to skip it in store not storage?

_Originally posted by @ShiningRush in https://github.com/apache/apisix-dashboard/pull/1344#discussion_r562364607_

[2021-01-22 03:40] juzhiyuan commented on #1356
Thanks for your feedback!

[2021-01-22 03:57] juzhiyuan commented on #746
Then you need to fix this ASAP once 2.4 is released, or this issue would always exist here.

[2021-01-22 04:37] imjoey commented on #1357
After discussed with @ShiningRush at original issue, we decide to move the skip logic into Storage, instead of Store. This would make the Storage send `ONLY VALID` data to Store. Please refer to https://github.com/apache/apisix-dashboard/pull/1344#discussion_r562364607 for details.

I would commit a PR to fix this soon.

[2021-01-22 09:26] starsz commented on #1351
Right. It's a bug.
IMO, we can wrap those functions into droplet, because the droplet has updated before.

[2021-01-22 12:40] #1357 closed

[2021-01-22 15:52] #1213 closed

[2021-01-22 15:52] #1278 closed

[2021-01-23 15:06] #1125 closed

[2021-01-24 01:06] juzhiyuan commented on #1039
Maybe we could use `form-render`[1] to build UI first, then export JSON schema, and update the plugin's schema finally?

[1] https://x-render.gitee.io/schema-generator/playground

cc @liuxiran @imjoey

[2021-01-24 01:39] juzhiyuan opened #1363 "add tip for plugin editor"
# Feature request

## Please describe your feature

We need to tell users clearly that which part of the data should be filled.

## Additional context

![image](https://user-images.githubusercontent.com/2106987/105618924-ff022c00-5e27-11eb-9f92-6114b9001959.png)

![image](https://user-images.githubusercontent.com/2106987/105618925-0295b300-5e28-11eb-820b-3e25b27e6a87.png)

Actually, we need the Pu

[2021-01-24 08:33] #1299 closed

[2021-01-24 10:36] juzhiyuan commented on #1247
RPA (Robotic Process Automation) is the replacement of people by machines to perform jobs and tasks with **fixed rules, high repetitiveness, and low added value**.

### Scenarios

1. screen grabbing: keystroke wizard.
2. process automation: automated operation and maintenance, automated inspection.
3. ...

### Evolution

1. completely manual.
2. manual + semi-automation.
3. AI + full automation.

[2021-01-24 11:00] juzhiyuan opened #1365 "CI: Create Route with Upstream is unstable"
# CI Unstable

## How to Reproduce

https://github.com/apache/apisix-dashboard/runs/1756582600

## Screenshots

![image](https://user-images.githubusercontent.com/2106987/105628168-48796800-5e76-11eb-8f9b-e5d6d3f2e441.png)

## Additional context

cc @guoqqqi @LiteSun

[2021-01-24 11:07] guoqqqi commented on #1365
https://github.com/apache/apisix-dashboard/pull/1364
This PR will solve it!

[2021-01-24 11:15] juzhiyuan commented on #1356
Not urgent, waiting for feedback: https://github.com/uiwjs/react-codemirror/issues/86

[2021-01-24 12:16] liuxiran commented on #1349
closed by #1358

[2021-01-24 12:16] #1349 closed

[2021-01-24 12:55] liuxiran commented on #1278
When I tried to create a route with service_id, `None` select option would add to the `select_upstream`, but I could still custom the upstream

![image](https://user-images.githubusercontent.com/2561857/105630531-cfcdd800-5e84-11eb-9121-29641daf6039.png)

![image](https://user-images.githubusercontent.com/2561857/105630492-867d8880-5e84-11eb-9964-8c1bde5bbe1a.png)

this result seems not meet my ex

[2021-01-24 13:04] juzhiyuan commented on #1278
Service or Upstream is an entity for Route, because the older dashboard supports custom upstream, and the upstream data is stored but not linked or referenced in etcd, once we omit upstream after selecting service, some unexpected issues would happen.

But we could support after service is selected, upstream turns to be optional 🤔 Does it make sense to your concern? Let me know if not 😄

[2021-01-24 15:40] juzhiyuan opened #1368 "Update Deploy with RPM Doc"
# Feature request

## Please describe your feature

Update documentation about deploying with RPM[1].

## Describe the solution you'd like

Tell us how to visit the dashboard.

[1] https://github.com/apache/apisix-dashboard/blob/master/docs/deploy-with-rpm.md

[2021-01-24 15:41] juzhiyuan commented on #1368
cc @idbeta

[2021-01-25 02:03] #1356 closed

[2021-01-25 03:59] #1194 closed

[2021-01-25 04:14] #1352 closed

[2021-01-25 04:14] #1353 closed

[2021-01-25 06:14] #741 closed

[2021-01-25 06:15] #1325 closed

[2021-01-25 07:02] #1316 closed

[2021-01-25 07:18] idbeta commented on #1368
`deploy-with-rpm.md` should add description like this:
without changing `/usr/local/apisix/dashboard/conf/conf.yaml`, you can visit http://127.0.0.1:9000 to use the dashboard with GUI, where the default username and password are `admin`.

[2021-01-25 07:34] juzhiyuan opened #1371 "reduce plugin testcases' running time"
# Feature request

## Please describe your feature

![image](https://user-images.githubusercontent.com/2106987/105674606-bd09e080-5f22-11eb-865d-5e254e578fe9.png)

Plugin Test takes a long time to run.

[2021-01-25 15:51] membphis commented on #1365
can we close this issue now? #1364 has been merged

[2021-01-25 15:54] juzhiyuan commented on #1365
ping @guoqqqi

[2021-01-25 15:58] guoqqqi commented on #1365
Yes! It can be closed, it be resolved!

[2021-01-25 16:12] #1365 closed

[2021-01-25 16:13] juzhiyuan commented on #1365
@guoqqqi

`deepl.com` and `Grammarly` are your friends.

[2021-01-25 17:34] liuxiran commented on #1039
What a cool component library~!

Recently, during my approach to #1241 , I rethought this issue:

1. build plugin form: (I'm ready to give up this plan)

     A: customized plugin form: Instead of build form from its Jsonschema, a customized plugin form can  tell user what each item is and how to fill it better, but it comes with high maintenance costs
just take `proxy-rewrite` for example
![image

[2021-01-26 01:24] juzhiyuan commented on #1039
Yep!

`Plugin Configuration Template` is possible to implement, I also prefer this way.

Besides, I will still try to build UI first, then export JSONSchema. 🤣🤣

[2021-01-26 02:00] imjoey commented on #1039
@juzhiyuan @liuxiran

yep, inspired by Aliyun API gateway, we could support both configuration template and UI form for users. Let us get this done to improve the plugin experience. 😄

[2021-01-26 02:13] liuxiran commented on #1039
ok, I'll look into what `configuration template` involves, and then split them into points to discuss and confirm one by one.

[2021-01-26 02:17] #950 closed

[2021-01-26 02:18] juzhiyuan commented on #1039
Could we store those templates in a JSON or YAML file in Dashboard repo haha?

[2021-01-26 02:23] liuxiran commented on #1039
These templates  would be better to be a part of  part of the APISIX plugin document, and dashboards obtained by synchronizing data(if possible)

[2021-01-26 02:25] tokers commented on #743
Well, it seems there is no config items from command line....

[2021-01-26 02:26] juzhiyuan commented on #1039
maybe Apache APISIX will not store those data 😂

[2021-01-26 02:26] imjoey commented on #1039
@LiteSun  @juzhiyuan  with discussion with @liuxiran , we guess the template could directly reuse the schema definition in APISIX, as well as extending the schemas by adding more examples and comments. We could call this **The self-explanationAPI is right the doc and the template.**  We will then commit a proposal for the detailed framework. Looking forward to your insights.

[2021-01-26 02:26] juzhiyuan commented on #1039
OK!! Looking forward to it!

[2021-01-26 02:31] imjoey commented on #1039
yep, there is something that we need to reach a conclusion with APISIX. At least, we could add more comments for each field in APISIX schema. 😈

[2021-01-26 02:58] juzhiyuan opened #1375 "Update Years in NOTICE file"
# Feature request

## Please describe your feature

We are entering the year 2021, it's time to update 2020 to 2021.

## How?

1. Visit https://github.com/apache/apisix-dashboard/blob/master/NOTICE#L2
2. Click this button:
![image](https://user-images.githubusercontent.com/2106987/105794003-1b879b00-5fc5-11eb-8420-d1f65854f3e1.png)
3. Replace `2020` with `2021`.
4.
![image](https://user-images.git

[2021-01-26 07:51] krak7602 commented on #1375
Can I work on this issue?

[2021-01-26 08:02] imjoey commented on #1375
@krak7602 sure, assign this issue to you and please go ahead. Many thanks.

[2021-01-26 09:14] cwy57885142 opened #1378 "bug: dashboard创建grpc-transcode插件异常:curl: (52) Empty reply from server"
### Issue description
grpc-transcode插件采用命令行创建响应200,采用dashboard创建抛异常:curl: (52) Empty reply from server
### Environment

* apisix version (cmd: `apisix version`):2.2
* OS: (cmd: `uname -a`):centos6.10
* OpenResty / Nginx version: (cmd: `nginx -V` or `openresty -V`)

### Minimal test code / Steps to reproduce the issue
1.采用命令行创建插件
Add a proto：
curl http://admin.test.com/apisix/admin/proto/1 -H 'X-AP

[2021-01-26 10:18] tokers commented on #1378
@nic-chen The response is not friendly, it seems the dashboard crashed, maybe a `501` code is more proper.

[2021-01-26 12:29] 96RadhikaJadhav commented on #1375
@juzhiyuan Is this issue still available? I wish to work on it.

[2021-01-26 13:31] juzhiyuan commented on #1375
Hi, another contributor is working on this, could you please take a look at other good first issue?

[2021-01-27 00:17] #1351 closed

[2021-01-27 05:33] Jaycean opened #1380 "Doc: Add the document of backend E2E environment"
# Feature request

## Please describe your feature

- In the process of submitting my contribution, I found that there was no local documentation for setting up E2E test environment, and I didn't know how to conduct E2E test locally. I could only view the results of GitHub Ci by submitting code, which was very unfriendly. So I checked the command of GitHub Ci and found that I needed to run docker

[2021-01-27 06:08] imjoey commented on #1380
@Jaycean good catch. I believe that would be very helpful for every contributor. Your PR is greatly welcome. Thanks.

[2021-01-27 06:56] juzhiyuan commented on #1380
cc @starsz @LiteSun to know this tip.

[2021-01-27 08:42] imjoey commented on #1085
@spacewander  AFAIK, APISIX seems not going to deal with loading script by `script_id` from etcd, which acts not the same as `upstream_id`. So just to confirm with you that in manager-api, we must fulfill the `script` property if the input only contains the `script_id`. Please let me know if I'm wrong. Thanks.

[2021-01-27 08:45] spacewander commented on #1085
The `script_id` is planned to used for debug and optimization(cache). Currently we can assume the script_id is the route's id.

[2021-01-27 08:55] Jaycean opened #1383 "chore: When exporting route, whether the parameter is empty or not"
# Bug report

## Describe the bug

- When exporting route data, the current logic will export empty swagger data when the route data is null or there is no route data. Whether to add judgment will directly return an error.

[code]

## Expected behavior

- When null characters are passed in, routeid is not passed in, or all routeid data is exported, there is no data in the database, and an error sh

[2021-01-27 08:56] Jaycean commented on #1383
cc @liuxiran @nic-chen @starsz

[2021-01-27 09:19] imjoey commented on #1085
@spacewander thanks for getting back. So could we have the following assumptions for now:

- Currently users could not manipulate the `script` via manager-api, which means there are no explicite CURDL APIs for `script` object.
- If the `script_id` in request does not equal to the `id` of the affiliated `route`, we can directly send back the `Bad Request` response.

Thanks.

[2021-01-27 09:59] spacewander commented on #1085
I think just filling the script_id field with the route id when the script is saved is enough.

[2021-01-27 10:20] imjoey commented on #1085
@spacewander Wow, that's great. Many thanks for clear directions.

[2021-01-28 06:08] starsz commented on #1383
Agree with you. Thank you for your PR.

[2021-01-28 06:09] starsz commented on #1380
Can't agree anymore. 😄

[2021-01-28 06:13] starsz commented on #1355
Duplicate with #680.
PRs are welcomed.@belongwqz

[2021-01-28 08:22] sanmen359 opened #1387 "应用无法使用Oauth2进行认证"
# Bug report

## Describe the bug

我们拥有独立的认证中心(使用Authing)，创建应用时，无法使用OpenID Connect认证。

## How to Reproduce

1. 打开网址"http://127.0.0.1:9000/consumer/list"
2. 点击 '创建'
3. 输入"demo"
3. 点击“下一步”
4. 选择“OpenID Connect”，输入OpenID Connect配置内容后保存
5.点击下一步，提示“请启用一种身份认证类插件”，无法进入下一步

OpenID Connect配置内容：

[code]

## Expected behavior

希望应用可以使用Oauth2进行认证

## Screenshots

![image](https://user-images.githubusercontent

[2021-01-28 08:28] juzhiyuan commented on #1387
This issue is related to this one[1]

**Quick fix:**
1. Open this file: https://github.com/apache/apisix-dashboard/blob/master/api/conf/schema.json
2. Find `openid-connect` plugin, append the `type` property, set its value as `auth` like here[2]

[1] https://github.com/apache/apisix/issues/3239
[2] https://github.com/apache/apisix-dashboard/blob/master/api/conf/schema.json#L4187

[2021-01-28 09:19] Yiyiyimu opened #1388 "request help: bare `net/http` pkg would always return "404 Route not found""
The problem is actually about chaos test for apisix, but since it's more about a golang problem and it highly takes e2e test in apisix-dashboard for reference, so I think maybe I'll get more help here.

#### Background

To test if chaos effect qps of apisix, I try to visit a route in the same frequency, calculate ingress bandwidth per second from prometheus metrics, and then compare before and aft

[2021-01-28 09:26] nic-chen commented on #1383
we could close it now since the pr merged.

[2021-01-28 09:26] #1383 closed

[2021-01-28 10:04] #1156 closed

[2021-01-28 12:44] guoqqqi opened #1389 "test: Remove the wait from the configurePlugins function"
In "web/cypress/support/commands" there is a `configurePlugins` function.

![image](https://user-images.githubusercontent.com/72343596/106138757-8395d700-61a7-11eb-86a8-bc1746a9e7b2.png)

I had to use `wait()` to block consecutive clicks in the global function because of the force property, I tried many ways to replace wait(), but they all failed, I would like to find a way to remove wait, and hav

[2021-01-28 13:01] liuxiran commented on #825
all the related PR have been merged, close it now

[2021-01-28 13:01] #825 closed

[2021-01-28 14:27] guoqqqi opened #1390 "feat: Change the format of the i18n keys"
# Feature request
Hi~ I see some other i18n keys that are not very good, we should check them and follow some specifications to correct them.
Please check all i18n keys, it is better to update them according to the uniform standard, like this:
![image](https://user-images.githubusercontent.com/72343596/106151451-54876180-61b7-11eb-8940-212bed779f6d.png)

refer to:
https://github.com/apache/apisix-

[2021-01-28 14:42] #1014 closed

[2021-01-28 14:51] imjoey commented on #1085
@spacewander @tokers @juzhiyuan

For now, APISIX and manager-api have both supported `script_id` in Route entity. Cause `The script_id is planned to used for debug and optimization(cache). Currently we can assume the script_id is the route's id.`, IMHO there is no need to do anything else in manager FE, so could we close this issue?

[2021-01-28 14:56] juzhiyuan commented on #1085
agree with u.

[2021-01-28 14:56] #1085 closed

[2021-01-29 01:32] hnlq715 opened #1391 "feat: embed all generated web assets into api binary"
# Feature request

Embed all generated web assets into api binary, so it would be convenient to run or deploy the dashboard.

Just like grafana.

[2021-01-29 01:45] hnlq715 commented on #1391
I did a simple test with go-bindata, the api binary size increase about 4MB

I think this should be acceptable :-)

Before
[code]
After
[code]

[2021-01-29 01:48] hnlq715 commented on #1391
And the origin html files have 15M
[code]

[2021-01-29 02:32] starsz commented on #1391
That's sounds so great. PRs are welcomed.

[2021-01-29 02:58] imjoey commented on #1391
@hnlq715 this is great and I love this feature. Thanks and looking forward to your contributions. 😄

[2021-01-29 03:15] #1380 closed

[2021-01-29 03:23] Jaycean commented on #1332
I hope to help add more test cases.

[2021-01-29 03:28] hnlq715 commented on #1391
@starsz @imjoey  Get it

[2021-01-29 03:30] juzhiyuan commented on #1332
@Jaycean Assign to you! Thanks a lot!

[2021-01-29 03:34] imjoey commented on #1387
@juzhiyuan This looks more like a critical bug. I was wondering that whether only the openid-connect plugin is affected. If so, can we commit a PR in APISIX and then sync the schema here to fix this? Thanks.

[2021-01-29 03:34] juzhiyuan commented on #1387
This issue should be reconsidered, due to `openid-connect` will rely on `OAuth Server`, then this plugin should not belong to `auth` type 🤔

[2021-01-29 03:35] imjoey commented on #1332
@Jaycean thanks a lot. 😄

[2021-01-29 03:36] juzhiyuan commented on #1387
Here is the doc[1] for `openid-connect`.

[1] https://github.com/apache/apisix/blob/master/doc/plugins/openid-connect.md

[2021-01-29 03:41] juzhiyuan commented on #1387
If it does not belong to `Auth`, users have to enable one auth plugin like `key-auth`, strange IMO.

The first thing that needs to confirm, whether users should use at least one auth plugin with `openid-connect` or not? If yes, we don't need to anything here; if not, we may add that plugin to allowlist in Dashboard.

cc @membphis @imjoey

[2021-01-29 04:10] imjoey commented on #1387
@juzhiyuan I have always seen `openid-connect` as an auth plugin. 👻

[2021-01-29 04:23] juzhiyuan commented on #1387
fine, we may add this to the allowlist in FE first..

[2021-01-29 05:55] nic-chen commented on #1391
looking forward to it，thanks

[2021-01-29 06:22] starsz commented on #1388
Hi @Yiyiyimu,

1. How do you use the `bare net/http`?
2. If you don't want httpexpect to print a lot logs, you can config the httpexpect.
See more details: https://pkg.go.dev/github.com/gavv/httpexpect/v2#Config

[2021-01-29 07:59] Jaycean opened #1392 "feat: Modify the usage of upstream and service go-jsonpatch to json-patch/v5"
# Feature request

## Please describe your feature

When I look at the test cases, I find that the jsonpatch(`github.com/api7/go-jsonpatch`) used by upstream and service when calling the patch method is still the old package, but I see that PR：#1005 has been updated to `github.com/evanphx/json-patch/v5`,The current use of old packages will also result in interface errors, so I'm going to fix them.

[2021-01-29 08:12] imjoey commented on #1392
@Jaycean thanks for reporting. IMHO, this is indeed a bug and we should omit the dependency of `github.com/api7/go-jsonpatch` and use `github.com/evanphx/json-patch/v5` for all cases.

Ping @nic-chen for comfirmation. Thanks.

[2021-01-29 08:46] #1293 closed

[2021-01-29 09:34] nic-chen commented on #1392
@imjoey @Jaycean  that's great, thanks!

[2021-01-29 13:02] nic-chen commented on #1388
@Yiyiyimu  you could set `request.Close = true` and have a try again.

[2021-01-29 15:19] #1350 closed

[2021-01-30 02:55] imjoey opened #1397 "feat: Customize the configurations of Semantic-Pull-Request check in CI"
# Feature request

## Please describe your feature

Currently apisix-dashboard is using the default configurations for Semantic Pull Request check in CI and I guess with several customizations may make the contributions more smooth.

- Only do semantic check for the PR title but not for the commit message, this could bring less burden to contributors.
- Add `backport` into valid type list, which i

[2021-01-30 10:54] juzhiyuan opened #1399 "support to show raw data for Route, Upstream, Service and so on"
# Feature request

## Please describe your feature

Due to some fields are not supported by Frontend, once users modify a Route that is created by admin API, then that Route would be overridden by Frontend's data.

## Describe the solution you'd like

We may first support showing raw data and allow the user to modify it directly and add some tips before submitting data change, to tell the user to

[2021-01-30 10:55] juzhiyuan commented on #1234
Will be resolved by https://github.com/apache/apisix-dashboard/issues/1234

[2021-01-30 10:55] #1234 closed

[2021-01-30 11:03] juzhiyuan commented on #1330
Any update?

[2021-01-30 11:03] juzhiyuan commented on #1330
I couldn't search that user in QQ Group 🤔

[2021-01-30 12:01] juzhiyuan opened #1401 "TestBalancer_roundrobin_with_weight failed"
fine, I don't mean CI failed due to this PR 😂 just saw after PR merged, CI down.

![image](https://user-images.githubusercontent.com/2106987/106355876-d69d9480-6335-11eb-9917-0c9b752dcd17.png)

_Originally posted by @juzhiyuan in https://github.com/apache/apisix-dashboard/issues/1396#issuecomment-770201476_

[2021-01-30 12:05] imjoey commented on #1401
FYI, this failure began from this morning, and 100% reproducible.

[2021-01-30 12:13] Jaycean commented on #1401
I just ran the local test file balancer_ test.go. There is no problem with it. This problem occurred this morning, which made PR CI unable to pass.

[2021-01-30 12:16] Jaycean commented on #1401
In addition, in the development process, I also feel that there are many CI test cases, and the error information is very vague. When there are errors in the test cases, it also makes it more difficult for us to locate the problem. Of course, it takes a lot of time to improve this thing.

[2021-01-30 13:33] starsz commented on #1397
Good idea. 👍

[2021-01-31 04:09] LiteSun commented on #1399
This feature allows the user to see the data faster and more intuitively, a very good feature.

It is necessary to check the legitimacy of the data if the user is allowed to enter it manually. otherwise, such a problem #1234 will occur.

[2021-01-31 19:07] liuxiran commented on #1039
While researching this issue, I found a very cool library: `json-schema-faker`[1], an OSS with a large number of references and stars, used to generate fake data according to its `jsonshema`. I tested some of our plugins' schema, no matter which draft the schema is, the fake data can cover well.

### What the fake data looks like
Take `api-breaker` for an example:
* Jsonschema for api-breaker: htt

[2021-02-01 01:35] imjoey commented on #1039
This is very impressive and we love this solution for:

- Less is more

- Code is documentation

- YAML is much more user-friendly for inline editing than JSON

@juzhiyuan @LiteSun @membphis  What's your opinions? Any feedback is welcome 😄 . Thanks.

[2021-02-01 02:33] imjoey commented on #1331
@juzhiyuan @starsz @ShiningRush

Since not get more opinions for some time, I would prefer to close this issue for now, please feel free to reopen for in-depth discussions if anything still unclear. Thank you all.

[2021-02-01 02:33] #1331 closed

[2021-02-01 02:44] Yiyiyimu opened #1403 "Billboard: all chaos test to do ( welcome new ideas!😆)"
### Background
See https://github.com/apache/apisix/issues/2757

### Todo List
Most scenarios in APISIX could be reuse on dashboard, especially etcd related ones, see https://github.com/apache/apisix/issues/3449#issue-796161658

**Architecture**
- [ ] Build github actions that running APISIX on k8s, and deploy chaos on APISIX with chaos mesh

**Welcome more ideas!😆**

[2021-02-01 03:10] starsz opened #1404 "We can get the backend version and git hash at the front end."
# Feature request

## Please describe your feature

Hello, there is no way to get the backend version and the git hash at the front end.
But I think it's in need.

## Describe the solution you'd like

Backend adds an API like `/apisix/admin/version" to return the version and git hash.

[2021-02-01 03:28] Jaycean commented on #1392
PR merged. Now close the issue and open it again if there is any problem

[2021-02-01 03:28] #1392 closed

[2021-02-01 03:34] Jaycean commented on #1401
@juzhiyuan Hi,PR #1395 has fixed the problem. The reason for the problem is apisix has modified luajit. @nic-chen has fixed the problem.

[2021-02-01 03:38] imjoey commented on #1401
@Jaycean yep, while we would better see the CI result triggered by https://github.com/apache/apisix-dashboard/commit/94d952f9a43a9d6507b2966b58791f789e5b74a6 push event before close this issue.

[2021-02-01 06:52] starsz opened #1405 "ManagerAPI should support -v to get the version and git hash."
# Feature request

## Please describe your feature

Now the manager API use cobra to manage CLI interactions.So I think we can support "-v" to get the manager API version and `git hash` info.

## Describe the solution you'd like

Support "-v" to get the version and git hash of manage api.

[2021-02-01 06:55] starsz opened #1406 "ManagerAPI should support -c to set the config file."
# Feature request

## Please describe your feature

Now the manager API use cobra to manage CLI interactions.So I think we can support "-c" to set the config file.

## Describe the solution you'd like

Support "-c" to set the config file.

[2021-02-01 07:13] Jaycean commented on #1217
@liuxiran @juzhiyuan I can help with the BE, please assign to me ,Thks.

[2021-02-01 07:16] juzhiyuan commented on #1401
https://github.com/apache/apisix-dashboard/runs/1804604649#step:4:703

failed due to luasec.

[2021-02-01 07:36] starsz commented on #1404
API:

`GET /info`

Response:

[code]

[2021-02-01 07:37] imjoey commented on #1401
@juzhiyuan yep, this may cause be the lua patch, related to https://github.com/apache/apisix/pull/3335 authored by @fukiki . We are trying to fix this. 😄

[2021-02-01 07:53] LiteSun opened #1407 "Support for additional languages in the Dashboard"
# Feature request
## Please describe your feature
Currently, apisix-dashboard already supports switching between Chinese and English. We need more language support to allow more people from different regions to use our dashboard.
- [x] Chinese
- [x] English
- [ ] Japanese
- [ ] German
- [ ] ...

Related links on completing i18n development：https://github.com/apache/apisix-dashboard/blob/a34317193c

[2021-02-01 09:16] liuxiran opened #1410 "Unstable front-end test cases"
# Bug report

## Describe the bug

Trace occasional failures of  The front-end test cases

1. https://github.com/apache/apisix-dashboard/pull/1409/checks?check_run_id=1805078346
2. https://github.com/apache/apisix-dashboard/pull/1414/checks?check_run_id=1808679183
3. https://github.com/apache/apisix-dashboard/pull/1414/checks?check_run_id=1811238315

[2021-02-01 11:04] membphis commented on #1330
we can close this issue now.

[2021-02-01 11:04] #1330 closed

[2021-02-01 11:36] membphis commented on #1410
fixed? @liuxiran

[2021-02-01 13:09] guoqqqi opened #1411 "test: delete button in plugin drawer"
https://github.com/apache/apisix-dashboard/pull/1402
added a delete button to the drawer of the plugin in this PR,
now we need to add a test for it.

Related links on completing test development:
https://github.com/apache/apisix-dashboard/blob/a34317193cece2532ed333aaaacfd3a6af7328c4/docs/front-end-e2e.md

Very thanks!

[2021-02-01 13:10] moonming commented on #1404
Can the version number of the front end be displayed? I think it can be placed in the footer
@juzhiyuan

[2021-02-01 14:12] Jaycean commented on #1401
@juzhiyuan Hi,The problem has been solved. Since APISIX has modified Luajit to cause dependency environment problems, the dockfile has been modified to fix it. As mentioned in PR, pulling the dockerfile file of remote apifix should open a new issue discussion.This issue can be closed.

[2021-02-01 14:15] nic-chen commented on #1401
thanks @Jaycean

[2021-02-01 14:59] #1023 closed

[2021-02-01 15:10] moonming commented on #1165
When packaging, write a separate version file, which is a json string, is this ok?
 We are only responsible for the packaged version

[2021-02-01 18:17] vinayaksh42 commented on #1407
Does this issue require Japanese and german language prior knowledge?

[2021-02-02 00:28] liuxiran commented on #1410
I have submitted a pr, it may be due to the interaction between loop operations
a  few more CI runs are needed to test whether the solution is feasible ^_^

[2021-02-02 02:20] juzhiyuan commented on #1407
Ya! @vinayaksh42 Would u like to contribute to Japanese?

[2021-02-02 02:56] Jaycean opened #1415 "feat: Using Dockerfile of apisix-docker project to build E2E test image"
# Feature request

## Please describe your feature

At present, the Dockfile and Dockerfile-apisix in the dashboard are maintained locally. Two days ago, the relevant dependencies of apisix were modified. The dashboard failed to synchronize in time, resulting in CI errors. So I think we have apisix-docker project. Can we pull the Dockerfile from this project? This will not cause synchronization er

[2021-02-02 05:23] Jaycean commented on #1415
ping @nic-chen @starsz @imjoey

[2021-02-02 05:26] imjoey commented on #1415
@Jaycean thanks for reporting. It's reasonable for me. Could you please introduce us the differences of the two Dockerfiles in this project and apisix-docker project? Thanks.

[2021-02-02 05:35] nic-chen commented on #1415
hi @Jaycean
Thanks.
`Dockerfile-apisix` can be used directly in this way, but `Dockerfile-dashborad` requires an additional modification, which is to use the local source code instead of downloading it from github, because we need to run the latest code to verify the test.

[2021-02-02 05:40] Jaycean commented on #1415
@imjoey
There are two Dockerfiles in `apisix-dashborad`. One is used to build the `manage-api`, and the other is used to build `apisix`.

`Apisix-docker` project includes the construction of `apisix` Dockerfile through various operating systems, and the construction of `manage-api` and `apisix` Dockerfile through `All-in-one`

[2021-02-02 05:51] Jaycean commented on #1415
@nic-chen
Thks.
Then I'll submit a PR to modify Dockerfile-apisix later.
Please assigne to me.

[2021-02-02 06:59] imjoey commented on #1415
@Jaycean Regarding to the implementation, AFAIK, docker-compose supports using `context` to load Dockerfile from remote git repository. Take apisix for example, you could try without pulling the Dockerfile to local.

[code]

[2021-02-02 07:29] juzhiyuan commented on #1415
Good to know this tip!

[2021-02-02 08:07] nic-chen commented on #1161
finish test cases of  route, service

[2021-02-02 08:08] nic-chen commented on #1136
finish framework and route part in M2.4

[2021-02-02 08:10] nic-chen commented on #1040
not urgent

[2021-02-02 08:13] nic-chen commented on #826
not urgent

[2021-02-02 08:18] vinayaksh42 commented on #1407
@vinayaksh42 I don't know Japanese, I do know Hindi(India) if you ever wanted to add it?

[2021-02-02 08:19] vinayaksh42 commented on #1411
can I work on this issue?

[2021-02-02 08:20] nic-chen commented on #743
not urgent

[2021-02-02 08:21] imjoey commented on #1411
@vinayaksh42 sure, thanks and looking forward to your pr.

[2021-02-02 08:23] nic-chen commented on #658
not urgent

[2021-02-02 08:26] nic-chen commented on #1354
depend on ant-design

[2021-02-02 09:21] juzhiyuan commented on #1411
Hi, @vinayaksh42, once #1402 is merged, you could try to add testcase for it.

[2021-02-02 09:30] vinayaksh42 commented on #1411
Sure

[2021-02-02 09:35] juzhiyuan commented on #1407
All languages are welcome! And we do welcome you to maintain them :)

[2021-02-02 09:40] liuxiran commented on #1039
I talked about this issue with @juzhiyuan offline and we have reached the following consensus:

1. To improve the user experience, we would add plugin configuration templates, which are a range of configurations based on the different use scenario, in the templates, we should add  instructions for each configuration item at the same time.

**where would these configuration template stored?**
    S

[2021-02-02 10:10] starsz commented on #1405
The work will be started after #1408 merged.

[2021-02-02 10:13] starsz commented on #1415
Cool, it's a good way. I like it.

[2021-02-02 11:42] Yiyiyimu commented on #1388
Thanks for the suggestions @nic-chen !! But it seems still not works...

I just found out dashboard e2e test has almost the same function, I'll have a test to see if it works

[2021-02-02 11:46] Yiyiyimu commented on #1388
Thanks for the suggestions @starsz!
1. It's in that [commit](https://github.com/apache/apisix/pull/3404/commits/d0ca10d461fd493311a265f5db53a6297ae0c8fe), and would be something like
[code]

2. It seems the default printer is already the most simple one - `CompactPrinter` (see [code](https://github.com/gavv/httpexpect/blob/master/expect.go#L255-L263)). So there seems no better option for using `ht

[2021-02-02 11:48] Yiyiyimu commented on #1388
Sorry I made a mistake, `Printer` is an interface so I could implement a simpler one.

[2021-02-02 11:49] #1388 closed

[2021-02-02 19:29] vinayaksh42 commented on #1406
Hey, can I give this issue a try?

[2021-02-02 23:27] nic-chen commented on #1406
@vinayaksh42  absolutely，thanks！

[2021-02-02 23:32] nathannaveen commented on #1375
This issue is already fixed by https://github.com/apache/apisix-dashboard/pull/1377

[2021-02-03 00:16] liuxiran commented on #1375
yap, close now~ thanks

[2021-02-03 00:16] #1375 closed

[2021-02-03 03:48] starsz commented on #1165
IMO, BE provide the API as follow. This API is used for checking the version of apisix and dashboard are matched.

[code]

The response like this:

[code]

[2021-02-03 05:26] membphis commented on #1387
I think the `openid-connect` is an auth plugin too. I think we should add the `auth` type in APISIX project.

[2021-02-03 05:27] juzhiyuan commented on #1387
Fine, cc @spacewander do you agree with this?

[2021-02-03 06:18] starsz commented on #1406
Pretty good. I am so glad to hear that.
If you encounter any problems, please contact us.

[2021-02-03 06:29] Jaycean commented on #1415
PR has been merged. This issue is closed. If there is a problem, it will be reopened later.

[2021-02-03 06:29] #1415 closed

[2021-02-03 06:37] vinayaksh42 commented on #1406
@starsz is this the [file](https://github.com/apache/apisix-dashboard/blob/master/api/cmd/managerapi.go) in which I am supposed to make the changes?

[2021-02-03 07:04] starsz commented on #1406
Yes, you are right.
First, you should be familiar with this lib [cobra](https://github.com/spf13/cobra).
And then add `-c` flag like this: https://github.com/apache/apisix-dashboard/blob/0a0a42ae1c81f21a03c98a991b707dba6b724364/api/cmd/managerapi.go#L134

to set the config path which is used in
https://github.com/apache/apisix-dashboard/blob/0a0a42ae1c81f21a03c98a991b707dba6b724364/api/internal/co

[2021-02-03 11:46] juzhiyuan commented on #1165
good to go

[2021-02-03 12:16] tokers commented on #1165
maybe `mimatched_nodes` is better than `not_matched_nodes` .

[2021-02-03 12:17] juzhiyuan commented on #1165
`mismatch_nodes`

[2021-02-03 12:18] tokers commented on #1165
Gotcha.

[2021-02-03 14:02] vinayaksh42 commented on #1406
@starsz
i am getting the following output on running the make api-run command:
[code]
Can you guide me on how can i interact with the cli?

[2021-02-03 14:16] starsz commented on #1406
Of course.

First, `make api-run` is used for `dry-run` as you can see.
So we wouldn't use it in a production environment.
We should do `./api/build.sh` to build the binary of manger-api. Like this:

[code]
Then we can get the binary of manager-api at the `output` directory.

[code]

We can do `./manger-api -h` to see the help info.

[code]

The purpose of this issue is that we want to support "-c

[2021-02-03 14:20] imjoey commented on #1406
Hi @vinayaksh42 , the command `go run ./cmd/manager` under `./api` directory would start the manager-api locally. If additional flag `-h` is specified, it will provide with more detailed usage on the `manager-api` command. Please see the following example.

[code]

[code]

[2021-02-03 15:25] membphis commented on #1387
After offline discussion, "openid-connect" is not an "auth" plugin. Because it cannot find out the consumer of apisix.
I'm very sorry for the wrong understanding.

@sanmen359 why you need to bind plugin `openid-connect` to `consumer`? I think this is forbidden.

[2021-02-03 15:31] sanmen359 commented on #1387
我希望对 API 进行保护，所以需要对访问 API 的应用进行控制。我研究了一下，发现authz-keycloak 插件是个好选择。I want to protect the API, so I need to control the application accessing the API . I found the "authz keycloak" plug-in a good choice.

[2021-02-03 15:36] membphis commented on #1387
for this case, you can bind the plugin `openid-connect` to Route, then it should work well for your case.
here is the doc: https://github.com/apache/apisix/blob/master/doc/plugins/openid-connect.md#token-introspection

[2021-02-03 15:58] vinayaksh42 commented on #1406
i have added the following code in the managerapi.go
[code]
upon running the command
[code]
i get the response
[code]
even tho i have made a test.yaml file in the conf folder.

I am not sure if i am right or not but when i run
[code]
it returns the same error as the above one
[code]
but when i run
[code]
the manager-api starts without any issue or error
[code]
I think there is some fault with the

[2021-02-03 16:51] guoqqqi commented on #975
HI~, We already have a test related to the issue, I can propose a new PR to update its specification ~
![image](https://user-images.githubusercontent.com/72343596/106780490-0379e080-6683-11eb-9703-4307eadd8718.png)

[2021-02-03 20:21] vinayaksh42 commented on #1406
When we are running it from the output folder then we are one level below in the file structure because of which the "couldn't open sink" error is given.

[2021-02-04 02:33] starsz commented on #1406
I think now we should provide the `work_dir` and `conf path` both.

Please have try like:

`
./output/manager-api -p ./api -c ./api/conf/conf.yaml
`

[2021-02-04 02:43] juzhiyuan commented on #975
great!

[2021-02-04 02:43] #975 closed

[2021-02-04 04:09] #698 closed

[2021-02-04 04:41] vinayaksh42 commented on #1406
Will give this a try

[2021-02-04 08:56] #1279 closed

[2021-02-04 09:36] guoqqqi commented on #1411
HI, @vinayaksh42 , #1402  has been merged, so you can start trying to add test cases to it.

[2021-02-04 11:10] mdh67899 opened #1428 "why apisix dashboard Path limit must Begin with / , and * can only at the end ?"
# Feature request

## Please describe your feature
why apisix dashboard Path  limit path must Begin with / , and * can only at the end ?

![111111](https://user-images.githubusercontent.com/8528207/106884548-68cde000-671c-11eb-86a1-9c420c1a08eb.png)

my nginx location is :
[code]
and my request url is: http://test.com/v1/1.8.10/hello/index.html

## Describe the solution you'd like

## Describe alt

[2021-02-04 14:56] #1410 closed

[2021-02-04 15:29] LiteSun commented on #1428
ping @gxthrj @nic-chen

[2021-02-04 15:37] juzhiyuan commented on #1428
just for reference, here has one doc for this field:
https://github.com/apache/apisix/blob/master/doc/architecture-design.md#router

[2021-02-04 15:54] liuxiran commented on #1399
This feature would be more practical for advanced users, Perhaps `Expert Mode` is a fitting name for it(config in form can be defined as `Normal Mode`)

As we have plan to deprecate the `admin-api`, my only question is that Is this feature only for interim use or intended for long-term support?

[2021-02-04 21:06] vinayaksh42 commented on #1411
Thanks for the update, will get started with it

[2021-02-04 21:17] vinayaksh42 commented on #1406
This seems to be working perfectly

[2021-02-05 00:56] juzhiyuan commented on #1399
Long term support, of course, both `Normal mode` & `Advanced Mode`.

[2021-02-05 02:29] #838 closed

[2021-02-05 04:44] #1405 closed

[2021-02-05 04:48] Jaycean commented on #1332
issue: #1161
Planned unit test refactoring of ssl,route,upstream,service.
Unit testing of the patch method will be added.

[2021-02-05 05:30] #961 closed

[2021-02-05 07:57] #680 closed

[2021-02-05 08:58] Jaycean commented on #1303
Looking forward to the documentation, new developers have a headache writing unit tests and E2E tests, such as me.
But now I've learned a few ways.
Documentation can help other developers.

[2021-02-05 09:05] #1126 closed

[2021-02-05 09:07] starsz opened #1438 "Bug: the commit_hash in the demo is empty string"
# Bug report

## Describe the bug

The commit_hash is "", when requesting the online demo.

## How to Reproduce

`
curl 139.217.190.60/apisix/admin/tool/version -v
`

The response:

[code]

## Expected behavior

Return the correct commit_hash.

[2021-02-05 09:08] juzhiyuan commented on #1438
related PR: #1434

[2021-02-05 09:29] Jaycean commented on #1161
@starsz
Hi,I have finished writing the SSL unit test, and if you do not start writing the upstream unit test, I can do so.

[2021-02-05 10:04] starsz commented on #1161
Oh, good.Thank you very much.

[2021-02-05 10:05] starsz commented on #1161
Because the test cases of the route, service had finished, so I think we can change the millstone to M2.5.

[2021-02-05 13:37] nic-chen opened #1440 "doc: explain the configuration items of Manager API in detail"
# Feature request

## Please describe your feature

We could write a separate document to introduce the configuration items of Manager API so that users can know how to configure it more clearly.

[2021-02-05 13:45] nic-chen opened #1441 "feat: support json schema file in yaml format"
# Feature request

## Please describe your feature

We could support json schema in yaml format for easy reading, while yaml supports comments, making the content easier to understand

[2021-02-05 15:09] #681 closed

[2021-02-05 15:57] membphis commented on #1440
we can add more comments in the `config.yaml` file, which is easy to read

[2021-02-05 15:58] membphis commented on #1441
I think this is a better way. we can support this feature at APISIX when it exports JSON Schema data

[2021-02-05 16:00] #942 closed

[2021-02-05 16:02] juzhiyuan commented on #1441
and @liuxiran is working on let Plugin Panel easier to use (plugin template with YAML format)

[2021-02-05 16:18] membphis commented on #1441
I think @nic-chen is talking about this file: https://github.com/apache/apisix-dashboard/blob/master/api/conf/schema.json

need your confirm @nic-chen

[2021-02-05 16:19] membphis commented on #1404
ping @juzhiyuan

[2021-02-05 16:20] juzhiyuan commented on #1404
See #1434

[2021-02-05 21:20] #789 closed

[2021-02-05 22:02] #1404 closed

[2021-02-05 22:57] nic-chen commented on #1441
yes，it's the json schema for verifying the confing of plugin，not the config of plugin.

[2021-02-05 23:06] nic-chen commented on #1428
APISIX uses prefix indexes, so we could not put * in the front. For your needs, please refer to this document：https://github.com/api7/lua-resty-radixtree/#parameters-in-path

[2021-02-05 23:54] liuxiran commented on #1441
Nice feature to me ^_^

yep, we also want to use yaml  to make plugin configuration in dashboard more easy to use ^_^

[2021-02-06 00:24] juzhiyuan commented on #1428
ok, closed due to internal index policy.

@mdh67899 kindly reopen this one anytime if there have other concerns .

[2021-02-06 01:41] juzhiyuan opened #1443 "Update FAQ about sync plugin schema"
https://github.com/apache/apisix-dashboard/blob/master/docs/FAQ.md#4-after-modifying-the-plugin-schema-or-creating-a-custom-plugin-in-apache-apisix-why-cant-i-find-it-on-the-dashboard

Do we need to update this question?

cc @nic-chen

[2021-02-06 02:28] #1165 closed

[2021-02-06 05:31] tokers commented on #1440
Refer to APISIX's config-default.yaml apisix ingress controller's config.yaml :)

[2021-02-06 08:40] mdh67899 commented on #1428
我用apisix的api接口提交下面路由规则是没问题的，请求也可以正常的路由到后端服务。为什么dashboard上添加路由规则的时候path不支持使用*开头呢？

用这样的路由可能会导致路由效率低一些，但是有些场景下前后端交互，后端接口需要在路由里加上一些特殊信息，不能做到绝对的前缀匹配，比如```http://test.com/10/1.8.10/hello/index.html```这个url, 10和1.8.10是前后端约定有特殊含义的版本信息，这个是不固定的

[code]

[2021-02-07 06:55] nic-chen commented on #1355
fixed by #1424

[2021-02-07 06:55] #1355 closed

[2021-02-07 08:04] yashi-hub commented on #1311
hello, I'm Yashi Vijay. a sophomore undergraduate, INDIA. I'm a newbie at open source and would like to work on this task as a part of my outreachy contributions at APACHE.
is this issue still open? if yes, can you please provide me a minimum project setup guidance so that I can make my first PR at apache.  looking forward to it :)
thank you.

[2021-02-07 08:57] juzhiyuan commented on #1311
ya, it's open, cc @LiteSun to guide u :)

[2021-02-07 09:09] #1255 closed

[2021-02-07 09:11] #1134 closed

[2021-02-07 09:11] #1117 closed

[2021-02-07 09:12] #1075 closed

[2021-02-07 09:13] #683 closed

[2021-02-07 09:24] nic-chen opened #1449 "feat: support plugin `grpc-transcode`"
# Feature request

## Please describe your feature

support config plugin `grpc-transcode` on Dashboard

## Describe the solution you'd like

upload proto like SSL, and select proto in `grpc-transcode` config page

[2021-02-07 09:27] nic-chen opened #1450 "feat: support exposing schema of route, upstream, service and ssl through Manager API"
# Feature request

## Please describe your feature

support exposing schema of route, upstream, service and ssl through Manager API

## Describe the solution you'd like

[2021-02-07 10:38] #1438 closed

[2021-02-07 11:56] Jaycean opened #1455 "bug: Inconsistent unit test coverage"
# Bug report

## Describe the bug
pr: #1436
The coverage of CI unit test is inconsistent with that of local operation. Need to check the reason for the inconsistency. Record here
comment: https://github.com/apache/apisix-dashboard/pull/1436#issuecomment-774580281

[2021-02-07 14:36] liuyang211 opened #1456 "feat: support etcd prefix as apisix does"
# Feature request

## Please describe your feature

apisix has supported etcd prefix to store different clusters' configuration. Dashboard should also support this.
This is very useful in some resource limited situation like dev/test environment.

## Describe the solution you'd like

set multiple prefix in one dashboard, and let the user choose which apisix cluster he want to manage.

## Describe

[2021-02-08 01:39] tokers commented on #1456
Nice idea, @starsz @nic-chen What's your opinion?

[2021-02-08 02:46] Junnplus opened #1458 "better user experience"
# Feature request

## Please describe your feature

### friendly menu icon
![image](https://user-images.githubusercontent.com/8097526/107170183-af605a80-69fa-11eb-81b6-6035702c68c6.png)

### fiexd sidercar
![image](https://user-images.githubusercontent.com/8097526/107170233-cacb6580-69fa-11eb-999f-2b11835ebee0.png)

### consistent name for list page
![image](https://user-images.githubusercontent.c

[2021-02-08 04:26] juzhiyuan commented on #1378
cc @LiteSun to know what to do, then assign to @guoqqqi

[2021-02-08 04:26] juzhiyuan commented on #1458
Ya

[2021-02-08 05:43] starsz commented on #1456
Pretty good. I think it's a good idea.
PRs are welcomed.

[2021-02-08 06:20] nic-chen commented on #1456
great.
@liuyang211 would you like to submit a
PR for this feature? ^_^

[2021-02-08 09:18] hnlq715 commented on #1449
Happy to see this feature in dashboard :-)

[2021-02-08 09:27] Jaycean opened #1461 "feat: Confirm whether the store related functions are still in use. If not, delete them"
# Feature request

## Please describe your feature

comment: https://github.com/apache/apisix-dashboard/pull/1452#discussion_r571882686
Confirm whether the store related functions are still in use. If not, delete them.
[code]

[2021-02-08 13:40] nic-chen opened #1464 "doc: improve documentation for route export and import"
# Feature request

## Please describe your feature

We need to describe the route import and export feature in detail, including the processing details of upstream, service, plugins and other data in route, and other details.

There are most of the descriptions in the relevant proposals, we could refer to them.

[2021-02-08 13:41] nic-chen commented on #1464
cc @Jaycean @liuxiran

[2021-02-08 14:38] Jaycean commented on #1464
Yes, there is a simple description document at present.[IMPORT_OPENAPI_USER_GUIDE](https://github.com/apache/apisix-dashboard/blob/master/docs/IMPORT_OPENAPI_USER_GUIDE.md)
We can add a more detailed document later to enable developers and users to understand and use the import and export function faster.

[2021-02-08 14:47] liuxiran commented on #1464
Besides, we can also add some examples of what import and export files look like to help user more easily use this feature

[2021-02-08 15:24] liuyang211 commented on #1456
Sorry, I didn't program in both go and javascript before. That would be a great challenge to me.

[2021-02-09 01:20] nic-chen commented on #1456
it deeds only `go` for this feature. and we could help you finish this pr together, if you are interested.

[2021-02-09 02:19] starsz commented on #1464
Yes. It will be useful for users.

[2021-02-09 02:24] starsz commented on #1461
We can remove it and refactor the logic using it.

[2021-02-09 03:05] starsz commented on #1450
Do you mean we can add an API like apisix's control API?

https://github.com/apache/apisix/blob/master/doc/control-api.md

[2021-02-09 04:11] #1458 closed

[2021-02-09 04:12] juzhiyuan commented on #1458
Thanks, @Junnplus !

[2021-02-09 10:48] nic-chen commented on #1450
not the same. it's for ingress controller in the future

[2021-02-09 16:35] imjoey commented on #1464
@liuxiran @Jaycean  I guess we could tackle this and help users know more about this great feature.  Meanwhile, the community could also get feedbacks to further improve it. What's your opinions? 😄

[2021-02-10 00:54] liuxiran commented on #1464
yep, already in our schedule ^^

[2021-02-10 01:02] imjoey commented on #1464
Much appreciated and looking forward to your PRs.

[2021-02-10 05:10] guoqqqi commented on #1371
Can we reduce the time by reducing the number of working on the current plug-in.

[2021-02-10 05:44] juzhiyuan commented on #1371
how?

[2021-02-10 05:57] guoqqqi commented on #1371
I mean to say, Can we reduce the data in the DataSet.

[2021-02-10 06:28] juzhiyuan commented on #1371
of course not...

[2021-02-10 09:43] nic-chen opened #1468 "discuss: When import routes, whether duplicate routes should be allowed to be imported"
The current practice is to directly reject duplicate routes

The reason for this is that users may import many routes at once.
It may even import the same file multiple times due to misoperation
This will result in a lot of useless data.

But on the other hand, manually creating routes can create duplicate routes.

Welcome discuss.

[2021-02-10 09:45] nic-chen commented on #1468
cc @liuxiran  @imjoey @Jaycean @juzhiyuan @membphis

[2021-02-11 01:23] juzhiyuan opened #1470 "Backend E2E failed"
https://github.com/apache/apisix-dashboard/runs/1872715478

[2021-02-11 06:07] membphis commented on #1468
How to know that the two imported routes are the same? Is there a unique field like ID?

[2021-02-11 16:34] juzhiyuan opened #1471 "FE: Enable ConfigProvider"
Support ConfigProvider according to https://ant.design/components/config-provider-cn/

[2021-02-13 23:52] juzhiyuan commented on #1470
I see a bundle of PRs is failed due to backend E2E, please take a look when you are free.

![image](https://user-images.githubusercontent.com/2106987/107864671-968ff300-6e99-11eb-8e61-01a65db9daa6.png)

[2021-02-14 16:28] starsz commented on #1470
Just guess there were some changes on apisix.
They cause this problem.

[2021-02-14 16:30] starsz commented on #1468
Maybe we need to compare the field and value.

[2021-02-15 00:32] moonming commented on #1470
@nic-chen ch

[2021-02-15 03:44] nic-chen commented on #1470
E2E test failed because of an update of global rule in APISIX a few days ago.. I submitted a pr to fix this problem.

https://github.com/apache/apisix/pull/3595

[2021-02-15 12:31] liuyang211 commented on #1456
I would like to have a try.
I've viewed the apisix-dashboard\api\ these days. But I still don't get the point.
So where should I start?

[2021-02-16 05:10] starsz commented on #1456
Now, the routes are set in the `api/internal/hander/*.go`
IMO, we can configure the `prefix` in the `conf.go` and use the `gin.Group` to set the prefix of route.

[2021-02-16 12:20] nic-chen commented on #1456
@liuyang211

The detailed steps are as follows:

1. Configure the prefix in yaml:
https://github.com/apache/apisix-dashboard/blob/master/api/conf/conf.yaml#L24-L31

2. Read configuration
https://github.com/apache/apisix-dashboard/blob/master/api/internal/conf/conf.go#L135-L158
https://github.com/apache/apisix-dashboard/blob/master/api/internal/conf/conf.go#L222-L234

3. Use configuration
`BasePath

[2021-02-17 03:47] liuyang211 commented on #1456
Thank you, I've done it. But I modified this, is that OK?
2. Read configuration
https://github.com/apache/apisix-dashboard/blob/master/api/internal/conf/conf.go#L66-L71

And use the global variable conf
`	err := InitStore(HubKeyConsumer, GenericStoreOption{
		BasePath: conf.ETCDConfig.Prefix + "/consumers",
		ObjType:  reflect.TypeOf(entity.Consumer{}),
		KeyFunc: func(obj interface{}) string {

[2021-02-17 10:48] umelly opened #1476 "bug: add route param `Redirect : Enable HTTPS`, show toast error"
chrome 88.0.4324.150 / macos 11.3 beta

apisix-dashboard 2.4

## screenshots

![image](https://user-images.githubusercontent.com/973111/108193450-69b93580-7150-11eb-8997-f3e6a43d4a97.png)

devtools
![image](https://user-images.githubusercontent.com/973111/108194059-214e4780-7151-11eb-8a1d-23416aa5a946.png)

[2021-02-17 13:07] juzhiyuan commented on #1476
@umelly Hi, could you please give fake request data? and cc @nic-chen to check what happened, thanks.

![image](https://user-images.githubusercontent.com/2106987/108208525-1b159680-7164-11eb-990c-cc4af9f3fe39.png)

[2021-02-17 14:05] nic-chen commented on #1476
I reproduced the bug, I think we need to change the parameters of this api to solve this problem.

[2021-02-17 14:09] nic-chen commented on #1456
It's ok. But we need to make sure that `conf.ETCDConfig.Prefix` has a default value.

[2021-02-17 14:14] nic-chen commented on #1456
It's great feature. But we don't recommend to use an ETCD cluster for multiple APISIX clusters.

[2021-02-17 15:47] liuyang211 commented on #1456
I've created a PR, but 3 checks fail. Can you review that code, and what should be fixed?
Thanks.

[2021-02-18 01:27] Jaycean commented on #1468
Yes, when I finished importing and exporting, I discussed this problem with @liuxiran @imjoey

Apisix allows users to create multiple duplicate routes, which adds more flexibility.

If the import does not remove the duplicate data, it is necessary to add the unique identification of the route (it does not have to be an ID, as long as it can identify the uniqueness, and if the uniqueness is repeate

[2021-02-18 01:41] nic-chen commented on #1468
@membphis @Jaycean

I think the routing conditions are exactly the same, it can be regarded as duplicate. Condition fields include uri, uris, host, hosts, vars, remote_addr, remote_addrs and priority etc.

[2021-02-18 03:32] membphis commented on #1468
It is not a good way.

this way is better

[2021-02-18 04:55] juzhiyuan opened #1480 "Popup when deleting an Upstream which is bound with Route"
# Bug report

## Describe the bug

![image](https://user-images.githubusercontent.com/2106987/108306881-14c8fe00-71e8-11eb-84d2-c0a0578fa99c.png)

1. Create a Route with an existing Upstream;
2. Delete that Upstream;
3. When editing that Route, because the upstream is deleted, then that Route Edit page is broken like the pictures above.

## Expected behavior

🤔 I know the Apache APISIX allows this

[2021-02-18 08:27] #1311 closed

[2021-02-18 08:49] liuxiran commented on #1468
How about leave the choice to users? which means when users import route, they can choose
* `duplicate is allowed`: that means any routes in right configuration can be imported, no matter it is duplicate or not, as APISIX allows to create the same route, IMHO, this operation is reasonable
* `Cover the duplicate data`: that means if the route to be imported is duplicate with the one already in APIS

[2021-02-18 09:35] gxthrj commented on #1265
I will do this feature next week, and modify readme.

[2021-02-19 04:18] Firstsawyou opened #1482 "how to delete the historical version of the APISIX node."
## System information

- OS: [e.g. macOS, Windows]
- Browser (if applies) [e.g. Chrome, Safari, Edge]
- Version: [e.g. 2.0-rc3]: dashboard 2.4

How to delete the extra historical version in the APISIX node? It prompts mismatch when deleting.

![image](https://user-images.githubusercontent.com/52862365/108456747-f4fb0e00-72ab-11eb-9fa5-2e991a177921.png)

[2021-02-19 05:18] Firstsawyou opened #1483 "[discuss]: how to use apisix for proxy access to dashboard"
### Issue description

Apisix and dashboard are separately deployed projects. If we want to proxy access to dashboard through apisix, what should we do?

When I try to use the apisix proxy to access the dashboard, the dashboard log shows the following 401 status code:

[code]

### Update Issue description:

Apisix and dashboard are separately deployed projects. If we want to proxy access to dashbo

[2021-02-19 06:26] spacewander commented on #1483
The error message should be more clear.

[2021-02-19 06:40] nic-chen commented on #1482
Plugin `server-info` supports the expiration time of the specified information([refer](https://github.com/apache/apisix/blob/master/doc/plugins/server-info.md#how-to-customize-the-server-info-report-configurations)).

We could also support manual deletion of node data, what do you think?  @starsz @juzhiyuan

[2021-02-19 07:12] juzhiyuan commented on #1483
Here are two things in your issue:

1. `version_match` throws 401;
2. How to proxy request from apisix to dashboard.

[2021-02-19 10:11] Firstsawyou commented on #1483
These log information has nothing to do with the title, I will update the content.

[2021-02-19 10:56] tokers commented on #1483
Some Routes, Upstreams need to configured to APISIX but bypass the APISIX Dashboard, e.g. invoking Admin APIs.

[2021-02-19 15:08] Firstsawyou opened #1484 "doc: the FAQ doc add the steps of how to load a custom plugin to the plugin list"
### Issue description

`How to load a custom plug-in to the plug-in list` is a very common problem, but there is no relevant record in the current document. I think the FAQ document should add `How to load a custom plugin to the plugin list steps`.

[2021-02-19 16:55] Firstsawyou opened #1485 "bug: execute the `api/build-tools/schema-sync.sh` script and report "module'table.new' not found""
# Bug report

## Describe the bug

When the `api/build-tools/schema-sync.sh $version` command is executed under the `apisix-dashboard` directory, it will report:
[code]

`$version` is the version number of Apache APISIX, e.g. master or 2.3

## How to Reproduce

1. Execute the `api/build-tools/schema-sync.sh 2.3` command

[code]

2. See error

[code]

## Expected behavior

When executing the `api/b

[2021-02-20 00:00] starsz commented on #1482
Agree +1.

[2021-02-20 02:45] juzhiyuan commented on #1484
#1486

[2021-02-20 09:54] juzhiyuan opened #1487 "Support duplicate one existing Route"
# Feature request

## Please describe your feature

Support duplicate one existing Route

## Describe the solution you'd like

1. Add a Duplicate button on the Route List page;
2. When clicking the Duplicate button, we should first fetch that route's data, then call Create a Route method to implement this feature.

[2021-02-20 10:17] juzhiyuan opened #1488 "Add tips on the Login page"
# Feature request

## Please describe your feature

Add tips on the Login page, so users could know how to change the default password & username.

## Describe the solution you'd like

1. Modify the Login page;
2. Added some tips;

[2021-02-20 10:49] guoqqqi commented on #1411
Hi, any update? 😊

[2021-02-20 12:22] membphis commented on #1480
Allow users to force deletion.

When deleting an upstream object that is being used, it is better to remind users of risks.

[2021-02-20 12:22] membphis commented on #1480
@nic-chen what do you think?

[2021-02-20 13:40] Baoyuantop commented on #1488
I can add it @juzhiyuan

[2021-02-20 13:45] juzhiyuan commented on #1488
Go

[2021-02-20 17:55] liuxiran commented on #1487
A useful feature that would help user quickly create a route based on the exist route 👏👏. Do we allow edit configuration item during the duplication? which means, after click the `Duplicate button`, we will go to the create route page, and fill in the configuration items with the target route data, if user wants to change some of the configuration, they could change them before create action.

[2021-02-20 18:33] imjoey commented on #1487
+1 agreed. The `Duplicate` button acts more like the `Edit` button, which provides the route editable for every configuration item. In addition, we should explicitly reset the name of the new route in case of name conflicts, how about add `_duplicated` as the suffix of the name of existing route?

@juzhiyuan @liuxiran any feedback is welcome. Thanks.

[2021-02-20 20:39] liuxiran commented on #1039
The  implement of https://github.com/apache/apisix-dashboard/issues/1039#issuecomment-771504973 will be divided into four parts:

- [ ] FE: support `yaml` to config plugin in plugin page, `json` at the same time will still be available.
- [ ] DOC: add plugin templates, in fact this step is the most important part and will be a long term target
- [ ] BE: manager-api provides api to get plugin templ

[2021-02-20 20:39] liuxiran commented on #1039
The  implement of https://github.com/apache/apisix-dashboard/issues/1039#issuecomment-771504973 will be divided into four parts:

- [ ] FE: support `yaml` to config plugin in plugin page, `json` at the same time will still be available.
- [ ] DOC: add plugin templates, in fact this step is the most important part and will be a long term target
- [ ] BE: manager-api provides api to get plugin templ

[2021-02-20 20:55] juzhiyuan commented on #1039
Great! 😉

[2021-02-20 21:15] juzhiyuan commented on #1487
Ya, that would be better indeed, and we could separate this feature into 2 steps:

1. Copy one existing Route's configuration directly.

2. Allow users to modify then create a new one.

[2021-02-21 01:34] membphis commented on #1039
LGTM @liuxiran

[2021-02-21 01:49] membphis commented on #1450
@nic-chen I think you need to write more description about why we need this feature. this is very important

[2021-02-21 01:51] membphis commented on #1470
can we close this issue now? @nic-chen

[2021-02-21 01:57] membphis commented on #1484
if it is a duplicated issue, we should close this one

[2021-02-21 01:57] membphis commented on #1484
ping @Firstsawyou

[2021-02-21 03:36] nic-chen commented on #1470
yes, it is solved

[2021-02-21 03:36] #1470 closed

[2021-02-21 04:00] nic-chen commented on #1468
`duplicate is allowed` is good. but I'm not sure about `Cover the duplicate data`, there are certain risks in doing so.

[2021-02-21 04:11] nic-chen commented on #1483
To use APISIX proxy Dashboard, you need to set `enable admin` to false (because the path of the Admin API and the path of the Manager API are the same, not setting it to false will request to apis of Admin API), and then follow the normal route configuration.

[2021-02-21 04:19] nic-chen commented on #1480
I think it’s good for us.

This avoids the inability to delete, and prevents users from deleting without their knowledge.

What about We add a `force` parameter. When this parameter is false or without this parameter, it cannot be deleted, and the backend returns a specific code, When `force` is true, it can be deleted ?

[2021-02-21 04:22] nic-chen commented on #1039
I have a little doubt, where does the configuration template come from? And how do we maintain them. Thanks. @liuxiran

[2021-02-21 06:06] #1484 closed

[2021-02-21 06:09] #1483 closed

[2021-02-21 06:34] Firstsawyou commented on #1484
There has been a PR to resolve this issue, and this issue has been closed.

[2021-02-21 06:51] juzhiyuan opened #1492 "Support fuzzy search on every List page"
# Feature request

## Please describe your feature

Support fuzzy search in every List page.

Just like:

![image](https://user-images.githubusercontent.com/2106987/108617821-34645e80-7454-11eb-898a-f4b5fdad12cf.png)

[2021-02-21 06:55] juzhiyuan opened #1493 "Support More selectors on List page"
# Feature request

## Please describe your feature

Support More Actions selector on the List page, to prevent too many buttons.

![image](https://user-images.githubusercontent.com/2106987/108617914-d8e6a080-7454-11eb-8321-d0afcc70f839.png)

[2021-02-21 07:30] membphis commented on #1468
they are both not good.

Are there any fields like ID to identify a specific object (such as route, upstream, etc.)?

[2021-02-21 07:53] membphis commented on #1480
agree +1

[2021-02-21 08:33] nic-chen commented on #1468
the data exported from APISIX have ID for routes, but data generated from code or other sources may not have

[2021-02-21 13:32] starsz commented on #1468
`duplicate is allowed`

I think it's good. Because the duplicate route is harmless, we can keep it.

[2021-02-21 13:35] starsz commented on #1487
Good feature.Very looking forward it.

[2021-02-22 06:56] mdh67899 commented on #1428
如果放开路由里面的prefix限制，是否只需要改掉pattern就好了？如果改掉pattern就生效，我这边自己fork一份代码自己编译一下也可以的，谢谢。

https://github.com/apache/apisix-dashboard/blob/bd5ed03e3256437ed3b54ad10b0ab7b30bbb0b50/web/src/pages/Route/components/Step1/RequestConfigView.tsx#L141-L143

[2021-02-22 07:59] juzhiyuan commented on #1428
ya, and should check if apisix has this limitation, if yes, then we should update apisix and dashboard.

[2021-02-22 08:21] Abbila opened #1494 "There is some duplicate code here"
# Bug report

## Describe the bug

apisix-dashboar/web/src/pages/Route/typing.d.ts  中存在重复代码。
ResponseBody中的hosts字段有冲突。
type MatchingRule 和type UpstreamHeader 有重复

[2021-02-22 09:05] mdh67899 commented on #1428
I am sure apisix does not have this limitation

this is my route:
[code]
and we use curl request works fine(in my environment, apisix listen 80 port，and upstream_id 100 is a simple http server)

[code]

[2021-02-22 09:45] #1488 closed

[2021-02-22 10:03] juzhiyuan opened #1496 "Broken RPM download link"
@liuxiran Hi, this link is broken, please take a look.

_Originally posted by @juzhiyuan in https://github.com/apache/apisix-dashboard/pull/1489#r580121249_

[2021-02-22 12:30] juzhiyuan commented on #1428
fine, then you just need to modify Dashboard's limitation and rebuild.

[2021-02-22 15:57] #1443 closed

[2021-02-22 16:24] liuxiran commented on #1487
Agree with the suffix `_duplicated`.

[2021-02-22 17:45] liuxiran commented on #1039
The configuration template plans to define manually in a new dir e.g: `plugin_templates` in dashboard repo, and we have to maintain them when the configuration rules of the plugin changed.

The template would contain three parts:
1. `usage scenario`, which means if users want to use plugin in scenarioA, the can refer scenarioA's template  to complete their configuration.
Just take `limit-count` fo

[2021-02-22 22:06] #1371 closed

[2021-02-22 22:06] #1494 closed

[2021-02-23 00:41] #1496 closed

[2021-02-23 00:47] #1485 closed

[2021-02-23 06:49] LiteSun commented on #1399
## Solutions design:
On the page, in the list of route, service, consumer and upstream, add a view button. When the user clicks view, a Drawer will pop up on the right side, and the corresponding data will be displayed in the form of json in the Drawer.

![image](https://user-images.githubusercontent.com/31329157/108809901-cc914d80-75e4-11eb-9115-a4be803288b2.png)
![image](https://user-images.gith

[2021-02-23 07:17] Jaycean opened #1500 "Feat: Rewrite all E2E tests using the Ginkgo"
# Feature request

Rewrite all E2E tests using the Ginkgo.

There are a lot of E2E tests that need to be rewritten, so we record the rewriting of E2E in this issue.

## E2E test rewrite list (by file name)
- [ ] skywalking-route_with_trace_plugin_test
- [ ] authentication_test  - @nic-chen
- [ ] balancer_test  - @nic-chen
- [ ] consumer_test  - @nic-chen
- [ ] global_rule_test  - @nic-chen
- [ ] i

[2021-02-23 07:19] Jaycean commented on #1500
The PR and issue of the completed E2E can be associated and recorded.

cc @nic-chen  @starsz  @imjoey

[2021-02-23 07:27] starsz commented on #1500
Yeah. Much appreciated.
As far as I know, @nic-chen had finished part of them but hadn't created PR.

[2021-02-23 07:32] nic-chen commented on #1500
Thanks @Jaycean
I think we could list a todo list by module

[2021-02-23 08:06] Jaycean commented on #1500
OK, I'll make the list by E2E test file name

[2021-02-23 08:16] Jaycean commented on #1500
I think we can add the name of the person who is rewriting the file after each todolist, so as to avoid repeated development.

[2021-02-23 12:20] juzhiyuan commented on #1399
As far as I know, the backend is using this method to check the client's input, right?

[2021-02-24 01:43] wannianma opened #1503 "Build v2.4 error."
# Bug report
Build v2.4 error.

## Describe the bug

Build v2.4, get Some js build error, same error when use docker build dashboard.

## Expected behavior

expect dashboard build success.

## Screenshots

[code]

## System information

- OS: [CentOS Linux release 7.7.1908 (Core)]
- Browser (if applies) [e.g. Chrome, Safari, Edge]
- node version:  v10.24.0
- npm version:  v6.13.4
- yarn version:

[2021-02-24 02:05] juzhiyuan commented on #1503
cc @guoqqqi to check this issue today.

[2021-02-24 07:27] #1456 closed

[2021-02-24 08:02] LiteSun opened #1506 "test: front-end e2e test for rawDataEditor"
# Feature request

## Please describe your feature
Need front-end e2e test for rawDataEditor.
- [ ] route
- [ ] consumer
- [ ] service
- [ ] upstream

refer pr: #1505

[2021-02-24 08:39] StretchV opened #1507 "麻烦问下我新增的自定义插件如何在apisix-dashboard的插件页面显示出来呢"
我自定义了一个插件，然后在新增路由选插件的阶段如何能让apisix-dashboard显示出来我自定义的插件呢

[2021-02-24 09:07] juzhiyuan commented on #1507
Please see here:

https://github.com/apache/apisix-dashboard/blob/master/docs/FAQ.md#4-after-modifying-the-plugin-schema-or-creating-a-custom-plugin-in-apache-apisix-why-cant-i-find-it-on-the-dashboard

[2021-02-24 09:19] nic-chen opened #1508 "feat: Dashboard should keep same as APISIX, the enabled plugin list can be configured."
The dashboard should be the same as APISIX, and the list of enabled plugins can be configured.

When exporting the JSON Schema from APISIX, only the schema of the plugins that APISIX has been enabled are exported. These plugins can be considered as the list of plugins that the dashboard can configure.

So the current implementation is that the list of plugins available in the dashboard is the list

[2021-02-24 10:37] StretchV commented on #1507
@juzhiyuan    这句话是什么意思呢“If you have a custom plugin, make sure it is in the apisix directory and use the following command.”   这里的apisix directory 指的是哪个目录呢

[2021-02-24 11:02] juzhiyuan commented on #1507
Hi, could you help to provide where you see this sentence?

[2021-02-24 11:23] StretchV commented on #1507
抱歉，我看错文档了，万分感谢，很有效

[2021-02-24 11:23] #1507 closed

[2021-02-24 14:44] juzhiyuan commented on #1508
maintain a yaml file or filter from schema.json?

[2021-02-24 19:03] Firstsawyou opened #1510 "the configuration relationship between "host" and "allow_list" in the conf.yaml file"
# Feature request

## Please describe your feature

If the configuration allows all IPs to access the APISIX Dashboard, only configuring `allow_list` will not take effect immediately, and you need to configure the `host` part. According to the description of the `allow_list` field, it is easy to misunderstand that you only need to configure the `allow_list` part. We should add configuration exampl

[2021-02-25 01:21] nic-chen commented on #1508
1. All plugins are included in schema.json
2. Add a new configuration item `plugins` in `conf.yaml` to control which plugins are displayed in the dashboard.

[2021-02-25 01:35] membphis commented on #1399
ping @LiteSun

[2021-02-25 01:39] membphis commented on #1039
ping @nic-chen

[2021-02-25 01:42] LiteSun commented on #1399
1. I submitted a PR for rawDataEditor's view mode. #1505

2. `edit` mode needs @nic-chen's support to validate data.

[2021-02-25 02:57] nic-chen commented on #1399
@LiteSun
The api cannot verify whether the submitted data is missing fields.
Only required fields can be checked if they are missing.

[2021-02-25 03:02] nic-chen commented on #1039
@liuxiran
Thanks for the explanation.
Maintaining a separate template is troublesome, and after the plugin schema is updated in APISIX, it may be easier to miss here and cannot keep up with the update of the plugin schema.

[2021-02-25 03:08] nic-chen commented on #1510
They are two different configurations.

Maybe we can set the default value of `listen.host` to `0.0.0.0`.

[2021-02-25 03:09] nic-chen commented on #1508
cc @membphis @imjoey  @liuxiran @ShiningRush

[2021-02-25 03:15] starsz commented on #1510
Agree +1.

[2021-02-25 03:24] starsz commented on #1508
If we add a plugin in apisix, we should sync with the plugins configuration?

[2021-02-25 03:28] juzhiyuan commented on #1508
How about loop the schema.json and get the enabled plugin list?

[2021-02-25 03:32] juzhiyuan commented on #1510
I would prefer to keep the current default value, once users use the following configuration:

- listen.host == 0.0.0.0
- The ManagerAPI is running in public IP
- Using the default Username/Password

Then an urgent security issue will occur.

[2021-02-25 03:33] juzhiyuan commented on #1510
We'd better update the documentation and configuration file more clear about this issue, no matter use 127.0.0.1 or 0.0.0.0

[2021-02-25 03:33] Firstsawyou commented on #1510
I think it would be better to explain the `allow_list` field.  https://github.com/apache/apisix-dashboard/blob/master/api/conf/conf.yaml#L22

E.g:
[code]

[2021-02-25 03:40] ShiningRush commented on #1508
Do Dashboard users care about plugins that are not enabled? it is reasonable for Dashboard to only display enabled plugins to me.

[2021-02-25 03:42] nic-chen commented on #1510
allow_list default value is `127.0.0.0/24`.
it's ok for this.

[2021-02-25 03:42] juzhiyuan commented on #1508
Because APISIX will only export enabled plugins schemas, so for Dashboard, we could loop this file and get all plugin names, they are enabled indeed.

[2021-02-25 03:44] nic-chen commented on #1508
yes

[2021-02-25 03:46] nic-chen commented on #1508
some of them do care about it, It will look clearer to only display the plugins you want.

[2021-02-25 03:46] nic-chen commented on #1508
However, APISIX's strategy is to allow different instances to configure different enabled plugin lists (of course all instances are the same, it is even more possible).

This means that the JSON Schema exported from one of multiple APISIX instances may not be a complete list.

[2021-02-25 04:17] nic-chen commented on #1487
Is it possible to just copy the data on the page, and the user can modify it before submitting it? Instead of directly cloning the route data first.

[2021-02-25 04:25] nic-chen commented on #1450
@membphis  updated.

[2021-02-25 05:43] liuxiran commented on #1039
Thanks @nic-chen, and your concern is really a problem indeed.
We originally envisioned automatically generating templates through schema, and we got a scheme to generate template stochasticly, but it can not support to generate template refer to the usage scenario. It's not very friendly for plugin with options.

It would be better to find a way to generate template reder to the different usage s

[2021-02-25 06:14] nic-chen commented on #1039
Look forward to it,  and thanks for that.

[2021-02-25 06:40] LiteSun opened #1512 "Plugin template configuration"
## Background and purpose

To allow users to configure plugin templates in advance and bind the corresponding plugin templates when creating routes to achieve the fast configuration of routing plugin.

## Design options
### Front-end

- Plugin template configuration portal:
Add the Plugin Template Config button to the top of the route list, and enter the Plugin Template list page after clicking th

[2021-02-25 06:54] moonming commented on #1512
will pugin support `tag`?
In this way, the management and grouping of plug-ins can be completed, which is more flexible

[2021-02-25 07:21] LiteSun commented on #1512
Good catch!
Does apisix plugin config support tag? Need @spacewander  to confirm, if apisix supports it, I will update the tag to the solution.

[2021-02-25 07:47] nic-chen commented on #1512
need to update entity and schema for route.

[2021-02-25 08:15] LiteSun opened #1514 "Incomplete i18n coverage"
# Feature request
## Please describe your feature

Currently the dashboard is not fully internationalized, so we need to go through it and fix them.
- [ ] route list page
![image](https://user-images.githubusercontent.com/31329157/109122570-c2598580-7783-11eb-9094-396e92c01c45.png)

- [ ] route step3 page
![image](https://user-images.githubusercontent.com/31329157/109122655-dbfacd00-7783-11eb-8b05

[2021-02-25 08:36] LiteSun commented on #1512
Let me do more research on how to prevent the page from crashing if a field is missing

[2021-02-25 08:38] LiteSun commented on #1399
ok, let me do more research on how to prevent the page from crashing if a field is missing.

[2021-02-25 10:20] #1508 closed

[2021-02-25 13:08] #1506 closed

[2021-02-25 14:45] Baoyuantop commented on #1514
Let me do it 😁

[2021-02-25 15:23] juzhiyuan commented on #1514
ok!

[2021-02-26 02:53] stu01509 commented on #1407
Hi @juzhiyuan, @LiteSun

Can I add the Traditional Chinese?

[2021-02-26 03:10] stu01509 commented on #1493
Hi @juzhiyuan

Can you assign this issue to me?

[2021-02-26 03:33] stu01509 commented on #944
Can I pick this issue? btw I think maybe we can standardize all of APISIX's repo issue templates? It may help the user easily to submit the issue.

[2021-02-26 03:37] stu01509 commented on #1411
Hi @guoqqqi

I'm interested in this issue, Could you assign this issue to me?

[2021-02-26 03:48] juzhiyuan commented on #944
Ya, we should standardized all repos :) welcome to send PR for one repo first.

[2021-02-26 04:36] nic-chen commented on #1493
@stu01509  thanks.

[2021-02-26 04:37] nic-chen commented on #1411
@stu01509  thanks!

[2021-02-26 06:12] guoqqqi commented on #1411
Hi @stu01509
Thank you very much and looking forward to your PR.

[2021-02-26 17:20] Jaycean opened #1521 "bug: BE E2E test case is unstable"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## How to Reproduce

BE E2E test case is unstable
https://github.com/apache/apisix-dashboard/pull/1466/checks?check_run_id=1984404224

BE E2E test case is unstable and appears again in PR：#1504, so it is directly repaired in #1504.

commit: https://github.com/apache/apisix-dashboard/pull/1504/commits/de3a084bf0

[2021-02-27 00:04] moonming commented on #1521
@nic-chen @membphis How to solve this problem completely?  Appeared many times

[2021-02-27 01:03] Jaycean commented on #1521
@nic-chen @starsz @membphis
I think it's because the E2E test case didn't add sleep for data sync. Do you have any suggestions?

[2021-02-27 02:40] nic-chen commented on #1521
@moonming @membphis

Regarding this issue, I have added sleep to the `RunTestCase` function to avoid omissions.

However, for test cases written by hand without calling RunTestCase, they can't avoid the issue yet. I will find a way to avoid  the issue under this circumstances.

@Jaycean  Thanks for the explanation.

[2021-02-27 02:50] Jaycean commented on #1521
Yes, there is also my problem. I left it out when I wrote it by hand.

[2021-03-01 01:00] LiteSun commented on #1512
Ping @spacewander

[2021-03-01 02:44] LiteSun commented on #1512
Apisix has submitted pr to complete this requirement: https://github.com/apache/apisix/pull/3703

The front-end page was changed as follows to complete the requirement.
1. new label search on the plugin template list page, similar to the route list label search.
![image](https://user-images.githubusercontent.com/31329157/109445467-9e938980-7a7a-11eb-990e-0714889e4297.png)

2. add label field in th

[2021-03-01 02:50] spacewander commented on #1512
Added in https://github.com/apache/apisix/pull/3703

[2021-03-01 03:09] LiteSun commented on #1514
any update?😆 @Baoyuantop

[2021-03-01 03:57] Baoyuantop commented on #1514
I am doing it, submit a PR today or tomorrow

[2021-03-01 06:25] nic-chen commented on #1328
we have synced dubbo schema and add unit test.

[2021-03-01 06:25] #1328 closed

[2021-03-01 06:33] juzhiyuan opened #1528 "broken document link in plugin module"
# Bug report

## Describe the bug

Hi, we are building the new document website and refactored some projects' docs structure, which leads to broken links. In Dashboard -> Plugin Editore, the `Document` button will lead to a 404 issue, we should fix it.

## Expected behavior

When users click the Document button, they should visit the correct page.

## Screenshots

![image](https://user-images.gith

[2021-03-01 07:09] LiteSun commented on #1503
ping @guoqqqi

[2021-03-01 07:26] #1476 closed

[2021-03-01 08:46] guoqqqi commented on #1389
Resolved by #1469

[2021-03-01 08:46] #1389 closed

[2021-03-01 12:33] stu01509 commented on #1528
Please assign this issue to me.

[2021-03-01 15:27] Jaycean commented on #1521
The CI problem has been fixed. If there is a problem, restart it.

[2021-03-01 15:27] #1521 closed

[2021-03-01 15:31] Firstsawyou opened #1534 "docs: fix the link failure in the FAQ.md doc"
## Issue description

In FAQ.md, some document links are invalid, we need to fix it.(https://github.com/apache/apisix-dashboard/blob/master/docs/en/latest/FAQ.md#4-after-modifying-the-plugin-schema-or-creating-a-custom-plugin-in-apache-apisix-why-cant-i-find-it-on-the-dashboard)

As follows:

<img width="1075" alt="截屏2021-03-01 下午11 26 54" src="https://user-images.githubusercontent.com/52862365/10

[2021-03-01 15:34] stu01509 commented on #1534
Hi @Firstsawyou

I sent a PR in #1532

[2021-03-01 17:03] membphis commented on #1407
ping @Junnplus @LiteSun

[2021-03-01 17:44] Firstsawyou opened #1535 "Support for Built-in and Custom Plugins Syncing to the Dashboard"
# Feature request

## Please describe your feature

After modifying the plugin schema or creating a custom plugin in Apache APISIX, load the plugin to the dashboard plugin list. Currently, the recording method in FAQ.md is to only support manually loading the modified plugin `schema` or plugin.
(https://github.com/apache/apisix-dashboard/blob/master/docs/en/latest/FAQ.md#4-after-modifying-the-plug

[2021-03-01 23:43] liuxiran commented on #1512
I am a little confused about how to use the plugin template.  Do we need to bind the template to the target route manually?  @LiteSun

[2021-03-02 01:26] LiteSun commented on #1512
Yes, just like binding upstream in a route.

[2021-03-02 01:29] LiteSun commented on #1514
You can upgrade the pro-table version if you can solve the problem. 😄

[2021-03-02 01:32] starsz commented on #1535
Yes. We had discussed it. And wait for @LiteSun 's DISCUSS to the email.

[2021-03-02 01:36] juzhiyuan commented on #1407
@stu01509 ya, of course!

[2021-03-02 01:40] starsz commented on #1528
Fixed by #1533

[2021-03-02 01:40] #1528 closed

[2021-03-02 01:40] LiteSun commented on #1535
Today I will start a discussion on the mailing list.

[2021-03-02 01:42] #1534 closed

[2021-03-02 01:56] liuxiran commented on #1512
Got it, and does the plugin template can also be bind to service?

[2021-03-02 02:15] LiteSun commented on #1512
Binding service depends on apisix, which does not currently support this feature

[2021-03-02 03:41] stu01509 commented on #1493
Hi @juzhiyuan  and @nic-chen

I use the dropdown to wrap the buttons, It may look like this, What do you think?

![image](https://user-images.githubusercontent.com/22230889/109593545-1da4c280-7b4c-11eb-9d0c-fe6f436007d9.png)

![image](https://user-images.githubusercontent.com/22230889/109593552-209fb300-7b4c-11eb-9169-42d5508030ee.png)

[2021-03-02 03:47] juzhiyuan commented on #1493
Hi, thanks for your idea!

![image](https://user-images.githubusercontent.com/2106987/109593957-ea166800-7b4c-11eb-8a3c-c204345a7ff6.png)

I noticed that if we could refer to the above screenshot? We could put `查看` & `编辑` outside the more selector, and put `Offline` & `Delete` in `更多`.

[2021-03-02 03:47] juzhiyuan commented on #1493
Just like `展开` does

[2021-03-02 03:48] nic-chen commented on #1535
looking forward to it.

[2021-03-02 03:53] nic-chen commented on #1493
Can `管理` and `^` be on one line?
And when folded, text looks better than button.

[2021-03-02 04:00] stu01509 commented on #1493
**管理** and **^** they are on the one line, just affected by the window size.
![image](https://user-images.githubusercontent.com/22230889/109595004-a9b7e980-7b4e-11eb-8d68-bf5e8b679f04.png)

[2021-03-02 05:04] stu01509 commented on #1493
Hi @juzhiyuan

I found some issues when the Dropdown contains Popconfirm, the Popconfirm's position will overflow.
Here are some related comment, seem like Ant Design Team is not fix yet.

Any suggestions or ideas?

https://github.com/ant-design/ant-design/issues/22578
https://github.com/ant-design/ant-design/issues/22814

[2021-03-02 05:13] stu01509 commented on #1407
Hi @juzhiyuan

Can I create the **zh-TW.ts** and **zh-TW** folder in the locales folder right?

[2021-03-02 06:20] juzhiyuan commented on #1407
🤔 This needs @qier222 's confirmation, not sure if it supports this.

[2021-03-02 06:22] juzhiyuan commented on #1493
![image](https://user-images.githubusercontent.com/2106987/109607119-b5ada680-7b62-11eb-8d07-a67740270cba.png)

How about this one? as for ant-design, we may wait for their update 🤔

[2021-03-02 06:29] qier222 commented on #1407
Yes, you can. Maybe we should use `zh-tw` instead of `zh-TW` since it will appear on the website URL?

[2021-03-02 06:50] juzhiyuan commented on #1407
ya, due to the Dashboard is still in progress and its documentation will get updated more frequently, how about involing Apache APISIX's documentation?

[2021-03-02 09:59] juzhiyuan opened #1542 "testcase: `/check_ssl_exist`"
related PR: https://github.com/apache/apisix-dashboard/pull/1541

[2021-03-02 10:01] juzhiyuan commented on #1313
ping @guoqqqi

[2021-03-02 10:18] Abbila opened #1543 "When I click on the link of how to update schema.json return error page 404"
# Bug report

## Describe the bug

When I click on the  link of  how to update schema.json  return error page 404
## How to Reproduce
 The  3'td step  page ,I want to see how to update schema.json,I click on the link.  like this:
![image](https://user-images.githubusercontent.com/17827327/109633569-341a4080-7b83-11eb-86f5-79bca954eb8c.png)
![image](https://user-images.githubusercontent.com/1782732

[2021-03-02 13:12] juzhiyuan commented on #1543
Hi, welcome to send a PR to use the correct FAQ file link :)

[2021-03-03 03:12] xvjialing opened #1546 "request help: discovery setting in dashboard"
### Issue description
Can add service discovery settings in the dashboard interface, such as eureka, consul, nacos
### Environment

* apisix version (cmd: `apisix version`): 2.3
* OS (cmd: `uname -a`): ubuntu 16.0.4
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version: 3.4.9
* apisix-dashboard version, 2.3

[2021-03-03 04:06] spacewander commented on #1546
It seems it is impossible as the configuration is written in the yaml file.

[2021-03-03 04:06] #1546 closed

[2021-03-03 04:09] juzhiyuan opened #1547 "show the running step detail info about this API"
Hi @membphis, we have supported the first three steps, as for `show the running step detail info about this API`, I need to consider this one with @liuxiran. We could close this issue now, let me create a new one at Dashboard to track.

_Originally posted by @juzhiyuan in https://github.com/apache/apisix/issues/1533#issuecomment-789413114_

[2021-03-03 04:14] nic-chen commented on #1547
I think we could consider allowing debug routes that status is 0

[2021-03-03 06:35] LiteSun opened #1548 "Clicking on a mask while editing a plugin does not allow the drawer to be closed"
# Feature request

Users may click on the mask by mistake when editing complex plugins, and the drawer will close after clicking on the mask, resulting in the loss of data edited by the user.
![image](https://user-images.githubusercontent.com/31329157/109763441-0984c200-7c2d-11eb-9976-9b4f178e5b84.png)

## Describe the solution you'd like
Clicking on the mask does not allow the drawer to be closed

[2021-03-03 09:49] caukie opened #1549 "feat: support `discovery_type` in Dashboard"
当前dashboard仅支持upstream的人工配置后端服务节点，实际apisix支持基于eureka的服务发现集成扩展，因此需要在dashboard上补充discovery_type参数的传入。进而可以由管理人员决定后端服务是走etcd的upstream服务发现，还是走eureka的服务发现。

[2021-03-03 10:03] nic-chen commented on #1549
@cakie
Thanks for your suggestion

[2021-03-03 10:04] nic-chen commented on #1548
agree +1

[2021-03-03 18:34] liuxiran commented on #1547
`Online debug` does not support `show the running step detail info about this API` currently @juzhiyuan

And if we want to support this feature, the display in FE is not very difficult,  we need apis to  get all the running steps and the current running step of the request which reaches APISIX, the possibility of the apis may  need @nic-chen @spacewander @membphis confirm, thanks

[2021-03-03 18:52] liuxiran commented on #1547
Agree with you @nic-chen , when a route needs debug, it means that this route is still in the test phase, or there are something wrong with it, no matter what reason it is , this route  should not publish to users.

[2021-03-04 01:31] #1543 closed

[2021-03-04 02:22] starsz commented on #1549
@caukie Good suggestion. Thank you very much.
PRs are welcomed : )

[2021-03-04 03:48] nic-chen commented on #1547
so we need to expose debug info in APISIX for these detail info

[2021-03-04 08:07] miaoyb opened #1554 "bug: 通过API创建的upstream和route，在dashboard的route详情页面中显示不完整"
### Issue description
通过API创建的upstream和route，在dashboard中详情显示不完整，缺少超时等字段
### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

### Minimal test code / S

[2021-03-04 08:24] to2false opened #1551 "health check `active.host` optional"
# Feature request

## Please describe your feature

![image](https://user-images.githubusercontent.com/21302817/109932879-bb8fbd00-7d05-11eb-80f1-b705dc076202.png)
`active.host` looks like an optional item

## Describe the solution you'd like

config it optional

## Describe alternatives you've considered

## Additional context

[2021-03-04 08:31] caukie commented on #1549
pretty sorry, i'm not good at nodejs, so which version will you support it?

[2021-03-04 08:40] to2false opened #1552 "health check disable not work"
# Bug report

## Describe the bug

disabled health check in one upstream, it still in checking.

## How to Reproduce

1. Go to one upstream
2. Click on health check switch button to disable it
3. Submit it
4. Check apisix log, it still prints check warning log

## Expected behavior

no more checks

## Screenshots

## System information

- OS: macOS
- Browser (if applies): Chrome
- Version: docker

[2021-03-04 09:22] Firstsawyou opened #1555 "discuss: select upstream in the "Define API Backend Server" should provide a search function"
# Feature request

## Please describe your feature

When selecting upstream in `Define API Backend Server` in `Create Route`, the function of searching upstream should be provided. Because the current selection of the upstream part is displayed through a list. When there are many upstreams, it is not easy for us to select the designated upstream. When choosing upstream, it would be better to provi

[2021-03-04 09:59] juzhiyuan commented on #1554
cc @guoqqqi to check

[2021-03-04 10:00] juzhiyuan commented on #1552
@to2false Hi, would you please take a look at etcd, to see if the data is incorrect?

[2021-03-04 10:01] nic-chen commented on #1549
what about golang ? : )

[2021-03-04 10:03] nic-chen commented on #1552
@to2false
would you please take a look at etcd:
[code]

[2021-03-04 10:04] nic-chen commented on #1551
hi @to2false  does this issue duplicate with #1552 ?

[2021-03-04 10:05] juzhiyuan commented on #1551
@guoqqqi Please take a look at the documentation, to check if this field is optional.

[2021-03-04 10:05] nic-chen commented on #1555
agree +1
I think it's good for users.

[2021-03-04 10:06] starsz commented on #1555
Agree +1.
Good ideal.

[2021-03-04 10:32] to2false commented on #1552
ok, I'll give feedback tomorrow morning.

[2021-03-04 10:34] guoqqqi commented on #1551
![image](https://user-images.githubusercontent.com/72343596/109950454-7bd1d100-7d17-11eb-9ea1-916b8f3bb09b.png)
Hi, I checked the documentation and it does not state that it is optional, we can see the information here：
https://apisix.apache.org/docs/apisix/health-check/

[2021-03-04 10:56] juzhiyuan commented on #1551
fine, I notice that there has no `optional` field, then it should be required.

![image](https://user-images.githubusercontent.com/2106987/109953544-2992af00-7d1b-11eb-8c1c-ef7300c3edc0.png)

@guoqqqi Please create a issue to improve this doc, e.g use a table to list all parameters would be more clear.

[2021-03-04 10:56] #1551 closed

[2021-03-04 14:58] Jaycean commented on #1555
Agree +1.

[2021-03-04 15:22] #1217 closed

[2021-03-05 01:44] caukie commented on #1549
i'm a javaer, but i can try with golang if you wish.

[2021-03-05 02:07] to2false commented on #1552
sorry, I got the wrong version in the test environment, this problem happened on the old version.
The new version looks like it has fixed the problem.

[2021-03-05 02:07] #1552 closed

[2021-03-05 02:24] nic-chen commented on #1552
OK, thanks for the feedback.

[2021-03-05 03:52] juzhiyuan commented on #1547
Here have feedbacks from AISPEECH.

1. the core point is that unpublished routes should only allow test traffic access, no official traffic can be put in.
2. Suggestion: APISIX supports defining global test traffic characteristics, such as defining special fields in the request header to indicate that this is test traffic; route match is done in the full set of routes (including published routes a

[2021-03-05 04:04] nic-chen commented on #1549
hi @caukie
I have submit a PR for it , you could have a look:
https://github.com/apache/apisix-dashboard/pull/1557

[2021-03-05 07:24] caukie commented on #1549
i think there still need some code for dashboard show, so i can't check the feature from dashboard now.

[2021-03-05 07:58] batman-ezio commented on #1487
I'll do this

[2021-03-05 09:49] nic-chen commented on #1549
yes, you are right. the pr is only for backend.

[2021-03-08 01:46] LiteSun opened #1562 "Codecov unstable"
# Bug report

## Describe the bug
We use codecov to display the test reports in pr comments, but sometimes codecov randomly loses some data and needs to be investigated

## Expected behavior

Codecov reports full data

## Screenshots

![image](https://user-images.githubusercontent.com/31329157/110263968-23d6eb00-7ff3-11eb-955f-ef663289617c.png)

[2021-03-08 05:48] Firstsawyou opened #1563 "discuss: the "Host" in the active health check should be optional"
# Feature request

## Please describe your feature

In the active health check, Host is the host name of the HTTP request used to discover the health of the upstream node. It is required only when the upstream node has restrictions on Host, otherwise it is optional. In the current active check configuration, `Host` is a required option. I think it would be better if Host should be an optional.

<i

[2021-03-08 08:44] bisakhmondal commented on #1548
Yeah, it sounds logical. Can I work on this issue, @LiteSun, @nic-chen? I also noticed that editing any existing plugins also result in the same behaviour. Should I restrict that too?

[2021-03-08 09:32] nic-chen commented on #1548
sure, welcome.

[2021-03-08 10:56] #1428 closed

[2021-03-08 13:37] juzhiyuan commented on #1563
@guoqqqi I remember there was a similar issue, right

[2021-03-08 13:44] guoqqqi commented on #1563
Yes, please refer to #1551.

[2021-03-08 14:00] LiteSun commented on #1548
Looking forward to your PR! 🎉

[2021-03-08 14:04] bisakhmondal commented on #1548
Hello guys!! Just opened it :)
Waiting for the review, hehe. Thanks for the super quick reply.

[2021-03-09 00:15] moonming commented on #1563
IMO, "host" should be optional.
@nic-chen @membphis please check the lua-resty-healthcheck.
@Firstsawyou this issue should @ to apisix too. It is not just a FE issue

[2021-03-09 00:17] moonming commented on #1563
What does the text hint in the input box mean?
“active host” is confusing

[2021-03-09 02:54] dickens7 opened #1565 "The upstream timeout unit is seconds instead of milliseconds"
![image](https://user-images.githubusercontent.com/41516298/110411578-c8296200-80c5-11eb-90af-fe53965a69bf.png)

[2021-03-09 04:16] nic-chen commented on #1563
OK, I will check the lib ` lua-resty-healthcheck` to confirm it.

[2021-03-09 06:53] membphis commented on #1547
looks good to me. we can implement this feature by a new plugin.

[2021-03-09 07:11] membphis commented on #1563
agree this +1

[2021-03-09 07:59] bisakhmondal commented on #682
Hi guys. I'm interested in working with the manager API. Could you please briefly explain the issue? I am not getting it😅

[2021-03-09 09:25] starsz opened #1567 "Delete the unused file in internal/core/store"
Hello, I found that some files in `internal/core/store` are not used.

Like `selector.go` and `query.go`.

So we can delete them, then we can improve the coverage of the test. 😀

[2021-03-09 09:48] nic-chen commented on #682
hi @bisakhmondal
1. sets the maximum number of CPUs that can be executing simultaneously in `api/conf/conf.yaml`
2. Read the configured number in `api/internal/conf/conf.go`
3. Use `runtime.GOMAXPROCS(n)` to limit CPU usage

[2021-03-09 10:19] bisakhmondal commented on #682
Okay. I got it. Pushing the changes soon :)

[2021-03-09 10:30] nic-chen commented on #682
looking forward to it~

[2021-03-09 10:30] nic-chen commented on #1567
agree + 1

[2021-03-09 14:55] #1548 closed

[2021-03-09 16:05] nic-chen commented on #1565
@juzhiyuan  it's in seconds. see:

https://github.com/apache/apisix/blob/master/apisix/balancer.lua#L108
https://github.com/apache/apisix/blob/master/apisix/balancer.lua#L23

https://github.com/openresty/lua-resty-core/blob/master/lib/ngx/balancer.md#set_timeouts

[2021-03-09 16:08] juzhiyuan commented on #1565
OK

[2021-03-09 16:55] Jaycean commented on #1461
I see pr: #1568  issue: #1567
Think of this issue.

[2021-03-10 02:21] starsz commented on #1461
Oh Yes.Sorry for forgetting this.

[2021-03-10 02:22] Jaycean commented on #1461
It doesn't matter. Actually, I forgot it. It's my problem.

[2021-03-10 03:28] #1461 closed

[2021-03-10 03:28] #1567 closed

[2021-03-10 09:52] LiteSun opened #1573 "discuss: Support raw data editor edit mode"
## Background.
Currently the Dashboard UI is not aligned with the manage API fields, making it impossible to cover some business scenarios when users operate with the Dashboard UI they are using. So I would like to discuss here how to support Raw Data Editor **editing mode** and the problems that may be encountered.

## Implementation
- Create
Add the create with editor button next to the create b

[2021-03-10 10:23] #682 closed

[2021-03-11 00:24] stu01509 commented on #1565
I want to fix this issue, please assign this issue to me.

[2021-03-11 00:41] nic-chen commented on #1565
ok, thanks. @stu01509

[2021-03-11 06:36] bisakhmondal commented on #1500
Hi @Jaycean, would you mind if I rewrite the `route import test` in the e2enew test suite :)

[2021-03-11 06:43] Jaycean commented on #1500
Thank you very much. It has been allocated in to do list. You can @ me if you have any questions.

[2021-03-11 10:05] nic-chen commented on #1482
@bisakhmondal hi, could you help to fix this issue if you have time ?

[2021-03-11 10:06] nic-chen commented on #1411
ping @stu01509

[2021-03-11 10:07] nic-chen commented on #1387
close.
if you have any problem with this , feel free to reopen

[2021-03-11 10:07] #1387 closed

[2021-03-11 10:10] nic-chen commented on #1265
ping @gxthrj

[2021-03-11 10:14] nic-chen commented on #746
@tokers  do you have time to fix this issue ?

[2021-03-11 10:17] starsz commented on #1161
This problem was solved. Thank you for every contributor.

[2021-03-11 10:17] #1161 closed

[2021-03-11 10:25] bisakhmondal commented on #1482
Yeah definitely.

[2021-03-11 10:36] stu01509 commented on #1411
Hi @nic-chen

Thanks for your mention, I will start to solve it.

[2021-03-11 12:55] iamayushdas commented on #1565
@stu01509 have you resolved the issue. if not then i would like to work on it
@nic-chen

[2021-03-11 13:50] gxthrj commented on #1265
ref to https://github.com/apache/apisix-docker/pull/150

[2021-03-11 13:54] gxthrj commented on #1265
But still need to update README.

[2021-03-12 03:48] nic-chen commented on #1265
@gxthrj  That is just adding dashboard in docker-compose example..

[2021-03-12 03:49] nic-chen commented on #1565
ping  @stu01509

[2021-03-12 05:02] starsz commented on #1265
Yes. @gxthrj Can you help to create a dockerfile in apisix-docker to manage the apisix-dashboard.

[2021-03-12 07:27] nic-chen commented on #1482
@bisakhmondal
Thanks !
I think you could try to submit a proposal for this change  : )

[2021-03-12 13:31] stu01509 commented on #1565
Hi @nic-chen sir

I sent the PR, Please review it :)

[2021-03-12 13:48] bisakhmondal opened #1581 "docker-compose building apisix image is failing (for e2e backend test)"
# Bug report

## Describe the bug
Currently, the compose file located in `/api/test/docker` directory needs a `Dockerfile-apisix` for spinning up two apisix docker containers.
https://github.com/apache/apisix-dashboard/blob/48e66cded1f4f7b67d37a9f1337fca492d6f44f5/api/test/docker/docker-compose.yaml#L128-L132

But in the mentioned directory there is no such file.
<pre>
.
├── apisix_config2.yaml
├─

[2021-03-12 13:52] bisakhmondal commented on #1500
Hey @Jaycean, I have rewritten the test using ginkgo for the mentioned test suite. Now I am facing issues to test it locally before opening a PR. I am following [the doc](https://github.com/apache/apisix-dashboard/blob/master/docs/en/latest/back-end-e2e.md) to set up the environment for the testing using docker-compose. It's failing, so opened issue #1581. It seems, for now, its better to go with

[2021-03-12 14:56] Jaycean commented on #1581
@bisakhmondal
Hi, The missing dockerfile can be found in this project(https://github.com/apache/apisix-docker). You can download the dockerfile in alpine-dev.

[2021-03-12 15:00] Jaycean commented on #1500
Thank you for your contribution. I have replied to you in issue. If you have more questions, you can ask them in issue.

[2021-03-12 16:06] bisakhmondal commented on #1581
Thank you. Docker-compose is working now.

[2021-03-13 09:25] stu01509 opened #1586 "Config Plugin button enable status"
# Bug report

## Describe the bug
I think if the plugin's current status is `enable`, the button text should be `disable`.

## How to Reproduce

1. Click the Plugin List
2. Click Create button
3. See the plugin list

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots
![image](https://user-images.githubusercontent.com/22230889/111025732-0b1a6b00-84

[2021-03-13 09:36] bisakhmondal commented on #1581
After going through the workflow [config file](https://github.com/apache/apisix-dashboard/blob/master/.github/workflows/backend-e2e-test.yml), I see why it is not present. I think it would be a better idea if we add a script to help spinning up all the containers including altering the `conf.yaml` file and add an option to revert back to the previous config for the sake of completeness of this [do

[2021-03-13 10:28] nic-chen commented on #1581
That's great! Welcome to update the [doc](https://github.com/apache/apisix-dashboard/blob/master/docs/en/latest/back-end-e2e.md) from your perspective.

[2021-03-13 11:23] bisakhmondal commented on #1555
Can I open a PR? I have made the required changes😅

[2021-03-13 11:27] bisakhmondal commented on #1581
Sure. Thanks for the assent :D

[2021-03-13 12:08] stu01509 commented on #1555
Hi @bisakhmondal

Are you working on this issue?

[2021-03-13 12:09] stu01509 commented on #1549
I want to try this, Please assign this issue to me :)

[2021-03-13 12:31] stu01509 commented on #1368
Hi @juzhiyuan

Could you guide me how to approach this issue?

[2021-03-13 12:48] bisakhmondal commented on #1555
Hii buddy, thanks for asking. Yep, had some free time, so I made the small changes required for the feature.
Btw, is there any issue @stu01509?

[2021-03-13 14:31] LiteSun opened #1588 "Optimize front-end validation of fields"
## The current front-end approach
To create a route for example, the front-end will be regular [1] check for certain fields, such as name field, if the regular condition is not met, the front-end page will report an error and block the user's next operation.

![image](https://user-images.githubusercontent.com/31329157/111033264-4b8ede80-844b-11eb-9387-a58bea82977f.png)

## The disadvantages of the

[2021-03-13 14:38] guoqqqi commented on #1503
I will buy a server to try to reproduce the problem.

[2021-03-13 15:25] juzhiyuan commented on #1588
Does this method really make sense to you @LiteSun ?

[2021-03-13 15:28] juzhiyuan commented on #1588
API should be public and keep up to date, once there have changes, FE should have the ability to know this. No matter backend developer notify u, or u watch API changes. Because the request body has been validated by backend, there has no need to add this checker again in FE IMO.

[2021-03-13 15:31] juzhiyuan commented on #1368
We should add tips to this part[1] :) After running that command, users should visit xxx to use the dashboard.

[1] https://github.com/apache/apisix-dashboard/blob/master/docs/en/latest/deploy-with-rpm.md#run

[2021-03-13 15:34] juzhiyuan commented on #1555
@bisakhmondal  Of course :)

[2021-03-13 15:34] juzhiyuan commented on #1549
Hi, please resolve other issues first 😊

[2021-03-13 15:35] juzhiyuan commented on #1586
ya, we use a `blue` background now, welcome to send a PR to improve this.

[2021-03-14 04:13] moonming commented on #1588
I have the same concern with @juzhiyuan

@LiteSun Is it necessary for the front-end to do the same things as the back-end?
What are the benefits of doing it twice?

[2021-03-14 04:31] LiteSun commented on #1588
The advantage of this is that the front-end can dynamically extract the back-end jsonschema rules through the api if feasible, and the front-end does not need to manually update the rules if the back-end makes changes to them.

For example:
![image](https://user-images.githubusercontent.com/31329157/111057224-b3cbd780-84c0-11eb-848b-f4c7fe7f38e4.png)

![image](https://user-images.githubusercontent

[2021-03-14 04:53] LiteSun commented on #1573
After communicating with @juzhiyuan, it was decided to start development next week.

[2021-03-14 13:50] LiteSun commented on #1503
@guoqqqi any update about this issue?😄

[2021-03-14 15:35] membphis commented on #1512
@litesun can we close this issue now?

[2021-03-14 15:36] membphis commented on #1554
any news? @juzhiyuan @guoqqqi

[2021-03-14 15:49] juzhiyuan commented on #1554
I remember @guoqqqi has been checking on this issue, what's your feedback?

[2021-03-14 16:00] juzhiyuan commented on #1512
@LiteSun Do remember to use `close/resolve/fix #xxx` to link issue in PR.

[2021-03-15 00:35] guoqqqi commented on #1554
Hi @miaoyb @membphis , sorry for the late reply. Do you mean you tried this guide: https://apisix.apache.org/docs/apisix/getting-started#create-an-upstream ? if yes, then the dashboard will not show those fields, for we don't have those fields indeed when creating that upstream and route.

[2021-03-15 02:21] LiteSun commented on #1512
closed by #1540

[2021-03-15 02:21] LiteSun commented on #1512
Sure.

[2021-03-15 03:36] #1512 closed

[2021-03-15 04:16] nic-chen commented on #1554
@miaoyb
could you provide the version of APISIX and Dashboard, and the config you created the route and upstream ?

[2021-03-15 04:31] tokers commented on #746
@nic-chen I'm still busying on other things, if this stuff is not so emergency, maybe we can do it later.

[2021-03-15 06:40] guoqqqi commented on #1503
Hi, @wannianma, I followed the build guide https://apisix.apache.org/docs/dashboard/deploy/  and it built successfully on the server, can you give more details on what you did. Did you try deleting the local cache and retrying to see if he succeeded, or is it possible that a lack of memory is causing this? If they don't work, then let's explore them together. Thanks.

[2021-03-15 07:08] nic-chen commented on #746
@tokers
Thanks for the sync status.
I think this is not so emergency, we can deal with it later.

[2021-03-15 07:17] juzhiyuan commented on #1503
`Write EPIPE` means that writing of (presumably) the HTTP request failed because the other end closed the connection. Please have a try :) I will close this issue, if you still have this issue, kindly let us know.

[2021-03-15 07:17] #1503 closed

[2021-03-15 07:20] guoqqqi commented on #1411
ping @stu01509

[2021-03-15 09:25] batman-ezio opened #1595 "feat: Show route ID at LIST and EDIT views in dashboard"
# Feature request

## Please describe your feature

follow this guide to  https://github.com/apache/apisix/blob/master/docs/en/latest/getting-started.md
to create a test route , the final route  is
[code]
The id field is `id` which is 5 here,
but when I open `dashboard`,  it use `name` as a required and primary key.  and there's no place to display `id` in the UI.
User can not  even go to the next

[2021-03-15 10:09] nic-chen commented on #1595
@batman-ezio  Unique identifier of a route is ID.

[2021-03-15 13:20] nic-chen commented on #1332
@Jaycean  could we close this issue now ?

[2021-03-15 13:25] Jaycean commented on #1332
The issue is closed and the test case is complete. If there is any problem, open it again.

[2021-03-15 13:25] #1332 closed

[2021-03-15 14:06] nic-chen commented on #1482
@bisakhmondal
Please deal with this issue first, it is a task in milestone 2.5, thanks.

[2021-03-15 14:10] gxthrj commented on #1265
Thanks for remind, will add a dockerfile for dashboard in apisix-docker repo.

[2021-03-15 15:50] #1565 closed

[2021-03-15 18:19] bisakhmondal commented on #1482
Oh! I see. Then, I am going to look into it.

So this is the idea, right?

[2021-03-15 21:48] stu01509 commented on #944
Hi @nic-chen and @juzhiyuan

I adjust the ISSUE template, What do you think this?

[code]

[2021-03-15 22:10] stu01509 opened #1596 "Translation error"
# Bug report

## Describe the bug
Hi all
I found when I switch the language to the **English** on some page and element still used the **Chinese**

## How to Reproduce

1. Go to Route List
2. See the error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots
- Route List
![image](https://user-images.githubusercontent.com/22230889/111227652-db848200

[2021-03-16 03:57] nic-chen commented on #1482
sure. that's it.

[2021-03-16 03:58] nic-chen commented on #1596
great, we could check other place, and fix them all.

[2021-03-16 04:02] nic-chen commented on #944
I think you could submit a PR directly, and we could review to give suggestions.

[2021-03-16 05:37] juzhiyuan commented on #1596
Hi @stu01509, we just merged a PR https://github.com/apache/apisix-dashboard/pull/1538

This PR fixes most of the translation issues, @guoqqqi Please recheck if those issues exist.

[2021-03-16 06:10] batman-ezio commented on #1595
how about display the id field in route and upstream list view ?  @nic-chen

[2021-03-16 06:15] liuxiran commented on #1588
May I ask when do FE call the api sync validation condition? after each form page rendered or just a way in code development?@LiteSun

In general, the FE input validation is used to save unnecessary requests and improve the user experience, if we add a request to get the validate condition from BE after each form page rendered, It would the same as submitting data directly to the back end for vali

[2021-03-16 06:47] #1514 closed

[2021-03-16 07:04] imjoey commented on #1595
@batman-ezio thanks for reporting and it's a bug actually.

IMHO this bug is caused by the route name is considered as a mandatory field when creating a route from Dashboard, while it's optional via APISIX Admin API. @nic-chen @liuxiran Any insights on this?

[2021-03-16 07:31] nic-chen commented on #1595
I think name of resource should be  a mandatory field, there is no reason to use the same name for different routes or services.

[2021-03-16 07:53] liuxiran commented on #1595
Fe focuses on the user experience, `name` is better to distinguish a route, so we set `name` as a required key.
while API focuses on the feature, `name` is not the key field, so it is not reqired in admin-api, that is also reasonable IMHO
so, how about just keep the current UE in dashboard, when user create a route without a name by admin-api, they have to set the `name` in dashboard page.

[2021-03-16 07:58] imjoey commented on #1596
@stu01509 thanks for reporting and assign this to you. Let's wait for the confirmation from @guoqqqi .

[2021-03-16 08:01] imjoey commented on #1595
@nic-chen @liuxiran  agreed +1 for keeping this still.

@batman-ezio What do you think? Looking forward to your feedback. Thanks.

[2021-03-16 08:30] guoqqqi commented on #1596
Hi, @stu01509 This issue has been fixed and you can see it by updating the master branch code, (which requires deleting the local cache, node_modules and .umi).
![image](https://user-images.githubusercontent.com/72343596/111278785-ec141700-8674-11eb-884e-50d5e4724bed.png)

[2021-03-16 09:36] starsz commented on #1127
I had checked the apisix and apisix-dashboard.

apisix's PATCH method:
* service
* plugin_config
* global_rules
* ssl
* routes
* upstream

apisix-dashboard's PATCH method:
* service
* plugin_config
* global_rules
* ssl
* routes
* upstream

So they are the same.I think this issue can be closed now.

[2021-03-16 09:36] #1127 closed

[2021-03-16 10:31] stu01509 commented on #1596
Hi @nic-chen, @juzhiyuan, @imjoey, and @qiujiayu

After I recheck, Almost the translation error has been solved, but I still found in the System Status uptime field mixed some Chinese.
![image](https://user-images.githubusercontent.com/22230889/111294969-d3602d00-8685-11eb-8923-38c89babcb95.png)

[2021-03-16 10:49] guoqqqi commented on #1596
Yes, there are still some problems here. @stu01509 Can you help fix it?

[2021-03-16 11:01] stu01509 commented on #1596
Sure 😃

[2021-03-16 13:11] LiteSun commented on #1588
when does FE call the API sync validation condition is:  After each form page rendered.

The advantage of this is that you can get the regex dynamically(If we can parse out the corresponding regex rules from the jsonschema), without having to manually change the regex rules for the corresponding fields.

[2021-03-16 13:52] juzhiyuan opened #1602 "There have 2 buttons fit very close together"
# Bug report

## Describe the bug

Hi, I notice that here have 2 buttons that fit very close together on the Upstream List page, they are the `View` & `Delete` buttons.

We need to add a gap between them.

![image](https://user-images.githubusercontent.com/2106987/111320433-eaad1380-86a1-11eb-900d-d63568f7dfac.png)

[2021-03-17 02:32] nic-chen commented on #1378
@LiteSun @guoqqqi

[2021-03-17 02:48] LiteSun commented on #1378
ok

[2021-03-17 04:18] nic-chen commented on #1588
I think it’s better to get the validation rules through the API that exposes the schema on the backend, to avoid the need to manually synchronize the rules every time

[2021-03-17 06:24] nic-chen commented on #1378
When we went to understand the details together, and try to start development, we found that the schema of `proto` only has the `content` field, not even the `ID` field:
https://github.com/apache/apisix/blob/master/apisix/schema_def.lua#L671-L680

And APISIX 2.4 has been released. So we have to move it to the next milestone to support it.

[2021-03-17 06:27] LiteSun commented on #1482
cc @guoqqqi to take a look.

[2021-03-17 07:49] batman-ezio commented on #1595
@imjoey agree
but for the better FE, can we add id file and display in the LIST view?
when user can route by admin api  Put `/route/a1` and `route/a2` and so on.
they can easily find their routes by looking up the id field

@nic-chen @liuxiran

[2021-03-17 07:52] batman-ezio commented on #1468
I see this PR https://github.com/apache/apisix-dashboard/pull/1606/files
so now `duplicate is not allowed`?

[2021-03-17 10:09] nic-chen commented on #1595
I think it's OK for us.

[2021-03-17 16:58] stu01509 opened #1609 "Backend API Cookie secret"
# Bug report

## Describe the bug
Hi all

I found in `apisix-dashboard/api/internal/route.go`, the cookie secret directly setting in the codebase, I think it may need to use `api/conf/conf.yaml` or env file to set it.
https://github.com/apache/apisix-dashboard/blob/master/api/internal/route.go#L58

![image](https://user-images.githubusercontent.com/22230889/111506867-09d0a180-8785-11eb-9408-3cc3fb

[2021-03-17 17:06] #1229 closed

[2021-03-17 21:47] liuxiran commented on #1595
Agree with you to display the `id` field in the list view which is already returned by `/apisix/admin/routes` in manager-api

[2021-03-18 01:12] JoeyGaojingxing opened #1611 "bug: cannot use https when creating route through web UI"
### Issue description

![image](https://user-images.githubusercontent.com/15071824/111511196-764d9f80-8789-11eb-8eb5-fb22866f37e9.png)
![image](https://user-images.githubusercontent.com/15071824/111511286-8bc2c980-8789-11eb-8e64-22999e5648ab.png)

### Environment

* apisix version (cmd: `apisix version`): 2.3
* OS (cmd: `uname -a`): Linux ecs-s2-large-2-linux-20190719115737 4.15.0-91-generic apach

[2021-03-18 03:42] juzhiyuan commented on #1611
yep, this issue has been fixed in the master codes, and reporter has confirmed with @nic-chen.

[2021-03-18 03:42] #1611 closed

[2021-03-18 03:43] juzhiyuan commented on #1609
cc @nic-chen @starsz to confirm.

[2021-03-18 03:48] nic-chen commented on #1609
oh, we don't use sessions, we could remove it.

[2021-03-18 03:53] juzhiyuan commented on #1609
ok, then it's not a high vulnerability issue? we could mark it as `good first`?

[2021-03-18 03:55] LiteSun opened #1614 "Optimized front-end e2e test time"
# Feature request
Currently the front-end e2e test takes 30-40 minutes to run through the test, which takes too long, we need to do something to reduce the time
![image](https://user-images.githubusercontent.com/31329157/111570693-509fb500-87e0-11eb-87b9-78260cc96187.png)

## Describe alternatives you've considered
 - [ ] Caching node_modules
 - [ ] Parallel running front-end e2e tests

refer link

[2021-03-18 03:56] juzhiyuan commented on #1614
don't forget to add label

[2021-03-18 03:58] nic-chen commented on #1609
It's not. This code is not used.

[2021-03-18 08:00] starsz commented on #1609
Good capture. @stu01509

[2021-03-18 08:02] imjoey commented on #1595
@batman-ezio agreed +1 for show route ID on LIST and EDIT pages.

[2021-03-18 08:14] stu01509 commented on #1609
I will fix it in tonight, please assign the issue to me.

[2021-03-18 09:09] Firstsawyou opened #1616 "when creating a `Service`, `Select Upstream` should be optional, not required"
# Feature request

## Please describe your feature

Currently, when creating a `Service` in the Dashboard, it is found that `upstream` is a required option. I think this is unreasonable, because when creating a service in APISIX, `upstream` is optional, and we should keep the configuration consistent with APISIX.
<img width="1138" alt="截屏2021-03-18 下午5 03 52" src="https://user-images.githubusercon

[2021-03-18 10:04] juzhiyuan commented on #1616
How about adding an optional `None` to the `Upstream Setector`?

[2021-03-18 18:19] #944 closed

[2021-03-19 01:09] stu01509 opened #1618 "APISIX-Dashboard Backend API Development in Windows"
## Issue description
Currently, according to the [Start developing](https://github.com/apache/apisix-dashboard/blob/master/docs/en/latest/develop.md#start-developing ) doc, in Windows platform will occur the error. I think we need to create another file to help the Windows platform developer to set up the `api` project.

## Expected behavior

## How to Reproduce

1. Go to '...'
2. Click on '....'

[2021-03-19 01:23] nic-chen commented on #1618
thanks for feedback.

[2021-03-19 02:59] Firstsawyou commented on #1616
Yes, I think it is appropriate to add an optional None.

[2021-03-19 03:35] juzhiyuan commented on #1482
Hi, after discuss with @nic-chen @starsz @LiteSun, we have a new way to support this feature.

How about only adding one extra message that tells users: `APISIX Node List will get updated in 2 hours by default.`, then we don't have necessary to remove nodes by hand & calling APIs.

[2021-03-19 03:38] juzhiyuan commented on #1482
If we support deleting nodes, it will take some other issues:

1. Where should we put the Delete button on this page?
2. Nodes in ETCD have the TTL option, it will expire in 2 hours by default, we don't have the necessary to delete it by hand.
3. If users delete nodes by mistake, they have to wait for APISIX to report its status, though it doesn't take a long time, users like me will get scared if

[2021-03-19 03:46] nic-chen commented on #1136
We have another issue #1500 to track. And we have used ginkgo to rewrite many e2e test cases in milestone 2.5.
This issue can be closed now.

[2021-03-19 03:46] #1136 closed

[2021-03-19 03:47] nic-chen commented on #1482
OK

[2021-03-19 03:54] nic-chen commented on #1616
agree +1

[2021-03-19 04:13] stu01509 commented on #1616
I would like to fix it, please assign this issue to me :)

[2021-03-19 07:37] bisakhmondal commented on #1482
Yeah, that's the default we have right now except for the displaying message part. We can definitely go for it. But looking at the current progress that has been made on this issue, I think it would be a better trade off to integrate the functionality since it'll help the pro peeps to have more customised & fine-grained control through the dashboard instead of waiting for 2 long hours.

Now coming

[2021-03-19 09:07] #1609 closed

[2021-03-19 11:05] nic-chen commented on #1482
@bisakhmondal
Great!
Thanks for sharing your thoughts.
I think we can discuss further.
But in version 2.5 we could prompt the user first.

[2021-03-19 11:15] guoqqqi opened #1621 "feat: Making the list page paginator a standalone component"
# Feature request

Making the list page paginator a standalone component.
Related #1584
Currently, a paginator has been added to each listing page and it is hoped that this state paginator can be made into a component that can be easily called from each listing page, once it is completed we need to add test cases to it.

TODO:
- [ ] Making the list page paginator a standalone component
- [ ] Addin

[2021-03-19 12:57] juzhiyuan commented on #1482
Good design 👏 But I'm still concerned if we have necessary to add this API? let's wait for others :)

[2021-03-19 15:25] bisakhmondal commented on #1303
Hey guys!! Interested in working on this issue. Could you please elaborate, how do we wish to help the newcomer?
for eg.
1. Currently the environment setup with docker-compose is not elaborative (`back-end-e2e.md`), I am thinking of updating along with adding a bash script to automate the workflow.

2. For unit testing, we are using golang's native testing framework (that includes working with moc

[2021-03-19 15:29] juzhiyuan commented on #1303
cc @nic-chen @starsz to help @bisakhmondal

[2021-03-19 16:15] nic-chen commented on #1303
hi, @bisakhmondal

Thanks for working on this issue!

that's great.

About unit testing, I think mocking and how to run tests are two points that need to be described clearly.
About e2e testing, just point out that the ginkgo framework should be used to write cases.

Other details, I think you could write according to your thoughts.
The more detailed the better, especially you have just participat

[2021-03-19 16:42] bisakhmondal commented on #1303
Thank you for addressing this. Sure, I'll definitely put down the information as much elaborative as I can.

[2021-03-20 04:00] JackLiMEM opened #1623 "SSL parse failed when creating Route in v2.4"
![图片](https://user-images.githubusercontent.com/20733031/111858400-993ba780-8973-11eb-8b9d-57389a528ab5.png)

[2021-03-20 04:30] Jaycean opened #1624 "Discussion: Is the name field required or not when BE create a route"
## Issue description

- Fe create route `name` field is required.

- However, in BE, the `name` field is still optional. PR: #1606  adds the BE judgment on whether the `name` field is repeated when creating a `route`.

- When I use BE interface instead of FE to create route I found a problem(`127.0.0.1:9000/apisix/admin/routes POST create route`).
- I create a `route` without inserting the `name`

[2021-03-20 06:17] juzhiyuan commented on #1624
Hi, will this issue get fixed once we use `ManagerAPI` instead of `AdminAPI`?

[2021-03-20 06:18] juzhiyuan commented on #1623
Hi @JackLiMEM, this issue is fixed in the master branch, and will be released next week. Could you have a try on the latest codes in the master branch? It's compatible with v2.4.

[2021-03-20 06:34] Jaycean commented on #1624
Hi, the current `name` field judgment logic is written in `ManagerAPI`, so I think we need to discuss and fix this problem.

[2021-03-20 09:26] juzhiyuan commented on #1624
cc @nic-chen to confirm

[2021-03-20 09:51] nic-chen commented on #1624
I think we could change `name` to be required when we use Manager API instead of Admin API

[2021-03-20 09:52] nic-chen commented on #1623
yes, this issue is fixed in the master branch. you could have a try with it.

[2021-03-20 10:53] juzhiyuan commented on #1623
I'm going to close this one, if that issue still occurred in the master branch, kindly reopen it.

[2021-03-20 10:53] #1623 closed

[2021-03-20 10:58] juzhiyuan opened #1626 "improve Login module"
Here are some minor issues on the Login page we could resolve.

## TODO

- [ ] In the upper right corner of the landing page, remove the Settings button.
- [ ] Landing page logo is slightly smaller.
- [ ] Removing the sample login from the landing page.
- [ ] Default account password should be entered by default on the landing page, so users could log in directly.
- [ ] Spacing between "How to cha

[2021-03-20 10:59] juzhiyuan opened #1627 "improve Metrics module"
Here are some minor issues on the Login page we could resolve.

## TODO

- [ ] Metrics page name change to: Dashboard.
- [ ] Metrics page hint: Use browser localStorage mechanism to store Grafana links locally, as a preview page only, currently no substantive function.

[2021-03-20 11:00] juzhiyuan opened #1628 "improve Route module"
Here are some minor issues on the Route page we could resolve.

## TODO

- [ ] List page, search area field, supplement Placeholder.
- [ ] Create routing page, step 1, form should be aligned to the left, not centered.
- [ ] Create routing page, title remove spaces.

[2021-03-20 11:04] juzhiyuan opened #1629 "improve Upstream/Service/SSL/System Info module"
Here are some minor issues on the Upstream/Service/SSL/System Info page we could resolve.

## Upstream TODO

- [ ] search area, using Table's own, using fuzzy search.
- [ ] Title section of the list page, add description: upstream (Upstream) is XXXX.

## Service TODO
- [ ] search area, using Table's own, using fuzzy search.
- [ ] List page title section, add description: Service (Service) is XXXX.

[2021-03-20 11:06] juzhiyuan opened #1630 "improve Consumer module"
Here are some minor issues on the Consumer page we could resolve.

## TODO

- [ ] search area, using Table's own, using fuzzy search.
- [ ] List page title section, add description: Consumer (Consumer) is XXX.
- [ ] Create page, title: Create Consumer, not `Create Consumer`.
- [ ] Create page, step one, name input box, Placeholder remove spaces.
- [ ] Create page, step one, description under Name

[2021-03-20 11:08] juzhiyuan opened #1631 "improve Plugin & Plugin Editor & Meta Raw Data Editor module"
Here are some minor issues on the Plugin & Plugin Editor & Meta Raw Data Editor page we could resolve.

## Plugin TODO

- [ ] Search area, using Table's own, using fuzzy search.
- [ ] page title not internationalized: configure global plugins/Configure Global Plugin.
- [ ] Add icon for Plugin Marketplace plugins.
- [ ] list page top title, add description: list of enabled plugins.
- [ ] list page,

[2021-03-20 11:11] juzhiyuan opened #1632 "improve some minor issues"
Here are some minor issues on the Login page we could resolve.

## TODO
- [ ] Left icon replacement. @LiteSun
- [ ] Extracting Table as a separate component for reuse in various modules.
- [ ] APISIX plugin type change.
- [ ] GitHub hyperlink (icon) added to Header section.

[2021-03-20 11:47] iamayushdas commented on #1632
Would like to work on this Assign this to me @juzhiyuan

[2021-03-20 11:51] juzhiyuan commented on #1632
as for the first one, @LiteSun will do that.

[2021-03-20 11:51] iamayushdas commented on #1626
Assign this to me @juzhiyuan

[2021-03-20 11:52] juzhiyuan commented on #1626
thanks, and you could resolve those 2 issues first :)

[2021-03-20 12:12] stu01509 commented on #1627
I would like to try this.

[2021-03-20 12:13] stu01509 commented on #1629
I would like to fix it, please assign this issue to me :)

[2021-03-20 12:23] qian0817 commented on #1628
@juzhiyuan Can I work on this?

[2021-03-20 12:24] juzhiyuan commented on #1628
Sure

[2021-03-20 17:28] iamayushdas commented on #1626
#1635

[2021-03-20 17:29] iamayushdas commented on #1632
could please brief 3rd todo?

[2021-03-21 01:00] #1313 closed

[2021-03-21 01:39] #1241 closed

[2021-03-21 01:40] #1291 closed

[2021-03-21 01:45] juzhiyuan commented on #1632
oh yes, we have 40+ plugins here[1], and take `basic-auth`[2] as an example, you could see it's belonged to `auth` type[3].

We have other plugins that without `type` filed or just use the `default` type field, like this one[4], we need to update them. You could find all `type` here[5]:

![image](https://user-images.githubusercontent.com/2106987/111891027-1de8fd00-8a2a-11eb-83f4-81c7f307ad7f.png)

[2021-03-21 05:22] starsz commented on #1624
Agree with @nic-chen.
The name of route is important.

cc @membphis What's your opinion?

[2021-03-21 14:37] membphis commented on #1624
change `name` to be required, LGTM ^_^

[2021-03-21 14:42] membphis commented on #1468
When the user needs to update the route, this duplicate route also needs to be updated.

If the duplicate route is not updated, the new route will not take effect and cause bugs.

[2021-03-21 15:11] starsz commented on #1468
This issue is for the situation when we import routes.

If the duplicate route is not updated, the new route will not take effect and cause bugs.

Why the duplicate also needs to be updated? IMO, if the duplicate route is not updated, they are two different routes.

[2021-03-21 18:01] bisakhmondal commented on #842
Hello guys, can I give it a try to demonize the manager_api which includes making the necessary change in the main program (terminating on SIGTERM, SIGKILL & reloading configurations on SIGHUP) & create it as a systemd service in Linux?
Thank you.

[2021-03-21 23:54] nic-chen commented on #842
sure, PR is welcome!

[2021-03-22 02:12] juzhiyuan commented on #1482
How about dropping this issue from M2.5? coz I'm still not sure if it's necessary to add this feature? 🤔

[2021-03-22 02:12] juzhiyuan commented on #1482
Let's wait for more replies

[2021-03-22 03:00] #758 closed

[2021-03-22 03:47] gxthrj opened #1639 "feat: Improve the regexp, reference some standard projects"
Now, we use `jsonschema` to verfiy the fields of objects.

As @juzhiyuan suggested, Need to modify regexp refer to some standard projects .

For example, verify fields such as name, password, email. This can avoid some mistakes.

[2021-03-22 03:51] gxthrj commented on #1639
Hi, guys.

Are there any good reference projects? Please list them here. I have searched many projects on github.
But there are no standard, only different needs.

There are some regular libraries, but the regular expressions still need to be filled in by yourself.

[2021-03-22 04:06] #1399 closed

[2021-03-22 04:45] juzhiyuan commented on #1639
Hello, please have this issue tagged :)

[2021-03-22 05:01] juzhiyuan commented on #1639
ya, here have some examples: https://projects.lukehaas.me/regexhub/

and @LiteSun, could you help to provide some rules from and?

[2021-03-22 05:01] #1555 closed

[2021-03-22 05:28] iamayushdas commented on #1632
Here

i am not able to find `type` for plugin that i have to put in local _M={}
can you please tell me more on what type will be used in transformation plugins.,i am lil confused

[2021-03-22 06:13] gxthrj commented on #1639
Great~ but I think  https://projects.lukehaas.me/regexhub/ is not enough.

Maybe regex does have some standards or best practices, but meeting our needs is the most important thing.
We can only refer to the examples you give.

For example, we need regex-expr for ` ipv4` and `domain`, but it is only `ipv4`.
[code]
[code]

Another example about usename. We also need to support Chinese.
[code]

[2021-03-22 06:14] iamayushdas commented on #1627
does first todo meant the following change:
![Screenshot from 2021-03-22 11-42-20](https://user-images.githubusercontent.com/40708551/111947694-f8302680-8b03-11eb-82de-a42f931adca5.png)

@juzhiyuan

[2021-03-22 06:39] batman-ezio commented on #1624
great to see name is mark as required. we'll have more test cases to update ^_^

[2021-03-22 07:14] #1265 closed

[2021-03-22 07:51] spacewander commented on #1632
@juzhiyuan
Your description of the `type` field is wrong!
It is nothing about the category in the documentation.

The `auth` type in the APISIX has a special meaning (although this name is quite confusing) - to mark a plugin should be interacted with the consumer.

I have explained the same thing many times:
https://github.com/apache/apisix-dashboard/issues/1174#issuecomment-754508964
https://gith

[2021-03-22 07:56] juzhiyuan commented on #1632
😳 then how do add a category for every plugin? I have read through some plugins' codes and only see the `type` field here.

https://github.com/apache/apisix/blob/master/apisix/plugins/basic-auth.lua#L53

[2021-03-22 08:00] iamayushdas commented on #1632
Exactly this is confusing for me too

[2021-03-22 08:10] juzhiyuan commented on #1627
ya

[2021-03-22 08:21] spacewander commented on #1632
It is all about the doc.
There is no formal standard to determine which category a plugin will belong to yet.

[2021-03-22 08:36] juzhiyuan commented on #1632
all right, then what `type` filed does? 🤔 I couldn't find its description.

[1] https://apisix.apache.org/docs/apisix/architecture-design/plugin

[2021-03-22 08:41] spacewander commented on #1632
See https://github.com/apache/apisix/blob/master/docs/en/latest/plugin-develop.md#schema-and-check

[2021-03-22 08:55] juzhiyuan commented on #1632
Thanks!

After read through this description about how to write a plugin, `When we set the type of plugin to auth, it means that this plugin is an authentication plugin.` does this mean the type field is only used with `Auth` plugins now? could we set `type = security to a plugin?

[2021-03-22 09:01] spacewander commented on #1632
Yes.

Why? This is meaningless.

[2021-03-22 09:14] spacewander commented on #1632
The type and the category are two different things.
If you want to mark a plugin with a category, better to introduce a new field called "category".

[2021-03-22 09:19] juzhiyuan commented on #1632
🤔 not sure ...  if `type` is `Only` used with `Auth` plugin, why not use `is_auth_plugin` to replace `type = auth`?

[2021-03-22 09:21] #1602 closed

[2021-03-22 10:00] spacewander commented on #1632
To be correct, it is plugins need to work with consumers, not plugins used to authenticate.
A plugin used to authenticate can be used with or without a consumer.

[2021-03-22 10:04] juzhiyuan commented on #1632
all right, @iamayushdas Hi, this issue may get pending due to we have something need to discuss. 🤔  Please take other issues 🐱

[2021-03-22 11:15] Firstsawyou opened #1642 "Whether to consider adding scheme configuration items in the upstream configuration"
# Feature request

## Please describe your feature

In the current configuration page related to `upstream`, there is no scheme configuration item yet, but there is a `scheme` field in the upstream object of APISIX. Do we need to increase the configuration of this field in the Dashboard?
For the scheme field, please refer to: https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md

[2021-03-22 11:18] #1303 closed

[2021-03-22 11:18] #1581 closed

[2021-03-22 11:18] iamayushdas commented on #1632
@juzhiyuan in 4th task you mean to add a github icon next to the language change icon?

[2021-03-22 12:37] juzhiyuan commented on #1632
ya

[2021-03-22 12:37] juzhiyuan commented on #1632
and link it to `https://apisix.apache.org`

[2021-03-22 12:42] juzhiyuan commented on #1642
![image](https://user-images.githubusercontent.com/2106987/111991259-11aa9000-8b4f-11eb-93a6-e70ef8ac60a4.png)

scheme?

[2021-03-22 12:45] #1411 closed

[2021-03-22 13:29] StretchV opened #1643 "When creating a route, the upstream cannot select ‘none’"
## Issue description

When creating a route, the upstream cannot select ‘none’，
## Expected behavior

I configured the service, hoping to select "None" in the upstream

## Environment

* apisix version (cmd: `apisix version`):2.3
* OS (cmd: `uname -a`):UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):openresty/1.19.3.1
* etcd version, if have

[2021-03-22 13:47] stu01509 commented on #1643
I think it duplicates with #1616

[2021-03-22 14:14] iamayushdas commented on #1632
Here are some minor issues on the Login page we could resolve.

 ## TODO
 * [ ]  Left icon replacement. @LiteSun
 * [ ]  Extracting Table as a separate component for reuse in various modules.
 * [ ]  APISIX plugin type change.
 * [x]  GitHub hyperlink (icon) added to Header section.

[2021-03-22 15:01] Firstsawyou commented on #1642
Yes it is.

[2021-03-22 15:13] juzhiyuan commented on #1643
ya

[2021-03-22 15:34] membphis commented on #1468
that is why I think it'll cause a but. because there are two different routes.

[2021-03-23 00:48] gxthrj commented on #1624
Agree +1 , Let `name` to be required.

[2021-03-23 01:11] nic-chen commented on #1642
@juzhiyuan  we have support `schema` for upstream, see: https://github.com/apache/apisix-dashboard/blob/master/api/internal/core/entity/entity.go#L167

[2021-03-23 01:21] juzhiyuan commented on #1642
ok, if we choose `grcp` or `grcps`, what should we do on UI view?

[2021-03-23 01:52] LiteSun commented on #1639
ANTD uses the [async-validator](https://github.com/yiminghe/async-validator) library for field checking, if you want to see the regular rules you need to look through the source code, which is not very convenient

[2021-03-23 03:08] #1627 closed

[2021-03-23 03:52] iamayushdas commented on #1632
## TODO
 * [ ]  Left icon replacement. @LiteSun
 * [ ]  Extracting Table as a separate component for reuse in various modules.
 * [ ]  APISIX plugin type change.
 * [x]  GitHub hyperlink (icon) added to Header section.

![screencapture-172-20-10-3-8000-user-login-2021-03-23-09_08_39](https://user-images.githubusercontent.com/40708551/112090245-376c7f00-8bb9-11eb-9e10-3e0edc3f2c60.png)

[2021-03-23 04:11] juzhiyuan commented on #1632
good good

[2021-03-23 05:27] qian0817 commented on #1150
Hi @juzhiyuan
I found plugin orchestration works well with Edge (Chromium) browser,so consider modifying the judgment condition to allow Edge to use this feature

[2021-03-23 06:31] nic-chen commented on #1642
Just a separate configuration item, no other changes are required on the UI

[2021-03-23 07:47] juzhiyuan commented on #1642
ok

[2021-03-23 08:49] Firstsawyou opened #1652 "How to let users know the version correspondence between Dashboard and APISIX"
# Feature request

## Please describe your feature

The current README.md document of Dashboard explains the version correspondence between Dashboard and APISIX.

![image](https://user-images.githubusercontent.com/52862365/112118596-7e796500-8bf7-11eb-95a3-ce656271a4de.png)

However, many users do not seem to pay attention to these prompt messages. When installing Dashboard and APISIX, they often

[2021-03-23 12:17] #1632 closed

[2021-03-23 13:09] Caelebs opened #1656 "When will the next version be released?"
When will the next version be released? The current dashboard is adapted to the apisix2.3 version, when can it be adapted to the apisix2.4 version?

[2021-03-23 13:46] starsz opened #1658 "Test: check the e2e test whether the data plane is tested"
Now, we had e2e tests, but some e2e tests don't test the data plane (apisix).
So we should check whether the data plane is tested.

That's the true e2e test.

[2021-03-23 13:48] juzhiyuan commented on #1658
Could this issue be more detailed?

[2021-03-23 13:49] starsz commented on #1658
Wait for a moment, I am searching for some example.

[2021-03-23 13:50] juzhiyuan commented on #1656
We are going through the release process today by @nic-chen, and will be released when the Vote is passed 3 days later.

BTW, you could subscribe our mailing list to get the latest news: https://apisix.apache.org/docs/general/subscribe-guide

[2021-03-23 14:00] starsz commented on #1658
When we create a route, we should test whether it works well in DP.
The same as service, consumer, upstream...

For example:
[code]

The test `verify route` is very important, so that we can test the route can work well in the data plane(apisix)

[2021-03-23 14:02] wannianma commented on #1503
It's so weird，i have build success using my home computer，but always get same build error using online test server. I have tried clear npm cache, but it 's not work. I think the building error maybe cause by network when download some npm dependent packages，but i have no idea about how to solve this. My current solution is copy the builded package at home to the online test server . Can we @juzhiy

[2021-03-23 14:31] juzhiyuan commented on #1503
😄

[2021-03-23 15:58] #1596 closed

[2021-03-24 01:04] batman-ezio commented on #1642
can you assign to me? @juzhiyuan

[2021-03-24 01:54] Caelebs commented on #1656
Roger that

[2021-03-24 01:54] #1656 closed

[2021-03-24 01:56] nic-chen opened #1660 "doc: Improve docs about route import and export"
Our current doc about route import is too simple, see:
https://github.com/apache/apisix-dashboard/blob/master/docs/en/latest/IMPORT_OPENAPI_USER_GUIDE.md

We need to supplement doc about route export.
The docs should be described in more detail.
Such as:
1. What does the imported content include?
2. How to deal with duplicate imported routes
3. Import standard swagger documents, how to deal with d

[2021-03-24 02:07] batman-ezio commented on #1630
@juzhiyuan  what's the differences in #3 . they looks the same

[2021-03-24 02:18] iamayushdas commented on #1631
is there any exact icon to be chosen? in
* [ ]  Add icon for Plugin Marketplace plugins.

@juzhiyuan

[2021-03-24 03:05] batman-ezio opened #1662 "Duplicate def upstream on api doc"
## Issue description
![image](https://user-images.githubusercontent.com/80014017/112247957-19258280-8c90-11eb-9015-0aafedbe6b70.png)
there are two Upstream `Upstream` and `UpstreamDef ` in the document https://github.com/apache/apisix-dashboard/blob/master/docs/en/latest/api/api.md,
and there are some fields missing compare to the admin api https://github.com/apache/apisix/blob/master/docs/en/late

[2021-03-24 03:09] batman-ezio commented on #1660
are there any existing documents  can refer to ?
what about put some steps and screenshoots  the document and list success and fails cases?

[2021-03-24 03:32] Jaycean opened #1664 "feat: use gomega match assertion"
# Feature request

## Please describe your feature

- use gomega match assertion.

## Describe the solution you'd like

- At present, the assertions used in E2E test are directly matched by go assert, so if there is an error, it is not friendly to the error message prompt, so I want to use gomega to match the assertions.

- Gomega is a matcher/assertion library. It is best paired with the Ginkgo B

[2021-03-24 03:33] Jaycean commented on #1664
cc @nic-chen @gxthrj @starsz @tokers @juzhiyuan

[2021-03-24 04:02] nic-chen commented on #1664
+1
looks great

[2021-03-24 08:05] imjoey commented on #1624
Since #1647 has been merged which regards the route name as mandatory, we could close this issue for now. Please feel free to reopen this if anything is unexpected. Thanks.

[2021-03-24 08:05] #1624 closed

[2021-03-24 08:09] imjoey commented on #1664
@Jaycean
+1 for me. Gomega is a much better choice. Looking forward to this awesome improvements. Thanks.

[2021-03-24 08:58] #1626 closed

[2021-03-24 09:53] logonmy opened #1665 "当编辑已有路由，修改重定向这个内容，由禁用改为 启用https的时候，提交报10005"
![image](https://user-images.githubusercontent.com/3469202/112290052-d1bbe800-8cc9-11eb-8df3-ff866be55806.png)
看我的截图，提示，我是编辑已经存在的路由。

[2021-03-24 12:50] batman-ezio commented on #1665
which version are you use? i find a fix at https://github.com/apache/apisix-dashboard/pull/1527 and will release soon at 2.5 version

[2021-03-24 13:49] nic-chen commented on #1660
updated. thanks for reminding.

[2021-03-24 15:08] iamayushdas commented on #1631
Assign this to me. I am working on this. @juzhiyuan

[2021-03-24 16:15] gxthrj commented on #1664
@Jaycean
+1 `Gomega`

[2021-03-24 16:55] iamayushdas commented on #1631
![screencapture-192-168-43-234-8000-plugin-list-2021-03-24-22_13_55](https://user-images.githubusercontent.com/40708551/112351267-bebc0e80-8cef-11eb-9a04-e46a23cd257b.png)
![screencapture-192-168-43-234-8000-plugin-list-2021-03-24-22_13_39](https://user-images.githubusercontent.com/40708551/112351277-c11e6880-8cef-11eb-9629-9c711be8ac96.png)

[2021-03-24 18:47] bisakhmondal commented on #842
Hii everyone, I have opened a draft PR. Though it is not fully complete, I would love to have this reviewed by you all.
Currently, the config is facing a write permission error to write logs in `error.log` file
Here's the last log in reverse ordering

[code]
is this issue regarding `writer, _, err := zap.Open(logPath)` for not providing any permission/umask explicitly.

It would be great if you gu

[2021-03-25 01:18] juzhiyuan commented on #842
cc @starsz @nic-chen to help when you have time.

[2021-03-25 01:19] juzhiyuan commented on #1631
I'm back, actually, no for now 🤔

[2021-03-25 01:22] juzhiyuan commented on #1664
Not sure 🤔 I'm not familiar with Go currently.

[2021-03-25 01:22] juzhiyuan commented on #1631
cc @LiteSun @bzp2010 @guoqqqi to review this PR, thx

[2021-03-25 01:24] juzhiyuan commented on #1630
#3?

[2021-03-25 01:56] liuxiran commented on #1660
duplicate with #1646

@nic-chen sorry for late response for this issue, and pr is on the way

[2021-03-25 03:09] logonmy commented on #1665
thank you, version is 2.4.

[2021-03-25 03:33] #1665 closed

[2021-03-25 04:53] nic-chen commented on #1660
thanks for remind. but the issue id seems wrong…

[2021-03-25 05:32] tokers commented on #1664
It seems the output is more friendly, we mat try it.

[2021-03-25 05:38] liuxiran commented on #1660
it should be https://github.com/apache/apisix-dashboard/issues/1660

[2021-03-25 05:40] bisakhmondal commented on #1664
+1 `gomega`

[2021-03-25 07:26] wangruozhu opened #1668 "The route imported through Apisix's interface using Export OpenAPI exported file is empty"
## Issue description
I want to synchronize old data, the old apisix version is 1.4.0, and now I use apisix with version 2.4 and apisix-dashboard with version 2.4, etcd with version v3.4.15.
I use Apisix's interface '/apisix/admin/route' to import my route data, I see it work by apisix-dashboard.
When I use Export OpenAPI to export this route data, the file which I export was empty.
But another rou