[2021-03-25 07:35] wangruozhu opened #1669 "Select Upstream may have a function matching upstreams by enter keyword"
# Feature request

## Please describe your feature

In old dashboard, apisix's version is 1.0 or earlier, when I edit the route, I can enter keyword to match the upstream.
Now, the new apisix-dashboard seems not have this function.
I which to add this function because some company have so much upstreams, even hundreds of thousands. And use select takes too much time to look for the correct upstrea

[2021-03-25 07:43] Caelebs commented on #1335
![image](https://user-images.githubusercontent.com/12752710/112435844-3afe3280-8d80-11eb-8ed8-c4e22660e85f.png)
![image](https://user-images.githubusercontent.com/12752710/112436123-916b7100-8d80-11eb-860f-21c359296ef9.png)

I just built the dashboard of version 2.5, and found that this item is still not aligned. Is the code merging missing?
Browser version: Google Chrome | 87.0.4280.66 (正式版本) （64

[2021-03-25 07:46] juzhiyuan commented on #1669
https://github.com/apache/apisix-dashboard/pull/1589

Hi, just to make sure, do you mean this feature?

[2021-03-25 07:48] juzhiyuan commented on #1668
Hi @Jaycean @nic-chen , please take a look when you have time :)

[2021-03-25 07:49] juzhiyuan commented on #1660
why not assign labels for this issue?

[2021-03-25 07:50] juzhiyuan commented on #1335
🤔 not sure, let me reopen this.

[2021-03-25 07:52] wangruozhu commented on #1669
yes, it is the same.

[2021-03-25 07:52] #1669 closed

[2021-03-25 07:53] qian0817 commented on #1630
@juzhiyuan task 3 `Create page, title: Create Consumer, not Create Consumer.`also confused me

[2021-03-25 07:53] qian0817 commented on #1628
@juzhiyuan this issue can be closed

[2021-03-25 07:58] #1628 closed

[2021-03-25 08:12] juzhiyuan commented on #1630
ok, I mean we need to remove the space in Chinese: `创建 消费者` to `Create Consumer` 🤔

[2021-03-25 08:14] Jaycean commented on #1668
@wangruozhu
Hi,Is it convenient to provide the data of the route created by APISIX?
This will help to reproduce the problem and solve it. Thks.

[2021-03-25 08:43] wangruozhu commented on #1668
$ curl http://127.0.0.1:9080/apisix/admin/upstreams/00000000000000000058  -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -i -X PUT -d '
{"name":"UC-EUREKA", "desc": "UC-EUREKA", "enable_websocket": false, "hash_on": "vars", "nodes": {"172.16.0.123:18088": 1}, "type": "roundrobin"}'

$ curl http://127.0.0.1:9080/apisix/admin/routes/00000000000000000027 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c

[2021-03-25 08:57] Jaycean commented on #1668
- Thank you for your reply. I have located the problem.
- When the `methods` field data is empty or [], the route supports all methods, but the export does not do relevant adaptation. This is a bug, and I will fix it in the near future.
- The fastest way to solve this problem is to add the `methods` field corresponding to the route, such as `"methods": [delete]`,  to ensure that the methods data i

[2021-03-25 09:11] wangruozhu commented on #1668
I try add the `method` field corresponding and it work. Thks

[2021-03-25 09:11] #1668 closed

[2021-03-25 11:27] batman-ezio commented on #1664
+1 `Gomega`

[2021-03-25 15:50] starsz commented on #1664
+1 Gomega

[2021-03-25 16:06] membphis commented on #1468
I think everyone is right, sorry for causing you trouble.

https://github.com/apache/apisix-dashboard/issues/1468#issuecomment-781184877 is a good way.

[2021-03-26 01:15] juzhiyuan commented on #1664
ok fine, anyone would like to take this issue?

[2021-03-26 01:16] Jaycean commented on #1664
I will finish it when I have time.

[2021-03-26 01:27] caukie commented on #1549
can this issue be assigned to @stu01509 now?

[2021-03-26 01:30] juzhiyuan commented on #1549
@caukie Hi, would you like to have a try?

[2021-03-26 01:37] caukie commented on #1549
@juzhiyuan sorry，i'm not working with nodejs, so still waiting for help.

[2021-03-26 01:38] juzhiyuan commented on #1549
oh got it, @stu01509 just to make sure, would you have time to resolve this?

[2021-03-26 02:40] juzhiyuan commented on #1549
AFAIK, @stu01509 is working on other issues, let's wait for other contributors to take this.

[2021-03-26 05:41] bisakhmondal commented on #1664
@Jaycean feel free to ask me if I could be of any help :)
I'd be happy to write some.

[2021-03-26 05:48] Jaycean commented on #1664
Thank you very much. Let me finish the issue. If you have time, you can help to finish the issue: #1500 . There are still many E2E tests to rewrite.

[2021-03-26 09:41] nic-chen commented on #842
hi @bisakhmondal
Need to confirm, is the owner of the logs directory and running manager-api the same user?

[2021-03-26 09:45] nic-chen commented on #1335
@Caelebs
Is there still a problem with the wrong etcd version?

[2021-03-26 10:02] nic-chen commented on #1658
No DP test files:
[code]

[2021-03-26 10:07] nic-chen commented on #1662
oh, it's not a bug.

UpsteamDef is a public structure, route, upstream and service all refer to it.

[2021-03-26 10:15] juzhiyuan commented on #1335
@nic-chen Hi, this is is a UI issue :)

[2021-03-26 10:38] qian0817 opened #1680 "feat: show http response header in debug view"
# Feature request

## Please describe your feature

Currently only the response body is displayed, consider displaying the response header and response code at the same time.

![image](https://user-images.githubusercontent.com/45898769/112619435-4b86d980-8e62-11eb-8777-5bdc38e27989.png)

[2021-03-26 11:48] bisakhmondal commented on #842
hii @nic-chen thanks for the heads up,
its working perfectly now,
latest logs in reverse order
[code]
it was causing by
`PermissionsStartOnly=true`  which was overriding user & group info to provide syslog access over the generated logs(stdout & stderr).
so putting
[code]
after syslog initialization (which was put before the statement by me earlier), solves it.
Thanks, pushing the changes soon.

[2021-03-27 06:43] bisakhmondal opened #1682 "Updating URI of an existing route causes 404 error"
## Issue description

If I update the uris of an already created route, necessary effects are getting taken for the old uris name, but for the new ones, it is causing a 404 nginx/openresty error.

## Expected behavior

The update should either take place or not, if the manager-api is able to update it should display the upstream content, else the apisix should send an error. But in this case the e

[2021-03-27 08:32] Firstsawyou opened #1683 "docs: update the image in the USER_GUIDE.md document"
The images in the USER_GUIDE.md document are the old version of the page, we should update them to the current version of the page.
https://github.com/apache/apisix-dashboard/blob/master/docs/en/latest/USER_GUIDE.md#create

[2021-03-27 15:01] stu01509 commented on #1680
I would like to try this.

[2021-03-27 15:24] juzhiyuan commented on #1680
@stu01509 Hi, how about resolving other issues first? and I remember you have the GSoC task 🤔

[2021-03-27 15:29] starsz commented on #1682
The URI in route is `/newhello` , but the URI in the browser `/hellonew`.

Please check about it.

[2021-03-27 16:08] bisakhmondal commented on #1682
Sorry, my bad. I have mistakenly put yesterday's screenshots. It's updated now. Thank you.

[2021-03-28 02:24] tokers opened #1684 "program panic when failed to initialize etcd store is unreasonable"
## Issue description

Say my etcd cluster contains some corrupted data, which causes the manager api launching failed, the manager-api just crashes and the output is not so friendly.

## Expected behavior

Output some messages to hint at this failure and exit.

## Screenshots

![image](https://user-images.githubusercontent.com/10428333/112740455-c14c8b80-8faf-11eb-93f5-cb0cedb48d32.png)

## Enviro

[2021-03-28 04:32] stu01509 commented on #1680
Hi @juzhiyuan

Actually, I almost have resolving other issues, waiting for merge and pass the test case,
and also  @nic-chen recommend me to do more PR about the Backend issue.

[2021-03-28 05:04] juzhiyuan commented on #1680
ok got it, assign to you :)

[2021-03-28 23:41] batman-ezio commented on #1684
that also happens when ectd is unable to connect

[2021-03-29 00:48] nic-chen commented on #1682
@bisakhmondal
what is the content in nginx.conf
and is there error log for this？

[2021-03-29 01:09] tokers commented on #1684
Yep, let it crash is not a good way here.

[2021-03-29 06:01] bisakhmondal commented on #1682
Thanks, @nic-chen, @starsz for looking into this. Actually, the error has nothing to do with manager-api. Thanks to @Jaycean, only `/hello`, `/hello_` and `/hello1` routes are whitelisted on the upstream docker image that we are currently using for testing [ [ref](https://github.com/apache/apisix-dashboard/pull/1675#issuecomment-809023973) ]. So in the case of `newhello` it's a 404 from upstream i

[2021-03-29 06:01] #1682 closed

[2021-03-29 06:13] aiyiyi121 opened #1687 "request help: What’s the function of export OpenAPI on the dashboard"
### Issue description
 What’s the function of export OpenAPI on the dashboard,  why can't I export the configuration of routes and upstreams correctly through it.
And how can I export API configuration to yaml configuration?

### Environment

apisix version (cmd: apisix version): 2.4
OS (cmd: uname -a): Ubuntu 16.04.2 LTS
OpenResty / Nginx version (cmd: nginx -V or openresty -V): openresty/1.19.3.

[2021-03-29 14:14] defp commented on #1397
No `backport` type in index.json

[2021-03-30 01:14] nic-chen commented on #1397
could we add it？

[2021-03-30 01:15] nic-chen commented on #1687
please give some detail about how to reproduce it

[2021-03-30 01:38] aiyiyi121 commented on #1687
Just use the function "导出 OpenAPI" on the dashboard, and it exports data like:

[code]
Is it right?

[2021-03-30 01:51] Jaycean commented on #1687
Please provide the detailed data of the export route. Or check if the methods are set in the route data. If not, refer to the issue: #1668. We are repairing it.

[2021-03-30 02:28] defp commented on #1397
https://github.com/zeke/semantic-pull-requests/pull/67

@nic-chen  Yes!

[2021-03-30 02:31] defp commented on #1397
https://github.com/apache/apisix-dashboard/pull/1688/commits/44fa580af59b648957657e56ea3a153aef70daa8
backport type

[2021-03-30 05:21] nic-chen commented on #1684
thanks for feedback

[2021-03-31 00:31] belongwqz opened #1694 "可以为2.5版本提供rpm包下载么？"
# Feature request

## Please describe your feature

可以为2.5版本提供rpm包下载么？

## Describe the solution you'd like

一般内公司内网无法访问很多golang语言包，自行编译难以实现，如果可以提供编译好的rpm包会比较方便，2.4版本有提供的，2.5咋没了。

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context or screenshots about the feature reque

[2021-03-31 00:44] moonming commented on #1694
@juzhiyuan @nic-chen can CI build RPM package?

[2021-03-31 02:16] juzhiyuan commented on #1694
@nic-chen will provide the RPM first, and we will try to support CI to build RPM.

[2021-03-31 05:40] iamayushdas opened #1695 "[Bug]: verifying the version number"
## Issue description
unable to verify version number

## Expected behavior
`2.4` version should get verified

  This is because when verifying the version number, the `.` In `2.4` is used as a regular expression to match all strings.
  You could submit another commit to avoid this problem.
  To fix this problem, we could change this line of code
 https://github.com/apache/apisix-dashboard/blob/mas

[2021-03-31 11:21] Firstsawyou opened #1699 "after configuring the Grafana address in Metrics, the page cannot be displayed normally"
# Feature request

## Please describe your feature

After many users configure the Grafana address in `Metrics`, the following situation is prone to appear:
![image](https://user-images.githubusercontent.com/52862365/113136616-275a3c80-9256-11eb-93bc-6361dddabc14.png)

Although this is caused by the cross-domain configuration of the Grafana service and the anonymous login has not been turned off.

[2021-03-31 14:04] stu01509 opened #1700 "Translation error in plugin page"
## Issue description
Hi all

I found when I switch the language to English on plugin page and element still used the Chinese

## Expected behavior

## How to Reproduce

1. Go to the plugin page.
2. Click on create plugin button.
3. See translation error

## Screenshots

![image](https://user-images.githubusercontent.com/22230889/113156843-f2a5af80-926c-11eb-9ffe-79f97c809a2d.png)

## Environment

[2021-04-01 00:47] #1464 closed

[2021-04-01 00:47] #1660 closed

[2021-04-01 01:11] #1695 closed

[2021-04-01 01:56] iamayushdas commented on #1700
resolved in  #1685

[2021-04-01 02:20] juzhiyuan commented on #1700
Hi @stu01509, if this error goes away after syncing your repo, kindly close this issue :)

[2021-04-01 05:40] #1664 closed

[2021-04-01 15:05] #1631 closed

[2021-04-01 21:31] bisakhmondal commented on #1684
Hii!! everyone, can I work on this issue?
I have been able to reproduce the same error. After looking into it, I found that the error is thrown during store initialization & caching.

So what should be the ideal behaviour for manager-api if such a case happens?
Just put a descriptive log, ignore the current entry and continue processing the next one. How does it sound to you? Let me know what you

[2021-04-02 00:43] tokers commented on #1684
@bisakhmondal Sure, assigned to you.

[2021-04-02 01:37] nic-chen commented on #1694
@belongwqz  we have uploaded the rpm package, please have a look.

[2021-04-02 01:48] aiyiyi121 commented on #1687
Thanks，it works

[2021-04-02 01:48] juzhiyuan commented on #1694
It's here https://github.com/apache/apisix-dashboard/releases

I will close this issue now :) if you have any problems, please let us know :)

[2021-04-02 01:48] #1694 closed

[2021-04-02 01:56] nic-chen commented on #1684
hi @bisakhmondal
Here is the expected behavior mentioned in issue content:

Output some messages to hint at this failure and exit.

[2021-04-02 02:10] juzhiyuan opened #1703 "improve the Duplicate Route feature"
_There is a UE enhancement suggestion: when copying the route user in the page of the first step and click the [Next] button directly, they will get a duplicate route name error, maybe leaving the route name blank would be a better choice._

_comment: https://github.com/apache/apisix-dashboard/pull/1558#pullrequestreview-626749307_

[2021-04-02 02:30] belongwqz commented on #1694
I saw, 3Q!

[2021-04-02 06:00] bisakhmondal commented on #1684
![image](https://user-images.githubusercontent.com/41498427/113385841-8929bc00-93a6-11eb-99fc-0803afe607fc.png)

How is it now?

[2021-04-02 09:04] stu01509 commented on #1700
Hi @juzhiyuan  and @iamayushdas

Yeah, this issue has been solved in #1685, so close this issue.

[2021-04-02 09:04] #1700 closed

[2021-04-03 03:15] tokers commented on #1684
@bisakhmondal We don't have to panic the program, instead, we may report the error reason, and exit with a non-zero code.

[2021-04-03 09:04] #1614 closed

[2021-04-03 10:12] bisakhmondal commented on #1684
Okay, we can definitely go with it. I would like to mention an issue in this approach. We are keeping a slice of closers [ [ref](https://github.com/apache/apisix-dashboard/blob/master/api/internal/utils/closer.go) ] for all the allocated resources (including etcd connection), so in case of any error, for a graceful shutdown, the already allocated resource's closer method should be called.

os.Exit

[2021-04-03 11:23] tokers commented on #1684
Yes, I agree that all finalizers or closers should be run even if exceptions occur, the reason why I think the spontaneous `panic` is not suitable is this is a **clear and specific** exception, not a programming fault.

[2021-04-03 13:53] bisakhmondal commented on #1684
Very true. Pushing the new changes then :)

[2021-04-04 02:06] moonming opened #1706 "security: support HTTPS for dashboard"
# Feature request

## Please describe your feature

Now dashboard does not support HTTPS access, which is not safe and easy to be hijacked and sniffed.

## Describe the solution you'd like

We should support HTTPS access. How about adding Apache APISIX in front of the manager API?

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features

[2021-04-05 01:27] #1683 closed

[2021-04-05 23:10] #1687 closed

[2021-04-05 23:10] juzhiyuan commented on #746
This issue is hold for a long time, do we really need this?

[2021-04-06 02:18] batman-ezio opened #1711 "The name rule is not applied to every name input"
# Feature request

## currently we only check the name format in route's name use regexp,
with below code in frontend
![image](https://user-images.githubusercontent.com/80014017/113649753-935afb80-96c1-11eb-8ee5-d4cb28929606.png)

[code]

but in other place, like Upstream, Service ... , we allow to input any chars

## Describe the solution you'd like

extract the rule to global, and apply to all n

[2021-04-06 03:14] LLLLimbo opened #1712 "Liveness probe failed after helm install"
## Issue description
Liveness probe failed after helm install.

Run ```kubectl describe pods apisix-apisix-dashboard-5d45f878bb-5zgg6 -n ingress-apisix```, I gor following output:

[code]

## Expected behavior
Liveness probe succeeds.

## How to Reproduce

1.```helm repo add bitnami https://charts.bitnami.com/bitnami```
2.```helm repo add apisix https://charts.apiseven.com```
3.```helm repo update

[2021-04-06 04:14] Firstsawyou commented on #1712
@tokers  @gxthrj   If you are free, please have a look.
By the way, this issue should be submitted to https://github.com/apache/apisix-helm-chart/issues. ^ _ ^

[2021-04-06 04:56] LLLLimbo commented on #1712
Should I create an issue there too?

[2021-04-06 07:55] linxiaohui opened #1713 "set a custom url prefix for the dashboard"
# Feature request

## Please describe your feature

When Using apisix-dashboard behind a proxy (like nginx), which serves other services。Set a base url for apisix-dashboard will allow nginx routes to the correct place

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-04-06 14:30] nic-chen commented on #1713
LGTM
pr is welcome.

[2021-04-06 15:03] juzhiyuan commented on #1712
I will help to to transfer it.

[2021-04-07 00:37] juzhiyuan commented on #1493
it works on 4.15.0

[2021-04-07 18:01] bisakhmondal commented on #1706
Hii, are we planning to run manager-api as https server with tls configs?

[2021-04-08 00:09] moonming commented on #1706
@nic-chen @membphis

[2021-04-08 00:22] nic-chen commented on #1706
sure, PR is welcome!

[2021-04-08 01:12] moonming commented on #1706
@nic-chen you need to discuss how to implement this feature first

[2021-04-08 03:19] Hcreak opened #1716 "Wildcard SSL certificate is not available"
## Issue description

I added a wildcard certificate in the dashboard.
When I added the route and turned on HTTPS redirection, the error was reported as follows:

[code]
## Expected behavior

The specified domain name can use the corresponding wildcard certificate

## How to Reproduce

1. Go to SSL page and Add corresponding wildcard certificate
2. Go to Create Route page
2. specified domain name

[2021-04-08 03:50] juzhiyuan commented on #1716
Could you provide a sample wildcard cert? or where do you get the cert?

[2021-04-08 03:57] Hcreak commented on #1716
Let's Encrypt , Use acme.sh

[2021-04-08 04:06] juzhiyuan commented on #1716
cc @nic-chen @starsz to take a look

[2021-04-08 05:35] melotusme commented on #590
same problem, too.
I can't directly use apisix to proxy apisix-dashboard, while I can use nginx to proxy apisix-dashboard.

[2021-04-08 06:22] xiaotaibai2008 opened #1717 "before login dashboard,there occurs an error: /apisix/admin/tool/version_match 401 (Unauthorized)"
## Issue description

when open dashboard in  web browser,there occurs a error:Failed to load resource: the server responded with a status of 401 (Unauthorized)
## Expected behavior

 no such error

## How to Reproduce

when type "ip-address :9000" in web browser ,then the website redirect to login page ;
press F12 ,there is an error occurs

## Screenshots

![image](https://user-images.githubuserc

[2021-04-08 06:26] juzhiyuan commented on #590
https://apisix.apache.org/docs/apisix/FAQ#how-to-access-apisix-dashboard-through-apisix-proxy

@melotusme Hi, please take a look at this link.

[2021-04-08 09:22] xiaotaibai2008 opened #1719 "plugin "proxy-rewrite" found in plugin-config detail page and not found in route detail page"
## Issue description
 plugin "proxy-rewrite" found in plugin-config detail page and not found in route detail page

## Expected behavior
 plugin "proxy-rewrite" both found or not found in plugin-config detail page and route detail page

## How to Reproduce

When creating the route, the "proxy-rewrite" plugin was not found ；

When creating the  plugin-config, the "proxy-rewrite" plugin was found ；

[2021-04-08 09:36] xiaotaibai2008 opened #1720 "When editing a route, the "URI override" radio button‘s value is incorrect"
## Issue description
When editing a route, the "URI override" radio button value is incorrect

## Expected behavior
When editing a route, the "URI override" radio button value is correct

## How to Reproduce

1. create a route A,choose the "Regex" value for  "URI override" and set the detail values
2. edit the rotue A,"URI override" was set to ”Stay The Same“ value

## Environment

![image](https:

[2021-04-08 11:10] Abbila commented on #1719
"Request Override" is the proxy-rewrite plugin  #1576

[2021-04-08 12:34] defp commented on #1397
可以关闭这个issue了

[2021-04-08 12:52] bisakhmondal commented on #1717
Hii, It seems the dashboard is making a GET request to the backend without a valid authorization token. And it's obvious when the user hasn't still logged in. I think as a solution, we can check the `localstorage` for the token, if present only then we will send the GET request to the backend. How does it sound to you @juzhiyuan? :)

[2021-04-08 13:56] #1397 closed

[2021-04-08 14:08] juzhiyuan commented on #1719
yes, this plugin is out of box.

[2021-04-08 14:09] juzhiyuan commented on #1717
good for me :)

[2021-04-08 14:36] Abbila commented on #1719
I have a problem. I can search the rewrite plugin on the route view page，But I don't know it is a bug or a feature。

[2021-04-08 14:48] bisakhmondal commented on #1717
Cool😄. Should I open a PR or let the others pick it up!!

[2021-04-08 15:14] juzhiyuan commented on #1719
`Route View`? Could you please take a screenshot?

[2021-04-08 15:14] juzhiyuan commented on #1717
oh sure!

[2021-04-08 18:05] liuxiran commented on #1719
As we have removed the `proxy-rewrite` plugin out of step3 of `/routes/create` page, it should not be found in this page, after checking the latest code,  the current implementation  matched the expectation.

while checking this issue, I found that in the step2 of `/plugin-template/create` page, `proxy-rewrite` can still be found, that is not as expected, #1723 will fix this. So can this solve you

[2021-04-08 22:38] starsz commented on #1716
Thank you for the report.
I check the code. It seems that manager-api don't check this situation:
1. Configure the wildcard SSL certificate.
2. Create the route using a specified domain that matches the wildcard SSL certificate.

[2021-04-09 01:16] juzhiyuan commented on #1716
Just to make sure, is it easy to fix or is it urgent for users?

[2021-04-09 01:43] #1680 closed

[2021-04-09 02:20] LiteSun opened #1724 "Provide better field, field descriptions for UIForm"
# Feature request

## Please describe your feature
Provide better field name, field descriptions for UIForm.

- [ ] https://github.com/apache/apisix-dashboard/pull/1718#discussion_r610282445
- [ ] https://github.com/apache/apisix-dashboard/pull/1725#discussion_r611281834
- [ ] https://github.com/apache/apisix-dashboard/pull/1725#discussion_r611281834

[2021-04-09 03:11] Abbila commented on #1719
@liuxiran @juzhiyuan When editing the route, proxy-rewrite can be found on the preview page of the route, which is the fourth step。
![image](https://user-images.githubusercontent.com/17827327/114123170-5e021800-9924-11eb-8123-0f79244b8e9f.png)

[2021-04-09 03:15] Hcreak commented on #1716
Do you have any plans to fix this bug in the next version?

[2021-04-09 03:17] starsz commented on #1716
Yes. This is a serious bug. We will fix it as soon as possible.
Maybe today.

[2021-04-09 03:19] liuxiran commented on #1719
good catch @Abbila ~ there is a missing modification in https://github.com/apache/apisix-dashboard/blob/166137ea9fa42694f09beca3c5c19335b20abc6f/web/src/pages/Route/components/CreateStep4/CreateStep4.tsx#L62

[2021-04-09 04:48] #1717 closed

[2021-04-09 12:04] nic-chen commented on #1716
@Hcreak  thinks for feedback, we will fix it ASAP

[2021-04-10 03:21] starsz commented on #1716
Hi, @Hcreak.
Sorry, I can't reproduce this error.
Do you mean this?

Step 1: create a wildcard certificate like *.apisix.com
![image](https://user-images.githubusercontent.com/25628854/114256797-75a5d300-99ee-11eb-9784-55161841060a.png)

Step 2: Create a route with xx.apisix.com
![image](https://user-images.githubusercontent.com/25628854/114256822-a0902700-99ee-11eb-9765-dc7b2d45857c.png)

Step 3:

[2021-04-10 04:18] Hcreak commented on #1716
Wildcard certificate for two domain names Please test

[2021-04-10 04:50] Hcreak commented on #1716
I seem to have found the reason. I specified the fourth-level domain name in the route，but I used second-level domain name wildcard certificate

[2021-04-10 04:50] #1716 closed

[2021-04-10 05:57] #1720 closed

[2021-04-10 10:10] starsz opened #1737 "Bug: the row field is nil when request to get the label list"
## Issue description

Hello, I find that when we do the request `GET /apisix/admin/labels/route` the result is
like

[code]

## Expected behavior

The row field is nil.
It should be `[]`.

## How to Reproduce

1. Request to get the auth token
[code]
2. Use the token to get the lable list
[code]
The result is
[code]

## Screenshots

## Environment

* apisix version (cmd: `apisix version`):
* OS (cm

[2021-04-10 11:12] membphis commented on #1706
@nic-chen ping

[2021-04-10 13:25] nic-chen commented on #1706
The discussion email has been sent.

[2021-04-10 14:51] LiteSun opened #1738 "Improved FE plugin test"
# Feature request

## Please describe your feature

This is a tracking issue: https://github.com/apache/apisix-dashboard/pull/1734
refer comment：https://github.com/apache/apisix-dashboard/pull/1734#discussion_r611029852

## Describe the solution you'd like

Currently Cypress is not running smoothly in the test plugin marketplace due to page redraws, so a compromise has been made: use `cy.wait()`

[2021-04-10 21:07] bisakhmondal commented on #1737
Hey @starsz, I have made the fix. Feel free to check it out :)

[2021-04-11 05:49] nic-chen opened #1742 "change: remove ID of consumer"
# Feature request

## Please describe your feature

APISIX has removed the consumer id in version 2.5.

Dashboard also needs to remove the consumer id before it can be used with APISIX 2.5 and above.

## Describe the solution you'd like

1. Sync schema from APISIX 2.5 version
2. Remove the id field from the consumer's struct
3. Modify related test cases

[2021-04-11 06:01] nic-chen opened #1743 "change: remove `listen.host` from api/conf/conf.yaml"
# Feature request

## Please describe your feature

The configuration item `listen.host` in conf.yaml often confuses users, because when the configuration dashboard can be accessed non-locally, two places need to be modified (the other place is `allow_list`).
We can remove the `listen.host` configuration item from conf.yaml, but retain the feature, and users can add it when they need it.

## Descr

[2021-04-11 07:16] juzhiyuan commented on #1742
FE will use `username` as identify.

[2021-04-11 08:11] starsz commented on #1737
Yeah.Thanks!

[2021-04-11 08:36] juzhiyuan opened #1746 "support pre-commit"
# Feature request

## Please describe your feature

Hi, I noticed that there have something that could be automatically done before committing:

- [ ] Auto prettier;
- [ ] Auto check commit message;

## Describe the solution you'd like

I would prefer using [husky](https://www.npmjs.com/package/husky) to do this.

## Additional context

Due to we put files under the `web` folder (non-root), husky

[2021-04-11 13:48] starsz commented on #1743
I am confused about the PR and this issue.
Are they related to each other？

[2021-04-11 13:50] starsz commented on #1743
`list.host` also confuse me.Do you mean `listen.host` ?

[2021-04-11 13:55] starsz commented on #1724
Oh. Can you add more description about your feature?
The PR is merged. Can we close this issue?

[2021-04-11 14:07] starsz commented on #1713
LGTM too.
@linxiaohui Can you help do this feature?

[2021-04-11 14:38] nic-chen commented on #1743
oh. typo

[2021-04-12 03:11] Engine-AI commented on #1719
@liuxiran Already resolved in #1721 ，

[2021-04-12 03:33] #1719 closed

[2021-04-12 06:41] LiteSun commented on #1724
No, there is a series of plug-in forms that need to be changed.

[2021-04-12 12:59] Engine-AI commented on #1662
@nic-chen @juzhiyuan  hi, If it is not a bug, please close this Issue.

[2021-04-12 13:35] LiteSun opened #1757 "Added more FE testcase for limit-conn plugin form"
# Feature request

## Please describe your feature
The PR for the limit-conn plugin form has now been merged and test cases for the limit-conn plugin form binding route will need to continue to be added for stability.

refer PR: #1728

[2021-04-12 14:14] juzhiyuan commented on #1757
Please add your labels.

[2021-04-12 14:16] juzhiyuan commented on #1724
labels needed

[2021-04-12 14:45] totemofwolf opened #1759 "default login page return 404 when using APISIX for http/https proxy"
## Issue description

## Expected behavior

## How to Reproduce
0. deploy APISIX and etcd via docker-compose:

[code]

[code]

1. add route in APISIX

[code]

OR

[code]

2. Access this route via ip or:
https://pilot.x.info/user/login?redirect=%2F

3. Input user && password, press login
4. See error

## Screenshots

![image](https://user-images.githubusercontent.com/1818214/114413173-52db1080-9be0

[2021-04-12 14:57] nic-chen commented on #1662
I think we could close this issue now. If you have any problem, just reopen it.

[2021-04-12 14:57] #1662 closed

[2021-04-12 15:00] Firstsawyou commented on #1759
Access Dashboard through APISIX proxy, Keep the APISIX proxy port and Admin API port different(or disable Admin API). For example, do the following configuration in `conf/config.yaml`.

The Admin API use a separate port 9180:

[code]

[2021-04-12 15:08] totemofwolf commented on #1759
It works. I am wondering why should this happen...? Port conflict or?

[code]

[2021-04-12 15:09] juzhiyuan opened #1760 "support icons on Plugin Marcket"
# Feature request

## Please describe your feature

Hi, we have some plugin icons for a few plugins currently, like this one:

![image](https://user-images.githubusercontent.com/2106987/114417069-dcd8a880-9be3-11eb-902c-ee97b47e3739.png)

To have a better & clearer view, we would better add plugins for those icons.

## Describe the solution you'd like

We could find some icons from `iconfont.cn`,

[2021-04-12 15:10] juzhiyuan commented on #1337
Hi, please refer to iconfont.cn , once you collect your icons, you could download it & replace this one:

![image](https://user-images.githubusercontent.com/2106987/114417490-380a9b00-9be4-11eb-8c16-c44787028201.png)

BTW, we are going to add icons for current dashboard, refer to #1760

[2021-04-12 15:10] #1337 closed

[2021-04-12 15:41] membphis commented on #1706
I suggest posting the email discussion address here. It is easier for reading

[2021-04-13 01:22] Firstsawyou commented on #1759
Because Dashboard access needs to occupy the port of `/apisix/admin/xxx`, when using APISIX proxy to access Dashboard, it will conflict with APISIX's `Admin API` listening interface. Therefore, we need to customize the Admin API port to avoid conflicts, or disable the Admin API.

[2021-04-13 03:28] #1737 closed

[2021-04-13 04:24] nic-chen commented on #1706
sure.
here is the discussion thread:
https://lists.apache.org/thread.html/r082c75e50b3c2445a4e15c012a267ea1f4844f2dac5ab02fa6508a41%40%3Cdev.apisix.apache.org%3E

[2021-04-13 12:42] iamayushdas commented on #1760
Do you need help in creating icons?

[2021-04-13 13:18] juzhiyuan commented on #1760
sure! Do you have experiences on this?

[2021-04-13 13:35] iamayushdas commented on #1760
Yes i have, but not as professional, i want to give it a try if our community liked those then only we will use🙂

[2021-04-14 03:46] Firstsawyou opened #1768 "the `Regex` in the routing configuration cannot be displayed normally"
## Issue description

After configuring the `Regex` in the `URI Override` of the `Request Override`, when editing the route again, the configured `Regex` information cannot be displayed.

1.  Create a route and configure the `Regex` information in `URI Override`.
<img width="759" alt="截屏2021-04-14 上午11 32 36" src="https://user-images.githubusercontent.com/52862365/114651585-d7c84600-9d16-11eb-97dd

[2021-04-14 07:32] Engine-AI commented on #1768
@juzhiyuan @moonming This problem has been solved  #1721

[2021-04-14 11:02] Firstsawyou opened #1770 "there is no default status code when configuring the health check through the Dashboard"
# Feature request

## Please describe your feature

When configuring the health check in the Dashboard, if the status code information is not set, there is no default status code. When configuring the health check through the `Admin API`, there will be a status code by default.

1. Configure the health check through the Dashboard
Create a route and do not set the `HTTP Status` in the passive healt

[2021-04-14 11:12] juzhiyuan commented on #1770
PR #1764  will fix this issue.

[2021-04-14 11:14] #1768 closed

[2021-04-14 11:20] Firstsawyou commented on #1770
Got it.

[2021-04-14 15:12] starsz opened #1772 "CI: golangci will be expected for long time"
## Issue description

Hi, I found that when we do some change on FE, the golangci will be expected for a long time.
This will lead the CI can't pass.

## Expected behavior

The golangci can be run

## How to Reproduce

1. Create a PR only change the FE
2. Then see the github action

## Screenshots

![image](https://user-images.githubusercontent.com/25628854/114734383-bc8d2300-9d76-11eb-9f79-75a4fe

[2021-04-15 01:51] LiteSun opened #1773 "add missing fields for limit-count plugin (redis cluster)"
## Issue description

Because the limit-count document(http://apisix.apache.org/docs/apisix/plugins/limit-count/) does not match the actual jsonchema(https://github.com/apache/apisix/blob/master/apisix/plugins/limit-count.lua#L37), the missing fields need to be filled in.

refer pr: #1739

## Expected behavior

Fields are consistent with limit-count jsonschema.

[2021-04-15 04:29] #1770 closed

[2021-04-15 05:10] juzhiyuan opened #1774 "FE: refactor Testcase files"
# Feature request

## Please describe your feature

Hi, this issue aims to improve Frontend's Testcases (Cypress.io).

## Describe the solution you'd like

- [ ] use `data value` directly instead of referring
- [ ] do we need to take some codes as repeated codes?
- [ ] check if testcases are standard according to Cypress docs.

[2021-04-15 05:12] juzhiyuan opened #1775 "resolve PR comments"
# Feature request

## Please describe your feature

Hi, due to GitHub Action is slow those days (today good), we have PRs that including some unresolved comments, and they need to get resolved.

- [x] https://github.com/apache/apisix-dashboard/pull/1764
- [x] https://github.com/apache/apisix-dashboard/pull/1736#discussion_r613866222
- [x] https://github.com/apache/apisix-dashboard/pulls?q=is%3Apr+

[2021-04-15 05:18] juzhiyuan commented on #1773
related issue #1775

[2021-04-15 05:20] juzhiyuan opened #1776 "redesign the Plugin Marcket page"
# Feature request

## Please describe your feature

Hi, our Plugin Market page now contains all plugins in one page, we may split them into multiple categories and show a few plugins under the category.

### Design

__TODO__

[2021-04-15 06:24] juzhiyuan opened #1777 "build UI for serverless-xx plugin"
# Feature request

## Please describe your feature

Hi, I remember when we want to use serverless plugins, we need to use both post & pre-function. Let's build UIs for those two plugins.

### Design

_TODO_

[2021-04-15 07:21] StretchV opened #1778 "excuse,how to do the fuzzy search of routing in the apisix-dashboard"
请问dashboard中路由的模糊搜索是怎么做的呢,是后台程序自己做的循环正则匹配etcd中的值吗

[2021-04-15 11:03] Marco-Zheng opened #1780 "bug: domain name/ip was disappeared after update"
### Issue description

Question 1: I update the domian name -> medcloud-dev.dental-practice-patient
and click the submit button, then i click update button again, the domian name/ip was disappeared after update

Question 2: What the  domian name/IP i should write in when i use k8cluster？if `medcloud-dev.dental-practice-patient` is supported? `medcloud-dev` is the namespace of service and `dental-p

[2021-04-16 08:43] qian0817 commented on #1618
@stu01509
I found that it can't compile when GOOS is windows currently ,so I don't think this needs to be changed. For windows developers, using Docker or WSL is a better option, and VSCode and Intellij both provide support.

[2021-04-16 15:36] Marco-Zheng commented on #1780
Yeap, i upgraded the apisix-dashboard to 2.5, but the problem still exsist
![image](https://user-images.githubusercontent.com/52538259/115048656-5cc88080-9f0c-11eb-945a-22ea20baba1d.png)
you can see i add an IP and save it, then click the update botton, but it is disappeared

[2021-04-16 15:37] Marco-Zheng commented on #1780
attach the result
![image](https://user-images.githubusercontent.com/52538259/115048866-a2854900-9f0c-11eb-9cd7-8fa89220a53b.png)

[2021-04-16 23:01] bisakhmondal commented on #1391
Hii all, can I open a PR here? Yesterday I was giving it a casual try after a bit of conversation with @nic-chen and It seems I have completed the goal😅. Dev branch [link](https://github.com/bisakhmondal/apisix-dashboard/tree/embed_assets)
Go 1.16 release has official support for embedding static files into generated go binary. Here's the [release notes](https://golang.org/doc/go1.16). Just FYI, t

[2021-04-17 05:29] hnlq715 commented on #1391
nice job

[2021-04-17 07:36] belongwqz commented on #1777
High priority?

[2021-04-17 14:09] #1759 closed

[2021-04-17 21:23] juzhiyuan commented on #1777
no, there have more urgent issues we need to fix.

[2021-04-18 09:48] juzhiyuan commented on #1391
nice job! Should we support this feature as a command, like `make build --bundle=true`?

[2021-04-18 10:43] #1586 closed

[2021-04-18 13:56] bisakhmondal commented on #1391
Hii, as of now, running `make build` includes the web assets and `./api/build.sh` doesn't. When the assets aren't included I've added a static HTML that is going to be rendered.
![image](https://user-images.githubusercontent.com/41498427/115148076-9f5c9b00-a07b-11eb-82db-095f88ecce39.png)
Do let me know, the commands that are going to be preferred. I'd be happy to update accordingly :)

[2021-04-18 14:10] juzhiyuan commented on #1391
You mean we could support 3 ways like this?
- Build ManagerAPI only;
- Build Web & ManagerAPI together but separately;
- Build Web & ManagerAPI together and bundle them together;

The third one is good for me! But it will make the documentation complex, too 🤔 How about others?

[2021-04-18 16:25] bisakhmondal commented on #1391
I guess option 1 and 3 would be fine. Option 1 (say `make api-build`) for not bloating the binary size for the users who just need manager-api only and option 3 (`make build`) as a complete package. Also option 1 would be helpful for fast debugging as each time building the web would incur significant time.
We may update the docs stating the benefits and options. What do you think?

[2021-04-18 22:42] juzhiyuan opened #1787 "update remark in UpstreamForm when creating Service"
we will reuse `UpstreamForm` when creating a service

![image](https://user-images.githubusercontent.com/2561857/115162774-f85a1c80-a0d7-11eb-8607-2fc3c34f4e9d.png)

so remove `（仅在绑定服务时可用）` may be  more general here or change another remark ^_^

_Originally posted by @liuxiran in https://github.com/apache/apisix-dashboard/pull/1784#discussion_r615463646_

[2021-04-18 22:58] liuxiran commented on #1787
refer to #1616 , we need `None` here, just change the remark for it ^-^

[2021-04-19 02:44] StretchV commented on #1778
@nic-chen 大佬可以帮解惑一下吗

[2021-04-19 03:21] #1742 closed

[2021-04-19 03:53] nic-chen commented on #1778
hi @StretchV

The Manager API loops to match the values ​​in cache (from ETCD), but it is not a regular match.
For the detail, please see:
https://github.com/apache/apisix-dashboard/blob/master/api/internal/core/store/store.go#L187-L195
https://github.com/apache/apisix-dashboard/blob/master/api/internal/handler/route/route.go#L222-L239

[2021-04-19 04:35] juzhiyuan commented on #1391
ok then let's cc @starsz @nic-chen @imjoey @liuxiran @membphis @LiteSun @bzp2010 @ShiningRush

[2021-04-19 04:55] iamayushdas commented on #1787
As far as i got we have to remove this 仅在绑定服务时可用 ? is it?

[2021-04-19 05:11] iamayushdas commented on #1773
@juzhiyuan i think limit-count doc matches the json schema? if i am wrong could you please enlight me up?

[2021-04-19 06:24] #1743 closed

[2021-04-19 06:31] juzhiyuan commented on #1773
Pay attention to redis cluster

[2021-04-19 06:33] juzhiyuan commented on #1787
Yes

[2021-04-19 07:16] StretchV commented on #1778
感谢

[2021-04-19 07:16] #1778 closed

[2021-04-19 09:20] #1775 closed

[2021-04-19 09:25] juzhiyuan commented on #1563
done

[2021-04-19 09:25] #1563 closed

[2021-04-19 09:30] juzhiyuan opened #1794 "add health checker Testcase for FE"
# Feature request

## Please describe your feature

Hi, we don't have a health checker test case for FE now, @LiteSun will help to add this.

[2021-04-19 09:49] LiteSun commented on #1794
related pr: #1793

[2021-04-19 09:52] nic-chen commented on #1391
Vote for supporting to specify whether to embed the web by parameter.

Some scenes may need to not embed the web, such as to facilitate debugging.

[2021-04-19 15:13] bisakhmondal commented on #1391
+1

[2021-04-19 15:14] starsz commented on #1391
| Vote for supporting to specify whether to embed the web by parameter.
+1.Sure, we need this options.

[2021-04-20 02:13] leon1509 opened #1796 "关于路由/*有效，/foo/*无效"
## Issue description
版本：apisix-dashboard:2.4
            apisix:2.3-alpine
            etcd:3.4.9

环境：docker-compose

场景：新建上游DataQL-Demo，再创建路由DataQL-route，不加载任何插件。

现象：
路径设置为/*时
![image](https://user-images.githubusercontent.com/4725850/115326907-a3de9c00-a1c0-11eb-9b2a-cd5849585028.png)

测试结果正常：
![image](https://user-images.githubusercontent.com/4725850/115326992-c53f8800-a1c0-11eb-9534-b7885120c

[2021-04-20 03:11] juzhiyuan opened #1797 "add Backend E2E test for Debug View"
@qian0817 @juzhiyuan @nic-chen
IMO, we need to add E2E test case to BE.

_Originally posted by @Jaycean in https://github.com/apache/apisix-dashboard/issues/1779#issuecomment-822932550_

[2021-04-20 03:18] Firstsawyou opened #1798 "the problem of empty vars expressions in "Advanced Routing Matching Conditions""
# Feature request

## Please describe your feature

When adding a route, Dashboard will add an empty expression of `"vars":{}` by default:
![image](https://user-images.githubusercontent.com/52862365/115331938-6d594f00-a1c9-11eb-9640-f0e3bbcef968.png)

However, only in the APISIX 2.5 version, APISIX will perform schema verification on the `"vars":{}` expression in the route. If there is `"vars":{}`

[2021-04-20 03:52] juzhiyuan commented on #1796
cc @Firstsawyou to take a look

[2021-04-20 04:41] iamayushdas opened #1800 "Error: while running manager-api on ubuntu 20.04.2"
Erro while running after successfully building upcoming release 2.6

![Screenshot from 2021-04-20 10-06-39](https://user-images.githubusercontent.com/40708551/115338378-54986b80-a1c0-11eb-8cf5-1dfd3d7cd71c.png)

@juzhiyuan @tokers @Yiyiyimu  @Jaycean

[2021-04-20 04:53] qian0817 commented on #1800
Is etcd running? @iamayushdas

[2021-04-20 04:53] iamayushdas commented on #1800
Yes

[2021-04-20 05:01] qian0817 commented on #1800
can you use etcdctl to connect to etcd.`context deadline exceeded` is returned by grpc client when it can't establish the connection.

[2021-04-20 05:25] juzhiyuan opened #1801 "DockerHub is unstable to install FE dependencies (yarnpkg)"
## Issue description

Hi, we have connected with DockerHub so it could build Image when there has a new commit to master or other branch, but it's failed to install some dependencies due to a Network error.

When I test on my local computer, I removed all dependencies and get a refresh installation, it works well as expected.

## Screenshots

![image](https://user-images.githubusercontent.com/2106

[2021-04-20 05:29] juzhiyuan commented on #1801
![image](https://user-images.githubusercontent.com/2106987/115342149-5ec86300-a1dc-11eb-9e61-48f2cd3946dd.png)

I just disabled this auto-build temporarily, and will send a ticket to DockerHub to see what happened. https://hub.docker.com/repository/docker/apache/apisix-dashboard/builds/edit

[2021-04-20 07:17] #1800 closed

[2021-04-20 07:47] ericsyh opened #1803 "Question: is it a bug that users can delete all target nodes forms in upstream create page?"
## Issue description

When fixing the Upstream form warning message issue, i found a behavior that users can delete all target nodes forms on the page like

![](http://piw45adv3.bkt.clouddn.com/%E6%8D%95%E8%8E%B7.PNG)

But this upstream can be created successfully.

![](http://piw45adv3.bkt.clouddn.com/%E6%8D%95%E8%8E%B72.PNG)

## Expected behavior

Not sure is it a expected behavior.

## How to R

[2021-04-20 09:17] liuxiran commented on #1803
Hi @ericsyh thanks for your report.

Acctually from the funcitonal point of view, the empty node list is a feature, see:

 `The nodes can be empty, which means it is a placeholder and will be filled later. Clients use such an upstream will get 502 response.`
(come from https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md#upstream)

But from the UE point of view, an upstream can

[2021-04-20 10:07] membphis commented on #1801
ok, got it

[2021-04-20 10:44] Firstsawyou commented on #1796
Hi，@leon1509
Do you have an API for `/foo/api/user/get` in your backend service? From the response data, it is likely that there is no corresponding API in the back-end service.

[2021-04-20 14:38] KishaniKandasamy opened #1804 "docs : FAQ in IMPORT_OPENAPI_USER_GUIDE"
## Issue description
Currently we have  FAQ section under the sidebar .
But there is [an FAQ](https://apisix.apache.org/docs/dashboard/IMPORT_OPENAPI_USER_GUIDE#faq) in the IMPORT_OPENAPI_USER_GUIDE.
![Screenshot (116)](https://user-images.githubusercontent.com/53715187/115414868-0c0a9d80-a214-11eb-99fe-6857dd43bd9a.png)
What about adding that too under the common FAQ section?

[2021-04-20 15:27] KishaniKandasamy opened #1806 "docs: add correct custom IDs to links"
Some links aren't  directed  properly .
Ex: https://apisix.apache.org/docs/dashboard/api/api/#ApiError

![99999](https://user-images.githubusercontent.com/53715187/115422808-e339d680-a21a-11eb-9cbb-9a657ca55eda.JPG)

[2021-04-20 17:19] KishaniKandasamy opened #1809 "doc: link is broken in deploy-with-docker"
## Issue description
https://apisix.apache.org/docs/api/conf/conf.yaml is broken  in deploy-with-docker
![99](https://user-images.githubusercontent.com/53715187/115437928-6b73a800-a22a-11eb-89ca-2d5824277feb.JPG)

[2021-04-21 00:09] juzhiyuan commented on #1803
As @liuxiran said, we actually support an empty node list, it will return a 5xx status code to the client. I would prefer keeping the current behaviour, because if users really want to do it, what they can do on the dashboard?

[2021-04-21 03:19] membphis opened #1810 "style(fe): how about changing the navigation bar to dark?"
![image](https://user-images.githubusercontent.com/6814606/115491834-46ffe600-a293-11eb-9fe1-d0887ccdc9f1.png)

[2021-04-21 03:28] leon1509 commented on #1796
My back-end service is http://localhost:8080/api/user/get, I want to add /api/user/get via apisix

[2021-04-21 03:40] hzbd opened #1811 "The manager-api and apache apisix are mismatched?"
**Issue description**
_Request Error Code: 2000001
The manager-api and apache apisix are mismatched._

![image](https://user-images.githubusercontent.com/3000843/115493420-516faf00-a296-11eb-979f-85538325aa77.png)
**Environment**
**CentOS 7.9**
[root@xxx dashboard]# ./manager-api -v
**Version : 2.5
GitHash : 5c95d97**
[root@xxx dashboard]# apisix version
**/usr/local/openresty/luajit/bin/luajit /u

[2021-04-21 04:31] nic-chen commented on #1803
+1 for  keeping the current behavior

[2021-04-21 04:50] nic-chen commented on #1811
hi @hzbd
can't use Dashboard 2.5 with APISIX 2.5, need to wait for Dashboard 2.6.

Dashboard 2.5 works with APISIX 2.4.

[2021-04-21 04:53] nic-chen commented on #1796
I think you could use the proxy-rewrite plugin to achieve your need:
https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/proxy-rewrite.md

[2021-04-21 04:55] nic-chen commented on #1810
I We can directly try to see the modified effect.

cc @LiteSun @juzhiyuan  @liuxiran  @guoqqqi

[2021-04-21 05:05] #1811 closed

[2021-04-21 05:21] Firstsawyou commented on #1796
You can also try to configure it like this in Dashboard:
<img width="921" alt="截屏2021-04-21 下午1 18 41" src="https://user-images.githubusercontent.com/52862365/115500683-62272180-a2a4-11eb-96d7-d5789b7e7e46.png">

<img width="1024" alt="截屏2021-04-21 下午1 18 55 1" src="https://user-images.githubusercontent.com/52862365/115500706-6ce1b680-a2a4-11eb-89a5-2adde9de8d26.png">

[2021-04-21 05:26] liuxiran commented on #1803
@juzhiyuan @nic-chen  keep the current behavior is also reasonable for me

If there is no objection, we will close the issue

cc @ericsyh

[2021-04-21 05:58] ericsyh commented on #1803
ok for close the issue. But i am quite interesting in what scenario that users will create a upstream with empty node list?

[2021-04-21 14:15] juzhiyuan commented on #1803
@Firstsawyou any scenarios when users create an upstream with empty nodes?

[2021-04-21 14:16] juzhiyuan commented on #1810
@membphis @nic-chen Hi, we usually call it `Left Sidebar`.

You could see this preview site: https://preview.pro.ant.design/dashboard/analysis

[2021-04-21 14:53] qian0817 commented on #1040
@juzhiyuan Can I use the [monaco editor](https://microsoft.github.io/monaco-editor/) instead of codemirror to achieve this?

[2021-04-21 15:40] juzhiyuan commented on #1040
Sure! that's what I want to do!

[2021-04-21 15:41] juzhiyuan commented on #1040
But you may face some issues from E2E test, you could ask for @guoqqqi @LiteSun to help you.

[2021-04-21 17:52] iamayushdas opened #1815 "[Fe]: issue regarding viewport in `route` page"
## Issue description
1. issue occurred while running website on "1366 x 768" resolution.
2. also the subtitle of every page looks bit odd for the UI, I guess its about font, or the subtitles should have least amount of text, or should be in bullet format

## Expected behavior
should be responsive on "1366 x 768" resolution

## How to Reproduce

 Go to "route page"

## Screenshots
![scrnli_21_04_20

[2021-04-22 00:02] LiteSun commented on #1040
Good to go.

[2021-04-22 00:05] LiteSun commented on #1803
+1 for keeping the current behavior

[2021-04-22 00:13] LiteSun commented on #1391
Vote for supporting to specify whether to embed the web by parameter and looking forward to this feature!!!

[2021-04-22 00:42] juzhiyuan commented on #1815
![image](https://user-images.githubusercontent.com/2106987/115639234-aa971b80-a346-11eb-93ea-a487067aef28.png)

How about clicking this place?

[2021-04-22 01:59] iamayushdas commented on #1815
Doing that would work, but is that the only solution?

[2021-04-22 02:27] hnlq715 commented on #1391
Maybe it's more practical to always embed the web assets in build process, but provide a flag to use the embed or the external assets in startup?

[2021-04-22 02:39] hnlq715 commented on #1391
Another concern is go:embed should support compress in later release, and we can use this feature to reduce binary size.

[2021-04-22 03:09] Firstsawyou commented on #1803
I have not encountered this situation. Setting the upstream with empty node, it seems that there is no usage scenario.
I will create an issue on the backend to discuss it.

[2021-04-22 04:00] juzhiyuan commented on #1815
or only show some selected columns?

[2021-04-22 04:04] iamayushdas commented on #1815
yes that could be the good solution

[2021-04-22 04:10] nic-chen commented on #1810
the dark mode LGTM

[2021-04-22 05:36] iamayushdas commented on #1810
me too

[2021-04-22 05:37] iamayushdas commented on #1810
Drk mode looks good as default. should we go for it ?

![scrnli_22_04_2021_11-04-17](https://user-images.githubusercontent.com/40708551/115661277-d0c6b680-a35a-11eb-8e70-d8ff79b5c32c.png)

[2021-04-22 05:51] guoqqqi commented on #1810
We can also refer to the examples in the documentation： https://procomponents.ant.design/components/layout#menu～

[2021-04-22 05:54] iamayushdas commented on #1810
Thanks for this😊

[2021-04-22 07:21] Yiyiyimu commented on #1059
Hi @juzhiyuan do we need to delete this action, or use submodule to make it running

[2021-04-22 09:14] leon1509 commented on #1796
![image](https://user-images.githubusercontent.com/4725850/115688888-25375980-a38e-11eb-91f9-3d5baae00f37.png)

[2021-04-22 10:42] juzhiyuan commented on #1796
@leon1509 As for Redirect issue, it has been fixed in 2.6, and it will release today by @nic-chen

[2021-04-22 10:45] juzhiyuan commented on #1059
ok, we could remove it, we have Security alert from GitHub.

[2021-04-22 10:50] juzhiyuan commented on #1059
Just checked, we'd better keep it working 🤔 I don't want to see keys uploaded by mistake 😂

[2021-04-22 10:51] juzhiyuan opened #1817 "fix GitLeaks Action and make it working"
Hi @juzhiyuan do we need to delete this action, or use submodule to make it running

_Originally posted by @Yiyiyimu in https://github.com/apache/apisix-dashboard/issues/1059#issuecomment-824605352_

[2021-04-22 10:53] juzhiyuan commented on #1810
Hi, we need more members to review this :)

[2021-04-22 10:54] juzhiyuan commented on #1810
cc @membphis @guoqqqi @stu01509 @qier222

[2021-04-22 10:55] qier222 commented on #1810
Looks good😀

[2021-04-22 11:01] juzhiyuan commented on #1810
ok, then vote +1

[2021-04-22 11:01] guoqqqi commented on #1810
Agree +1

[2021-04-22 11:03] iamayushdas commented on #1810
+1 for sure

[2021-04-22 13:05] stu01509 commented on #1810
LGTM +1

[2021-04-22 13:29] nic-chen opened #1818 "feat: support more judgment conditions for plugin orchestration"
# Feature request

## Please describe your feature

Currently, only judgment by code is supported for plugin orchestration.

No other conditions were used and tested.

We could add support for more judgment conditions, such as ctx attributes, vars, etc.

## Describe the solution you'd like

Add test case for more judgment conditions, such as ctx attributes, vars, etc.

If necessary, we also need t

[2021-04-22 16:36] liuxiran commented on #1810
LGTM +1, dark mode draws a clear line between sidebar and content

[2021-04-22 16:46] liuxiran commented on #1803
Then how about leave enough space for users, that is to say, we just keep the current behavior, when users have scenarios that create an upstream with no nodes(even if we have not encountered now), they can do this through dashboard.

[2021-04-23 02:47] cverdela opened #1821 "I want to edit the Id when creating the upstream、route and service"
# Feature request

## Please describe your feature

A clear and concise description of what you want and what your use case is.

I want to edit the Id when creating the upstream、route and service

## Describe the solution you'd like

I want to manage the id for record and report

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features yo

[2021-04-23 02:54] starsz commented on #1821
I think you can deploy an additional apisix as the control plane. And only use the admin-api.

By the way, just want to know what's the reason that you don't like jwt?

[2021-04-23 03:01] starsz commented on #1818
What do you mean?
Only add testcase for plugin orchestration?

[2021-04-23 03:15] starsz commented on #1810
LGTM +1.

[2021-04-23 03:21] starsz commented on #1803
I think in some test situations. Users use the `echo plugin` to return responses. So they don't need any upstream nodes.

[2021-04-23 07:17] LiteSun commented on #1810
Black looks more technological. LGTM+1

[2021-04-23 09:03] liuxiran commented on #1815
Inspired by antd：
![2021-04-23 16-59-44屏幕截图](https://user-images.githubusercontent.com/2561857/115847509-9e4db400-a455-11eb-83d6-925e5bd22185.png)

add a scroll-y for table, and at the same time limit the columns width is also a choice

[2021-04-23 14:02] juzhiyuan commented on #1815
Good! There indeed has one configuration to enable scroll y

[2021-04-23 14:08] juzhiyuan commented on #1818
😳 Could you explain more detailed?

[2021-04-24 12:47] juzhiyuan commented on #1247
**TODO**
- [ ] Unit Testcase for `convertGraphToScript`
- [ ] add more information about Plugin on Cards (Left Sidebar)
- [ ] alert when there have unused nodes on canvas (e.g some nodes may not get connected)
- [ ] User Guide

[2021-04-25 01:48] #1810 closed

[2021-04-25 04:31] nic-chen commented on #1803
close now. If you have any question, welcome reopen it.

[2021-04-25 04:31] #1803 closed

[2021-04-25 04:36] nic-chen commented on #1796
Consider resolved. If there is any problem, welcome to reopen it.

[2021-04-25 04:36] #1796 closed

[2021-04-25 05:45] nic-chen commented on #1821
@cverdela
You can also specify the id using the Manager API, just like using the Admin API.

[2021-04-25 07:04] oldthreefeng opened #1825 "how to create an viewer account for apisix-dashboard?"
# Feature request

## Please describe your feature

apisix-dashborad create an admin account by apisix-cm.yaml
but how to create an read only account for dev user?

## Describe the solution you'd like

like apisix X-API-KEY.

[2021-04-25 14:36] #1760 closed

[2021-04-26 00:39] nic-chen commented on #1825
doesn't support this feature now.PR is welcome

[2021-04-26 08:11] Engine-AI opened #1827 "When create the upstream, some properties can still be edited on the preview page"
## Issue description
When I create the upstream, some properties can still be edited on the preview page
![image](https://user-images.githubusercontent.com/17827327/116049710-2bd51200-a6a9-11eb-87d2-e6dc07eac6c5.png)

I think there is something wrong with the logic in this method.
![image](https://user-images.githubusercontent.com/17827327/116050123-b453b280-a6a9-11eb-8242-27ae98f6f5fc.png)

[2021-04-26 08:13] Engine-AI commented on #1827
@juzhiyuan

[2021-04-26 10:11] leon1509 commented on #1796
@juzhiyuan
2.6版本的也不行
![image](https://user-images.githubusercontent.com/4725850/116066663-de61a080-a6ba-11eb-8713-08055ca27310.png)

[2021-04-26 14:32] juzhiyuan commented on #1796
@leon1509 You mean Static Path doesn't show in 2.6?

[2021-04-27 01:07] leon1509 commented on #1796
The requirement is actually very simple, that is, the path in the route is set to "/foo/*", how should I call it?
需求其实非常简单，就是路由里的路径设置为“/foo/*”，我应该如何调用？

The status quo is：
现在情况是：

Route path： /foo/*           --->       /foo/api//user/get --->  http status is 404
Route path:   /*                  --->      /api/user/get          --->  http status is 200

Did I describe it clearly?
不知道我描述清楚了嘛？

[2021-04-27 02:22] leon1509 commented on #1796
问题已解决，方案是/foo这个前缀不是随便设置的，需要与后端的url前缀保持一致（可以是[/api/*]，也可以是[/api/user/*]！

[2021-04-27 02:23] juzhiyuan commented on #1796
https://apisix.apache.org/docs/apisix/router-radixtree

[2021-04-27 02:25] leon1509 commented on #1796
@juzhiyuan

Problem is solved, thank you

[2021-04-27 07:01] belongwqz commented on #1798
does Dashboard version 2.6 fix this error?

[2021-04-27 10:47] Molio-tan opened #1832 "bug: apisix-dashboard v2.5 make build failed on Huawei Kunpeng system"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): v2.4
* OS (cmd: `uname -a`): Linux localhost.localdomain 4.19.90-17.ky10.aarch64 apache/apisix#1 SMP Sun Jun 28 14:27:40 CST 2020 aarch64 aarch64 aarch64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/serve

[2021-04-27 13:52] qian0817 opened #1829 "Invalid URL when online debug in kubernetes."
## Issue description

I need to use the service name as the domain when i run the apisix dashboard in kubernetes, which currently would be considered an illegal URL.

## Expected behavior

Just like the behavior of the wget in the screenshot.

## How to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots
![image](https://user-images.githubusercontent.

[2021-04-28 07:09] Firstsawyou commented on #1798
This is a known issue of APISIX 2.5, and it is incompatible with data created in earlier versions of Dashboard 2.5. This problem has been fixed in later versions of APISIX 2.5.

https://github.com/apache/apisix/issues/4048
https://github.com/apache/apisix/pull/4056

[2021-04-28 11:26] Molio-tan commented on #1832
is anybody can help me ?haha

[2021-04-29 01:50] LiteSun commented on #1832
Thanks for reporting the problem, I'll try to reproduce it when I have time and I'll update here with any progress 😄

[2021-04-29 02:32] Molio-tan commented on #1832
Thank you anyway.I can't wait for the solution.

[2021-04-29 07:15] liuxiran commented on #1829
Hi @qian0817 , thanks for your report.
We use `url-regex-safe` to validate the url, and `apisix-gateway` does not meet the verification conditions, so you got the error message is expected.

Actually, online debug is designed to test the route published on the apisix, later we plane to  update the UE of input URL, use select box instead of fill in it manually, which will reduce the cost of users,

[2021-04-29 07:57] qian0817 commented on #1829
yes.

[2021-04-29 07:58] qian0817 commented on #1832
I suggest to also report this issue to [yarn](https://github.com/yarnpkg/yarn).

[2021-04-29 08:40] imjoey commented on #1832
Hi @Molio-tan, thanks for reporting.

From the error logs, it seems that some of the npm packages are not compatible with Kylin v10 on ARM64. IMHO, the cause may be very complex. So in order to make it easier to get through with this, could you please add `--verbose` flag for both the `yarn install` and `yarn build` commands in https://github.com/apache/apisix-dashboard/blob/master/Makefile#L39? T

[2021-04-29 16:57] #1706 closed

[2021-04-30 02:08] Molio-tan commented on #1832
Firstly, I tried to add `--verbose` flag as you said
![image](https://user-images.githubusercontent.com/31587573/116639348-eb241400-a99a-11eb-98b6-87b5630949c1.png)
And then, the log as follows
![image](https://user-images.githubusercontent.com/31587573/116639467-32120980-a99b-11eb-875d-49bdffe57cc3.png)

Secondly, I sorry I couldn't have the Kylin v10 to Ubuntu 20.04 for another test.
Last, if th

[2021-04-30 03:44] stu01509 commented on #1711
Hi @juzhiyuan

I would like to solve this issue, could you tell me which pattern we need?

[2021-04-30 08:48] bisakhmondal commented on #1825
I can give it a try. @nic-chen how are we planning to support this as of now, through YAML?
Seems like we had a similar conversation a month back :)

[2021-05-03 07:56] juzhiyuan commented on #1711
Hi, @stu01509 I'm back, this issue will be resolved by https://github.com/apache/apisix-dashboard/pull/1799

[2021-05-03 07:56] #1711 closed

[2021-05-03 07:58] #1616 closed

[2021-05-03 08:02] juzhiyuan commented on #1832
Hi @imjoey, do you have other solutions to resolve this issue? Should we file an issue to Yarn or NPM?

[2021-05-03 08:15] imjoey commented on #1832
@juzhiyuan Sorry, I'm afraid not yet as the logs did not show enough details. Actually, as far as I know, both Yarn and NPM have good support for ARM64. IMHO, it's supposed that the reason is some npm packages are not compatible with Kylin V10 on ARM64. While unfortunately, I do not have an ARM64 environment to reproduce it. We can still get more info from @Molio-tan. 😄

[2021-05-03 08:15] juzhiyuan commented on #1798
@belongwqz no, wait for #1799

[2021-05-03 08:17] juzhiyuan commented on #1832
noted, thanks for clarification!

[2021-05-03 08:18] imjoey commented on #1832
@Molio-tan the logs seem not very helpful. So could you please show us more information from the `/var/log/message` and `dmesg` command during the installation? I believe that they could give us some clues. Thanks.

[2021-05-04 09:40] #1827 closed

[2021-05-04 09:42] juzhiyuan commented on #1643
@iamayushdas Please have a check if this issue gets fixed, if yes, then cc me to close this issue :) Thanks

[2021-05-04 09:43] #1238 closed

[2021-05-04 09:43] iamayushdas commented on #1643
Ok

[2021-05-04 15:32] iamayushdas commented on #1643
No its not :(
![Screenshot from 2021-05-04 21-00-49](https://user-images.githubusercontent.com/40708551/117029074-f1f4b300-ad1b-11eb-8863-54b4ceb44c5d.png)

[2021-05-04 15:36] iamayushdas commented on #1643
Do you want me to fix this @juzhiyuan ?

[2021-05-05 03:06] juzhiyuan commented on #1643
ok, I see what happened. `None` is only available when creating a Service. When creating Route, we can't use `None` here. Consider closed.

[2021-05-05 03:06] #1643 closed

[2021-05-05 06:00] iamayushdas commented on #1643
okay cool

[2021-05-05 13:25] juzhiyuan commented on #1247
Just added a Project here https://github.com/apache/apisix-dashboard/projects/5

[2021-05-05 13:29] juzhiyuan commented on #1774
@guoqqqi, could you please guide @iamayushdas to complete the first issue?

We have test cases that reference a public selector file, now we need to move them from that file to each test case file.

Example:

[code]

[2021-05-05 13:29] juzhiyuan commented on #1794
ping @LiteSun

[2021-05-05 13:30] juzhiyuan commented on #1652
@nic-chen @starsz  Could API provide more information about CP & DP versions?

[2021-05-05 14:05] guoqqqi commented on #1774
OK, I will assist him with the first question.

[2021-05-05 14:06] juzhiyuan commented on #1774
ok, and @iamayushdas, I would prefer 1 test case file 1 PR :) That will help reviewers.

[2021-05-05 14:07] juzhiyuan commented on #1774
We could list all files here that need to get updated, and then connect PRs with this issue.

[2021-05-06 00:26] starsz commented on #1652
Yes.The API can provide the info like:

The apisix version is xxx, and recommends using dashboard version xxx.

[2021-05-06 00:26] LiteSun commented on #1794
closed  by #1793

[2021-05-06 01:00] juzhiyuan commented on #1794
@LiteSun Where is the test case?

[2021-05-06 01:00] #1703 closed

[2021-05-06 01:02] juzhiyuan commented on #1652
ok, just provide something like:

[code]

[2021-05-06 01:06] nic-chen commented on #1652
I took a look at the code, and it seems that there is no version number that should match in the output @starsz

[2021-05-06 02:27] Molio-tan commented on #1832
Ok, but I don't know exactly about how many lines or messages created during the installation.Forgive me to giving the whole file as follows.

[messages.log](https://github.com/apache/apisix-dashboard/files/6431355/messages.log)
[dmesg.log](https://github.com/apache/apisix-dashboard/files/6431357/dmesg.log)

[2021-05-06 03:17] imjoey commented on #1832
@Molio-tan  thanks for providing the logs, while I'm so sorry that I've to say I can find nothing useful to help us get through with this issue. Do you mind adding my WeChat `majunjiev` that  I'm able to debug your environment? Thanks.

[2021-05-06 04:22] iamayushdas commented on #1774
also add task for adding test statement for closing notification where missing

[2021-05-06 04:24] iamayushdas commented on #1774
oh, i didn't watch this comment, but i have added committed reconfigured tests one by one with suitable commit message, hope its ok?

[2021-05-06 06:11] starsz commented on #1652
We can support it.

[2021-05-06 11:29] Molio-tan commented on #1832
No, I don't mind that. I had send the request for your Wechat.

[2021-05-06 14:41] fregie opened #1840 "manager-api: Why putting the feature of daemon in core code?"
When I reading the code of manager-api,it take me a lot of time understanding the moudle of daemon and cmd,but these are not the core features of manager-api.Why don't we keep the core code less and simple?

Maybe it's a good idea taking this feature out of manager-api as a stand-alone tool to manage the manager-api service.And manager-api will only be a executable file that launching a http/https

[2021-05-07 05:09] imjoey commented on #1832
I've already debugged with @Molio-tan personally, now I put the debug progress here with @Molio-tan's permission.

1. Simply run `yarn install --verbose` under `./web` directory
![image](https://user-images.githubusercontent.com/2542401/117399458-34dca380-af33-11eb-99be-ba8014143fd1.png)

2. At the same time, see the output from `/var/log/message`:
![image](https://user-images.githubusercontent.co

[2021-05-07 06:02] juzhiyuan commented on #1832
That's really helpful! @Molio-tan @imjoey

[2021-05-07 07:02] iamayushdas commented on #1774
i am not being able to refactor the cypress/integration/plugin/create-edit-delete-plugin.spec.js
My PC is not able to handle that much recursive tests
Anyways, now focusing on other tests
Error screenshot
![Screenshot from 2021-05-07 12-27-14](https://user-images.githubusercontent.com/40708551/117410494-1e811880-af30-11eb-8ff5-e832976ded20.png)

[2021-05-07 10:20] fregie commented on #782
How about add two apis to export and import a config file?
The config file saves all related data in etcd encoded.
Another thing we need to consider is what to do if there is a conflict when import,do you have any expectation？
@membphis @juzhiyuan

[2021-05-07 11:22] nic-chen commented on #1840
hi, @fregie  could you point out the files and lines of the code? Thanks.

[2021-05-07 12:02] fregie commented on #1840
In file `api/cmd/service.go` and functions `newxxxCommand()` in `api/cmd/manageapi.go`.
I don't think the code in these two files is necessary be added in the core code.It's fine just invoke `manageAPI()` in `manageapi.go` starting the service,and use a stand-alone script or something else to manage this service.
On the other hand, this feature is redundant if it runs in a container.

[2021-05-07 12:02] iamayushdas commented on #1815
could you guide me for this?

[2021-05-07 16:02] starsz commented on #1840
Maybe you can refer this Issue： https://github.com/apache/apisix-dashboard/issues/842

[2021-05-07 19:42] bisakhmondal commented on #1840
Hi @fregie, sorry to hear that and thank you for elaborating the issue.

The code had been updated keeping 3 things in mind.
1. Cross-platform support for daemonizing Manager API.
2. Feature-rich CLI experience.
3. And also a good codebase readability.

If we ignore the service part, it's just a CLI command which invokes the `manageAPI` method which handles the core logic without introducing any s

[2021-05-07 19:46] bisakhmondal commented on #842
Hi guys, do we have to document the features introduced in #1667?
I forgot to add it into the respective PR😅

[2021-05-08 01:00] juzhiyuan commented on #842
ya, if there have features introduced, then we should update the document.

[2021-05-08 01:20] juzhiyuan commented on #1815
Hi, you could refer to https://ant.design/components/table-cn/#components-table-demo-fixed-columns

[2021-05-08 01:24] liuxiran commented on #1774
Hi , do we need to keep the common seletor in the public selector file? Just like `notification: '.ant-notification-notice-message'` `empty: '.ant-empty-normal'` may used in most test files

@juzhiyuan @guoqqqi @iamayushdas

[2021-05-08 01:30] juzhiyuan commented on #1774
Hi @liuxiran, here have some cases:
1. When a newcomer wants to contribute some test cases, he/she will use Selector or Data directly in the test case file, then we have to tell him/her that there has a public file contains many repeated data.
2. When we want to drop some test cases, we have to double-check if there has useless data or selectors, this work is not enjoyable 🤔

[2021-05-08 01:35] iamayushdas commented on #1774
Yes, agreed , filtering the data from files is such a pain to my eyes.

[2021-05-08 01:36] iamayushdas commented on #1774
Separating files will help devs for adding future tests. IMO

[2021-05-08 01:49] liuxiran commented on #1774
got all of your concerns @juzhiyuan @iamayushdas, each case has its only data and selector, It does increase flexibility, and it is more convenient for maintenance, I also agree with separeting files.

Meanwhile, there are some common selectors and data, may define in every test case file, we can consider leaving them in public files. just like some lib functions and component. As a development ag

[2021-05-08 02:21] fregie commented on #1840
@bisakhmondal  Thank you for explanation.
I don't think use a standalone tool would make things messier.Because both ways need to focus on each OS (Linux, Windows, OSX),just the current way using library `takama/daemon` dealt with this problem,we can also use a library to do this to avoid spending a lot of time of us dealing with it.
And I don't think it's a good idea deal with system-level differ

[2021-05-08 02:44] imjoey commented on #1832
@Molio-tan Very glad to see it works. Regarding to the new error, an intuitive solution is to install the new nodejs-10.13.0 alternatively. In practice,

[2021-05-08 04:59] nic-chen commented on #842
sure, please add it, thanks.😄

[2021-05-08 06:43] juzhiyuan commented on #782
LGTM, could you propose this feature?

[2021-05-08 08:22] Molio-tan commented on #1832
@imjoey Thank you for your help. After many times to download different versions of nodejs, I find the suitable version is v10.24.0.
[code]
At last, `make build` will work properly. Thank you all.

[2021-05-08 08:22] #1832 closed

[2021-05-08 12:22] iamayushdas commented on #1774
@guoqqqi i am done with all the tests except `cypress/integration/plugin/create-edit-delete-plugin.spec.js`
also given the reason above, if you can refactored this test, i will be thankful to you,
after that remaining test to refactor we could delete those files
Thank you

[2021-05-08 16:21] bisakhmondal commented on #1840
Hii @fregie, it's nice to see your concern :)

Could you please elaborate on the "standalone tools" part you mentioned?
If it is writing unit files corresponding to the different os-specific service managers, that's exactly what getting handled by the `takama/daemon` [[ref](https://github.com/takama/daemon/blob/496d69192531c6cb1004380a0be0fcf2031b06f4/daemon_linux_systemd.go#L214-L227)] internally

[2021-05-08 17:24] fregie commented on #1840
@bisakhmondal
I have an immature draft,maybe we can just split manager-api into two part
One is only a executable file launching the http service with core logic
The another also use `takama/daemon` but it invokes this executable file
In this way,we can also use commend like `xxx strart`,`xxx stop` etc,and it can also decouple the service management function from the core logic

[2021-05-08 17:58] bisakhmondal commented on #1840
Oh, you mean another binary that simply kickstarts the plain old `manager-api` as a service. Thanks for the clarification.

I have a neutral feeling about this approach. Wondering,  won't it impact the user experience🤔? Let's hear from the others too.
Pinging @nic-chen, @starsz

[2021-05-10 07:04] iamayushdas commented on #1774
@LiteSun @nic-chen @liuxiran @imjoey can i have the review on these improved test cases
Thank you for your time :smile:

[2021-05-10 07:19] oldthreefeng opened #1882 "default connection timeout not equal with nginx?"
## Issue description

what is the default connection timeout in apisix?

for  i found it  used 6s to default (User Guide Picture).   nginx set the timeout to 60s .

why this happened?

## Expected behavior

## How to Reproduce

just install.
## Screenshots

## Environment

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openres

[2021-05-10 09:01] juzhiyuan commented on #1882
https://github.com/apache/apisix/blob/master/apisix/schema_def.lua#L345-L353

Just rechecked the schema_def, there doesn't have default value actually, so this issue turns to what's default value should dashboard use on timeout fields.

@totemofwolf I remember you also have this question?

[2021-05-10 09:03] #1684 closed

[2021-05-10 10:10] oldthreefeng commented on #1882
if  i dont set the timeout section.  what the value the apisxi upstream use?  @juzhiyuan

[2021-05-10 13:06] bzp2010 opened #1884 "feat: provide command line interface of Manager API"
# Feature request

## Please describe your feature

Adding a command line interface to the Manager API, let it can operate the back-end storage in cli mode.
It will provide commands such as `manager-api cli route` + `get/list/create/edit/delete`. (need discuss)

## Describe the solution you'd like

The current command line uses `cobra` library to implement, which can support my simple extension of

[2021-05-10 13:48] bzp2010 commented on #1884
## Enhance CLI of Manager API
Provides a way to operate the etcd storage of Apache APISIX by CLI.

### Significance
The current deployment mode of dashboard is too heavy for small-scale applications such as stand-alone deployment. It may be difficult to connect to etcd when using docker deployment in stand-alone deployment. The compilation deployment needs to install some tools such as golang and

[2021-05-10 16:07] starsz commented on #1884
The idea sounds pretty good.
But is it needed to do on manager-api?
Maybe you can create another project like `apisix-cli`.That would be better.

[2021-05-10 16:16] starsz commented on #1882
It will inherit the timeout value of the global nginx.conf configuration (like proxy_connect_timeout.
You can referer: https://github.com/openresty/lua-resty-core/blob/master/lib/ngx/balancer.md#set_timeouts

[2021-05-10 16:29] starsz commented on #1840
If so, I think we can use `supervisor` instead.

IMO, I think the feature of the daemon is very good. The reason is talked about before.
Thanks for the @bisakhmondal. 😊.

If you had met any problem while reding the code.
You can create an issue to discuss it or can you help to improve the code readability.
That would be more interesting if we can keep this feature and improve the code readability.

[2021-05-11 00:21] fregie commented on #1840
I can have a try.
Assigne this to me?

[2021-05-11 00:33] bzp2010 commented on #1884
@starsz
Yes, we don't have to put this new CLI module into Manager API. But the way of putting Manager API mentioned in the proposal can help us develop reusable code quickly.
Currently in Manager API, part of the code about the storage entity is placed in the `internal` package, which makes the code unable to be imported and used. These code needs to be modified.

In my opinion, thanks to the goo

[2021-05-11 00:50] bzp2010 commented on #1884
@fregie

[2021-05-11 00:53] bzp2010 commented on #1884
@fregie
I agree with you, but it seems that `apisix-control-plane` hasn't made any new progress for some time, which is why I didn't mention him in the proposal.
I think it's a great idea to provide a data entity library, but implementing it requires some modifications to the existing code.

[2021-05-11 01:00] fregie commented on #1884
I think it worth to do,Let's listen to other's opinions.
Ping @starsz @nic-chen

[2021-05-11 02:18] mrcaobin opened #1886 "consumer/list page bug"
in consumer/list, click view button, on the pop up page ,cllick submit, it will add a new data record named 'undifined'

在消费者页面，点击查看页面，在右侧弹出框中，直接点击提交，不是进行更新，二是会增加一条新的记录。

[2021-05-11 05:53] starsz commented on #1840
Cool.Thank you very much.

[2021-05-11 06:06] kasini3000 commented on #1884
hi, good afternoon, I ran from apisix-control-plane.

I don’t care if CLI is placed here or apisix-control-plane.

This is the function I need, and I hope to realize it as soon as possible. So I suggest to put aside the question of where the cli is placed for now, and implement the function as soon as possible.

Who is familiar with the cobra library?

Suggested commands, and parameters: (Looking

[2021-05-11 06:11] starsz commented on #1884
Great idea! 👍

[2021-05-11 10:25] juzhiyuan commented on #1886
Ya, it needs a better title like `Raw Data Editor` or `Configure by Raw Data Editor`? The second one is too long hh

[2021-05-11 10:37] bzp2010 commented on #1884
Any new suggestions here?
If not, I'll look at separating entities from the current package. Do some preparatory work.

[2021-05-11 10:55] fregie commented on #1884
I think we can separate the store and storege module at the same time.

[2021-05-11 11:14] bzp2010 commented on #1884
@fregie

In project `apisix-dashboard`?

It doesn't look elegant.

Do others have any suggestions about that? Thx! ping to @gxthrj @nic-chen @starsz @ShiningRush

[2021-05-11 11:30] starsz commented on #1882
IMO, the default value is too large.

[2021-05-12 00:50] #1815 closed

[2021-05-12 02:59] juzhiyuan opened #1889 "Create/Configure Route page is broken"
## Issue description

Hi, when I visit the demo site http://139.217.190.60/ today, I found that the `Create/Configure Route` page is broken with a wired error.

When I running this project locally and using `yarn start` mode, all things are good. I haven't tried to use `yarn build` & setup a Production environment.

## Expected behavior

It needs to show the Create steps page.

## How to Reproduce

[2021-05-12 03:01] juzhiyuan commented on #1889
![image](https://user-images.githubusercontent.com/2106987/117912050-5e217900-b311-11eb-912a-ac683d374ee3.png)

When I reload, it's loading infinitly.

[2021-05-12 03:01] iamayushdas commented on #1889
Okay looking into this, will report you asap

[2021-05-12 03:02] juzhiyuan commented on #1889
Thanks!

[2021-05-12 03:32] kasini3000 commented on #1884
At the first, as few commands and parameters as possible are enough. More commands and more detailed parameters can be implemented later.

[2021-05-12 03:46] nic-chen commented on #1840
looking forward to it.

[2021-05-12 07:26] iamayushdas commented on #1889
Yesterday's commits have some problem i guess,
production deploy from day before yesterday is working fine:
https://609b7441688c4c9abaeb03df--apache-dashboard.netlify.app/

production deploy Url: (Fetched from recently updated repo)
https://609b7ed3b39e03b0705cf446--apache-dashboard.netlify.app/routes/create

[2021-05-12 07:52] iamayushdas commented on #1889
@guoqqqi @liuxiran could you guide me a little in this

[2021-05-12 09:24] juzhiyuan commented on #1889
Got it, it's too wired due to we have tests passed 🤔 cc @guoqqqi to hep you, he may reply not quickly these days.

[2021-05-12 09:44] iamayushdas commented on #1889
Okay

[2021-05-13 15:44] gxthrj commented on #1884
`manager-api` provides the basic management interface of APISIX and needs to ensure compatibility with the existing admin API (implement by lua).

Just like the title of this issue, manager-api can provide a command-line interaction method, and the behavior is consistent with the current http interface.

But `separate the store and storege module` should be another thing. I hope do not do at the s

[2021-05-13 17:34] bisakhmondal commented on #1884
How about following a `Client-Server` architecture similar to industry standard
for eg,
1. `etcd` & `etcdctl`
2. `kube admin api` and `kubectl`

As manager-api gradually will become feature rich, heavy and its functionality is more like a server. So why not a suitable lightweight client binary from our's end for communication.

maybe we can consider `apisixctl` :)
A substitute to manage everything

[2021-05-14 01:04] fregie commented on #1884
Looks good to me

[2021-05-14 01:04] fregie commented on #1884
Looks good to me

[2021-05-14 01:24] bzp2010 commented on #1884
No matter what kind of way we use to install the CLI tool, it is necessary for us to share some code, such as data entities, between projects. These contents will be updated with the version of Apache APISIX, and maintaining two copies will be more complex.

I think it is more appropriate to place the CLI in Manager API first, and it can be easily split out if necessary.

[2021-05-14 02:27] fregie commented on #1884
Maybe we can open another issues of separating of public library

[2021-05-14 04:02] juzhiyuan commented on #1889
For users who want to visit the demo site, please use https://609b7441688c4c9abaeb03df--apache-dashboard.netlify.app/ for temporality.

[2021-05-14 04:08] nic-chen commented on #1884
I think we can place the CLI tool in a separate repo.

Public entities can also be placed in independent repo, so that different warehouses can be imported and maintained uniformly. It seems @tokers have already done this?

[2021-05-14 04:17] bzp2010 commented on #1884
@nic-chen  Do you mean project [`apisix-control-plane`](https://github.com/apache/apisix-control-plane)?

[2021-05-14 06:02] nic-chen commented on #1884
Independent repo, not apisix-control-plane. We could discuss this whole thing in maillist first.

[2021-05-14 07:07] kasini3000 commented on #1884
Can these issues be prioritized?

Q:What is the name of the program?
A:apisixcli, apisixctl, or other

Q:How does the program work?
A:Control etcd by sending etcdctl commands?  --- in my guess

Q:What are the subcommands of the program?
A:

Q:What are the parameters for each command?
A:

[2021-05-14 10:01] imjoey commented on #1884
+1 agreed with following the `Client-Server` architecture.

In addition to directly read/write models from/into etcd,  both the Admin-API within APISIX and the Manager-API within Dashboard are also doing quite a lot of schema and data validations. This ensures only valid data could be written into etcd. So if we are going to make the CLI tool directly interact with etcd, those similar validation c

[2021-05-14 11:31] fregie commented on #1884
@imjoey
I agree with you,this is a good design.
I have two more suggestion
1. I think there should be two ways to control apisix,one is operational interface like `apisixctl add/delete/update _resource_`,the other is declarative interface like `deployment.yaml` of k8s.So I think we need two kind of api on  APISIX-apiserver too.
2. We can try to add grpc api of APISIX-apiserver,Maybe this way we do

[2021-05-15 01:48] bzp2010 commented on #1884
+1, agree with @imjoey 's good plan.

[2021-05-15 04:59] stevending1st commented on #1059
The log is only saved for 3 months, so we can’t see the log now.Please save the log in time next time.

Can we reproduce it again?

[2021-05-15 15:43] bisakhmondal commented on #1884
+1 :+1:  Impressive thoughts. Really awesome😄

[2021-05-16 10:15] starsz commented on #1882
Close this issue. If there is a problem, you can reopen it. @oldthreefeng

[2021-05-16 10:15] #1882 closed

[2021-05-16 10:16] starsz commented on #1818
ping @nic-chen

[2021-05-16 10:17] starsz commented on #1821
I will close this ISSUE. If there is a problem, you can reopen it @cverdela.

[2021-05-16 10:17] #1821 closed

[2021-05-16 12:48] spacewander commented on #1774
@iamayushdas
Can you squash all the "chore: refactored test ..." into one PR? It is not a good idea to submit one PR for one file.

[2021-05-16 12:53] iamayushdas commented on #1774
I have done this , as it makes it easier for review and push changes efficiently as it is separated in different PRs

[2021-05-16 13:05] spacewander commented on #1774
Someone reports that you are spamming with "chore: refactored test ..." PRs via bot.
According to your previous behavior, we don't think you are doing this intendedly.

But we can't merge all your 30s PR as it will cause misjudgment:
* APISIX allow people to game PR contribution statistics instead of real features

Or even worse:
* APISIX is so active because many of its commits are "chore: refact

[2021-05-16 13:11] iamayushdas commented on #1774
https://github.com/apache/apisix-dashboard/issues/1774#issuecomment-832716932

Can you have a look please, i was doing on purpose, sorry if thats going in that way

[2021-05-16 15:03] juzhiyuan opened #1900 "Enable Husky to check in pre-commit"
It would be great to have a checker here:
1. We could enable Husky to check pre-commit;
2. When changed files contain local cache paths, like `@/.umi/xx`, just throw errors.

_Originally posted by @juzhiyuan in https://github.com/apache/apisix-dashboard/issues/1899#issuecomment-841829529_

[2021-05-16 15:14] spacewander commented on #1774
@iamayushdas

I should apologize for criticizing your behavior. You are just doing what @juzhiyuan suggested:

However, looks like we didn't correctly estimate the number of PRs, and caused a misunderstanding.

BTW, actually, it is not a good idea to split the PR in such size, because now we need more than 100 approvals to get the whole thing down and may cause misjudgment.

As it is our fault, le

[2021-05-16 15:17] iamayushdas commented on #1774
Next time i will be cautious about it, sorry about all blunders and mistakes i have done.

[2021-05-16 15:22] juzhiyuan commented on #1774
Hi @iamayushdas, that's not your fault, because the Review speed is slow those days, so there have many pending PRs (ready for review), this is our duty to move all those PRs forward.

cc @LiteSun @liuxiran @imjoey to review.

[2021-05-16 15:23] iamayushdas commented on #1774
Okay 👍🏻

[2021-05-16 15:31] juzhiyuan commented on #1059
https://github.com/apache/apisix-dashboard/issues/1817

See here

[2021-05-17 01:47] imjoey commented on #1884
@fregie

Nice advice. It will definitely bring much convenience for API callers. Thanks.

Good idea.  gRPC should be regarded as the most preferred format. For there are still some languages with no gRPC support, we could also make use of [gRPC Gateway](https://github.com/grpc-ecosystem/grpc-gateway) to server an HTTP/JSON proxy.

[2021-05-17 02:47] #1889 closed

[2021-05-17 10:16] #1817 closed

[2021-05-18 01:58] nic-chen commented on #1818
Written in the description:

Add test case for more judgment conditions, such as ctx attributes, vars, etc.

If necessary, we also need to update the dependent library dag-to-lua

here is an example:
https://github.com/apache/apisix-dashboard/blob/master/api/test/testdata/dag-conf.json#L17

We can try to change the condition to:  `ctx.route_id == 1` or some other vars

[2021-05-18 02:28] starsz commented on #1818
Assign to you?

[2021-05-18 09:54] nic-chen commented on #1818
Sure. If no one deals with this issue, I will handle it.

[2021-05-18 09:58] #1840 closed

[2021-05-18 10:11] nic-chen commented on #1884
hi @imjoey
Very good design!
Would you mind sending the proposal to the maillist for more discussion?

[2021-05-19 03:22] vincentwc opened #1904 "request help: dashborad doesn't provide plugin_config menu bar, how to change plugin_config?"
### There are two features i need
One: I need get route list filter by label, i know apisix-dashboard can do it,but how to implements it by apisix not dashboard?
Two: how to charge plugin_config? dashborad not supply plugin_config  manu bar

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`)

[2021-05-19 05:47] juzhiyuan commented on #1904
![image](https://user-image.githubusercontent.com/2106987/118762340-9ba17b80-b8a8-11eb-8430-d977277f4146.png)

Hi @vincentwc, just to make sure, does this screenshot make sense to you? This feature is under the Advanced selector.

[2021-05-19 05:53] vincentwc commented on #1904
yes, it's true .but this manu not check button?so i don't know what i set in plugin_config , apisix_dashboard version is 2.5

[2021-05-19 05:55] vincentwc commented on #1904
thanks, so the item one will be implemetns in v3？ i think the features is really  usefull.

[2021-05-20 01:29] LiteSun commented on #1776
Any update?

[2021-05-20 01:31] iamayushdas commented on #1776
Its done

[2021-05-20 01:33] #1776 closed

[2021-05-20 01:44] #1150 closed

[2021-05-20 01:51] LiteSun commented on #1621
why we need this component?

[2021-05-20 02:56] Marco-Zheng opened #1905 "WebUI loading all the time.."
## Issue description
When i click the service or route button, the webui always loading
![image](https://user-images.githubusercontent.com/52538259/118911399-b3383d00-b958-11eb-9c41-55524f6be33c.png)
then i checked the response from backend interfaces, All the backend interfaces responded successfully
![image](https://user-images.githubusercontent.com/52538259/118911553-f4305180-b958-11eb-8f89-83a

[2021-05-20 06:32] liuxiran commented on #1905
Hi @Marco-Zheng ,  I checked both the code published in
* `https://archive.apache.org/dist/apisix/dashboard/2.5/`
* `https://github.com/apache/apisix-dashboard/tree/v2.5`,

I did not reproduce your issue in my local env.
Could you provide more detailed information about this issue？

1. where does the V2.5 dashboard source code come from?
2. how do you launched the dashboard?
3. what is the version

[2021-05-20 16:49] coolbeevip opened #1908 "make build fails"
Hi, I'm a newbie in APISIX, I have some trouble build

## Issue description

[code]

## Additional context

Use curl instead of wget or add `--no-check-certificate` to https://github.com/apache/apisix-dashboard/blob/9728a430193331d135da4fd5661cd4100308afbf/api/build.sh#L39

[2021-05-21 02:41] Marco-Zheng commented on #1905
@liuxiran liu
we deploy V2.5 dashboard by helm chart on k8s cluster, the version of google is 83.0.4103.106
The problem is incidental, i have checked the console, no error founded, when i use `cmd+R` to refresh WebUI, it's worked well
![image](https://user-images.githubusercontent.com/52538259/119073947-bac31900-ba20-11eb-807a-5e970953b23c.png)

[2021-05-21 03:18] starsz commented on #1908
It's OK in my local environment.
Maybe you should check your network.

[2021-05-21 09:31] imjoey commented on #1884
@nic-chen sure, very glad to.  These days, prior to this, I'm doing some in-depth research on the design to make it more practical. Then I will send a detailed proposal for that soon.

[2021-05-21 13:47] coolbeevip commented on #1908
Thank you for your feedback, Whatever I have built it successfully with --no-check-certificate

[2021-05-21 13:47] #1908 closed

[2021-05-22 02:34] juzhiyuan commented on #1905
Couldn't reproduce, too. Would you mind having a date and have an online screen sharing next Monday (21:00)?

[2021-05-22 02:35] juzhiyuan commented on #1621
ping @guoqqqi

[2021-05-22 02:36] juzhiyuan commented on #1904
@vincentwc Got it, cc @LiteSun to have a Document on this feature.

[2021-05-22 15:23] coolbeevip opened #1911 "Dashboard support the use of Nacos storage APISIX configuration?"
I noticed that APISIX supports [Service discovery via Nacos](https://github.com/apache/apisix/blob/master/docs/en/latest/discovery/nacos.md)

Does APISIX Dashboard support the use of Nacos storage configuration? I did not find any information on this

[2021-05-22 15:34] coolbeevip commented on #1905
I occasionally have the same problem in the Chrome browser after restarting APISIX.

When I clear the browser cache or use Safari, it is OK

* apisix version:

[code]

* OS:

[code]

* apisix-dashboard version:

[code]

[2021-05-23 07:45] juzhiyuan commented on #1905
@Marco-Zheng Hi, would you like to have a try?

[2021-05-23 08:06] iamayushdas commented on #1905
We have many unoptimised images lying in this repo, which could be the main reason behind it

[2021-05-23 15:49] guoqqqi commented on #1621
Yes, there is currently some duplicate code in each route that needs to be abstracted out.
![image](https://user-images.githubusercontent.com/72343596/119267480-6b980680-bc21-11eb-8243-18c4cc61ea58.png)

[2021-05-24 02:24] LiteSun commented on #1621
ok.

[2021-05-24 02:30] LiteSun commented on #1904
ok.

[2021-05-24 05:35] Marco-Zheng commented on #1905
@juzhiyuan Hi, i try to clear cache, it works, thanks a lot

[2021-05-24 05:37] Marco-Zheng commented on #1905
@iamayushdas Ok, thanks for your reply

[2021-05-24 07:32] Marco-Zheng opened #1916 "Add route path search in dashboard"
# Feature request
Advise add route path search in dashboard
![image](https://user-images.githubusercontent.com/52538259/119312338-d2aacf00-bca4-11eb-9681-4e6cbbe0b654.png)

## Please describe your feature

We have 200+ routes for one env, like dev dev01 uat uat01, and i seperate them by using tags, but It‘s still difficult to find a route by route path.

[2021-05-24 07:55] starsz commented on #1916
Agree with. I think we need this feature.

[2021-05-24 08:26] imjoey commented on #1916
Nice feature.  +1 from me.

[2021-05-24 09:36] #842 closed

[2021-05-24 09:41] #1809 closed

[2021-05-24 14:21] Firstsawyou commented on #1916
Agree +1，I think this feat is very useful.

[2021-05-24 14:45] #1804 closed

[2021-05-24 16:46] bisakhmondal opened #1917 "Reduce generated web build by Load on Demand"
# Feature request
Currently, the build assets of Dashboard web is getting larger day by day. During web build, a friendly warning is popping up from umijs. This might eventually hurt the user experience of Dashboard web during the first visit.
![image](https://user-images.githubusercontent.com/41498427/119378942-75327480-bcdc-11eb-97a6-a9b3657e59f8.png)

Currently the size of the built assets is
[

[2021-05-25 01:46] juzhiyuan commented on #1905
fine, it seems that this issue has been resolved. I will close it now :)

[2021-05-25 01:46] #1905 closed

[2021-05-25 02:16] liuxiran commented on #1917
Nice catch, agree +1, that is also part of the front-end optimization, which will bring better user experience

[2021-05-25 02:59] liuxiran commented on #1916
Reference: https://procomponents.ant.design/components/table/?current=1&pageSize=5

Welcome to submit PR to improve user experience

[2021-05-25 03:06] nic-chen commented on #1916
agree +1

[2021-05-25 03:31] iamayushdas commented on #1917
Agree +1

[2021-05-25 05:36] juzhiyuan commented on #1911
Yes, Dashboard doesn't support this feature now, would you like to file a PR on this?

[2021-05-25 06:46] coolbeevip commented on #1911
Sorry, I'm a javaer,  I don't understand front-end development

[2021-05-25 07:33] iamayushdas commented on #1916
@nic-chen does back-end service (API)supports searching the path field
as the search is not working for path
![Screenshot from 2021-05-25 13-00-12](https://user-images.githubusercontent.com/40708551/119457684-92f1ef00-bd59-11eb-9ba2-45397c5381e1.png)

[2021-05-25 10:38] nic-chen commented on #1916
not yet. welcome PR.

[2021-05-25 11:09] Marco-Zheng commented on #1916
@nic-chen
I add `dataIndex: 'uri'` in web/src/pages/Route/List.tsx, it works and regular search uri successfully
![image](https://user-images.githubusercontent.com/52538259/119487762-5ab7d400-bd8c-11eb-9563-7652d95777d5.png)

[2021-05-25 11:15] nic-chen commented on #1916
@Marco-Zheng  good to know, thanks for feedback

[2021-05-25 12:30] iamayushdas commented on #1916
added the PR

[2021-05-25 15:35] iamayushdas commented on #1916
IMO this should be a good first issue , it consists of testing too other wise it won’t work @nic-chen

[2021-05-26 01:26] hozaifaaoud opened #1919 "support vars in URI"
How can I add vars in uri?
And how can I create a route like this
Http://127.0.0.1:9080/tel/{TelNum}/email/{EmailAdd}

[2021-05-26 01:30] iamayushdas commented on #1919
Hey @hozaifaaoud have you tried it by adding route path as you stated.

[2021-05-26 01:37] #1368 closed

[2021-05-26 01:39] hozaifaaoud commented on #1919
Yes, and I am facing this issue
![image](https://user-images.githubusercontent.com/79872781/119589884-059fb080-bdd4-11eb-9e66-7b4849580e09.png)

[2021-05-26 01:42] iamayushdas commented on #1919
@starsz have a look here.
Thank you

[2021-05-26 02:31] starsz commented on #1919
Add vars in uri is not support.

But you can try to use var filed in route.
refer: https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md#route

Like this:
[code]

[2021-05-26 02:36] nic-chen commented on #1916
agree with you

[2021-05-26 02:39] nic-chen commented on #1919
please refer to:

https://github.com/apache/apisix/blob/master/docs/en/latest/router-radixtree.md#5-parameter-match

https://github.com/api7/lua-resty-radixtree/#parameters-in-path

[2021-05-26 03:24] Marco-Zheng opened #1920 "Error: .jsx: Unexpected token"
## Issue description

![image](https://user-images.githubusercontent.com/52538259/119598027-bded4900-be14-11eb-88cc-af59d6048307.png)

When i run dashboard 2.5 locally,  here comes error `.jsx: Unexpected token `
But 2.6 works successflly

[2021-05-26 04:49] Marco-Zheng commented on #1916
@nic-chen Could you please give me an advise, if i update the code locally and want to replace the code for apisix-dashboard docker image, how can i do for this?

can i `make build` locally and replace the dictionary `html`?

[2021-05-26 04:50] Marco-Zheng commented on #1920
I download the source code from `https://archive.apache.org/dist/apisix/dashboard/2.5/`

[2021-05-26 11:34] nic-chen commented on #1916
I think you should better build an new image

[2021-05-26 12:04] iamayushdas commented on #1920
could you tell me steps after which you triggered with this error?

[2021-05-27 02:25] Marco-Zheng commented on #1916
@nic-chen Ok, thanks for your kindly reply

[2021-05-27 02:27] Marco-Zheng commented on #1920
@iamayushdas Hi, I manual `umi build` and `yarn run start` locally, the error was happened

[2021-05-27 02:31] iamayushdas commented on #1920
i just ran two commands :
1. etcd
2. make api-run
3. yarn && yarn start (inside website directory)

it worked

[2021-05-27 02:32] Marco-Zheng commented on #1920
@iamayushdas Thanks, let me try for this

[2021-05-27 06:32] #1798 closed

[2021-05-27 09:56] snowood-orz opened #1922 "special route cause the page suspend"
## How to Reproduce

I created a 301 route with data
[code]

I clicked the edit button of this route from the route list,the page appeared suspended animation. After a minute, this window Non-stop pop-ups.
[code]

![image](https://user-images.githubusercontent.com/12845620/119805104-86b19180-bf13-11eb-905c-038eff78edc9.png)

## Environment

all in docker
* apisix version :  apache/apisix:2.5-alpin

[2021-05-27 13:45] juzhiyuan commented on #1922
Just to make sure, the data you mentioned is created by API or dashboard web?

[2021-05-28 09:49] starsz commented on #1922
I think it's API.

Hi @snowood-orz, maybe you can create a useless upstream.

[2021-05-28 09:58] snowood-orz commented on #1922
I create route by dashboard web. I have 4 additional upstream, but when I created this route, the dashboard did not provide a page to select the upstream address.

just two pages.
![image](https://user-images.githubusercontent.com/12845620/119966480-ee341380-bfdd-11eb-8ffc-64e4ced84a47.png)

more: I can reproduce this problem in two different host environments.

[2021-05-31 01:28] belongwqz commented on #578
@membphis  we can't dynamically change the listening port, but we can config the route for stream proxy in apisix-dashboard, the TCP/UDP proxy scenarios are very common, like ldap, dns, db connect etc.

[2021-05-31 16:46] liuxiran opened #1925 "fe test: optimize cy.load() in search route test case"
got it @iamayushdas , we can optimize this point in a new pr

_Originally posted by @liuxiran in https://github.com/apache/apisix-dashboard/pull/1918#discussion_r642588962_

[2021-05-31 16:47] iamayushdas commented on #1925
Okay captain

[2021-06-01 00:57] liuxiran commented on #1922
Hi @snowood-orz , this issue could be solved by #1926 , you could take a look whether this solution solve your problem, just try the netlify preview URL in the pr, thanks

[2021-06-02 01:14] #1916 closed

[2021-06-02 07:56] suifff opened #1930 "request help: apisix cannot use CORS plug-in after upgrading from 2.0 to 2.5 and partial route failure"
### Issue description
I used docker deployment, and apisix-dashboard was upgraded from 2.1 to 2.6

### Environment

docker-compose.yml
[code]

Now CORS is no longer accessible
![image](https://user-images.githubusercontent.com/37427008/120444980-c1577600-c3ba-11eb-94ca-37de1c284b37.png)

This is the configuration of CORS
![image](https://user-images.githubusercontent.com/37427008/120445320-14312d8

[2021-06-02 08:14] iamayushdas commented on #1889
we can unpin this now, i guess

[2021-06-04 00:58] spacewander commented on #1930
It would be better to align the validation of the dashboard to the APISIX.

[2021-06-04 01:38] suifff commented on #1930
Thank you very much. My problem has been solved

[2021-06-04 01:38] #1930 closed

[2021-06-04 04:16] bzp2010 opened #1931 "feat: migrate to viper library for config manage"
# Feature request

## Please describe your feature

At present, the original yaml file is directly read and unmarshal mode is used for configuration management. If a new configuration item is added, multiple codes will be modified, and if the old configuration is changed, it will be incompatible.

## Describe the solution you'd like

Use `github.com/spf13/viper` to manage configurations. (It uses

[2021-06-04 06:16] xyz2b opened #1933 "On the front end, the websocket button is useless"
## Issue description

I enable websocket in dashborad, but it doesn't work after I saved it.
I check that there is no websocket parameter in the request initiated.

## Expected behavior

## How to Reproduce

1. Go to 'route config website'
2. Click on 'WebSocket button'
3. And save route config
4. Checking the configuration of the route
5. The WebSocket button is gray

## Screenshots

![企业微信截图_162

[2021-06-04 09:13] #1925 closed

[2021-06-04 09:39] Firstsawyou opened #1934 "After configuring redirect in route, dashboard cannot run normally"
## Issue description

After configuring the redirection in the route, click Edit `Route` again. Dashboard does not work normally, and then the Dashboard page crashes.

## Expected behavior

After configuring `Redirect` in the configuration of `Route`, Dashboard can work correctly.

## How to Reproduce

1. Configure redirect in route
<img width="1388" alt="截屏2021-06-04 下午5 31 23" src="https://user-

[2021-06-04 10:10] iamayushdas commented on #1933
Checking

[2021-06-05 00:21] liuxiran commented on #1934
duplicate with #1922

[2021-06-06 02:45] #1922 closed

[2021-06-08 06:55] #782 closed

[2021-06-09 03:20] Engine-AI opened #1938 "there is a problem with the yaml data format"
## Issue description
In the data editor, when you select the data style yaml, click the format button, there is a problem with the yaml data format

## Screenshots

before format
![image](https://user-images.githubusercontent.com/17827327/121287675-94ecae00-c914-11eb-9d14-2d297e95e170.png)
after format
![image](https://user-images.githubusercontent.com/17827327/121287694-9fa74300-c914-11eb-9c3f-26

[2021-06-09 03:23] Engine-AI commented on #1938
hi! @nic-chen @LiteSun @nic-chen ,When cyclically switching between json and yaml, and formatting, there is already a problem with the data.
![image](https://user-images.githubusercontent.com/17827327/121287943-1d6b4e80-c915-11eb-9477-93559af0c444.png)

[2021-06-09 04:05] nic-chen commented on #1938
@LiteSun  please help check, thanks.

[2021-06-09 07:45] BigBoyY opened #1939 "cannot find package "github.com/apisix/manager-api/"
## Issue description
 When using the source build manager - API make build in. / API/build go file 45th line
[code]
 Go to import github.com/apisix/manager-api/ in the package
[code]
 There is no project under github.com/apisix/. How should I build

## Expected behavior
make build

## How to Reproduce

1.  git clone -b release/2.6 https://github.com/apache/apisix-dashboard.git
2. cd apisix-dashboa

[2021-06-10 02:29] LiteSun commented on #1938
ok

[2021-06-10 03:02] bzp2010 commented on #1939
You can try to open the go module feature and use the `GO111MODULE` environment variable.
It seems that the golang compiler searches `GOPATH` for related packages and ignores the definitions in the `go.mod` file.

I'm not sure that's what's causing your problem, but you can try it.

[2021-06-10 04:01] nic-chen commented on #1939
hi @BigBoyY what is your GO version

[2021-06-10 04:24] BigBoyY commented on #1939
go version go1.8.3 linux/amd64

[2021-06-10 04:27] bzp2010 commented on #1939
@BigBoyY You need to upgrade the Golang version. The go module feature can only be used in the minimum version 1.13.

[2021-06-10 04:30] BigBoyY commented on #1939
I looked at the DockeFile and it actually did  “go env -w GO111MODULE=on”  I'll give it a try. Thank you very much

[2021-06-10 04:30] BigBoyY commented on #1939
OK. I'll  try. Thank you very much

[2021-06-11 19:02] #1934 closed

[2021-06-11 19:04] liuxiran commented on #1934
since #1922 is closed, close this issue too, reopen it when you needed, thanks @Firstsawyou

[2021-06-13 18:27] forgaoqiang commented on #1811
The problem happened when I use apache/apisix:2.5-centos with apisix-dashboard:2.6.1

dashboard 2.6.1 didn't support apisix:2.5 ??

Is there any way I could know the which apisix-dashboard could play with apisix

[2021-06-14 04:08] nic-chen commented on #1811
hi  @forgaoqiang

Please take a look at `System Info` on Dashboard to make sure that the versions of APISIX and Dashboard are what you expect.

![image](https://user-images.githubusercontent.com/33000667/121837845-399e2f80-cd09-11eb-9553-54ed8d18a7c8.png)

[2021-06-15 01:33] #1040 closed

[2021-06-16 06:33] Caelebs commented on #1335
I just deployed the latest v2.7 version of the dashboard, and found that this does not seem to be fixed? Is it missed?
![image](https://user-images.githubusercontent.com/12752710/122169244-c5ea5700-ceaf-11eb-9539-01f401710cd2.png)
![image](https://user-images.githubusercontent.com/12752710/122169293-d569a000-ceaf-11eb-88ed-d257e1938d1f.png)

@juzhiyuan

[2021-06-16 09:46] juzhiyuan commented on #1335
Not sure, please take a look :)

[2021-06-16 10:59] iamayushdas commented on #1335
Having a look to it

[2021-06-17 03:45] iamayushdas commented on #1335
@Caelebs @juzhiyuan its not fixed yet, i checked in my env too

[2021-06-17 04:37] juzhiyuan commented on #1335
good, keep it as Good first issue

[2021-06-18 04:05] nic-chen opened #1944 "When Dashboard and APISIX version do not match, make the prompt information clearer"
# Feature request

## Please describe your feature

When the APISIX version does not match the Dashboard version, the prompt information is not clear enough to allow users to directly know why the prompt is prompted. The matching version should be given directly

![image](https://user-images.githubusercontent.com/33000667/122502316-fb668000-d028-11eb-869f-a7bcdef504e2.png)

## Describe the solutio

[2021-06-18 07:20] juzhiyuan commented on #1944
API should return the matched version list and web should show Translation :)

[2021-06-22 12:42] tzssangglass opened #1948 "docs: the serial number of FAQ.md is displayed incorrectly"
## Issue description

serial number 2 should be displayed here https://github.com/apache/apisix-dashboard/blob/master/docs/en/latest/FAQ.md#what-are-the-differences-between-dashboard-version-20-and-version-15, but it is not

![image](https://user-images.githubusercontent.com/30819887/122926292-47ebeb80-d39a-11eb-977f-3cb3168f3a70.png)

## Expected behavior

## How to Reproduce

1. Go to '...'
2. C

[2021-06-23 02:52] zengruzhen opened #1950 "Why can't I edit my plugin configuration in version 2.7"
## Issue description
Plugin Editor Cannot enter

## Expected behavior
editor plugin config

## How to Reproduce

1. Go to 'Create Route'
2. Go to 'Plugin Config'
3. Click on 'one of any plugin'
4. Try to edit
4. Cannot to edit

## Screenshots
![图片](https://user-images.githubusercontent.com/18514089/123024345-7e158380-d40b-11eb-8f42-09b72b2823ba.png)

## Environment

* apisix version (cmd: `apisix

[2021-06-23 03:00] zengruzhen commented on #1950
![图片](https://user-images.githubusercontent.com/18514089/123028577-23cbf100-d412-11eb-8cc3-4b7820d64b53.png)

[2021-06-23 03:01] zengruzhen commented on #1950
I haven't encountered this problem in version 2.6.

[2021-06-23 04:40] juzhiyuan commented on #1950
Because Auth plugin doesn't need more configuration on the Route creator page.

![image](https://user-images.githubusercontent.com/2106987/123036706-1158b400-d420-11eb-9b76-0acb1cd570f1.png)

1. You need to configure it by creating a Consumer;
2. Then enable this plugin directly on the Route page.

[2021-06-23 05:42] zengruzhen commented on #1950
![图片](https://user-images.githubusercontent.com/18514089/123041105-72d05100-d427-11eb-97f1-40469e887724.png)
Well, I didn't use consumers in previous versions.
But why does this limit the use of the authz-keycloak plugin alone?But for example, using basic-auth alone can pass the front-end verification

[2021-06-23 06:29] juzhiyuan commented on #1950
I just checked the notification, it's from here https://github.com/apache/apisix-dashboard/blob/master/web/src/pages/Consumer/Create.tsx#L77-L80

FE will verify if this resource contains at leat one Auth plugin, it seems that there has something wrong, cc @liuxiran to take a look.

[2021-06-24 09:40] 1026197530 opened #1952 "request help: I have a question about how to edit the key of cookies in Dashborad 2.2. The old version can edit it directly"
### Issue description
I have a question about how to edit the key of cookie in Dashborad 2.2. The old version can edit it directly，
### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.2
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.15.8.3
![2EE3AE741DD0DA407FA99F64EF67DC05

[2021-06-25 01:49] juzhiyuan commented on #1952
![image](https://user-images.githubusercontent.com/2106987/123356548-7df7be00-d59a-11eb-84ff-e7580e171d1a.png)

Just to make sure, if we use `hash_on == cookie`, then the `key` is customized from the client, right?

Doc: https://apisix.apache.org/docs/apisix/next/admin-api/#request-body-parameters-3

[2021-06-25 06:36] forgaoqiang opened #1953 "At least storage the PATH of the grafana in the etcd"
# Feature request
At least storage the PATH of the grafana in the etcd
## Please describe your feature
Store the grafana configuration in the local storage is wired, every time I change computer or browser, I have to retype it in
Even the Grafana's username and password can't be stored, it's better to provide a grafana login interface better than not.

A clear and concise description of what you w

[2021-06-25 13:38] Applenice opened #1954 "Dashboard consumer undefined user"
## Issue description
Undefined users can be created in Consumer List via Dashboard

## Expected behavior
The appearance of undefined users does not make sense

## How to Reproduce
Create two Comsumer and enable plugin configuration
First，the configuration is as follows:
[code]
In fact, you can create undefined users in this step:
`Consumer List`->First Consumer Pokemon-> Operation `View`-> click `

[2021-06-25 13:52] juzhiyuan commented on #1954
cc @iamayushdas to take a look

[2021-06-25 13:54] iamayushdas commented on #1954
okay

[2021-06-25 14:51] Applenice commented on #1944
I have also encountered this error, here if the display version information will be more friendly and clear.In the console Network can see the response of `/apisix/admin/tool/version_match`:
[code]

[2021-06-25 21:33] nic-chen commented on #1953
@forgaoqiang PR is welcome

[2021-06-25 21:41] nic-chen commented on #1944
@iamayushdas @bzp2010 would you like to optimize it?

[2021-06-26 09:46] iamayushdas commented on #1954
yes @Applenice there is a bug confirmed

[2021-06-26 10:59] iamayushdas commented on #1944
seems like @bzp2010 working on this

[2021-06-28 08:09] 1026197530 opened #1958 "request help: The older Apisix Dashboard had the ability to customize cookies, but the 2.2 Dashboard did not have the ability to customize cookies."
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.2
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.15.8.3
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
![5668F386C5F8B7C21436DD7E

[2021-06-28 10:26] 1026197530 commented on #1952
yeap!I want to customize this key

[2021-06-28 10:59] juzhiyuan commented on #1952
yes, it doesn't support customization in 2.2, welcome to send a PR to support this feature! Ant Design has a component that supports Input & Selection.

[2021-06-29 02:13] juzhiyuan commented on #1958
duplicate as https://github.com/apache/apisix-dashboard/issues/1952

[2021-06-29 02:13] #1958 closed

[2021-06-29 02:14] juzhiyuan commented on #1952
@guoqqqi Please take a look at this issue, and support this feature.

@1026197530 You could submit PR to support this, or wait for @guoqqqi.

[2021-06-29 12:35] iamayushdas commented on #1952
@guoqqqi if you are busy then ping me to look into this issue

[2021-06-30 07:53] zuiyangqingzhou opened #1959 "There is a problem with the dashboard display"
## Issue description
On the upstream service settings page of the dashboard, there is a health check-unhealthy setting. One of the options is the timeout period. This is wrong. This option should be the number of unhealthy statuses.

As shown below

![image](https://user-images.githubusercontent.com/17425270/123923085-3e2a3f80-d9bb-11eb-8b8e-7c2c1a046b45.png)

## Expected behavior

## How to Repro

[2021-06-30 08:00] iamayushdas commented on #1959
looking into it , wait for a while, thank you for your time

[2021-06-30 08:10] zuiyangqingzhou opened #1960 "There is a problem with the apisix documentation"
## Issue description
https://apisix.apache.org/docs/apisix/plugins/request-id/

This document is about the description of the request-id plug-in, one of the parameters is include_in_response, its default value is false, but I see that its default value is true in the source code of apisix, as shown below

## Expected behavior

## How to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down t

[2021-06-30 08:42] iamayushdas commented on #1960
you seems to be right here, let me fix this @zuiyangqingzhou thank you for this issue

[2021-06-30 08:56] iamayushdas commented on #1959
yes you are right @zuiyangqingzhou i just checked this, @juzhiyuan what's you opinion on this

[2021-06-30 12:21] lookbrook opened #1961 "support add more parameters in advanced routing matching conditions"
# Feature request

## Please describe your feature

We want to add matching rules for ngx.var.server_port , but it is currently not supported in advanced routing matching conditions

## Describe the solution you'd like

Add a new parameter position，so that we can customize the parameters

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or fe

[2021-07-01 01:41] juzhiyuan commented on #1959
![image](https://user-images.githubusercontent.com/2106987/124052013-26e96180-da50-11eb-8f17-429a98002510.png)

https://github.com/apache/apisix/blob/master/apisix/schema_def.lua#L196-L200

Hi, I just searched the schema_def file, and this field is existed indeed, which part is incorrect? @iamayushdas @zuiyangqingzhou

[2021-07-01 02:16] zuiyangqingzhou commented on #1959
Are you sure that the configuration here refers to the timeout period? Instead of referring to the number of timeouts? If it is indeed a timeout, I have two questions, which are explained in the picture below

![image](https://user-images.githubusercontent.com/17425270/124054621-ed672500-da54-11eb-84f6-2203c88c6490.png)

There is also a small question, is there something wrong with this display?

[2021-07-01 06:30] juzhiyuan commented on #1959
https://github.com/apache/apisix/blob/master/apisix/schema_def.lua#L146-L168

@zuiyangqingzhou Dashboard's fields are according to above schema_def file, there doesn't have `active.health.timeouts` field.

![image](https://user-images.githubusercontent.com/2106987/124076450-d5090180-da78-11eb-937a-c58ebc149a61.png)

This is an i18n issue, @guoqqqi could fix this.

[2021-07-01 06:54] zuiyangqingzhou commented on #1959
Okay, I'll go to the apisix project to ask

[2021-07-01 08:16] nic-chen commented on #1944
Could we change the prompt pop-up to something like this?

Let users know what version of Dashboard and APISIX should be used.

![image](https://user-images.githubusercontent.com/33000667/124090473-772fe600-da87-11eb-90d3-3b333a69aae4.png)

@juzhiyuan @liuxiran @LiteSun

what do you think?

[2021-07-01 11:54] RedemptionC commented on #1944
Hi all,maybe I can try to imporve this if no one else is currently working on it

[2021-07-01 13:34] nic-chen commented on #1944
OK, thanks

[2021-07-01 14:59] guoqqqi commented on #1952
OK, Let me have a look

[2021-07-01 15:25] RedemptionC commented on #1944
Hi,I am not sure what's the proper way to improve:
1. should we just change the prompt message? As it's indicated in the issue description
2. or should we make some further improvements? like @juzhiyuan and @nic-chen mentioned in the comments:

![this picture](https://user-images.githubusercontent.com/33000667/124090473-772fe600-da87-11eb-90d3-3b333a69aae4.png)

If it's the former one,we just need

[2021-07-02 01:23] juzhiyuan commented on #1944
Hi, I would suggest using the latter one, and show a modal to tell users which node is mismatch with Dashboard :)

[2021-07-02 01:47] LiteSun commented on #1944
I would suggest using the latter one too, how about put mismatched node info on the system info page?

[2021-07-02 02:58] anjia0532 commented on #1911
不光是不支持Nacos，是啥discovery都不支持。
翻了下源码是因为这些discovery 拉取到实例信息后，只存在于内存。不写etcd，你通过调用api或者看etcd都是看不到具体的实例信息的

有个蛋疼的事是，通过dashboard修改路由时，会直接去掉discovery的配置信息。意味着，discovery只能通过api来管理

[2021-07-02 03:42] juzhiyuan commented on #1911
Yes, Dashboard doesn't support configuring Service Discovery by UI now, welcome to submit PR to support this nice feature.

[2021-07-02 05:59] anjia0532 commented on #1911
@juzhiyuan 还有个方案，通过api创建upstream，route和service关联upstream_id，这时候，不校验 `目标节点` 的必填属性。比较小成本的解决了这个问题

[2021-07-02 06:16] starsz opened #1964 "Feature: add more details log messages in authentication.go"
# Feature request

## Please describe your feature

Hi, I found that the log in authentication.go is a little bit less
Like :

https://github.com/apache/apisix-dashboard/blob/3cfc32761122ad7f15f67edcfc251d0bed2e7538/api/internal/filter/authentication.go#L67-L70

## Describe the solution you'd like

Maybe we can add more details info in it.

Like:

1. How to solve this problem.
[code]

## Describe

[2021-07-02 07:39] RedemptionC commented on #1944
Hi,what does "show a modal" mean?That's not very intuitive to me,could you give me a example or point me to some useful resource?Thank you

[2021-07-02 13:03] RedemptionC commented on #270
Hi,this link is invalid now(404)
what's the currently available resource for manager-api?

[2021-07-02 13:08] juzhiyuan commented on #270
@RedemptionC Hi, all docs are under https://github.com/apache/apisix-dashboard/tree/master/docs/en/latest , but something may need update.

[2021-07-02 13:10] juzhiyuan commented on #1944
see https://ant.design/components/modal-cn/

[2021-07-03 16:06] RedemptionC commented on #1944
I see,but as I said:

maybe I can't do the front-end part now..What do you think,any advice will be appreciated

[2021-07-03 23:08] juzhiyuan commented on #1944
got, wait for more contributors :)

[2021-07-04 15:24] RedemptionC opened #1965 "This code snippet is confusing me"
## Issue description
I'm trying to submit my first PR,so I need to read and modify some testing code
[and this line is confusing me](https://github.com/apache/apisix-dashboard/blob/master/api/test/e2enew/version/version_test.go#L40-L49)
why does this test expect OK status while expect error message(mismatched) at the same time?

## context
I am trying to make the error message(due to APISIX and da

[2021-07-05 01:44] LiteSun commented on #1965
ping @starsz

[2021-07-05 01:58] iamayushdas commented on #1944
#1965 issue raised regarding status code

[2021-07-05 03:11] starsz commented on #1965
IMO. The API is for check the version match.
So, even if the version is mismatch, we should return the mismatch info, and return 200 OK. And the FE will check the code in response and return the warning information.

[2021-07-06 03:17] oldthreefeng opened #1966 "Using apisix to proxy TCP/UDP. but apisix-dashboard do not have the interface to access it."
# Feature request

## Please describe your feature

Add stream_route in apisix-dashboard just like apisix admin-api to manage it.

## Describe the solution you'd like

like normal http-route to manage the stream-route

## Describe alternatives you've considered

just support it.  layer 4 proxy is needed.

[2021-07-06 04:56] RedemptionC commented on #1965
Hi,I don't quite get it
In my developing env,the version is matched,but the test failed,does that make sense?
I don't understand what the correct behavior should be when running this test
Could you provide some further explanation?Thanks

[2021-07-06 08:14] forgaoqiang opened #1967 "In route, both upstream and service<service can has upstream too> can be set at the same time"
## Issue description
In route config, both upstream and service<service has upstream too> can be set at the same time
we have two paths:
[code]
At the same time, you can set an upstream to route and service at the same time, if I set an upstream to a route and associated a service<the service itself has an upstream> to the route, **which upstream will the route use**?

## Expected behavior
I think

[2021-07-07 02:32] juzhiyuan commented on #1967
🤔 When we select a Service, it should hide the Upstream page, cc @guoqqqi to take a look when you have time.

[2021-07-07 02:33] juzhiyuan commented on #1966
Hi, would you like to draft a prototype for this feature?

[2021-07-07 07:56] philzhangrui opened #1969 "request help: imported configuration can't be deleted"
### etcd 数据缺失

### 2.6版本

在测试环境搭建的单机， etcd 直接使用kill 命令删除之后， etcd里的数据就没有了，
但是导入进去的数据查询还在，删除的时候，删除不了。

![image](https://user-images.githubusercontent.com/7685507/124721702-eb610280-df3b-11eb-9f77-9c926082ac5a.png)

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or

[2021-07-07 08:34] philzhangrui commented on #1969
导致路由上看到的数据是导入的数据，创建的路由数据，看不到

[2021-07-07 10:03] nic-chen commented on #1969
hi @philzhangrui

Hello, this is because the Manager API has cached these data. You can restart the Manager API , and the data won't be there.

[2021-07-07 10:05] philzhangrui commented on #1969
etcd 里的数据为什么没有了

[2021-07-07 10:07] nic-chen commented on #1969
I think it may be an issue with etcd, you can submit an issue to the etcd repo.

[2021-07-07 13:15] juzhiyuan commented on #1969
@philzhangrui Hi, could you please provide your steps in detail? I would love to help to have a check.

[2021-07-07 17:36] dickens7 opened #1970 "feat: Optimize configuration items, add etcd.prefix and schema"
# Feature request

Optimize configuration items, add etcd.prefix and schema

[2021-07-07 17:38] dickens7 commented on #1970
Wrong place

[2021-07-07 17:38] #1970 closed

[2021-07-08 01:25] starsz commented on #1965
Oh, I found the reason.
Because in the docker of CI, we don't add the version and hash into binary.
So the version in manager-api is "", and will return the mismatch.

Refer:
https://github.com/apache/apisix-dashboard/blob/3cfc32761122ad7f15f67edcfc251d0bed2e7538/api/test/docker/Dockerfile#L25

[2021-07-08 10:47] guoqqqi commented on #1967
Ok，Let me have a look

[2021-07-10 08:25] juzhiyuan commented on #1967
@guoqqqi any update here?

[2021-07-10 09:43] guoqqqi commented on #1967
Yes, I found the problem in the latest version of the dashboard:
When we select a service in the route page, clicking on the next page still configures the upstream.

[2021-07-10 10:33] guoqqqi commented on #1967
Our current version is
- In the Route page, when selecting a service, you can select None to skip the Upstream page
Do we need to update it

[2021-07-10 13:06] juzhiyuan commented on #1967
Yes I think so, when binding a Servcie with Route, it should be ok to skip Upstream Configure.

[2021-07-11 10:03] wmdmomo commented on #1588
I want to make the content of the plugin form.

[2021-07-12 11:38] tzssangglass opened #1975 "bug: error using the openid-connect plugin"
## Issue description

The data editor suggests that no configuration is required, but after submission it shows that the clinet_id property must be configured, which is contradictory.

take a look at Screenshots
## Expected behavior

## How to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

![image](https://user-images.githubusercontent.com/30819

[2021-07-13 01:29] starsz commented on #1975
`client_id`, `client_secret`,`discovery` are required. cc @juzhiyuan @LiteSun

[2021-07-13 02:05] flightefore opened #1976 "bug: Can't submit openid-connect plugin"
### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):  2.7
* OS (cmd: `uname -a`): unbuntu18
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
* luarocks v

[2021-07-13 05:15] tzssangglass commented on #1976
similar as #1975

[2021-07-13 05:22] tzssangglass opened #1977 "feat: dashboard supports selecting: Service Discovery when creating an upstream"
# Feature request

Support the configuration of `discovery_type` and `service_name`.

**related issue**

- https://github.com/apache/apisix-dashboard/issues/1911
- https://github.com/apache/apisix-dashboard/issues/1549

[2021-07-13 08:01] juzhiyuan commented on #1911
duplicate with https://github.com/apache/apisix-dashboard/issues/1977

[2021-07-13 08:01] #1911 closed

[2021-07-13 08:01] juzhiyuan commented on #1549
duplicate with https://github.com/apache/apisix-dashboard/issues/1977

[2021-07-13 08:01] #1549 closed

[2021-07-13 08:01] juzhiyuan commented on #1977
Just updated your first comment, and I will take this.

[2021-07-13 13:30] juzhiyuan commented on #1976
duplicate with #1975, will fix it.

[2021-07-13 13:30] #1976 closed

[2021-07-13 13:55] #1965 closed

[2021-07-14 03:00] foolwc opened #1980 "perf optimization: plugin config drawer onClose has no animation and cannot closed by clicking mask"
## Issue description
Plugin config drawer onClose has no animation and cannot close by clicking mask.

## Expected behavior
Just like other dawer: consumer view drawer.

## Environment
APISIX 2.6 with APISIX-dashboard 2.7

[2021-07-14 03:04] iamayushdas commented on #1980
Hmm, Right.
We should have that feature.

Agree? cc @juzhiyuan @liuxiran

[2021-07-14 03:17] nic-chen commented on #1975
yes, it needs to be configured for the plugin `openid-connect` in the route. @LiteSun

[2021-07-14 04:43] juzhiyuan commented on #1980
This is not a bug, just a configuration from Ant Design component. Why we should allow the click mask to close? Once it's closed, how about the editing data?

[2021-07-14 04:43] #1980 closed

[2021-07-14 05:40] foolwc commented on #1980
Maybe we could use Ant Design Drawer component in a uniform way.

[2021-07-14 05:40] juzhiyuan commented on #1944
## Background

Currently, Apache APISIX Dashboard and Apache APISIX are two separate projects (hereinafter referred to as Dashboard and APISIX). Whenever APISIX changes (Create/Update/Delete) content (e.g., APIs, API fields, Entity definitions, etc.), Dashboard needs to match the changes and publish a new version, otherwise, an exception will occur when using it. There are 2 cases.

**Case 1: When

[2021-07-14 05:50] juzhiyuan commented on #1944
In fact, we could also support telling users where to download the compatible software, and how to upgrade it.

Also, if the Dashboard has the ability to handle field change, that would reduce field-change-publishment.

[2021-07-14 05:51] juzhiyuan commented on #1944
also cc @liuxiran @nic-chen @RedemptionC @Applenice @iamayushdas @sshniro to have a look, thanks!

[2021-07-14 05:54] wjmmjr opened #1981 "ApiSix-Dashboard white screen"
## Issue description

When I fill in “Select Upstream”，The screen turned white.The premise is that I didn't create any upstream
## Expected behavior

## How to Reproduce
![52(CE@0X(32M@{A)TNT2 (5](https://user-images.githubusercontent.com/18857921/125570004-4ba5e26f-163a-4d97-9ab1-41b3e281893d.jpg)
![L$G_ED2I NXR88Q5X 67R59](https://user-images.githubusercontent.com/18857921/125570005-caa59afb-fb6

[2021-07-14 06:45] juzhiyuan commented on #1980
yes, I would prefer keeping the `closeOnMask = false`

[2021-07-14 06:46] juzhiyuan commented on #1981
cc @iamayushdas to have a look

[2021-07-14 07:37] xshans commented on #1811
Request Error Code: 2000001
The manager-api and apache apisix are mismatched.

![image](https://user-images.githubusercontent.com/52526052/125582337-6363f9f0-76bd-40f5-b813-ce8e3512b2d1.png)

[2021-07-14 08:38] nic-chen commented on #1944
LGTM.

But the `valid_dashboard_version` does not look conspicuous enough for users to see.

And there is a situation that needs to be explained:
If a newer version of APISIX is used with an older version of Dashboard, there is no way for Dashboard to know what version of Dashboard should be used for the newer version of APISIX.

[2021-07-14 12:26] lookbrook commented on #1961
I submitted a pr, I am a novice, please let me know if something is wrong

[2021-07-14 14:40] starsz commented on #1944
+1 , Where is the `valid_dashboard_version`.

It will. default ttl is 7200 seconds.

https://github.com/apache/apisix/blob/bfa70e4f86ca13aca588ba9f59cf24f334200b31/apisix/plugins/server-info.lua#L30

[2021-07-14 15:42] Applenice commented on #1944
I also think it might be better to give a link to the version that matches when the error message pops up.😋Provide an entry point in README?

[2021-07-15 04:15] burntcarrot commented on #1964
@starsz I would like to take this issue up. Can you assign me?

[2021-07-15 06:04] starsz commented on #1964
Sure.Thank you very much.

[2021-07-15 06:12] liuxiran commented on #1944
I agree to use fixed warning tip when the version of dashboard and APISIX are not matched.

and inspired by @Applenice there are some enhancements in order that  user could quickly get the target version of components

![image](https://user-images.githubusercontent.com/2561857/125737069-129fe8e6-7928-4887-a61a-5d4c85bdf9eb.png)

Additionally, we can also add an FAQ to help your how to let dashboar

[2021-07-15 09:48] nic-chen commented on #1944
If a newer version of APISIX is used with an older version of Dashboard, there is no way for Dashboard to know what version of Dashboard should be used for the newer version of APISIX.

Regarding this point, I don't think I have made it clear.

Here is an example:

A user installs APISIX 2.7 and Dashboard 2.7, they will not match.

But at this time Dashboard cannot find out APISIX 2.7 should match

[2021-07-16 03:24] juzhiyuan commented on #1944
1. maintain a version mapper;
2. if we cannot find which dashboard is compatible with APISIX, just shows: `No available version, please contact the community`, and lead users to GitHub.

[2021-07-16 03:27] juzhiyuan commented on #1944
@liuxiran When users use the Dashboard, which part they will pay more attention to the versions? They will be careful with "Which dashboard should I use to configure the APISIX"?

According to the prototype, it just added some fields:
- What's the current Dashboard's version?
- Which versions of the dashboard are compatible with APISIX nodes?

[2021-07-16 03:49] juzhiyuan commented on #1944
@iamayushdas Hi, please see https://github.com/apache/apisix-dashboard/issues/1944#issuecomment-879607016

Do you have to take this issue?

[2021-07-17 04:08] tzssangglass opened #1986 "feat: supports dynamic configuration of stream-route"
# Feature request

## Please describe your feature

dashboard supports dynamic configuration of stream-route, just like configuring route.

## Describe the solution you'd like
we can add a stream-route button on the left side, just like
![image](https://user-images.githubusercontent.com/30819887/126024962-7dba9306-b623-4859-83fe-c7fe2f0b41e4.png)

## Additional context

the APISIX's admin-api of s

[2021-07-17 13:56] RedemptionC commented on #1944
I think the version map only tell us:what version of APISIX should be used with this version of dashboard,not vice versa,do I misunderstand it?
@nic-chen

[2021-07-19 06:28] burntcarrot commented on #1964
Created PR. Requesting review.

[2021-07-19 08:55] #1975 closed

[2021-07-20 08:59] nic-chen commented on #1944
@RedemptionC
1. we could search the entries in version Map, and find the corresponding dashboard version of the APISIX
2. There is no way for Manager API to know whether itself is the latest version. So we can only let users decide for themselves.

[2021-07-21 01:57] #1746 closed

[2021-07-21 07:39] zhengyuyzhao opened #1989 "How to configure Service Discovery"
服务发现要怎么用dashboard配置

[2021-07-21 10:28] tzssangglass commented on #1989
You mean configure nacos, eureka? Not yet supported.

[2021-07-21 15:09] #1948 closed

[2021-07-22 01:29] zhengyuyzhao commented on #1989
and zookeeper

[2021-07-22 03:19] edisonwd opened #1991 "在预览插件的时候，建议只显示启动的插件而不是显示所有的插件"
## Issue description
在预览插件的时候显示了所有的插件
![image](https://user-images.githubusercontent.com/25941671/126585560-a2e51cfc-933d-4c54-8b0d-083cbfaf5f1e.png)

## Expected behavior
建议只显示启动的插件而不是显示所有的插件
![image](https://user-images.githubusercontent.com/25941671/126585046-c5eb190d-d012-462d-85a5-18c2d90f17ba.png)

## Environment

* apisix version (cmd: `apisix version`): 2.7
* apisix-dashboard version, if h

[2021-07-22 03:51] hellosean1025 opened #1992 "Tabel style bug in Demo site"
## Issue description

in http://139.217.190.60/routes/list site:
![image](https://user-images.githubusercontent.com/17695103/126587783-993a5698-0238-4108-b763-f3c6280ac1df.png)

## Expected behavior

## How to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenRe

[2021-07-22 07:15] juzhiyuan commented on #1992
Actually this is a fixed column mode, cc @iamayushdas to have a better description.

[2021-07-22 11:35] iamayushdas commented on #1992
Hey @hellosean1025 we have done this intentionally as our table was consisting of many columns and with long heading which was making it less responsive.

[2021-07-22 16:33] juzhiyuan commented on #1944
In the current architecture where DP and CP are separated, each party needs to maintain JSONSchema data. Moreover, when APISIX is upgraded (API field additions and deletions, plugins and their field additions and deletions), Dashboard also needs to finish adapting and releasing new versions as soon as possible, otherwise using a mismatched Dashboard will write data in ETCD that APISIX may not supp

[2021-07-23 08:32] #1954 closed

[2021-07-23 19:01] JackLiMEM opened #1993 "Home page refresh exception"
## Issue description
Home page refresh exception

## Expected behavior
Why does the prompt not match if the version is the same?

## How to Reproduce
 refresh
## Additional context
{"code":2000001,"message":"The manager-api and apache apisix are mismatched.","data":{"matched":false,"dashboard_version":"2.7","mismatched_nodes":[{"hostname":"apisix-685cd9bb7f-vg7ns","version":"2.7"}]},"request_id":"

[2021-07-24 07:27] zuiyangqingzhou opened #1996 "request help: when will the next version be released"
Apisix 2.8 is coming soon, but apisix-Dashboard currently supports Apisix 2.6.
I wonder when the next version of apisxi-Dashboard will be released

[2021-07-25 08:48] juzhiyuan commented on #1588
@wmdmomo Hi, thanks for your contribution! We will review those PRs ASAP.

[2021-07-25 09:15] juzhiyuan commented on #1993
https://github.com/apache/apisix-dashboard/issues/1944#issuecomment-885051655

Hi, we are discussing this case here, welcome to discuss with us :) I really hope this issue will get resolved soon.

[2021-07-25 09:15] #1993 closed

[2021-07-25 09:19] juzhiyuan commented on #1996
https://github.com/apache/apisix-dashboard/issues/1944#issuecomment-885051655

Hi, we are discussing the Dashboard version plan here, welcome to join in. Once that discussion is closed, will first release a version that is compatible with APISIX 2.7.

[2021-07-25 09:19] #1996 closed

[2021-07-25 16:45] liuxiran commented on #1992
Hi all , the key point for this issue IMO is that the path of `x-app-uat1` in our demo site is to long, and we did not specify the column width, so other columns were squeezed together.
![image](https://user-images.githubusercontent.com/2561857/126905724-df434c69-7414-4804-b880-6a90063629fa.png)

We can treat this issue as an enhancement for route table display.
We can refer to https://ant.design/

[2021-07-25 16:56] juzhiyuan commented on #1992
ya, and @hellosean1025 would like to improve this? Just some configurations could solve this issue. If you need any help, just ping me.

[2021-07-25 16:58] liuxiran commented on #1991
Good suggestion~! Actually we only need to show the configured plugins and their configuration in the preview step .

Welcome more ideas or pr to support this enhancement~

[2021-07-25 17:30] liuxiran commented on #1967
Agree, refer to https://github.com/apache/apisix/blob/master/docs/en/latest/architecture-design/service.md

actually when we associated a Route with a Service, we can also specify different plugin parameters or upstream for Route, at that time the Route parameter has a higher priority than Service. So it is ok for current dashboard IMO, when you want to use service upstream, just select `None` to

[2021-07-25 17:38] #1959 closed

[2021-07-25 17:44] liuxiran commented on #1959
Since the dashboard I18n has been modified by #1963 , close this issue now.

And for the details about `timeouts` please refer issue: https://github.com/apache/apisix/issues/4528

Thanks~

[2021-07-25 18:07] liuxiran commented on #1950
Sorry for late reply, we have already fixed a bug cased by the plugin type, see here: https://github.com/apache/apisix-dashboard/pull/1983

You can try to apply this patch to you code to fix this issue @zengruzhen, hope this will help you.

[2021-07-25 18:23] liuxiran commented on #1950
This is because we need a `type=auth` plugin when create a Consumers, but for the `authz-keycloak` , type=other, so you will see this warning message. It is ok.

But We still need to do these things to make it more clearly for users:

* For `authz-keycloak` and `openid-connect` plugins, we need to:
![image](https://user-images.githubusercontent.com/2561857/126909108-f815844a-aa2b-42eb-ad67-7e1c01e

[2021-07-25 18:25] liuxiran commented on #1900
closed with #1957

[2021-07-25 18:25] #1900 closed

[2021-07-26 06:16] zhengyuyzhao opened #2003 "write dashboard with java is a good idea"
有没有Java版本的

[2021-07-26 06:33] juzhiyuan commented on #2003
No, APISIX Dashboard is built with Web technology and Golang for backend logics.

[2021-07-26 06:33] #2003 closed

[2021-07-26 10:28] Baoyuantop commented on #1991
I tried the current issue, this is the current preview screenshot：

![image](https://user-images.githubusercontent.com/30611190/126974094-9d607fef-1292-4744-8e9f-3de1204a8254.png)

Then I have a question when there is no enabled plugin under a type, should the title of that type also be hidden?

[2021-07-26 20:36] liuxiran commented on #1991
Yep, that would be better @Baoyuantop ~! And at the same time It would be better to not show plugin part in the preview page when there is no on enabled

[2021-07-26 21:21] liuxiran commented on #1938
Since our  contributor has updated editor  to `monaco`, which is more powerful and will help your code style while editing, so we remove the `Format` function, hope this will solve your problem and improve your user experience ^^

Close issue now, you can reopen it if you have any questions, thanks @Engine-AI

[2021-07-26 21:21] #1938 closed

[2021-07-27 01:49] Baoyuantop commented on #1991
Thank you @liuxiran, I understand, I will submit a PR for this issue

[2021-07-27 07:31] #1964 closed

[2021-07-27 10:47] juzhiyuan opened #2005 "remove version match logics from both Web and Backend"
After having a diff between Dashboard 2.7 and APISIX 2.7, I find that there has no need to keep the Version Mapper anymore. We only need to adjust functionality with Apache APISIX changelogs. For further reasons, please see [[DISCUSS] support version mismatch alert for Dashboard and Apache APISIX](https://lists.apache.org/thread.html/r938c408d940ff3a9e324f3dc88ad8a10d335f084816c5f7c3ba57c60%40%3Cd

[2021-07-27 11:04] w7team opened #2007 "路由管理不是非常方便，需要增加一个工作分区的概念"
可以参考一下腾讯云容器服务的ingress管理界面：
![image](https://user-images.githubusercontent.com/74588507/127143553-5af75a11-ce09-43ea-887b-b0439a4e382a.png)
![image](https://user-images.githubusercontent.com/74588507/127143666-7360b624-7f49-4f65-80a3-becf5a8c20e4.png)

PS：标签我们试过，不太方便。建立和筛选操作起来都不是很方便。

[2021-07-27 12:59] tzssangglass commented on #2007
How to define the concept of workspace? by region？ by organization? I think if workspace is poorly defined, it is only suitable for a few scenarios.

[2021-07-27 13:35] w7team commented on #2007
按服务、按项目都可以，我感觉这个还是很有必要的，当一个项目下有N个微服务，又分了不同的测试环境，或者有多个项目的场景下，目前的界面管理路由会非常混乱。

[2021-07-27 14:03] nic-chen opened #2008 "chore: show a friendly prompt, manager-api.pid exists but there's no corresponding process"
## Issue description

When you shutdown the machine directly, the manager-api.pid won't be deleted.
After rebooting and start manager-api, it reports “instance of the Manager API already running...” but actually it's not.

we can show a friendly prompt: manager-api.pid exists but there's no corresponding process, and then start the new instance.

[2021-07-28 02:33] billdegithub opened #2009 "request help: apisix-dashboard Request Error Code: 2000001 The manager-api and apache apisix are mismatched."
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): apisix-2.7-0.x86_64.rpm
* OS (cmd: `uname -a`): centos 3.10.0-1160.11.1.el7.x86_64 apache/apisix#1 SMP Fri Dec 18 16:34:56 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: op

[2021-07-28 05:53] liuxiran commented on #2009
duplicate with https://github.com/apache/apisix-dashboard/issues/1944

[2021-07-28 06:02] liuxiran commented on #2009
Hi @billdegithub , refer to https://github.com/apache/apisix-dashboard/blob/master/README.md

 and we are discussing this issue in #1944 , welcome to join in. Once that discussion is closed, will first release a version that is compatible with APISIX 2.7.

[2021-07-28 06:02] #2009 closed

[2021-07-28 06:47] billdegithub commented on #2009
ok ,thanks
apisix-dashboard-2.7 used with  apisix-2.6.

[2021-07-29 01:33] liuxiran commented on #2007
As @w7team mentioned above, maybe the core problem is how to clearly classify a lot of API right?  Actually `label` is a light and flexible way.

So may I ask where is the inconvenient point when you use our labels for API , and what is your favorite point about ingress management page ?

Looking forward to your option, that would be helpful for us to improve our UE, thanks

[2021-07-29 09:04] RedemptionC opened #2011 "request help: I want to add a cache verification tool for the dashboard,and I have some questions"
## Issue description
*sorry to label this issue as Bug,but it seems there are only two options*

I want to **add a cache verification tool for Apache APISIX dashboard,which is intented to check whether cached data in ETCD is consistent with cached data in the dashboard** ,but there seems to be some problems not clear for me:
1. do we add this tool as a new cobra command? like those in the api/cmd/

[2021-07-29 09:34] juzhiyuan opened #2012 "check hash_on field and limitation"
Visiting the Upstream creation or configuration page, you can see that the `Hash On` selector contains 5 options: vars, header, cookie, consumer, and vars_combination.

![image](https://user-images.githubusercontent.com/2106987/127424891-2ad42db6-5959-4e8c-81b5-24aedc55d262.png)

According to the documentation, when a different value is selected for this parameter, the other parameters will be lin

[2021-07-29 09:42] juzhiyuan opened #2013 "support uri & uris, host & hosts, remote_addr & remote_addrs"
When we create a Route, the API supports `host/hosts` and `uri/uris` and `remote_addr/remote_addrs`. No matter API contains uri or uris, the Web should support all of them, we could use List component to show uris.

![image](https://user-images.githubusercontent.com/2106987/127469381-a0576de7-7902-470c-873e-4bec539d65a3.png)

Currently, the Web supports `uris/hosts/remote_addrs`, and please have a

[2021-07-29 09:50] juzhiyuan opened #2014 "support all operators in vars field"
When creating a Route, we could use the `vars` field to allow more advanced match rules.

![image](https://user-images.githubusercontent.com/2106987/127470615-16a850a7-d675-416a-8f23-7f821f7ddc6b.png)

There have 2 things we could improve:

- [ ] For each operator, we could support different actions on the `value` field. e.g when using the `IN` operator, we could use an Ant Design component that a

[2021-07-29 09:54] juzhiyuan opened #2015 "sync with the latest schema from APISIX 2.7"
The Apache APISIX 2.7 has been released, this PR https://github.com/apache/apisix-dashboard/pull/1999/files contains the differences from schema.json.

**TODO**
- [ ] Plugin: support all missing fields or newly added plugins in the Web
- [ ] API: support all missing fields in the Web

[2021-07-29 10:07] Baoyuantop commented on #2015
Hi, I can help solve this issue.

[2021-07-29 10:29] nic-chen commented on #2011
@RedemptionC
All read operations in the dashboard read the data in the cache, see:
https://github.com/apache/apisix-dashboard/blob/master/api/internal/core/store/store.go

[2021-07-29 10:52] sofire opened #2016 "improve styles on the Upstream Creator page"
上游、创建页面
![image](https://user-images.githubusercontent.com/1177330/127479383-fd734b4d-2211-4e5e-8713-2251b6b304c7.png)

左侧菜单 关闭后正常
![image](https://user-images.githubusercontent.com/1177330/127479426-8f3ec0ce-a9f6-49f6-9e76-43dedafa5134.png)

浏览器是：chrome 91
电脑：macbook 14寸

[2021-07-29 10:58] tokers commented on #2016
@juzhiyuan @LiteSun

[2021-07-29 11:17] RedemptionC commented on #2011
thanks for your quick reply,I will read this now

[2021-07-29 13:44] juzhiyuan commented on #1811
see https://github.com/apache/apisix-dashboard/issues/1944

[2021-07-29 16:05] RedemptionC commented on #2011
I still don't get it:
I add some printf statement in store.go,like what's in the cache,and which method is called
but after I run manager api(using make api-run),and query something using curl,nothing is printed:
[code]
only printf statement in init method ran,and the output of manager api is :
[code]
how should I make sense of it?
or rather,what's the proper way to read this?

[2021-07-30 00:22] #1952 closed

[2021-07-30 00:30] liuxiran commented on #1960
closed by https://github.com/apache/apisix/pull/4598 and transfer to APISIX repo

[2021-07-30 02:56] uriddle opened #2019 "[health_check] validate form item "checks.active.port""
## Issue description
upstream 节点健康检查在不配置 active.port 的时候，校验出错

![QV JGL)P 6NBXR3ZNGETC3](https://user-images.githubusercontent.com/22750410/127592683-c1c89f08-1376-4ae8-a61d-33436b96e236.png)

## Expected behavior
官网介绍：
active.port: 用于发现 upstream 节点健康可用的自定义主机端口（可选），配置此项会覆盖 upstream 节点中的端口。

[2021-07-30 03:22] juzhiyuan commented on #2019
cc @Baoyuantop to have a check

[2021-07-30 03:23] juzhiyuan commented on #2011
@nic-chen Please have a check

[2021-07-30 03:31] uriddle commented on #2019
版本：
apisix-dashboard:2.7

[2021-07-30 04:35] Baoyuantop commented on #2015
According to the comparison of schema.json, I summarized the following work

Web

- [ ] supports Service Discovery when creating an upstream #1977
- [ ] edit sins type in SSL
- [ ] add stream route #1986

Plugin

- [ ] add new plugin client-control
- [ ] delete auth_value in echo
- [ ]  edit ext-plugin-post-req
- [ ]  edit ext-plugin-pre-req
- [ ]  add nodelay in limit-req
- [ ]  edit mqtt-proxy
-

[2021-07-30 04:37] Baoyuantop commented on #2015
In addition to this, there is another problem. I found a modification to the sni verification rule in SSL in the [schema.json](https://github.com/apache/apisix-dashboard/pull/1999/files#diff-5fadf7c6b5b550d0a97075c3ddeaf29028204cd60da2660c6a1e1c72b4bbd0edR1340), but I did not find information about it in the [APISIX admin API](https://apisix.apache.org/docs/apisix/admin-api#request-body-parameters

[2021-07-30 05:05] Baoyuantop commented on #2019
Hi @uriddle, In order to better help you solve the problem, can you provide me how to Reproduce ?

for example ：

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-07-30 06:05] uriddle commented on #2019
## How to Reproduce

1. Go to "Upstream" and then click button "configure"
![image](https://user-images.githubusercontent.com/22750410/127606908-b920f5d7-a41c-4169-8222-f088f9326fe3.png)

2. Click on 'configure ' and Scroll down to "Health Check"， click button “Active”
![image](https://user-images.githubusercontent.com/22750410/127607142-f645b5a7-badd-4eef-9d6b-8a3e6691b30a.png)

3. leave “Port” e

[2021-07-30 06:14] Baoyuantop commented on #2019
Thank you @uriddle .

When create or update Upstream, the port option in Health Check is optional.

Dashboard will provide a default value 80, but when the user changes it to empty, dashboard will send `null` to api, this will cause this error.

The possible solution is to not pass the `port` option to the api when the user sets it to `null`, but how will we save the port status as null?

what do

[2021-07-30 06:29] uriddle commented on #2019
Maybe we can deal with “Port” just like “Host” option .

[2021-07-30 08:17] nic-chen commented on #2011
hi @RedemptionC

The relevant data needs to be written before there is a cache.

In your example, you should create a consumer first.

[2021-07-30 08:20] nic-chen commented on #2011
@RedemptionC

1. https://github.com/apache/apisix-dashboard/blob/master/api/internal/handler/consumer/consumer.go#L113

2. https://github.com/apache/apisix-dashboard/blob/d49b28381bc68c4da1552fe953c1ea7080423f4b/api/internal/core/store/store.go#L189

[2021-07-30 08:22] juzhiyuan commented on #2019
Hi @Baoyuantop, all schema in Apache APISIX is in here[1].

I just checked the `health_checker` schema, and the `port` field is optional indeed, I'm not sure what will happen if we don't pass the port field 🤔 need more search on Apache APISIX.

BTW, the Web should omit all `null` values when sending a Request

[1] https://github.com/apache/apisix/blob/master/apisix/schema_def.lua#L139-L142

[2021-07-30 08:26] Baoyuantop commented on #2019
I tested the api, it returns 200 when I don't pass the port field, so it's a good idea to omit all `null` values

[2021-07-30 08:28] juzhiyuan commented on #2019
ok, you may need to omit all null values from a nested object value

[2021-07-30 08:30] juzhiyuan commented on #2015
ok, I would prefer supporting the Plugins part in this milestone, other changes are new features IMO.

cc @liuxiran

[2021-07-31 15:53] RedemptionC commented on #2011
thanks
And when I study the code,I found that:
in consumer.go,there are Get,List,Set handler,and it also apply route for them,i.e.,when user use the API,these method should be called
[code]
but I tried:
query all consumers
[code]
create new consumer
[code]
and something else,only the consumer.List method is called
[code]
while other api also takes effect,i.e.,it did create a new consumer
1. how sh

[2021-08-01 02:11] juzhiyuan commented on #2011
cc @nic-chen

[2021-08-01 06:43] nic-chen commented on #2011
@RedemptionC  Please make sure you write the log in the correct location and restart the Manager API.

[2021-08-02 06:28] juzhiyuan commented on #2005
need @nic-chen's help to remove that logics from ManagerAPI

[2021-08-02 07:42] zhangbing17 opened #2026 "dashboard network error"
### Issue description
在dashboard中启动插件后页面包network error

![image](https://user-images.githubusercontent.com/23377580/127822808-c9396d04-2276-4826-a26c-2a87fcfb2053.png)

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.8
* OS (cmd: `uname -a`):Linux slave1 3.10.0-514.el7.x86_64 apache/apisix#1 SMP Tue Nov 22 16:42:

[2021-08-02 07:48] zhangbing17 commented on #2026
![image](https://user-images.githubusercontent.com/23377580/127823530-f9ddbc29-8359-4fa4-8019-85c019ff625e.png)
另外这个问题是什么原因

[2021-08-02 08:27] zhangbing17 commented on #2026
apisix-dashboard 版本，如果有：2.6

![image](https://user-images.githubusercontent.com/23377580/127829124-f228aeb9-b3d6-4004-8408-a2b5fe7d79bf.png)

[2021-08-02 09:12] Baoyuantop commented on #2026
For more information, please check #1944

[2021-08-02 09:27] zhangbing17 commented on #2026
这个我看了，好像没说解决方案吧。。上面的nortwork error可以帮忙看下吗

[2021-08-02 09:57] zhangbing17 commented on #2026
dashboard版本目前改成2.7
![image](https://user-images.githubusercontent.com/23377580/127843235-b946b65a-1517-4a40-8f4d-7f24a151fd34.png)

[2021-08-02 10:14] zhangbing17 opened #2027 "bug: Network Error prompted up when enable global plugin"
## Issue description

启用插件和删除上游报错Network Error，有的启动插件报其他的错误

## Expected behavior

![image](https://user-images.githubusercontent.com/23377580/127845206-1a4e72eb-d8dd-48e7-acbb-cb1bf05dc7d9.png)

## How to Reproduce

1. Go to '插件'
2. Click on '启动'
3. Scroll down to '任何一个插件'
4. See error

## Screenshots

## Environment

* apisix version (cmd: `apisix version`):2.8
* OS (cmd: `uname -a`):Linux slave

[2021-08-02 12:59] RedemptionC commented on #2011
Ok I found that it's due to that I mixed admin API with manager API:in the command I posted,when creating a consumer,I used admin API(port:9080),while manager API is on port 9000
And it seems the doc of manager api is not complete?(@juzhiyuan,could you give some context?)it only shows API on query
I don't get it why this command(to create a consumer using manager API) can not succeed:
[code]

[2021-08-02 14:31] RedemptionC commented on #2011
@nic-chen
Hello,it seems that I know how to access content in cache and etcd now
this is the log output:
[code]
and here is my log statement:
[code]
but they are pretty different, I don't know what the data retrived from etcd mean
but when I use etcdctl,its value is pretty the same as that in the cache:
[code]

[2021-08-02 14:54] nic-chen commented on #2011
If you just want them to look the same, you can convert them to json instead of printing directly. @RedemptionC

[2021-08-02 15:03] RedemptionC commented on #2011
No,what I want is to make sure they contain the same content,as the task indicated.But as the output suggests,the value retrived from etcd contains different content from the value in the cache
OK,I will try to convert them to json,and see what the value from etcd looks like

[2021-08-02 15:15] RedemptionC commented on #2011
Or , do I misunderstand something?It will be greatly appreciated if you could point out that

[2021-08-02 16:52] liuxiran commented on #2027
Thanks for your report, please provide more detailed information and this will help us to locate the problem more quickly, @zhangbing17

1. which plugin(s) will  prompt up `network error` when you enable it? I did not reproduce it in my local env
2. please provide your upstream configuration

[2021-08-02 16:53] liuxiran commented on #2026
duplicate with #2027

[2021-08-03 00:02] nic-chen commented on #2011
It just explains why they look different. You need to search which way is more suitable for object comparison.

[2021-08-03 01:15] juzhiyuan commented on #2011
@RedemptionC Yes, and I'm managing to combing APIs' docs 🤔 It will take a lot of time.

[2021-08-03 01:15] ericlinj commented on #1989
and dns

[2021-08-03 01:17] zhangbing17 commented on #2027
@liuxiran

1、就是单纯的在插件栏，启动插件
![image](https://user-images.githubusercontent.com/23377580/127942415-3ac94f62-f541-4487-89de-5439e3e064e1.png)
![image](https://user-images.githubusercontent.com/23377580/127942447-951a4b06-d6d6-480d-9e02-7570c22de476.png)
![image](https://user-images.githubusercontent.com/23377580/127942474-935ae33d-23fd-40c6-b779-144213db1260.png)
![image](https://user-images.githubu

[2021-08-03 01:20] ericlinj commented on #1989
i use api to config discovery service with discovery_type=dns，like this
[code]

but if i found ，after someone edit this route ，the value of discovery_type in upstream is missing
i think this is a bug！

[2021-08-03 01:29] zhangbing17 commented on #2027
这是安装步骤。从上面到这里
![image](https://user-images.githubusercontent.com/23377580/127943468-982a8907-86ee-4e6d-b55c-df84656c624a.png)

[2021-08-03 02:20] liuxiran commented on #2027
could you please also provide the message in your  dev-tools like follows: @zhangbing17

![image](https://user-images.githubusercontent.com/2561857/127947365-f14ee2ca-9020-424a-9085-efb6f8f34a0a.png)

[2021-08-03 02:24] liuxiran commented on #2027
and need to provide message in your dev-tools when you delete upstream like follows:

![image](https://user-images.githubusercontent.com/2561857/127947737-1d078f88-d26d-4b74-b076-daa984c11f46.png)

[2021-08-03 02:27] zhangbing17 commented on #2027
这是是启动插件的
![image](https://user-images.githubusercontent.com/23377580/127948012-7fc0aa97-87b1-4435-be5e-f7b799ee2124.png)

[2021-08-03 02:31] zhangbing17 commented on #2027
@liuxiran 可以微信，，，或者QQ么。。我在578997126这个群里。

这是删除上游。路由、消费者的，，看不到具体信息，感觉应该也是404.。
![image](https://user-images.githubusercontent.com/23377580/127948258-506d6e40-f68b-4eb3-9e89-5fc080321508.png)

[2021-08-03 02:47] liuxiran commented on #2027
and please provide your data message, like this:

![image](https://user-images.githubusercontent.com/2561857/127949577-dcc933d7-ffd4-45bb-9ada-171f0fa76d90.png)

and did you modify any code?

[2021-08-03 02:50] zhangbing17 commented on #2027
这是启用插件的
![image](https://user-images.githubusercontent.com/23377580/127949864-f70cd8db-d385-4c87-8570-22d42c9c779f.png)

[2021-08-03 03:34] liuxiran commented on #2027
seems that there is nothing wrong with parameters, need @nic-chen @starsz to take a look,
in his env, return `code: 10001` when call `PUT /apisix/admin/global_rules/1`

[2021-08-03 03:43] juzhiyuan commented on #1989
Yes, because Dashboard doesn't support the Discovery now, so if you use Dashboard to edit a Route which is created by API directly, then the configuration will be overridden.

[2021-08-03 03:45] juzhiyuan commented on #2026
see https://github.com/apache/apisix-dashboard/issues/1944#issuecomment-885051655

[2021-08-03 03:45] ericlinj commented on #1989
so
when can dashboard support this?
in prod
service discovery is sth necessary

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/apisix-dashboard"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8

[2021-08-03 03:45] juzhiyuan commented on #2026
closed due to duplicate with #2027

[2021-08-03 03:45] #2026 closed

[2021-08-03 03:48] juzhiyuan commented on #2027
@zhangbing17 What's your WeChat account? Let's arrange a online meeting.

[2021-08-03 03:50] juzhiyuan commented on #1989
Once https://github.com/apache/apisix-dashboard/milestone/14 gets done, we will support Discovery in M2.7.2

[2021-08-03 03:56] nic-chen commented on #2027
@zhangbing17

What's the data in your etcd?

You could get it by executing:
[code]

[2021-08-03 03:58] zhangbing17 commented on #2027
13275607690

[2021-08-03 04:01] zhangbing17 commented on #2027
![image](https://user-images.githubusercontent.com/23377580/127955653-b9160a9c-372f-400d-b3e8-3f5512d70b2e.png)

[2021-08-03 04:20] nic-chen commented on #2027
@zhangbing17
it should be
[code]
sorry for typo

[2021-08-03 04:31] zhangbing17 commented on #2027
![image](https://user-images.githubusercontent.com/23377580/127958020-f4222be0-505b-4478-b48e-2bd53d49fd37.png)

![image](https://user-images.githubusercontent.com/23377580/127958046-b97b9960-ddd3-411e-b619-7a38554ef5dc.png)

[2021-08-03 05:30] nic-chen commented on #2027
@zhangbing17  please check the error log

[2021-08-03 05:38] zhangbing17 commented on #2027
这错是是我另外个demo项目没起，，跟我删除路由、上游、服务、启动插件没关系呀

[2021-08-03 05:47] ericlinj commented on #1989
expect it，thks a lot！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/apisix-dashboard"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8月3日(星期二) 中午11:50
***@***.***&gt;;
***@***.******@***.***&

[2021-08-03 06:54] airstring opened #2028 "bug: Additional property discovery_args is not allowed."
### Issue description

### Environment
* docker iamge:  apache/apisix:2.8-alpine
* etcd image: bitnami/etcd:3.4.15
* apisix-dashboard image: apache/apisix-dashboard:latest

### Minimal test code / Steps to reproduce the issue

1. When I insert the following code through apisix-dashboard：
{
  "uri": "/api-admin/*",
  "name": "api-admin",
  "plugins": {
    "proxy-rewrite": {
      "regex_uri": [

[2021-08-03 07:09] nic-chen commented on #2027
please check the error log of the dashboard.

[2021-08-03 07:14] zhangbing17 commented on #2027
我把dashboard下面的error日志清了，在走，日志里面没输出任何

[2021-08-03 07:48] foolwc opened #2029 "Redirect page is not the last view page when session expired and login"
## Issue description

When a page is not clicked for a long time and session expired,  browser will be redirected to the login page by XHR :  http://139.217.190.60/user/login?redirect=%2Fuser%2Flogin
the `redirect` param is not the last page user viewed URL and cannot redirect to the old page.

## Environment
APISIX 2.6 with APISIX-dashboard 2.7

[2021-08-03 08:18] airstring commented on #2028
I see through the shell it does work, thank you!
[root@apisix ~]# curl http://127.0.0.1:9080/apisix/admin/routes/100  -H 'X-API-KEY: edd1c990343130f87ad84b68f1' -X GET
{"count":1,"node":{"value":{"name":"et-service-api","uri":"\/test*","id":"100","priority":0,"update_time":1627978114,"upstream":{"service_name":"et-service-api","discovery_type":"nacos","discovery_args":{"namespace_id":"api-server"}

[2021-08-03 08:18] #2028 closed

[2021-08-03 09:14] RedemptionC commented on #2011
got it
thank you for your support :)
I probably need to study something about how dashboard use etcd now,do you have any advice for me?

[2021-08-03 09:36] RedemptionC commented on #2011
got it
but pretty have no idea yet..

[2021-08-03 09:48] RedemptionC commented on #2011
it seems I used the wrong API
now they are much more similar :
[code]

[2021-08-03 10:00] zhangbing17 commented on #2027
在 @nic-chen 的帮助下  ， 目前已经解决，原因是我们公司关掉了put和delete请求

[2021-08-03 10:00] #2027 closed

[2021-08-03 13:23] RedemptionC commented on #2011
I parsed the cache value into json,like this :
[code]
the output suggests that they are almost the same,except the create time and update time

[2021-08-03 13:54] juzhiyuan commented on #2011
All APIs are under the `/api` folder, you could cc @nic-chen for help

[2021-08-03 14:17] RedemptionC commented on #2011
@nic-chen
it seems we can compare them using this code snippet:
[code]
in the store.go/List(),we get the value from cache and etcd,value returned by etcd.go/Get is already string(json format)
we just need to parse value from cache into json string
then use the function above
and this is the output:
[code]

[2021-08-04 03:38] zhfish opened #2032 "login: failed to check token: missing apikey"
## Issue description
[code]
http://127.0.0.1:9000 login is ok
http://gw.my.comlogin is 401
[code]

## Environment

* apisix version (cmd: `apisix version`): 2.8
* apisix-dashboard version, if have: 2.7

## Additional context
#590
#464

[2021-08-04 07:45] zhfish commented on #2032
[code]

[code]

[2021-08-04 13:55] nic-chen commented on #2032
hi @zhfish
what's `gw.my.com`?

[2021-08-05 03:16] Baoyuantop opened #2035 "lint-staged caused many additional changes"
## Issue description
When committing some code changes in the `web`, `lint-staged` started and made many additional changes (regarding the code format), which caused a lot of trouble for the review code.

I noticed that this feature was added 15 days ago #1957, and the corresponding code format may be missing before then?

## Expected behavior
In a PR, `lint-staged` does not change the extra code

[2021-08-05 05:51] juzhiyuan commented on #2035
cc @iamayushdas to take a look

[2021-08-05 14:52] Baoyuantop commented on #2035
I will try to fix these `eslint` errors and then submit these changes to a PR.

[2021-08-05 15:03] RedemptionC commented on #2011
@nic-chen
Hello,I'm trying to implement this tool,but I don't know how to deal with the initialization stuff yet
I mean,when we run manager API,it does a lot of initialization stuff,including reading value from ETCD into the cache,which is what we need

when we implement this tool,should it rely on a running manager API,say,get the cache content throught some API,like migrate/export,then transform

[2021-08-05 15:11] juzhiyuan commented on #2035
ok

[2021-08-05 16:45] zhfish commented on #2032
upstream
[code]

route
[code]

[2021-08-06 04:22] #2035 closed

[2021-08-06 05:26] nic-chen commented on #2032
@zhfish

Use the APISIX to proxy dashboard, need to confirm that the Admin API has been disabled. Because the prefix of Admin API and Manager API is the same, without disable Admin API, the apis with the prefix `/apisix/admin` will be accessed to Admin API, not Manager API

[2021-08-06 06:05] #2005 closed

[2021-08-06 08:40] zhfish commented on #2032
i change the admin's port, it's ok,
建议更改默认端口号，省的还需要在文档里做出这种匪夷所思的说明。。
产品不错，谢谢。

[2021-08-06 08:40] #2032 closed

[2021-08-06 09:25] nic-chen commented on #2032
@zhfish

Good idea.

Thanks for sharing.

[2021-08-06 15:08] Baoyuantop commented on #2019
I found that in the entire web if there is an optional `InputNumber` component, this bug can be reproduced.

Therefore, I think that all attributes in an object with null values in the request body should be filtered out by `requestInterceptors`.

What do y'all think?

[2021-08-06 15:39] juzhiyuan commented on #2019
yes, the Request Interceptor is also a good place to omit all `undefined & null` values.

[2021-08-07 04:09] juzhiyuan opened #2043 "CI: backend CI is unstable"
see https://github.com/apache/apisix-dashboard/pull/2041/checks?check_run_id=3267303007

[2021-08-07 09:42] RedemptionC opened #2045 "[help wanted] request advice on implementing cache verification tool of APISIX dashboard"
## context
this is a subtask of a project from open summer 2021,[here](https://summer.iscas.ac.cn/#/org/prodetail/210050252?lang=en) for full detail.
dashboard related:

## what we really need to do for this task(IMO)
I used the dashboard and read the source code,I found that what we need to do is to check whether items in cache(sync.Map) are the same as those in ETCD
And we need to add a cobra co

[2021-08-07 09:42] RedemptionC commented on #2045
@juzhiyuan @nic-chen

[2021-08-07 11:01] nic-chen commented on #2045
Option 1 is more appropriate.

I suggest adding another API to complete the cache and data acquisition and comparison.

This API may be exposed through a separate port, or directly use the current port(after all, the Manager API itself should not be directly exposed to the Internet).

What's your opinion? @starsz @tokers @gxthrj @bzp2010 @imjoey @Jaycean @ShiningRush

[2021-08-07 12:11] #2015 closed

[2021-08-07 12:11] #2016 closed

[2021-08-07 12:11] #2014 closed

[2021-08-07 12:44] Baoyuantop commented on #2013
After my verification, no matter what the `Admin API` is used to create this content, the `dashboard` is behaving normally.

The only thing that needs to be done is when the dashboard creates a single `uri/host/remote_addr`, we need to set the field in the request body to `uri/host/remote_addr`.

Currently, whether it is single or multiple, it is `uris/hosts/remote_addrs`.

[2021-08-07 13:17] juzhiyuan commented on #2013
yes, we need to send `uri` if the origin data is `uri` and this field is not changed.

[2021-08-07 13:32] bisakhmondal commented on #2008
Hi @nic-chen, there is a `--force or -f`  flag to override this. Yeah, while adding that feature I haven't thought about shutdown behaviour. For sake of shutdown from the CLI and when the process is running itself as a daemon, we have this feature.

However, I think instead of blindly returning an error/warning, we could just perform a lookup for that PID, if the process exists we will throw an er

[2021-08-07 21:41] #2019 closed

[2021-08-07 21:50] liuxiran commented on #2019
Hi @uriddle , since pr #2042 got merged, you can retry this issue after version 2.7.1 released or just cherry-pick the related patch to your local env to hot fix this issue. Hope that will help you, reopen it when you have any questions, thanks a lot

[2021-08-08 08:13] liuxiran commented on #2013
I'm glad to hear that Web can behave normally no matter what what is used by `Admin API`, and thanks for @Baoyuantop verification.

Based on this conclusion, could we consider pushing forward the optimization of `Admin API` @juzhiyuan ? That is to say, since `APISIX` support multiple `uris/remote_addrs/hosts` in one `Route`, only `uris/remote_addrs/hosts` is enough IMO, `uri/remote_addr/host` the

[2021-08-08 09:51] juzhiyuan commented on #2013
I would also prefer keeping the the `uris` field instead of the `uri` field only, but not hurry, because if we change this in 2.x, it's a breaking change for many users maybe. Why not do this in 3.x?

[2021-08-08 09:52] #2012 closed

[2021-08-08 12:15] RedemptionC commented on #2045
do we add another API because we want to  avoid the case where this command gets unavailable when migrate/export changes?

[2021-08-08 13:10] liuxiran commented on #2013
Agree with do it in 3.x, and that is for `Admin API`, so do we still need to change the params passed to `Manager API`?since it behave normally now

[2021-08-08 13:24] Baoyuantop commented on #2013
It should be noted that if the user uses the `Admin API` to create a `uri` field, the field will automatically change to `uris` after the user using the dashboard.

[2021-08-08 13:28] juzhiyuan commented on #2013
yes, and please go ahead :)

[2021-08-08 13:41] Baoyuantop commented on #2013
I think the #2046 change is necessary for the 2.x version, but does it seem to be lack of testing now? For testing, I only provided a few in this PR.

[2021-08-08 14:07] juzhiyuan commented on #2013
see https://github.com/apache/apisix-dashboard/pull/2046#issuecomment-894800892

[2021-08-08 23:17] nic-chen commented on #2008
@bisakhmondal  sure, welcome PR

[2021-08-09 01:11] tokers commented on #2045
It depends on how we use this featrure.

[2021-08-09 04:33] juzhiyuan commented on #1981
cc @Baoyuantop to have a look

[2021-08-09 04:36] #1920 closed

[2021-08-09 04:36] juzhiyuan commented on #1920
If this error still happens, please let me know.

[2021-08-09 04:37] #1806 closed

[2021-08-09 04:37] #1772 closed

[2021-08-09 04:37] juzhiyuan commented on #1772
resolved by Infra

[2021-08-09 04:38] juzhiyuan commented on #1772
This issue is due to incorrect settings on Actions

[2021-08-09 04:38] #1562 closed

[2021-08-09 04:39] juzhiyuan commented on #1482
Due to these nodes will get dropped after some time, so close this issue

[2021-08-09 04:39] #1482 closed

[2021-08-09 04:44] #1950 closed

[2021-08-09 06:27] RedemptionC commented on #2045
@nic-chen
I am also confused about this

[2021-08-09 06:48] liuxiran commented on #1933
Confirmed, when bind a service in create Route step1, `enable_websocket` will be lost, and without Service binding, `enable_websocket` work normally. Need to fix it in 2.7.1

[2021-08-09 06:57] liuxiran commented on #1773
Confirmed,:

[2021-08-09 06:57] liuxiran commented on #1773
Comfirmed:

[2021-08-09 06:59] juzhiyuan commented on #1933
cc @Baoyuantop to take a look, and @liuxiran please provide some necessary testcases for this fix.

[2021-08-09 07:08] liuxiran commented on #1773
Confirmed:

1. we need to update the doc for `limit-count` according to the lua code:
`redis_password ` and `redis_timeout ` can be configured both in `redis` policy and `redis-cluster` policy
now it is not specify in the [doc](http://apisix.apache.org/docs/apisix/plugins/limit-count/#attributes)

2. for current dashboard master branch, the UI form for `limit-count` plugin is already completed, we

[2021-08-09 07:43] liuxiran commented on #1933
@spacewander help request about this `enable_websocket` param in route: when we create a route with `redirect` plugin, does it still need `enable_websocket` param? looking forward to your reply, thanks a lot

after this question got confirmed, I 'll provide corresponding test cases about this issue @juzhiyuan

[2021-08-09 08:22] juzhiyuan commented on #1773
@liuxiran just to make sure, we could close this issue, and create a doc issue in apisix?

[2021-08-09 09:04] spacewander commented on #1933
We don't need it.

[2021-08-09 09:31] liuxiran commented on #1933
Thanks a lot @spacewander

then we have to update two points:

1. when we bind service to a Route, we should pass `enable_websocket` normally to API.
this can be tested by recheck `enable_websocket` value in the configure view

2. when we enable  `redirect` in a Route, we should omit `enable_websocket` field in the create/configure step1.
this can be tested by
2.1. when we enable `direct`, `enable

[2021-08-09 09:54] juzhiyuan commented on #1933
OK

[2021-08-09 09:59] Baoyuantop commented on #1933
OK

[2021-08-09 10:15] liuxiran commented on #1773
Yep, close it now

the issue in APISIX: https://github.com/apache/apisix/issues/4781

[2021-08-09 10:15] #1773 closed

[2021-08-09 10:26] #2029 closed

[2021-08-09 12:34] Baoyuantop commented on #1981
Hi, @wjmmjr, I cannot reproduce this error based on the information currently provided. Can you provide a detailed and complete reproduction method?

In addition, when the screen is blank, the console of the browser should print out some error messages. Can you provide some help?

[2021-08-09 14:23] jagerzhang commented on #2007
我觉的你们需要自己开发一个门户来管理下租户，我们目前也正在设计、开发当中。APISIX 多集群、多租户管理。可以参考下新浪这个case：https://apisix.apache.org/blog/2021/07/14/the-road-to-customization-of-Sina-Weibo-API-gateway-based-on-Apache-APISIX/

[2021-08-09 14:28] w7team commented on #2007
多租户也是一个场景，一个租户管理多个项目也是一个场景。我感觉别搞那么复杂，参考一下ingress按项目来分就行，这个是比较成熟的方案，直接照搬就行

[2021-08-09 14:35] jagerzhang opened #2053 "Click submit in the viewing page of Consumer will create an new consumer"
## Issue description
Recurrence steps:

1. click [查看(veiw)] button:
![image](https://user-images.githubusercontent.com/9711651/128722692-d625c64f-28b2-4bd3-89a7-b69879f0c8f8.png)

2. Click [提交(sumit)]button:
![image](https://user-images.githubusercontent.com/9711651/128722874-a41f053e-15c6-4638-9f5d-0f3744862d63.png)

3. a new consumer named undefined been created
![image](https://user-images.gith

[2021-08-09 16:16] juzhiyuan commented on #2053
cc @LiteSun to take a look

[2021-08-10 02:44] Baoyuantop commented on #2053
Solved at #1987  @jagerzhang

[2021-08-10 03:07] #2053 closed

[2021-08-10 03:25] #1939 closed

[2021-08-10 03:42] #1933 closed

[2021-08-10 03:42] #1981 closed

[2021-08-10 07:00] liuxiran commented on #1335
close via #2051 , feel free to reopen it when there are any questions, thanks

[2021-08-10 07:00] #1335 closed

[2021-08-10 07:08] liuxiran commented on #1886
Fixed by: https://github.com/apache/apisix-dashboard/pull/1987

[2021-08-10 07:09] #1886 closed

[2021-08-10 08:40] #2013 closed

[2021-08-11 01:22] bzp2010 commented on #2045
Sorry, I have a question. Does "dashboard cache" refer to the data cached in memory at runtime?

[2021-08-11 01:33] nic-chen commented on #2045
yes，it is

[2021-08-11 02:12] suninuni opened #2057 "Make sure validate rules in Apisix Dashboard is same as Apisix api"
## Issue description

Some rules can be created by CRD, but can not be modified in dashboard.

e.g. `/` in ApisixRoute.spec.http[].name

![image](https://user-images.githubusercontent.com/7345529/128958429-b83abdd2-4220-4a5d-852f-36ed23cae4ae.png)

e.g. add key in limit-count.lua

![image](https://user-images.githubusercontent.com/7345529/128958884-c7cbc4dd-199e-40fe-88e1-bc5075b84c14.png)

## Exp

[2021-08-11 02:43] Baoyuantop commented on #2057
Hi @suninuni, would you please help provide environmental information?

For example:

## Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
* Browser ver

[2021-08-11 02:48] bzp2010 commented on #2057
It seems to be the rule problem of schema checker in dashboard.

[2021-08-11 03:52] bzp2010 commented on #2057
Hi, @suninuni. Can you provide a CRD used yaml file that hides key information?

[2021-08-11 12:39] RedemptionC opened #2063 "feat: add cache verification tool for dashbaord"
# Add new feature

## Please describe your feature
Hi,comunity,I want to add a tool for APISIX dashboard

this tool checks whether items(like consumer,route,etc.) in cache and ETCD are the same
I have raised 2 issues for discussion:
(https://github.com/apache/apisix-dashboard/issues/2045)
(https://github.com/apache/apisix-dashboard/issues/2011)
And this is a related mailing list:
[mail list](https

[2021-08-12 04:16] bzp2010 commented on #2057
Hi, @suninuni.
OK, I already know the yaml file you use. Sorry, I don't have a k8s local environment, so I can't test directly.

However, according to the principle of ingress controller, it will call the Admin API in APISIX to operate resources such as routes, and this API does perform schema validation.
[https://github.com/apache/apisix/blob/174044e60cfbad6f8aa023200f3be145f5249ed1/apisix/plugin

[2021-08-12 05:24] suninuni commented on #2057
@bzp2010 I just modified the file limit-count.lua according to the document in Apisix image.

![image](https://user-images.githubusercontent.com/7345529/129142406-4175517f-5f5b-4f6d-93ee-047addfbbba4.png)

Add http_x_account_id in the [enums](https://github.com/apache/apisix/blob/174044e60cfbad6f8aa023200f3be145f5249ed1/apisix/plugins/limit-count.lua#L41).

SO the enums is defined in three places,

[2021-08-12 06:15] suninuni commented on #2057
@bzp2010 Thanks.

![image](https://user-images.githubusercontent.com/7345529/129146623-b654f541-94ce-4785-82e2-03e8c703cca2.png)

In my test, I don't need modify the schema which generated by APISIX. So why doesn't the dashboard call this api at startup?

[2021-08-12 06:17] bzp2010 commented on #2057
@suninuni APISIX and Dashboard can be deployed separately, and the only connection between them is the same ETCD.

[2021-08-12 06:22] suninuni commented on #2057
@bzp2010 OK, I have no problem, thank you very much.

[2021-08-13 08:05] suninuni commented on #2057
@bzp2010 Another question

![](https://user-images.githubusercontent.com/7345529/128958429-b83abdd2-4220-4a5d-852f-36ed23cae4ae.png)

Why does the Dashboard specify the validation rules instead of using the rules in schema.json(actually schma only defined the max length)? Any issues or design document can help me understand this behavior?

https://github.com/apache/apisix-dashboard/blob/b0dfcb4b85

[2021-08-16 10:06] RedemptionC opened #2073 "CI: e2etest upstream_test seems to be unstable"
### Issue description

when we submit a back-end related PR,we occasionally found this test failed,while we didn't change anything about it
see:
https://github.com/apache/apisix-dashboard/pull/2065/checks?check_run_id=3338387807
https://github.com/apache/apisix-dashboard/pull/1985#issuecomment-886194054

### Expected behavior

it  should pass if we didn't make mistakes on them

### How to Reproduc

[2021-08-16 16:10] RedemptionC commented on #2073
it seems to be due to the lack of name field in this test:
[this](https://github.com/apache/apisix-dashboard/blob/cb5f4fad360a5fff486ade063ddf6e8bba61355f/api/test/e2enew/upstream/upstream_test.go#L831)
compare the ouput below:
[code]
and
[code]

[2021-08-16 16:11] RedemptionC commented on #2073
@juzhiyuan please take a look

[2021-08-17 19:39] liuxiran commented on #2073
Hi @RedemptionC , in https://github.com/apache/apisix-dashboard/blob/cb5f4fad360a5fff486ade063ddf6e8bba61355f/api/test/e2enew/upstream/upstream_test.go#L809
we can see `Upstream` u1 has been deleted, so in your target line, use `PUT` method to update a upstream, if there is no one exist, a new upstream will be created, in other words, https://github.com/apache/apisix-dashboard/blob/cb5f4fad360a5ff

[2021-08-17 19:42] liuxiran commented on #2057
thanks @suninuni we will fix it in 2.7.2. it should be the same with the schema define

[2021-08-17 19:51] liuxiran commented on #1969
Hi @philzhangrui , does your issue resolved, if not, please update more details here

[2021-08-17 19:54] liuxiran commented on #1967
Hi @forgaoqiang , did our answer solve your problem? If not, please update more details here, or we  consider this issue to be resolved after three days, thanks a lot~

[2021-08-17 20:02] liuxiran commented on #1919
Hi @hozaifaaoud , have our answers solved your problem? If not, please update more details, or we consider the problem solved and will close it after three days, thanks a lot

[2021-08-17 20:10] liuxiran commented on #1825
Hi @bisakhmondal , there is a [pr](https://github.com/apache/apisix-dashboard/pull/2010) to refactor our auth framework, hope this can help you

and for a easy way to create a view user, sorry we still do not have plane to do it, and if you have some ideas about it , welcome to send mail to our mail list, thanks a lot

[2021-08-17 20:13] liuxiran commented on #1801
Hi @juzhiyuan please help to update the ticket status when you have time, thanks a lot

[2021-08-17 20:29] liuxiran commented on #1554
@miaoyb any updates here?

[2021-08-17 20:33] liuxiran commented on #1652
https://github.com/apache/apisix-dashboard/issues/1944

[2021-08-17 20:33] #1652 closed

[2021-08-17 20:36] liuxiran commented on #1535
Hi @LiteSun please help to update the mail link when you have time , thanks a lot

[2021-08-18 01:12] #1801 closed

[2021-08-18 01:49] bzp2010 commented on #2057
Hi, @suninuni.

[2021-08-18 03:18] RedemptionC commented on #2073
Hi, @liuxiran
thanks for your explanation
I checked again in my local environment,it did succeed without name field
but what really confused me is the [CI failed case](https://github.com/apache/apisix-dashboard/pull/2065/checks?check_run_id=3338387807)

[2021-08-18 06:33] imjoey commented on #1919
@starsz  @nic-chen @liuxiran

Hi all, according to the docs, the parameter `radixtree_uri_with_parameter` allows users to set `/blog/:name` as the uri which could match `/blog/dog` and `/blog/:cat`. I was wondering that if we can also use it in `regex_uri`? For example, if `regex_uri` is set to `[" /iresty/:p1/:p2/:p3", "/x:p1/y:p2/z:p3"]`, apisix could match request with `/iresty/name/age/gender`

[2021-08-18 09:10] liuxiran opened #2075 "Feature request: eliminating the differences between current master and apisix version 2.7"
# Feature request

## Please describe your feature

After apisix-dashboard-2.7.1 released, there are also some features that are not represented in the dashboard, we should eliminating the differences  before 2.7.2 relesaes.

## Describe the solution you'd like

Here is the full list of fields supported by APISIX 2.7: https://github.com/apache/apisix-dashboard/blob/master/api/conf/schema.json

and

[2021-08-18 09:11] liuxiran commented on #2075
Hi @Baoyuantop , do you have time to help deal with this issue? Thanks very much

[2021-08-18 09:24] liuxiran commented on #1919
also cc @spacewander to help take a look, thanks a lot

[2021-08-18 15:34] Guillaume69 opened #2076 "Impossible to create an authz-keycloak plugin config."
### Issue description

The editor tells me that it doesn't need configuration, so the field is disabled and i can't write into it.

### Expected behavior

I expect to be able to write some configuration in the editor.

### How to Reproduce

create a route, and in the last step click "enable" on the authz-keycloak plugin and try to write a configuration.

### Screenshots

![Capture d’écran 2021-08

[2021-08-19 01:09] spacewander commented on #1919
radixtree_uri_with_parameter is disabled by default. And it has a design defect: ':' is a valid character in the URL, so it is not recommended to enable it.

[2021-08-19 02:12] liuxiran commented on #2076
We have solved this issue in: https://github.com/apache/apisix-dashboard/pull/1983, and released in 2.7.1

Just confirm where did your docker image come from? from https://hub.docker.com/r/apache/apisix-dashboard?

[2021-08-19 02:56] liuxiran commented on #1977
https://github.com/apache/apisix-dashboard/pull/1557

BE has already support this feature, remove `backend` tag

[2021-08-19 03:17] lgy1027 opened #2077 "Certificate Resolution Problems"
I use the go program to generate the certificate and private key, why can't I parse out the SNI on the page
![image](https://user-images.githubusercontent.com/38779388/130002100-56969e4a-4a5b-47f3-852a-ea851906790a.png)
[code]

[code]

[2021-08-19 03:27] nic-chen opened #2078 "bug: when importing routes, the routes method is `OPTIONS` will be lost"
### Issue description

when importing routes, the routes method is `OPTIONS` will be lost

### Expected behavior

import all routes in yaml file

### How to Reproduce

1. create route with method `OPTIONS`
2. export routes
3. import by the file just exported
4. check the imported routes

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a

[2021-08-19 03:28] nic-chen commented on #2078
@Jaycean @bzp2010  Do you have time to look at this issue? thanks.

[2021-08-19 03:28] tao12345666333 commented on #2077
I didn't understand what you mean

Is there an error? Or something else

[2021-08-19 03:40] liuxiran commented on #1977
Refer to the https://apisix.apache.org/docs/apisix/2.7/discovery#supported-discovery-registries

In APISIX2.7 , we support Eureka/Consul/Nacos and service discovery via DNS,

in order to support this feature in dashboard, we have to update our `Upstream` module,  add `Target type` filed, user can choose `Node` or `Service Discovery`

when choose `Node`, user can complete the follow fields:
![image

[2021-08-19 03:50] liuxiran commented on #1989
Related issue：https://github.com/apache/apisix-dashboard/issues/1977

Just make sure that, once we supported `discovery_type` and `service_name` in dashboard, user only need two steps to use service discovery via APISIX Dashboard:

1. config service discovery in APISIX, see https://apisix.apache.org/docs/apisix/2.7/discovery/ for more configuration details,
2. create Upstream via dashboard

cc @tz

[2021-08-19 03:51] lgy1027 commented on #2077
![image](https://user-images.githubusercontent.com/38779388/130004834-1d960be2-3210-49e4-b2b9-7d4b37fa0e0e.png)
It doesn't parse out here

[2021-08-19 04:01] spacewander commented on #1977
LGTM

[2021-08-19 04:08] liuxiran commented on #1966
related issue: https://github.com/apache/apisix-dashboard/issues/1986

[2021-08-19 04:31] liuxiran commented on #1986
Agree with @tzssangglass suggestion, add the menu item `Stream Route` after `Route` would be better, and for create/configure the `Stream Route`, we can consider follow the way `Route` does.

And in fact it is a complete module, we need both UI and manager-api,

for UI:

- [ ] add menu item `Stream Route` and List page
- [ ] Create `Stream Route`
- [ ] Configure `Stream Route`
- [ ] Delete `Stream

[2021-08-19 04:59] liuxiran opened #2079 "Feature request: support all fields in the SSL entity"
# Feature request

In APISIX dashboard, currently we only support two fields for SSL: `cert` and `key` in UI, but there are more there two fields in SSL module, refer to https://apisix.apache.org/docs/apisix/2.7/admin-api#request-body-parameters-4, we also need to support them

## Describe the solution you'd like

Enrich the current SSL form, add `Status` `Labels` `Client` fields, and support uplo

[2021-08-19 05:22] liuxiran opened #2080 "Feature request: support FQDN in upstream"
# Feature request

## Please describe your feature

Currently we can only configure upstream nodes in UI by `Address + (required) Port`, but in fact APISIX also support FQDN, see https://apisix.apache.org/docs/apisix/2.7/FAQ/#does-the-upstream-node-support-configuring-the-fqdn-address, we should update our UI to fit this option.

## Describe the solution you'd like

We can update our input constra

[2021-08-19 05:46] juzhiyuan commented on #1977
LGTM

[2021-08-19 05:51] liuxiran commented on #1919
thanks for @spacewander 's replay, also cc @imjoey @hozaifaaoud to kown.

As vars in url is helpful for some users, I wonder if we have plan to Improve this feature?

[2021-08-19 08:00] Guillaume69 commented on #2076
Hi @liuxiran

i confirm that i pulled it from apache/apisix-dashboard on docker hub, tag "latest" but i still have the issue.

[2021-08-19 08:22] juzhiyuan commented on #2076
cc @nic-chen to have a look

[2021-08-19 10:48] nic-chen commented on #2077
@lgy1027

It seems that there is a problem with the domain name of the certificate: `www.lgy.com-`

[2021-08-19 10:59] nic-chen commented on #2076
Please try again. The previous latest is still the 2.7 version.

[2021-08-19 11:00] nic-chen commented on #1977
LGTM

[2021-08-19 11:03] nic-chen commented on #1989
sure.

[2021-08-19 11:09] lgy1027 commented on #2077
I also posted the method of generating the certificate. I think it is generated like this on the Internet. Can you help me find out the reason?

[2021-08-19 11:10] lgy1027 commented on #2077
Or you can use my code to generate a certificate and then use the UI page to parse it, but it can’t be parsed.

[2021-08-19 12:13] Guillaume69 commented on #2076
@nic-chen yeah, works fine :) Thank you, you're the best guys.

[2021-08-19 12:38] Baoyuantop commented on #1977
LGTM

[2021-08-19 12:51] bzp2010 commented on #1989
cc @liuxiran @nic-chen
I have read the document. I will try it.

[2021-08-19 12:53] bzp2010 commented on #1977
This issue is similar to issue #1989, and I will try it.

[2021-08-19 13:19] bzp2010 commented on #2080
Hi, @liuxiran.
It seems that the dashboard can now support host input in the form of FQDN. What's the problem?
![image](https://user-images.githubusercontent.com/8078418/130075518-9c2961a1-09a8-45e5-8bd3-44e372d99253.png)
![image](https://user-images.githubusercontent.com/8078418/130075579-3a02b215-cf0d-4ba2-bd8b-0dc138fc2694.png)

[2021-08-19 22:52] #2076 closed

[2021-08-19 22:53] Guillaume69 commented on #2076
Fixed in 2.7.1

[2021-08-20 00:51] liuxiran commented on #1989
Thanks very mush, and go a head boy~, any help please comment here

[2021-08-20 00:57] liuxiran commented on #2080
refer to https://github.com/apache/apisix/blob/release/2.7/docs/en/latest/FAQ.md#does-the-upstream-node-support-configuring-the-fqdn-address

when we use FQDN, we do not need to enter `Port`, so fe need to make `Port` an optional field.

Please let me know if I have misunderstood, thanks @bzp2010

cc @nic-chen @tao12345666333

[2021-08-20 03:08] LiteSun commented on #1535
see: https://lists.apache.org/thread.html/r46f877ff436f2124a3fb0dbe5a6a5906a4e5047488096fe38ae6ac7f%40%3Cdev.apisix.apache.org%3E

[2021-08-20 03:30] imjoey commented on #1919
That would be great. Uses could use these vars to design complicated route match rules, as well as request parameter rewrite.

[2021-08-20 08:39] #1588 closed

[2021-08-20 11:44] bzp2010 commented on #2080
I think at the same time we can give it a default value of port 80. XD

[2021-08-23 05:03] #2011 closed

[2021-08-23 05:04] #2045 closed

[2021-08-24 05:26] bzp2010 commented on #1449
Hi,
It seems that to realize the support of `grpc-transcode` plugin, we must first provide the management function of `proto` data entities. I will first implement it in the backend.

[2021-08-24 05:49] hnlq715 commented on #1449
Nice job, and uploading protoset files is preferred against single proto file :-)

https://github.com/fullstorydev/grpcurl#protoset-files

[2021-08-24 07:42] Baoyuantop commented on #1986
Hi @liuxiran, I would like to try the UI part.

[2021-08-24 08:54] liuxiran commented on #2057
hi @foolwc @iamayushdas @KishaniKandasamy , do you have time to deal with this issue?

[2021-08-24 09:00] liuxiran commented on #1986
thanks a lot @Baoyuantop , assign to you~

[2021-08-24 09:04] liuxiran commented on #1986
who would like to try the part of manger-api, @Xu-Mj do you like to try it?

[2021-08-24 09:47] gxthrj commented on #2077
Is there any error log in APISIX?

[2021-08-24 10:56] iamayushdas commented on #2057
@liuxiran according to me this will make changes in both pattern regex and rule naming right?

[2021-08-24 13:31] Xu-Mj commented on #1986
ok , i'll try this part.

[2021-08-24 15:59] bingoku opened #2087 "Bug: after enable redirect HTTPS, websocket form field disappeared"
### Issue description

![image](https://user-images.githubusercontent.com/4134788/130649980-e8949fd6-bf6a-4879-b956-6f3413f9cbf3.png)

### Expected behavior

开启 HTTPS 后能显示 websocket 按钮进行操作

### How to Reproduce

稳定复现

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
-

[2021-08-24 20:54] liuxiran commented on #2087
Hi @bingoku , see here to learn more: https://github.com/apache/apisix-dashboard/issues/1933#issuecomment-895062189

so may I ask what your actual needs are for this operation? Then we can recommend a suitable operating procedure, thanks

[2021-08-24 21:50] liuxiran commented on #2057
you are right👏