[2019-08-01 07:30] membphis opened #10 "bug: 404 not found and need to remove useless link."
![image](https://user-images.githubusercontent.com/6814606/62273872-2feee400-b471-11e9-9db2-09d29f546a9f.png)

[2019-08-01 07:40] membphis opened #11 "bug(route): Fields such as host are not required"
![image](https://user-images.githubusercontent.com/6814606/62274474-8872b100-b472-11e9-81e2-55974b7e0ddd.png)

[2019-08-01 07:45] membphis opened #12 "change(service): style."
![image](https://user-images.githubusercontent.com/6814606/62274894-5b72ce00-b473-11e9-8709-879f28878ee8.png)

[2019-08-01 07:47] membphis opened #13 "optimize(service): style"
![image](https://user-images.githubusercontent.com/6814606/62275025-9c6ae280-b473-11e9-8a7e-7798756bae73.png)

please fix other similar points.

[2019-08-01 07:48] membphis opened #14 "bug: wrong ico"
![image](https://user-images.githubusercontent.com/6814606/62275111-d50abc00-b473-11e9-9d12-27da72a7e4f1.png)

[2019-08-01 07:54] membphis commented on #14
[favicon.zip](https://github.com/iresty/apisix_dashboard/files/3455538/favicon.zip)

please use this.

[2019-08-01 08:00] membphis opened #15 "feature: show logo of apisix."
![image](https://user-images.githubusercontent.com/6814606/62275717-210a3080-b475-11e9-8e83-6c3da6bb33f4.png)

![logo-white-font](https://user-images.githubusercontent.com/6814606/62275859-67f82600-b475-11e9-8893-e6b9a19fc506.png)

[2019-08-01 13:24] juzhiyuan commented on #11
@membphis

![image](https://user-images.githubusercontent.com/2106987/62296844-8d4f5900-b4a2-11e9-94c3-4eab8d6b524e.png)

API will response 400 error if I only post URI field.

[2019-08-01 15:17] juzhiyuan commented on #13
1. This value needs to be updated to which has no left-zero in server.
2. API is broken when id without left-zero.
http://39.97.63.215:9080/apisix/admin/upstreams/00000000000000003924

http://39.97.63.215:9080/apisix/admin/upstreams/3924

[2019-08-01 15:36] #10 closed

[2019-08-01 15:36] #11 closed

[2019-08-01 15:36] #12 closed

[2019-08-01 15:36] #14 closed

[2019-08-01 15:36] #15 closed

[2019-08-01 16:22] #13 closed

[2019-08-02 06:45] moonming opened #17 "add service\upstram\plugin when create route"
The same as https://github.com/iresty/apisix_dashboard/issues/19

[2019-08-02 14:47] membphis opened #18 "bugfix: wrong default value for route"
![image](https://user-images.githubusercontent.com/6814606/62378475-79295b80-b577-11e9-8bae-50105c201ce2.png)

[2019-08-02 14:52] membphis commented on #18
该 bug 优先级比较高，优先修复哈

[2019-08-02 14:56] membphis opened #19 "bug: should keep the original input information"
创建 route 的时候，因为缺少 service ，然后我去新建 service ，创建好后页面切回来发现之前创建 route 的页面内容全部没了。最好保留一下用户之前已经录入的信息。

![image](https://user-images.githubusercontent.com/6814606/62378965-8430bb80-b578-11e9-8ba2-e95b7d4fdffe.png)

[2019-08-02 14:58] membphis opened #20 "style: 操作栏按钮，需要固定宽度并右对齐"
![image](https://user-images.githubusercontent.com/6814606/62379161-fbfee600-b578-11e9-90f0-c514cfdb8494.png)

[2019-08-02 15:00] membphis opened #21 "route: 无法显示 route 列表页"
![image](https://user-images.githubusercontent.com/6814606/62379293-3ff1eb00-b579-11e9-9bda-80da61653c24.png)

应答体：

{"node":{"nodes":[{"value":{"host":"host","plugins":{},"uri":"\/hello","upstream_id":"2","service_id":"00000000000000041874","desc":"","remote_addr":"127.0.0.1"},"createdIndex":41875,"key":"\/apisix\/routes\/00000000000000041875","modifiedIndex":41875},{"value":{"uri":"\/{:.*}","ups

[2019-08-02 15:03] membphis opened #22 "style: need a better style"
![image](https://user-images.githubusercontent.com/6814606/62379441-90694880-b579-11e9-93a4-9fc6a92d8d5d.png)

[2019-08-02 15:22] juzhiyuan commented on #22
What style does the nodes value need?

[2019-08-03 00:25] membphis commented on #22
![image](https://user-images.githubusercontent.com/6814606/62404629-2e83ff80-b5c8-11e9-9cbc-b0b8400cc971.png)

how about this?

[2019-08-03 05:14] #22 closed

[2019-08-03 05:14] #18 closed

[2019-08-03 05:14] #20 closed

[2019-08-03 05:14] #21 closed

[2019-08-03 05:22] juzhiyuan commented on #20
@moonming  由于 Upstream 表单中 Nodes 值嵌套多层数据，不方便将表格最外层边框去掉。其它列表页最外层边框已去除。

[2019-08-08 07:03] niktan opened #24 "插件配置页面，按钮状态问题"
![QQ图片20190808150130](https://user-images.githubusercontent.com/6444534/62681985-9930a300-b9ed-11e9-9788-50192c018c67.png)
这里如果没有select 只有 input的话 confirm一直是灰的无法点击

[2019-08-08 07:05] niktan opened #25 "route配置页面问题，编辑Service及Upstream 无法删除配置"
![QQ截图20190808150450](https://user-images.githubusercontent.com/6444534/62682115-e57be300-b9ed-11e9-9738-5b00533edf44.png)

route配置页面，编辑Service及Upstream 无法删除配置。

[2019-08-09 01:55] juzhiyuan commented on #24
@niktan 收到，本周末修复。

[2019-08-11 12:08] juzhiyuan commented on #24
@niktan 已修复，请更新本地 dashboard_built 仓库。

[2019-08-13 06:07] #25 closed

[2019-08-13 06:07] #24 closed

[2019-08-19 09:26] niktan opened #26 "dashboard Log page need to cancel the default account password"
dashboard 登录页面取消默认记住的账号密码，并提供修改账号密码的操作。

目前默认是记住的账号密码，且不清楚在哪里修改账号密码。

The dashboard login page cancels the default account password and provides the operation of modifying the account password.

At present, the default is to remember the account password, and it is not clear where to modify the account password.

[2019-08-21 06:10] juzhiyuan commented on #26
目前账号密码为模拟数据，暂未开放该接口。

[2019-08-21 08:49] moonming opened #27 "typo of route page"
<img width="505" alt="图片" src="https://user-images.githubusercontent.com/26448043/63417324-9f823e80-c433-11e9-93cd-b27e17fc4d66.png">

should be `address`

[2019-08-21 09:03] membphis opened #28 "page style(route): inputs are categorized to make them easy to understand"
![image](https://user-images.githubusercontent.com/6814606/63418237-5501c180-c435-11e9-9cb7-207b89bdcdb6.png)

[2019-08-21 09:38] #27 closed

[2019-09-17 06:18] moonming opened #31 "the page of routes/list is too wide"
http://apisix.iresty.com/apisix/dashboard/#/schema/routes/list
![图片](https://user-images.githubusercontent.com/26448043/65015824-34a22580-d955-11e9-82b2-3002de944b18.png)

The page is too wide to see the right button. Instead, just keep the description, host, uri, plug-in information, and click "Edit" to display the other column points.

In addition, the "description" column is too wide and needs

[2019-09-17 06:23] moonming opened #32 "Create Routing Pages - Conditions and actions Separation"
http://apisix.iresty.com/apisix/dashboard/#/schema/routes/create

<img width="477" alt="图片" src="https://user-images.githubusercontent.com/26448043/65016327-8bf4c580-d956-11e9-98cb-feacacb68613.png">

Now conditions and actions are mixed up, and users are not clear. It needs to be clearly separated into two different areas.

[2019-09-17 06:40] moonming opened #33 "add support for `vars` in routing conditions"
https://github.com/iresty/lua-resty-radixtree#new Add `vars` to the conditions for creating routing pages.

Specific examples in the https://github.com/iresty/lua-resty-radixtree/blob/master/t/vars.t test, search `vars= {` can be, need to support equal, greater, less than, not equal to these operators; vars has supported nginx built-in variables and args, these need to be prompted in the interface

[2019-09-17 07:03] moonming opened #34 "adjust the Add Interface of the Plugin"
现在的做法是点击“添加插件”的按钮，弹出一个下拉列表来选择，这个方式交互比较复杂。
因为插件并不会很多，十来个，而且每个路由上同一个插件也只能绑定一个。
所以希望改为把所有插件都**平铺开**，排在前面的是用户已经选择的插件，并直接在插件名字下面显示插件的参数，点击可以进行修改。

Now the way is to click on the "Add Plug-in" button, pop up a drop-down list to select, this way of interaction is more complex.

Because there aren't many plug-ins, more than a dozen, and the same plug-in can only be bound to one plug-in per route.

So I ho

[2019-09-17 07:06] moonming opened #35 "add support for ip-restriction plugin"

[2019-09-17 07:15] moonming opened #36 "bug: not support serverless plugin"

[2019-09-17 11:07] eep2019 commented on #31
I will do this

[2019-09-17 11:59] eep2019 commented on #32
working on this

[2019-09-17 12:42] eep2019 commented on #33
I will do this.

[2019-09-18 01:46] membphis opened #37 "UI improvement: When the upstream load balancing algorithm is chash, the choice of key can be made into a drop-down list."
schema is here：https://github.com/iresty/apisix/blob/master/lua/apisix/schema_def.lua#L216

![image](https://user-images.githubusercontent.com/6814606/65097171-1d1c7880-d9f9-11e9-83a7-94a75c7e7ba2.png)

[2019-09-23 08:42] MorningGlow opened #38 "can add pages and corresponding fuzzy queries"
![F3FAB83A-51E0-478e-B7DE-4EA740092FDC](https://user-images.githubusercontent.com/10829744/65411989-da0b3c80-de20-11e9-8e6b-05c01dc8ae85.png)

If there are too many entries, it is not convenient to see and find, so can we add paging and corresponding fuzzy queries?

[2019-09-23 14:39] juzhiyuan commented on #38
Good idea, we may need two query parameters `page` & `limit` for API.

[2019-09-24 00:03] moonming commented on #38
agreed.

[2019-09-27 03:37] juzhiyuan opened #39 "Feature Remove unused dependencies"
@moonming @membphis  Do we need remove those unused dependencies? so that the Dashboard can be more slim but run faster.

[2019-09-27 04:11] moonming commented on #39
sure, that will be great.

[2019-09-27 05:46] juzhiyuan commented on #39
Ok, then I will process this this weekend.

[2019-09-28 16:26] juzhiyuan commented on #39
@moonming I just removed some components & dependencies we don't need from master branch, and I have rebuilt the `apisix_dashboard_built` repo.

[2019-09-28 16:30] juzhiyuan commented on #39
|Dependency|License|
|-------------|--------|
| fuse.js |	Apache-2.0 |
|echarts	| Apache-2.0|
|axios	|MIT|
|element-ui	|MIT|
|js-cookie	|MIT|
|normalize.css	|MIT|
|nprogress	|MIT|
|path-to-regexp	|MIT|
|register-service-worker	|MIT|
|screenfull	|MIT|
|uuid	|MIT|
|vue	|MIT|
|vue-class-component	|MIT|
|vue-count-to	|MIT|
|vue-i18n	|MIT|
|vue-property-decorator	|MIT|
|vue-router	|MIT|
|vue-svgicon	|M

[2019-09-28 16:30] juzhiyuan commented on #39
|Dependency|License|
|-------------|--------|
| fuse.js |	Apache-2.0 |
|echarts	| Apache-2.0|
|axios	|MIT|
|element-ui	|MIT|
|js-cookie	|MIT|
|normalize.css	|MIT|
|nprogress	|MIT|
|path-to-regexp	|MIT|
|register-service-worker	|MIT|
|screenfull	|MIT|
|uuid	|MIT|
|vue	|MIT|
|vue-class-component	|MIT|
|vue-count-to	|MIT|
|vue-i18n	|MIT|
|vue-property-decorator	|MIT|
|vue-router	|MIT|
|vue-svgicon	|M

[2019-09-28 16:33] #39 closed

[2019-09-30 07:27] membphis opened #41 "UI design: create new route"
1. allow to select the filter
1. allow to delete existing conditions
1. the option `host`, `remote address`, and `method`, the user is allowed to enter multiple different values, use space as separator
1. necessary conditions: uri and service, others are optional

1. 用户选择需要添加的过滤条件
2. 也可以对已有条件删除
3. 在 host、remote_addr 和 methods 选项中，均允许用户输入多个不同的值，空格分割
4. 必要条件：uri 和 服务，其他均为可选

[2019-09-30 07:28] membphis commented on #41
用户按需添加可选字段，对于不关心过滤条件，在界面上完全不显示

![image](https://user-images.githubusercontent.com/6814606/65857708-f6febd00-e396-11e9-8ac9-1098adabf686.png)

[2019-09-30 07:31] membphis commented on #41
Option B: 界面上告诉用户所有大的选项，用户手动点击右侧的 CheckBox 决定是否开启这个可选项。

![image](https://user-images.githubusercontent.com/6814606/65857812-2f9e9680-e397-11e9-8e3f-fe407da798eb.png)

[2019-09-30 07:45] membphis opened #42 "UI design: create new service"
![image](https://user-images.githubusercontent.com/6814606/65858742-4b0aa100-e399-11e9-9033-16460a639520.png)

[2019-09-30 07:49] moonming commented on #41
only `uri` is required, `host`,`remote_addr` and `methods` are optional.
plan B is the fast way to choose conditions.

[2019-09-30 07:49] membphis commented on #42
1. add a new button named `View`, we can view the config of specified service or upstream.
2. Show all optional plugins in a tiled way.
3. Click to open the specified plugin and configure its parameters. If there are no parameters, just put them in the open plugin bar.

[2019-09-30 07:55] linsir commented on #41
I think the plan A is simpler and easier to understand.

[2019-09-30 08:11] totemofwolf commented on #41
选项A 更合适，（必选）的界面适合所有人，隐藏的选项（界面）适合于高端玩家，高端玩家会自行探索 "+"后的奥秘

[2019-10-24 11:05] juzhiyuan opened #44 "Add test cases: UI"
https://github.com/nightwatchjs/nightwatch

- [ ] User Login
- [ ] Route (could waiting for https://github.com/apache/apisix-dashboard/issues/491)
- [ ] Route Group
- [ ] Upstream
- [ ] Plugins
- [ ] Consumer
- [ ] SSL

## Reference
- https://pro.ant.design/docs/ui-test-cn
- Cypress

[2019-10-30 01:33] lilien1010 commented on #37
@juzhiyuan  how is the work about this feature going on？

[2019-10-30 01:41] lilien1010 commented on #37
@juzhiyuan
https://github.com/apache/incubator-apisix/pull/719
after the PR is merged
I think it support nginx built-in variables like `uri,server_name,server_addr,request_uri,remote_port,remote_addr,query_string,host,hostname,arg_***` , `arg_***` ，so the droplist should be editable & selectable

[2019-10-30 02:10] juzhiyuan commented on #37
@lilien1010 Not implemented yet, welcome to send a PR if you could help.

[2019-11-01 08:48] justinmclean opened #54 "License information goes in LICENSE not NOTICE"
https://github.com/apache/incubator-apisix-dashboard/blob/31cac84fc5f569f4c6b70e048c2bb6e9271bf3a2/NOTICE#L7

[2019-11-01 09:07] juzhiyuan opened #55 "bug: Can't load plugin info from API"
## Plugin

`serverless-pre-function`, `serverless-post-function`

## Request

[code]

## Screenshot

![image](https://user-images.githubusercontent.com/2106987/68014233-e5784000-fcc9-11e9-8f12-3a671fb07dfc.png)

![image](https://user-images.githubusercontent.com/2106987/68014282-0c367680-fcca-11e9-991a-26abbe387906.png)

[2019-11-01 09:08] #55 closed

[2019-11-01 09:11] juzhiyuan commented on #55
https://github.com/apache/incubator-apisix/issues/785

[2019-11-03 09:01] lilien1010 opened #57 "bug: when enter the router list ,the Action column out of views"
when enter the router list ,the Action column out of views,we always need to scroll to the right, which is inconvenient

[2019-11-03 09:03] lilien1010 opened #58 "bug: each time I input a new upstream or router, the list is always in different order"
each time I input a new upstream or router, the list is always in different order,

which I think it will better to ordered by RouterId or Upstream ID

[2019-11-03 09:04] lilien1010 opened #59 "bug: not support multi hosts and multi uris when create a router"

[2019-11-04 05:36] #54 closed

[2019-11-04 15:14] lilien1010 opened #64 "feature: it's better for users can choose chash keys from a dropdown list"

[2019-11-05 01:47] juzhiyuan opened #66 "LICENSE: remove ALv2 header from original files"

[2019-11-07 02:39] #64 closed

[2019-11-07 02:53] #57 closed

[2019-11-07 02:53] #58 closed

[2019-11-07 02:53] #59 closed

[2019-11-07 02:54] juzhiyuan opened #69 "null value option can be selected in Route Edit Page"
hi @lilien1010, I found one issue here, the user can select a null value option.

related PR https://github.com/apache/incubator-apisix-dashboard/pull/62

![image](https://user-images.githubusercontent.com/2106987/68356287-d7547480-014c-11ea-9681-0a63cf4ae348.png)

[2019-11-07 03:58] juzhiyuan commented on #66
Also, add MIT License to those files.

[2019-11-07 10:11] lilien1010 commented on #69
ok

[2019-11-07 16:17] lilien1010 opened #71 "bug: unable to open websocket proxy in proxy-write plugin"
![image](https://user-images.githubusercontent.com/3814966/68406644-1fab7b00-01bd-11ea-90aa-25394f2f09e2.png)

[2019-11-08 03:44] #71 closed

[2019-11-08 05:54] juzhiyuan commented on #66
Will do this weekend.

[2019-11-09 01:43] #69 closed

[2019-11-09 03:13] lilien1010 commented on #37
@juzhiyuan  I think this one it already fix in PR :https://github.com/apache/incubator-apisix-dashboard/pull/65

[2019-11-09 09:36] lilien1010 opened #74 "bug: lost former config data in route after can set multiple uris"

[2019-11-09 12:45] #37 closed

[2019-11-09 14:06] #66 closed

[2019-11-09 16:51] #74 closed

[2019-11-25 08:00] chnliyong opened #79 "textarea for SSL certificate and key is too small"
![20191125155841](https://user-images.githubusercontent.com/4197225/69522521-8cd05600-0f9c-11ea-8c8e-f940b98e16f0.jpg)

The certificate and private key's pem encoded data is about 64 bytes width, I think 80 bytes width may be good.

[2019-11-30 06:51] #79 closed

[2019-12-10 13:40] showsmall opened #87 "build error"
[root@localhost incubator-apisix-dashboard]# node -v
v10.16.3
[root@localhost incubator-apisix-dashboard]# yarn -v
1.19.2
[root@localhost incubator-apisix-dashboard]# cat /etc/redhat-release
CentOS Linux release 7.6.1810 (Core)
[root@localhost incubator-apisix-dashboard]#

 ERROR  Failed to compile with 2 errors

[2019-12-11 02:15] juzhiyuan commented on #87
Not building under RedHat yet, will try later.

[2019-12-14 02:45] jiezaizone opened #88 "配置路由参数类型错误，urls、hosts选项不能录入"
![image](https://user-images.githubusercontent.com/28976666/70842443-b32c3780-1e5e-11ea-9cb2-bf4884ebc9c0.png)
配置路由参数类型错误，urls、hosts选项不能录入
类型应该为input，select 的话需要有个可以配置选项的入口

[2019-12-15 12:45] juzhiyuan commented on #88
You can input any value directly or select any existing options

[2019-12-16 03:19] jiezaizone commented on #88
URLs可以这样录入，但Hosts录入失败，录入值选中后自动情况

[2019-12-16 03:23] jiezaizone commented on #88
![image](https://user-images.githubusercontent.com/28976666/70876903-67ac9180-1ff6-11ea-9f06-5aff67274891.png)
urls可以通过录入回车（选中）的方式录入值，hosts则录入失败，会被清空

[2019-12-16 03:25] jiezaizone commented on #88
![image](https://user-images.githubusercontent.com/28976666/70877024-bf4afd00-1ff6-11ea-983d-362e0c284472.png)
测试了，hosts要输入域名才可以，ip则不行

[2019-12-17 09:07] juzhiyuan commented on #88
Will check today

[2019-12-17 09:08] juzhiyuan opened #89 "Fix typo"
"请选择" -> "请输入后回车"

[2019-12-17 09:08] juzhiyuan opened #90 "update i18n"

[2019-12-18 05:10] jiezaizone opened #91 "Plugin proxy-rewrite headers do not edit"
![image](https://user-images.githubusercontent.com/28976666/71057429-9dd54700-2197-11ea-861d-b8dc1b7b35a0.png)
proxy-rewrite headers 不可编辑

[2019-12-18 05:13] jiezaizone opened #92 "Routes 不是通过upstream_id 绑定方式添加的Upstreams无法在UI上体现出来"

[2019-12-18 07:25] totemofwolf opened #93 "bug: SSL certs key content should be kept secret in dashboard"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 0.9
* OS: alpine 3.7

### Minimal test code / Steps to reproduce the issue

### What's the actual result? (including assertion message & call stack if applicable)

### What's the expected result?

![11576646267_ pic](https://user-images.githubusercontent.com/1818214/71064620-7b005e00-21aa-11ea-86f7-a58ff39ba1ee.jpg)

[2019-12-18 10:45] juzhiyuan commented on #93
@totemofwolf  API CAN NOT response the content of KEY to /api/admin/

[2019-12-18 14:46] juzhiyuan commented on #92
Could you give a detailed description please? Some screenshots may help me to get your point.

[2019-12-18 14:47] juzhiyuan commented on #91
Thanks! Welcome PR!

[2019-12-19 02:00] jiezaizone opened #94 "Plugin serverless-pre-function function不可编辑"
![image](https://user-images.githubusercontent.com/28976666/71138385-480ba800-2246-11ea-8c02-075c8cde119b.png)
Plugin serverless-pre-function function不可编辑

[2019-12-19 02:13] jiezaizone commented on #92
[code]
![image](https://user-images.githubusercontent.com/28976666/71138637-1f37e280-2247-11ea-981f-16f380716520.png)
比如我执行上述命令，手动添加了负载均衡，并添加了健康检查。在列表中、编辑页面上看不到这两方面的信息（会误以为没有添加）。相对的，在这情况下，我继续编辑页面上修改并保存，如果选了Upstream会覆盖掉我之前定义的负载均衡和健康检查；如果没有修改或修改描述这些数据保存则会报错`invalid configuration: object matches none of the alternatives`
![image](https://user-images.githubusercontent.com/28976666/71138788-835aa680-22

[2019-12-19 02:28] juzhiyuan commented on #94
It's caused by unset value type, welcome PR.

[2019-12-19 02:34] juzhiyuan commented on #92
clearly now, thanks for your reply. Currently, dashboard will only show upstreams added by selecting id. I will fix this issue this weekend.

[2019-12-19 03:08] jiezaizone commented on #92
第二点：在路由上已经配置有hosts，checks. active 还需要配置host 是否显得有点儿多余／重复？安装我的理解，它既然已经绑在在路由上，应该就对该路由上的hosts都生效才对

[2019-12-19 03:21] membphis opened #95 "no need to support select input for host and uri."
I think the same `uri` will hardly appear in different `route`.

![image](https://user-images.githubusercontent.com/6814606/71142178-92deed00-2251-11ea-84a5-576eece20d23.png)

[2019-12-19 03:25] membphis commented on #95
@lilien1010 What do you think?

[2019-12-19 03:28] juzhiyuan commented on #95
This component is allowed to create new items

https://www.iviewui.com/components/select

![image](https://user-images.githubusercontent.com/2106987/71142537-a474c480-2252-11ea-90ae-bc25e3a23e03.png)

[2019-12-19 03:35] juzhiyuan commented on #92
Hi @membphis , could you help to involve this issue?

[2019-12-19 03:50] juzhiyuan opened #96 "Improve the typings for Dashboard"
Currently, some values are marks as `any` type, it's not good for further development.

[2019-12-19 04:13] juzhiyuan opened #97 "Update the package version of serialize-javascript"

[2019-12-19 04:15] moonming commented on #97
Upgrade serialize-javascript to version 2.1.1 or later. For example:

serialize-javascript@^2.1.1:
  version "2.1.1"

[2019-12-19 09:33] jiezaizone opened #98 "Plugin ip-restriction 的黑白名单无法编辑"
![image](https://user-images.githubusercontent.com/28976666/71162075-7ceb1f80-2285-11ea-8464-1d3d9e175203.png)

[2019-12-21 13:46] jiezaizone opened #99 "Can you provide a UI interface to count the access flow"

[2019-12-21 13:51] jiezaizone commented on #95
会有这个需求的，像我公司的系统由好几个子系统组成，共享同一个域名，就是通过路由规则来区分转发的。

[2019-12-21 14:22] jiezaizone commented on #99
希望能够有个UI界面，统计整个网关的流量访问情况，包括各个路由的流量访问情况。能够有个直观的体现

[2019-12-22 07:08] #89 closed

[2019-12-22 07:41] juzhiyuan commented on #97
After several searches, this dependency is related to `vue/cli-service`， the better way to fix this is to upgrade the vue-cli dependency. Because it's not an urgent issue, we could do it when we are ready to upgrade vue-cli tools.

[2019-12-22 07:42] #97 closed

[2019-12-22 07:45] juzhiyuan commented on #93
In my opinion, I think this issue can be resolved by API, when fetching the existing SSL certificate info, api could not send back the cert content.

[2019-12-23 10:09] Miss-you opened #102 "bug: Routes cannot bind plugins"
### Issue description

![image](https://user-images.githubusercontent.com/3816205/71351557-f8630e80-25ae-11ea-86ce-6dd9fa6f88c2.png)

I created a route. When binding the plugin, I chose the serverless-pre-function plugin. Then, instead of clicking Confirm, I clicked the Cancel button. When I chose another plugin, I found unable to bind other plugin.

### Environment

* apisix version (cmd: `apisix

[2019-12-24 06:47] juzhiyuan commented on #36
![image](https://user-images.githubusercontent.com/2106987/71398534-a88e5100-265b-11ea-8d58-a5928a340fdf.png)

![image](https://user-images.githubusercontent.com/2106987/71398695-3c601d00-265c-11ea-87a0-3755d449cc8a.png)

hi @moonming , does it mean there should have a list which could input multiple [function codes](https://github.com/apache/incubator-apisix/blob/master/t/plugin/serverless.t#L254

[2019-12-24 06:54] moonming commented on #36
yes, it supports multiple functions.

[2019-12-24 06:54] juzhiyuan commented on #36
We could use [lua codemirror](https://codemirror.net/mode/lua/index.html) here to support a better code experience.

[2019-12-24 06:55] moonming commented on #36
which is great.

[2019-12-24 06:55] juzhiyuan commented on #94
related issue https://github.com/apache/incubator-apisix-dashboard/issues/36

[2019-12-24 07:23] juzhiyuan commented on #98
hi @membphis , according to the [description](https://github.com/apache/incubator-apisix/blob/master/t/plugin/ip-restriction.t#L193), when I try to use ip-restriction plugin, error occurred:

![image](https://user-images.githubusercontent.com/2106987/71400202-f22d6a80-2660-11ea-931f-decd4772249f.png)

![image](https://user-images.githubusercontent.com/2106987/71400206-f6f21e80-2660-11ea-884f-99851

[2019-12-24 07:29] juzhiyuan opened #104 "Main icons disappear"
![image](https://user-images.githubusercontent.com/2106987/71400563-2e14ff80-2662-11ea-9b84-ef82abb6ca60.png)

![image](https://user-images.githubusercontent.com/2106987/71400582-3836fe00-2662-11ea-98aa-bdbc0b1df4f8.png)

[2019-12-24 07:58] juzhiyuan opened #105 "Refactor plugin dialog"
Currently, the contents of plugin dialog are generated by checking plugin properties' type. We could refactor the PluginDialog into 3 components: PluginDialog, TargetPluginComponent, BaseComponent.

1. BaseComponent includes components like `InputComponent`, `SelectComponent`, etc.
2. TargetPluginComponent means something like `IpRestrictionPluginComponent`, `ServerlessPostFunctionPluginComponent`

[2019-12-24 08:06] moonming commented on #98
no `upstream` section?

[2019-12-24 08:10] juzhiyuan commented on #98
Create succeed when I choose one upstream!!

[2019-12-24 08:12] #98 closed

[2019-12-24 08:12] moonming commented on #98
looks like we need one more friendly way

[2019-12-24 08:16] juzhiyuan commented on #98
Yep, I will create a new issue.

[2019-12-24 08:24] juzhiyuan commented on #91
@moonming @membphis

![image](https://user-images.githubusercontent.com/2106987/71402861-f493c280-2668-11ea-81b0-cc8edbe8691b.png)

There should have a multiple lines input box, each line contains a Header Key input box and a Header Value input box. I can implement the UI according the specific rule: by checking if the current plugin is  `proxy-rewrite` and if the target property is `headers`, whi

[2019-12-24 10:54] #88 closed

[2019-12-24 10:56] juzhiyuan commented on #102
related issue https://github.com/apache/incubator-apisix-dashboard/issues/36

[2019-12-25 02:56] jiezaizone opened #107 "Plugin proxy-rewrite 保存异常"
![image](https://user-images.githubusercontent.com/28976666/71430085-edba8d80-2704-11ea-8916-8a9e3ace38a4.png)
![image](https://user-images.githubusercontent.com/28976666/71430104-062aa800-2705-11ea-8f5d-e11a9558eacd.png)
![image](https://user-images.githubusercontent.com/28976666/71430113-0e82e300-2705-11ea-9b81-650d7634cea2.png)
按照上述流程，先编辑保存，再编辑删除url保存报错

[2019-12-25 05:01] jiezaizone commented on #107
![image](https://user-images.githubusercontent.com/28976666/71432777-b2c15580-2716-11ea-9b6d-cdc8e7592a43.png)

[2019-12-28 10:25] jiezaizone opened #108 "npm run build 后访问异常"
直接你`npm run serve` 访问正常，但是`npm run build` 后启动就访问异常
![image](https://user-images.githubusercontent.com/28976666/71542251-0e057900-299f-11ea-972e-715b3373287e.png)
![image](https://user-images.githubusercontent.com/28976666/71542273-5de44000-299f-11ea-9ea6-9eab00862020.png)
最新master代码有这个问题，之前是ok的

[2019-12-29 03:00] juzhiyuan commented on #108
是 `npm run build:prod` 吧

[2019-12-29 03:56] jiezaizone commented on #108
我自己不想输入prod 修改了命令。实际执行了`npm run build:prod`。
[code]
新打了镜像访问报错，本地就更新了代码试一下，果然一样的异常，你们可以试一下。

[2019-12-30 02:28] juzhiyuan commented on #108
@jiezaizone I tried on my local machine, no error occurred. @membphis could you please help to deploy the latest dashboard on `http://apisix.iresty.com/apisix/dashboard/`?

[2019-12-30 02:41] juzhiyuan commented on #108
![image](https://user-images.githubusercontent.com/2106987/71566234-de668600-2af0-11ea-8879-053cf5c8a045.png)

It seems some files cannot retrieve.

[2019-12-31 06:26] jiezaizone commented on #108
nginx.conf
[code]

[2019-12-31 06:58] jiezaizone commented on #108
我特意拿了一台新的服务器测试一下，还是一样的问题。
新的服务器，新拉的代码，直接`yarn install && yarn run build:prod`,运行还是一样的问题。
我自己mac、服务器centos7都是一样的。
![image](https://user-images.githubusercontent.com/28976666/71612805-b012a480-2bdd-11ea-9205-334aafa7fcb0.png)

![image](https://user-images.githubusercontent.com/28976666/71612780-907b7c00-2bdd-11ea-9c1c-cc7c231cef8b.png)
![image](https://user-images.githubusercontent.com/28976666/7161

[2020-01-01 16:54] juzhiyuan commented on #108
could you add my wechat (jushaoyao)? so we could use TeamViewer to debug this issue.

[2020-01-02 03:28] jiezaizone commented on #108
已经添加。你可以试试dockerfile构建镜像，nginx就是普通的nginx，
https://cli.vuejs.org/zh/guide/deployment.html#docker-nginx
拿的是vue提供的dockerfile 和nginx。就是使用的node被我改成alpine:latest 而已。

[2020-01-02 11:27] juzhiyuan commented on #108
FYI: After several discussions offline, this issue is related to the default setting under `vue.config.js` file. Please set `publicPath` to `/` before `run build` if your dashboard is not under `/apisix/dashboard` directory.

![image](https://user-images.githubusercontent.com/2106987/71664885-b8154480-2d95-11ea-9919-2542cf04ca24.png)

[2020-01-02 11:28] juzhiyuan commented on #108
If any related issues found, welcome to reopen this issue.

[2020-01-02 11:28] #108 closed

[2020-01-02 11:29] juzhiyuan opened #109 "Adding description for default publicPath"
related issue https://github.com/apache/incubator-apisix-dashboard/issues/108#issuecomment-570181978

[2020-01-03 14:59] juzhiyuan opened #112 "icon disappear in Hash mode"

[2020-01-03 14:59] #112 closed

[2020-01-04 09:09] jiezaizone opened #113 "openid-connect Plugin 点击一次后关闭，再点击弹窗就出不来了"
![image](https://user-images.githubusercontent.com/28976666/71763255-c63d9f00-2f14-11ea-8fa9-cca0062ebb8d.png)
`openid-connect Plugin` 点击一次后关闭，再点击弹窗就出不来了

[2020-01-04 09:24] jiezaizone opened #114 "Plugin openid-connect Edit 编辑bearer_only 、ssl_verify 保存按钮不可点击"
![image](https://user-images.githubusercontent.com/28976666/71763443-ebcba800-2f16-11ea-9d72-ef070784e6dc.png)
Plugin openid-connect Edit 编辑bearer_only 、ssl_verify 保存按钮不可点击

[2020-01-04 09:58] jiezaizone opened #115 "SSL编辑时候，原有key是否应该不可见？出于安全性考虑"
![image](https://user-images.githubusercontent.com/28976666/71763822-71e9ed80-2f1b-11ea-84e0-04387967d970.png)
SSL编辑时候，原有key是否应该不可见？出于安全性考虑，可以编辑但不反显。

[2020-01-04 11:49] juzhiyuan commented on #115
related issue https://github.com/apache/incubator-apisix/issues/994

[2020-01-06 12:11] aimpsmile opened #116 "upstream page displays table error"
eg:
`json
{
    "node": {
        "nodes": [
            {
                "value": {
                    "nodes": {
                        "nodejs.service:3000": 1
                    },
                    "desc": "yapi",
                    "type": "roundrobin"
                },
                "createdIndex": 173,
                "key": "/apisix/upstreams/00000000000000000164",

[2020-01-06 15:34] juzhiyuan commented on #116
Hi, I'd love to know which browser are you using?

[2020-01-07 01:00] todzhang opened #117 "add svg-icon support"
migrate code from vue-typescript-admin-template. So dashboard can display icons

[2020-01-07 01:04] todzhang commented on #117
[svgicon.zip](https://github.com/apache/incubator-apisix-dashboard/files/4028455/svgicon.zip)
patch for svgicon

[2020-01-07 02:10] aimpsmile commented on #116
![{897FBDDB-5768-4064-9017-7AB852C74025}_20200107100939](https://user-images.githubusercontent.com/8934904/71862771-df716600-3135-11ea-8abc-c300609c9e63.jpg)

[2020-01-07 03:07] juzhiyuan commented on #116
I think the green background is related to some Chrome extensions, could you please have a try on Privacy mode? for no extensions will execute in Privacy mode.

[2020-01-07 03:07] juzhiyuan commented on #116
![image](https://user-images.githubusercontent.com/2106987/71865513-f451f780-313d-11ea-83d9-e11e7e6e3df8.png)

[2020-01-07 03:59] aimpsmile commented on #116
Ok. I do try

[2020-01-07 05:15] aimpsmile commented on #116
![{61A42D2D-5284-46A3-9079-12FCBA9ABAB9}_20200107131017](https://user-images.githubusercontent.com/8934904/71870001-36376980-314f-11ea-9693-7f5398957911.jpg)
have not changed. It's the same on your side？

[2020-01-07 05:28] aimpsmile commented on #116
I add second node or more  on upstreams are displays error,only one nodes displays not are problume .

[2020-01-07 06:12] juzhiyuan commented on #116
I see... I thought your question is why the browser is in Green background..

Please use the latest codes from master branch instead, if you could not build the Dashboard, I'm glad to help you.

[2020-01-07 06:14] juzhiyuan commented on #116
[dashboard.tar.gz](https://github.com/apache/incubator-apisix-dashboard/files/4029142/dashboard.tar.gz)

You could use this latest dashboard.

[2020-01-07 06:16] aimpsmile commented on #116
thanks. I have a try

[2020-01-07 06:23] aimpsmile commented on #116
So good. now not problem

[2020-01-07 06:23] #116 closed

[2020-01-07 09:26] juzhiyuan commented on #116
Thanks for your issues found :)

[2020-01-19 09:01] masterclock opened #119 "hosts contains a `null` value when creating routes"
![image](https://user-images.githubusercontent.com/4335809/72677992-d50f7e80-3adc-11ea-8dc0-3cbe26a9dbf9.png)

saving results error message:
[code]

by inspecting the api call payload:
[code]

note there's a null in hosts

[2020-01-23 15:26] agile6v opened #122 "A few suggestions"
Hi
I have a few suggestions that are not necessarily right, for reference only.

1. New form page (such as:  routes, upstreams, services, ssl, consumers) can be center-aligned.
2. If the node option is required, it can be displayed directly, other pages are similar.

![image](https://user-images.githubusercontent.com/2017491/72997012-a247ec00-3e36-11ea-9a47-f18111ff8ebc.png)

3. The layout is too

[2020-02-13 09:14] membphis opened #124 "bug: when the window is small, the icon is missing"
![image](https://user-images.githubusercontent.com/6814606/74418966-2dd7fa00-4e84-11ea-90fa-abee6aa35ff8.png)

[2020-02-17 01:53] juzhiyuan opened #125 "Install dependency failed on Debian"
https://github.com/laverdet/node-fibers/issues/434

[2020-02-20 03:57] xzy1586 opened #126 "没有登录验证，不能修改用户密码"
没有登录验证，不能修改用户密码

[2020-02-22 04:41] transtone opened #127 "build error, please update vue-typescript-admin-template version"
[code]

[2020-02-22 04:57] transtone commented on #87
https://github.com/apache/incubator-apisix-dashboard/issues/127

[2020-02-22 04:58] transtone commented on #127
https://github.com/apache/incubator-apisix-dashboard/issues/87

[2020-02-22 06:29] transtone commented on #127
https://github.com/Armour/vue-typescript-admin-template/commit/49db340a121fa5879870e584157e453cb0f71040

[2020-02-24 08:36] juzhiyuan commented on #127
Thanks! Could you please send a PR?

[2020-02-24 08:38] juzhiyuan commented on #127
related issue on forum https://apisix.dev/d/3-dashboard-v1-0

[2020-02-27 11:44] jiezaizone opened #128 "build error"
![image](https://user-images.githubusercontent.com/28976666/75441496-bb453f00-5998-11ea-883f-ddbfd34335e4.png)

[2020-02-29 00:30] juzhiyuan commented on #128
fixed just now

[2020-02-29 00:30] #128 closed

[2020-02-29 00:30] juzhiyuan commented on #127
fixed just now

[2020-02-29 00:30] #127 closed

[2020-02-29 00:33] juzhiyuan commented on #126
There has no auth logic currently on Frontend, but you could modify the `login` logic manually. And APISIX is considering to implement the auth by Token check.

[2020-02-29 00:33] #87 closed

[2020-03-03 09:52] xiangxiren opened #132 "菜单栏收缩按钮不清晰"
![image](https://user-images.githubusercontent.com/12774053/75763575-68dc9780-5d77-11ea-9e7d-b49f93142e98.png)
参考标题

[2020-03-03 10:16] membphis commented on #132
please use English in public channel

[2020-03-04 02:00] xiangxiren commented on #132
as can be seen from the figure above,the menu bar shrink button is unclear

[2020-03-05 02:33] jiezaizone opened #133 "The navigation bar is not visible"
![image](https://user-images.githubusercontent.com/28976666/75942155-a1da5080-5ecc-11ea-8c3a-fa1bfe20687e.png)
The navigation bar is not visible and does not shrink, but it is clickable

[2020-03-05 02:38] jiezaizone opened #134 "We're sorry but Dashboard for APISIX doesn't work properly without JavaScript enabled. Please enable it to continue."
![image](https://user-images.githubusercontent.com/28976666/75942237-d64e0c80-5ecc-11ea-9c0d-e348cbc9c3d3.png)
When the project runs after build, "We're sorry but Dashboard for APISIX doesn't work without JavaScript enabled. Please enable it to continue."
The browser supports script, so it is normal to run the server directly.

[2020-03-10 02:25] juzhiyuan commented on #134
This issue occurred on your server side, whenever you are trying to preview the PAGE html, it will show this tip.

[2020-03-10 02:25] juzhiyuan commented on #134
Please check your server configuration carefully, or I could help you by screen sharing when you have time.

[2020-03-10 02:26] juzhiyuan commented on #133
related issue and will be fixed on next version.

https://github.com/apache/incubator-apisix-dashboard/issues/124

[2020-03-10 02:26] #133 closed

[2020-03-10 02:27] #132 closed

[2020-03-10 02:46] juzhiyuan opened #136 "Complete the License information for the next dashboard"
We are building the next dashboard based on Ant Design Pro, which is an Open Source project for building awesome dashboard. We need your help to add the License to the following files under `next` branch, just like [1], but be carefully, we should use [2] this one instead. Please send a PR once you complete this issue.

1. Please create the `LICENSE` file under `next` branch, the content should be

[2020-03-10 02:47] juzhiyuan commented on #136
@moonming The dashboard boilerplate is under MIT License, I'm not sure if we need add MIT License to them?

[2020-03-10 02:53] moonming commented on #136
yes, we need add the license for it.

Thanks,
Ming Wen
Twitter: _WenMing

琚致远 <notifications@github.com> 于2020年3月10日周二 上午10:47写道：

[2020-03-10 02:54] juzhiyuan opened #137 "Adding X-API-KEY for api request"
Our API for dashboard is using API Key to auth the request, please add the API Key Header in global request handler. Just like [1] for reference. Please note, this key should be added by `config` file, such as `.env` file. I recommend fetching this key by `fetchAPIKey` API.

[1] https://github.com/apache/incubator-apisix-dashboard/commit/b3b306550e8e5153d42d943d2d652914e2ad88e3#diff-084c3d9c2786b7

[2020-03-10 02:57] juzhiyuan commented on #136
Just for sure, which files should add the MIT header? We would use nearly all of them.

[2020-03-10 02:59] juzhiyuan opened #138 "Please choose the APISIX version"
Please choose the APISIX version (0.9 ~ 1.1), which one should the dashboard is compatible with?

[2020-03-10 03:00] bruce-sha opened #152 "bug: heartbeat & node-status plugin error via dashboard operation"
### Issue description
when the admin user add a plugin to a router  via dashboard operation,  the heartbeat & node-status plugin will  report "not found schema"  error：

<img width="1081" alt="image" src="https://user-images.githubusercontent.com/920678/76275430-40e0bd00-62be-11ea-86b6-e143626c821f.png">

### Environment

* apisix version (cmd: `apisix version`): 1.1
* OS: centos7

### Minimal tes

[2020-03-10 03:01] moonming commented on #136
here is a example:
https://github.com/apache/incubator-apisix-dashboard/blob/master/LICENSE#L205

Thanks,
Ming Wen
Twitter: _WenMing

琚致远 <notifications@github.com> 于2020年3月10日周二 上午10:57写道：

[2020-03-10 03:03] juzhiyuan opened #139 "Check the API version for every request"
In order to make sure the dashboard is using the correct API version, we'd better add the APISIX version in every api response.

Please
1. Add the dashboard api version variable in the config file.
2. Check every api response in the `request.ts` file, show a alert when the dashboard version is not compatible with the APISIX version.

[2020-03-10 03:04] juzhiyuan commented on #136
Oh I see, so we don't have to add MIT header for every file under `next` branch? Just add the License line in `LICENSE` file?

[2020-03-10 03:05] moonming commented on #136
yes, you are right.

Thanks,
Ming Wen
Twitter: _WenMing

琚致远 <notifications@github.com> 于2020年3月10日周二 上午11:04写道：

[2020-03-10 03:09] juzhiyuan opened #140 "Adding commit message checker"
For the quality of every commit message, please add the Commit Message checker just like [1].

[1] https://github.com/vuejs/vue-next/blob/master/scripts/verifyCommit.js

[2020-03-10 03:43] juzhiyuan commented on #136
@moonming Just updated the issue#1, please take a look when you are free.

[2020-03-10 03:48] juzhiyuan opened #141 "Adding files for release"
1. CHANGELOG
2. DISCLAIMER
3. NOTICE
4. LICENSE
5. Contributing

And the translation version in Chinese of course.

[2020-03-10 03:55] juzhiyuan opened #142 "Adding release command"
`yarn bundle:release`

https://github.com/vuejs/vue-next/blob/master/scripts/release.js

[2020-03-10 03:57] juzhiyuan opened #143 "Adding Route Module"

[2020-03-10 03:59] juzhiyuan opened #144 "Adding Consumer Module"

[2020-03-10 04:00] juzhiyuan opened #145 "Adding Service module"

[2020-03-10 04:00] juzhiyuan opened #146 "Adding SSL list page"

[2020-03-10 04:00] juzhiyuan opened #147 "Adding Upstream module"

[2020-03-10 04:02] juzhiyuan commented on #137
https://github.com/apache/incubator-apisix-dashboard/issues/126

[2020-03-10 04:02] juzhiyuan commented on #126
We could use https://github.com/apache/incubator-apisix-dashboard/issues/137 in next version.

[2020-03-10 04:04] juzhiyuan opened #148 "Update information on next Dashboard"
1. Logo
2. config file
3. Footer

[2020-03-10 04:05] #125 closed

[2020-03-10 04:05] juzhiyuan commented on #104
https://github.com/apache/incubator-apisix-dashboard/issues/124

[2020-03-10 04:05] #104 closed

[2020-03-10 05:59] #148 closed

[2020-03-10 10:27] juzhiyuan commented on #138
@membphis  Once the version is made sure, could you please deploy the APISIX on the admin server?

[2020-03-10 12:41] Gary-Airwallex opened #150 "基于淘宝镜像的yarn.lock在Gitlab CI上出现连接问题"
请问yarn.lock是否可以自己生成，或者把registry替换成其他地址？

[2020-03-10 12:48] juzhiyuan commented on #150
You could use Taobao's mirror.

[2020-03-11 02:23] Gary-Airwallex commented on #150
现在的问题是我们GCP asia-east上的镜像和淘宝镜像的连接有问题——yarn install报错如下
` [2/4] Fetching packages...
 info There appears to be trouble with your network connection. Retrying...
 info There appears to be trouble with your network connection. Retrying...
 info There appears to be trouble with your network connection. Retrying...
 error An unexpected error occurred: "https://registry.npm.taobao.org/@types/echarts/dow

[2020-03-11 03:59] juzhiyuan commented on #150
You could remove the yarn.lock and reinstall by using official mirror, don't care about that version.

BTW, the new dashboard is building on next branch, you could use the admin api to operate the APISIX manually.

[2020-03-11 06:06] Gary-Airwallex commented on #150
I tried building the new dashboard, but I'm not sure how to add services/routes/plugins with that?And for the issues with taobao mirror which occurred on dashboard v1.0: removing yarn.lock and reinstalling causes the following errors:

     ERROR  Failed to compile with 6 errors

[2020-03-11 09:37] juzhiyuan commented on #150
I just built one for you.

[dashboard.tar.gz](https://github.com/apache/incubator-apisix-dashboard/files/4317311/dashboard.tar.gz)

[2020-03-12 01:29] juzhiyuan commented on #138
We could use APISIX 1.1.

[2020-03-12 01:29] #138 closed

[2020-03-12 06:07] #150 closed

[2020-03-12 07:42] juzhiyuan commented on #150
@Gary-Airwallex BTW, the new dashboard is under development on the `next` branch, welcome PR or contribution :)

[2020-03-12 08:10] #134 closed

[2020-03-12 08:10] juzhiyuan commented on #122
Will do in the next dashboard.

[2020-03-12 08:10] #122 closed

[2020-03-12 08:11] #31 closed

[2020-03-12 08:11] #90 closed

[2020-03-12 10:37] #146 closed

[2020-03-12 10:37] juzhiyuan opened #153 "Adding SSL detail page"
Support Edit and Create SSL.

[2020-03-12 10:51] juzhiyuan commented on #93
related issue https://github.com/apache/incubator-apisix-dashboard/issues/93

[2020-03-12 10:51] #93 closed

[2020-03-12 10:51] #115 closed

[2020-03-13 01:13] juzhiyuan opened #155 "Docker support & pass env when building"

[2020-03-13 03:42] #153 closed

[2020-03-13 03:47] sshniro commented on #137
Hi @juzhiyuan I would like to attempt this issue.

[2020-03-13 03:52] juzhiyuan opened #156 "Adding plugins support"

[2020-03-13 04:37] juzhiyuan commented on #137
@sshniro Please send a PR once you have done this work. Here has some tips: please use the config file instead of hard codes. I would recommend using the env[1] when building.

[1] https://create-react-app.dev/docs/adding-custom-environment-variables/

[2020-03-13 04:49] juzhiyuan commented on #137
@sshniro The new dashboard is building on the `next` branch, please use it as base branch.

[2020-03-14 07:36] sshniro commented on #137
Hi @juzhiyuan ,

I was trying to use the config file to expose the Key, can I use the config.ts file inside the config dir or create a new one in the src dir?

[2020-03-14 10:03] juzhiyuan commented on #137
Yep, you can use the config file under `/config/` directory.

[2020-03-17 10:28] sshniro commented on #139
Hi @juzhiyuan  shall I give it a try?

[2020-03-18 02:47] juzhiyuan commented on #139
Of course you can, but I'm not sure if the APISIX has added the version on admin apis.

@moonming have we manipulated this?

[2020-03-18 07:19] juzhiyuan commented on #136
Please refer https://github.com/apache/incubator-apisix-dashboard/issues/136#issue-578300848

[2020-03-18 09:35] #137 closed

[2020-03-18 09:43] sshniro commented on #139
Oh, it seems, the issue is still pending, I'll try to pick on another task for a while.

[2020-03-18 09:48] sshniro commented on #140
Hi @juzhiyuan where exactly this file should be added? in the CI/CD pipeline?

[2020-03-18 09:54] juzhiyuan commented on #140
You could create the file under `ROOT/scripts/`.

[2020-03-18 10:11] sshniro commented on #140
Okay, how will the script will be invoked ? in the travis configs ?

[2020-03-18 10:43] juzhiyuan commented on #140
`pre-commit`

This script aims to prevent from writing nonsense commit messages.

[2020-03-21 01:54] juzhiyuan commented on #156
- [ ] `proxy-rewrite`

[2020-03-24 07:52] lilien1010 opened #161 "Request: we can add vars filter in route configuration page"
for now ,the apisix route is already support   filter nginx built-in parameter, and it's better we can have this in dashboard too.

[2020-03-24 09:50] dingchaofa opened #162 "Allow set filter_func in router configuration page"
Add filter_func in router

[2020-04-06 03:50] bzp2010 opened #166 "Add plugin array property editor"
Add array editor in PluginDialog

[2020-04-07 01:30] #166 closed

[2020-04-07 03:24] bzp2010 opened #168 "Add plugin object property editor"
Add plugin object property editor

[2020-04-07 14:23] #168 closed

[2020-04-14 02:52] bzp2010 commented on #155
Does this mean we will write a `Dockerfile`, to build and run project in docker?

[2020-04-14 09:03] juzhiyuan commented on #155
Yep!

[2020-04-14 09:04] juzhiyuan commented on #155
Because of different os environments, some users cannot build successfully.

[2020-04-14 13:31] bzp2010 commented on #155
Since the dashboard will not have a lot of traffic, I think I can use nodejs as the underlying image for program building. Through it, we can realize the function of one key to run a dashboard.
At the same time, we should add the function of specifying API address of API gateway management through environment variable and dashboard settings.

[2020-04-14 13:55] juzhiyuan commented on #155
Ok, I will assign it to you :)

[2020-04-16 06:17] bzp2010 commented on #155
I write a Dockerfile for test, I found that if the `node_modules` were packed into the image during the build process, the image file would be too large, about 1.3GB.
I think there are two ways to solve this problem

- Write a bash script to transfer the `npm install` process to the `docker run` process

- In the process of building the image, `npm install` is performed, and then the dashboard is

[2020-04-16 07:42] juzhiyuan commented on #155
@bzp2010 Wow, good job! We could only contain those bundled files under dist folder in the image :)

[2020-04-16 07:44] juzhiyuan commented on #155
Just write a bash script to only keep files under dist folder?

[2020-04-16 07:50] juzhiyuan commented on #155
1. Install `apisix`;
2. Git clone `apisix-dashboard` repo;
3. Build docker image, dashboard files will be bundled in this step;
4. Clean unused files and move bundled files under `apisix/dashboard` folder;

Please note, we use docker just to reduce the compiling error under our Docker env.

[2020-04-16 09:15] bzp2010 commented on #155
Is this just to compile the program using a unified environment?
I think it is more suitable for docker to deploy dashboard through docker image to provide access.

[2020-04-16 10:41] juzhiyuan commented on #155
It's ok to deploy the dashboard inside the docker container, then we should add some configurations in `nginx.conf`, @membphis @moonming what's your opinion?

[2020-04-16 11:46] bzp2010 commented on #155
Yes.
First, compile the dashboard during image construction, generate dist files, and then put these files into nginx image to expose the port.

[2020-04-16 12:48] moonming commented on #155
sure, we can add dashboard in docker image after 1.2 released.

bzp2010 <notifications@github.com> 于 2020年4月16日周四 下午7:46写道：

[2020-04-16 14:30] bzp2010 opened #174 "Update package.json to the latest upstream version"
The package.json of this project is out of date. It has not been updated for 2 months.
It should be upgraded to the latest version upstream with compatibility guaranteed.

[2020-04-17 01:58] juzhiyuan commented on #155
ok, @bzp2010 Please go ahead for next branch.

[2020-04-17 03:13] juzhiyuan commented on #174
next branch? please send a PR.

[2020-04-18 16:32] juzhiyuan opened #176 "CD for Dashboard"
Holding for ZEIT's reply

[2020-04-21 08:15] bzp2010 commented on #174
Yes, it's next branch.
I used the master branch of Ant Design Pro to create a test project, which refers to the new version of umijs@3, but its documents are not sufficient to ensure the update compatibility. So I temporarily closed this issue, and will submit PR when the documents are complete.

[2020-04-21 08:15] #174 closed

[2020-04-21 09:09] juzhiyuan opened #178 "Upgrade antd version"
Update umi to v3 and antd to v4.

[2020-04-22 03:50] godsoul opened #179 "500 Internal Server Error"
login dashboard return 500 Internal Server Error    {"error_msg":"closed"}
apisix version:1.2
bashboard branch: master

[2020-04-22 04:47] juzhiyuan commented on #179
Could you please print the Request & Response data as curl?

![image](https://user-images.githubusercontent.com/2106987/79941688-710fa400-8497-11ea-9a5a-c10549d28f19.png)

[2020-04-22 05:30] godsoul commented on #179
Request：

Request URL: http://10.225.136.227:9080/apisix/admin/routes
Request Method: GET
Status Code: 500 Internal Server Error
Remote Address: 10.225.136.227:9080
Referrer Policy: no-referrer-when-downgrade

Request Headers:

GET /apisix/admin/routes HTTP/1.1
Host: 10.225.136.227:9080
Connection: keep-alive
Pragma: no-cache
Cache-Control: no-cache
Accept: application/json, text/plain, */*
User-A

[2020-04-22 05:32] godsoul commented on #179
curl 'http://10.225.136.227:9080/apisix/admin/routes' -H 'Connection: keep-alive' -H 'Pragma: no-cache' -H 'Cache-Control: no-cache' -H 'Accept: application/json, text/plain, */*' -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36' -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -H 'Referer: http://10.225.136.2

[2020-04-22 05:48] godsoul commented on #179
error logs：

2020/04/22 13:51:20 [error] 15992#0: *5158976 [lua] routes.lua:154: failed to get route[/routes]: closed, client: 10.225.11.199, server: , request: "GET /apisix/admin/routes HTTP/1.1", host: "10.225.136.227:9080", referrer: "http://10.225.136.227:9080/apisix/dashboard/"

[2020-04-22 06:26] godsoul commented on #179
etcd must support v2 api

[2020-04-22 06:26] #179 closed

[2020-04-23 13:07] Miss-you opened #180 "Dashboard supports the Grafana."
Generally speaking, a dashboard page needs to be able to support viewing and configuring API rules; on the other hand, it also needs to be able to display apisix monitoring data.

Of course, prometheus + grafana has been used as a general solution in the open source monitoring field. The APISIX node itself is a prometheus exporter. I hope the dashboard page can be combined with grafana to display

[2020-04-23 14:52] #155 closed

[2020-04-26 03:08] juzhiyuan commented on #180
`https://github.com/grafana/grafana` for reference.

[2020-04-26 06:42] uptree opened #181 "Add Proto Module"
Add proto module for grpc, etc., and accurately display the upstream of grpc.

[2020-04-27 01:01] moonming commented on #181
@uptree thanks for your advice.
@nic-chen @juzhiyuan please take a look.

[2020-04-27 02:22] juzhiyuan commented on #181
Could you please provide some examples? or websites?

[2020-04-27 05:58] CGerAJ commented on #145
Has this function been written?

[2020-04-27 11:03] juzhiyuan commented on #145
Do you mean GSoC?

[2020-04-28 02:36] CGerAJ commented on #145
no, I see the project.
looking at gsoc this year, I'm interested in graphql.

[2020-04-28 03:04] juzhiyuan commented on #145
You should be familiar with API service module at least, but this module is still under discussion.

[2020-04-28 03:05] juzhiyuan commented on #145
Could you please try this issue?

https://github.com/apache/incubator-apisix-dashboard/issues/178

[2020-04-28 06:33] CGerAJ commented on #178
you want to Upgrade umi ?
1. first upgrade-antd-pro-to-umi-3
https://umijs.org/zh-CN/guide/upgrade-antd-pro-to-umi-3
2. fix some problem in project

Do you mean this?

[2020-04-28 12:33] Miss-you opened #182 "New APISIX PPMC: sshniro"
sshniro is the new Apache APISIX PPMC and needs to be updated to the official website documentation

This issue tracks this matter

[2020-04-28 12:38] #182 closed

[2020-05-05 12:20] bzp2010 commented on #176
Have any reply?

[2020-05-05 15:09] juzhiyuan commented on #176
I'm not sure if GitHub pages support API rewrite 🤔just holding on and waiting for the Netlify's reply, thanks!

[2020-05-10 04:32] ywengineer opened #183 "failed to add basic-auth plugin"
below is basic-auth plugin schema definition
local schema = {
    type = "object",
    properties = {
        username = { type = "string" },
        password = { type = "string" },
    },
    oneOf = {
        {required = {"username", "password"}},
        {required = {}}
    }
}

below is the put request body
{username: "adfa", plugins: {basic-auth: {password: ["asdfa"]}}}

below is the error me

[2020-05-13 03:44] #178 closed

[2020-05-13 07:24] juzhiyuan opened #186 "Update SSL module"

[2020-05-13 15:07] Miss-you opened #205 "request help: The APISIX dashboard should have its own independent docker image"
### Issue description

First of all, the dashboard should not be deployed on the forwarding node, but to expose services through a route (ingress)
Secondly, Skywalking and Kong, etc., their dashboard images are independent.

![image](https://user-images.githubusercontent.com/3816205/81830235-67e19680-956e-11ea-9241-5acea6d54e3a.png)

![image](https://user-images.githubusercontent.com/3816205/81830

[2020-05-14 02:12] juzhiyuan opened #187 "GitHub Actions support"
- [x] Lint
- [x] Build Test

[2020-05-14 02:13] juzhiyuan commented on #156
Currently support most of the plugins, some critical issues about Plugin would be fixed in the future PRs.

[2020-05-14 02:13] #156 closed

[2020-05-14 02:14] juzhiyuan opened #188 "Plugin compatible fix."
Some plugins like `proxy-rewrite` are incompatible with `PluginForm` component, should be fixed.

- [ ] `heart-beat`
- [ ] `node-status`
- [ ] `openid-connect`
- [ ] `serverless`
- [ ] `ip-restriction`
- [ ] `proxy-rewrite`
- [ ] `serverless-pre-function`

[2020-05-14 02:18] juzhiyuan commented on #94
would be fixed #188

[2020-05-14 02:18] #94 closed

[2020-05-14 02:18] juzhiyuan commented on #91
would be fixed #188

[2020-05-14 02:18] #91 closed

[2020-05-14 02:19] juzhiyuan commented on #107
would be fixed #188

[2020-05-14 02:19] juzhiyuan commented on #35
would be fixed #188

[2020-05-14 02:19] #35 closed

[2020-05-14 02:19] #107 closed

[2020-05-14 02:19] juzhiyuan commented on #114
would be fixed #188

[2020-05-14 02:19] #114 closed

[2020-05-14 02:20] juzhiyuan commented on #36
would be fixed #188

[2020-05-14 02:20] #36 closed

[2020-05-14 02:20] juzhiyuan commented on #113
would be fixed #188

[2020-05-14 02:20] #113 closed

[2020-05-14 02:20] juzhiyuan commented on #152
would be fixed #188

[2020-05-14 02:20] #152 closed

[2020-05-14 02:22] juzhiyuan commented on #102
would be fixed #188

[2020-05-14 02:22] #102 closed

[2020-05-14 02:30] juzhiyuan commented on #176
Apache allows us to use Netlify!!! I will configure it those days!

https://issues.apache.org/jira/browse/INFRA-20262

[2020-05-14 04:21] bzp2010 commented on #176
That's really good. I'm going to try out the features of Netlify.

[2020-05-14 05:11] juzhiyuan commented on #126
Support API Key check currently

[2020-05-14 05:11] #126 closed

[2020-05-14 05:13] #142 closed

[2020-05-14 05:36] juzhiyuan commented on #176
just for reference
1. https://docs.netlify.com/routing/redirects/rewrites-proxies/
2. https://github.com/ant-design/ant-design-pro/commit/8065f52038b6a4628317a35acecd604d7f9c09e8#diff-5db06fd2327543bbb72119cd1e5761cfL1

[2020-05-15 14:34] bzp2010 commented on #176
I read the document of the `umi-request` carefully. I found that the `prefix` property can be set when creating the request instance. At the same time, the `prefix` value can be controlled through ENV. It can help us unify the path configuration in the service.

In this way, the `dev` and `deploy` environment do not need to create different service files.

I will do some tests and submit the chang

[2020-05-15 21:10] juzhiyuan commented on #176
Ok, go ahead!

[2020-05-16 14:48] #176 closed

[2020-05-16 22:46] juzhiyuan opened #191 "remove Puppeteer"

[2020-05-17 03:46] juzhiyuan opened #192 "Update SSL module"
- [x] Custom Request (POST request, and duplicate onChange call)
- [x] Certificate Verify
- [x] Upload filetype
- [x] Upload only one file
- [x] Support .crt
- [x] Search by SNI

[2020-05-17 03:54] #186 closed

[2020-05-18 08:08] panhow opened #194 "bug: dashboard does not support healcheck config"
### Issue description
dashboard does not support healcheck config

i config healthcheck by `curl` command, then i update some config in dashboard.
The dashboard update upstream by `PUT` method URL，but the json body does not send the healthcheck config

[2020-05-18 14:18] juzhiyuan commented on #147
Please note:

![image](https://user-images.githubusercontent.com/2106987/82223694-8fad7180-9955-11ea-85ef-e4860a3a8ee8.png)

[2020-05-20 03:55] auqf opened #212 "Feature: Service module"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS:
hi, how to use the dashboard's service menu? In the routes menu, it's also can add the plugin, what's the diffrence of it?

[2020-05-20 08:06] juzhiyuan opened #197 "Refactor SSL structure"
related issue #200

[2020-05-20 08:30] juzhiyuan opened #199 "Cannot reload SSL list"
`tableRef.current?.reload` doesn't work now, because it will trigger the request method and will get the stated list immediately.

[2020-05-21 02:09] auqf opened #211 "request help:"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS:
in the dashboard, I add the ssl, and I can't found where it is where will be used, Can you tell me how to use it?

[2020-05-21 02:14] #197 closed

[2020-05-21 02:14] juzhiyuan opened #201 "Auto import block Routes"
Import Routes from blocks automatically.

[2020-05-21 02:49] #199 closed

[2020-05-21 06:38] juzhiyuan commented on #205
our contributor @bzp2010 helps us to add docker support for apisix-dashboard.

[2020-05-21 08:30] juzhiyuan opened #206 "Ref error on SSL list page"
![image](https://user-images.githubusercontent.com/2106987/82539661-6290d700-9b80-11ea-9624-c11d765c9c88.png)

https://github.com/ant-design/pro-table/issues/87

[2020-05-21 08:31] #191 closed

[2020-05-21 08:31] juzhiyuan opened #207 "No action when clicking icons (left menu)"
![image](https://user-images.githubusercontent.com/2106987/82539802-a08dfb00-9b80-11ea-9e02-94b2dfe889f0.png)

https://github.com/ant-design/ant-design-pro/issues/6644

[2020-05-22 06:09] juzhiyuan opened #210 "Load dynamicly"

[2020-05-22 06:37] #210 closed

[2020-05-24 15:57] juzhiyuan opened #213 "GitHub Actions for Website"
Auto PR preview for

https://github.com/apache/incubator-apisix-website

[2020-05-25 01:28] Rapiz1 commented on #213
Hi @juzhiyuan Can I take this?

[2020-05-25 01:53] juzhiyuan commented on #213
Sure

[2020-05-25 01:54] juzhiyuan commented on #213
Please note, this issue is for apisix website[1], not dashboard.

[1] https://github.com/apache/incubator-apisix-website

[2020-05-25 01:55] Rapiz1 commented on #213
Yeah. I have noticed that.

[2020-05-25 01:55] juzhiyuan commented on #213
I will explain what this issue should do here later.

[2020-05-25 02:02] juzhiyuan commented on #213
Apache APISIX has a website[1][2], which is built on Hugo[3].

We used to update this site by following steps:
1. Update codes in the repository[1];
2. Run custom publish shell `publish.sh` locally, and once it's done, it will push built files to the `gh-pages` branch.

So this issue is mainly to use GitHub Action to run publish shell instead of running locally. Because this is not a GSoC task or

[2020-05-25 02:06] Rapiz1 commented on #213
Thanks for your informative feedback! I managed to set up hugo build on my fork and am now trying to connect to [render](https://render.com/) to set up a PR preview.

So this task consists of two parts.
1. PR Preview
2. Auto deploy for commits on master

Right?

[2020-05-25 02:18] Rapiz1 commented on #213
PR Preview is done on my fork. See https://github.com/Rapiz1/incubator-apisix-website/pull/1

[2020-05-25 05:37] juzhiyuan commented on #213
🤔We can use Netlify, but I need to apply for access from Apache, once it's approved, I will let you know!

[2020-05-25 05:40] juzhiyuan commented on #213
emmm We don't need a preview for every PR currently, just pushed the bundled files to `gh-pages` branch.

[2020-05-25 12:20] #213 closed

[2020-05-25 13:54] juzhiyuan opened #215 "Fix wrong GitHub Action"
We need to fix the GitHub Action so it could push bundled files to `asf-site` branch instead of `gh-pages`.

related issue https://github.com/apache/incubator-apisix-dashboard/issues/213

[2020-05-25 13:55] juzhiyuan commented on #213
Hi @Rapiz1 , would you mind fixing this issue?

https://github.com/apache/incubator-apisix-dashboard/issues/215

[2020-05-25 23:15] juzhiyuan commented on #215
related PR
https://github.com/apache/incubator-apisix-website/pull/41

[2020-05-26 05:00] #215 closed

[2020-05-26 05:26] juzhiyuan opened #216 "Fix wrong styles for website"
related PR

https://github.com/apache/incubator-apisix-website/pull/41

[2020-05-26 05:47] Rapiz1 commented on #216
It's strange because I `diff` the new and the old style. They seem mostly equivalent.

[2020-05-26 09:34] #216 closed

[2020-05-28 03:20] #145 closed

[2020-05-28 03:21] #147 closed

[2020-05-28 03:21] #144 closed

[2020-05-29 10:34] juzhiyuan opened #219 "Set API Key dynamically"
Current Dashboard doesn't support user & password authentication, please use API Key.

[2020-05-31 14:20] #201 closed

[2020-06-04 04:10] Rapiz1 commented on #140
I'd like to take on this by the way if I get selected for OSPP 2020, since this issue is easy to solve. I will soon submit a proposal for https://github.com/apache/incubator-apisix-dashboard/issues/187

[2020-06-04 05:56] juzhiyuan commented on #140
OK

[2020-06-09 05:36] juzhiyuan opened #250 "Hash mode"

[2020-06-09 05:37] #143 closed

[2020-06-09 05:37] #192 closed

[2020-06-11 06:53] membphis opened #252 "merge PR: only keep `Squash and merge` button"
![image](https://user-images.githubusercontent.com/6814606/84354268-24bd2680-abf3-11ea-884d-6715fee1fd4e.png)

[2020-06-11 09:18] juzhiyuan opened #253 "Locale support for Plugin property"
1. open `/src/components/PluginForm/locales/zh-CN.ts`;
2. adding translation (description) from [Plugins' DOC](https://github.com/apache/incubator-apisix/blob/master/doc/plugins/limit-req-cn.md)
for each plugin.

[2020-06-11 12:01] juzhiyuan commented on #252
https://github.com/apache/incubator-apisix-dashboard/commit/2e275c8150b429eaed96add85373e0c84d108f17

Will work when the next branch replaces master

[2020-06-11 12:01] #252 closed

[2020-06-17 03:30] #253 closed

[2020-06-17 03:30] #219 closed

[2020-06-18 05:25] gxthrj opened #270 "Need an introduction to manager-api"
Our new version of the dashboard has just been launched, and some new modules have been added, such as manager-api. I think it is necessary to explain this structure.
![image](https://user-images.githubusercontent.com/4413028/84981394-03b28380-b167-11ea-9e9d-3b2371aa68c1.png)
ref:https://github.com/apache/incubator-apisix/raw/master/doc/images/apisix.png

[2020-06-18 10:03] totemofwolf opened #271 "Enhancement: Add `priority` scheme when creating routes via admin dashboard"
Currently routes added from dashboard will `set priority's value to 0` which may not suitable for most users, so we may provide this ability to our user for a better experience. ;-)

[2020-06-18 12:46] juzhiyuan commented on #271
ok

[2020-06-22 06:23] xiangxiren opened #276 "When to provide manager-api and dashboard docker images"

[2020-06-22 08:09] xiangxiren opened #277 "manager-api container failed to start"
I used the Dockerfile of manager-api to build an image, and then started a container, but the container did not start normally
![image](https://user-images.githubusercontent.com/12774053/85263332-97ef5400-b4a1-11ea-8d5c-76a98c6a4c6b.png)

The following are my steps：

1. Build the image under the api directory
`docker build -t manager-api:1.0 .`

2. Copy the `build.sh` file, and modify the permissi

[2020-06-22 11:25] gxthrj commented on #276
The official image hasn't been released yet.

You can try to build one directly locally, through these Dockerfiles:
manager-api: https://github.com/apache/incubator-apisix-dashboard/blob/master/api/Dockerfile
dashboard: https://github.com/apache/incubator-apisix-dashboard/blob/master/Dockerfile

And you can refer to this document to deploy all projects to generate a working environment:
https://gi

[2020-06-22 11:32] gxthrj commented on #277
Sorry,Here's a detail. Try adding an environment variable like this:
[code]

[2020-06-22 12:31] xiangxiren commented on #277
OK, I'll try again tomorrow. thank you

[2020-06-22 12:34] xiangxiren commented on #276
That's exactly what I'm doing right now. If there is an official image, I think it will be easier for novices to get started.

[2020-06-23 03:06] xiangxiren commented on #277
I still need help.
I have added the environment variable ENV=prod.A new error has now appeared.

[code]

[2020-06-23 07:06] gxthrj commented on #277
When ENV=prod, `conf.json` needs to be filled with environment variables
https://github.com/apache/incubator-apisix-dashboard/blob/15d936577d796226d5163af36d92160e693cbcdb/api/build.sh#L21
Please make sure these variables are set in environment variables.

[2020-06-23 07:16] gxthrj commented on #276
The official image will be released，When the new version of our dashboard is released.

[2020-06-23 08:23] xiangxiren commented on #276
Is there a timetable?

[2020-06-23 09:54] xiangxiren opened #278 "Where is the script created by the table in database'manager'"

[2020-06-23 09:56] #278 closed

[2020-06-23 11:07] membphis commented on #276
I think we'll do this at version `1.5`.

[2020-06-23 11:16] spfyoung commented on #134
@juzhiyuan I have the same issue now, How did you fixed it?

[2020-06-23 12:06] juzhiyuan commented on #134
This page will always be shown whenever we preview it in the development tool, could you please some screenshot or more detailed info?

[2020-06-23 12:40] spfyoung commented on #134
@juzhiyuan Right now I have install the dashboard follow the guide on Github,
![apisix](https://user-images.githubusercontent.com/3838455/85404576-b7fe4080-b591-11ea-8452-7347b6af49bb.jpg)
and set the  allow_admin for ip address already, but I can not access the dashboard.

[2020-06-23 13:29] juzhiyuan commented on #134
Not sure what happened but looks like the issue is related with your server configuration 🤔 Manager API issue should get help from @gxthrj

[2020-06-24 01:04] xiangxiren commented on #276
Okay thank you

[2020-06-28 08:56] totemofwolf opened #282 "dashboard load too slow"
a png file with Request URL: https://user-images.githubusercontent.com/2106987/68087873-a0543980-fe94-11e9-8203-62958ce69ed6.png can not be loaded even after 30s..

![屏幕快照 2020-06-28 下午4 56 05](https://user-images.githubusercontent.com/1818214/85943082-4a229200-b960-11ea-9332-3cced02e09cb.png)

[2020-06-28 08:59] totemofwolf commented on #282
[code]

[2020-06-28 09:15] juzhiyuan commented on #282
This image is blocked by GFW...

BTW, would you like to have a try on the latest dashboard? here is the demo URL: http://dashboard.apisix.dev/

[2020-06-28 09:16] #282 closed

[2020-06-29 01:06] #276 closed

[2020-06-29 01:07] xiangxiren commented on #277
Successful deployment, thank you

[2020-06-29 01:07] #277 closed

[2020-06-29 06:03] juzhiyuan opened #284 "Pull etcd image failed due to GFW inChina"
1. We'd better add some descriptions in README file for Chinese;

[2020-06-30 09:53] wasabihu opened #290 "bug: dashboard ignores admin api and Upstream data"
### Issue description
dashboard ignores admin api and Upstream data

**ETCD data**
主要是 dashboard 的bug , 对比一下etcd 的数据就会发现， 加插件的时候会把某些参数漏掉了, 这里是少了 upstream 参数 。
![image](https://user-images.githubusercontent.com/973168/86111960-f5b31a00-baf9-11ea-91cf-5669b4561561.png)

### Environment

* apisix version (cmd: `apisix version`): 1.3
* OS: centos7

### Minimal test code / Steps to reproduce the issue

[2020-06-30 17:10] wasabihu commented on #290
Ok thanks~

[2020-07-01 10:28] imjoey opened #292 "[Question] The matched versions of apisix and apisix-dashboard projects"
Hi all, first I would thank you for this awesome project. I'm on my way of running the apisix v1.4 along with its dashboard and everything works fine. While, if I take the latest dashboard code from `master` branch, I always encounter the error prompt message:  **请求错误，错误码： 401  用户没有权限（令牌、用户名、密码错误）。**

After some digs, I found that there was no `api-key` header in the request. So I was wondering wh

[2020-07-01 13:20] juzhiyuan commented on #292
Hi, the new Dashboard is come up with Docker Compose, Please follow the instructions on the README file under branch master.

[2020-07-01 15:01] imjoey commented on #292
Hi @juzhiyuan, sorry for not getting it before and thank you very much for the hint.  In addition, any schedule for adding support for independent binary deployment? Thanks.

[2020-07-01 15:37] juzhiyuan commented on #292
binary deployment? or dashboard without Docker?

[2020-07-01 15:41] imjoey commented on #292
Yeap, non-containerized deployment.

On Wednesday, July 1, 2020, 琚致远 <notifications@github.com> wrote:

[2020-07-01 16:14] juzhiyuan commented on #292
I have no idea because currently, we need the Docker Compose to set up some APIs (we called manager-api), which is as a bridge between Dashboard and APISIX.

[2020-07-01 16:14] juzhiyuan commented on #292
The manager API handles some logics which should not be handled by APISIX.

[2020-07-02 02:22] bzp2010 opened #294 "bug: etcd by docker-compose failed to start"
Here are some logs

etcd_1  | 2020-07-02 02:16:03.053788 I | pkg/flags: recognized and used environment variable ETCD_DATA_DIR=/etcd_data
etcd_1  | 2020-07-02 02:16:03.053820 I | pkg/flags: recognized and used environment variable ETCD_ENABLE_V2=true
etcd_1  | 2020-07-02 02:16:03.053870 I | pkg/flags: recognized and used environment variable ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
etcd_1  | [W

[2020-07-02 07:45] UnderTreeTech opened #296 "[Dashboard] can't add upstream node"
It can't add upstream node when it's format like `api-app-test.example.com`, maybe it's a bug.
![image](https://user-images.githubusercontent.com/5195804/86330923-f2936780-bc7a-11ea-8344-be23fa4c93df.png)

[2020-07-02 07:57] juzhiyuan commented on #296
1. The older Dashboard is no longer maintained.
2. Upstream and Consumer module will be added into the new Dashboard next week.

[2020-07-02 07:58] #294 closed

[2020-07-02 08:01] UnderTreeTech commented on #296
When do you release the new Dashboard? @juzhiyuan

[2020-07-02 14:03] juzhiyuan commented on #296
Not sure when will release the first edition, but changes are made regularly..

[2020-07-03 04:46] bzp2010 opened #298 "[Discuss] about the authentication of the dashboard"
## How
What should this identity authentication module look like?
Is to use apikey verification method provided by APISIX, or add a separate authentication part in the backend implemented by golang?

## What
If you need to add a separate authentication module, what form should it have?
Username+Password, and other. Need some advice.

## Other questions
Does the golang backend have the possibility

[2020-07-03 06:15] imjoey commented on #292
Hi @juzhiyuan , much appreciated to your reply. I guess I could find how to deploy without containerization by digging the docker compose yaml files.

Regarding to the versions, I found that `apache/apisix:dev`, which is built via the latest codes in master branch of `apache/apisix`. So I've got what I want. Thanks again for your help. Let's close this.

[2020-07-03 06:15] #292 closed

[2020-07-03 07:49] juzhiyuan commented on #292
Sure :)

[2020-07-09 02:29] tiger333777 opened #300 "About SSL certificate cannot be enabled in the new version of dashboard"
After the SSL certificate is started in the dashboard, switch to another page and return. SSL is not enabled again

[2020-07-09 10:14] #140 closed

[2020-07-09 10:15] #284 closed

[2020-07-09 10:16] juzhiyuan commented on #271
Due to some confusion, we just removed the filed temporally.

[2020-07-09 10:16] #271 closed

[2020-07-09 10:20] #206 closed

[2020-07-09 10:20] #207 closed

[2020-07-09 22:30] juzhiyuan commented on #300
I just reproduced that error, it will be fixed this weekend.

[2020-07-09 22:32] juzhiyuan commented on #194
Yep, dashboard doesn't support health check yet, we will have a meeting about this issue.

[2020-07-10 06:24] TikWind opened #302 "docker-compose mysql connection refused"
## Descripe

Hi everyone, I follow https://github.com/apache/incubator-apisix-dashboard/blob/master/compose/README.md to deploy this project, but when I visit http://127.0.0.1/dashboard/ in the browser, it redirect http://127.0.0.1/dashboard/setting :

![image](https://user-images.githubusercontent.com/65604564/87121771-23485200-c2b6-11ea-8569-6f22253ae65f.png)

When I use `docker logs` to look im

[2020-07-10 07:18] TikWind commented on #302
@juzhiyuan hello, can u help me to have a look? Thanks.

[2020-07-10 07:23] juzhiyuan commented on #302
Hi, this may be related to a issue we found those days, and it will be fixed this weekend. Once it’s fixed, I will notify you here.

[2020-07-10 07:24] TikWind commented on #302
OK, thanks. @juzhiyuan

[2020-07-10 07:54] gzldx opened #303 "dashboard error not found plugin name"
request
/apisix/admin/plugins

400 bad request
<img width="1103" alt="WX20200710-155421@2x" src="https://user-images.githubusercontent.com/2508193/87130544-acb35080-c2c5-11ea-9e5a-b76d3fd7411d.png">

[2020-07-10 09:19] juzhiyuan commented on #303
ok, I will take a look in this weekend.

[2020-07-10 09:35] gzldx commented on #303
my apisix version: 1.4

find some route are invalid in apisix admin api

/apisix/admin/ssls 404
/apisix/admin/check_ssl_cert 404

in
/incubator-apisix-dashboard/src/pages/ssl/service.ts

[2020-07-10 10:52] juzhiyuan commented on #303
noted, thanks!

[2020-07-12 10:43] #92 closed

[2020-07-12 10:43] #300 closed

[2020-07-12 10:43] #303 closed

[2020-07-12 11:44] bzp2010 commented on #298
I think that the authentication information can be set in the environment variable when the docker container is started, and read by the golang backend to provide the user login API.

Hope to get some suggestions. Thanks!

[2020-07-12 14:22] juzhiyuan commented on #298
Agree with your comment!

@membphis @gxthrj What do you think, please?

[2020-07-13 00:22] juzhiyuan commented on #180
Now we could configure the Grafana Metrics in the new Dashboard.

[2020-07-13 00:24] juzhiyuan commented on #180
Please note: the grafana address could only be saved in local currently, once the related APIs are ready, we could store it in DB.

[2020-07-13 00:24] #180 closed

[2020-07-13 00:25] juzhiyuan commented on #302
Please have a try in the new Dashboard :)

[2020-07-13 00:25] juzhiyuan commented on #296
New dashboard support this feature currently :)

[2020-07-13 00:25] #296 closed

[2020-07-13 00:26] juzhiyuan commented on #290
Hi, please have a try in the new dashboard :) if this issue still occurred, please reopen this one.

[2020-07-13 00:26] #290 closed

[2020-07-13 00:39] imjoey commented on #302
+1 for same issue.

@juzhiyuan May I ask which pull request fixed this or what the cause was? Thanks.

[2020-07-13 01:02] TikWind commented on #302
I hava tried again in master branch, but it is the same. @juzhiyuan

[2020-07-13 01:16] juzhiyuan commented on #302
@TikWind Hi, would you mind adding my WeChat (JuShaoyao) and have a remote screen share?

@imjoey I will update here once this issue is fixed.

[2020-07-13 02:34] #139 closed

[2020-07-13 02:34] #141 closed

[2020-07-13 02:34] #95 closed

[2020-07-13 02:35] juzhiyuan commented on #212
Hi, the Service module is still under development now in the new Dashboard(on master branch).

[2020-07-13 02:36] #211 closed

[2020-07-13 02:37] juzhiyuan commented on #183
has been resolve on the new Dashboard.

[2020-07-13 02:37] #183 closed

[2020-07-13 02:38] juzhiyuan commented on #161
It has been added in the new Dashboard.

[2020-07-13 02:38] #161 closed

[2020-07-13 02:38] #124 closed

[2020-07-13 02:38] #117 closed

[2020-07-13 02:39] juzhiyuan commented on #119
Could you please take a look at the new Dashboard?

[2020-07-13 02:39] #119 closed

[2020-07-13 02:39] #109 closed

[2020-07-13 02:39] juzhiyuan commented on #105
Has been resolved by using `react-jsonschema-form`

[2020-07-13 02:39] #105 closed

[2020-07-13 02:40] juzhiyuan commented on #96
It has been resolved by using Ant Design Pro.

[2020-07-13 02:40] #96 closed

[2020-07-13 02:40] juzhiyuan commented on #41
Please take a look at the new Dashboard.

[2020-07-13 02:40] #41 closed

[2020-07-13 02:40] juzhiyuan commented on #38
It has been supported on the new Dashboard.

[2020-07-13 02:40] #38 closed

[2020-07-13 02:41] #32 closed

[2020-07-13 02:41] #33 closed

[2020-07-13 02:41] #28 closed

[2020-07-13 02:41] #26 closed

[2020-07-13 02:41] #19 closed

[2020-07-13 02:41] #17 closed

[2020-07-13 02:42] #34 closed

[2020-07-13 02:42] juzhiyuan commented on #99
The metrics page has been added on the new Dashboard.

[2020-07-13 02:42] #99 closed

[2020-07-13 04:57] imjoey opened #315 "deploy: Failed to build dashboard due to python is not installed"
## Description

Follow the instruction in [README.md](https://github.com/apache/incubator-apisix-dashboard/blob/master/compose/README.md) and run `docker-compose -p dashboard up -d`, but the command generated the errors as below:

[code]

## Environment
- APISIX version: `apache/apisix:dev (sha256:ec3737445ae44efb9e5868a7462b10bd1296679cb5e2b56aceea134c8526e7aa)`
- APISIX-dashboard: latest `master

[2020-07-13 05:01] imjoey commented on #302
@juzhiyuan @TikWind  For your information, the mysql connection error has gone with the latest code and everything worked in my case.

[2020-07-13 06:33] juzhiyuan commented on #302
ok

[2020-07-13 06:33] #302 closed

[2020-07-13 06:33] juzhiyuan commented on #302
Feel free to reopen this issue when the error occurred again

[2020-07-13 06:36] #315 closed

[2020-07-13 08:18] imjoey commented on #302
@juzhiyuan many thanks.

[2020-07-13 11:13] tiger333777 opened #317 "Now add SSL certificate to dasboard of master branch and report the following error"
![360截图16230310112138109](https://user-images.githubusercontent.com/68040978/87298316-94993680-c53c-11ea-8b18-03fc78bf7af5.png)

{"app":"manager-api","level":"error","line":"service/ssl.go:421","msg":"status: 400, body: {\"error_msg\":\"invalid configuration: property \\\"sni\\\" is required\"}\n","time":"2020-07-13T19:04:22+08:00"}
{"app":"manager-api","level":"error","line":"route/consumer.go:54

[2020-07-13 11:55] juzhiyuan commented on #317
[code]

Hi, could you please paste your request body here?(key & cert could use `***` instead).

[2020-07-13 13:45] tiger333777 commented on #317
(/root/go/src/github.com/apisix/manager-api/service/ssl.go:227)
[2020-07-13 19:29:26]  [1.59ms]  INSERT INTO `ssls` (`id`,`create_time`,`update_time`,`validity_start`,`validity_end`,`snis`,`status`,`public_key`,`public_key_hash`) VALUES ('025eec71-7f43-4234-833c-8496afdd94f2',1594639766,1594639766,1560843085,1624001485,'["*.y.*.com","y.*.com"]',1,'-----BEGIN CERTIFICATE-----
*******************
--

[2020-07-13 14:06] juzhiyuan commented on #317
Looks like this request lost the sni information. Could you see this page when you submit your cert?

![image](https://user-images.githubusercontent.com/2106987/87313791-fa91b800-c554-11ea-957d-97c591ab55a8.png)

[2020-07-13 14:18] tiger333777 commented on #317
yes

[2020-07-13 15:05] juzhiyuan commented on #317
🤔 Could you please open your Dev tools on Chrome (F12), and switch to Network section, then do a submit and copy the request as cURL. I need to take a look at your request body sent from your browser.

[2020-07-14 08:40] tiger333777 commented on #317
i get
now  apisix upgrade to master branch to solve the problem

[2020-07-14 09:04] #317 closed

[2020-07-14 22:09] mtx2d opened #321 "[Question] How to connect this dashboard to a dev apisix process?"
Hi Team,
I am trying to connect this dashboard to a locally modified apisix process.

Basically, I made some modification to my local `incubator-apisix` clone, and was able to start a apisix process.
I was able to see picture to confirm that my apisix is up and running:
![test-apisix-is-running](https://user-images.githubusercontent.com/64316805/87480994-72ff8400-c5fc-11ea-9ab6-a7e29c6254e7.png)

[2020-07-15 01:26] moonming commented on #321
@gxthrj @membphis please take a look

[2020-07-15 01:43] juzhiyuan commented on #321
The Dashboard is in front of Manager API, the Manager API is in front of APISIX, so you should visit the dashboard directly (not from IP:9080/dashboard).

[2020-07-15 01:45] juzhiyuan commented on #321
If you want to connect to your modified APISIX, please update sone configurations under `/incubator-apisix-dashboard/compose`, just connect the Manager API with your local apisix.

[2020-07-15 01:52] mtx2d commented on #321
I am not very familiar with the toolchain, trying to make sure I understand what you mean.
This means `127.0.0.1` is not the correct ip to connect to. And we can modify some file in `/incubator-apisix-dashbaord/compose/` to be able to connect to APISIX.

Is `incubator-apisix-dashboard/compose/docker-comopse.yml` file I need to modify?

[2020-07-15 02:15] juzhiyuan commented on #321
https://github.com/apache/incubator-apisix-dashboard/blob/master/compose/manager_conf/build.sh#L9

[2020-07-15 02:17] juzhiyuan commented on #321
And I think you don't need APISIX built under Dockerfile any more.

https://github.com/apache/incubator-apisix-dashboard/blob/master/compose/docker-compose.yml#L4-L18

[2020-07-15 06:25] gxthrj commented on #321
@mtx2d
1. In the current version, the dashboard and APISIX are independent services.  The dashboard service has its own port, which is 80 by default，no longer 9080，which is the port of APISIX.
2. And the dashboard no longer directly calls the APISIX admin api, but through the manager-api, the calling relationship is like this dashboard -> manager -> APISIX, so the back-end service configured on th

[2020-07-17 03:37] juzhiyuan opened #322 "Object(xxx) Error"

[2020-07-17 03:38] juzhiyuan commented on #322
This works

![image](https://user-images.githubusercontent.com/2106987/87745974-f817b280-c821-11ea-9cc9-1126a860a5a2.png)

[2020-07-20 01:58] TikWind commented on #302
This bug is not mysql connect problem, at the begining, mysql start slowly, so other can' connect(so it will output error logs ), but when mysql start success, it is OK.

The real problem may be incompatibility problem, #324 #322 can resolve this bug.

[2020-07-20 02:03] imjoey commented on #302
@TikWind Good catch. Thanks for your work.

While I have one more question that, everything is fine with my macOS docker desktop environment, is this bug OS dependent? Thanks.

[2020-07-21 15:03] longshang opened #328 "Route cannot enabled plugin"
THX
![image](https://user-images.githubusercontent.com/17903581/88071319-3efd0380-cba6-11ea-901f-985650f9c6af.png)

[2020-07-22 08:34] tiger333777 opened #329 "about authentication of manage API"
The 8080 port of the current manage API needs to be opened to the operator IP of the dashboard before it can be executed. In this way, there will be security risks. There is no restriction on authentication. Only iptables can be relied on. However, a large office area uses NAT and shares the IP address of the office network.

[2020-07-23 00:20] juzhiyuan commented on #328
@longshang Could you please provide more detail? E.g Which plugin could not be enabled? And what are your steps?

[2020-07-23 02:33] juzhiyuan opened #331 "Proposal: i18n"
@TikWind  We need a proposal to make our i18n cleaner and reasonable.

[2020-07-23 02:36] juzhiyuan commented on #331
1. Please take a look at how WordPress does;
2. We need a good design on how the sub key is grouped to a key;

[2020-07-23 02:59] juzhiyuan opened #332 "Use auto load i18n"
https://umijs.org/zh-CN/plugins/plugin-locale#%E7%BA%A6%E5%AE%9A%E5%BC%8F%E5%A4%9A%E8%AF%AD%E8%A8%80%E6%94%AF%E6%8C%81

Don’t need import every locale configuration  from Module any more!

[2020-07-23 03:45] juzhiyuan opened #333 "Ready to Relase"
- [ ] ASF Header
- [ ] License Check
- [ ] Changelog

[2020-07-23 07:12] gxthrj commented on #329
I think this is a security feature, perhaps, we need to support a simple way for security certificate

[2020-07-24 07:21] veladeng opened #338 "Route request params are abnormal, Table 'manager.routes' doesn't exist"
manager_1     | {"app":"manager-api","level":"error","line":"route/route.go:116","msg":"Route request parameters are abnormal: Error 1146: Table 'manager.routes' doesn't exist","time":"2020-07-24T11:44:01+08:00"}

login into mysql container, mysql did not contain database manager. In dashborad code, can't find create table script.

[2020-07-24 08:24] juzhiyuan commented on #338
@gxthrj Please take a look.

[2020-07-24 08:29] veladeng commented on #338
Resolved by rebuild dashboard after env cleanning.

[2020-07-24 08:29] #338 closed

[2020-07-24 08:30] veladeng commented on #338
@juzhiyuan tks.

[2020-07-27 06:45] longshang commented on #328
Sorry,its ok!

[2020-07-27 06:45] #328 closed

[2020-07-27 09:24] longshang opened #339 "Why proxy-rewrite plugin is hidden?"
Why proxy-rewrite plugin is  hidden?
version is master.

[2020-07-28 01:11] juzhiyuan commented on #339
Because this plugin is setup when creating a route(Step1)

[2020-07-28 03:22] Rapiz1 opened #340 "Lint failed on source"
We should fix these issues before any attempt to set up a linter on Actions.
[code]

[2020-07-28 03:28] Rapiz1 commented on #340
Here's a patch I made for some warnings. But I'm not familiar with dashboard's source enough to introduce any significant change.
[code]

[2020-07-28 03:36] juzhiyuan commented on #340
Some developers may skip the lint step, could you please help to setup the lint Action?

[2020-07-28 03:38] Rapiz1 commented on #340
@juzhiyuan I think I can open a PR to fix most of the warnings. But I think the big question is how to refactor the name convention like foo_bar. I will open a PR soon to do what I can do, and then leave the important issues about refactor to the core teams.

Once lint is set up, PR that failed the lint test couldn't be merged. So it can be skipped in any way.

[2020-07-28 03:41] longshang opened #341 "route setting bug"
Set advanced route matching criteria, such as access_ Token on MySQL is correct, but the front end displays access.
mysql  as
![image](https://user-images.githubusercontent.com/17903581/88616601-253c4e80-d0c7-11ea-8bce-32f987a18819.png)

the front end as
![image](https://user-images.githubusercontent.com/17903581/88616629-35ecc480-d0c7-11ea-89ab-cdfa564d7e86.png)

[2020-07-28 03:41] longshang commented on #339
OK,THX

[2020-07-28 03:41] #339 closed

[2020-07-28 04:16] membphis commented on #341
@litesun it seems a bug

[2020-07-28 04:50] Rapiz1 commented on #340
I have fixed some lint errors. Here's what left:

[code]

What do you think of the naming? `upstream_header` is not a valid variable name according to eslint. What about `upstreamHeader`?

`' 本地目录为 /tmp/${区域名}，修改默认区域名必须同时修改 config.yaml',` This line fails the lint because eslint confuses it with the format string usage. I don't know how to work around this since we're using all eslint rules from fa

[2020-07-28 05:21] juzhiyuan commented on #340
Thanks, I need some time to have a conclusion here.

[2020-07-28 16:12] longshang opened #346 "路由设置proxy-rewrite BUG"
proxy-rewrite 界面设置如下图
![image](https://user-images.githubusercontent.com/17903581/88691538-8dbf1600-d12f-11ea-9996-2e67b61aeb2d.png)

保存到数据库proxy-rewrite只设置了uri,而host没有设置？导致proxy-rewrite无法正常反代到http://www.webxml.com.cn/WebServices/WeatherWebService.asmx，如下图
![image](https://user-images.githubusercontent.com/17903581/88691785-e1c9fa80-d12f-11ea-9d70-06da31435610.png)
另外无法对路由设置priority，感觉较为不便。

[2020-07-29 02:19] juzhiyuan commented on #346
1. We need a check.
2. We just hidden the priority for Route.

Thanks!

[2020-07-29 02:21] juzhiyuan commented on #346
The screenshot above is taken from API request or response?

[2020-07-29 02:28] longshang commented on #346
您好，截图不知为什么显示不了，您能否看看QQ群（552030619），上面的截图一个来自Dashboard配置，一个是我截MYSQL的routes表中数据。

[2020-07-29 02:54] juzhiyuan commented on #346
Please paste the request body here, thanks.

[2020-07-29 04:56] longshang commented on #346
GET /KKK/ HTTP/1.1
Host: 192.168.0.252:9080
Connection: keep-alive
Pragma: no-cache
Cache-Control: no-cache
Upgrade-Insecure-Requests: 1
User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9
Accept-E

[2020-07-29 05:17] juzhiyuan commented on #346
This is not the request body, just open network in Chrome, and right click your target request, then copy the request info by cURL.

[2020-07-29 06:06] juzhiyuan commented on #340
After some conclusion, we decide to allow snake_case variable name due to some logics from API, welcome PR to enable this feature.

[2020-07-29 06:13] LiteSun commented on #341
Problem solved.

[2020-07-29 06:31] longshang commented on #346
curl 'http://192.168.0.252:9080/KKK/' \
  -H 'Connection: keep-alive' \
  -H 'Pragma: no-cache' \
  -H 'Cache-Control: no-cache' \
  -H 'Upgrade-Insecure-Requests: 1' \
  -H 'User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36' \
  -H 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,

[2020-07-29 06:32] longshang commented on #346
curl 'http://192.168.0.252:9080/KKK/' \
  -H 'Connection: keep-alive' \
  -H 'Pragma: no-cache' \
  -H 'Cache-Control: no-cache' \
  -H 'Upgrade-Insecure-Requests: 1' \
  -H 'User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36' \
  -H 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,

[2020-07-29 10:12] juzhiyuan commented on #346
emmm Where is the actually data sent to API?

[2020-07-29 14:15] #341 closed

[2020-07-30 02:11] longshang commented on #346
是从 IP中的doctor/add 反代到 IP2中doctor/add,大神帮忙看看，我在旧版本Dashboard配置proxy rewrite是可以成功的

[2020-07-30 03:03] juzhiyuan commented on #346
Please provide your HTTP Request Body, or I have no idea what your data is.

[2020-07-31 07:00] #322 closed

[2020-07-31 07:01] #250 closed

[2020-07-31 07:58] #136 closed

[2020-08-02 06:54] #340 closed

[2020-08-03 04:05] AloneFire commented on #298
我认为 Dashboard 最好是一个纯静态的项目，认证以配置插件的形式存在，让用户自己选择是使用apisix自有的认证还是外部的认证服务

[2020-08-03 07:31] isapir opened #357 "Please CLOSE PR-356"
Because a comment in https://github.com/apache/apisix-dashboard/pull/356 mentioned Apache Committers every comment or action there triggers an email to thousands of Apache committers all over the world, who do not need or want to get notified, and we can not unsubscribe because the group is an alias.

Please CLOSE https://github.com/apache/apisix-dashboard/pull/356 and create a new PR instead, and

[2020-08-03 07:43] #357 closed

[2020-08-03 07:46] #333 closed

[2020-08-03 11:42] lilien1010 opened #359 "response-rewrite plugin is no able to write headers"
for now some plug-in is not able to edit in dashboard，
and BTW I think the button ”Enable“，“disable","Confirm" should at the top of plugin-edit pannel， not at bottom.

![image](https://user-images.githubusercontent.com/3814966/89178810-09eaab00-d5c1-11ea-8587-82846cadd2f5.png)

[2020-08-03 11:44] varSmallRookie commented on #359
@lilien1010  I will take care of this feature

[2020-08-03 12:25] juzhiyuan commented on #359
Hi, the PluginDrawer is built with `react-jsonschema-form`, and this bug is caused by different JSON Schema version. APISIX’s plugin is using JSON Schema v5 I think, and the `react-jsonschema-form` is using v7, I would recommend adding a transformer for our Plugins’ schema in frontend.

[2020-08-04 09:26] liuxiran opened #360 "[Question]when dashboar started in dev mode and not conect to apisix, why some requests like get routes list can also get response instead of get an error?"
Hi all,
I have a question that when I run yarn start:no-mock  to start dashboard in dev mode,  and I did not do any settings,
then I visit http://localhost:8000/routes/list page

I noticed that get routes list request: http://localhost:8000/apisix/admin/routes?page=1&size=20&search=    got a response instead of an error,  I'm confused. there is no api server， why this request did not get an error

[2020-08-05 00:17] juzhiyuan commented on #360
1. Open Network panel in Chrome;
2. Check the XHR requests;
3. Visit those requests manually.

Maybe you have deployed the manager-api by accident.

[2020-08-05 01:50] imjoey opened #361 "Failed to deploy manager_api service via docker-compose"
Hi, I was trying to deploy the dev environment via docker-compose with the latest code of apisix-dashboard, but the `dashboard_manager` container (which represents `manager_api` service) always complained about `Restarting` and its logs only shows: `standard_init_linux.go:211: exec user process caused "exec format error"`

I tried in the following two environments, but got the same issue:

1. macO

[2020-08-05 03:19] liuxiran commented on #360
I checked my request, in chrome netword panel like this:
![image](https://user-images.githubusercontent.com/2561857/89365466-40cad900-d707-11ea-89ce-5a6badef7361.png)

the response is:
![image](https://user-images.githubusercontent.com/2561857/89365512-5b9d4d80-d707-11ea-870e-5207790f25ff.png)

actually it returned a page

and my API setting like this:
![image](https://user-images.githubuserconten

[2020-08-05 03:22] juzhiyuan commented on #360
emmm the api address should be `localhost:8080` by default.

[2020-08-05 05:39] liuxiran commented on #360
thanks very much, when I set localhost:8080, I got the expected response error.

close this issue.

[2020-08-05 05:39] #360 closed

[2020-08-06 02:25] juzhiyuan commented on #359
Hi @varSmallRookie, any updates about this issue? Which part could I help you?

[2020-08-06 02:40] #361 closed

[2020-08-06 09:16] qiuhaohui163 opened #365 "apikey"
The new dashboard where to set the apikey? The request header don't have the X-API-KEY.

[2020-08-06 09:46] juzhiyuan commented on #365
https://github.com/apache/apisix-dashboard/blob/master/compose/manager_conf/build.sh#L27

[2020-08-06 09:46] #365 closed

[2020-08-06 10:31] liuxiran commented on #331
Hi, I have a proposal the key can be like this :   [basicModule].[moduleName].[elementName].[...desc]

1. basic keys (the first tow levels) divide according to the directory structure:
eg: app.pwa,   page.consumer,   component.actionBar

2. sub keys divide according to element +description
eg: app.pwa.message.offline,   component.actionBar.button.nextStep
If the the text is the part of a element,

[2020-08-06 23:29] juzhiyuan commented on #331
Agree +1

[2020-08-06 23:29] #331 closed

[2020-08-07 01:10] Yangzcy423911 opened #369 "About service startup with manager_api"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
manager_api启动时，能不能手动指定配置文件进行启动，或者通过cli进行传入某些参数来进行启动，而不从环境变量读取，这样会不会更优呢，如果放在k8s中通过configmap挂载配置文件到pod，这样会不会比较好呢

[2020-08-07 02:05] gxthrj commented on #369
1. I agree that the manager-api is started by formulating a configuration file, or by rewriting certain parameters when starting. This is a good feature.
2. In k8s, `configmap` can bind configuration files or specify `environment variables`. I prefer to modify specific parameters through `environment variables`, because configuration files need to pay attention to additional configuration structur

[2020-08-07 08:25] Yangzcy423911 commented on #369
Currently approved run.sh To start the service, it is also to read variables directly to modify the configuration file, and then start it. Is the efficiency a little low? Moreover, it is not very convenient to get the path of the directory through PWD

[2020-08-07 08:28] Yangzcy423911 commented on #369
In k8s, mount the configuration file through configmap. Configmap reads from the configuration file and reads different configurations in different environments. Is this more elegant. Also avoid writing the configuration file to the image. This is only my personal opinion. It does not take the place of any judgment. Thank you for your understanding, your reply, thank you very much

[2020-08-07 08:31] Yangzcy423911 commented on #369
Will this operation be closer to cloud native? There is also a point about manager_ I think it will be better if the database script of API service can be generated in an incremental way, because if there is already this library online and there is real data, an error will be reported when importing the script directly. If there is an incremental script, will the result be different

[2020-08-07 13:11] gxthrj commented on #369
for now, incremental database script upgrades are not supported. You can mention a separate issue about this feature. The incremental script needs to be bound to the version

[2020-08-08 06:32] liuxiran commented on #332
I'm not sure  if ‘every locale configuration from Module ’ means something like

`menu:{
locale: true
}`

in src/config/defaultSettings.ts?

I tried to ignore this line，menu i18n worked still fine , so I think If you mean that , it is sure that i18n auto loaded with locale enable.

[2020-08-08 12:25] juzhiyuan commented on #332
Only locales under /src/pages would work as far as I know, you could have a test :D

[2020-08-10 04:52] liuxiran commented on #332
I tried to do i18n in src/helps.tsx, which is not under src/pages
It worked by using `formatMessage` directly， which is not recommended, but the recommended way: useIntl is a react hook, only can be used in a React function component or a custom React Hook function.  so some locales such as notification msg in functions could not work.

do you mean this?

[2020-08-10 06:34] liuxiran commented on #332
test passed.👍

although src/pages locales will be auto load , and it may be better to put locales together in src/locales, it's more convenient to do management, later I will submit a pr to modiy i18n.

[2020-08-10 06:40] juzhiyuan commented on #332
Here is a standard Page example: https://github.com/apache/apisix-dashboard/tree/master/src/pages/SSL

Please put `locales` folder under each `src/pages/$PAGE` folder.

[2020-08-10 07:22] juzhiyuan commented on #359
Any updates?

[2020-08-11 10:35] juzhiyuan commented on #359
related issue https://github.com/alibaba/form-render/issues/131#issuecomment-671780907

[2020-08-12 20:04] mauriciosfriso opened #374 "About function of manager-api"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [X] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
What is the function of the manager-api?
Why not the frontend does request to apisix's admin api?
Why manager-api use an internal data base and doesn'

[2020-08-13 02:44] juzhiyuan commented on #374
![image](https://user-images.githubusercontent.com/2106987/90087883-574ce200-dd50-11ea-9576-faee8449c88d.png)

Please take a look at this image, we may have a more detailed description of this in the future.

[2020-08-13 02:45] juzhiyuan commented on #374
related issue #270, I will close this now.

[2020-08-13 02:45] #374 closed

[2020-08-13 10:54] liuxiran opened #375 "[Question]Parameter mapping feature in dashboard"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

apisix  plugin [proxy-rewrite](https://github.com/apache/apisix/blob/master/doc/zh-cn/plugins/proxy-rewrite.md) supports regex_uri, which is a very c

[2020-08-13 13:09] juzhiyuan commented on #375
related issue #359

[2020-08-13 14:05] #332 closed

[2020-08-13 14:05] #187 closed

[2020-08-13 15:46] #321 closed

[2020-08-14 08:20] liuxiran commented on #375
After reading the #359  description carefully, I think these two issues are different， this issue is about plugin:proxy-rewrite, which is used in create route step2
![image](https://user-images.githubusercontent.com/2561857/90228206-63b46600-de48-11ea-9cb2-8612ae4ac8b8.png)

I can only config `keep` and `static` to the upstreamPath, when I want to config `regx`, now it is not supported

[2020-08-14 09:47] juzhiyuan commented on #375
More clearly after reading your comment and snapshot 👍

Yes, the Manager API supports this feature, but the Dashboard doesn’t support currently, I will label this issue as enhancement.

[2020-08-17 09:19] #375 closed

[2020-08-19 03:44] juzhiyuan opened #380 "README I18n"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
We need a README in Chinese
___
### Bug
- Which version of Apache APISIX Dashboard, OS and Broswer?
None

- What happened?
If possible, provide a way

[2020-08-19 04:41] AllenLi1990 opened #381 "can not start with docker"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ - ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
can not start apisix-dashboard with docker.

CONTAINER ID        IMAGE                 COMMAND                  CREATED             STATUS

[2020-08-19 07:56] juzhiyuan commented on #381
not sure what happened, could we have a screen sharing when you are free?

[2020-08-19 07:58] AllenLi1990 commented on #381
I know what happen.
don't run "sh gen-config-yaml.sh" and it will be ok.

[2020-08-19 08:27] liubinqi2007 opened #382 "dashboard api error"
Please answer these questions before submitting your issue.
dashboard和a'pisix部署在不同机器上，请问我的dashboard访问apisix时，在apisix里的日志看见这个问题，该怎么解决。版本是1.5
![image](https://user-images.githubusercontent.com/17898385/90611144-ef5b3780-e238-11ea-830d-8a7fd35567c8.png)

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___

[2020-08-19 09:03] juzhiyuan commented on #382
Could you describe your deploy steps more detailed?

[2020-08-19 09:35] juzhiyuan commented on #381
🤔 So we SHOULD NOT run that shell, right?

[2020-08-19 09:37] AllenLi1990 commented on #381
我的情况是不运行就可以，看了下，这个脚本，运行这个脚本生成的配置是可以理解为是空的。
我猜测是作者更新的时候改过了配置文件导致的。
如果不运行，在我的电脑是可以的

[2020-08-19 09:54] juzhiyuan commented on #381
thanks!

[2020-08-19 10:05] gxthrj commented on #381
this is fixed in #383

[2020-08-19 10:07] AllenLi1990 commented on #381
thanks!

[2020-08-19 10:20] AllenLi1990 commented on #381
`wget https://raw.githubusercontent.com/apache/apisix/master/conf/config-default.yaml

if [[ "$unamestr" == 'Darwin' ]]; then
   sed -i '' -e ':a' -e 'N' -e '$!ba' -e "s/allow_admin[a-z: #\/._]*\n\( *- [0-9a-zA-Z: #\/._',]*\n*\)*//g" config.yaml
   sed -i '' -e "s%http://[0-9.]*:2379%`echo $etcd_url`%g" config.yaml
else
	sed -i -e ':a' -e 'N' -e '$!ba' -e "s/allow_admin[a-z: #\/._]*\n\( *- [0-9a-z

[2020-08-19 11:39] juzhiyuan commented on #381
done

[2020-08-19 11:39] #381 closed

[2020-08-19 12:26] juzhiyuan commented on #359
Will be fixed here https://github.com/apache/apisix/issues/2087

[2020-08-19 12:26] #359 closed

[2020-08-19 12:26] juzhiyuan commented on #188
will be fixed here https://github.com/apache/apisix/issues/2082

[2020-08-19 12:27] #188 closed

[2020-08-20 07:04] lijiapengsa opened #385 "My dashboard is not working"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

1、I started manager-api, but I didn't get any useful information. I don’t know if it succeeded or failed
![image](https://user-images.githubuserconte

[2020-08-20 09:12] juzhiyuan commented on #385
emmm There has a tricky way if you want to use your OWN manager-api to develop the Dashboard.

Just modifyed the `prefix` field in this file: `apisix-dashboard/src/app.tsx`.

[2020-08-20 09:13] #385 closed

[2020-08-21 03:21] zhou-mfk opened #386 "使用docker部署dashboard时 gen-config-yaml.sh中生成配置文件命令异常"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS and Broswer?
最新版本  gen-config-yaml.sh 中  wget https://raw.githubusercontent.com/apache/api

[2020-08-21 08:07] gxthrj commented on #386
@zhou-mfk https://github.com/apache/apisix-dashboard/blob/4d4f8159a9c1e29cf4f2ac5f7ea40c99381aad9f/compose/gen-config-yaml.sh#L24
`wget xxx -o xxx ` the `-o` is lowercase

[2020-08-21 08:11] gxthrj commented on #386
`-o` is worked in both linux and macos
but `-O` will be fail in macos

[2020-08-21 08:18] gxthrj commented on #386
yes, it is a bug,`-o ` is log file, the --output file should be `-O`

[2020-08-21 08:32] #386 closed

[2020-08-24 02:43] lijiapengsa commented on #385
For the time being, I don't worry about the error of dashboard.

Has the manager-api started successfully? No output. Is `manager-api` listening on the port or starting a process?

![image](https://user-images.githubusercontent.com/7970836/90998212-26916600-e5f6-11ea-822e-82b9a51d2846.png)

[2020-08-24 02:51] lijiapengsa opened #392 "How to judge whether `manager-api` has been started successfully"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

Has the manager-api started successfully? No output. Is manager-api listening on the port or starting a process?

![image](https://user-images.github

[2020-08-24 05:36] juzhiyuan commented on #385
@gxthrj Please take a look, thanks

[2020-08-24 13:30] liuxiran opened #394 "bug: create ssl cert error"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS and Broswer?

1. click menu: SSL, click create button

1. input  legal Public key and Priv

[2020-08-24 14:47] liuxiran opened #396 "bug:got error after login"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
I pull the latest code, and run docker component
after I login from login page , I got two errors:

![image](https://user-images.githubusercontent.com

[2020-08-24 15:12] liuxiran commented on #396
about login failed: error username or password

the response code is 200:

![image](https://user-images.githubusercontent.com/2561857/91061338-a4895780-e65e-11ea-9657-64f73b57dea9.png)

but it is returned a html in fact

![image](https://user-images.githubusercontent.com/2561857/91061189-760b7c80-e65e-11ea-88bb-a3ea5699d693.png)

the key to the problem is the api url: /user/login, which is not mat

[2020-08-24 15:20] juzhiyuan commented on #396
I get it and will take a look ASAP, thanks!

[2020-08-24 15:22] juzhiyuan commented on #396
@bzp2010 This issue is caused due to different API prefix 🤔

1. All APIs use `/apisix/admin` as a prefix;
2. Modify request fun on the frontend;

Which way would you prefer?

[2020-08-25 03:51] #396 closed

[2020-08-25 03:52] juzhiyuan opened #399 "Improve Docs for conf.json"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
Improve Docs for `conf.json`
___
### Bug
- Which version of Apache APISIX Dashboard, OS and Broswer?
None

- What happened?
If possible, provide a way

[2020-08-25 04:28] liuxiran opened #400 "create upstream got 500 error"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

1. use admin login

1. create upstream, click submit

1. got 500 error
![image](https://user-images.githubusercontent.com/2561857/91122459-fcf73e00-e

[2020-08-25 04:49] juzhiyuan commented on #400
It seems that the Manager API's API Key is incorrect with APISIX? Have you modified the API Key both in manager-api & APISIX?

[2020-08-25 05:56] liuxiran commented on #400
👀 I have not modified the API key, just use the default configuration，and use docker-compose to develop the project

[2020-08-25 06:11] juzhiyuan commented on #400
hmm May I know what version are you using? 1.5 or from master branch?

[2020-08-25 06:12] liuxiran commented on #400
master branch

[2020-08-25 06:14] juzhiyuan commented on #400
ok, I need some time to look into this issue, could you use branch 1.5 currently? it's the latest release version as far as I know.

[2020-08-25 06:19] liuxiran commented on #400
thanks very much🤝🤝， later I will try 1.5 branch

[2020-08-25 06:57] maobuji opened #402 "1.5版本的kafka-log组件无法输入broker_list"
kafka-log组件的broker_list没有输入框。
导致无法输入kafka连接信息。

[2020-08-25 06:58] juzhiyuan commented on #402
We need to update its schema in APISIX, once it's updated, I will update this isuse.

[2020-08-25 06:59] juzhiyuan commented on #402
related issue https://github.com/apache/apisix/issues/2082

[2020-08-25 07:15] juzhiyuan opened #403 "How to update admin_key?"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
How to update admin_key or API key?
___
### Bug
- Which version of Apache APISIX Dashboard, OS and Broswer?
1.5

- What happened?
If possible, provide

[2020-08-25 07:16] juzhiyuan commented on #403
After this issue is resolved, we may update the README

[2020-08-25 07:17] liuxiran commented on #400
when I checkout v1.5 branch, and use docker-compose to develop, alse got error code,but the error message are different:

![image](https://user-images.githubusercontent.com/2561857/91143841-b82bd100-e6e5-11ea-827f-6a69fceb4f12.png)
return error msg: `apisix upstream create failed: Put http://192.17.5.11:9080/apisix/admin/upstreams/a8925acf-3afb-4aeb-949c-237d09eda8f2: net/http: request canceled wh

[2020-08-25 07:31] laopaz commented on #403
![image](https://user-images.githubusercontent.com/59036981/91145328-dbf01680-e6e7-11ea-83bf-2a0a4db2a5d0.png)
I also encounter this problem. After modifying the token, 401 error will appear on the dashboard page

[2020-08-25 08:08] wanghuashun opened #404 "dashboard"
dashboard使用的介绍太少 不知道怎么操作

[2020-08-25 09:02] liuxiran commented on #396
modify ng conf can Solve this problem，but in the fe dev environment，here is another question：

login api`s url is /user/login
login page`s url is also:/user/login

how to config  the fe proxy?
so Please consider again whether to unify the interface prefix @juzhiyuan

[2020-08-25 09:41] liuxiran opened #406 "bug: click create ssl prestep not response"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS and Broswer?

    * both the v1.5 branch and master branch

- What happened?
If possible,

[2020-08-25 11:19] juzhiyuan commented on #396
yep, I agree using the uniform prefix for both admin API and other APIs.

[2020-08-25 11:20] LiteSun commented on #406
Bug confirmed. Thanks for your issue. I will fix it in the next PR.

[2020-08-25 11:21] juzhiyuan commented on #406
@LiteSun hmm @liuxiran just created a PR for this issue https://github.com/apache/apisix-dashboard/issues/406

[2020-08-25 11:22] LiteSun commented on #406
Good. i

[2020-08-25 11:28] juzhiyuan commented on #404
Ya, because there have more works, so we have no much time to write the User Guide, would you like to help us to write User Guide?

[2020-08-25 14:18] nic-chen commented on #400
@liuxiran  I think APISIX was not running in your env, you could pull the master branch and try again. thanks.

[2020-08-25 16:20] gxthrj commented on #403
This is because manager-api needs to specify `admin-key` when accessing apisix.
the config file is https://github.com/apache/apisix-dashboard/blob/master/api/conf/conf_preview.json#L16,
and you can modify the key through environment named `APISIX_API_KEY`,
we will get the value from env before start manager-api (https://github.com/apache/apisix-dashboard/blob/master/api/build.sh#L27)

[2020-08-26 02:40] liuxiran commented on #400
thanks very much, after I updated master to the lastest, use docker-compose to develop the project, this issue has been solved already.

close issue, thanks again~

[2020-08-26 02:40] #400 closed

[2020-08-26 02:54] gxthrj commented on #392
Usually our logs are printed on stdout. The situation you encounter is generally a startup failure, usually because of port conflicts. the default port of manager-api is 8080.
Here is a new PR #409  about the log output after startup failure.

[2020-08-26 03:09] #392 closed

[2020-08-26 03:09] #403 closed

[2020-08-26 03:10] #369 closed

[2020-08-26 03:11] juzhiyuan commented on #329
This feature is maintained on the master branch, I will close it currently.

[2020-08-26 03:11] #329 closed

[2020-08-26 03:11] juzhiyuan commented on #298
@bzp2010 sent a PR days ago, and this feature (unstable) is on the master branch.

[2020-08-26 03:11] #298 closed

[2020-08-26 03:14] juzhiyuan commented on #270
https://github.com/apache/apisix-dashboard/blob/master/manager-api.md

[2020-08-26 03:14] #270 closed

[2020-08-26 03:15] #380 closed

[2020-08-26 03:17] juzhiyuan commented on #194
This feature is in development now and will be released in about 10 days.

[2020-08-26 03:18] juzhiyuan commented on #181
feel free to reopen this issue :D

[2020-08-26 03:18] #181 closed

[2020-08-26 03:19] juzhiyuan commented on #44
assigned to @LiteSun

[2020-08-26 03:19] #346 closed

[2020-08-26 03:19] #406 closed

[2020-08-26 03:23] wanghuashun commented on #404
现在还不太懂 不敢乱写

[2020-08-26 03:26] wanghuashun opened #410 "grafana"
![image](https://user-images.githubusercontent.com/32918557/91251839-da2d5e00-e78e-11ea-8c97-515cecf66254.png)
直接填入好像不行  需要其他操作吗

[2020-08-26 06:09] juzhiyuan commented on #410
Could you visit this address directly in your browser?

[2020-08-26 06:53] liuxiran opened #412 "bug: submit setting grafana url without validation"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS and Broswer?
* master branch

- What happened?
If possible, provide a way to reproduce the

[2020-08-26 07:29] #412 closed

[2020-08-26 11:11] wanghuashun commented on #410
可以访问的

[2020-08-26 13:21] juzhiyuan commented on #410
Maybe you are visiting this HTTP website under HTTPS mode? Could you please provide more detailed info?

[2020-08-27 02:16] liuxiran opened #416 "after update master, login return error again"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS and Broswer?
latest master branch

- What happened?
If possible, provide a way to reproduc

[2020-08-27 02:38] juzhiyuan commented on #416
Looks like the manager api couldn't connect the MySQL because of incorrect username or password, please check.

BTW, we are planning to use other lightweight DB to replace MySQL, it will take some time to finish this work.

[2020-08-27 02:48] imjoey commented on #416
@juzhiyuan Could you please elaborate which lightweight DB will be the alternative, as well as the reason? Maybe we could help, with pleasure. 😄

[2020-08-27 04:58] juzhiyuan commented on #416
@bzp2010 would involve this issue :D

[2020-08-27 05:50] wanghuashun commented on #416
我前天就遇见了  解决了   登陆不上是因为前端的一个地方。

[2020-08-27 05:53] wanghuashun commented on #416
前端的请求有问题
src\pages\User\components\LoginMethodPassword.tsx
98行
 const result = await request('/user/login',
改成  const result = await request('http://192.168.3.124:8000/user/login',
http://192.168.3.124:8080 后端(go)的api地址 之后就好了

[2020-08-27 06:02] liuxiran commented on #416
感谢您的回答，我的问题还不是这个原因，事实上最新的代码中社区的同学已经规范了login的url。
我尝试剔除了这个commit： https://github.com/apache/apisix-dashboard/commit/d37c11b4f05d2dd52165995e1bd81fb2b89eeaef
重新编译构建了代码，问题就不存在了，所以考虑问题是不是出在☝️提交中。

[2020-08-27 07:27] liuxiran opened #417 "Get routeInfo [websocket] field is not match the value enterd"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS and Broswer?
* dashboard: master branch except commit https://github.com/apache/apisix-das

[2020-08-27 08:33] liuxiran opened #418 "actionBar should not appear in create/edit route resultview"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS and Broswer?

- What happened?
If possible, provide a way to reproduce the error.

___
###

[2020-08-27 08:36] juzhiyuan commented on #416
It seems that you don't notice the nginx file :{ there has a proxy rule to handle requests including `/apisix/admin`

[2020-08-27 08:39] juzhiyuan commented on #416
Not sure, but the online demo site[1] is using the latest codes from branch 🤔 Every commit sent to master branch will trigger the CI & CD.

[1] http://139.217.190.60/

[2020-08-27 08:39] juzhiyuan commented on #416
cc @nic-chen

[2020-08-27 10:42] juzhiyuan commented on #417
@LiteSun Please take a look, thx!

[2020-08-27 11:05] liuxiran commented on #416
yeap, I tried the demo site, it works well , but It still does not work well in my local docker-compose environment, still need help

[2020-08-27 11:51] #418 closed

[2020-08-27 11:51] nic-chen commented on #416
it looks like manager api try to connect to mysql on 127.0.0.1:3306 , have you modified `apisix-dashboard/compose/manager_conf/build.sh`? @liuxiran

[2020-08-27 12:00] liuxiran commented on #416
no, developed with the default config files

[2020-08-27 14:30] juzhiyuan commented on #416
@nic-chen this PR will resolve this issue?

[2020-08-27 14:31] juzhiyuan opened #422 "Node.js Version test"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
We need to know which is the lowest Node.js version to build Dashboard.
___
### Bug
- Which version of Apache APISIX Dashboard, OS and Broswer?

- Wha

[2020-08-27 14:39] nic-chen commented on #416
@juzhiyuan yes i think so.

@liuxiran  you could pull the master branch and try again, thanks.

[2020-08-28 01:31] liuxiran commented on #416
wow, issue has been resolved after I updated to the lastest master.  thanks very much!!!!!!!

BTW, I could not understand why yesterday, with the error code, the demo site still worked fine? If there is something wrong with the ci?

[2020-08-28 01:52] juzhiyuan commented on #416
We don't have smoke testing currently 🤔  and Frontend and Backend are deployed separately, feel free to reopen this issue if there have other errors.

[2020-08-28 01:52] #416 closed

[2020-08-28 06:27] wanghuashun commented on #410
就显示响应失败 估计是我安装的问题

[2020-08-28 06:48] juzhiyuan commented on #410
😂 ok then, you could visit it directly in your browser instead of setting it in Dashboard

[2020-08-28 06:50] wanghuashun commented on #410
Yes, I think so

[2020-08-28 07:33] liuxiran opened #424 "bug: create route return 500"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?
* Version: **latest master branch**
* OS: fedora32
* **use docker-compose to

[2020-08-28 09:15] liuxiran commented on #424
after I clear the `/tmp/datadir` and redeploy the environment, everything worked fine. so this issue is caused by my environment, close it now.

[2020-08-28 09:15] #424 closed

[2020-08-28 15:49] liubinqi2007 opened #425 "认证权限"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
请问这个在哪配，因为我自己写了一个认证插件，我只配我自己写的插件了，但提示我必须选一，我该怎么配置，让我的插件也是认证插件
![image](https://user-images.githubusercontent.com/17898385/91587206-07ddf700-e989-11ea-

[2020-08-29 04:49] liuxiran opened #427 "bug: there is no response clicking 'createNew' button in create route resultView"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?
the latest master branch

- What happened?
If possible, provide a way to rep

[2020-08-29 07:14] LiteSun commented on #417
@gxthrj  The API returns an error `protocols `,  please have a check.

[2020-08-29 07:23] juzhiyuan commented on #427
@LiteSun Please take a look.

[2020-08-29 07:48] juzhiyuan commented on #410
I will close this issue currently, feel free to reopen this if needed.

[2020-08-29 07:48] #410 closed

[2020-08-31 05:25] liuxiran opened #431 "Feature: route group"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?

- What happened?
If possible, provide a way to reproduce the error.

___
##

[2020-08-31 07:47] moonming commented on #431
@liuxiran cool, that will be very useful for hundreds of routes.
How about add `tag` for route, service? which is more flexible, a route can have multiple tags

[2020-08-31 08:44] liuxiran commented on #431
`tag` would be a more flexible and more fine-grained solution👍, user can  it`s also useful for other modules like upstream and so on.

And above `tag`, group would be closer to management, especially when there many users of different roles(dashboard could not have users only with one role), and many projects in this gateway, `group` would conveniently help us complete the division of route permis

[2020-08-31 08:49] moonming commented on #431
k8s supports tag too, so I think APISIX supports tag is easy:)

Thanks,
Ming Wen
Twitter: _WenMing

liuxiran <notifications@github.com> 于2020年8月31日周一 下午4:44写道：

[2020-08-31 13:39] liuxiran commented on #431
wow~ It would be better that APISIX can supports tag~!! At the same time, we commit prs which enable apisix-dashboard to support group.
BTW If you plan to add tag functionality to APISIX, my partners and I would like to contribute to it :)

[2020-08-31 15:19] moonming commented on #431
good job,thx

liuxiran <notifications@github.com> 于 2020年8月31日周一 下午9:40写道：

[2020-09-01 01:31] imjoey commented on #431
@moonming `tags/labels` would be very helpful for users easily to get the wanted `routes/services/upstreams`. Besides, the feature of route grouping we are working on aims at adding support for multi-tenant management for routes, which is necessary for enterprise users. The kubernetes you mentioned above is also supporting `namespace` for isolating resources, as well as labels for quick selection.

[2020-09-01 01:37] moonming commented on #431
cool, that will be great if we can support both namesapce and labels.

Thanks,
Ming Wen
Twitter: _WenMing

Joey <notifications@github.com> 于2020年9月1日周二 上午9:31写道：

[2020-09-01 01:42] imjoey commented on #431
@moonming  yeah, that's really awesome for your support. Thank you.

[2020-09-01 02:38] moonming commented on #431
@imjoey you are welcome :)
I have a concern, will namesapce increase the cost of using and learning for open source users?

[2020-09-01 03:02] imjoey commented on #431
@moonming yep, that's true and will surely bring some sort of complexity, especially if there are only several routes. While in contrast, if users need to manage a large number of routes, the benefits would be pretty valuable for users.

How about we allow the existence of ungrouped routes. Users can both enjoy the flexibility and this mature management method?

[2020-09-01 12:34] juzhiyuan opened #434 "Requirements for refactoring the Dashboard with Manager API"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [x] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Requirements
- What do you want to know?

As title said

[2020-09-03 00:17] juzhiyuan commented on #434
# APIs
## Route
### Create
### Delete
### Update
### Fetch List
### Fetch Detail
### Check if there has routes with same name
### Fetch Upstream List
`/names/upstreams`
### Check if there has SSL Cert with targeting Host

## Upstream
### Create
### Delete
### Update
### Fetch List
### Fetch Detail

## SSL
### Create
### Delete
### Update
### Fetch List
### Fetch Detail
### Verify SSL Key pair
###

[2020-09-03 00:33] juzhiyuan commented on #434
@nic-chen Please take a look at above APIs which are related with MySQL? Then you can remove others directly by editing the second comment.

[2020-09-03 01:43] liuxiran commented on #431
Our solution now（refer to existing pr）：
1. create a data table of routeGroup, realize CRUD of routeGroup

1. associate the ID and Name of routeGroup in the route to connect the two.

The changes to the route:
* user needs to specify a group when creating a route (or create a new group along with it)

If you think the above suggestion is more user-friendly, we will also modify the implementation pl

[2020-09-03 03:10] javacjavawf commented on #382
me too!  APISIX 1.5

tail -f access.log
10.111.96.23 - - [24/Aug/2020:13:30:48 +0800] 10.111.96.95:9080 "GET /apisix/favicon.ico HTTP/1.1" 404 54 0.000 "http://10.111.96.95:9080/apisix/dashboard" "Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.61 Safari/537.36" - - -
10.111.96.23 - - [24/Aug/2020:13:30:48 +0800] 10.111.96.95:9080 "GET /apisix/admin

[2020-09-03 04:14] #394 closed

[2020-09-03 04:25] liuxiran opened #435 "bug: httpheaderrewrite data lost when view update in create route step2"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?
the latest master branch

- What happened?
If possible, provide a way to rep

[2020-09-03 06:04] juzhiyuan commented on #382
Please use the latest dashboard 1.5 or on the master branch instead of 1.0.

[2020-09-03 06:05] #382 closed

[2020-09-03 06:11] #427 closed

[2020-09-03 08:29] liuxiran commented on #434
if routeGroup merged, there are some **routeGroup** apis here: @juzhiyuan  @nic-chen

Create
POST `/routegroups`

Delete
DELETE `/routegroups/:gid`

Update
PUT `/routegroups/:gid`

Fetch List
GET `/routegroups`

Fetch Detail
GET `/routegroups/:gid`

Fetch name List
GET `/names/routegroups`

Check route group exit
GET `/notexist/routegroups`

[2020-09-03 08:47] juzhiyuan commented on #434
cc @gxthrj @nic-chen

[2020-09-03 09:20] nic-chen commented on #434
I have updated https://github.com/apache/apisix-dashboard/issues/434#issuecomment-686153897

Note that we need to implement the features using by relational database currently:
1. unique constraint
2. paging
3. foreign key constraint

[2020-09-03 09:43] liuxiran opened #437 "Feature：route publish management"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?

- What happened?
If possible, provide a way to reproduce the error.

___
##

[2020-09-03 10:21] juzhiyuan commented on #434
cc @bzp2010 @gxthrj @moonming @membphis @ShiningRush @liuxiran @tiannian @LiteSun

[2020-09-03 10:23] juzhiyuan commented on #437
cc @moonming @nic-chen

[2020-09-03 10:56] #422 closed

[2020-09-03 13:24] ShiningRush commented on #434
Fine, I will make a simple design image about watching ETCD in this week.
BTW: I have read the code of manager API, but I do not see any code about RBAC, is the feature still not implement?

[2020-09-04 06:58] y934317258 opened #440 "Route storage failure: Error 1054: Unknown column 'script' in 'field list'"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
Route storage failure: Error 1054: Unknown column 'script' in 'field list'
![IAEE3229OH L7RJTZS_P)VP](https://user-images.githubusercontent.com/688323

[2020-09-04 07:18] y934317258 commented on #440
Is this a new version of bug？

[2020-09-04 08:18] nic-chen commented on #440
@y934317258
please update your mysql table `routes`:
[code]

it's updated by this pr:
https://github.com/apache/apisix-dashboard/pull/411/files#diff-8a29820976db180f132d6c80c9044cf5R15

[2020-09-04 09:40] y934317258 opened #442 "When is the MySQL script initialized? After I started through compose, I found that the initialization script did not execute"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
When is the MySQL script initialized? After I started through compose, I found that the initialization script did not execute
___
### Bug
- Which vers

[2020-09-05 02:42] #435 closed

[2020-09-06 07:30] ShiningRush commented on #434
I drew a picture to show how the underlying components work together
![image](https://user-images.githubusercontent.com/24238012/92320639-99b6c580-f055-11ea-9b4b-58a6ca4f0e1a.png)

This is a bit like the design of [k8s apiserver](https://github.com/kubernetes/apiserver/blob/master/pkg/registry/generic/registry/store.go), but it simplifies a lot of details.
Here are the responsibilities of each com

[2020-09-06 07:45] juzhiyuan commented on #434
Just waiting for other teammates' response :D

[2020-09-06 07:50] juzhiyuan opened #444 "Proposal: Improve the Route module"
## Why
As the creation/editing part of the Route module and the related APIs continue to iterate, for some historical reasons, the data state and variable naming between those various step pages need to be appropriately adjusted to enhance its maintainability.
The module currently consists of four-step pages.

- Step1(Setup Request)
	- Form: Basic configuration, e.g name, desc, etc.
	- List: Advan

[2020-09-06 07:52] juzhiyuan commented on #444
cc @bzp2010 @liuxiran @imjoey @LiteSun

Please take a look :D if there has something unclear, feel free to comment here, this proposal will last no more than 48 hours.

[2020-09-06 10:38] nic-chen commented on #434
LGTM.
`GenericStore`, do we implement it, or there are some ready-made component recommended ?

[2020-09-06 12:47] ShiningRush commented on #434
We implement it,I do not find any libs can helps us.
But our case it not complex, so it will not take many works.

[2020-09-06 13:54] moonming commented on #434
We can discuss in an online meeting, and then synchronize the results here

[2020-09-06 15:16] juzhiyuan commented on #425
## Steps
1. Adding your custom Auth plugin to APISIX, please make sure it must contain the `auth` text in the name. e.g custom-auth.
2. Modify the config file[1], and add your custom plugin's name, make sure when visiting the `/apisix/admin/plugins` API, your custom plugin's name should appear here.
3. Downloading the latest Dashboard codes from the master branch.

[1] https://github.com/apache/ap

[2020-09-06 15:18] #425 closed

[2020-09-06 15:19] juzhiyuan opened #447 "GitHub Action: make sure every PR's version is larger than the master's version."
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Requirement or improvement
- Please describe your requirements or improvement suggestions.
As title said.

[2020-09-06 15:21] juzhiyuan commented on #425
Feel free to reopen this issue if your question still exist :D

[2020-09-06 15:24] juzhiyuan commented on #404
The Route module & Plugin module are under refactoring to make them better to use, so I will close this issue currently, the User Guide will be on board once those major issues are resolved :D

[2020-09-06 15:24] #404 closed

[2020-09-06 15:31] juzhiyuan opened #448 "Proposal: improve the PluginModule"
![image](https://user-images.githubusercontent.com/2106987/92907225-b852fd00-f457-11ea-9492-26f820eb9c52.png)

## Why
1. The plugin module is divided into two parts:
	1. Generic plugin page;
	2. Plugin Orchestration
This proposal is intended to document changes to the generic plugin page.

## How
### Operation & Limitation
The plugin list page is used to **categorize** each plugin using the card a

[2020-09-07 01:51] imjoey commented on #434
@ShiningRush Yeap, RBAC has not been implemented yet.

[2020-09-07 11:06] moonming opened #449 "CI: add tools to check ASF headers in code files"
the same as https://github.com/apache/apisix/blob/master/Makefile#L184

[2020-09-08 01:36] nic-chen commented on #442
Initialize with docker-entrypoint-initdb.d script :
https://github.com/apache/apisix-dashboard/blob/master/compose/docker-compose.yml#L84

[2020-09-08 01:36] #442 closed

[2020-09-08 01:53] juzhiyuan commented on #444
cc @LiteSun Ready to continue.

[2020-09-08 01:53] #440 closed

[2020-09-08 01:54] #399 closed

[2020-09-08 01:55] juzhiyuan commented on #194
UPDATE: This issue will be addressed soon.

[2020-09-08 01:55] #42 closed

[2020-09-08 03:38] Firstsawyou commented on #449
Assigned to me.

[2020-09-08 03:55] y934317258 opened #452 "An error is reported when creating the second route：RouteGroup name is duplicate"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?
master
- What happened?
RouteGroup name is duplicate
![image](https://user-im

[2020-09-08 04:56] bzp2010 commented on #437
@juzhiyuan
I don't know what progress has been made in the replacement of database. At present, the pr #450 related to this is use mysql. Is this only regarded as a temporary measure.

[2020-09-08 06:43] juzhiyuan commented on #452
@liuxiran Please take a look, thanks!

[2020-09-08 06:45] juzhiyuan commented on #434
@moonming @ShiningRush Could you please set a milestone here?

cc @bzp2010

[2020-09-08 06:50] y934317258 commented on #452
![J86ZQR1`7F4(VG` 085D @L](https://user-images.githubusercontent.com/68832358/92442453-7ec58c00-f1e2-11ea-903a-40281f4229fc.jpg)
Maybe it's the problem here. I'm not sure

[2020-09-08 07:08] liuxiran commented on #452
@y934317258 yes this error is due to the front ends corresponding to the routeGroup are still not merged
when creating a route, a group without a name is created by default. When a new route is created, a new group (with no name) is created by default. Two groups without a same name report this error.

it'll be solved with the routegroup pr merged and we will update the logic at the same time . Th

[2020-09-08 11:31] imjoey commented on #434
@ShiningRush @juzhiyuan  Just as a reminder, APISIX itself is using API v2 to interactive with etcd, meanwhile this new design seems that API v3 would be adopted in Manager. This will lead to no data could be shared between APISIX and Manager. I did not see any discussions about this(maybe I missed something 😄 ), so I was wondering if we have already deliberated on that? Thank you all.

[2020-09-08 11:38] juzhiyuan commented on #434
need @membphis @moonming 's help to address your question 😂

[2020-09-08 12:17] moonming commented on #434
APISIX will change to etcd v3 at the same time, there is already a pr in
apisix repo.

琚致远 <notifications@github.com> 于 2020年9月8日周二 下午7:38写道：

[2020-09-08 12:22] ShiningRush commented on #434
@imjoey `GenericStore` just depend on a storage interface, so we can also implement etcdv2storage if we need

[2020-09-08 12:37] imjoey commented on #434
@ShiningRush OK, thanks for your point.

[2020-09-08 12:39] imjoey commented on #434
@moonming yeah, that would be really great! Thanks.

[2020-09-08 17:35] Firstsawyou opened #457 "request help: How to resolve the license conflict in the file header."
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
Some files have "MIT License" in the header, how to add "ASF Licese". Is it one of the two?
For example: [https://github.com/apache/apisix-dashboard/b

[2020-09-09 00:18] juzhiyuan commented on #457
Just keep the MIT Header, @moonming right?

[2020-09-09 00:39] moonming commented on #457
yes, we should keep these original headers.
you can skip these files in license check tool.

琚致远 <notifications@github.com> 于 2020年9月9日周三 上午8:18写道：

[2020-09-09 02:10] tengzhinei opened #458 "bug: When creating a route, host should not be required"
### Issue description

When creating a route, host should not be required. We are a sass project. Thousands of domain names point to the same system. Now, we are using Kong. kong   is not required

![image](https://user-images.githubusercontent.com/2428304/92546242-af5e0200-f284-11ea-8aca-823c44b5ad26.png)

[2020-09-09 02:45] Firstsawyou commented on #457
okay, thanks.

[2020-09-09 05:13] ShiningRush commented on #434
@bzp2010 @gxthrj @moonming @membphis @ShiningRush @tiannian @LiteSun
`GenericStore` has already completed.I write a demo about how to use it in `internal/handler/route/route.go`
I found some project problems, listed below:
- The project structure is not standardized, please refer to [golang-standards/project-layout](https://github.com/golang-standards/project-layout)
- We need a middleware mechani

[2020-09-09 09:12] juzhiyuan commented on #458
cc @membphis @nic-chen so it's not needed? 🤔

[2020-09-09 09:54] y934317258 opened #459 "In the routing plug-in configuration interface, click response rewrite to display 500"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?
master centos7 chrom
- What happened?
If possible, provide a way to reproduc

[2020-09-09 15:58] LiteSun commented on #459
![image](https://user-images.githubusercontent.com/31329157/92622316-7dd24e80-f2f7-11ea-8c7b-1c281ff68258.png)
It seems that API does not return the expected data.  @gxthrj Please have a check.
front-end needs to enhance error handling.

[2020-09-10 07:45] maxluo1992 opened #464 "request help: 401 when using apisix in k8s"
### Issue description
I use the docker image to open apisix in the k8s environment, but an error 401 Authorization Required is reported when accessing the resources of the dashboard. But I did not report an error when deploying in a traditional environment.
### Environment
* APISIx Version (CMD: 'APISIx version'):1.2
* OS: centos7.8 for docker

[2020-09-10 08:06] liubinqi2007 opened #463 "Custom plug-in profiles and links"
￼
<img width="961" alt="image" src="https://user-images.githubusercontent.com/17898385/92698954-971edd80-f37f-11ea-8463-d37a1133f5dc.png">

[2020-09-10 15:02] juzhiyuan commented on #463
Sure, the description would be added once I have implemented the PluginModule.

[2020-09-10 15:16] juzhiyuan commented on #458
ping @membphis @nic-chen

[2020-09-11 01:11] maxluo1992 commented on #464
Yes,my dashboard version is v1.0.

[2020-09-11 02:15] juzhiyuan commented on #464
Please use the latest (master or 1.5 branches) if possible.

[2020-09-11 02:18] liuxiran commented on #417
update master,  Api can return the right protocols now. close it.

[2020-09-11 02:18] #417 closed

[2020-09-11 02:27] liubinqi2007 commented on #463
Has this functionality been implemented yet? Still need to develop

[2020-09-11 02:46] liuxiran opened #466 "bug: a related to route basic-auth consumer should not be deleted"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?
the latest master

- What happened?
If possible, provide a way to reproduce

[2020-09-11 03:10] juzhiyuan commented on #463
No, still in progress.

[2020-09-11 03:12] juzhiyuan opened #468 "SonarCloud Report"
https://sonarcloud.io/project/issues?id=idbeta_apisix-dashboard&resolved=false

This link contains some scan reports for the Dashboard repository, both Golang, and FE, just recommendations.

- [ ] cc @nic-chen Please take a look at the Golang files.
- [ ] cc @LiteSun Please take a look at those FE files.

If there have some good points, please update them. If not, just ignore them.

[2020-09-11 03:52] juzhiyuan commented on #434
@ShiningRush Could you please leave the result about the last meeting here?

[2020-09-11 05:40] ShiningRush commented on #434
The key points of the meeting are as follows:
- I will write an api demo first, and then x will cooperate to migrate the existing API
- The front end needs to migrate the data format conversion work to the front end, because the ManagerAPI needs to keep the data structure consistent with the AdminAPI

[2020-09-11 07:23] juzhiyuan commented on #434
got it ping @moonming

[2020-09-11 07:34] moonming commented on #434
LGTM

Thanks,
Ming Wen
Twitter: _WenMing

琚致远 <notifications@github.com> 于2020年9月11日周五 下午3:24写道：

[2020-09-11 08:23] liuxiran opened #469 "Feature: debug a route online"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?

- What happened?
If possible, provide a way to reproduce the error.

___
##

[2020-09-11 09:54] juzhiyuan commented on #448
@bzp2010 @LiteSun @liuxiran Any ideas about this proposal?

[2020-09-11 09:55] juzhiyuan commented on #463
related issue #448

[2020-09-11 09:56] #463 closed

[2020-09-11 09:57] juzhiyuan commented on #469
ping @membphis @moonming

[2020-09-11 10:26] juzhiyuan opened #470 "Proposal: Health Checks for Upstream"
![image](https://user-images.githubusercontent.com/2106987/92912746-b0498c00-f45c-11ea-98eb-0a6a5078f6fa.png)

## Why
Doc: https://github.com/apache/apisix/blob/master/doc/health-check.md

## How
Active and passive checks exist in parallel in the upstream module as separate configurations, they should obey the following rules.
1. All disabled: Only show the Ant Design Switcher components for those

[2020-09-11 10:30] juzhiyuan commented on #470
ping @membphis @liuxiran

[2020-09-11 10:31] juzhiyuan commented on #194
related #470

[2020-09-11 10:31] #194 closed

[2020-09-11 11:01] juzhiyuan opened #471 "Support Service"
![image](https://user-images.githubusercontent.com/2106987/92917544-2b14a600-f461-11ea-97bc-65bd916921fd.png)

## Why
Service is aimed to pre config the upstream and plugins and would be referenced when creating a route.
This proposal is aimed to build the Service module only, as for referencing a service when creating a route, this will be discussed when this module is implemented according to th

[2020-09-11 11:02] juzhiyuan commented on #471
@membphis Please take a look once more, thanks!

[2020-09-11 11:03] juzhiyuan commented on #212
related issue #471

[2020-09-11 11:03] #212 closed

[2020-09-11 11:37] juzhiyuan commented on #470
![image](https://user-images.githubusercontent.com/2106987/92921226-40d89a00-f466-11ea-92b9-350198d9256a.png)

[2020-09-11 16:16] liuxiran commented on #470
Agree with ui design 👍 ,  I have a question about interaction logic：

refer to the [upstream health-check doc:](https://github.com/apache/apisix/blob/master/doc/health-check.md) active check and passive check could  be configured independently

and you also say：

why does `Enable passive check` depend on the  active check is enabled?

[2020-09-11 22:40] juzhiyuan commented on #470
Good catch, @membphis, could you please describe this logic?

[2020-09-12 00:20] juzhiyuan commented on #470
Even though we could use Passive Check only, but because once the upstream is down, the Gateway doesn't know when to recover just like Active Check does.

[2020-09-13 04:49] membphis commented on #458
only `uri` is the required option. the `host` is optional option.

[2020-09-13 05:21] juzhiyuan commented on #458
please modify this one when you update the Route module

[2020-09-14 02:07] liuxiran commented on #470
so, is it necessary to update the [documentation](https://github.com/apache/apisix/blob/master/doc/health-check.md), add this description?

[2020-09-14 02:18] juzhiyuan commented on #470
It's not a hurry :D because we could use Active Health Check and Passive Health Check independent, but we recommend enabling active health check when enabling passive health check.

[2020-09-14 06:48] juzhiyuan commented on #448
close #459

[2020-09-14 14:07] juzhiyuan commented on #457
closed now, feel free to reopen it if needed.

[2020-09-14 14:07] #457 closed

[2020-09-15 01:38] juzhiyuan opened #473 "PluginModule: v2"
- [x] Support JSONSchema
- [x] https://github.com/api7/dashboard-components/pull/64/files#diff-0cab6f1803aec3e2d77a2fe883f62c05R97
- [x] UX
- [x] Eye Icon
- [x] Remove Desc
- [x] Sort

[2020-09-15 01:59] #448 closed

[2020-09-15 01:59] #459 closed

[2020-09-15 02:28] juzhiyuan commented on #473
@moonming @membphis  Please provide the priority for every category and plugin.

[2020-09-15 06:35] juzhiyuan opened #474 "Publish route failed"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other
___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?
Codes on the master

- What happened?
![image](https://user-images.githubusercontent.com/2106987/93174519-ae374400-f760-11e

[2020-09-15 06:41] juzhiyuan commented on #466
ping @membphis @nic-chen

[2020-09-15 06:41] #464 closed

[2020-09-15 06:42] juzhiyuan commented on #458
assigned to @LiteSun

[2020-09-15 06:42] juzhiyuan commented on #452
merged, feel free to reopen this one.

[2020-09-15 06:42] #452 closed

[2020-09-15 06:43] juzhiyuan commented on #449
Done?

[2020-09-15 06:43] juzhiyuan commented on #444
cc @LiteSun  Need some time to work on this, I just added the latest plugin.

[2020-09-15 06:44] juzhiyuan commented on #434
Any update?

[2020-09-15 06:44] moonming commented on #449
yes, fixed by https://github.com/apache/apisix-dashboard/pull/465

[2020-09-15 06:44] #449 closed

[2020-09-15 06:44] juzhiyuan commented on #437
tracking issue: https://github.com/apache/apisix-dashboard/issues/434

[2020-09-15 06:44] #437 closed

[2020-09-15 06:45] juzhiyuan commented on #431
merged and closed.

[2020-09-15 06:45] #431 closed

[2020-09-15 06:45] #162 closed

[2020-09-15 06:50] juzhiyuan commented on #470
hi @liuxiran, would you like to implement this feature (if you have free time)?

[2020-09-15 07:33] liuxiran commented on #474
something like mysql has not been updated, Will mysql be updated synchronously when the demo environment updated? @juzhiyuan

[2020-09-15 07:34] MrJLuo opened #518 "request help: dashboard 404"
### Issue description
![image](https://user-images.githubusercontent.com/24730937/93179490-51d82280-f768-11ea-94b1-b7128fa5718d.png)
![image](https://user-images.githubusercontent.com/24730937/93179554-67e5e300-f768-11ea-89c8-d82474560d97.png)
![image](https://user-images.githubusercontent.com/24730937/93179750-b2675f80-f768-11ea-9e63-b55ec5df2bdf.png)

The nginx static resource file cannot be req

[2020-09-15 08:14] moonming commented on #473
plugin categories and priority:
- limit traffic: limit-req, limit-conn, limit-conn
- observability: prometheus, skywalking, zipkin, request-id
- security: ip-restriction,CORS, uri-blocker, Fault Injection, Request Validator
- Authentications: key-auth, JWT, basic-auth, openid-connect, authz-keycloak
- Log: kafka, http-logger, tcp-logger, udp-logger, syslog
- others: proxy-cache, proxy-mirror, echo

[2020-09-15 09:41] liuxiran commented on #470
yes, waiting for my pr :)(later this week)

[2020-09-15 12:22] juzhiyuan commented on #474
not sure, cc @nic-chen

[2020-09-15 13:17] nic-chen commented on #474
I had updated mysql, you could have a try again. @juzhiyuan @liuxiran

[2020-09-15 15:24] liuxiran commented on #474
passed 👍

[2020-09-15 17:28] liuxiran commented on #469
After research on swagger-ui, and tried to introduce [swagger-ui-react](https://www.npmjs.com/package/swagger-ui-react ) in our project, I found it would be a  feasible solution to do the online debug here, and the **demo** just like this:

1. add a [online debug] button in route list
![image](https://user-images.githubusercontent.com/2561857/93241981-b3c07880-f7b8-11ea-8f63-e730899b60b8.png)

1.

[2020-09-16 01:35] juzhiyuan commented on #469
Looks good to me, and this needs a backend to proxy those different origins' requests, I guess this doesn't depend on DB, so feel free to go :D

[2020-09-16 01:35] #474 closed

[2020-09-16 01:42] corffee opened #476 "How to configure a TCP upstream by dashboard?"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ 1] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
How to  configure a TCP upstream by dashboard?
___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?

- What happened?
If possible

[2020-09-16 04:38] membphis commented on #476
that is a todo feature now.

@corffee welcome PR or provide your thoughts.

[2020-09-16 07:53] Caelebs opened #478 "What is the default account password of the dashboard?"
Please answer these questions before submitting your issue.

### Question
- What is the default account password of the dashboard?

[2020-09-16 08:09] liuxiran commented on #478
admin/admin 😊

[2020-09-16 08:51] membphis commented on #469
That is a useful feature. We can use a specified header for testing. Any suggestion?

[2020-09-16 08:53] juzhiyuan commented on #469
take a look at those requests sent from Swagger UI?

[2020-09-16 08:55] Caelebs commented on #478
我用admin/admin登录后端apisix内部的NGINX日志有报错
[code]
前台页面提示账号密码错误...
@liuxiran

[2020-09-16 10:09] bzp2010 commented on #478
@Caelebs Please check API response by `Chrome Developer Tools (F12)`.

Normally, the response is similar to this.
`
{
  "data": {
    "token": "A JWT string"
  }
}
`

[2020-09-16 10:26] Caelebs commented on #478
不好意思我英文不好还是中文描述吧
我这边尝试过注释掉服务端apisix配置文件config.yaml文件中admin_key这一段，这一段注释掉之后前台登录时候user/login接口直接报404，还有这个admin_key配置中的key值我应该怎样生成？
所以我又把注释掉的那一段还原回去，重新部署之后环境以及恢复到之前的状态，登录报错信息和之前的一样
[code]

前端页面控制台看了下报错401 Authorization Required
但是cookie里面有token
![image](https://user-images.githubusercontent.com/12752710/93325508-06964080-f84a-11ea-816f-2b7780125e1b.png)

![image](https://user-images.githubusercontent

[2020-09-16 11:08] bzp2010 commented on #478
@Caelebs
It seems that the Manager API is not using the latest version. Can you try to update it?
Explanation: in the previous update, the login API was adjusted from `/user/login` to `/apisix/admin/user/login`, and the frontend code of the dashboard was also updated synchronously. However, in previous versions, API requests prefixed with `/apifix/admin` would be filtered through the filter, and t

[2020-09-16 13:15] membphis commented on #471
Allow users to directly fill in the upstream address, we can support this feature later.

[2020-09-16 14:01] membphis commented on #469
After researching, the test request does not require any specific request headers.

On the dashboard, it directly simulates the user's request. Very good function, look forward to.

[2020-09-16 15:27] juzhiyuan commented on #471
Just to make sure, does this mean users could fill in the Upstream Form manually instead of choosing a existing one? This will be implemented in the Upstream Form :D

[2020-09-16 15:29] juzhiyuan commented on #434
- [ ] Refactor APIs about Route, Upstream, etc. Both backend and frontend.
- [ ] Uniform the Error Codes both on backend and frontend.

[2020-09-17 07:46] juzhiyuan commented on #473
![image](https://user-images.githubusercontent.com/2106987/93436105-e96e7a00-f8fc-11ea-944d-38e0cd66b322.png)

Very crowded I think if removed the description.

[2020-09-17 07:55] moonming commented on #473
We can merge the switch and configuration together; or add the logo to the
original description position

Thanks,
Ming Wen
Twitter: _WenMing

琚致远 <notifications@github.com> 于2020年9月17日周四 下午3:46写道：

[2020-09-17 08:11] juzhiyuan commented on #473
![image](https://user-images.githubusercontent.com/2106987/93438879-7830c600-f900-11ea-9356-d3fdbef19912.png)

How about this one?

[2020-09-17 08:55] Caelebs commented on #478
我重新部署了一下，manager-api的镜像是基于**apisix-dashboard-1.5**这个包里面的/api目录下的Dockerfile构建的，运行起来之后/root/manager-api目录下的conf.json配置看起来应该是正常的
[code]
启动时的日志输出看起来也没有报错
[code]
然后dashboard容器内nginx配置文件default.conf里边配置的proxy_pass地址是这样的
[code]
manager-api依赖的MySQL也是可用的，初始化的consumers、routes、ssls、upstreams四张表也创建好了的
我理解是apisix-dashboard指向apisix-manager-api:8080，apisix-manager-api指向后端apisix的base_url，不知道这样对不对？
现在的情况就变成了dashbo

[2020-09-17 09:33] Caelebs commented on #478
。。。
发现是apisix-dashboard-1.5这个包构建出来的manager-api和apisix1.5可能不配套，用当前最新代码重新构建了一下manager-api的镜像现在可以登录了，数据库的表多了一张。。。

[2020-09-17 10:20] juzhiyuan opened #480 "PluginModule v3"
## TODO
- [x] icon for plugins
- [x] UI: Category
- [ ] ~Hover Tooltip: desc~ no needed
- [x] Plugin Sort
- [ ] ~Form fields check~ https://github.com/apache/apisix-dashboard/issues/501

[2020-09-17 10:21] juzhiyuan commented on #473
![image](https://user-images.githubusercontent.com/2106987/93458190-956e9000-f912-11ea-8ea5-fae75b05c442.png)

[2020-09-17 10:32] moonming commented on #473
Looks good for me

琚致远 <notifications@github.com>于2020年9月17日 周四下午6:21写道：

Thanks,
Ming Wen
Twitter: _WenMing

[2020-09-17 10:49] juzhiyuan commented on #473
Sort the category has been implemented, waiting for Plugin's PR review.

[2020-09-17 11:13] #473 closed

[2020-09-17 11:29] juzhiyuan commented on #458
ping @LiteSun

[2020-09-17 11:31] juzhiyuan commented on #478
Yep, codes between the master and the 1.5 branches have a lot of changes, please use the latest codes on the master branch, a new version should release this month.

[2020-09-17 11:31] juzhiyuan commented on #478
It looks working for you when using codes from the master branch, I will close this issue, feel free to reopen it.

[2020-09-17 11:31] #478 closed

[2020-09-18 02:19] juzhiyuan commented on #480
cc @LiteSun please set category for plugin orchestration

[2020-09-19 02:22] #469 closed

[2020-09-19 02:23] juzhiyuan commented on #466
ping @membphis @nic-chen

[2020-09-19 09:23] Caelebs opened #487 "Plugin configuration not available"
#387 # Question
- What do you want to know?

VM85:1 GET http://10.10.16.249/apisix/admin/plugins **400** (Bad Request)
界面提示“请启用至少一种身份认证类插件”
![image](https://user-images.githubusercontent.com/12752710/93663750-af3bde80-fa9c-11ea-8176-39b22af11411.png)

{"code":"010301","msg":"find APISIX plugin list failed: status: 404, body: {\"error_msg\":\"failed to match any routes\"}\n"}

[2020-09-19 17:13] liuxiran commented on #470
`active.type` is mentioned in the test case [=== TEST 6: invalid route: wrong active.type](https://github.com/apache/apisix/blob/8493a607ce869ab335eac1d0e799ffecff10fb93/t/admin/health-check.t#L239), but no details in the api doc, so there is nothing about it in pr. If this key is needed, it would be better to update doc first :)

[2020-09-19 22:57] juzhiyuan commented on #470
hi @moonming @nic-chen @membphis Could you take a look at this test case? I cound't find the `active.type` property either :(

[2020-09-19 23:07] juzhiyuan commented on #487
it seems that this API doesn't work on your side, could you provide more information about how to deploy it?

[2020-09-21 02:09] juzhiyuan commented on #470
@liuxiran I just had a quick discussion with @membphis, he will help you to make sure if the `type` filed is needed :D

[2020-09-21 02:30] liuxiran commented on #470
ok, thanks :), waiting for @membphis `s conclusion

[2020-09-21 02:41] juzhiyuan opened #490 "Plugin Orchestration: Plugin Category"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Requirement or improvement
- Please describe your requirements or improvement suggestions.

Before starting this issue, please provide an UI design.

[2020-09-21 02:43] juzhiyuan commented on #480
@LiteSun  https://github.com/apache/apisix-dashboard/issues/490

[2020-09-21 02:49] juzhiyuan opened #491 "Process flow chart for Route module"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Requirement or improvement
- Please describe your requirements or improvement suggestions.

As the module gradually expands, we need detailed flowcharts to ensure that new contributors cl

[2020-09-21 02:50] #205 closed

[2020-09-21 02:53] juzhiyuan commented on #44
Just updated the TODO list

[2020-09-21 02:55] juzhiyuan opened #492 "test JSONSchema form"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [x] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Requirement or improvement
- Please describe your requirements or improvement suggestions.

Make sure every plugin work well.

[2020-09-21 02:57] juzhiyuan opened #493 "improve i18n"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Requirement or improvement
- Please describe your requirements or improvement suggestions.
- [ ] i18n contributing guide

### Module
- [ ] Plugins
- [ ] Route
- [ ] Route Group
- [ ] Upst

[2020-09-21 03:07] juzhiyuan opened #494 "Release check"
- [ ] ASF Header
- [ ] All functionalities(manually currently)

[2020-09-21 03:23] juzhiyuan opened #495 "Using Disable property from APISIX for Plugin"
- [ ] Disable https://github.com/apache/apisix/pull/2099/files#diff-ed26f75979353d43aa8168d799d931d0R609

[2020-09-21 03:25] juzhiyuan commented on #492
duplicate with #44

[2020-09-21 03:25] #492 closed

[2020-09-21 03:25] juzhiyuan commented on #490
1. Uniformity of style: generalization and organization (research, prototyping).
2. Functionality: is the current organization of interactions appropriate? bugs?

[2020-09-21 03:26] juzhiyuan commented on #44
1. Extract documentation?quick start, developer contributions (Route, Plugin).

[2020-09-21 15:37] #470 closed

[2020-09-22 02:09] juzhiyuan opened #498 "Use Admin API directly instead of Manager API (frontend)"
As titled

due date: before 10/10/2020

cc @ShiningRush @moonming @nic-chen @LiteSun

[2020-09-22 02:09] juzhiyuan commented on #434
fe https://github.com/apache/apisix-dashboard/issues/498

[2020-09-22 02:12] juzhiyuan commented on #498
@nic-chen @ShiningRush Please deploy an API Server before 27/09/2020.

[2020-09-22 02:18] juzhiyuan opened #499 "Online debug failed"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?
master branch
http://139.217.190.60/routes/a944d256-4a51-4349-a8fd-f632b93bfa23/debug

- What happened?
If possible, provi

[2020-09-22 02:18] juzhiyuan commented on #499
cc @liuxiran

[2020-09-22 02:23] liuxiran commented on #499
whether the manager-api updated at the same time?

[2020-09-22 02:50] juzhiyuan commented on #499
oh no... @nic-chen

[2020-09-22 03:02] spacewander opened #500 "Failed to compile dashboard"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___

This issue is migrated from https://github.com/apache/apisix/issues/2272

"github.com/apisix/manager-api/conf"
"github.com/apisix/manager-api/log"
"github.com/apisix/manager-api/route"
Howev

[2020-09-22 03:05] spacewander commented on #500
CC @MrLightSpeed0

[2020-09-22 04:03] juzhiyuan opened #501 "PluginModule: check every plugin's schema & form usability"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Requirement or improvement
- Please describe your requirements or improvement suggestions.

As the title says.

- [ ] https://github.com/apache/apisix-dashboard/issues/516

[2020-09-22 04:09] #434 closed

[2020-09-22 04:10] #444 closed

[2020-09-22 04:15] juzhiyuan commented on #487
Cannot reproduce this issue according to the latest commit[1], if this issue still occurred, please provide your installation steps, tks.

[1] https://github.com/apache/apisix-dashboard/commit/3c7ddb70c5f172d96ee6fd17775e052205ad29d3

[2020-09-22 04:15] #487 closed

[2020-09-22 06:06] nic-chen commented on #499
here is the error log:

{"app":"manager-api","level":"error","line":"filter/recover.go:49","msg":"[Recovery] 2020/09/22 - 14:04:07 panic recovered:\n\nruntime error: index out of range [0] with length 0\n/usr/local/go/src/runtime/panic.go:75 (0x42efa2)\n/go/src/github.com/apisix/manager-api/route/route.go:529 (0xa3371c)\n/go/pkg/mod/github.com/gin-gonic/gin@v1.6.3/context.go:161 (0x9bbcea)\n/go/sr

[2020-09-22 06:07] juzhiyuan commented on #499
cc @liuxiran

[2020-09-22 06:34] juzhiyuan commented on #458
Could we close this issue @LiteSun

[2020-09-22 06:36] nic-chen commented on #466
@ShiningRush As discussed before,  I think we should support this feature similar to `foreign key constraints`
 in the refactored `manager api` .

[2020-09-22 13:48] #480 closed

[2020-09-22 14:12] ShiningRush commented on #466
OK, I will consider this issue tomorrow, and may need to have little change in architecture.

[2020-09-22 15:14] #458 closed

[2020-09-22 21:34] liuxiran commented on #499
after testing, online demo site still return 500 on debug page.
so if the online site updated automaticly,  would  you please provide a way to view the log， or last update log here?  many thanks😊 @nic-chen

and I also have a question , the api `/apisix/admin/routes/:rid/debuginfo` which is added to get route details with Apisix url (because fe has to send the debug request directly to apisix，so I

[2020-09-23 00:58] nic-chen commented on #499
@liuxiran
`base_url` is:
http://apisix-admin-svc:9080/apisix/admin

I think we should  judge the value of res before using it :
https://github.com/apache/apisix-dashboard/blob/master/api/route/route.go#L535

[2020-09-23 01:00] liuxiran commented on #499
thanks a lot, I'll updated soon🤝

[2020-09-23 02:00] liuxiran commented on #493
I have a pr on the way to modify i18n refer to the Proposal #331, which have been Interrupted by feature development,
If there are no major changes about the proposal, I'll continue to complete this pr later this week.  @juzhiyuan

[2020-09-23 02:17] MrLightSpeed0 commented on #500
Hi I disabled the GoProxy. but got the same error. so it is for something else. I am behind a company proxy and I do have http_proxy and https_proxy set up in the system since I was able to do: "go get github.com/something" to download with no issue. no sure why this "dial tcp..." failed...  Thank you.

[code]

[2020-09-23 02:24] juzhiyuan commented on #493
feel free to go :D

[2020-09-23 02:25] juzhiyuan commented on #500
ping @nic-chen

[2020-09-23 02:26] #494 closed

[2020-09-23 02:58] juzhiyuan commented on #498
@nic-chen will help to deal with the issue about "How to resolve those fields in MySQL".

cc @liuxiran

[2020-09-23 03:51] nic-chen commented on #500
It works fine on my machine. I think it's a network issue. you could set `https://goproxy.cn` as `GOPROXY` (in https://github.com/apache/apisix-dashboard/blob/master/api/Dockerfile#L23-L24) and try again.

[2020-09-23 04:13] juzhiyuan commented on #500
ok then, closed now.

[2020-09-23 06:29] liuxiran opened #507 "can not config basic-auth plugin with ‘work with consumer object’ option"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

What is the purpose of SELECT item？
![image](https://user-images.githubusercontent.com/2561857/93974652-ba4a8380-fda8-11ea-927c-66918099437a.png)

__

[2020-09-23 08:01] nic-chen commented on #498
We have three problems to solve:
1. publish and offline
as discussed before, we could implement this feature on APISIX

2. route group
I think `labels` is enough for us to group routes or other stuff.
what do you think?  @liuxiran @membphis

3. relational database features
such as:
https://github.com/apache/apisix-dashboard/issues/466

[2020-09-23 08:52] liuxiran commented on #498
Agree 😊, It would be more flexible.

Some users may be concerned about the update time, so that they can trace a resource changes.
so if these fields would not be stored in etcd, maybe it still needs a place where the front end can get it. what do you think? @juzhiyuan @LiteSun

[2020-09-23 09:22] liuxiran opened #508 "enable a jwt-auth plugin without required field key"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

jwt-auth plugin can be It can be configured successfully without any configuration，
but refer to the doc: https://github.com/apache/apisix/blob/maste

[2020-09-23 09:43] LiteSun commented on #490
In order to categorize the plugins in the Plugin Orchestration mode, I drew a design diagram, as shown below.

![image](https://user-images.githubusercontent.com/31329157/93994427-74021e00-fdc2-11ea-8c1b-fe369254785c.png)

1. When clicking on all, all the plugins will appear below. Similarly, when clicking on category one, only plugins belonging to category one will be displayed.

2. The display p

[2020-09-23 09:58] LiteSun commented on #501
The following plugins perform incorrectly：fault-injection、cors、request-validation

[2020-09-23 10:48] juzhiyuan commented on #501
ok, then what schema they should be? could you help have a try here[1]? just like this issue[2].

[1] https://rjsf-team.github.io/react-jsonschema-form/
[2] https://github.com/apache/apisix/issues/2082#issue-681772868

[2020-09-23 10:49] juzhiyuan commented on #498
What do you think? @nic-chen @membphis @ShiningRush

[2020-09-23 10:52] juzhiyuan commented on #490
![image](https://user-images.githubusercontent.com/2106987/94003354-b3823780-fdcd-11ea-9768-c4b76b5d6751.png)

Looks good to me! is this a Tab area? the antd supports scrollable Tab.

[2020-09-23 12:16] juzhiyuan commented on #508
that's because this plugin's schema doesn't need that filed to be required.

https://github.com/apache/apisix/blob/master/apisix/plugins/jwt-auth.lua#L33-L45

cc @membphis

[2020-09-24 02:14] #499 closed

[2020-09-24 03:00] liuxiran opened #509 "create a consumer only enable openid-connect plugin return a warning blocks the next step"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

I tried to create a consumer only enabled `openid-connect` plugin, and press [nextStep], then got a warning: `Please enable at least one authenticati

[2020-09-24 03:06] juzhiyuan commented on #509
yes, could you help modify this checker? just like a whitelist?

[2020-09-24 03:21] juzhiyuan commented on #495
@membphis It seems that this property doesn't exist in the response body.

[2020-09-24 03:23] LiteSun commented on #490
yes,  but it is unfriendly for a user to use Tab when the Category name is too long. so I change Tab to Select list.

![image](https://user-images.githubusercontent.com/31329157/94096403-934a8b00-fe56-11ea-8310-684c5fb6c933.png)

@juzhiyuan @moonming @membphis

[2020-09-24 03:36] membphis commented on #490
This one is better.

[2020-09-24 03:45] juzhiyuan commented on #495
Only when FE sends the disable property to API, then API will response that field.

[2020-09-24 06:00] liuxiran commented on #509
OK

[2020-09-24 07:25] liuxiran commented on #499
online debug page is Available ，but the debug request still failed.

* reason
After communicating with @nic-chen , The online site is a network environment where the internal and external networks are isolated. This would also be a common deployment strategy.
At present, the baseURl obtained by reading conf.json is an intranet address and cannot be used for online debug

* solution
try to add a co

[2020-09-24 07:31] juzhiyuan commented on #499
@liuxiran, after the incoming fix, does it support mock server?

cc @moonming Could you please leave your question or confusion here?

[2020-09-24 07:50] liuxiran commented on #499
the debug requires Apisix to forward the request to the corresponding upstream, it would support mock server only when mock server can complete this forwarding job :)

[2020-09-24 08:13] juzhiyuan commented on #499
got it, tks!

[2020-09-24 09:30] idbeta opened #511 "using dashboard for a while , the token expired"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [*] Question or discussion
- [ ] Bug
- [*] Requirements
- [ ] Feature or performance improvement
- [ ] Other

when i login with admin account and using dashboard for a while , the token expired, i think it's not user-friendly...

[2020-09-24 12:40] MrLightSpeed0 commented on #500
Hello you said the dial tcp error was related to my network. I will check on that. that is the for question #3 (build with docker). what about #2, could you please help on that? copy it here for your quick reference:

#2. I tried to build dashboard, go build needs to import following:
"github.com/apisix/manager-api/conf"
"github.com/apisix/manager-api/log"
"github.com/apisix/manager-api/route"
How

[2020-09-24 12:46] MrLightSpeed0 opened #513 "Dashboard build failed on import /manager-api step"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [X] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
This is related to ticket number 500, someone closed it but I didnt get the answer. copying it here for reference:

#2. I tried to build dashboard, go build needs to import follo

[2020-09-24 13:05] juzhiyuan commented on #500
@nic-chen Please take a look at this one.

[2020-09-24 13:06] juzhiyuan commented on #513
duplicate with https://github.com/apache/apisix-dashboard/issues/500

[2020-09-24 13:06] #513 closed

[2020-09-24 13:54] membphis commented on #511
Is the refresh of the token done on the front end? Or `manage API`?

[2020-09-24 14:01] nic-chen commented on #500
`github.com/apisix/manager-api` is  `apisix-dashboard/api`
please take a look at :
https://github.com/apache/apisix-dashboard/blob/master/api/go.mod#L1

[2020-09-24 15:46] juzhiyuan commented on #500
Still don't know how to resolve this issue :(

@MrLightSpeed0 Could you please provide a detailed installation steps? so I could try to reproduce this issue.

[2020-09-24 15:51] juzhiyuan commented on #511
There have 2 ways to implement this feature:
1. Implement this feature on the backend, so if the token should expire is rely on some cache DB, e.g Redis.
2. JWT with Refresh logic, just like Wechat OAuth[1] does.

[1] https://developers.weixin.qq.com/doc/oplatform/Website_App/WeChat_Login/Authorized_Interface_Calling_UnionID.html

[2020-09-25 02:57] idbeta opened #515 "security-suggest:when login dashboard failed, limit the number of login retries"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [*] Question or discussion
- [ ] Bug
- [ ] Requirements
- [*] Feature or performance improvement
- [ ] Other

### Requirement or improvement
when login apisix dashboard failed, i think it should limit the number of login retries.

[2020-09-25 03:20] liuxiran opened #516 "[Question] what does the option select item mean in the consumer-restriction plugin"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

I'm confused about the option select item in the consumer-restriction plugin
![image](https://user-images.githubusercontent.com/2561857/94222544-3adf

[2020-09-25 03:27] juzhiyuan commented on #516
This need to modify its schema 😂 Let's put this in TODO list.

[2020-09-25 03:27] juzhiyuan commented on #516
Just like this one https://github.com/apache/apisix/issues/2082#issue-681772868

[2020-09-25 05:59] liuxiran commented on #516
OK，just added a task list in apisix2082 :)

[2020-09-25 06:08] idbeta opened #517 "bug：Did not check the settings of selected pulgins when ceate or edit consumer"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [*] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

when Create or edit Consumer, click "next step" button ,it only checked if enable Authentication plugin but not check any settings of selected pulgins, even if they were set to empty, no error is

[2020-09-27 01:59] #509 closed

[2020-09-27 02:38] juzhiyuan commented on #518
It seems that you are using the elder version,  please use the latest one from the master branch.

[2020-09-27 05:22] nic-chen opened #519 "discuss: how should we automatically generate a primary key for new resource"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

When creating a new resource, we should automatically generate a primary key value instead of [letting the client provide one](https://github.com/apa

[2020-09-27 05:23] nic-chen commented on #519
@ShiningRush @membphis @moonming @gxthrj

[2020-09-27 05:27] moonming commented on #519
I prefer to etcd revision, which is more easy to trace and will not conflict in cluster.

[2020-09-27 09:01] #490 closed

[2020-09-27 09:36] nic-chen commented on #498
@juzhiyuan
I had deployed a online demo for refactored manager api, here is the host and port: 40.73.92.163:8080

but there are some problems, such as:
https://github.com/apache/apisix-dashboard/issues/519
that means you need to specify a ID when create resource.

[2020-09-27 09:38] nic-chen commented on #498
@juzhiyuan
For API parameters, please refer to: https://github.com/apache/apisix/blob/master/doc/admin-api.md

[2020-09-27 09:49] juzhiyuan commented on #498
I'd like to know only APIs listed in this file have been implemented? how about those APIs?
1. `/notexist/routes`
2. `/names/routegroups`
3. `/names/upstreams`
4. `check_ssl_exists`

etc

[2020-09-27 10:04] nic-chen commented on #498
not support relational query yet, so these APIs can't be implemented, and it will take some time

[2020-09-27 10:27] juzhiyuan commented on #498
It means all features related to those APIs will be removed from frontend..

[2020-09-27 12:30] ShiningRush commented on #498
Here is anyone can tell me what those apis used for?

[2020-09-27 12:35] ShiningRush commented on #519
I understand the scenario we are taking about is that user does not give primary key in `PUT` request, right?

[2020-09-27 12:41] nic-chen commented on #519
it should be `POST` which means `create`

[2020-09-27 13:12] ShiningRush commented on #519
OK, I got it. I think it not a good way that using etcd revision as key.
When two request arrive the server at same time, the later request will cover the former, because them maybe get the same revision.
uuid is a little heavy(128bit), snowflake is fine(64bit), how do you think?

[2020-09-27 13:47] membphis commented on #519
I think we can make a try with `snowflake` .

[2020-09-27 13:58] juzhiyuan commented on #498
1. `/notexist/routes`: to check if there has an existing route with same name? (maybe, cc @nic-chen)
2. `/names/routegroups`: check if there has a group with the same name
3. `/names/upstreams`: xxx
4. `check_ssl_exists`: to check if there has a related host with SSL certificate.
5. `check_ssl_cert`: to check if the Key and Cert could be compared, and it will return the encrypted data from Certifi

[2020-09-27 13:59] juzhiyuan commented on #519
agree with Snowflake!

[2020-09-27 14:17] moonming commented on #519
lgtm

[2020-09-28 02:49] MrLightSpeed0 commented on #500
Hello. I was following the steps mentioned on this page: https://github.com/apache/apisix-dashboard
I was at this step 4 Build
 cd api && go build -o ../manager-api . && cd ..
 and got following error:
`main.go:24:2: cannot find package "github.com/apisix/manager-api/conf" in any of:
        /usr/src/github.com/apisix/manager-api/conf (from $GOROOT)
        /root/go/src/github.com/apisix/manager-a

[2020-09-28 05:22] #493 closed

[2020-09-29 02:31] LiteSun opened #524 "Bug: i18n errors in route step1(Define API Request)"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?
master branch

- What happened?
If possible, provide a way to reproduce the

[2020-09-29 02:34] LiteSun commented on #524
Possible relevant PR: #522

[2020-09-29 02:35] liuxiran opened #525 "bug: Got 500 error when select redis policy in limit-count plugin"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?

Version: the latest master
Os: Fedora 32
Browser: google chrome

- What hap

[2020-09-29 02:54] liuxiran commented on #524
yes, sorry to miss updating the key in jsx,
`route.request.config.redirect.custom` -> `page.route.form.itemLabel.redirectCustom`
`route.request.config.redirect.custom.example` -> `page.route.input.placeholder.redirectCustom`
`route.request.config.redirect.301` -> `page.route.select.option.redirect301`
`route.request.config.redirect.302` -> `page.route.select.option.redirect302`

[2020-09-29 03:00] juzhiyuan commented on #524
@liuxiran hi, do you have time to resolve this issue? If that’s ok, feel free to assign to yourself :D

[2020-09-29 03:08] liuxiran commented on #524
ok, I'll resolve this issue,
I could not assign to myself now,  maybe you have to help to assign to me for a few days, thanks

[2020-09-29 12:19] xtthaop opened #527 "wolf-rbac can't add to plugin page"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?
why wolf-rbac can't add to plugin page?

This is the reference document for me: https://github.com/iGeeky/apisix-plugin-rbac

I'm sure I've moved the

[2020-09-29 15:33] nic-chen commented on #466
consumer and  auth plugins are not binding relation, if consumer be deleted, it just means not allow the consumer to access. I think is ok.

[2020-09-29 16:45] liuxiran commented on #466
thank for your reply, which let me really understand that router and consumer are related through authentication plugins, not foreign key associations.

[2020-09-30 01:33] #524 closed

[2020-09-30 01:39] liuxiran commented on #527
the `wolf-rbac` configed `hidden: true` in the plugin components
https://github.com/api7/dashboard-components/blob/cc1cace9c046040b0c930d56980f055632fc3f03/packages/plugin/src/data.tsx#L98

so it would not shown in the plugin page.

Is there a plan to show it in plugin page @juzhiyuan ?

[2020-09-30 02:54] liuxiran opened #529 "discuss: improve the UE of config Authentication plugins"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Why
The Authentication plugins, e.g: `basic-auth` `openid-connect` and other auth plugins supported by Apisix should work with consumer together. Only when one auth plugin is enabled and

[2020-09-30 03:05] liuxiran commented on #529
@juzhiyuan  @LiteSun @bzp2010

[2020-09-30 04:10] juzhiyuan commented on #527
cc @moonming, should we show this plugin in frontend? I forget why we choosed to hide it 🤔 maybe the UI is broken before?

[2020-09-30 04:12] tanjiancheng opened #530 "插件配置->普通模式缺少grpc-transcode配置"
I want to use grpc-transcode can be configure in the dashboard but it is miss that

and found
https://github.com/api7/dashboard-components/blob/master/packages/plugin/src/data.tsx

[code]
why this is hide，may be not finish the cpanel about this plugin？

[2020-09-30 04:16] juzhiyuan commented on #529
Got your point, you mean for Auth plugins, we should only config it in Consumer instead of Route, and we COULD choose to enable or disable it in Route instead of cobfig, right?

I agree to this proposal, how about others suggestions?

cc @membphis @nic-chen @moonming ?

[2020-09-30 06:30] juzhiyuan commented on #530
not sure, let me have a check on its panel ASAP 🤔

[2020-09-30 06:34] juzhiyuan commented on #525
@nic-chen, need your time to check this issue, not sure if it's related to this plugin's data. thanks.

[2020-09-30 06:37] juzhiyuan commented on #517
The schema for every enabled plugin would validate if it's ok to use, empty data is ok because some plugins allow this.

[2020-09-30 06:37] #517 closed

[2020-09-30 06:55] nic-chen commented on #525
@liuxiran

please take a look at the `limit-count`'s schema

https://github.com/apache/apisix/blob/master/apisix/plugins/limit-count.lua#L77

[2020-09-30 06:58] tanjiancheng commented on #530
@juzhiyuan thanks，the plugin maybe have two feature

1、like /apisix/admin/proto/<id> to save proto file content
2、like /apisix/admin/routes/<id> to save route rules and upstream

[2020-09-30 07:21] juzhiyuan commented on #525
ok then it should be a bug on plugin, let me fix it.

[2020-09-30 07:29] tanjiancheng opened #531 "使用resful操作的记录并没有同步到dashboard"
我使用如下的方法操作增加一条路由配置，但是新版的后台是没有相关记录查看的，看了代码好像后台是保存到mysql，然后发布的时候再存储到etcd里，请问下如果这块直接用提供的resful接口操作怎么管理这块etcd和mysql的数据同步？
[code]

[2020-09-30 08:00] membphis commented on #529
agree with this proposal too.

https://github.com/apache/apisix/issues/2308 , if we support this feature, the dashboard will easier.

[2020-09-30 08:23] nic-chen commented on #529
agree +1

[2020-09-30 09:33] juzhiyuan commented on #531
MySQL will be removed in the next version, if you want to show all data created by Admin API directly, you should always use it or wait for the next version.

[2020-09-30 09:33] juzhiyuan commented on #531
https://github.com/apache/apisix-dashboard/milestone/4

[2020-09-30 09:33] #531 closed

[2020-09-30 10:13] liuxiran commented on #529
yes you got my point @juzhiyuan 🤝,  and furthermore, if the authentication plugin can be turned into the consumer’s default support plugin, just like `proxy-rewrite` in route, that would be better, but the cost of plugin modification may be higher

[2020-09-30 10:38] juzhiyuan opened #532 "fetching category for plugins from APISIX"
~~related issue https://github.com/apache/apisix/issues/2308~~

[code]

[2020-09-30 10:39] juzhiyuan commented on #529
yep, let's implement your proposal first :D

[2020-09-30 10:40] juzhiyuan commented on #529
I just put this feature in M1.7.

[2020-09-30 10:41] juzhiyuan commented on #500
ok, we will test and resolve this issue before 1.6 release.

[2020-09-30 10:42] juzhiyuan commented on #500
but could @nic-chen give some suggestions about this issue? not sure if it's a bug or a tricky issue 🤔

[2020-09-30 10:44] juzhiyuan commented on #466
Hi @ShiningRush How about your consideration?

[2020-09-30 10:45] #518 closed

[2020-09-30 11:01] juzhiyuan opened #533 "Put bundled frontend files in Go"

[2020-10-06 14:05] nic-chen opened #536 "bug: race detected during execution of test"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Bug
on `refactor` branch, when running `go test -race -covermode atomic -coverprofile=covprofile ./...`,  an error occurred: `Error:     testing.go:969: race detected during execution of

[2020-10-06 14:06] nic-chen commented on #536
@ShiningRush
please take a look at
https://github.com/nic-chen/incubator-apisix-dashboard/pull/7/checks?check_run_id=1212879646#step:6:274

[2020-10-06 14:11] nic-chen opened #537 "bug: respond status of api should keep same as `admin api` do"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Bug

after refactor, respond status of api should keep same as `admin api` do.
but it's always 200 currently.
I think we need to fix it in `github.com/shiningrush/droplet`

@ShiningRush

[2020-10-06 14:32] nic-chen opened #538 "bug: authentication security issue"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Bug

We should not use a fixed value as the default secret key of jwt token.

If the user does not modify the default Secret key, then others can generate tokens, and the account and pass

[2020-10-07 00:36] juzhiyuan commented on #538
would this be fixed in 1.6 before 16.10?

[2020-10-07 12:04] nic-chen commented on #538
I think we could fix it in 1.6

[2020-10-09 00:39] nic-chen opened #539 "bug: [refactor] test case run failed sometimes"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Bug

in refactored CI, test cases are not stable and sometimes fail.

https://github.com/apache/apisix-dashboard/runs/1221212550#step:7:78

[2020-10-09 00:45] nic-chen opened #540 "feature: [refactor] support json schema check"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [x] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Requirement or improvement

We need to pull the right version of the json schema definition from Apache APISIX, and perform schema verification on the apis which will change data, to ensu

[2020-10-09 00:54] nic-chen opened #541 "feature: [refactor] run Apache APISIX's `admin api` test cases in dashboard"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [x] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Requirement or improvement

We need to run Apache APISIX's `admin api` test cases in dashboard to ensure that the refactored api is correct and can be compatible with APISIX.

[2020-10-09 01:02] nic-chen opened #542 "feature: [refactor] embedding static files into Go binaries"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [x] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Requirement or improvement

We need to embed static files into Go binaries,

so that we don't need to deploy an additional nginx ,

and it will be very easy to use.

[2020-10-09 02:27] juzhiyuan commented on #466
so this issue has been resolved? @ShiningRush

[2020-10-09 02:28] #491 closed

[2020-10-09 02:38] ShiningRush commented on #537
We only need to ensure that the data structure is the same as that of AdminAPI, not the response code.
Using response codes to check the result is not a good way,this will increase the complexity of the front-end, and can not enumerate all situations

[2020-10-09 03:23] nic-chen commented on #537
As far as I know, some users have already used `http status` in their system, if we do not maintain the original `http status `, they will have to modify the code.

Moreover, the response status code of the admin api complies with `resful` specifications.

The workload of front-end changes need @juzhiyuan  to take a look

[2020-10-09 03:47] juzhiyuan commented on #537
Please follow the RESTful way, thanks.

[2020-10-09 03:55] ShiningRush commented on #537
OK, I will add a new field for `Response` to control http status code this afternoon.

[2020-10-09 06:21] juzhiyuan commented on #542
@bzp2010 is working on this issue, please let @nic-chen know whenever there have any blocker issues.

[2020-10-09 06:23] juzhiyuan commented on #540
May I ask if this issue would be resolved in 1.6?

[2020-10-09 06:24] juzhiyuan commented on #539
not sure what happened, cc @ShiningRush

[2020-10-09 06:28] ShiningRush commented on #539
The iteration of map is unordered, so occasionally it will fail. I will fix this use case later.

[2020-10-09 08:05] nic-chen opened #545 "feature: [refactor]add code coverage for `api`"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [x] Requirements
- [x] Feature or performance improvement
- [ ] Other

___
### Requirement or improvement

Add code coverage for `api`
And improve code coverage

[2020-10-09 08:08] nic-chen opened #546 "[refactor] license issue of refactored `api`"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [x] Other

___
### Requirement or improvement

need to use the right way to fix license issue because some code is copied from Kubernetes dashboard, and current way is not right.

#535
https://github.com/ap

[2020-10-09 13:20] moonming commented on #546
ok, I will fix it

[2020-10-10 01:53] tangjun2012 opened #547 "bug: API后端服务配置域名的bug"
### Issue description
我是艾佳生活公司的开发，使用apisix时遇到如下问题，具体如下图，在1.5版本中，配置域名的时候，在目标服务器接收到的是ip，而不是域名，如：http://dashboard.apisix.dev/routes/4b84e67a-f874-4554-b3f6-906306116860/edit
即：我有多个域名指向了同一台服务器，对应不同的服务，其中ip=>服务A，域名1=>服务b，域名2=>服务c，当我在网关里配置域名1的时候，访问的却是服务A而不是正确的服务b

### Environment

* apisix version (cmd: `apisix version`):1.5
* OS:

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What'

[2020-10-10 04:07] juzhiyuan commented on #547
We should check what is the Request Body sent to API, then check if this issue is related to frontend or backend, this issue would be addressed before 1.6 release.

[2020-10-10 06:15] moonming commented on #547
@tangjun2012 Did you specify the host header of domain name 1 in your client request? If not, you will meet the current situation

[2020-10-10 08:15] tangjun2012 commented on #547
![image](https://user-images.githubusercontent.com/8478093/95650022-79c26800-0b13-11eb-82a5-df4df685149f.png)
我这边已经修复了，是go项目的api里没有将header里的host信息写到host参数中导致的

[2020-10-10 09:12] liuxiran opened #548 "bug：enable openid-connect plugin without redirect_uri got 500 error"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?

1. create a route, enable openid-connect plugin, configs:
[code]

2. visit this route via chrome, got 500 error

![2020-10-10

[2020-10-10 09:15] fregie opened #549 "同步etcd和mysql配置的功能在开发吗？"
新建了一个dashboard，已存在的配置并不能导入mysql中，使用起来有很大问题。
请问该功能预计何时开发完成，如果太久的话我会考虑自己开发提交PR

[2020-10-10 10:20] juzhiyuan commented on #547
cc @nic-chen

[2020-10-10 10:23] moonming commented on #547
@tangjun2012 welcome PR to fix it, thx

[2020-10-10 14:15] juzhiyuan commented on #549
MySQL would be deprecated in 1.6

https://github.com/apache/apisix-dashboard/milestone/4

[2020-10-10 14:15] #549 closed

[2020-10-10 14:17] juzhiyuan commented on #548
Here is the doc for openid-connect, cc @membphis

https://github.com/apache/apisix/blob/master/doc/plugins/openid-connect.md

[2020-10-10 15:07] juzhiyuan commented on #537
After discussions, the frontend will use the Logic Code instead of standard HTTP Status code to check if this request is successful.

[2020-10-10 15:07] #537 closed

[2020-10-10 15:16] juzhiyuan commented on #533
@bzp2010 is working on this

cc @nic-chen @ShiningRush

[2020-10-11 01:36] membphis commented on #548
@nic-chen need your help to confirm a mini case