[2021-08-24 21:51] liuxiran commented on #1986
cool~ thanks @Xu-Mj , please comment here when you have any questions

[2021-08-25 02:24] bingoku commented on #2087
其实就是想这个 UI 能发挥自身的作用，个别功能是缺失的。
上述这个问题是，开启重定向后，依然可以选择 继续开启 websocket 是需求。

[2021-08-25 03:19] liuxiran commented on #2087
Is it a possible requirement need @spacewander @tzssangglass 's help, since  @spacewander has helped confirmed that when enable redirect plugin, we do not need `enable_websocket` field.

[2021-08-25 03:58] spacewander commented on #2087
I see. When the user enables http_to_https, the redirect only happens with HTTP request. So they can still do websocket handshake with the HTTPS request.

[2021-08-25 05:50] liuxiran commented on #2087
thanks @spacewander , that means user can  configure the `enable_websocket` and it can take action, right?

[2021-08-25 06:21] bingoku opened #2088 "Feature: Support gzip plugin in dashboard"
### Issue description

通过 ETCD 添加 gzip 插件配置后 apisix 志提示

![image](https://user-images.githubusercontent.com/4134788/130737235-5e7e34a0-0f01-45a1-9863-ffc1a4fb8a72.png)

[code]
查看文档说需要重新编译
https://raw.githubusercontent.com/api7/apisix-build-tools/master/build-apisix-openresty.sh 重新编译，
根据这个脚本，编译成功以后，运行新的容器
上述日志提示消失
[code]
![image](https://user-images.githubusercontent.com/4134788/130736516-e62321b1-

[2021-08-25 06:39] liuxiran commented on #2088
Thanks for your report @bingoku , APISIX-dashboard 2.7.2 can works well only Apache APISIX 2.7. And gzip plugin is added in ver 2.8.0, see here: https://github.com/apache/apisix/blob/master/CHANGELOG.md#280

We 'll fix it in our 2.8 version, and would you like do handle this issue?

Then at the same time, would you please make your example data a little more elegant? It's better that way as a valu

[2021-08-25 06:47] spacewander commented on #2087
Yes

[2021-08-25 06:51] liuxiran commented on #2087
welcome to submit issues about missing features, that would be very helpful to make dashboard work better with APISIX.

Meanwhile, we are now working on making dashboard work smoothly with APISIX2.7, see here: https://github.com/apache/apisix-dashboard/milestone/15, and will soon arrange our milestone 2.8(work with APISIX 2.8) and 2.9 (work with APISIX 2.9),   welcome to participate in, thanks @bi

[2021-08-25 06:53] liuxiran commented on #2087
got you, thanks, add this bug to 2.7.2 milestone.

[2021-08-25 12:23] Xu-Mj commented on #1986
Hi~ @liuxiran how do i validate a stream route is already in effect in apisix?

[2021-08-25 22:23] liuxiran opened #2089 "Feature request: add retry_timeout for upstream"
# Feature request

## Please describe your feature

refer to https://github.com/apache/apisix/pull/4574

we would better allow to this configure field in Upstream for Dashboard.

## Describe the solution you'd like

* add `retry_timeout` to upstream form field
* update https://github.com/apache/apisix-dashboard/blob/master/api/conf/schema.json to the latest to match 2.8 version
* update https://gi

[2021-08-25 22:28] liuxiran opened #2090 "Feature request: allow setting separate keepalive pool"
# Feature request

refer to https://github.com/apache/apisix/pull/4506

it would be better to support `keepalive pool` settings via Dashboard

## Describe the solution you'd like

* add corresponding configure fields to upstream form
* update https://github.com/apache/apisix-dashboard/blob/master/api/conf/schema.json to match apisix 2.8
* https://github.com/apache/apisix-dashboard/blob/fb789638b30

[2021-08-25 22:31] liuxiran opened #2091 "Feature request: support config plugin ua-restriction"
# Feature request

## Please describe your feature

refer to https://github.com/apache/apisix/pull/4587

it would be better to support `ua-restriction` plugin in Dashboard

## Describe the solution you'd like

[2021-08-26 00:37] liuxiran opened #2092 "Feature request: supporting key-auth plugin to get key from query string"
# Feature request

## Please describe your feature

refer to https://github.com/apache/apisix/pull/4490, currently we can configure `key-auth` plugin in Route and Service with `header` or `query` properties, so we should remove the tip in the `key-auth` configure page when create/configure Route 、 Service and global plugin

![image](https://user-images.githubusercontent.com/2561857/130881846-c23ec

[2021-08-26 00:43] liuxiran opened #2093 "Feature request: support configure authz-casbin plugin in dashboard"
# Feature request

## Please describe your feature

refer to https://github.com/apache/apisix/pull/4710

it would better to support configure authz-cashbin plugin in dashboard

## Describe the solution you'd like

[2021-08-26 00:52] liuxiran opened #2094 "Feature request: limit-* plugin UI form support reject-message field"
# Feature request

## Please describe your feature

Since we support manual UI form for limit-* plugin  in Dashboard, refer to https://github.com/apache/apisix/pull/4808

it would be better to support `reject-message` field.

[2021-08-26 02:24] liuxiran opened #2095 "Feature request: support appending query string in redirect plugin"
# Feature request

## Please describe your feature

Dashboard has integrated the redirect plugin into the first step of Route creation, refer to https://github.com/apache/apisix/pull/4298, it would be better to add `append_query_string` field

## Describe the solution you'd like

[2021-08-26 02:29] liuxiran opened #2096 "Feature request: support stream plugin in dashboard"
# Feature request

## Please describe your feature

refer to https://github.com/apache/apisix/pull/4515 and https://github.com/apache/apisix/pull/4602, APISIX 2.8 has supported
 * limit-conn
 * ip-restriction

two stream plugins, it would be better to add them to our `Stream Route`

[2021-08-26 11:00] Marco-Zheng opened #2100 "panic: no store with key: role"
### Issue description

It's not bug for that case, but i have a question for add new menu for apisix dashboard, i intend to add authority realm,
then add role module under handler
![image](https://user-images.githubusercontent.com/52538259/130950261-7e311613-efc9-46c0-86ec-c086ec5e29a6.png)
secondly, i add role.NewHandler under `route.go`
[code]
add below role relevant code under storehub.go
[code

[2021-08-26 11:30] #2100 closed, assigned to nobody

[2021-08-29 14:29] starsz commented on #1825
That sounds good. Maybe we can discuss this in the email list.

[2021-08-30 15:04] #658 closed

[2021-08-30 15:09] liuxiran commented on #1986
Hi @Baoyuantop I noticed that @Xu-Mj has submitted  #2104 for the API part, you can have a try with your UI part, and any problems can comment here, thanks a lot

[2021-08-30 15:15] #1699 closed

[2021-08-30 15:36] liuxiran commented on #1780
got it, thanks for your checking @iamayushdas , would you please update the stable reproduce steps here, and try to fix it?

[2021-08-30 17:01] #1780 closed

[2021-08-30 19:57] liuxiran opened #2105 "Proposal: restful API for Route module"
# Route restful API proposal

According to our discussion on mail list:  https://lists.apache.org/thread.html/r29f4b901d9779349bfcc3516f8f15ad73506bc16c3c3600666cbf7ef%40%3Cdev.apisix.apache.org%3E

I  tried to list the entire Route module API in detail, and the goal is to serve as a sample of modifications to other modules, here they are:

### Create route

#### Method and URL

[code]

#### Reque

[2021-08-31 02:26] liuxiran commented on #2105
cc @nic-chen @starsz @imjoey @bzp2010 @spacewander @membphis @moonming @juzhiyuan to have a look when you have time, thanks a lot

[2021-08-31 02:50] lilien1010 opened #2107 "Proposal: goreleaser as release automation tool"
https://github.com/goreleaser/goreleaser/

1. create .goreleaser.yml

[2021-08-31 08:48] nic-chen commented on #2105
Others LGTM, but why not keep the `PUT` API?

[2021-08-31 10:34] #1977 closed

[2021-08-31 11:08] liuxiran commented on #1989
close by #2081

[2021-08-31 11:08] #1989 closed

[2021-08-31 11:27] liuxiran commented on #2087
Hi @iamayushdas , would you like to try to fix this issue?

[2021-08-31 11:44] liuxiran commented on #2075
since we plan to release our 2.8 version to work with current apisix 2.9, remove this issue out of m 2.7.2

[2021-08-31 11:50] liuxiran commented on #1986
in order to let dashboard work together with APISIX 2.9, we adjusted our plan to quickly release a suitable version, and for this missing feature, move it to m2.9, and hope for this big feature ready, any questions can comment here, thanks a lot

[2021-08-31 11:51] liuxiran commented on #1449
in order to let dashboard work together with APISIX 2.9, we adjusted our plan to quickly release a suitable version, and for this missing feature, move it to m2.9, and hope for this big feature ready, any questions can comment here, thanks a lot

[2021-08-31 11:53] liuxiran commented on #1378
close by duplicate with #1449

[2021-08-31 11:53] #1378 closed

[2021-08-31 11:53] liuxiran commented on #1966
close by duplicate with #1986

[2021-08-31 11:54] #1966 closed

[2021-09-01 00:32] liuxiran commented on #2105
I tend to  guide the user to complete a target operation using the specified API, without ambiguity @nic-chen

For create, we can use `POST`, for update, we can use `PATCH`,

As our doc says, `PUT` API is used to create a route by ID, `ID`  is used as a unique identifier and would  ideally be better generated by default. And on the other hand, it can also update the already existed route, and if w

[2021-09-01 01:46] #1961 closed

[2021-09-01 01:57] #2057 closed

[2021-09-01 05:46] feipengheart opened #2110 "bug: 没有办法在dashboard设置batch-requests"
### Issue description

![image](https://user-images.githubusercontent.com/66514726/131618281-28d48c86-1ad3-4099-b13f-c4cef889efa9.png)

没有办法对单一的路由设置batch-requests，

curl http://127.0.0.1:9080/apisix/admin/plugin_metadata/batch-requests -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "max_body_size": 4194304
}'

这个api设置只会对/apisix/admin/plugin_metadata/batch-requests路径剩下，我自己设置的路由并

[2021-09-01 05:54] liuxiran opened #2108 "ci: master ci failed with buildx failed error"
### Issue description

https://github.com/apache/apisix-dashboard/runs/3479593341

master ci failed: buildx failed with: error: cache export feature is currently not supported for docker driver. Please switch to a different driver

### Expected behavior

build successfully

[2021-09-01 06:16] liuxiran commented on #2080
Hi @foolwc , do you have time to take this issue?

[2021-09-01 07:01] foolwc commented on #2080
I'm willing to take. Just make the `Port`  has a default value and optional ? @liuxiran

[2021-09-01 08:17] liuxiran commented on #2110
Hi @feipengheart , `max_body_size` is the meta_data of `batch-requests` plugin, currently dashboard does not support this feature, so you got the error from UI, already added it to 2.9 milestone

does `我自己设置的路由并有效果` means the route you want to bind the `batch-requests` plugin?

refer to https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/batch-requests.md, this is the feature of `b

[2021-09-01 08:42] imjoey commented on #2107
@lilien1010 thank you very much for this great tool. I love this that one yaml could generate plenty of artifacts on different distributions, especially the image from offical site:

![image](https://user-images.githubusercontent.com/2542401/131640425-df01309d-08a0-4ecd-abb8-6e5667f5fed4.png)

Currently, api7/apisix-build-tools is a tool for releasing artifacts. So I will think about how to integr

[2021-09-01 09:02] liuxiran commented on #2110
we need a way to get plugins not related to routes @tzssangglass

[2021-09-01 09:22] fregie opened #2111 "Feature request: plugin: Form config data editer for custom plugin"
# Feature request

## Please describe your feature

Custom plugin only support editing config data by json or yaml.I think use form to edit plugin config is a good idea.

[2021-09-01 10:17] liuxiran commented on #2080
thanks @foolwc , only need to make the `Port` optional, to avoid misuse, we can keep `Port` field empty as default

[2021-09-01 14:39] foolwc commented on #2080
The upstream JSON schema shows that `Port` must be an Integer. And if we support FQDN, the `nodes` will be an `Object` but not an `Array`. So I'm confused how to deal with it. Please give me some lint. Thanks a lot @liuxiran
[code]

[2021-09-01 15:40] liuxiran commented on #2080
[code]

Hi @foolwc here is our upstream nodes schema, you can see that we support two type of nodes:

* currently we use the second one, which required `host` `port` and `weight`
* when we use FQDN, we can change to the first one, that is:
[code]

[2021-09-01 15:53] liuxiran commented on #2111
You are right @fregie , use form to configure plugin is a good way for users, and build UI from json schema is also our ideal state, see here: https://github.com/apache/apisix-dashboard/issues/1039.

Would you like to continue to explore its feasibility, and share your idea about it?

[2021-09-02 00:59] foolwc commented on #2080
There is a case: if we add two hosts, one is FQDN without port, the other is normal IP with port. How to deal with that, saved with Array or Object just like below ? Thanks for your explanation @liuxiran
[code]

[2021-09-02 01:47] liuxiran commented on #2080
Hi @foolwc please use object as the data struct, no matter enter `IP:port` or `host`

[code]

any question please comment here, thanks

[2021-09-02 01:49] liuxiran commented on #2108
Hi @qsliu2017 , would you please help to check this issue? thanks a lot

[2021-09-02 01:59] nic-chen commented on #2080
LGTM

[2021-09-02 02:30] starsz commented on #2080
LGTM.

[2021-09-02 03:17] xshans opened #2113 "Why doesn't apisix have the function of Vhost?"
# Feature request

Why doesn't apisix have the function of Vhost?

[2021-09-02 03:42] starsz commented on #2105
Hi, @liuxiran Thank you very much. After reading the proposal. I have some problems as follows.

1. I think we should keep the `put` method since we have the situation that specified the route ID.
2. The `delete` method should return the deleted route info?
3. We will return the route info directly rather than including it in a field?

[2021-09-02 03:53] Marco-Zheng opened #2114 "redeveloped apisix dashboard to add security/permissions, but when i run manageApi, still run old code"
### Issue description

1、i redeveloped apisix dashboard and add security/permissions system
2、when i running local main.go under vscode, i can get the correct result
3、when i running ./manage-api, it seems my code doesn't effect（it running as normal apisix-dashboard-2.7）

### Expected behavior

1、my code will be effectived when i running ./manage-api

### How to Reproduce

1、 because there's too m

[2021-09-02 04:07] fregie commented on #2111
OK,let's disscus it in #1039

[2021-09-02 04:08] liuxiran commented on #2114
Hi @Marco-Zheng

1. see here : https://github.com/apache/apisix-dashboard/pull/2010, whether you do the same thing
3. you can refer this doc : https://github.com/apache/apisix-dashboard/blob/master/docs/en/latest/deploy.md to see if there is a missing step

[2021-09-02 04:24] fregie commented on #1039
I think use form to config plugins is the best solution.And we shuold also support to config custom plugins by from,not json or yaml.
And I don't think using template is a good idea, form and annotation will be better.
All schema shuold be defined in plugin itself,that is the `plugin_name.lua` in apisix, all dashboard need to do is get the schema by apisix, and parse it in form and annotation to c

[2021-09-02 05:14] liuxiran commented on #2105
Hi all, in order to make it more clear about what are the changes between the new design and the current manager-api  admin-api, I made more detailed comparison:

###  method and url

![image](https://user-images.githubusercontent.com/2561857/131726515-58e593f4-37f9-4597-9fb7-51fd112eab5e.png)
    this is the comparison of current Manager-API and Admin-API, we can see that the method and url are a

[2021-09-02 05:56] Marco-Zheng commented on #2114
@liuxiran Many thanks, it works!

[2021-09-02 07:28] foolwc commented on #2080
No question, thanks. It's ok to assign to others if this feature is urgent or someone else can do :)   I don't have much time on weekdays and maybe delay your work

[2021-09-02 08:12] liuxiran commented on #2080
Thanks very much for your information, since it is one of our milestone task, and tomorrow is the deadline,  I 'll assign to others, we have other issues you can try the one you want to, thanks again to drive this issue needs to be clear

[2021-09-02 08:46] liuxiran commented on #2114
ok then close this issue now, thanks for @Marco-Zheng feedback

[2021-09-02 08:46] #2114 closed

[2021-09-02 10:40] #2087 closed

[2021-09-03 01:11] liuxiran opened #2119 "Bug: could not run manager-api(occasional)"
### Issue description

[code]

But Manager API did not run, this issue recurrence twice in my local env, this can be resolved by restart my Laptop.

### Expected behavior

can always run smoothly

### How to Reproduce

Occasional problem, no recurrence pattern found

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`): null
- OS (cmd: `uname -a`): macOS Darwin

[2021-09-03 02:19] Baoyuantop commented on #2119
I have encountered the same problem before, my solution is to use `-f` or find the process in the process management, and then kill it.

[2021-09-03 07:14] #2080 closed

[2021-09-05 02:18] liuxiran commented on #2089
closed by https://github.com/apache/apisix-dashboard/pull/2117

[2021-09-05 02:18] #2089 closed

[2021-09-05 02:18] liuxiran commented on #2090
closed by https://github.com/apache/apisix-dashboard/pull/2117

[2021-09-05 02:18] #2090 closed

[2021-09-05 02:26] liuxiran commented on #2093
closed by https://github.com/apache/apisix-dashboard/pull/2117

[2021-09-05 02:26] #2093 closed

[2021-09-05 02:29] liuxiran commented on #2091
closed by https://github.com/apache/apisix-dashboard/pull/2117

[2021-09-05 02:29] #2091 closed

[2021-09-06 01:40] liuxiran opened #2122 "Request help: could not login grafana"
### Issue description

TODO

### Expected behavior

TODO

### How to Reproduce

TODO

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `etcd --version`):
- apisix-dashboard version, if have:
- Browser version, if have:

### Additional

[2021-09-06 03:19] wjmmjr commented on #2122
问题描述：grafana单独登录正常，作了页面嵌入，可以在apisix显示，但是登录成功后又会跳转登陆界面
环境：k8s
版本：apisix-dashboard-2.7、grafana8.1.2
![eda045aa781e2ce724b56192f94a850](https://user-images.githubusercontent.com/18857921/132156000-6130a18c-04d1-4bb1-a5d5-942ccf99d9a6.png)

日志如下：
![3b6cf7eed151a7b21723ea0227f4712](https://user-images.githubusercontent.com/18857921/132156016-b749dcb8-4daf-4a6f-95ed-ca4472ce9889.png)

[2021-09-06 04:33] liuxiran commented on #2122
@wjmmjr thanks for your report, let‘s have a meeting to check your environment, is 4:00 pm today a convenient time for you？

[2021-09-06 09:21] liuxiran commented on #2122
Thanks for @wjmmjr 's details, during the offline communication, I noticed that there are two sets of environments, one is for test, and another is for production, the test environment can be used normally without problems, but in the production environment, when login grafana, it will be return http code 302, and redirect to /, and in the test, we can see it will redirect to `/api/live/ws`

and h

[2021-09-06 15:09] nic-chen commented on #2122
@wjmmjr
Please confirm whether the host and port before and after logging in are the same and whether it is redirected to another address after logging in.

The other is to provide your browser information (what browser, and its version), and whether there are any error messages in the browser during this process.

[2021-09-06 22:19] liuxiran commented on #2105
I am actually hesitant here, the fact that the ID is our unique identifier, customization increases flexibility while inviting the risk of duplication, In case the user defines two routes with duplicate IDs, using the PUT method, the latter will override the former. if I've missed any details, please point them out @starsz

Other APIs were referenced during the design process

* [Gthub API](https:

[2021-09-06 22:31] liuxiran opened #2123 "Feature request: we need a better error message when something goes wrong"
# Feature request

## Please describe your feature

![image](https://user-images.githubusercontent.com/2561857/132263476-a46a69dc-f4a4-4110-b942-a88d869f344a.png)

![image](https://user-images.githubusercontent.com/2561857/132263552-ed3bd152-ed69-48cc-83cd-996037ab99ee.png)

these message often got when we config the plugin with error properties, but it is not easy to read, and users usually don't

[2021-09-07 01:04] wjmmjr commented on #2122
my apisix-dashboard is HTTPS domain name，so when i also configure the https domain name for grafana,the problem is solved.

[2021-09-07 01:30] liuxiran commented on #2122
glad to hear that, would you like to add a FAQ to our dashboard, that will be of great help to the later users. @wjmmjr

[2021-09-08 01:14] starsz opened #2127 "Store the grafana config in apisix-dashboard"
# Feature request

## Please describe your feature

Now, we can config the grafana link in apisix-dashboard, but we can't store the grafana link.
I think we can store the link.

## Describe the solution you'd like

Store the grafana link in etcd

## Describe alternatives you've considered

We can store the grafana link in etcd, and the FE can get the link via API.

## Additional context

Add any o

[2021-09-08 01:46] imjoey opened #2128 "feat: Bump apisix-build-tools version to v2.2.0"
# Feature request

## Please describe your feature

The new release v2.2.0 of api7/apisix-build-tools introduces a new feature that would reduce the time-cost for `docker build` via using cache with buildx, see https://github.com/api7/apisix-build-tools/pull/74. So we should also make use of that feature to help apisix-dashboard to reduce the CI time.

This issue is also related to a previous PR:

[2021-09-08 06:09] liuxiran commented on #2077
Hi @lgy1027 did your problem still exist? if so would you like to comment your `code` here, then we can help to generate a certificate to go on checking, thanks a lot

[2021-09-08 06:16] liuxiran commented on #2119
thanks for your suggestion @Baoyuantop , actually when this issue happened, I could not find the process of manager api, and could not use `-f ` too, sorry for not leave any logs.

may be it is related to #2008 , marked here.

[2021-09-08 06:35] liuxiran commented on #2088
Hi @bingoku

it has already been fixed in our 2.8 version, you can use `Raw Data Editor` to configure the `gzip` plugin.

But  there is another bug here, when configure `gzip` plugin in `Plugin Editor` there is an error happened:

![image](https://user-images.githubusercontent.com/2561857/132458244-66a01811-0e5f-402f-8f61-9ba26331090f.png)

@foolwc do you have time to help fix this issue? thanks a

[2021-09-08 08:36] liuxiran opened #2129 "Bug: route pagination error when delete the route item in the last page"
### Issue description

![page error](https://user-images.githubusercontent.com/2561857/132474934-26f2cca0-c999-4bfa-81af-d95f43a3bb12.png)

when delete last item in the route list , there will no data rendered in the route list, we should update the page query item

### Expected behavior

![image](https://user-images.githubusercontent.com/2561857/132475248-7e1221b0-a45c-4ea8-8526-fd0b53623d68.png)

[2021-09-08 08:41] mzk1234567-mzk opened #2130 "bug: produce problem of installing by using rpm"
### Issue description

install by using rpm to produce problem

### Expected behavior

Service is starting

### How to Reproduce

cd /dashborad
 ./manager-api start
Starting Apache APISIX Dashboard:					[  OK  ]
./manager-api status
Service is stopped

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd

[2021-09-08 08:41] mzk1234567-mzk commented on #2130
Error occurred while initializing logical store:  /apisix/routes
Error: json unmarshal failed
	Related Key:		1415214191809982464
	Error Description:	json: cannot unmarshal object into Go struct field Route.methods of type []string
Usage:
  manager-api [flags]
  manager-api [command]

Available Commands:
  help        Help about any command
  install     re-install Apache APISIX Dashboard service

[2021-09-08 08:57] liuxiran commented on #1967
close now, feel free to reopen it with any questions, thanks

[2021-09-08 08:57] #1967 closed

[2021-09-08 09:05] liuxiran commented on #2130
Hi @mzk1234567-mzk which version of rpm did you use?

[2021-09-08 09:20] liuxiran commented on #2127
Similar issue:  #1953

[2021-09-08 10:05] liuxiran opened #2131 "support Grafana in preview environment"
# Feature request

## Please describe your feature

Currently we do not have an available Grafana in our [preview environment](http://139.217.190.60/),

* we should add it to provides a complete preview experience
* write a guide about how to use Grafana in dashboard.

[2021-09-08 14:15] #2108 closed

[2021-09-08 15:48] imjoey commented on #2128
Maybe fixed via https://github.com/apache/apisix-dashboard/pull/2133.

[2021-09-09 03:34] mzk1234567-mzk commented on #2130
etcd的版本号为：v3.5.0
OS：3.10.0-862.el7.x86_64

[2021-09-09 04:33] liuxiran commented on #2130
cc @imjoey to help to check , thanks a lot

[2021-09-09 05:55] liuxiran commented on #2105
Hi @starsz @nic-chen any updates?

[2021-09-09 06:11] mzk1234567-mzk commented on #2130
i have make it，3Q ,no problem

[2021-09-09 06:17] liuxiran commented on #2130
How did you fix your problem, or maybe there's a problem with the way it's used? would you like to share your whole process here? Thanks very much @mzk1234567-mzk

[2021-09-09 06:55] liuxiran commented on #1986
Hi @Baoyuantop do you need any help with the front-end functionality?

[2021-09-09 07:10] Baoyuantop commented on #1986
I'm doing it, not yet

[2021-09-09 09:21] zuiyangqingzhou opened #2134 "install failed by rpm"
### Issue description

The documentation describes the following ways to install
[code]
However, there is no pisix-dashboard-2.8.0-0.x86_64.rpm on the release page
![image](https://user-images.githubusercontent.com/17425270/132659569-743c012e-f28b-42b2-8c1a-fccde8f8348a.png)

### Expected behavior

install success by rpm

### How to Reproduce

none

### Screenshots

_No response_

### Environment

[2021-09-09 10:32] liuxiran commented on #2134
Hi @zuiyangqingzhou , thanks for your report, checking and will upload the correct rpm soon

cc @imjoey

[2021-09-09 14:01] juzhiyuan opened #2135 "Go Report is not good as usual"
### Issue description

Go Report is not good, please have a check.

see https://goreportcard.com/report/github.com/apache/apisix-dashboard

### Expected behavior

I remember ManagerAPI is A+ before 🤔 So please have a check what happened here.

### How to Reproduce

see https://goreportcard.com/report/github.com/apache/apisix-dashboard

### Screenshots

_No response_

### Environment

- apisix vers

[2021-09-09 15:06] starsz commented on #2105
Hi @liuxiran, sorry for the late reply.

It's right, this may be another way that is called `update`.

This is a special API IMO, if you look at others like,they don't return the delete info:

https://kubesphere.io/api/kubesphere/#operation/DeleteGroup
https://kubesphere.io/api/kubesphere/#operation/DeleteNamespace
https://kubesphere.io/api/kubesphere/#operation/DeleteClusterRole
https://kubespher

[2021-09-09 15:07] starsz commented on #2127
Nice. Got it.

[2021-09-09 15:07] #2127 closed

[2021-09-10 02:21] liuxiran commented on #2134
Hi @zuiyangqingzhou, the correct rpm package has been uploaded, you can have a try

By the way, the link in our deploy-with-rpm doc is wrong , fix it by pr #2136 , thanks

cc @imjoey

[2021-09-10 02:35] imjoey commented on #2134
/lgtm .

Thanks for the update. @liuxiran.

[2021-09-10 08:16] zuiyangqingzhou commented on #2134
good job

[2021-09-10 09:18] #2134 closed

[2021-09-10 09:21] liuxiran commented on #2134
Hi @zuiyangqingzhou , all fixes are ok now, feel free to reopen this issue when you have any questions, thanks

[2021-09-10 09:21] #2122 closed

[2021-09-11 14:29] cielswift opened #2138 "bug: dashboard not working"
### Issue description

![image](https://user-images.githubusercontent.com/42295829/132951005-a5a96185-d6bd-470f-8e19-e61574d58b72.png)

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):

[2021-09-12 07:13] #2128 closed

[2021-09-12 08:13] liuxiran commented on #2105
Got you, thanks for the detailed examples, @starsz  then for the delete API, just return HTTP code 200 is enough

[2021-09-13 03:15] imjoey commented on #2130
@liuxiran From the error log `Error Description: json: cannot unmarshal object into Go struct field Route.methods of type []string`, I guess there's something wrong with the etcd service or some broken data stored in etcd. Since no response from @mzk1234567-mzk, let us close this. @mzk1234567-mzk your further feedback is welcome.

[2021-09-13 03:15] #2130 closed

[2021-09-13 04:04] liuxiran commented on #2138
This error shows that browser is receiving a content-length header from the server, that does not equal the actual length of the content, so it seems that @cielswift did not access to dashboard directly. please provide detailed information when you have time, so we can  further analyze the problem

[2021-09-15 12:33] zaunist commented on #2135
Hi,@juzhiyuan  ,I noticed that the last refresh of the page was three months ago, so I clicked Refresh Now and it is now A+   https://goreportcard.com/report/github.com/apache/apisix-dashboard

[2021-09-15 15:15] juzhiyuan commented on #2135
thanks!

[2021-09-15 15:15] #2135 closed

[2021-09-16 01:46] liuxiran opened #2140 "test: unstable test case search-route"
After checking the video log, we can found that the [E2E failed](https://github.com/apache/apisix-dashboard/pull/2066/checks?check_run_id=3592634363) caused by
![image](https://user-images.githubusercontent.com/2561857/133535093-9ebc213c-e2da-4f53-a893-d21411758b8b.png)

we need to find a better way to fix this unstable test case.

video log here:
https://user-images.githubusercontent.com/2561857/

[2021-09-16 03:57] freecodelover commented on #2129
I can reproduce it too.
And I see it's requesting such a URL `/apisix/admin/routes?label=&page=2&page_size=10` after deleting the last router.

But the page number is changed to `1` not the previous `2`, so it is confusing.
![image](https://user-images.githubusercontent.com/89953447/133546834-d31427b5-2a4a-4a1f-a536-b2c013b8db7f.png)

I think it's better to use the `page` value in the URL.

[2021-09-16 14:55] LiteSun commented on #2140
After analysis, I think we can solve this problem in two directions.

1. wait a few seconds before clicking the add button (fastest change but not recommended)
2. optimize the existing code logic to ensure that the drawer content is rendered consistently before popping up the drawer. e.g. wait for the interface response to finish before popping up the drawer. (recommended)

Waiting for others' opt

[2021-09-17 01:26] imjoey opened #2141 "bug: Demo site is built from the latest code"
### Issue description

As far as I know, the current demo site `http://139.217.190.60/` is built from the latest code. IMHO, this demo site should be far more stable than we expected, to let users know well about APISIX. So shall we use the stable version instead, which means more reliable for everyone.

### Expected behavior

The current demo site is built with the latest stable version of apisix

[2021-09-17 01:37] imjoey commented on #2141
@nic-chen @liuxiran @juzhiyuan @gxthrj, looking forward to your insights. Thanks.

[2021-09-17 05:37] juzhiyuan commented on #2141
How about maintaining 2 sites?

A-URL -> Stable
B-URL -> Latest from the master branch

[2021-09-17 05:41] iamayushdas commented on #2141
Thats a really good idea Zhiyuan sir, looking forward to other’s opinions
to this.

Best regards
Ayush Das<https://github.com/iamayushdas>

On Fri, 17 Sep 2021 at 11:07 AM, Zhiyuan Ju ***@***.***>
wrote:

[2021-09-17 06:13] Baoyuantop commented on #2141
Agree

[2021-09-17 08:07] ray-008 commented on #2088
是的，这就是个bug。但是可以到路由列表，点单个路由的更多 ->查看按钮 编辑提交。

<img width="1270" alt="WX20210917-160547@2x" src="https://user-images.githubusercontent.com/4973374/133747773-2f7960d1-373c-4ab2-afeb-5e5c0878a111.png">

[2021-09-17 08:13] bzp2010 commented on #2088
@ray-008 The bug can be reproduced and I will try to fix it.

[2021-09-18 01:29] imjoey commented on #2141
@juzhiyuan yep, this sounds great.

[2021-09-18 02:02] bzp2010 commented on #2141
Agree with this, should we use another IP address, or can we deploy a dashboard over APISIX and distinguish the environment based on the path.

[2021-09-18 02:30] juzhiyuan commented on #2141
both are ok

[2021-09-18 02:45] #2088 closed

[2021-09-24 07:49] suninuni opened #2146 "support set scope as Path in Advanced Routing Matching Conditions"
# Feature request

## Please describe your feature

I need to set an Advanced Routing Matching Conditions for path, such as Regex Match rule, but now I can’t configure it through the dashboard.

![image](https://user-images.githubusercontent.com/7345529/134637533-0f5479e9-ce2c-4422-9263-6436cd9e40d3.png)

Even after I configured these rules through ApisixRoute, they displayed as null and I couldn’

[2021-09-24 09:21] geffzhang opened #2147 "提示 auth-keycloak 不属于验证插件"
### Issue description

我们拥有独立的认证中心(使用keycloak)，创建应用时，无法使用keycloak 认证。

### Expected behavior

希望应用可以使用keycloak进行认证

### How to Reproduce

打开网址"http://xxxxx/consumer/list"
点击 '创建'
输入"demo"
点击“下一步”
选择“authz-keycloak”，输入authz-keycloak配置内容后保存
5.点击下一步，提示“请启用一种身份认证类插件”，无法进入下一步

### Screenshots

![apisixkeycloak](https://user-images.githubusercontent.com/439390/134650696-00e27bd5-cf0e-448a-be1b-187c1419c

[2021-09-24 10:05] bzp2010 commented on #2147
authz: authorization

[2021-09-24 11:41] liuxiran commented on #2147
hi @geffzhang actually the pop-up message is not very friendly. `consumer` in APISIX should be used with one of ` basic-auth` `key-auth` `hmac-auth` and `jwt-auth`. you can refer
https://github.com/apache/apisix/blob/master/docs/en/latest/architecture-design/consumer.md
for details.

and when you want to enable `authz-keycloak` , you can enable it with route or related services

[2021-09-25 13:20] bzp2010 opened #2148 "Proposal: support Plugin Metadata API"
# Feature request

## Background
At present, some plugins in Apache APISIX have metadata configuration items. The current dashboard project cannot support setting these contents. We need to support it. This requires adding APIs at the backend and pages at the frontend.

### About metadata
Metadata is a mechanism provided by Apache APISIX to store some global configuration content for plugins. It i

[2021-09-25 13:22] bzp2010 commented on #2148
Hi, everyone.
If you have any suggestion, you can send comments here.

[2021-09-26 01:06] tzssangglass commented on #2148
Where is the entry point for configuring `plugin_metadata`? If the entry to plugin_metadata is in the plugin configuration on route or service, I'm worried about ambiguity.

Because the scope of the plugin_metadata is for all routes or services on which the plugin is configured.

[2021-09-26 01:21] bzp2010 commented on #2148
@tzssangglass
I think it should be in the main menu at the same level as route and upstream.

[2021-09-26 14:23] starsz commented on #2148
So what's the key prefix in etcd about the plugin metadata ?
I can't get this from the proposal.

[2021-09-26 14:25] bzp2010 commented on #2148
@starsz It will be exactly the same as in APISIX.

[2021-09-28 00:59] nic-chen commented on #2148
I think you could take a screenshot to illustrate, now it's completely based on imagination.

[2021-09-28 02:32] yangxikun opened #2150 "support custom plugins type"
# Feature request

## Please describe your feature

We can define `type` in APISIX plugins:

[code]

But the `type` not used by dashboard frontend:

![image](https://user-images.githubusercontent.com/3364160/135012338-4ba51ee6-6d47-4e9c-a4a1-fd6c1a2a0648.png)

## Describe the solution you'd like

[code]

[2021-09-28 04:02] starsz commented on #2148
Well. Got it.

[2021-09-28 04:50] bzp2010 commented on #2148
Hi, @nic-chen. It should generally provide Monaco Editor to support code completion and schema verification. Just like those plugins that do not support UI configuration.
![image](https://user-images.githubusercontent.com/8078418/135025174-d0ec1027-d080-4b16-887c-0bbf6bfde87a.png)

[2021-09-29 06:45] Waylonwhynot opened #2153 "v1/healthcheck 接口返回信息不全"
### Issue description

使用场景：当成7层LB替代Nginx使用
目前问题：所有upstream上游都配置了主动检查（tcp检测），但是通过GET v1/healthcheck 只返回了其中一组upstream状态信息。

### Expected behavior

需求：想要类似于Nginx的check_status页面，实时查看所有upstream的状态，或者暴露个接口也可以，但是目前看提供出来的接口返回upstream信息是不全的。

### How to Reproduce

类似方式配置了5-6个站点

上游配置：
nodes:
  - host: 10.15.0.5
    port: 80
    weight: 1
timeout:
  connect: 6
  send: 6
  read: 6
type: roundrobin
checks:

[2021-10-04 09:27] leslie-tsang opened #2155 "bug: apisix-dashboard unable to set `upstream.pass_host` as `node` when node more than 1"
### Issue description

I found code below in apisix-dashboard  make it unable to select `Use the domain or IP from Node List` in `Hostname`, Which apisix had supported.

https://github.com/apache/apisix-dashboard/blob/9764dadd71ee303b56fbb61061ea67b52abdddc2/web/src/components/Upstream/components/PassHost.tsx#L88-L102

[code]

### Expected behavior

apisix-dashboard support `upstream.pass_host` as

[2021-10-08 18:50] VidyaGF opened #2159 "apisix dashboard not coming up"
### Issue description

We followed the steps listed here to deploy dashboard :https://apisix.apache.org/docs/dashboard/deploy
We are trying to use "Deploy with Source Codes"

However , at the end the UI is not opening at http://127.0.0.1:9000 . It is giving error
NOTE : We have changed the config.yaml file to use port 8082 instead of 9000 , as we have other processes already using that port

### E

[2021-10-09 09:42] zaunist opened #2161 "bug: manager-api services can't stop"
### Issue description

I compiled manager-api from the documentation and then ran `sudo./manager-api start`. So far everything is fine, but when I tried to stop manager-API I failed, I ran `sudo./manager-api stop` and got no response. I then use `kill` to kill the corresponding process, but the system will automatically create a manager-API process.

### Expected behavior

apisix-dashboard is disa

[2021-10-09 10:10] bzp2010 commented on #2161
@zaunist Attempt was made to execute the Manager API remove command.

[2021-10-09 10:18] zaunist commented on #2161
Solve it,thanks

[2021-10-09 10:18] #2161 closed

[2021-10-11 03:05] bzp2010 opened #2162 "Add the issue stale processor"
# Feature request

## Please describe your feature

Add the automatic cleaning function of obsolete issue for the current repo. [**Just like Apache APISIX's repo**](https://github.com/apache/apisix/blob/master/.github/workflows/stale.yml)

## Describe the solution you'd like

Add a new GitHub workflow to process obsolete issues regularly in a crontab way.

[2021-10-11 03:36] waringid opened #2164 "dashboard 路由转发报 403"
### Issue description

在 dashboard 中增加路由转发记录到主机地址报 403 错误

### Expected behavior

dashboard 无法通过域名方式直接访问

### How to Reproduce

将 apisix 配置为互联网接入网关，需求是通过输入 http://waringid.xx.me 实现访问 dashboard 的目的
1、apisix 配置为监听 80 和 443 端口
2、dashboard 配置为监听 8003 端口
3、通过 外网IP:8003 端口的方式页面和登录正常 但是 /usr/loca/apisix/log/access.log 中无登录日志记录（日志类型默认）
4、通过 waringid.xx.me:8003 的方式登录正常，但是查看 “Raw Data Editor” 的功能时无法正常显示（步骤3

[2021-10-11 07:54] nic-6443 opened #2165 "HTTP server write timeout value too small"
### Issue description

When the Dashboard is deployed on a server with limited network bandwidth, the `HTTP server write timeout`([code](https://github.com/apache/apisix-dashboard/blob/f50779a3134da0f97114fb54313e1c77ae042b65/api/internal/core/server/http.go#L54-L54)) value is too small, resulting in a timeout when downloading js files, Chrome reports `ERR_CONTENT_LENGTH_MISMATCH` error, and the p

[2021-10-11 08:18] yangxikun opened #2166 "route.vars support "!" operator"
https://github.com/api7/lua-resty-expr#operator-list

I suggest add a checkbox to support the "!" operator.

[2021-10-11 10:35] nic-6443 opened #2167 ""Create Route" form optimization"
# Feature request
"Create Route" -> "Define API Backend Server" -> "Select Upstream" can automatically select the "None" option according to whether service is configured in the previous form "Define API Request" -> "Service"

## Please describe your feature
When I select a defined service in the form below:
![image](https://user-images.githubusercontent.com/22141303/136775242-1f761e8a-abc8-40aa-9

[2021-10-12 00:18] waringid commented on #2164
参照说明在 apisix 的配置文件中增加
`apisix:
  port_admin: 9180 `
配置后解决。

[2021-10-12 00:18] #2164 closed

[2021-10-12 03:15] zaunist commented on #2162
I'm interested in this. Let me do it

[2021-10-12 03:16] zaunist commented on #2162
I'll add github workflow later

[2021-10-12 04:22] RedemptionC opened #2170 "help request: when will data in cache be different with those in ETCD?"
could you give some example?

[2021-10-13 05:37] VidyaGF commented on #2159
@bzp2010 - Based on the details above , can you know what may be the issue ?

[2021-10-14 01:45] CGerAJ commented on #2165
me too

[2021-10-14 03:38] bzp2010 opened #2172 "bug: change of ginkgo test framework leads to CI failure"
### Issue description

Changes upstream of Ginkgo test framework lead to CI failure.

### Expected behavior

The backend E2E test can pass normally.

### How to Reproduce

1. create a PR and wait CI running

### Screenshots

![image](https://user-images.githubusercontent.com/8078418/137247008-54cfafd1-683d-48b6-bac0-a2a0f11e8346.png)

### Environment

_No response_

### Additional context

_No res

[2021-10-14 03:49] eno16777736 opened #2174 "bug: apisix dashoard 2.9版本需要重复登录才能进入UI界面"
### Issue description

apisix dashoard 2.9版本登录时第一次输入密码登录以后显示密码正确，然后再跳转到登录界面，再次输入密码以后才能正常进入UI

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- th

[2021-10-14 04:26] okaybase commented on #2155
PR https://github.com/apache/apisix-dashboard/pull/2168 will fix this.

[2021-10-14 12:56] zaunist commented on #2174
I also found that if the account was logged in from somewhere else, the login interface would return "User has logged in elsewhere" the first time, and the login would only be successful if requested again. Is this login logic appropriate? @bzp2010

[2021-10-14 12:56] zaunist commented on #2174
![image](https://user-images.githubusercontent.com/38528079/137321571-0158a99f-508a-4721-aed7-11e6761fd429.png)

[2021-10-15 01:28] bzp2010 commented on #2174
Hi, @eno16777736. Are you logging in for the first time? (have you logged in before and dropped out after timeout)

[2021-10-15 01:29] bzp2010 commented on #2174
@zaunist It seems that the error of error code `20006` does not come from the `apache/apisix-dashboard` project. I didn't find it after searching in the code.

[2021-10-15 02:09] bzp2010 commented on #2123
@zaunist The above hard to read error log is the output when using JSONSchema to check the correctness of user input data. I think we need to keep the output of JSONSchema validation while making it easier to read.

[2021-10-15 02:41] zaunist commented on #2123
Keep the output of validation, the message is too long, I don't think we should use this message for debug. It might be user friendly to give a general error message.

[2021-10-15 08:49] e-era opened #2176 "bug: jwt_auth插件消费者没设置secret，token请求偶尔会出现signature mismatch"
### Issue description

jwt_auth插件消费者没设置secret，token请求偶尔会出现signature mismatch，设置了secret正常。

### Environment

apisix: 2.10.0

### Steps to reproduce

curl http://192.168.6.165/apisix/plugin/jwt/sign?key=app
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJrZXkiOiJhcHAiLCJleHAiOjE2MzQyNjQ1ODV9.ZPtyiLHD2jr-zXMh1XmSnwoEycLSowyy8bbxFTHTDUQ

curl -H 'Authorization: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJrZXkiOiJ

[2021-10-15 09:04] bzp2010 commented on #2176
Hi, @e-era. I checked your problem.

### Reason
After checking, I found that this problem is caused by the behavior difference between the Admin API in APISIX and the dashboard.

When you create a consumer using the Admin API, if you do not explicitly specify a secret, APISIX generates one for you and saves it in the etcd. When you use the dashboard, if you do not set the secret value, the dashboa

[2021-10-17 11:48] #2174 closed

[2021-10-17 11:48] juzhiyuan commented on #2174
@zaunist Please check your project 🤔 This error code is not from Apache APISIX Dashboard.

[2021-10-17 18:18] VidyaGF commented on #2159
ok @bzp2010 , sorry for the late reply. we were  on vacation for long weekend here . We will check and get back tomorrow

[2021-10-19 01:51] starsz commented on #2166
![image](https://user-images.githubusercontent.com/25628854/137830535-454310aa-e2d1-46e4-8449-0aefacf427c9.png)
Do you mean this ?
APISIX-Dashboard had supported "!" already.

[2021-10-19 08:37] bisakhmondal commented on #2170
Totally agree with you : )

[2021-10-19 09:24] eno16777736 commented on #2174
首次登陆是可以的，之后等cookie失效后就需要重复登陆两次才可以正常进入

[2021-10-19 09:26] eno16777736 commented on #2174
很明显是dashborad的登录接口的代码逻辑有问题

[2021-10-20 02:37] feipengheart opened #2177 "request help: 为什么插件编排后只有一个生效"
### Issue description

编排篇日志如下
![image](https://user-images.githubusercontent.com/66514726/138018777-66b378f9-5d53-4112-9a1f-b4b57cf37128.png)
为什么只有hmac-auth生效了，jwt-auth没生效呢
一直都是最后一个生效

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/s

[2021-10-20 03:26] nic-chen commented on #2177
hi @feipengheart

Could you please provide the configuration data stored in etcd for the route?

[2021-10-20 07:26] nic-chen commented on #2177
[code]

[2021-10-20 17:48] #2165 closed, assigned to nobody

[2021-10-21 01:55] astraylinux opened #2180 "failed to write pid: Instance of Manager API maybe running with a pid"
### Issue description

I'm installed and run ApiSix Dashboard yesterday，The process exited this morning.  Even if I add the `-f` flag, I can't start ther manager-api anymore .

Error:
[code]

### Expected behavior

 start manager-api server

### How to Reproduce

start manager-api, no exit normally

### Screenshots

![image](https://user-images.githubusercontent.com/4121264/138196537-148136bd-e9f0

[2021-10-21 02:01] bzp2010 commented on #2180
@astraylinux Please check `/tmp/manager-api.pid` exist.

[2021-10-21 02:31] astraylinux commented on #2180
It exist, I delete it then `manager-api` can start. Thank you. So the `-f` flag not work, It's bug?

[2021-10-21 05:12] feipengheart commented on #2177
{
  "uris": [
    "/ai/api/image/smoke"
  ],
  "name": "smoke",
  "desc": "烟雾识别",
  "methods": [
    "POST",
    "GET"
  ],
  "script": {
    "chart": {
      "cells": [
        {
          "attrs": {
            "line": {
              "stroke": "#5F95FF",
              "strokeWidth": 1,
              "targetMarker": {
                "name": "classic",
                "size": 8
              }

[2021-10-21 06:52] bzp2010 commented on #2180
@astraylinux Thank you for pointing out the problem. It looks like a mistake and will be fixed as much as possible.

Currently, consideration is being given to removing the built-in service management from the Manager API and using `systemd` or docker containers to manage its life cycle.

[2021-10-21 06:54] astraylinux commented on #2180
Ok, thank you very much!

[2021-10-21 06:54] #2180 closed

[2021-10-22 02:42] sofire opened #2181 "IP输入框的宽度不够，无法显示完整信息"
### Issue description

在mac 13寸笔记本上，IP 输入框 不够宽，无法完全显示信息
尤其是在输入框 被禁用后，无法看到完整信息，不知道输入的啥了。

### Expected behavior

希望能增加 最小宽度 ，能完全显示

### How to Reproduce

无

### Screenshots

![4BDFCAD9D6AA4A94DE3F264E16F61FEF](https://user-images.githubusercontent.com/1177330/138384632-4d521147-1147-49b7-8cd4-ed4208d3c0c8.jpg)

### Environment

版本 2.9.0

### Additional context

_No response_

[2021-10-22 02:56] juzhiyuan commented on #2181
@Ylikj Hi, would you help to fix this issue?

[2021-10-26 02:21] zuiyangqingzhou opened #2184 "request help: about permission control"
The authority control of Dashboard is relatively weak at present, will it be enhanced in the future? For example, support RABC

[2021-10-26 03:51] bzp2010 opened #2185 "Proposal: remove built-in service daemon manager"
# Proposal

## Please describe your feature

Remove built-in service daemon manager in backend that implement by go module `takama/daemon`.

Although this function exists, it brings some convenience. But it brings platform-related uncertainty to the operating system, makes it difficult to debug when problems occur during startup, and we need to add a lot of additional peripheral code to support it

[2021-10-26 06:30] #2184 closed, assigned to nobody

[2021-10-27 03:25] jagerzhang opened #2186 "upstream.checks.active.port should not set to 80 by default"
在Admin API 里面可以看到，`upstream.checks.active.por`t 默认值是 `${upstream.node.port}` ，即默认检查的是每个node定义的端口：
![image](https://user-images.githubusercontent.com/9711651/138994704-7213b860-20c8-4fee-9e93-fa5b3182c411.png)

如果通过 Admin API 创建upstream的时候未定义`upstream.checks.active.port`（即本意是想使用默认的node 端口），但是在dashboard里面会默认为80：
![image](https://user-images.githubusercontent.com/9711651/138994690-4ec69084-9e4d-4b4e-

[2021-10-29 20:45] hozaifaaoud opened #2188 "can't find proxy-rewrite plugin"
### Issue description

Hi,
I am using apisix dashboard to configure route and need to use proxy-rewrite plugin and can't find it on the plugins on the dashboard
could you please help me to use it?
thanks in advance

### Expected behavior

 proxy-rewrite

### How to Reproduce

//

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`):2.5
- OS (cmd: `uname -a`): 1

[2021-10-30 04:15] lwba21190 opened #2189 "support protobuf on Web"
# Feature request

## Please describe your feature

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other

[2021-10-30 04:45] juzhiyuan commented on #2189
Please update your issue's description, a clear description could help us better understand your question :)

[2021-10-30 04:47] juzhiyuan commented on #2188
Hi, which version of the dashboard are you using? This plugin has a UI form here.

![image](https://user-images.githubusercontent.com/2106987/139520555-f049fda0-8674-46da-9c7b-9d9630ab3317.png)

[2021-10-30 04:48] lwba21190 commented on #2189
好的，多谢。我的目的是想用apisix做网关，将终端的http请求转成grpc到微服务(go)，用的协议文件是protobuf。但是dashboard上面没有看到可以设置proto相关的地方，那grpc transcode插件怎么找到proto的内容呢？

[2021-10-30 07:21] bzp2010 commented on #2189
Hi, @lwba21190.
In the master branch of the dashboard, we already support the administration API of protobuf. but the front-end administration panel still hasn't started and we lack the manpower.
If you are able to support the development of the front-end interface, we are more than welcome to send a PR.

[2021-10-30 07:22] bzp2010 commented on #2188
ping @hozaifaaoud

[2021-10-30 07:57] lwba21190 commented on #2189
好吧，多谢

[2021-10-31 01:49] #1757 closed

[2021-10-31 08:03] zaunist opened #2190 "Feature request: Refactor e2e to e2enew"
# Feature request

## Please describe your feature

Currently, there are two sets of E2E in Apache APISIX Dashboard, we should be able to migrate the test cases from e2e to e2enew, so that we only need to store E2E in one directory, making the directory structure more reasonable and clear.

## Describe the solution you'd like

Refactor the code in the e2e directory and merge it into the e2enew dir

[2021-10-31 10:03] bzp2010 commented on #2190
+1
We should also comb through the test cases in the e2enew folder to make it more organized.

[2021-10-31 10:05] #1573 closed

[2021-10-31 10:42] tomzhou1213 opened #2191 "CodeMirror is broken when viewing data"
### Issue description

路由、上游、服务等所有查看数据的地方都出现这个问题

### Expected behavior

正常显示数据

### How to Reproduce

无

### Screenshots

![image](https://user-images.githubusercontent.com/8078418/139579018-7fea100b-1cc1-4747-acf6-19096c08e315.png)

### Environment

- apisix version 2.9.0
- OS : cncentOS 7
- OpenResty version :  1.19.9.1
- etcd version: 3.4.7
- apisix-dashboard version: 2.9.0
- Browser version:

[2021-10-31 11:22] zaunist commented on #2190
I'm going to do this, but I have a question whether to submit all the use cases in one PR or split them into multiple PR's.

[2021-11-01 01:00] belongwqz commented on #1777
Close it?

[2021-11-01 04:35] jagerzhang opened #2192 "Dashboard upstream does not display the priority field, and the priority setting will be lost when click the commit button"
APISIX的路由是支持通过设置priority来满足不同的转发优先级的，但是这个特性并没有在dashboard上开放设置入口，因此我们是通过admin api 来设置的。当通过admin api 设置好priority之后，在dashboard的上游查看界面中，却不显示priority字段，一旦在这个界面点击提交，priority字段设置会丢失，导致既定优先级失效，可能引发不必要的现网故障。

Admin Api 设置的upstream：
![image](https://user-images.githubusercontent.com/9711651/139622038-1e39170c-941a-4599-9ba8-3afda92c2d3f.png)

在dashboard 的upstream view中显示如图：
![image](https://user-images.gith

[2021-11-01 05:45] bzp2010 commented on #2192
@jagerzhang Here was determined to be a difference between APISIX and Dashboard, which is a bug. It takes a while to fix.

[2021-11-01 09:36] gy09535 opened #2194 "Should apisix support environment config or profile config?"
# Feature request
For example  I want to change etcd  ip address and  apisix  prefix for different environment, according to https://github.com/apache/apisix-dashboard/blob/master/api/conf/conf.yaml#L39, how can I do it?
## Please describe your feature

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description

[2021-11-01 13:10] bzp2010 commented on #2194
@gy09535 You can specify a different profile with `-c`.

[2021-11-01 13:58] hozaifaaoud opened #2195 "path parameter in the route"
### Issue description

I need to put the id as a path parameter in the route... How can I apply this using apisix dashboard?
Here is an example
http://127.0.0.1:9080/v1/users/{id}
I tried this
http://127.0.0.1:9080/v1/users/*
but it returns
{"status":400,"message":"#/id: expected type: Integer, found: String"}

### Expected behavior

//

### How to Reproduce

//

### Screenshots

_No response_

##

[2021-11-01 14:48] hozaifaaoud commented on #1919
any good news

[2021-11-01 15:22] zaunist commented on #2195
Hi, @hozaifaaoud , `id` must be specified a certain value, example: `http://127.0.0.1:9080/v1/users/1`, `http://127.0.0.1:9080/v1/users/2`

[2021-11-01 15:42] hozaifaaoud commented on #2195
I know that the is should be specified as a certain value.
The question is ... while creating the route ... How can I create the route that accepts an id at its end??
![Capture](https://user-images.githubusercontent.com/79872781/139699065-6b3950df-58d5-4a28-8cc7-368a14b8bc32.PNG)

[2021-11-02 02:19] juzhiyuan commented on #1919
AFAIK, no plan to support this, but PR is welcome.

[2021-11-02 02:36] Engine-AI commented on #2195
Hi！@hozaifaaoud  The value of "path" is a regular expression, and your url does not match this regular expression。

[2021-11-02 02:45] Engine-AI commented on #2194
Hi！@gy09535 ,I have used a stupid way ，You can create the corresponding "conf.yaml" configuration file according to your environment and modify the startup mode in the makefile. like this.
![image](https://user-images.githubusercontent.com/17827327/139778453-8fbb7282-ba43-4ad9-b22b-4265d1464496.png)
![image](https://user-images.githubusercontent.com/17827327/139778466-18e20092-5164-49d2-bcbc-5cec6

[2021-11-02 07:09] gy09535 commented on #2194
got it, thanks for you help 👍.

[2021-11-02 07:19] gy09535 commented on #2194
BTW, Are you trying to overwrite the contents of the configuration file via environment variables?

En....., yeah I use it in publish platform, for different environment, I want use one docker image, and change the config with different environment variables, like this![image](https://user-images.githubusercontent.com/15153469/139802289-c526c2c9-555b-4153-890b-1d914d270657.png)>

[2021-11-02 08:02] #2185 closed

[2021-11-02 17:22] hozaifaaoud opened #2196 "can not open consumer with numbers as name"
### Issue description

The issue is that you can add a consumer through admin api and his name is 12345.
and if you go to the dashboard you will not be able to change any thing in this consumer configuration.
Here is a created user and I need to change something in its configuration
![image](https://user-images.githubusercontent.com/79872781/139914198-dddf54a0-362c-409d-b5b1-ac289b8fe3e6.png)

###

[2021-11-03 08:40] starsz commented on #2166
cc @LiteSun Please check about it.

[2021-11-04 06:45] #1931 closed

[2021-11-04 15:10] #1986 closed

[2021-11-04 15:14] bzp2010 commented on #2194
@gy09535 Later I will try to update the Dockerfile of the docker image to open up the `CMD` to help overwrite the config file path, so that I can combine volume and cmd to dynamically select the config file.

[2021-11-05 02:34] Baoyuantop commented on #2161
Hi @bzp2010 , I ran into a similar problem, but `failed to get manager-api pid: open /tmp/manager-api.pid: no such file or directory`, I checked that there is no such file.

[2021-11-05 02:42] bzp2010 commented on #2161
@Baoyuantop You need to use the `ps` command to view the PID of the program and stop it.

[2021-11-05 04:17] Baoyuantop commented on #2161
I was running on macOS and finally I used `launchctl unload /Library/LaunchDaemons/apisix-dashboard.plist` to solve.

[2021-11-06 01:56] #1904 closed

[2021-11-06 01:56] #1969 closed

[2021-11-06 01:56] #2075 closed

[2021-11-07 04:02] bzp2010 opened #2197 "Proposal: Migrate old backend e2e tests"
# Proposal

## Background

There are two different sets of backend E2E code in the current project, each using a different implementation, and some test cases are duplicated and confusing.

## Objectives

Migrate all the test cases to the implementation using ginkgo in `e2enew` and unify the code writing in `e2enew`. The ultimate goal is to improve functional test coverage and fix various problems

[2021-11-09 09:40] zaunist commented on #2197
Assign to me, I will solve the issue.

[2021-11-09 10:08] moonming commented on #2105
any update？ @liuxiran

[2021-11-09 10:33] bzp2010 opened #2203 "Some dependencies that have security risks"
# Feature request

## Please describe your feature

We need to upgrade frontend and backend dependencies that have been identified as security risks.

## Describe the solution you'd like

Check the minimum version of the dependencies in go.mod and package.json and upgrade them to a version that removes the security risk.

[2021-11-10 03:01] zaunist commented on #2190
Repeated https://github.com/apache/apisix-dashboard/issues/2197

[2021-11-10 03:01] #2190 closed

[2021-11-10 10:51] namangirdhar16 commented on #2095
Hi @liuxiran @bzp2010 i would like to work on this issue, please assign this to me.

[2021-11-11 08:45] juzhiyuan commented on #2203
transfer to @guoqqqi

[2021-11-11 08:46] juzhiyuan commented on #2148
related PR: https://github.com/apache/apisix/pull/5372

[2021-11-12 05:49] Marno-o opened #2205 "dos format shell"
### Issue description

I want to build image locally ,but found this error:
[code]
It's caused by this build script: `api/build.sh`.

This build script was wrote in format dos , it contains `\r` so cannot be read by linux.

### Expected behavior

please check and fix

### How to Reproduce

docker build -t apisix-dashboard:test .

### Screenshots

_No response_

### Environment

- OS (cmd: `uname -

[2021-11-12 08:44] anjoy8 opened #2206 "Login page "How to update username/password?" The jump address is inaccurate."
### Issue description

登录页链接“如何修改默认账户和密码？”，点击跳转后，跳转到GitHub地址的行数不准确。
跳转到了53-57，这块代码不是user部分。

### Expected behavior

应该是跳转到70-75行。

### How to Reproduce

返回登录页即可看到。
或者直接看在线地址 (http://139.217.190.60/user/login).

### Screenshots

![image](https://user-images.githubusercontent.com/28941816/141437462-280dd016-3779-4d8c-bb9f-77e79568ad55.png)
![image](https://user-images.githubusercontent.com/28941816/

[2021-11-13 10:05] #1738 closed

[2021-11-14 03:34] juzhiyuan commented on #2203
@guoqqqi May I know when will fix this issue?

[2021-11-14 10:05] #1787 closed

[2021-11-14 10:05] #1797 closed

[2021-11-14 15:36] bzp2010 opened #2211 "bug: deployment document link error in README"
### Issue description

The link to the deployment document in README is wrong due to a document update.

### Expected behavior

Provide links to the correct documentation.

### How to Reproduce

Open `https://github.com/apache/apisix-dashboard` and see README.

### Screenshots

![image](https://user-images.githubusercontent.com/8078418/141687676-eb1d0081-4011-4a23-a2c2-c6399a466fd1.png)

### Envir

[2021-11-16 16:01] Applenice commented on #2205
@juzhiyuan I am trying to reproduce it but without success, the end-of-line character of the clone code is LF.
![image](https://user-images.githubusercontent.com/30207614/142018882-577016cd-d14d-4683-8d56-f70ca0f097d6.png)

@Marno-o Have you ever manipulated this file on Windows? For example, I wrote the t.sh file on Windows, the end-of-line character is CRLF:
![image](https://user-images.githubus

[2021-11-17 10:16] okaybase opened #2215 "the http status description of upstream check is not correct"
### Issue description

the http status description of upstream check is not correct

### Expected behavior

see the Screenshots

### How to Reproduce

1. config Health Check for upstream
2. see the HTTP Status tips

### Screenshots

![image](https://user-images.githubusercontent.com/75366457/142181293-7d2b74f5-05dd-4559-9bf4-ca810c2e08c9.png)

![image](https://user-images.githubusercontent.com/753

[2021-11-18 04:03] junmaqiang opened #2217 "request help: Ask how to configure the undefined domain name to point to a service"
### Issue description

以前我在Nginx的时候是这样配置的
I used to configure it like this when I was in Nginx

[code]

现在用 Apisix，我要如何定义呢？
Now using Apisix, how do I define it?

我的目的是：让路由没有匹配到的统一都指向到一个地方
My purpose：Let the unity that the route does not match point to one place

### Environment

- apisix version (cmd: `apisix version`): 2.9
- OS (cmd: `uname -a`):Mac
- OpenResty / Nginx version (cmd: `nginx -V` o

[2021-11-18 14:57] juzhiyuan commented on #2217
[code]

For `listen 80`, you need to update APISIX's configuration, see https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L25

For `server_name _`, I'm not sure if you mean `all requests which are not targeted to a specified Routes would return 444`? I need to ask help from @bzp2010.

[2021-11-18 14:58] #2181 closed

[2021-11-18 14:58] juzhiyuan commented on #2181
fixed

[2021-11-19 01:44] zaunist commented on #2205
Yeah, maybe some one edit this file in Windos. And there is a tool `dos2unix` can fix this issue.

[2021-11-19 02:48] ltt1987 opened #2219 "Add sub_path support when dashboard under a subdirectory via nginx reverse proxy."
# Feature request

当前如需反向代理到apisix dashboard，只能进行根目录的代理，如果指定 http://host/dashboard/ 的二级目录进行代理，代理后dashboard 中的静态资源路径、请求的api接口路径，均为根路径（src="/favicon.png"）的引用，期望的地址应该是二级目录（src="/dashboard/favicon.png"）地址。

Currently, if you need to reverse proxy to apisix-dashboard, Only support the root directory proxy.

If you set apisix-dashboard under a subdirectory via nginx reverse proxy like http://ip/dashboar

[2021-11-19 04:01] juzhiyuan commented on #2219
Not sure if it's supported with Apache APISIX 🤔 @tzssangglass could you please have a check?

[2021-11-19 04:02] juzhiyuan commented on #2219
BTW, @ltt1987 I recommend using English here 😄 For we have many contributors and users who speak English and other languages 😄

[2021-11-19 04:27] #2206 closed

[2021-11-19 07:16] ltt1987 commented on #2219
Sorry for that, I'm not good at english. I have added English content, but I still keep Chinese in order to avoid wrong description.

[2021-11-19 09:11] #2215 closed

[2021-11-19 12:20] juzhiyuan commented on #2219
got it, @bzp2010 would you please take a look?

[2021-11-20 05:33] tzssangglass commented on #2219
we cau use `proxy-rewrite` plugins to do this, refer to:https://github.com/apache/apisix/issues/3252

[2021-11-20 10:05] #2077 closed

[2021-11-21 12:25] Marno-o commented on #2205
I tried to reproduce this problem but not work again:
For some reason ,i must clone on Windows OS first, then upload to my server.
I did not edit this file by any other tools before this problem happened.

So i think maybe this is caused by the FTP tool.
Is a mistake, so sorry fro this disturb,

[2021-11-21 12:25] #2205 closed

[2021-11-22 09:55] #2111 closed

[2021-11-22 16:11] #1510 closed

[2021-11-23 02:53] juzhiyuan commented on #1991
@Baoyuantop any update?

[2021-11-23 03:15] zaunist commented on #2123
Hi, @bzp2010 @juzhiyuan , any suggestion for this issue ?

[2021-11-23 03:59] juzhiyuan commented on #2123
Maybe translate the error message instead of showing raw data?

[2021-11-23 04:22] zaunist commented on #2123
I think so, @bzp2010 what do you think?

[2021-11-23 12:22] okaybase opened #2220 "bug: the TCP Failures configuration does not work"
### Issue description

TCP Failures configuration does not work, see the Screenshots.

### Expected behavior

TCP Failures configuration to work normally.

### How to Reproduce

1. config TCP Failures 3 for an upstream.
2. but in fact TCP Failures is still default value 2.

### Screenshots

![image](https://user-images.githubusercontent.com/75366457/143025572-a5144597-f08b-491b-806d-479b9b5be925.p

[2021-11-24 05:55] gy09535 opened #2222 "support Request Loading status"
### Issue description

Delete route in apisix dashboard is not work.
![image](https://user-images.githubusercontent.com/15153469/143182074-42523a52-7156-4e52-bd3d-259d8d168129.png)

once deleted is dose not work, but twice I got this error.

### Expected behavior

When I delete the route, the list of this route should not be in the list.

### How to Reproduce

just start the dashboard and delete t

[2021-11-24 09:29] gy09535 commented on #2222
when I restart the dashboard, the route is disappear.Now I am wary about it will show again.

[2021-11-24 10:10] #1345 closed

[2021-11-25 03:39] gy09535 commented on #2222
@juzhiyuan It seems the api issue, I restart the dashboard service it can work rather then restart the browser.

[2021-11-25 08:48] GhangZh opened #2223 "request help :apisix-dashboard Dockerfile and build.sh error"
### Issue description

On mac build  apisix-dashboard centos image with the repository's Dockerfile and changing alpine to centos and updating the image pod will not work and will report an error as
[code]
But building the image on a linux machine gives the error
[code]

### Expected behavior

![oSnLHMxDUh](https://user-images.githubusercontent.com/92301646/143409949-4cce4cf6-31ed-432b-8d36-e3dd58

[2021-11-25 10:48] juzhiyuan commented on #2222
ya, it's due to the network issue or API responses too late :) anyway, if UX could handle this case, you will know exactly what happened.

[2021-11-25 11:20] GhangZh commented on #2223
I still have this problem with this dockerfile

[2021-11-25 17:09] zaunist commented on #2223
Hi, @GhangZh , It is recommended to use make build to compile apisix-dashboard. `make build` will build backend and frontend to manager-api in `output` directory
[code]

[2021-11-26 03:24] GhangZh commented on #2223
Hi @zaunist I still get the same error after use this dockerfile, can apisix provide the centos image of dashbaord, I have built the ingress-controller myself successful, but the dashboard has been unsuccessful, thanks.

[2021-11-26 05:04] zaunist commented on #2223
I will check the dockerfile later, and then give you advice.

[2021-11-26 06:30] GhangZh commented on #2223
Thanks,please check this Dockerfile
[code]

[2021-11-28 04:52] zaunist commented on #2223
Hi, @GhangZh . I build dashboard with follow Dockerfile success.
You can start up etcd locally, and replace etcd endpoint, then run the
[code]
[code]

![image](https://user-images.githubusercontent.com/38528079/143730053-f03aa69f-0eb3-4023-a1eb-3463143d75cb.png)

![image](https://user-images.githubusercontent.com/38528079/143730060-769a39db-e089-4bfc-a5bf-a6083825e263.png)

[2021-11-28 10:05] #1554 closed

[2021-11-28 17:35] #2220 closed

[2021-11-28 22:42] #2211 closed

[2021-11-29 14:24] bzp2010 opened #2227 "bug: migrate E2E test in CI fails randomly"
### Issue description

In our current backend CI tests, the migrate case frequently fails randomly. You can see a demo on [here](https://github.com/apache/apisix-dashboard/runs/4352169437?check_suite_focus=true#step:12:64).

### Expected behavior

Provide a stable test cases.

### How to Reproduce

When we submit a PR, sometimes the migrate case will have an ensuing error.

### Screenshots

![imag

[2021-11-30 01:50] #2227 closed

[2021-11-30 12:34] adoal commented on #2219
I don't think `proxy-rewrite` helps, since it only strips the prefix then sends to the backend server, but we also need some mechanism to tell the backend so it will 'know' it should generate anchor URLs under some prefix. Just like `SCRIPT_NAME` and `PATH_INFO` in traditional CGI spec.

[2021-11-30 12:41] tzssangglass commented on #2219
APISIX does not modify the url by default.

[2021-11-30 16:51] bzp2010 commented on #2219
Hi, @ltt1987.

I think the problem is that the compilation product of our dashboard project currently uses absolute paths to load resources, so you need to recompile if you want to proxy dashboard in a subdirectory. These are not directly supported by either the Manager API or the `proxy-rewrite` plugin in APISIX.

Of course, we can take some measures to improve it, if you are willing to try.

Her

[2021-12-01 00:56] juzhiyuan commented on #2219
see https://pro.ant.design/zh-CN/config/config#publicpath

[2021-12-01 01:52] zaunist commented on #2196
Hi, @hozaifaaoud, I checked this situation and reproduce this issue. It's occurred because APISIX support consumer name start with number, but APISIX-Dashboard does't support. Does the APISIX-Dashboard need to support consumer that start with number ?

@juzhiyuan @nic-chen @starsz  Any suggestions?

![image](https://user-images.githubusercontent.com/38528079/144156333-85fb38a3-8d05-4d42-a3e6-89508

[2021-12-01 07:09] nic-chen commented on #2196
we should keep the same with APISIX.

[2021-12-01 08:17] juzhiyuan commented on #2196
@zaunist Please see https://github.com/apache/apisix/blob/master/apisix/schema_def.lua#L693 , may need to keep the regex the same as apisix.

[2021-12-01 08:24] zaunist commented on #2196
Fine，I am glad to make contribution for this issue.

[2021-12-03 05:19] #2196 closed

[2021-12-03 15:17] mangoGoForward commented on #1595
I'd like to work on this issue, pls assign to me.
/assign

[2021-12-04 09:56] #1884 closed

[2021-12-08 03:04] juzhiyuan commented on #2223
Hi @GhangZh, may I know if this issue gets resolved?

[2021-12-08 03:16] juzhiyuan commented on #1595
Hi @mangoGoForward, you could do it if no PR linked to this issue 😄 If I'm late to reply you, just @ me.

[2021-12-08 03:17] juzhiyuan commented on #1595
Oh btw, we have a meeting today, welcome to join in if you have time 😄 see https://github.com/apache/apisix/discussions/5721

[2021-12-08 07:12] GhangZh commented on #2223
Yes, thank you both for your help @juzhiyuan @zaunist , then I'll turn off this issue

[2021-12-08 07:12] #2223 closed

[2021-12-08 10:07] #2138 closed

[2021-12-09 00:08] juzhiyuan commented on #2223
sure

[2021-12-09 02:49] kevinw66 commented on #2194
I suggest we can use environment variable APISIX_PROFILE just like apisix do
https://apisix.apache.org/docs/apisix/profile/

[2021-12-10 00:55] ltt1987 commented on #2219
Got it! Thanks!

[2021-12-10 00:55] #2219 closed

[2021-12-10 10:05] #2140 closed

[2021-12-10 10:05] #2141 closed

[2021-12-13 04:01] bzp2010 commented on #2146
It should work fine on the current latest version. So I will close this issue.

[2021-12-13 04:01] #2146 closed

[2021-12-14 01:50] zaunist commented on #2096
Hi, @liuxiran. I notice the Dashboard schema json already have limit conn and ip restriction. Are we already supported ?

[2021-12-14 03:15] juzhiyuan commented on #2096
Hi @zaunist, for now, we need to support Stream Route CRUD in manager-api & web first, and then we could support Stream Plugin 😄

[2021-12-14 10:10] #2150 closed

[2021-12-14 10:10] #2159 closed

[2021-12-14 11:31] juzhiyuan commented on #2203
Hi @guoqqqi, could you please check which dependencies' are different from the Upstream repo? I mean ant-design-pro.

[2021-12-14 12:30] jusm opened #2244 "request help: dashboard 不能访问 tcp6 0 0 :::9000 :::* LISTEN 32009/./manager-api"
### Issue description

tcp6       0      0 :::9000                 :::*                    LISTEN      32009/./manager-api

### Environment

- apisix version (cmd: `apisix version`): 2.10
- OS (cmd: `uname -a`):   linux centos7
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-i

[2021-12-14 12:38] jusm opened #2243 "cannot access manager-api (IP:9000) if we don't listen on IPv4"
### Issue description

tcp6       0      0 :::9000                 :::*                    LISTEN      32009/./manager-api

### Expected behavior

tcp6       0      0 :::9000                 :::*                    LISTEN      32009/./manager-api

### How to Reproduce

![image](https://user-images.githubusercontent.com/22410288/145999802-47f03bad-9fe4-452e-bf82-38fe19fdc982.png)

### Screenshots

[2021-12-15 03:05] zaunist commented on #2243
Hi, @jusm , how do you build manager-api ? Could you give me more info ?

[2021-12-15 03:08] zaunist commented on #2105
Hi, community. My understanding, is this proposal to convert the manager-api into an adminapi?

[2021-12-15 03:43] juzhiyuan commented on #2105
Yes, will continue this proposal in V3.

[2021-12-15 03:49] jie123108 opened #2245 "The `禁用` button on the plugin list page has ambiguity issues"
### Issue description

I recently used the `apisix-dashboard` in my project, on the plugins list page, for a plugin that had been enabled.
It may not be appropriate to call it `禁用` here, right?   It would be more appropriate to name it "编辑”.

`禁用` gives the impression that when you click it, the plugin will be disabled. But in fact it is edited (including the disable function)

For those who are f

[2021-12-15 04:00] juzhiyuan commented on #2245
Discussion could be found here. https://lists.apache.org/thread/z91bmlvstrj6hs8cmz0496tmd1orjmxc

[2021-12-15 07:40] nimohunter opened #2246 "[openapi upload error] kin-openapi lastest version is 0.86.0, and our go.mod version is 0.32.0"
# Feature request

## Please describe your feature

OpenAPI upload openAPI yaml return error about ref error .

## Describe the solution you'd like

i'd like to solve it with MR by update kin-openapi version to lastest and this can solve the problem.

[2021-12-15 08:48] zaunist commented on #2245
Hi, @juzhiyuan . Maybe I can contribute to this issue.

[2021-12-15 08:51] nimohunter commented on #2246
and i find this import file must use the file which is export before, it can not import swagger json generate by [swaggo](https://github.com/swaggo/swag)

and the  reason is swagger json generate by swaggo path doesn't have operationId, so can i move the  swagger json path summary as operationId?

[2021-12-15 09:52] juzhiyuan commented on #2245
😄 Then you could submit your PRs, welcome!

[2021-12-16 07:48] zaunist commented on #2095
Hi, @namangirdhar16 .Did you have any difficulties?

[2021-12-16 08:16] juzhiyuan commented on #2246
Actually, I'm not very sure about this, may need @nic-chen's help to have a check.

[2021-12-16 08:18] juzhiyuan commented on #2095
@zaunist could you help to check this?

[2021-12-16 08:30] zaunist commented on #2095
A great pleasure

[2021-12-16 11:03] nimohunter commented on #2246
thanks! and if we move swagger path summary as operationid, then we can import the swagger json generate by swaggo.
Of course that we may miss some route's parameter.

[2021-12-16 11:53] juzhiyuan commented on #2246
And we could make sure all parameters that Apache APISIX needs are kept? 😄

[2021-12-16 22:40] nic-chen commented on #2246
LGTM

[2021-12-17 03:14] #2245 closed

[2021-12-17 03:55] 532810439 opened #2252 "When will GM SSL be supported"
### Issue description

GM/T 0024-2014 SSL VPN specification

### Expected behavior

GM SSL be supported

### How to Reproduce

2.8

### Screenshots

apisix dashboard release

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `etcd --version`):
- apisix-dashboard versi

[2021-12-17 07:14] zaunist commented on #2252
Hi, @532810439 Could you please provide more info ?

[2021-12-17 08:07] zaunist commented on #2095
I checked [redirect plugin](https://apisix.apache.org/docs/apisix/plugins/redirect/), `Only one of http_to_https, uri or regex_uri can be specified.`, but `append_query_string` not one of them. So `append_query_string` maybe a separate button or option menu, because `append_query_string` can coexist with `http_to_https, uri, regex_uri`. Is it right ?

[2021-12-17 09:20] juzhiyuan commented on #2095
Yes, both append_query_string & encode_uri are two seprate buttons, we could use Switch component to handle this.

[2021-12-17 09:24] chanjet1213 opened #2255 "request help: dashboard认证登录"
### Issue description

dashboard何时支持认证登录？比如支持openLDAP。

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, if the issue

[2021-12-17 10:05] #1919 closed

[2021-12-19 11:48] Carson-T opened #2256 "docs: invalid URL when clone repo"
### Issue description

wrong command

### Expected behavior

The install.md file has a wrong command

git clone -b release/2.10.0 https://github.com/apache/apisix-dashboard.git && cd apisix-dashboard

there is no branch release/2.10.0

### How to Reproduce

What I found in this repository is release/2.10

### Screenshots

_No response_

### Environment

_No response_

### Additional context

_No r

[2021-12-19 13:08] zaunist commented on #2256
Hi, @Carson-T . I have submitted a PR to  fix this issue, please wait for merge to release branch.

[2021-12-19 13:34] bzp2010 commented on #2217
If you want to set up a route for handling unmatched requests, set up a low-priority route that does not contain request information matches, for which you can perform custom actions using the plugin.

[2021-12-19 13:35] bzp2010 commented on #2217
I will close this issue temporarily, but you can always open it again if you need to.

[2021-12-19 13:35] #2217 closed

[2021-12-19 15:18] juzhiyuan commented on #2256
Hi @Carson-T, @zaunist has fixed the issue by https://github.com/apache/apisix-dashboard/pull/2257/files

[2021-12-19 15:18] #2256 closed

[2021-12-19 15:28] Carson-T commented on #2256
Thank you!!! @zaunist @juzhiyuan

[2021-12-21 15:57] zaunist commented on #2092
Hi, @liuxiran . IMO, we just remove the tips ?

[2021-12-22 03:14] Wauux opened #2259 "How to add Read-only user in Dashboard?"
# Feature request
apisix-dashboard如何增加只读用户？

需要增加只读用户给别人查看路由等信息，但不可修改，这个应该如何操作？

[2021-12-22 07:02] zaunist commented on #2259
Currently，we not implement RBAC, so it is not supported.

[2021-12-23 07:13] nimohunter commented on #2246
I found the swagger.yaml generated from swaggo miss some parameters. for example, swagger file doesn't contain the upstream info. I have no ideal about this critical info missing.

maybe our dashboard can not support the swagger json which is generated. sad. :(

[2021-12-23 07:35] juzhiyuan commented on #2246
Hi @nimohunter, could we schedule a meeting if possible? My WeChat is **JuShaoyao**

[2021-12-23 08:57] vickychen2022 opened #2262 "Apisix dashboard service's health check does not take effect"
### Issue description

I create a service in dashboard, and enable the health check, but it does not take effect. But If I enable health check in an upstream , the health check in upstream is ok.  My question is why health check in upstream is ok while service not ok ?

### Expected behavior

The health check enabled in service should work, but it does not .

### How to Reproduce

1. Create a get

[2021-12-24 01:41] juzhiyuan commented on #2262
cc @Baoyuantop to have a check, thanks!

[2021-12-24 02:54] nimohunter commented on #2246
oh,

sorry about my fault, this problem can be solved by select a service.  we can select one service when import the swagger file.

[2021-12-24 03:06] juzhiyuan commented on #2246
🥰🥰

[2021-12-24 03:47] lemonrains opened #2264 "Docker Hub have not push the latest version yet"
# Feature request

Docker Hub have not push the latest version yet .

## Describe the solution you'd like

Recent version 2.10 and 2.10.1 was not push to the docker hub.
https://hub.docker.com/r/apache/apisix-dashboard/tags

[2021-12-25 06:18] zaunist commented on #2264
cc @bzp2010 @juzhiyuan

[2021-12-25 09:43] juzhiyuan commented on #2264
**Update**

The Docker image is building and will be published soon.

[2021-12-25 10:02] juzhiyuan commented on #2264
![image](https://user-images.githubusercontent.com/2106987/147382696-3dabf661-daf4-4e3f-8959-c7e56d06d486.png)

Done, see https://hub.docker.com/r/apache/apisix-dashboard/tags

[2021-12-25 10:02] #2264 closed

[2021-12-25 13:04] lemonrains commented on #2264
@juzhiyuan Thanks for the quick response

[2021-12-25 17:14] zaunist opened #2265 "setup.sh not support grpc_server_example"
### Issue description

I have execute `/apisix-dashboard/api/test/docker/setup.sh`, then get an error

![image](https://user-images.githubusercontent.com/38528079/147390006-d9998fed-ba4b-46be-b94b-fbe71d66a0f2.png)

So we need to add grpc_server_example to this shell script, and I'm glad to fix it.

### Expected behavior

will execute setup.sh normally.

### How to Reproduce

1. clone the dashboar

[2021-12-26 12:31] juzhiyuan commented on #2264
You're welcome :)

[2021-12-27 03:39] juzhiyuan commented on #2265
Hi @bzp2010 @nic-chen, could you please have a check on this? do we need that Docker Shell?

[2021-12-27 09:52] waringid opened #2266 "WebSocket 频繁自动刷新导致页面无法正常"
### Issue description

需求：访问 nas.test.lan 自动跳转到 192.168.113.11 页面（登录页面）
kong+konga 环境配置显示正常。konga 界面中没有针对 WebSocket 的设置选项，按普通方式配置后可以通过域名正常访问
问题：通过 Dashboard 新建 路由并启用 WebSocket 功能，代理后的页面无法正常登录（能显示，会自动重复刷新页面）

### Expected behavior

1、nas.test.lan 和 192.168.113.11 打开的页面一致
2、上游服务器的超时设置中增加验证机制，如果URL返回是200则默认不自动刷新

### How to Reproduce

1、新建路由，启用“WebSocket”，主机名：nas.test.lan （不启用 WebSocket 页面无法显示）
2、上游服

[2021-12-27 09:56] #2092 closed

[2021-12-28 06:57] zaunist commented on #2266
Hi, @waringid . The proxy webpage entry should not be enabled with websocket, as it cannot be accessed without enabling websocket, can you provide more information?

[2021-12-28 09:41] Baoyuantop commented on #2262
Hi @vickychen2022, thank you for reporting the bug! I would like to confirm if you have used the [Admin API](https://apisix.apache.org/docs/apisix/admin-api/) to create resources, and if you use the Admin API to create these resources would you have the same problem?

[2021-12-28 15:29] vickychen2022 commented on #2262
Hi @Baoyuantop , sorry for late reply!  I haven't used admin api to create resources, I created the upstream and service by dashboard. Actually the bug is easy to reproduce: select "custom" in Select upstream and select “node" in upstream type, the health check configuration controls will be enabled to edit, and choose to turn on active health check, and you will find the issue occur. i haven't tr

[2021-12-29 02:10] foreveryang321 opened #2268 "Configure response-rewrite using Apisix Dashboard does not take effect."
### Issue description

Configure `response-rewrite` using `Apisix Dashboard` does not take effect.

### Expected behavior

the response header is `Server: xx/x`, not `Server: APISIX/2.11.0`

[code]

### How to Reproduce

ignore

### Screenshots

- Routing Mode
![image](https://user-images.githubusercontent.com/5868190/147620128-82a64bb7-1003-4722-96e9-2230ae6271b0.png)

- Global Mode

![image](htt

[2021-12-29 02:14] Baoyuantop commented on #2262
OK, I'll try to reproduce it locally and look forward to your results after using the Admin API.

[2021-12-29 02:30] juzhiyuan commented on #2268
cc @Baoyuantop to have a check 🙈

[2021-12-29 02:37] mangoGoForward commented on #1595
So regretful missing the meeting, I was delayed by other things.

[2021-12-29 02:57] zaunist commented on #2268
Hi, @foreveryang321. If you want rewrite `header`, you need configure `response-rewrite` like this:
[code]
I can give you a example configuration:
[code]
![image](https://user-images.githubusercontent.com/38528079/147623172-1d548d96-3a7d-459b-9601-745101180262.png)

test response header:
![image](https://user-images.githubusercontent.com/38528079/147623213-1779bc82-0325-4227-9537-addbd458ca83.png)

[2021-12-29 03:07] foreveryang321 commented on #2268
thx!

[2021-12-29 03:07] #2268 closed

[2021-12-29 03:14] waringid commented on #2266
1、Route config：
{
  "uri": "/*",
  "name": "route-nas-test",
  "methods": [
    "GET",
    "POST",
    "PUT",
    "DELETE",
    "PATCH",
    "HEAD",
    "OPTIONS",
    "CONNECT",
    "TRACE"
  ],
  "host": "nas.test.lan",
  "plugins": {
    "redirect": {
      "http_to_https": true
    }
  },
  "upstream": {
    "nodes": [
      {
        "host": "192.168.113.13",
        "port": 80,
        "weig

[2021-12-29 03:27] zaunist commented on #2266
It looks like the websocket connect is failed. cc @bzp2010 , do you have time to look at this issue ?

[2021-12-29 04:10] juzhiyuan commented on #1595
Oh it doesn't matter, today we have the meeting at 20:00 PM, see https://docs.qq.com/doc/DTkd3a2RraXBCaklm (Chinese Version)

[2021-12-29 08:03] zaunist commented on #1449
Hi, @juzhiyuan . I found `grpc-transcode` plugin have implement in dashboard.

![image](https://user-images.githubusercontent.com/38528079/147640320-256f73d7-5303-4088-87f3-43c41311de95.png)

[2021-12-29 08:09] juzhiyuan commented on #1449
According to https://apisix.apache.org/docs/apisix/plugins/grpc-transcode/ , we need to use `PUT /apisix/admin/proto/1` as well 🤔

[2021-12-29 08:24] zaunist commented on #1449
I see.. There is still some front-end work left, the back-end already supports proto. The frontend needs to create the proto first, and then enable the grpc plugin.

[2021-12-29 08:43] juzhiyuan commented on #1449
Yes, corretly.

[2021-12-30 10:44] Gallardot opened #2274 "request help: does dashboard support plugin_metadata?"
### Issue description

Plugin interceptors provide excellent protection for plugin apis such as jwt-auth, node-status, and prometheus, but `plugin_metadata` is not supported on dashboards.

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/

[2021-12-30 13:37] nic-chen opened #2275 "doc: How to quickly fix CVE-2021-45232 in the old versions of APISIX Dashboard"
# Background

For CVE-2021-45232, we released a repair version 2.10.1 for the 2.10 version.
Maybe some users do not want to upgrade from the old version.
So we provide corresponding repair instructions for the repair of the old versions.

# Steps

## 1. Download the source code of the corresponding version

Clone the source code to the local and checkout to the branch of the corresponding version.

[2021-12-31 02:09] zaunist commented on #2274
Hi, @Gallardot . Ref  https://github.com/apache/apisix-dashboard/pull/2267

[2022-01-01 08:39] #2192 closed

[2022-01-01 16:41] zaunist commented on #2265
Maybe fix by https://github.com/apache/apisix-dashboard/pull/2204

[2022-01-03 09:06] juzhiyuan commented on #2266
Hi @waringid, I'm not clear on this issue 👀 Could you please add my WeChat **JuShaoyao** and I'd like to ask help from other users.

[2022-01-04 01:26] #2186 closed

[2022-01-04 03:36] Gallardot commented on #2274
Good job, I will keep an eye on these related issues. I will close this issue first

[2022-01-04 03:37] #2274 closed

[2022-01-04 21:54] iSuperCoder opened #2279 "I have created a new consumer by AdminAPI, but it is not visible in consumers list."
### Issue description

Not only CREATE，when I have deleted a consumer, it always exists in consumers list.

Wheather it's AdminAPI or Dashboard, both operation methods have the same problem.

After restarting APISIX Dashboard，consumers list page is correct.

In fact , the created consumer can be used by apisix normally, maybe it's just problem of dashboard.

### Expected behavior

1、create consume

[2022-01-05 01:08] waringid commented on #2266
ok，added

[2022-01-05 01:27] zaunist commented on #2279
@iSuperCoder Thanks for your report, we will check it latter.

[2022-01-05 08:55] LYignore opened #2280 "MAC m1 build image cannot run on the server"
### Issue description

When I use the m1CPU of the mac to build the image can not run on the Linux server. In most cases, the compiled services are run on the Linux amd64 bit server, but more challenges make us need to be compatible with more platforms. It is recommended to use buildx to build a mirroring service compatible with linux/arm64 platform and linux/amd64 platform

### Expected behavior

[2022-01-05 09:00] zaunist commented on #2280
Hi, @LYignore. Ref https://github.com/apache/apisix-docker/issues/255

[2022-01-05 09:08] nimohunter commented on #2246
i can join about the new version dashboard, so this feature will delay to next version start develop.

[2022-01-05 09:08] #2246 closed

[2022-01-06 09:47] jwrookie opened #2281 "make api-test fail"
### Issue description

exec "make api-test" failed

### Expected behavior

succes

### How to Reproduce

in apisix-dashboard and make api-test

### Screenshots

![image](https://user-images.githubusercontent.com/41732283/148360044-d7818da5-9f2b-4421-b813-238283fc7f02.png)
![image](https://user-images.githubusercontent.com/41732283/148360623-0eb5daf0-5a4e-4b40-8dad-5d4dd254274f.png)

### Environmen

[2022-01-07 01:37] zaunist commented on #2281
Hi, @jwrookie . Could you please provide your system version? We need to know why this error occurred...

[2022-01-07 01:38] zaunist commented on #2281
And I also think os.Getwd() is better, welcome to PR.

[2022-01-07 02:05] jwrookie commented on #2281
Hi  @zaunist
os: Darwin Kernel Version 21.1.0

i am also looking for the cause of this error, welcome to discussed

[2022-01-07 02:09] zaunist commented on #2281
`Darwin Kernel Version 20.6.0`. I can't reproduce this error.

[2022-01-07 02:39] jwrookie commented on #2281
thks for you replay, in my os reproduce rate is 100%, we use os.Getwd() instead

[2022-01-08 02:08] #1595 closed

[2022-01-10 01:44] guoqqqi commented on #2189
Hi, @bzp2010 Is there a more detailed description of this function, I would like to know what needs to be done on the front end 😄

[2022-01-11 01:51] stutipatelorigo opened #2284 "APISIX DASHBOARD: how to use regex to strict match uri with both path and query params in a single request"
### Issue description

Currently, I want to achieve the single  request matching both uri path params and query params:

For example, to match this request with strict path param match:
URL: /api/users/{param1}/statements?name={param2}&dept={param3}
WHERE:
{param1} is uri path param AND {param2} {param3} are query params

I am trying this on apisix dashboard. Can anyone guide me as i am new here a

[2022-01-11 06:07] bzp2010 commented on #2280
@zaunist I noticed that @LYignore's question is about dashboard builds, and we currently have multi-architecture support for all release images in the latest version, including centos amd64/arm64 and alpine amd64/arm64. The issue you pointed out is not relevant, the issue there is a single-architecture build of `apisix-base`.

[2022-01-11 06:09] bzp2010 commented on #2280
@LYignore Dockerfile currently supports multiple architectures, and we also provide a pre-compiled image of `APISIX Dashboard 2.10.1`. You can use the latest build scripts in `apache/apisix-docker` and support building previous versions of dashboar simply by modifying the dashboard source version.

[2022-01-11 06:17] bzp2010 commented on #2189
@guoqqqi What needs to be done here is no different from supporting other resources, providing pages for listing, creating, changing, and deleting. It's like supporting `route` or `consumer`.

[2022-01-11 06:46] zaunist commented on #2279
Hi, @iSuperCoder. Could you please give your dashboard version and apisix version?
I can't reproduce your problem in my machine.

[2022-01-12 01:33] zaunist commented on #2284
@bzp2010 Please take a look, I'm not sure about the answer to this issue.

[2022-01-12 01:34] zaunist commented on #2265
Have supported.

[2022-01-12 01:34] #2265 closed

[2022-01-12 01:53] bzp2010 commented on #2284
We don't have any formal way to do this work, even APISIX can't support it. But here we can do this indirectly using some methods.

Firstly, using this function.
![image](https://user-images.githubusercontent.com/8078418/149049496-145566b9-051c-4fe5-8d9a-1c7de928a041.png)

Config the uri match (the var `uri` is the pure URI and the `request_uri` will include query params `?xxx=xxx`)
![image](https

[2022-01-12 08:01] #2281 closed

[2022-01-13 10:11] CP3cham commented on #2222
Could you give  concrete steps.I can't reproduce.Actually,the logic of the code is:after deleting successfully,the page will reload automatically.Maybe the problem caused by Internet?

[2022-01-13 13:50] juzhiyuan commented on #2222
@CP3cham You could have a try by using Lower network mode 😄 @gy09535 means if Client's network is slow, and click multiple times, then this error happened.

[2022-01-17 01:25] mangoGoForward commented on #733
I'd like work on this issue.

[2022-01-17 01:38] juzhiyuan commented on #733
Assign to you :)

[2022-01-17 06:49] mangoGoForward commented on #733
I'm sorry, I have no more time to work on this issue, if others want to try, please assign to yourself.

[2022-01-18 01:53] valleyFrost opened #2285 "request help: dashboards are not refreshed after the update is successful"
### Issue description

The dashboard version is apisix-dashboard-2.10.1-0.el7.x86_64. RPM.
To upgrade from 2.9 to 2.10, perform the following steps
[code]
Some dashboards are not refreshed after the update is successful and take effect after being restarted. However, the refresh failure occurs again after a period of time, and the dashboard takes effect after being restarted.

### Environment

- a

[2022-01-18 02:04] juzhiyuan commented on #2285
Hi @valleyFrost, may I know what's "are not refreshed"? You mean the Dashboard UI is the same as previous version? If it's, please open you Browser and clear cache, or use `Shift + Command + R` to force refresh, I'm not sure if you encounter Cache issue.

[2022-01-18 02:22] valleyFrost commented on #2285
不好意思，没描述清除。不是页面缓存，清除试过了。当我通过dashboard进行页面操作以后，页面显示操作成功，例如新增路由或上游服务。我能正常使用新增的路由或上游服务，apisix上配置接口可以调通。但是有的时候dashboard再更新升级后刷新不出来新增的路由或上游服务，只显示以前的数据，其实新增的路由可以配置接口使用并收到成功响应&nbsp;。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/apisix-dashboard"

[2022-01-18 03:23] juzhiyuan commented on #2285
🤔 cc @nic-chen to have a look, thanks!

[2022-01-18 05:06] SkyeYoung commented on #733
It seems that the design of this part has changed a lot.

I'd not know, does the part mentioned in the issue now correspond to this look?

![image](https://user-images.githubusercontent.com/48400568/149873576-df915595-ad92-4f7f-84a5-396e6ad83cce.png)

Does the description of this issue need some updates? And is it still a feature requirement?

[2022-01-18 05:33] liangliang4ward opened #2286 "/debug/pprof/ this api un auth"
### Issue description

/debug/pprof/  未登录的情况下可以直接访问

### Expected behavior

/debug/pprof/  未登录不能访问

### How to Reproduce

curl localhost:9000/debug/pprof/

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `etcd --version`):
- apisix-da

[2022-01-18 06:30] iSuperCoder commented on #2279
@zaunist I have provided information in issue's Environment.

[2022-01-18 06:51] zaunist commented on #2279
Thanks a lot, I will check it latter.

[2022-01-18 07:37] nic-chen commented on #2285
hi @valleyFrost
Hot update is currently not supported, and a restart is required after the update.

[2022-01-18 07:41] zaunist commented on #2286
@qq54903099 Thansk for your comment, we will check it.

[2022-01-18 13:10] juzhiyuan commented on #733
cc @zaunist

[2022-01-18 13:41] zaunist commented on #733
@SkyeYoung. You are welcome to submit PRs to contribute. But be careful, after combining the two fields on the form, you still need to split them when sending the request to the backend, because apisix upstream health check need `host` and `http_path` fields. ref [health check](https://apisix.apache.org/zh/docs/apisix/health-check#%E9%85%8D%E7%BD%AE%E7%A4%BA%E4%BE%8B%EF%BC%9A)

[2022-01-18 14:53] CP3cham commented on #2222
I will try to check and fix it

[2022-01-19 04:29] jinpy666 opened #2288 "Increase the request timeout time"
Because I work at home and use VPN to work, the network latency is large. I find that apisix-dashboard cannot work well and will be interrupted about 10s. Shall consider increasing the timeout?

[2022-01-19 05:08] jwrookie commented on #2286
ref : https://github.com/apache/apisix-dashboard/blob/master/api/internal/filter/authentication.go#L34

path : /debug/pprof  omited the auth check,  by design?

I'd be happy to fix it if you want

[2022-01-19 08:40] zaunist commented on #2286
You are right! Welcome to pr.

[2022-01-19 11:23] kevinw66 opened #2289 "路由路径可以匹配正则吗"
比如我前面的路由都是一样的
/aaa/{id}/serviceA
/aaa/{id}/serviceB
匹配到两个不同的服务，但是请求路径中id是变化的
我看配置里匹配条件好像只有前缀匹配，想问一下能否支持正则模糊匹配呢？

[2022-01-19 13:02] jwrookie commented on #2286
can i base on cookie to fast fix it?

[2022-01-19 13:38] zaunist commented on #2286
I'm not sure what do you want to do, can you give some example ？

[2022-01-19 15:00] #2289 closed

[2022-01-20 02:03] jwrookie commented on #2286
currently, `user authentication` is done through http headers,   can not auto add the headers on a newtab for `/debug/pprof`

[2022-01-20 02:21] zaunist commented on #2286
Got it.

[2022-01-20 05:56] juzhiyuan commented on #2288
@jinpy666 Could you please provide more detailed information? I cannot get your point 😅

[2022-01-20 07:19] zaunist commented on #2286
@jwrookie . You can submit a PR to accomplish your idea, and other community member will review your code.

[2022-01-20 11:23] jwrookie commented on #2286
droplet nonsupport set cookie :disappointed_relieved:

[2022-01-20 13:25] Buttires1984 commented on #2285
So can we close this issue or shall we implement the upload feature？

[2022-01-20 13:37] zaunist commented on #2279
I'm sorry, I can't reproduce this problem. I created consumer `jack` with `curl` to apisix via terminal, the dashboard behaves normally. And I create consumer `n0ne` with dashboard, then use `curl` to get consumer list, every thing is normal. Maybe you can reference this https://github.com/apache/apisix-dashboard/issues/2285

![image](https://user-images.githubusercontent.com/38528079/150348895-05

[2022-01-20 16:25] vasvi-sood opened #2291 "request help: ./ manager-api command not working"
### Issue description

After following the steps in [basic deploy](https://apisix.apache.org/docs/dashboard/install), the launch command is not working.
This is the error showing up on the terminal:
`{"level":"warn","ts":"2022-01-20T21:49:30.699+0530","caller":"clientv3/retry_interceptor.go:62","msg":"retrying of unary invoker failed","target":"endpoint://client-1b55df6e-e087-4dd6-9aac-84dabf5a823

[2022-01-21 00:57] grainrain opened #2295 "request help: Invalid plugin data should have required property 'client_id' (openid-connect)"
### Issue description

apisix  installation  by docker-compose  https://github.com/apache/apisix-docker/tree/master/example
when enable openid-connect plugin , happer error
error image url : https://github.com/grainrain/issues/blob/main/Snipaste_2022-01-21_08-41-49.png
`Invalid plugin data
should have required property 'client_id'`
above operation by  apisix dashboard,  I can not find any place ca

[2022-01-21 01:15] juzhiyuan commented on #2285
I will label it as `doc` and close this :)

[2022-01-21 01:22] zaunist commented on #2291
Hi, @vasvi-sood . You need start etcd service first.

[2022-01-22 07:43] mojerro opened #2292 "support using more secure way to protect users"
当前设置的密码都是明文密码，存储在文件中，有一定的安全隐患。
同时目前登陆界面如果处于公网，没有登录尝试次数限制，有可能会被爆破

[2022-01-23 14:06] zaunist commented on #2292
Hi, @mojerro . If you have any idea, welcome to PRs.

[2022-01-24 04:25] bzp2010 commented on #2292
@mojerro

We already understand your needs. Possibly implement it in an upcoming release, and if you'd like to submit a PR to do it that would be great.

BTW, typically the dashboard will be deployed on the corporate intranet rather than opened to the public network, where it is often protected by VPNs etc. Even if the current dashboard supports the features you are pointing out now, it is not rec

[2022-01-25 02:52] jagerzhang opened #2294 "idle_timeout will be lost when set to 0 in upstream"
### Issue description

see in: https://github.com/apache/apisix/issues/6188

### Expected behavior

[code]

### How to Reproduce

1. add a upstream with keepalive_pool:
[code]
2. pull upstream with admin-api, idle_timeout was lost
3. updtea this upstream set idle_timeout =0 with admin-api, idle_timeout  exist

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`

[2022-01-25 03:47] zaunist commented on #2294
Hi, @jagerzhang. Because the filed definition https://github.com/apache/apisix-dashboard/blob/bec322aafc02ed79c9a289b66bb7a3de0446768c/api/internal/core/entity/entity.go#L159
If the filed be set a default value, the filed will be lost. This is indeed a bug, I will fix it later
@juzhiyuan Please assign to me.

[2022-01-25 08:25] mojerro commented on #2292
I'll have a try, and I belive that apisix will go better~

[2022-01-25 14:29] bzp2010 commented on #2286
Maybe we can add a configuration item that is turned off by default, I don't think the pforf API is very meaningful for dashboard. I.e., turn off this API by default and turn it on by modifying the configuration when you need to use it.

[2022-01-25 14:34] bzp2010 commented on #2288
I think the biggest problem may be the bandwidth of your VPN connection, I think 10s timeout is enough. But perhaps we maybe support user-defined timeouts in the next release, which cannot be determined at the moment.

[2022-01-25 14:36] bzp2010 commented on #2294
assigned

[2022-01-25 14:38] #2222 closed

[2022-01-25 14:43] bzp2010 commented on #648
There is still no relevant contribution and no mature discussed solution, you can participate in the planning of the V3 version currently under discussion and perhaps support it later.

DISCUSS email: [https://lists.apache.org/thread/lltjvf2bjj18og6no5lplwjry0z01pbd](https://lists.apache.org/thread/lltjvf2bjj18og6no5lplwjry0z01pbd)

[2022-01-25 17:33] zaunist commented on #2294
Thx

[2022-01-27 01:42] stutipatelorigo commented on #2284
hi @juzhiyuan , I am still not sure about this. I tried. It seems like We can declare a global uri for many matching urls but not the specific one which is vulnurable at some point.

for e.g. If i have below urls to create in apisix routes:
1. GET /users/{username}
2. GET /users/{username}/authorities
3. GET /users/{username}/tenants

[2022-01-27 02:20] bzp2010 commented on #2284
Hi, @stutipatelorigo
You can create multiple routes with different priorities for the different paths you need to match, and they will be matched in turn.

Again, no matter what optimizations are made to match regular expressions, it is a costly operation to perform and you may want to avoid performing one or more regular matches per request by other engineering means whenever possible. For exampl

[2022-01-27 02:24] xianshun163 commented on #2279
some times   I have the similar problem。It  looks  like  the connection with the etcd   have make some err, and the dashboard  can not get the newst data from the etcd.

[2022-01-27 02:33] stutipatelorigo commented on #2284
@bzp2010
thanks for your response. Currently i am facing issue with replacing the path uris. Which is "/sw/users/*" to "/users/$1".
Can you help how to do it with URI Override method ?

[2022-01-27 02:52] bzp2010 commented on #2284
@stutipatelorigo
You can use the proxy-rewrite[[1]](https://apisix.apache.org/docs/apisix/plugins/proxy-rewrite) plugin.

[2022-01-27 02:52] zaunist commented on #2279
May I ask how many routes are configured in your apisix? I have not been able to reproduce this problem. I wonder if it requires a lot of data to reproduce.

[2022-01-27 02:55] stutipatelorigo commented on #2284
hi @bzp2010 , I tried but some config is missing i guess. is there any good or proper example for this? The documentation does not actually justify properly what to include in the config

[2022-01-27 02:59] bzp2010 commented on #2284
@stutipatelorigo

You can use the `regex_uri`.

[code]

The above code is not syntax-checked, you need to pay attention to it. However, the ideas it contains are completely correct. This is the content of Nginx's rewrite directive, and you can use the experience about it to do this.

[2022-01-27 03:08] stutipatelorigo commented on #2284
@bzp2010 , I tried that as a first option before i created this help requests in first place.
or  that means i have to use request_uri as a parameter

STILL NOT WORKING
![Screenshot (23)](https://user-images.githubusercontent.com/97489149/151285080-0edb7a29-2ce7-47ea-b1e8-f9587d5dcffe.png)

[2022-01-27 03:09] nic-chen commented on #2285
Consider whether the intermediate watch etcd failed.

Please upload the error log at your convenience. @valleyFrost

[2022-01-27 07:27] bzp2010 commented on #2284
@stutipatelorigo
NoNoNo, I give the JSON writing method in the Admin API, you need to take the content in quotes and write it in the `regexp` and `template` lines respectively.

[2022-01-27 09:43] Chaunceyan opened #2297 "Route.Upstream.Retries field needs to support zero value"
### Issue description

As shown in the doc, the retries field expected zero and null value to behave differently.
But current entity definition omit zero value to empty, so this configuration does not function properly.
![image](https://user-images.githubusercontent.com/8214895/151332575-06c43693-0e75-4be9-9d84-ca373f9b516d.png)

I am raising PR for this.

### Expected behavior

Zero and Null valu

[2022-01-28 01:30] jwrookie commented on #2286
but at turn it on, the problem will reproduce

[2022-01-28 03:50] 1657486787 opened #2310 "bug: Setting rejected_msg in "limit-req" plugin does not save"
### Issue description

Setting rejected_msg in "limit-req" plugin does not save

### Environment

- apisix version (cmd: `apisix version`):2.12
- OS (cmd: `uname -a`):Linux wx-2 3.10.0-1160.el7.x86_64

### Steps to reproduce

1.Set rejected_msg in "limit-req" plugin ， eg:
{
  "rate": 1,
  "burst": 1,
  "key_type": "var",
  "key": "1",
  "rejected_code": 503,
  "nodelay": false,
  "rejected_msg":"请

[2022-01-28 08:22] inickel opened #2299 "插件相关界面添加 "已启用" 分组选项，Insert new ButtonGroup component which with `All` , `Enabled` Child items in Plugin List View."
# Feature request

- Route > Route List > Create or Configure > `STEP 3 Plugin Config`
- Service > Create Service > `Step 2 Plugin`
- Plugin > Plugin List > Enable > `Global Plugin List`

## Please describe your feature

Insert new ButtonGroup(or Tabs) component which with `All` , `Enabled` child items.

When child item is selected `Plugin List` shows the results by filter `all` or `enabled` plugi

[2022-01-28 09:19] zaunist commented on #2299
Hi, @inickel . If you have any idea, welcome to send eamil to dev-subscribe@apisix.apache.org and follow the reply to subscribe mailing list, and you can send your idea to mailing list to discuss with other community members.

[2022-02-01 09:56] anldrms opened #2301 "FR - limit-count plugin form need to add allow_degradation section."
# FR - limit-count plugin form need to add allow_degradation section.

## Apisix Dashboard Plugin Editor
![resim](https://user-images.githubusercontent.com/21142588/151945868-e9ee81db-0b3b-4ed4-a158-a80dd1882dee.png)

On the limit-count editor there's something missing on form table.

## Our problem

allow_degradation default value has false. But if we want trying to change it to true there's no o

[2022-02-05 14:11] hongbinhsu opened #2302 "api use dgrijalva / jwt-go have Access Restriction Bypass"
### Issue description

Access Restriction Bypass
Affecting [github.com/dgrijalva/jwt-goOpen this link in a new tab](https://snyk.io/vuln/golang%3Agithub.com%2Fdgrijalva%2Fjwt-go) package, versions <4.0.0-preview1

PS： https://security.snyk.io/vuln/SNYK-GOLANG-GITHUBCOMDGRIJALVAJWTGO-596515

dgrijalva / jwt-go The latest has been switched to golang-jwt/jwt；

It is recommended to use V4 with higher

[2022-02-06 05:58] juzhiyuan commented on #2301
cc @guoqqqi to have a look

[2022-02-06 06:03] juzhiyuan commented on #2299
Hi @inickel, this is a big and new feature for both Dashboard and Apache APISIX, when users upload a plugin (Lua or other languages), Dashboard should be able to send the Plugin to APISIX and reload it. Could you please send a DISCUSS to our mailing list first?

[2022-02-06 11:25] leslie-tsang commented on #2291
@juzhiyuan Considered solved. Feel free to reopen it if needed.

[2022-02-06 12:00] zaunist commented on #2302
Thanks for your contribution https://github.com/apache/apisix-dashboard/pull/2304. And we need pass the CI check before merge to master.

[2022-02-06 12:14] #2291 closed

[2022-02-06 12:16] zaunist commented on #2297
@juzhiyuan . We can close this issue after the #2298 merged.

[2022-02-06 12:17] #2297 closed

[2022-02-07 07:31] #2294 closed

[2022-02-08 01:21] #2284 closed

[2022-02-08 07:39] xianshun163 commented on #2285
I have reproduce this issue  like  this :
1、the  etcd  have 3 node
2、shutdown  the  leader node  of  the  etcd.
3、go to  the dashboard, and  make some change. then  the  change is ok,  and it is change in the etcd.
     But, the dashboard  is  still the  old value, can not get the  new  value。
     It  looks like  the  dashboard use the  local  cache。

[2022-02-08 07:45] bzp2010 commented on #2285
I will try to reproduce it again and find a solution.

[2022-02-08 12:40] hongbinhsu opened #2306 "web build in node 16 rjsf/core version to lower"
### Issue description

When used node 16 is no longer maintained and not recommended for usage due to the number of issues. Because of the V8 engine whims, feature detection in old core-js versions could cause a slowdown up to 100x even if nothing is polyfilled. Please, upgrade your dependencies to the actual version of core-js.

### Expected behavior

use node 16 build success;

Node 和node-sass的版

[2022-02-08 14:38] bzp2010 commented on #2285
### Update

I tried single-node and multi-node etcd, for node/leader, and found nothing that could cause `Watch` to fail. If the etcd is unavailable, writes to the etcd will be cached and redone when the connection is restored (this is incorrent and may result in duplicate writes, but has nothing to do with the cache not being updated)

Whether it is a single-node or multi-node etcd service, the c

[2022-02-08 15:19] hongbinhsu opened #2307 "update golang-jwt/jwt to v4"
# Feature request

## Please describe your feature

update golang-jwt/jwt to latest version （v4），upgrade version

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context or scr

[2022-02-08 16:59] zaunist commented on #2307
Hi there, @hongbinhsu why need to update jwt version ?

[2022-02-08 17:04] zaunist commented on #2306
Expect dashboard to support node 16.

[2022-02-09 01:54] Baoyuantop commented on #2306
You can refer to https://github.com/ant-design/ant-design-pro/blob/master/package.json

[2022-02-09 01:55] jwrookie commented on #2292
MFA(Multi-Factor Authentication) can help us, and also not recommended to open it to the public network

[2022-02-09 02:03] stutipatelorigo opened #2309 "How to use BASIC AUTH header inside header override or a plugin for a particular service only"
# Feature request

Suppose, I have a third party api which requires basic authentication to fetch request. But all i have is user info to pass on. Is it possible to add basic auth header directly to the service or route without linking to the plugins

[2022-02-09 02:42] hongbinhsu commented on #2307
Keep version iteration
for example support for go1.17

[2022-02-09 06:29] zaunist commented on #2309
I am afraid the answer is no, our current authentication is supported by plugins and there is no way to configure it separately.

[2022-02-09 06:45] zaunist commented on #2310
@1657486787 I checked this issue,  due to rejected_msg is not supported on the front-end form, it is not displayed, but there is already data in etcd. We should support this filed in front, @guoqqqi please take a look.
![image](https://user-images.githubusercontent.com/38528079/153136204-59c1da8a-e043-4d8f-8cc4-2057168cda29.png)

[2022-02-09 15:11] #2306 closed

[2022-02-11 06:37] oil-oil commented on #2310
Please assign it to me, I'll fix this.

[2022-02-11 08:14] tzssangglass commented on #2310
@oil-oil assigned you, have fun.

[2022-02-11 10:21] oil-oil opened #2313 "The limit-req plugin configuration page form label width is too small"
### Issue description

The limit-req plugin configuration page form label width is too small.

### Expected behavior

The limit-req plugin configuration page form label width is too small.

The expected effect should be like the limit-count configuration page.
<img width="509" alt="image" src="https://user-images.githubusercontent.com/57465570/153574159-9e3eed19-860a-42b1-9db3-1fd3bd5bf473.png">

[2022-02-12 14:47] oil-oil commented on #2313
OK,I‘ll try to fix it.

[2022-02-13 10:57] juzhiyuan commented on #2285
ping @valleyFrost @xianshun163 as a volunteer from community, my WeChat is JuShaoyao and you could add me and let's a meet to reproduce this :)

[2022-02-13 10:57] #2302 closed

[2022-02-13 11:19] juzhiyuan commented on #2309
Hi @stutipatelorigo, AFAIK, because of Apache APISIX's implementation, we will choose to use a Plugin to achieve this. Your request is more like a Project Improvement on my side 🤔 also cc @membphis @bzp2010 to have a look.

[2022-02-13 11:24] juzhiyuan commented on #2292
Hi @jwrookie, @mojerro here has one doc about V3 Planning https://docs.qq.com/doc/DTkdBcG5IT3V6VER3 you could leave comments to it 😉

[2022-02-14 01:57] valleyFrost commented on #2285
The problem I have encountered should be the situation reappearing on @xianshun163. My ETCD cluster used to have old nodes suspended and restarted. After controlling the ETCD cluster with no fewer nodes, there is no dashboard display problem, and the error log cannot be taken out before the live network. You can close this issue, thanks for your help.

------------------&nbsp;原始邮件&nbsp;-----------

[2022-02-14 10:16] CraxGrix opened #2318 "dashboard cannot be run with docker"
### Issue description

error msg ：
{"level":"warn","ts":"2022-02-14T10:01:49.911Z","caller":"clientv3/retry_interceptor.go:62","msg":"retrying of unary invoker failed","target":"endpoint://client-1fe20324-9547-438a-a9fd-578f18a8e688/host.docker.internal:2379","attempt":0,"error":"rpc error: code = DeadlineExceeded desc = latest balancer error: all SubConns are in TransientFailure, latest connectio

[2022-02-15 01:12] #2285 closed

[2022-02-15 01:25] juzhiyuan commented on #2318
cc @zaunist to have a check, thanks!

[2022-02-15 07:14] zaunist commented on #2318
Hi, @CraxGrix. Please check your docker network, I follow your description, but I can't reproduce this issue.

<img width="850" alt="image" src="https://user-images.githubusercontent.com/38528079/154010870-c322340b-ad93-45a9-8fbc-199f42945ba8.png">

conf.yaml

[code]

[2022-02-15 07:42] CraxGrix commented on #2318
Using host mode can solve this problem, thank you for your help

[2022-02-15 07:42] #2318 closed

[2022-02-15 13:13] bzp2010 commented on #2309
Hi, @stutipatelorigo. This is currently only supported through plugins, what makes you unable or unwilling to use plugins?

[2022-02-16 06:02] nfrankel opened #2319 "feat: Display ID of all objects on the dashboard"
### Feature description

The Admin API allows to create objects (Route, Upstream, etc.). You can either set the ID or let APISIX generate one for you.

The dashboard doesn't show IDs, so in the case of auto-generated IDs, you need to first query the object and find the ID before using it as a reference. It would be more user-friendly to display the ID in the dashboard as a read-only field.

[2022-02-16 06:13] oil-oil commented on #2189
please assign this issue to me, I would like to contribute this feature 😃.

[2022-02-16 08:50] oil-oil commented on #2301
Please assign it to me, I'll fix this .😃

[2022-02-16 10:22] anldrms commented on #2301
@oil-oil I'm looking forward to fix it as soon as you can possible. Thanks.

[2022-02-16 10:39] oil-oil commented on #2301
OK, It is almost finished, and the PR is expected tomorrow.🐵

[2022-02-16 12:02] anldrms commented on #2301
Awesome , thank you!

[2022-02-16 16:15] zaunist commented on #2319
The consumer does not need to display ids because it uses name as the key and does not have an ID field, ref https://apisix.apache.org/zh/docs/apisix/architecture-design/consumer

[2022-02-17 11:01] hanf2x opened #2323 "request help: Add kubernetes deployment guide for apisix-dashboard"
we have the github action of apisix on kubernetes, but there is no kubernetes deployment document of apisix-dashboard, I hope to add a helm chart or tutorial on this. @bzp2010

[2022-02-18 02:30] oil-oil opened #2325 "Update apisix-dashboard theme color"
# Feature request

At present, the theme color of apisix dashboard is ant design default blue, but the theme color of apisix is red. I think if the theme color of apisix dashboard is changed to red, it will be more integrated.

## Describe the solution you'd like
In the development environment, I tried to change the theme color of the apisix dashboard to the same red as the apisix logo, and found

[2022-02-18 02:38] leslie-tsang commented on #2325
Sorry, but I prefer the original scheme; the new color scheme makes me nervous.

[2022-02-18 03:10] oil-oil commented on #2325
Oh sorry, maybe the red I chose was too bright and it made it look more nervous .

[2022-02-18 05:54] zaunist commented on #2323
Hi, @encanto-oss . We have repo https://github.com/apache/apisix-helm-chart, could it meet your needs?

[2022-02-18 06:11] jwrookie commented on #2325
according to the operation level, only dangerous operations should be set to red

[2022-02-19 03:00] kevinw66 opened #2329 "导入OpenAPI会切分多个URI路径"
### Issue description

同一个路由若有多个路径信息，导出后再导入会生成多个路由

### Expected behavior

只生成一个路由

### How to Reproduce

导出前
![导出截图](https://user-images.githubusercontent.com/31196226/154783520-949a272e-dbd8-47a1-bd59-ab1a238e785c.jpg)

导入后
![导入截图](https://user-images.githubusercontent.com/31196226/154783528-ca5b0835-636e-4031-b4c5-95577cd85f42.jpg)

### Screenshots

_No response_

### Environment

- apisix vers

[2022-02-21 01:53] kevinw66 commented on #2329
在导入后，对任何一个路由的修改都会报名字重复的错误。只能删掉多余的，只剩下一个的情况下修改

[2022-02-21 02:47] jwrookie commented on #2329
Import and export via `ID`, keeping the same state before export and after import, this problem will not occur

[2022-02-21 03:15] jwrookie commented on #1953
assign to me, i will finish it

[2022-02-21 14:10] Si-ege commented on #733
I want to try and finish it

[2022-02-22 02:24] jwrookie opened #2335 "bug: enable limit-count can not set redis info"
### Issue description

enable limit-count can not set redis info, but redis info is required

### Expected behavior

can set redis info

### How to Reproduce

1. create route
2. enable limit-count

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`):2.12.0
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version,

[2022-02-22 02:27] #2335 closed

[2022-02-22 02:49] oil-oil commented on #2167
Please assign me and I will implement this function.😃

[2022-02-22 03:32] starsz commented on #2167
Nice!

[2022-02-22 05:24] guoqqqi commented on #1992
This issue can now be closed as it has been resolved cc @juzhiyuan @bzp2010

[2022-02-22 05:25] #1992 closed

[2022-02-23 01:47] juzhiyuan commented on #733
Hi @Si-ege, if there has no PRs link to this issue, you could start directly :)

[2022-02-23 01:53] #2301 closed

[2022-02-23 06:24] #2325 closed

[2022-02-23 07:40] #2313 closed

[2022-02-24 01:12] #2319 closed

[2022-02-24 01:30] zaunist commented on #2286
Hi, community. IMO, since this interface is very rarely used, I suggest removing pprof and adding one manually for debugging if needed in development.

[2022-02-24 01:31] zaunist commented on #2286
And I'm glad to contribute this issue.

[2022-02-24 01:57] jwrookie commented on #2286
If it is not connected to `prometheus` or other similar tools, I recommend using it for continuous monitoring and analysis

[2022-02-24 02:01] liangliang4ward opened #2338 "when upstream pass_host="node" only support one node"
### Issue description

![image](https://user-images.githubusercontent.com/3895272/155442941-dfdd06fc-9c57-426e-9b62-e7e46720d2f0.png)

but use apisix admin api is ok
[code]

### Expected behavior

through dashboard can add upstream multi node when pass_host=node

### How to Reproduce

...

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`): 2.12.1
- OS (cmd:

[2022-02-24 03:44] zaunist commented on #2338
Hi, @liangliang4ward. Please ref here https://github.com/apache/apisix/blob/abc20bb38ec663186ef225dc1b50f9cfaf15c21c/apisix/upstream.lua#L424 , dashboard just follow APISIX rules.

[2022-02-24 05:37] liangliang4ward commented on #2338
yes，but apisix not only check nodes!=1，also has other conditions
[code]

[2022-02-24 05:38] liangliang4ward commented on #2338
when `balancer.recreate_request ==true `, Multiple nodes can be supported

[2022-02-24 06:03] zaunist commented on #2338
Sorry, I'm not familiar with ngx.balancer, but it does seem to be a bug here. @starsz Please take a look, thanks.

[2022-02-24 06:27] zaunist opened #2340 "Feature request: custom cors header"
# Feature request

## Please describe your feature

Currently, manager-api set `cors` in https://github.com/apache/apisix-dashboard/blob/master/api/internal/filter/cors.go, we should enhance the customization features here to facilitate user-defined configuration of the header.

## Describe the solution you'd like

Add a `Security` configuration field in `conf.yaml`, so user defined configuration

[2022-02-24 06:56] Gallardot opened #2342 "Add view button for `plugin-template/list` page"
# Feature request

## Please describe your feature

Many of the Dashboard's List pages have a View button that makes it easy to view detailed configuration information.
I suggest adding a view button on the [`plugin-template/list`](https://github.com/apache/apisix-dashboard/blob/master/web/src/pages/PluginTemplate/List.tsx) page to view the details of the plugin-template configuration.

## Describ

[2022-02-24 07:00] Baoyuantop commented on #2342
What is the difference in function and configuration buttons?

[2022-02-24 07:02] Baoyuantop commented on #2338
Hi, please provide the `apisix-dashboard` version.

[2022-02-24 07:06] Gallardot commented on #2342
@Baoyuantop

Look like this, I want to be able to open a read-only Raw data editor.
![image](https://user-images.githubusercontent.com/329265/155475136-641740a1-7fbd-44ff-b97e-9b7da38e31ed.png)

[2022-02-24 07:09] liangliang4ward commented on #2338
2.10.1

[2022-02-24 08:44] zaunist commented on #2338
The master branch has the same problem, so we need to discuss how to solve it.

[2022-02-24 09:27] Baoyuantop commented on #2342
I'm not sure is there API support fetching row data of plugin-template configuration.

[2022-02-24 10:11] #2286 closed

[2022-02-24 10:40] starsz commented on #2338
Hi @zaunist.
The error is returned here:

https://github.com/apache/apisix-dashboard/blob/88f323285f2bdbafca027da9aef357b2e3eb4008/api/internal/core/store/validate.go#L168-L170

I think we should keep the same as APISIX, APISIX can, APISIX-Dashboard should also can.

[2022-02-24 15:13] zaunist commented on #2338
😂，I want to know what is the `balancer.recreate_request ==true`, I just read openresty docs, but I still don't understand the operation of this judgment in the manager-api.

[2022-02-25 03:04] CP3cham commented on #2342
I think the configure button can  implement the function,even if it is not read-only

[2022-02-25 05:05] nic-chen commented on #2177
hi @bzp2010, could you help fix this issue? I don't have enough time currently. thanks.

[2022-02-25 05:46] Gallardot commented on #2342
@CP3cham

But the `configure button` and the `view button` have different semantic functions.
And on the current implementation the `configure button` takes several actions to view the detailed configuration in the plug-in.
The `view button` should provide a global view.

[2022-02-25 06:11] zaunist opened #2348 "feat(server_info): update gateway status"
# Feature request

## Please describe your feature

The Apache APISIX `server-info` plugin alreay update, we need update manager-api too.
Ref https://github.com/apache/apisix/pull/6202

## Describe the solution you'd like

We need remove this two filed in the dashboard form

<img width="1613" alt="image" src="https://user-images.githubusercontent.com/38528079/155663519-8b7737f3-3262-4b33-b6a8-3837

[2022-02-26 06:40] bzp2010 commented on #2323
We currently have a helm chart based installation, but there is no step by step documentation, so you can try it out if you like.

[2022-02-26 07:10] bzp2010 commented on #2177
OK, I'll check it out.

[2022-02-27 08:14] bzp2010 commented on #2177
After trying, no such case was found, and in my case, both hmac and jwt authentication were successfully triggered.

[2022-02-27 12:29] #2094 closed

[2022-02-28 01:20] #2167 closed

[2022-02-28 01:44] starsz commented on #2338
So do I. @nic-chen Can you give the answer? I see it's written by you.

[2022-02-28 04:01] nic-chen commented on #2177
OK, thanks!

[2022-02-28 04:21] nic-chen commented on #2338
see https://github.com/apache/apisix/blob/master/apisix/balancer.lua#L331-L347 would help you understand. but we cannot do this in Manager API.

[2022-02-28 15:28] Si-ege commented on #1991
I would like to complete this question

[2022-03-01 06:40] SkyeYoung commented on #2166
I browsed through https://github.com/api7/lua-resty-expr/blob/main/t/v1/not.t, looks like the "!" operator is used in combination with other operators.

Maybe a single checkbox is a better choice.

[2022-03-01 17:30] bzp2010 opened #2353 "APISIX Dashboard V3 Roadmap"
## Background

Apache APISIX has released a roadmap for version 3.0, and as a counterpart to this, I am also releasing the roadmap for the dashboard here. In the new dashboard, we will implement better compatibility with APISIX, simpler deployment methods, and will also improve issues that existed in the previous version.

### Objectives

Easier to use, better experience.

### Past problems

There

[2022-03-01 17:50] bzp2010 opened #2354 "APISIX Dashboard V3 Discuss"
Here is the discussion thread for APISIX Dashboard V3 version, you can discuss it by replying.

[2022-03-01 17:51] bzp2010 commented on #2353
Discuss thread: [https://github.com/apache/apisix-dashboard/issues/2354](https://github.com/apache/apisix-dashboard/issues/2354)

[2022-03-02 02:01] pingod opened #2355 "CRD方式导入的证书无法显示拓展证书的所有域名"
### Issue description

CRD方式导入的证书无法显示拓展证书的所有域名（但是如果直接使用dashboard上传，可以识别和展示）

### Expected behavior

导入的证书在dashboard上显示拓展证书的所有域名

### How to Reproduce

1. 创建路由
2. 创建证书
3. 创建secret
4. 创建apisixmtls
5. 查看apisix日志，查看dashboard

### Screenshots

![84bb4fb9a9214f24ef1429ad74d69ae](https://user-images.githubusercontent.com/358093/156280290-c01f104a-e150-479f-b48d-87133c49f6c1.png)
![23ac5a9cbac0058f3b73ce3

[2022-03-02 02:01] Baoyuantop commented on #2354
Very happy to see such a cool feature update! My question is the web part is currently based on `Ant Design Pro`, will this change?

[2022-03-02 02:16] LiteSun commented on #2166
@SkyeYoung hi, would you like to improve this 😊

[2022-03-02 02:17] SkyeYoung commented on #2166
@LiteSun Yes, I'd like to try.

[2022-03-02 02:29] LiteSun commented on #2166
Great! @SkyeYoung  if you have any problems, feel free to comment here. also, cc @guoqqqi  to watch this.

[2022-03-02 02:30] SkyeYoung commented on #2354
Glad to see this! Will we have new UI/UX design?

[2022-03-02 03:28] zaunist commented on #2166
Great !

[2022-03-02 03:34] zaunist commented on #2354
I think we need remove `droplet`  framework. It's not flexible, so our coding was limited a lot. example https://github.com/apache/apisix-dashboard/issues/2286#issuecomment-1017399491

[2022-03-02 11:13] hb407033 opened #2357 "consumer can`t enable openid-connect plugin"
### Issue description

when create  one consumer and enable ‘ openid-connect’ plugin ，but can`t go next step , show
“”请至少启用如下一种认证类插件： basic-auth, hmac-auth, jwt-auth, key-auth, wolf-rbac”

### Expected behavior

go next step and save result

### How to Reproduce

1. go [comsumer]
2. create and  enable [openid-connect ] plugin
3. go next

### Screenshots

![image](https://user-images.githubusercont

[2022-03-02 12:46] h2cone opened #2358 "First click on menu item does not fetch data"
### Issue description

https://user-images.githubusercontent.com/24283234/156343757-83e020e1-d74f-4b97-9643-1686f0e24cd3.mov

Always happens after re-login:

Click on Upstream/Service and the list will get stuck unless you click on another menu item first and then click again.

### Expected behavior

The first time you click on a menu item you can immediately see the table.

### How to Reproduce

[2022-03-03 01:20] jwrookie commented on #2354
1. I hope V3 can support managing multiple `apisix` nodes
2. Login add MFA checking

[2022-03-03 01:29] jwrookie commented on #1953
I don't think we need to store it in `etcd`, just make it a configuration item because it hardly be updated, and as a stateless service, we shouldn't store our own configuration to other dependent services

[2022-03-03 01:37] starsz commented on #1953
I think we can store it in the etcd. The reason is the same as [forgaoqiang](https://github.com/forgaoqiang).

@nic-chen @bzp2010 What's your idea?

[2022-03-03 01:56] spacewander commented on #2354
<html><body>

OpenAPI Import and Export Support | extension  dev | Middle
-- | -- | --

</body>
</html>

Should have a high priority?

[2022-03-03 01:58] liangliang4ward commented on #2354
Whether to consider supporting online call api ?

[2022-03-03 02:04] bzp2010 commented on #2354
Hi, @spacewander. It is a matter of understanding that Middle priority does not mean that the item is not important, just that it is a lower priority compared to the core work of transforming the Manager API. For general goals, you can focus mainly on Middle and Low priorities.

[2022-03-03 02:24] liangliang4ward commented on #2354
just test api to check  is enable .

[2022-03-03 02:32] jwrookie commented on #2358
From the video, when you click `Upstream/Service` at first  the frontend does not send a request to the backend
have a check @Baoyuantop

[2022-03-03 03:02] Baoyuantop commented on #2357
Hi @hb407033 , `Consumer` needs to work with at least one of the plugins in one of the tips, you can refer to https://apisix.apache.org/docs/apisix/architecture-design/consumer/

[2022-03-03 03:27] hb407033 commented on #2357
sorry,  but i don`t need  any plugins in one of the tips,   why can`t work with oidc-connect only? any consider in design?

[2022-03-03 03:48] Baoyuantop commented on #2358
Hi @h2cone, thanks for the report. Could you please have a try with Chrome window without traces?

[2022-03-03 04:35] Baoyuantop commented on #2357
I don't quite understand why need to use the `openid-connect` plugin with consumer, here are some articles that might help:
https://apisix.apache.org/blog/blog/2021/08/25/using-the-apache-apisix-openid-connect-plugin-for-centralized-authentication

[2022-03-03 05:55] yangvipguang opened #2360 "Cannot get latest data after ETCD recovery"
### Issue description

dashboard版本：2.10.1
ETCD版本：3.5

目前我测试了一下，如果我要备份etcd，然后删除掉个别配置（比如upsteam等），如果我要恢复之前备份的etcd数据，这个时候dashboard 不能实时更新显示恢复之前的数据，需要重启一下dashboard的服务才可以，不知道这算bug还是就预期内的。

### Expected behavior

目前我测试了一下，如果我要备份etcd，然后删除掉个别配置（比如upsteam等），如果我要恢复之前备份的etcd数据，这个时候dashboard 不能实时更新显示恢复之前的数据，需要重启一下dashboard的服务才可以，不知道这算bug还是就预期内的。

### How to Reproduce

1、备份etcd数据
2、备份后修改一些数据（比如upstream等）
3、恢复e

[2022-03-03 06:11] hb407033 commented on #2357
thanks a lot，i will try it

[2022-03-03 06:41] h2cone commented on #2358
I have tried [private browsing](https://support.google.com/chrome/answer/95464?hl=en&co=GENIE.Platform%3DDesktop) and still have the same issue.

[2022-03-03 06:52] Baoyuantop commented on #2358
OK, let me check also cc @oil-oil

[2022-03-03 06:54] oil-oil commented on #2358
OK, I'll check it.

[2022-03-03 07:11] nic-chen commented on #1953
sure. store it in the etcd is better than a local configuration

[2022-03-03 11:14] jwrookie commented on #2360
looks not a dashboard bug, the data is fetched from etcd in real time.
If you want, we can communicate by voice

[2022-03-03 12:46] juzhiyuan commented on #2329
Hello @liuxiran @bzp2010 @membphis, please take a look at this issue 🤗

[2022-03-03 15:09] membphis commented on #2329
Is it related to the definition of OPENAPI? https://spec.openapis.org/oas/v3.1.0#path-item-object

I am not sure about this. I think @liuxiran and @nic-chen should know it

[2022-03-04 01:46] Baoyuantop commented on #2360
This seems to be as expected, there is a caching layer between Dashboard and etcd.

[2022-03-04 01:59] zaunist commented on #2360
Hi, @yangvipguang. We need to discuss how to solve this problem, anyone is welcome to make suggestions!

[2022-03-04 02:36] yangvipguang commented on #2360
@zaunist  ok， I'm going to try a few times to see if I can reproduce this problem every time

[2022-03-04 04:32] nic-chen commented on #2329
hi @kevinw66

Thanks for your contribution!

We should merge based on `route.id`, not the name, because the name is not completely guaranteed to be unique.
So what needs to be done is, when exporting, need to export a custom field such as `x-apisix-route_id`, which we could merge routes according to it when importing.

[2022-03-04 04:45] jwrookie commented on #2360
you are right, we have a layer of cache

[2022-03-04 07:32] kevinw66 commented on #2329
Ok, I will modify my pull request in the next few days.

[2022-03-04 10:17] #1621 closed

[2022-03-04 13:39] nic-chen commented on #2338
Manager APIs cannot interact directly with APISIX. Maybe we could add configuration item to let users decide for themselves.

[2022-03-06 01:41] #2189 closed

[2022-03-06 17:04] bzp2010 commented on #1953
In the current implementation, storing to etcd is slightly difficult, storing in the configuration file is simpler, but we can consider implementing more storage in a later version of V3.

[2022-03-07 02:11] bzp2010 commented on #2360
What kind of backup/restore means do you use? I don't know much about etcd and am not sure that data changes in any case would trigger an Watch push.

[2022-03-07 07:22] wangkunyu123 opened #2363 "dashboard v2.10.1 The proxy-rewrite plug-in cannot be configured in routing"
### Issue description

The proxy-rewrite plug-in cannot be started in a route because it requires the host configuration in the proxy-rewrite plug-in. The plug-in configuration can be started, but it is global.
![Uploading 1646637627(1).jpg…]()

### Expected behavior

The proxy-rewrite plug-in cannot be started in a route because it requires the host configuration in the proxy-rewrite plug-in. The

[2022-03-07 07:31] jwrookie commented on #2360
According to etcd doc, `Disaster recovery` requires a restart of etcd, which means that all previous client links will be invalidated, and the old data you see is just the program's cache

As far as I know, `grpc-go` will manage failed layer 4 connections, so when `Disaster recovery` occurs, we reload the local cache and the problem will solved

[2022-03-07 09:42] zaunist commented on #2363
Hi, @wangkunyu123. Could you provide more details for reproduce?

[2022-03-07 10:19] wangkunyu123 commented on #2363
Hey buddy, the main reason is that 'proxy-rewrite' wasn't in the plugins configuration when I created the route, but it was in the plugins list, but I couldn't use 'proxy-rewrite' in the plugins list because it was global in scope and couldn't be selected, Here are my screenshots.
![1646647921(1)](https://user-images.githubusercontent.com/57695179/157012520-77b6fd02-7c2d-43eb-91d9-2c67aa4de3ba.jpg

[2022-03-07 12:07] oil-oil commented on #2358
@h2cone  Hello, Will you still have this problem now. I can't reproduce this bug in both production and development environments. Can you provide more information for us to check ?

[2022-03-08 01:53] wangkunyu123 commented on #2363
Above is my reply, please see if it is clear.

[2022-03-08 02:06] zaunist commented on #2363
Hi, @wangkunyu123. The `proxy-rewrite` is integrated into the page where the route is created.

In fact, I don't think it makes sense to integrate the plugin into this place, maybe we have to make a change in v3.

<img width="1594" alt="image" src="https://user-images.githubusercontent.com/38528079/157151615-1de22305-0d32-4b4f-99e5-3dc11d95c5cd.png">

[2022-03-08 02:12] wangkunyu123 commented on #2363
Ok, I know, because unlike the version I used before, I didn't notice this place, and if so, I don't think it makes sense

[2022-03-08 02:28] #2363 closed

[2022-03-08 03:39] jwrookie opened #2365 "bug: caller in log is positioning error"
### Issue description

caller in log is positioning error

![1646709945670](https://user-images.githubusercontent.com/41732283/157160418-b4d757a7-55d4-440b-a705-d4d315cc87b0.jpg)

### Expected behavior

caller should is internal/filter/logging.go:45

https://github.com/apache/apisix-dashboard/blob/561ed377ec2237707bb8c78623e336360c6c6463/api/internal/filter/logging.go#L44-L57

### How to Reproduce

[2022-03-08 07:41] #2357 closed

[2022-03-08 07:48] leslie-tsang commented on #2357
The uri is wrong. It should be
https://apisix.apache.org/blog/2021/08/25/using-the-apache-apisix-openid-connect-plugin-for-centralized-authentication

[2022-03-08 08:35] h2cone commented on #2358
Hi @oil-oil, here is my environment when building from source:

- v17.6.0 (node -v)
- 1.22.17 (yarn -v)
- go version go1.17.8 darwin/amd64

I switched from Chrome to Safari and can't reproduce the problem anymore.

[2022-03-08 08:51] oil-oil commented on #2358
OK, I'll test it again based on this information.

[2022-03-08 10:48] 840963657 opened #2368 "health check has an error message"
### Issue description

1、add new route；
2、enable health check and add a header parameter;
3、modify route and remove the header parameter;
4、when i submit , there is an error message displayed in the browser

### Expected behavior

add route success

### How to Reproduce

1、add new route；
2、enable health check；
3、add a header parameter ；
4、submit;
5、modify this route；
6、remove the header parameter；

[2022-03-09 01:35] starsz commented on #2365
Good capture ！

[2022-03-09 01:45] zaunist commented on #2365
Nice job !

[2022-03-09 02:14] oil-oil commented on #2129
Please assign this task to me and I will fix it.

[2022-03-09 02:56] Baoyuantop opened #2369 "Optimize demo access experience"
# Feature request

## Please describe your feature

Just a UX optimization suggestion: in the README we have the address and account information for the demo

<img width="951" alt="image" src="https://user-images.githubusercontent.com/30611190/157362917-75d7e8b4-9644-44db-9c85-0fba6d144b64.png">

Since the whole is in the same block of code, when the user clicks copy he will get the whole block of

[2022-03-09 03:21] Baoyuantop commented on #2368
Hi @840963657, thanks for your report. After examination, there is indeed this problem. Would you like to help fix this problem?

### The reason
The request headers in the health check are empty by default, and in this case, there is no `req_headers` field in the request data sent by the web to the API. However, when the user makes changes in this field, especially by removing all request headers,

[2022-03-09 04:07] Baoyuantop commented on #1449
Hi everyone, after @oil-oil nice work https://github.com/apache/apisix-dashboard/pull/2320, now we can manage the proto file on the dashboard. So you can configure proto file `id` in the `grpc-transcode` plugin. I think this problem is solved.
cc @nic-chen @hnlq715

[2022-03-09 05:39] #1449 closed

[2022-03-09 08:06] 840963657 commented on #2368
I‘m sorry,I'm not familiar with JS...’

[2022-03-09 09:29] bzp2010 commented on #2360
This seems to be automatic in the etcd client, which will handle the reconnection logic automatically. 🤔

[2022-03-09 09:50] jwrookie commented on #2360
you are right, but we can set dialOption to control the behavior of  reconnection
ref: https://pkg.go.dev/go.etcd.io/etcd/client/v3#Config,  https://pkg.go.dev/google.golang.org/grpc@v1.44.0/backoff

[2022-03-09 11:43] FesonX commented on #2354
Any plan to config Dashboard static file prefix? #2219
It's hard to proxy APISIX Dashboard with url prefix simply via APISIX

[2022-03-10 00:57] oil-oil commented on #2310
The PR related to this issue has been merged. I think this issue can be closed.

[2022-03-10 01:27] #2310 closed

[2022-03-10 01:54] #2166 closed

[2022-03-10 08:02] jwrookie opened #2372 "TODO: model checking thougth by json schema"
ref: https://github.com/apache/apisix-dashboard/pull/2362#discussion_r823227607

[2022-03-10 14:05] #1630 closed

[2022-03-11 04:08] h1z3y3 commented on #2354
Multi-Cluster Support
- supports configuration of multiple Admin API endpoints + token

Looking forward to this feature!

[2022-03-11 06:38] jwrookie commented on #2372
@nic-chen https://github.com/apache/apisix-dashboard/pull/2362#discussion_r823227607
What should we do when there is the same configuration?  use schema.json or customize.json?

Generally, customization have a higher priority, but i an not sure can overwrite the schema.json

[2022-03-11 08:23] azilentech opened #2374 "feat: keycloak plugin - Support of password grant type for token generation"
In Keycloak plugin, there can be a feature to support the "password" grant type which can generate token via Keycloak token endpoint and return it in response.

There can be configuration setting "token_generation_endpoint", which will contain URL endpoint. If incoming URL requests match with this URL, identify the user name and password from incoming request parameters and call "token_endpoint".

[2022-03-12 08:15] guoqqqi commented on #2368
@Si-ege Do you have time to help solve this problem?

[2022-03-12 08:19] Si-ege commented on #2368
I can try to complete the question

[2022-03-13 08:17] bzp2010 commented on #2354
@FesonX IMO, Front-end single page applications are difficult to dynamically modify `base path`, resource reference relationships will be recorded in JS at compile time. It needs to be rebuilt to support different base paths, perhaps we can explore simpler ways to help users re-build the dashboard.

[2022-03-13 08:19] bzp2010 commented on #2354
@h1z3y3 This project is only expected at this time and we have more higher priority issues to address. However, thank you for your support and attention.

[2022-03-14 01:39] zaunist commented on #2340
#2341 has merged, so close this issue.

[2022-03-15 09:02] liangliang4ward opened #2381 "proxy-rewrite.regex_uri need empty value to replaced"
### Issue description

at dashboard when proxy-rewrite.regex-uri can't replace empty value;but use apisix api support empty value.
![image](https://user-images.githubusercontent.com/3895272/158342820-bb339a58-bfe0-47bf-944f-f98a550de299.png)

### Expected behavior

support empty value to replaced

### How to Reproduce

use dashboard plugin-rewrite plugin

### Screenshots

_No response_

### Enviro

[2022-03-16 02:03] zaunist commented on #2381
Good catch, I think we should fix this problem.

[2022-03-16 02:35] leslie-tsang commented on #2381
@liangliang4ward would you like to fix it ?

[2022-03-16 02:38] liangliang4ward commented on #2381
ok;  assign me.

but I never download dashboard code .hhh

let me try.

[2022-03-16 07:22] kingmouse-yx opened #2383 "When creating a new consumer, the secret is lost when jwt-auth is selected"
### Issue description

When I create a consumer on the page and select jwt-auth, I can see from the console that the address to initiate the request is: `http://127.0.0.1:9000/apisix/admin/consumers`
The request message is:
[code]
The respone message is:
[code]
At this time, I click the view  button on the page, and the data displayed in it is:
[code]
There is no secret field at this time
Through

[2022-03-16 10:12] #2365 closed

[2022-03-16 13:00] bzp2010 commented on #2383
Same as https://github.com/apache/apisix-dashboard/issues/2176#issuecomment-944127485

[2022-03-17 01:40] bzp2010 opened #2384 "request help: ensure explicitly sets the secret field when using jwt-auth on consumer"
# Feature request

## Please describe your feature

**The current jwt-auth plugin configuration in APISIX has special logic. If a user uses `HS` mode but does not set a secret, APISIX will generate one and write it to etcd, but the dashboard does not have the corresponding logic.**

## Describe the solution you'd like

Before we switch to using the Admin API directly, we need some means to circumv

[2022-03-17 02:10] kingmouse-yx commented on #2384
I want to solve this issue
I want to check the values of the secret and algorithm fields when processing data at the back end.
If the secret field is empty, 32-bit characters will be randomly generated, and then base64 will be encrypted.
If the algorithm field is empty, the default value HS256 will be given.

[2022-03-17 06:12] #1953 closed

[2022-03-17 08:49] nfrankel opened #2387 "bug: i18n improvements"
### Issue description

Catch all issue to improve i18n:

- [ ] Replace Route List with Routes
- [ ] Use a shorter label for Title and Description

[2022-03-20 14:04] kingmouse-yx opened #2388 "Request help: how to set a uniform access prefix for dashboard"
I want to add a uniform prefix to the dashboard project， which can make it more convenient for me to do proxy in the production environment.
his is what I am doing now:
I modified base value and publicpath value in the config.ts.
And in the app.tsx,  I modified the prefix value in the RequestConfig.
When I restart the project, I find that it is indeed effective,
but `http://127.0.0.1:9000/dev-serv

[2022-03-21 03:45] evirts commented on #2354
Dashboard can do a version control function to prevent accidental deletion and rollback in time

[2022-03-21 07:11] kingmouse-yx commented on #2388
Think you ,I'll study

[2022-03-21 08:37] nic-chen commented on #2372
hi @jwrookie

I think it should panic and give an error message.

`schema.json` is generated by APISIX and should not be overwritten.

[2022-03-21 09:12] jwrookie commented on #2372
got it,thanks

[2022-03-22 03:23] #2329 closed

[2022-03-22 06:51] juzhiyuan commented on #2354
Hi, as a reminder: here're some historical resources. 🙏

[1] https://lists.apache.org/thread/lltjvf2bjj18og6no5lplwjry0z01pbd
[2] https://docs.qq.com/doc/DTkdBcG5IT3V6VER3

[2022-03-23 07:51] tsui66 opened #2389 "feat: apisix dashbord support 2fa"
### Description

Until now, we can only change default username and password, restrict the source IP to access the Apache APISIX Dashboard. Can we support 2FA to make this more secure?

[2022-03-23 09:18] guoqqqi commented on #2342
cc @Si-ege Can you help with this problem? We already have the relevant components in place, you can refer to the routing implementation https://github.com/apache/apisix-dashboard/blob/master/web/src/components/RawDataEditor/RawDataEditor.tsx

[2022-03-23 10:53] Si-ege commented on #2342
I think I can

[2022-03-23 15:31] mygrsun opened #2391 "does apisix-dashboard support deploy multiple node as loadbalance?"
### Issue description

I deploy two nodes.Every node has apisix-dashboard and  apisix and I use a host point to the two nodes.But the porblem is I can't login the dashboard.How can I realize dashboard loadbalance?

### Expected behavior

login success

### How to Reproduce

deploy two nodes.Every node has apisix-dashboard and  apisix
 use a host point to the two nodes

### Screenshots

_No respons

[2022-03-24 01:34] guoqqqi commented on #2391
Can you provide some more detailed steps? What version of the console do you have and which way it is running

[2022-03-24 01:45] zaunist commented on #2391
@mygrsun. It is not support to manage multiple apisix node for now. So if we have an apisix that needs a dashboard to manage.

[2022-03-24 01:48] zaunist commented on #2389
@tsui66
Hello, if you have any idea, you could discuss in this issue https://github.com/apache/apisix-dashboard/issues/2354. Or send eamil to https://lists.apache.org/thread/lltjvf2bjj18og6no5lplwjry0z01pbd

[2022-03-24 02:09] Baoyuantop commented on #2391
Hi @mygrsun, I'm wondering if the two nodes are just load balancing? If so they are configured from the same etcd, then we can use one Dashboard to manage?

[2022-03-24 02:53] kingmouse-yx opened #2392 "help request: How to use plug-in orchestration?"
### Description

I've been using plugin orchestration recently. But I have some doubts.
Can only code be used in condition judgment?
Is there any relevant documentation?

### Environment

- APISIX version (run `apisix version`): 2.9
- Operating system (run `uname -a`): arwin kingmouse.lan 21.3.0 Darwin Kernel Version 21.3.0: Wed Jan 5 21:37:58 PST 2022; root:xnu-8019.80.24~20/RELEASE_ARM64_T8101 a

[2022-03-24 03:04] nic-chen commented on #2392
hi @kingmouse-yx

you could orchestrate plugins on the dashboard.

yes. In theory, any variable can be used, but we only recommend judging by `code` for now.

[2022-03-24 03:14] kingmouse-yx commented on #2392
@nic-chen
Hi, I'd like to know if I use other variables instead of code field, will there be a bug？

[2022-03-24 03:50] shuaijinchao commented on #2392
Currently supports the use of `code` and `body`, which are the return parameters of the plugin, you can understand by the following code.

[code]

[2022-03-24 06:46] kingmouse-yx commented on #2392
Thanks，I get it

[2022-03-24 06:46] #2392 closed

[2022-03-24 10:53] Si-ege commented on #2342
<img width="1671" alt="image" src="https://user-images.githubusercontent.com/92985804/159901257-0b037871-5b33-4ea1-b066-44ade921baf6.png">

[2022-03-25 02:43] Baoyuantop commented on #2355
OK let me check.

[2022-03-25 03:40] SkyeYoung commented on #2354
Hi, I hope support mock data in frontend. This will support demons and tests without backend.

[2022-03-25 07:12] mygrsun commented on #2391
yes ,the two dashboard use zhe same etcd。In fact，I use k8s deploy the node。Every nodes has dashboard-apisix and apisix。

[2022-03-25 07:14] mygrsun commented on #2391
I use k8s deply 。So can't I deploy two pods？

[2022-03-25 07:15] mygrsun commented on #2391
I use k8s deploy,dashboard version is 2.10.1

[2022-03-25 07:23] juzhiyuan commented on #2354
After searching Mock solutions, how to mock `POST` action in pure frontend?

[2022-03-25 07:28] SkyeYoung commented on #2354
@juzhiyuan It's not a problem, even mock.js support this feature. see https://github.com/nuysoft/Mock/wiki/Mock.mock()#rtype

[2022-03-25 07:48] Baoyuantop commented on #2354
It looks like this project has been out of maintenance for a long time

[2022-03-25 07:48] Baoyuantop commented on #2354
It looks like this project has been out of maintenance for a long time

[2022-03-25 07:50] SkyeYoung commented on #2354
Yes, so I say "even". I will look for more suitable tools. :D
________________________________
发件人: Baoyuan ***@***.***>
发送时间: 2022年3月25日 15:48
收件人: apache/apisix-dashboard ***@***.***>
抄送: SkyeYoung ***@***.***>; Comment ***@***.***>
主题: Re: [apache/apisix-dashboard] APISIX Dashboard V3 Discuss (Issue #2354)

After searching Mock solutions, how to mock POST action in pure frontend?

@juzhiyuan<ht

[2022-03-25 07:54] Baoyuantop commented on #2391
If it's the same etcd, why not use one Dashboard?

[2022-03-26 03:30] alexchan10241 opened #2395 "docs: How to reset the password of apisix dashboard?"
### Current State

I forgot my account password.Then I can not get access to reset it . Need somebody help,please!!!

### Desired State

I forgot my account password.Then I can not get access to reset it . Need somebody help,please!!!

[2022-03-26 12:32] mygrsun commented on #2391
if i use only one dashboard ，how to avoid it crash。I want use two node as high reliability

[2022-03-27 03:07] jwrookie commented on #2395
https://github.com/apache/apisix-dashboard/blob/162c5d7bcdfa36d76681b2a607267bcb76185cc5/api/conf/conf.yaml#L78-L82

The account and password store in conf.yaml, you can restart  dashboard after change it if you want to change

[2022-03-28 08:04] #2395 closed

[2022-03-28 15:55] nic-chen opened #2396 "Proposal: reduce connections between Manager API and etcd"
# Background
At present, the connection between the Manager API and etcd still follows the habit of the etcd v2 version, creating a watch connection for each resource, which will generate a large number of connections.

# Purpose
Reduce connections between Manager API and etcd, to reduce the load on etcd services.

# Proposal
In the `Generic Store`, each resource still manages its own cache separa

[2022-03-29 01:21] Baoyuantop commented on #2396
LGTM

[2022-03-29 05:51] jwrookie commented on #2396
LGTM. But I think there is only one TCP connection, it just creates multiple `watch` thus creating multiple `server stream`

[2022-03-29 07:17] guoqqqi commented on #2391
cc @nic-chen PTAL ~

[2022-03-29 07:50] nic-chen commented on #2391
@mygrsun
Actually, I don't understand what your problem is.
Are your two dashboard configurations the same? If it is exactly the same, there should be no login problems.

[2022-03-29 09:04] guoqqqi opened #2397 "bug: the latest version of docker's plugin orchestration does not work properly"
### Current Behavior

 I was preparing a demo of Plugin orchestration in the Route setting. As below screenshots can see.
 Also, I have an upstream mapped to the route.  I am getting this error after submitting plugin config, updating the route and running the following cmd:

`curl -i -X GET "http://127.0.0.1:9080/anything"`

Response:
[code]
![image](https://user-images.githubusercontent.com/7234

[2022-03-31 01:49] juzhiyuan commented on #2391
On my side, @mygrsun wants to know if there has a `High availability solution`.

[2022-04-01 01:25] guoqqqi commented on #2369
Agree +1
and cc @juxianzheng Can you help finish it? 😄

[2022-04-01 01:39] SkyeYoung commented on #2369
Agree. And we can refer to https://github.com/unocss/unocss#readme.

[2022-04-01 15:53] mar-heaven opened #2405 "image version is not correct"
### Issue description

the image of managerapi is *dashboard:ci* in path **api/test/docker-deploy/docker-compose.yaml**, a middle image,need the latest release.

### Expected behavior

use latest version

### How to Reproduce

branch master

### Screenshots

_No response_

### Environment

branch master

### Additional context

_No response_

[2022-04-01 16:45] 2null opened #2407 "bug: The copy function copied the ID, resulting in duplicate ID and unable to submit"
### Current Behavior

The copy function copied the ID, resulting in duplicate ID and unable to submit
For example, if the routing is copied and the content is modified after copying, the new copy will bring the old ID synchronously and cannot be modified, resulting in abnormal replication functions

### Expected Behavior

Do not copy the ID. create a new ID when submitting

### Error Logs

![image

[2022-04-01 16:58] 2null opened #2406 "APISIX dashboard ID is missing query related issues"
### Issue description

从老版本apisix迁移过来的etcd数据，后台会报找不到相关key。这是个问题，可能是新版本数据结构变化了，关联不到老的变更数据。
另外，界面显示结果有ID，但是查询没有，很不方便

### Expected behavior

界面增加ID查询

### How to Reproduce

从低版本etcd到处apisix数据，在新版本dashborad都有类似问题

### Screenshots

![image](https://user-images.githubusercontent.com/12538906/161308633-4563ffbf-159c-4f71-86f7-f7b26babb744.png)
![image](https://user-images.githubusercontent.com/12538906/

[2022-04-02 01:44] ysk229 opened #2408 "backup configuration feature"
hello
Is there any plan to have a backup configuration feature similar to konga, and if so, how long is the plan to have it? Thanks!

[2022-04-02 06:18] xuminwlt commented on #2396
LGTM +1

[2022-04-02 08:14] jwrookie commented on #2405
It uses by workflow for some testing
https://github.com/apache/apisix-dashboard/blob/162c5d7bcdfa36d76681b2a607267bcb76185cc5/.github/workflows/deploy-with-docker.yml#L38-L77

[2022-04-02 08:19] #2405 closed

[2022-04-02 08:39] zaunist commented on #2408
Welcome to discuss your ideas in here https://github.com/apache/apisix-dashboard/issues/2354

[2022-04-02 08:39] jwrookie commented on #2406
`从老版本apisix迁移过来的etcd数据，后台会报找不到相关key。这是个问题，可能是新版本数据结构变化了，关联不到老的变更数据。`

`另外，界面显示结果有ID，但是查询没有，很不方便`

[2022-04-02 09:07] jinnyu opened #2409 "upstream config, cann't select Host header for option 'Keep the same Host from client request'"
### Issue description

Config a upstream
Upstream type : node
Hostname : somehost.com
when submit form, apisix dashboard backend will return 500.

[code]

### Expected behavior

can be normal configed.

### How to Reproduce

 Config a upstream
[code]
when submit form, apisix backend will return 500.

### Screenshots

![a6d](https://user-images.githubusercontent.com/9194137/161375960-36ba61a6-fde6-

[2022-04-05 12:30] jwrookie commented on #2409
Sorry for not reproducing the problem by following your steps.
BTW, according to your error message, the cause of the panic is a type assert error, which is a coding problem, pr is welcome

[2022-04-05 12:33] jwrookie commented on #2409
Can you give me a `curl` request?

[2022-04-06 01:19] jinnyu commented on #2409
[code]

[2022-04-06 03:02] jwrookie commented on #2409
Your description may be wrong.  When I select `Use the domain or IP from Node list`, I get this error

[2022-04-06 05:42] jinnyu commented on #2409
yeah, sorry for that...
So is this a bug?

[2022-04-07 01:57] jwrookie commented on #2409
yes, pr is welcome!

[2022-04-07 03:44] Baoyuantop opened #2412 "Popup message has a typo"
### Issue description

refer to https://github.com/apache/apisix/discussions/6773#discussioncomment-2520521

### Expected behavior

None

### How to Reproduce

None

### Screenshots

![](https://user-images.githubusercontent.com/45227339/161163840-e5aea8f1-1428-4e50-b3ee-09de05819612.png)

### Environment

_No response_

### Additional context

_No response_

[2022-04-07 05:58] jinnyu commented on #2409
I'm a java developer, and don't know how to code with go.
I will use the apisix api instead for now.
Waiting for next release.
Thanks for the amazeing work on apisix~

[2022-04-07 08:55] ysk229 opened #2413 "Adjustment menu"
Hello
Can you change the order of the dashboard menu?
Swap the order of the upstream menu with the service menu. Because the flow of apisix gateway is route->services->upstream

[2022-04-07 09:57] Baoyuantop commented on #2413
I don't think this change will help improve the user experience, let's hear more people's opinions.

[2022-04-07 10:08] #2369 closed

[2022-04-08 01:06] SkyeYoung commented on #2412
Maybe we should have a `typo` label. :D

[2022-04-08 01:08] SkyeYoung commented on #2413
Maybe we can support editing menu order in V3 🤔

[2022-04-08 09:21] kevinw66 opened #2415 "When route choose to use plugin_configs, the export/import has a bug"
### Issue description

When I add plugin_configs and add it in route, before export the route, the route data is like below
![image](https://user-images.githubusercontent.com/31196226/162406215-7469c150-bce5-4ff9-b7e4-4cf3dfd1c1fa.png)

And after I import the route, I got this data
![image](https://user-images.githubusercontent.com/31196226/162406271-4eb9627d-39e9-4fe0-9524-4daeb0f25d78.png)

BTW,

[2022-04-08 09:23] juzhiyuan commented on #2412
**How to fix**

1. Fork this project.
2. Open this project with your preferred editor, for me, it's VS Code.
3. Search codes with keywords: `Please condigure plugin`
4. Fix it and submit PR

[2022-04-08 09:25] kevinw66 commented on #2415
And I saw few methods was deleted after import

[2022-04-08 09:25] juzhiyuan commented on #2387
**How to fix**

1. Fork this project;
2. Search codes with keyword: `Route List`;
3. Replace all of them with `Routes`.
4. Note: I'm not sure if the E2E test will fail but feel free to submit PR, and our contributors will also help you on E2E.

[2022-04-08 14:59] kevinw66 commented on #2415
Suggestion:
Can we simply export data in etcd instead of openapi?
Because currently if our route bind with service or upstream, after we export/import the route, the service or upstream config will be removed and set in route directly.
When we sync config from different environment, this is not we wanted, we also want sync the service and upstream config.
But through openapi, it's complicated. And

[2022-04-09 12:57] tiankonglan commented on #2412
I have fix typo , and commit a pull request.

[2022-04-11 02:23] Baoyuantop commented on #2412
Hi @tiankonglan, this typo has been resolved in https://github.com/apache/apisix-dashboard/pull/2417. Thank you for being so helpful ~

[2022-04-11 02:23] #2412 closed

[2022-04-11 03:57] jwrookie commented on #2413
Agree +1, BTW according to APISIX [docs](https://apisix.apache.org/docs/apisix/architecture-design/service/), Service is an abstraction of route, so `route->services->upstream ` may be inaccurate @ysk229

[2022-04-12 01:26] #2372 closed

[2022-04-12 03:36] catherineruoxiwu commented on #2387
I would like to work on this issue!

[2022-04-12 08:43] lazychanger opened #2424 "How to configure DNS Discovery with Dashboard?"
### Issue description

## 基本情况
- namespace: ingress-apisix
  - apisix
  - apisix-ingress-controlls
  - apisix-admin
  - apisix-dashboard
- namespace: default
  - nginx

## 操作流程
1. 创建上游
<img width="1405" alt="image" src="https://user-images.githubusercontent.com/20916944/162917364-985ce050-972c-464b-a0df-53e567d84db4.png">
2. 创建路由 <br/>
3. 访问路由 <br/>
4. 503 Service Temporarily Unavailable
<img widt

[2022-04-13 14:50] lilien1010 opened #2426 "docs: 404 when visit deploy.md"
### Issue description

NOTE: Only CentOS 7 is supported currently, for more information, please refer to [here](https://github.com/apache/apisix-dashboard/blob/master/docs/en/latest/deploy.md).

in https://github.com/apache/apisix-dashboard/blob/master/docs/en/latest/install.md

### Expected behavior

no

### How to Reproduce

no

### Screenshots

_No response_

### Environment

- apisix version (

[2022-04-14 06:48] gymgym1212 opened #2427 "[doc] How about adding a line in the dev-doc to prompt developers to ignore the error about node-gyp?"
# Feature request

## Please describe your feature

Can we add a line under the following code to promote developers to ignore the error about node-gyp?
[code]

I am a newbie about apisix/apisix-dashboard. It took me **half a day** to consider why there was a error in the process of `yarn install`, and I found the result in [here](https://github.com/apache/apisix-dashboard/issues/702#issuecomment-

[2022-04-17 10:06] MirtoBusico opened #2429 "I'm not able to find plugin_config menu bar"
# Feature request

I've found in [#1904 ](https://github.com/apache/apisix-dashboard/issues/1904) that there should be possible to access plugin_config

But I don't understand Chinese language and I was not able to figure out where is the menu entry

I'm using Dashboard 2.10.1
<img width="1078" alt="ksnip_20220417-115119" src="https://user-images.githubusercontent.com/11090934/163709847-60e5c997-2

[2022-04-17 14:06] #1991 closed

[2022-04-18 01:31] Baoyuantop commented on #2429
<img width="1957" alt="image" src="https://user-images.githubusercontent.com/30611190/163740653-18c87cb9-7a58-4270-a106-5b553d675a27.png">
Hi @MirtoBusico, just making sure this is what you want?

[2022-04-18 01:38] juzhiyuan commented on #2426
I just checked the reason: in this commit[1], we combined `deploy.md` with `install.md` together, I think it's ok to remove the hyperlink, and update the `RPM` section with:

[code]

[1] https://github.com/apache/apisix-dashboard/commit/32183799dd7943a1b9bb3ae38fa2b682979b73b9

[2022-04-18 02:07] bzp2010 commented on #2424
Hi, @lazychanger

Please try to go inside the container to test DNS resolution or view the upstream and route configuration created by ingress via APISIX dashboard.

[2022-04-18 02:08] juzhiyuan commented on #2424
Hi @nic-chen, please have a quick look at this issue.

If it's easy to fix (e.g., configuration error), then please point out what's the correct way.
If you're not sure what happened, I will try to reproduce this.

[2022-04-18 02:28] lazychanger commented on #2424
- 通过`service`容器内部是可以的。
<img width="856" alt="image" src="https://user-images.githubusercontent.com/20916944/163744793-cd09ea40-6995-42a7-ac9e-c321f94168d4.png">

- 通过 `kubectl create -f`的方式，上游内容如下。
<img width="1045" alt="image" src="https://user-images.githubusercontent.com/20916944/163744663-50b4822b-8292-405a-93d9-0718c720a17b.png">

- 通过`service clusterIP`也是可以访问。
<img width="1230" alt="image" s

[2022-04-18 02:32] lazychanger commented on #2424
<img width="1414" alt="image" src="https://user-images.githubusercontent.com/20916944/163745206-c45f6e29-b416-4319-9738-353245ff1c11.png">
<img width="1392" alt="image" src="https://user-images.githubusercontent.com/20916944/163745237-ade8320e-5c9c-4ca7-b1a2-1cf1ac1870f9.png">
<img width="1619" alt="image" src="https://user-images.githubusercontent.com/20916944/163745265-d9b349ef-649a-460c-bb61-09

[2022-04-18 02:50] lazychanger opened #2430 "plugins list not sync with apisix plugins list api"
https://github.com/apache/apisix-dashboard/blob/0e6411f1d6818843481797f75e5cb25c00c11442/api/internal/handler/schema/plugin.go#L38-L41

https://github.com/apache/apisix-dashboard/blob/0e6411f1d6818843481797f75e5cb25c00c11442/api/internal/handler/schema/plugin.go#L47-L63

读取的是本地[`schema`](https://github.com/apache/apisix-dashboard/blob/master/api/conf/schema.json)。而不是通过`admin api`读取`apisix`配置的[`plu

[2022-04-18 02:54] tao12345666333 commented on #2424
For the APISIX Ingress controller, the ApisixRoute resource is namespace scoped. ApisixRoute resources and services should be in the same namespace.

[2022-04-18 03:06] lazychanger commented on #2424
😂，`should be` are not `must be`.

而且很容易存在跨命名空间的需求吧。`apisix`是一个`网关`，多项目共用一个`apisix`是存在可能的。

[2022-04-18 03:23] tao12345666333 commented on #2424
Note that I explicitly mentioned here the APISIX Ingress controller.

This is the specific implementation of the APISIX Ingress controller project.

But if for Apache APISIX, it doesn't care what namespace the upstream service is in.

[2022-04-18 03:48] jwrookie commented on #2430
Currently only restart `dashboard ` can solve it, i think we should provide a `sync api` to allow the user to actively refresh the local cache.

[2022-04-18 03:49] lazychanger commented on #2424
嗯嗯，我理解了您的意思了，谢谢。

可否理解为：在k8s中，`dashboard`应该只用于观察，而不用于配置。`route`、`upstream`、`plugin`等配置应当使用`apisix ingress controller` k8s api。

[2022-04-18 05:00] tao12345666333 commented on #2424
Yes. Currently in the Kubernetes environment, if you use the APISIX Ingress controller, it is recommended that the dashboard be read-only

[2022-04-18 05:48] lazychanger commented on #2424
非常感谢。

😂但是`dashboard`配置DNS的问题还应该是缺陷吧。

[2022-04-18 05:50] lazychanger commented on #2430
可能理解有误。我的意思是`apisix`的`conf.yaml`.`plugins`增加或者删除了`plugin`，`dashboard`这边并不会同步`apisix`的`plugins`

[2022-04-18 05:56] tao12345666333 commented on #2424
If you use the APISIX dashboard for configuration, this has nothing to do with APISIX Ingress.  You need to check your configuration etc.

See what other people have to say

[2022-04-18 06:05] lazychanger commented on #2424
好的。那我关闭Issue呢

[2022-04-18 06:05] #2424 closed

[2022-04-18 09:07] MirtoBusico commented on #2429
Hi @Baoyuantop YES!
Thanks a lot!

[2022-04-18 09:12] wangkunyu123 opened #2432 "Dashboard Fine-grained permission control for users"
Does Dashborad support controlling different routes based on user permissions

[2022-04-18 09:39] bingoku opened #2433 "Certificate records's number does not match that of the ETCD"
### Issue description

UI 上显示 7 条，实际etcd数据库里面有 10 条

### Expected behavior

应该显示完整的数据。

### How to Reproduce

路径  /ssl/list 可以查看

### Screenshots

<img width="1199" alt="iShot2022-04-18_17 35 35" src="https://user-images.githubusercontent.com/4134788/163789562-8fe6e765-d366-49c7-8c40-31b49ae912d2.png">

<img width="431" alt="iShot2022-04-18_17 34 56" src="https://user-images.githubusercontent.com/

[2022-04-18 12:25] jwrookie commented on #2433
Did you add the `ssl certificate` via `admin-api`?  if so you can restart the dashboard, this may be caused by dashboard cache

[2022-04-18 12:28] jwrookie commented on #2430
I'm sorry for didn't help you, I will replay you after self-checking

[2022-04-18 12:33] jwrookie commented on #2432
Currently not supported,  you could discuss them in this issue https://github.com/apache/apisix-dashboard/issues/2354. Or send an email to https://lists.apache.org/thread/lltjvf2bjj18og6no5lplwjry0z01pbd

[2022-04-19 01:44] Baoyuantop commented on #2430
Hi @lazychanger, Currently, Dashboard can only synchronize the APISIX plugin list via the `api/conf/schema.json` file. If the APISIX plugin list changes and you need to synchronize this file to Dashboard, you can refer to https://apisix.apache.org/docs/dashboard/FAQ#4-after-modifying-the-plugin-schema-or-creating-a-custom-plugin-in-apache-apisix-why-cant-i-find-it-on-the-dashboard
We've considered

[2022-04-19 01:51] wangkunyu123 commented on #2432
Ok, will this feature be considered later?

[2022-04-19 01:55] jwrookie commented on #2432
Put it in discuss list, let's decide together

[2022-04-19 01:55] SkyeYoung commented on #2432
@wangkunyu123 I just can say "maybe". We need your advice and participation. You could dicuss it in #2354.

[2022-04-19 02:01] wangkunyu123 commented on #2354
I hope dashboard can support fine-grained access control to the user, so the test environment can let the development of their respective routing maintenance, and some configuration was developed to see hope, but I don't want them, so that to reduce the waste of resources, but also largely reduce the operations staff workload

[2022-04-19 02:05] wangkunyu123 commented on #2354
I hope dashboard can support fine-grained access control to the user, so the test environment can let the development of their respective routing maintenance, and read access to the routing configuration of hope, but don't want to have write permissions, so that to reduce the waste of resources, but also greatly reduce the workload of maintenance personnel

[2022-04-19 02:05] wangkunyu123 commented on #2432
ok

[2022-04-19 02:10] bingoku commented on #2433
是的，重启dashboard就解决了。
Yes, just restart the dashboard.

发现另一个问题。
Another problem was found.

同样一份证书，可以重复添加到 SSL 里面？这个似乎也不太对。
The same certificate can be added to SSL repeatedly? This doesn't seem quite right.

[2022-04-19 02:40] dogrod opened #2434 "Feature request: support regex_uri attribute in redirect plugin"
# Feature request

## Please describe your feature

![image](https://user-images.githubusercontent.com/21096842/163909354-3047b871-dc2e-42d9-8af5-a4f78065a3e2.png)

APISIX already supports uri attribute in redirect plugin, which is under "custom" option in "Name And Description" section. But in some more complex situations, regex_uri would be a better way.

## Describe the solution you'd like

![i

[2022-04-19 06:19] jwrookie commented on #2433
We do not read the certificate content and cannot perceive the difference.
And you need to determine for yourself the problem of a duplicate certificate.

[2022-04-20 01:39] Baoyuantop commented on #2434
Hi @dogrod, thank you for your report. Would you like to help improve this feature?

[2022-04-20 08:32] anldrms opened #2435 "Apisix Dashboard translation to Turkish"
# Apisix Dashboard translation to Turkish

## I'll glad to help to translating the web page for the dashboard

Apisix is very unique and efficient project so it'll reach larger community near future. For that reason, I want to help for translating Turkish the web interface. That will make easier to understand for our community.

[2022-04-20 08:52] khodabandelu commented on #2354
I suggest adding a developer portal and plan configuration for consumers, Open API ,API documentation,online call API . some of the features that other API gateways have them.

[2022-04-20 10:22] anldrms commented on #2435
Can anyone share with me the language file directory?

[2022-04-20 11:18] qihaiyan opened #2436 "Consumer List Page reports error when a consumer is created with admin api"
### Issue description

Consumer List Page reports error when a consumer is created with admin api,  the consumer doesn't have plugin.

### Expected behavior

Consumer List should list the consumer created with admin api

### How to Reproduce

1. creating a consumer with admin api:
[code]
2. then view the Consumer List Page got a error

### Screenshots

![image](https://user-images.githubuserconten

[2022-04-21 01:12] Baoyuantop commented on #2436
Hi @qihaiyan, thanks for your report.

I want to know the response to this request.
By the way you can refer to https://apisix.apache.org/docs/apisix/admin-api#consumer

[2022-04-21 01:14] Baoyuantop commented on #2435
Hi @anldrms, thank you for your help. We need to get more people together to discuss the need for this feature.

[2022-04-21 01:27] qihaiyan commented on #2436
the response is
[code]

the admin api document mentions that only username for consumer is required, other params ars all optional. so when i create a consumer with admin api , only username is used.

[2022-04-21 01:43] qihaiyan commented on #2436
https://github.com/apache/apisix-dashboard/pull/2437

I made a pr for this issue if you don't mind. @Baoyuantop

[2022-04-21 01:51] Baoyuantop commented on #2436
Thanks, let me check

[2022-04-22 06:52] fatihbm commented on #2435
If this is accepted, I am sure there will be many people who will contribute to it.

[2022-04-23 16:16] bzp2010 opened #2438 "bug: advance matching in the route create page causes the page to crash"
### Issue description

When we create an advanced match rule in a route, the page will crash if the reverse setting is not adjusted.

Based on the occurrence conditions, it is presumed that the default value of the reverse field is not set correctly. At that point, executing toString on a `null` value will result in a JS error.

https://github.com/apache/apisix-dashboard/blob/1fa5df3618708b392bb5f

[2022-04-24 07:06] Si-ege commented on #2438
I want to try to finish

[2022-04-25 02:11] Baoyuantop commented on #2436
Dashboard does not allow users to create consumer objects without auth plugins, which seems inconsistent with the Admin API behavior. cc @bzp2010 @juzhiyuan

[2022-04-25 06:44] Baoyuantop opened #2441 "Dashboard allows the creation of a Consumer without enabling the plugin"
# Feature request

## Please describe your feature

The current requirement to enable an authentication class plugin when creating a Consumer in Dashboard is inconsistent with the Admin API behavior. https://apisix.apache.org/docs/apisix/admin-api#consumer
Inconsistent behavior can lead to a number of problems #2436

## Describe the solution you'd like

Users can create a Consumer in Dashboard wit

[2022-04-26 03:24] #2436 closed

[2022-04-28 10:31] ambition0222 commented on #2407
还没解决吗，更到最新的镜像也不行

[2022-05-01 07:24] snovak7 opened #2444 "feat: Keycloak/OIDC authn & authz"
Possibility of authenticating against an external IdP via OpenID Connect, and management of permissions maybe in style of RBAC?

[2022-05-05 03:55] Baoyuantop commented on #2444
Hi @snovak7, can you describe it in more detail?
I found two articles that I hope will be of help to you:

https://apisix.apache.org/blog/2021/08/25/using-the-apache-apisix-openid-connect-plugin-for-centralized-authentication
https://apisix.apache.org/blog/2021/12/10/integrate-keycloak-auth-in-apisix

[2022-05-05 05:27] snovak7 commented on #2444
@Baoyuantop I know APISIX has this capability, but it's not the capability of a dashboard - the control plane

unless you want to say I want to put dashboard behind a apisix gateway whose purpose is to manage APIs, but you still have dashboard with some simple built-in authentication and it's not a stateless app.

[2022-05-05 06:22] Baoyuantop commented on #2444
The current Dashboard has only the most basic CRUD capabilities for resources. We can discuss these capabilities in the upcoming V3 version. You can refer to https://github.com/apache/apisix-dashboard/issues/2353

[2022-05-05 08:51] #2426 closed

[2022-05-05 15:04] tzssangglass opened #2445 "A question about redirect to https with 'lb + apisix'"
### Discussed in https://github.com/apache/apisix/discussions/6928

<div type='discussions-op-text'>

<sup>Originally posted by **Lewisyixin** April 25, 2022</sup>
Is there any way to redirect from http  to https on apisix which behind a lb  meanwhile use http to proxy between lb and apisix?
We want to use apisix to replace nginx. Our nginx conf is about below..
Our ssl certs are on lb.  lb's 80 p

[2022-05-05 20:48] snovak7 commented on #2444
This one is better #2354

[2022-05-06 02:05] #2129 closed

[2022-05-06 02:59] guoqqqi commented on #2434
ping @hanzhenfang Are you interested in completing it?

[2022-05-06 03:00] hanzhenfang commented on #2434
let me try.

[2022-05-06 03:09] stubbornTanzhe opened #2446 "[doc] dashboard docker implement usage optimization"
### Issue description

apisix-dashboard login success,then access apisix/admin/labels/route or apisix/admin/labels/consumer ，encounter to get 401 Unauthorized error code,which means the jwt token that authoried by dashboard is invalid.

finally with community's help，found that the reason is more than 1 dashboard instance.
with multi instance, every instance generate and hold a jwt token,will cause

[2022-05-06 09:05] guoqqqi commented on #2262
Hi @Si-ege, please check this issues

[2022-05-06 14:28] tzssangglass commented on #2445
Please submit the issue and fill out the complete reproduction steps.

[2022-05-07 01:21] guoqqqi commented on #2435
Hi, @anldrms We have related issues here, you can refer to this issue:
https://github.com/apache/apisix-dashboard/issues/1407
Looking forward to your PR, Thank～ 😊

[2022-05-07 02:03] Baoyuantop commented on #2445
This process needs to be described in more detail.

[2022-05-07 10:44] anldrms commented on #2435
I'll look into it. 👍🙏

[2022-05-07 12:57] anldrms commented on #1407
I'm currently working on Turkish translation.

[2022-05-09 09:50] Lewisyixin commented on #2445
as I described..    create route -> fill in name, domin and  turn on "http_to_https"  -> next step will  easily reproduce.
<img width="1234" alt="image" src="https://user-images.githubusercontent.com/17898688/167384789-444a8adc-b340-45ba-99d3-2ff4d7d5746f.png">

[2022-05-09 10:45] topzyh opened #2449 "Add a IPv6 address in upstream nodes->host failed"
### Issue description

When I add a IPv6 address in upstream nodes->host，
report an error:
schema validate failed: nodes: Must validate at least one schema (anyOf) nodes.0.host: Does not match pattern '^\*?[0-9a-zA-Z-._]+$'

### Expected behavior

My server IP is a IPv6 address, I need add it

### How to Reproduce

Add a IPv6 Address in upstream nodes->host,
such as:
`{
  "nodes": [
    {
      "h

[2022-05-09 15:42] jwrookie commented on #2449
@topzyh  Hi, it not a bug, just not support now
The good news is that it has been implemented as a new feature and we can support it in the next release
More detail see: https://github.com/apache/apisix/pull/6908

[2022-05-10 02:33] topzyh commented on #2449
thanks,
can apisix-dashboard support it ?

[2022-05-10 03:54] jwrookie commented on #2449
`apisix-dashboard` can support it  just using a new `JSON schema`

[2022-05-11 07:44] membphis commented on #2043
too old, we can close it first

[2022-05-11 07:44] #2043 closed

[2022-05-12 02:08] juzhiyuan commented on #2407
Hi @bzp2010, do you have any update here?

[2022-05-12 02:10] juzhiyuan commented on #2427
Sure! Could you please file a PR and add it https://apisix.apache.org/docs/dashboard/develop here?

[2022-05-12 05:56] gymgym1212 commented on #2427
OK~

[2022-05-16 02:06] jwrookie commented on #1713
can assign it to me?

[2022-05-16 11:30] believe1499 opened #2455 "MQTT edit"
现在MQTT相关的编辑只能通过命令行调用接口的方式吗，可以在dashboard里面进行编辑吗？

[2022-05-17 01:16] jwrookie commented on #2455
As far as I know, `apisix-dashborad` doesn't implement it yet

[2022-05-17 01:49] believe1499 commented on #2455
If there is a apisix cluster, we can only call the admin-api one by one to edit the MQTT related config?

[2022-05-18 01:35] juzhiyuan opened #2456 "support public-api plugin"
# Feature request

## Please describe your feature

Apache APISIX Dashboard supports the `public-api` plugin[1], so we don't need to use AdminAPI instead. Here is one blog[2] about it.

[1] https://apisix.apache.org/docs/apisix/plugins/public-api/#basic-use-case
[2] https://apisix.apache.org/blog/2022/03/01/apisix-integration-public-api-plugin/#initial-knowledge-about-public-api

[2022-05-18 03:40] jwrookie commented on #2455
Yes, if your cluster is not using the same etcd instance and specified key prefix

[2022-05-19 00:44] zerda commented on #2188
This issue is same as https://github.com/apache/apisix-dashboard/issues/2363.

It makes me a little confused that all other plugins list in route plugin config page except proxy-rewrite. Especially as a new user, when I taking tour with [Getting Started](https://apisix.apache.org/zh/docs/apisix/getting-started#%E4%B8%BA%E8%B7%AF%E7%94%B1%E6%B7%BB%E5%8A%A0%E5%89%8D%E7%BC%80).

[2022-05-19 03:48] #2409 closed

[2022-05-19 06:41] #2455 closed

[2022-05-19 10:23] juzhiyuan commented on #2188
Initially, we wanted to productize the commonly used plugins, so the plugin was directly implemented on the first step page. I will tag a label to track.

[2022-05-20 15:06] matkocsis opened #2457 "Consumer Plugin List: Added but Disabled Plugin Display Distinction"
### Issue description

There is no clean GUI distinction for a consumer plugin that is added but disabled on the plugin configuration page.

Because of Plugin application precedence a higher level disabled plugin (consumer) still "applies" ( the disabled status ) if it is added, and disables / ignores the same lower level (Route) plugin configuration.

### Expected behavior

On the Configure Consu

[2022-05-21 05:36] jwrookie commented on #2457
Hi, @matkocsis  The plugins on `Consumer` and `Route` are merged by priority (`Consumer` > `Route`), according to the description you provided, `limit-count` is disabled on `Consumer` but `limit-count` on `Route`  is not effect , which is the expected behavior.

If you want `limit-count` on `Route` to take effect, you need to remove `limit-count` from `Consumer`, not disable it

Also at the moment

[2022-05-21 10:25] bzp2010 commented on #2456
The current support for APISIX 2.13 has been merged and we will release its counterpart, APISIX Dashboard 2.12.

[2022-05-21 10:45] matkocsis commented on #2457
Hello @jwrookie Yes I know this is the right behaviour for the gateway.
My point in short is, that there is no clear distinction in the Configure Consumer / Plugin List page between an added but disabled vs not added Plugin.

[2022-05-21 11:06] jwrookie commented on #2457
Yes, I agree with you that we should enhance it in the GUI
We can discuss it in this issue https://github.com/apache/apisix-dashboard/issues/2354. Or send eamil to https://lists.apache.org/thread/lltjvf2bjj18og6no5lplwjry0z01pbd

Thank you for your outstanding contribution!

[2022-05-29 05:46] jwrookie commented on #2389
How about `google authenticator`? as far as I know, it is more popular. The 2FA of `jumpserver` is implemented with it

[2022-05-30 03:06] #2438 closed

[2022-05-31 02:36] wangxiaochuang opened #2461 "cache failed to update when etcd restarted"
### Issue description

when I restart etcd, dashboard occure the error:
2022-05-31T10:27:32.003+0800    ERROR   storage/etcd.go:245     channel canceled
2022-05-31T10:27:32.003+0800    WARN    store/store.go:124      watch failed: channel canceled

then, cache data is no longer updated

### Expected behavior

os: linux
version: 2.11

### How to Reproduce

just restart etcd

### Screenshots

_No re

[2022-05-31 04:17] jwrookie commented on #2461
Currently, there is no re-watch after watch fails, do you have any good ideas?

[2022-06-01 14:16] #2387 closed

[2022-06-06 02:37] #2441 closed

[2022-06-06 03:53] bzp2010 opened #2465 "Proposal: refactor OpenAPI 3 parse and convert"
### Background

Although APISIX Dashboard supports OpenAPI3 specification, it is actually designed to export from APISIX and then import (even it doesn't do well in this area), it has poor support for importing standard OpenAPI3 documents, and we need to improve this.

The following problems exist in the current implementation:

- Cannot import if `operationId` field does not exist

This is our or

[2022-06-06 05:58] starsz commented on #2465
Can we use "hash" or base64 instead ?

Maybe we shouldn't merge them.

Generate empty upstreams is not a good idea, maybe we should report an error?

[2022-06-07 09:14] bzp2010 commented on #2465
Yes, I will use it as `id`, and use uri as `name`

This is a good question, a user once submitted an issue asking why we don't merge methods into a single route, he thought it was a buggy situation and submitted a PR fix for it, which was eventually merged as well.
However, the reality shows that there are indeed scenarios in which merging is not possible, so I think this configurability should be

[2022-06-08 06:55] jackey20200402 opened #2469 "如何配置etcd的prefix"
### Issue description

使用helm 安装的apisix、apisix-dashboard。apisix 配置了etcd的prefix，但在apisix-dashboard 没有找到相应的配置

### Expected behavior

apisix
etcd:
  # install etcd(v3) by default, set false if do not want to install etcd(v3) together
  enabled: true
  host:
    - http://etcd.host:2379  # host or ip e.g. http://172.20.128.89:2379
  prefix: "/apisix-test"

### How to Reproduce

apisix
etcd:
  # instal

[2022-06-09 10:30] starsz commented on #2465
Get it.

[2022-06-10 04:20] FangSen9000 commented on #2446
I want to solve this issue. Which document should I optimize? Is there any recommendation

[2022-06-10 07:47] jwrookie commented on #2469
here:

https://github.com/apache/apisix-dashboard/blob/a2fe71d0644927eb71ef3dd06b902ea9f4ce81f6/api/conf/conf.yaml#L37-L48

[2022-06-14 05:56] TridentZZ opened #2473 "在dashboard中创建路由，无法在集群中查询到"
### Issue description

在dashboard页面上创建的路由无法在集群中通过kubectl get apisixroute -A 查询到，并且没有生效，但通过yaml方式创建的资源可以在dashboard中查看到。

### Expected behavior

希望能够通过dashboard创建资源并且生效。

### How to Reproduce

1.登录dashboard
2.进入路由页面并创建路由
3.在集群中kubectl get apisixroute -A 查询资源

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version

[2022-06-14 09:28] bzp2010 commented on #2473
Hi, @TridentZZ.

Dashboard cannot create and manage Kubernetes CRD resources, it connects directly to the etcd database and writes APISIX routes and upstreams information directly to the database, it does not reverse synchronize to the Kubernetes CRD, it is one-way synchronization in the ingress controller (from CRD to APISIX resource)

[2022-06-14 09:59] #2473 closed

[2022-06-15 09:57] stevenlee87 opened #2476 "bug: ssl upgrade display ："Invalid date""
### Current Behavior

when i perform python script:

[code]

./test-ssl.py t.crt t.key imepisode.top
output:
201
{"node":{"key":"\/apisix\/ssl\/10","value":{"cert":"-----BEGIN CERTIFICATE----- 。。。。

### Expected Behavior

The certificate displays the normal expiration time

![bug2](https://user-images.githubusercontent.com/4190121/173983266-43599741-5917-427a-bc0c-fa779d18bdc0.png)

### Error Logs

[2022-06-16 07:44] yjunsun opened #2477 "openapi import will panic when requestbody is not empty but with empty content"
### Issue description

When import openapi with apisix-dashboard, the apisix-dashboard service panic and return 500 http state code.

**openapi:**
[code]

**ERR LOG:**
[code]

### Expected behavior

no error

### How to Reproduce

1. white proto file service like this:
[code]

2. use https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi to generate openapi doc, will like this:
[code

[2022-06-16 08:16] stevenlee87 commented on #2476
I tried to update the test environment to the latest version：
REPOSITORY                          TAG                 IMAGE ID            CREATED             SIZE
apache/apisix-dashboard             2.13-alpine         712ac4ecc93e        13 days ago         109 MB
docker.io/apache/apisix-dashboard   2.13-alpine         712ac4ecc93e        13 days ago         109 MB
docker.io/apache/apisix

[2022-06-17 01:30] Baoyuantop commented on #2476
Can you check the details of the request in the browser Network panel?

[2022-06-19 09:07] shuqingzai opened #2479 "导入 OpenAPI3.0 文档，数据验证"
### Issue description

文档: [Import OpenAPI Guide](https://apisix.apache.org/zh/docs/dashboard/IMPORT_OPENAPI_USER_GUIDE) 使用 [request-validation](https://apisix.apache.org/zh/docs/apisix/plugins/request-validation/) 插件作为验证
请问如何为每个字段编写自定义错误信息？如: `title` 我想显示 **标题不正确**
我似乎没有找到响应的文档

### Expected behavior

可以针对每个字段设置错误信息

### How to Reproduce

文档没有说明

### Screenshots

_No response_

### Environment

[

[2022-06-20 06:34] stevenlee87 commented on #2476
This problem has nothing to do with the browser ??

I use apisix-dashboard to upload the certificate to show the expiration time is normal.
![bug4](https://user-images.githubusercontent.com/4190121/174539425-96a2d97c-db33-4f7b-bcd2-9304d7267044.png)

![bug2](https://user-images.githubusercontent.com/4190121/174539497-c3b379d6-d2bf-4c02-a0a5-00b467c7d9a6.png)

[2022-06-20 09:03] bzp2010 commented on #2479
Hi, @shuqingzai

In the current implementation, OpenAPI import will generate the response route, which will open the request-validation plugin, and if you need to make changes to it, you can directly modify the route configuration.
However, as far as I know, this plugin does not support customizing the error response for a single field. You can take a look at this document. https://apisix.apache.o

[2022-06-20 09:08] bzp2010 commented on #2477
Hi, @yjunsun

Thank you for raising the bug and submitting a fix patch for this, I will review your PR later.

There are a lot of problems with the current OpenAPI import implementation and we are working on improving it, if you want you can help us review the new import implementation.
You can view the current proposal here, https://github.com/apache/apisix-dashboard/issues/2465. As well as condu

[2022-06-20 09:10] shuqingzai commented on #2479
这个我看过，就是没有看到自定义单个字段错误信息，所以问问，有别的方式吗？只能定义一条错误信息？字段不同，提示语应该都不同吧

[2022-06-20 09:58] Baoyuantop commented on #2476
I meant to find this request in this panel in the browser, and observe the request payload and response data, the form component apparently received abnormal data causing the display exception.

[2022-06-20 10:28] stevenlee87 commented on #2476
I looked at the data stored in the ETCD.Two parameters of the certificate uploaded in script mode are missing：
{"update_time":1655720235,"cert":"-----BEGIN CERTIFICATE-----key...(omit)....\n-----END CERTIFICATE-----\n","create_time":1655367017,"snis":["imepisode.top"],"status":1,"key":"key...(omit)....","id":"10"}

The normal data is：
{"id":"10","create_time":1655367017,"update_time":1655720045,"c

[2022-06-21 09:20] yjunsun commented on #2477
It's my pleasure.
I'm usually free on weekends.

[2022-06-22 10:02] caibirdme opened #2482 "bug: dashboard js error"
### Issue description

GET /umi.48865a44.js  grammar error, so cannot open the site

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): 0.10.0
- your Kubernetes cluster version (output of kubectl version): 1.20.4
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a): centos7

### Minimal t

[2022-06-22 10:20] tao12345666333 commented on #2482
Please submit the issue to the correct repository, thanks

[2022-06-23 08:21] renwayle opened #2483 "Installing APISIX in kubesphere encountered etc, but could not find hosts"
### Issue description

[code]

### Expected behavior

[code]
### How to Reproduce

1、create   apisix ，apisix  dashboard ，apisix  ingress  controller  in kubesphere   form  applocation  template
2、docker  start

### Screenshots

_No response_

### Environment

kubesphere

### Additional context

_No response_

[2022-06-23 10:10] caibirdme commented on #2482
This is my problem... There's a f**king network limitation underneath that most of people don't know. Thx, and close it

[2022-06-23 10:10] #2482 closed

[2022-06-24 01:25] bzp2010 commented on #2483
Hi, @renwayle.

Apparently there is a problem with the connection between dashboard and etcd, which prevents it from starting. You need to check the status of the etcd service (whether it is started correctly, whether the k8s service is configured correctly, whether coredns is responding correctly to its cluster domain resolution, etc.).

BTW, based on your DNS IP address 169.254.25.10, I'm guessi

[2022-06-24 01:27] bzp2010 commented on #2479
Sorry for the slow response.
The error message will be output by the jsonschema validation engine and normally we cannot change its output unless we change the jsonschema validation engine code or override its return value in a custom plugin.

[2022-06-24 04:47] shuqingzai commented on #2479
所以是没有办法了吗？只能统一的错误吗？

[2022-06-26 08:45] zlzforever commented on #2476
When i post the "validity_end" property to server,  the web is corrected.
<img width="1195" alt="image" src="https://user-images.githubusercontent.com/3038592/175806600-ef36e679-9dc3-41b1-8f2b-6af4ff748fdd.png">

<img width="1311" alt="image" src="https://user-images.githubusercontent.com/3038592/175806627-d7db6586-960f-44eb-97e5-16e185b6d885.png">

The api didn't read the validity_end from cert f

[2022-06-27 06:44] airclear commented on #2483
if you use helm install,  you need to set the dashboard's  etcd config:

[code]

[2022-06-27 09:32] Wauux opened #2486 "在dashboard中添加路由前端无法显示"
### Issue description

在dashboard中添加路由后，前端无报错 但是无法显示。etcd 中添加成功，apisix路由生效

### Expected behavior

dashboard中添加路由

### How to Reproduce

1. 在dashboard中添加了一条路由
2. 前端无报错
3. 后台etcd中查到新添加路由
4. 新的路由在apisix中是生效的

但是在dashboard中无新路由的显示。 这个问题已经出现挺多次了，重启dashboard可以解决

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`): 13.1
- OS (cmd: `uname -a`): Linux  3.10.0-1127.10

[2022-06-27 09:50] renwayle commented on #2483
may can privider  all configs，thinks  634886124@qq.com

[2022-06-27 09:51] renwayle commented on #2483
can  privade  all configs  thanks  634886124@qq.com

[2022-06-27 09:55] Wauux commented on #2486
dashboard 里找到了几个etcd watch的错误
2022-06-18T16:14:17.344+0800    ERROR   storage/etcd.go:245     channel canceled
2022-06-18T16:14:17.344+0800    WARN    store/store.go:124      watch failed: channel canceled

以及很多
2022-06-18T17:00:00.009+0800    WARN    store/store.go:154      data not found by key:

[2022-06-27 09:56] SkyeYoung commented on #2486
@Wauux Hi, I looked through the existing issues and this seems to be a difficult issue to pinpoint. Here is the link to that issue, can you see if it gives some insight into the solution? https://github.com/apache/apisix-dashboard/issues/2285

[2022-06-28 04:36] #2477 closed

[2022-06-28 07:32] zlzforever commented on #2476
Have no idea, right now my workaround is post it by mysql:

`
    validity_end=$(date +%s --date="+90 day")
    openssl rsa -in /data/data/letsencrypt/live/xxx/privkey.pem -out /data/data/letsencrypt/live/xxx/cert.key
    read -N 100000 cert </data/data/letsencrypt/live/xxx/fullchain.pem
    read -N 100000 key </data/data/letsencrypt/live/xxx/cert.key
    body='{ "cert": "'$cert'", "key": "'$key'"

[2022-06-29 01:57] Baoyuantop opened #2488 "The placeholder text translation of input displays exceptions."
### Issue description

When I open the dashboard, the text of some components in English mode is displayed in Chinese, resumes normally after switching languages again.
<img width="1333" alt="image" src="https://user-images.githubusercontent.com/30611190/176334020-571155a4-d2b6-470d-8f84-a9f62946edad.png">

### Expected behavior

Normal text display in the corresponding language.

### How to Repro

[2022-06-29 12:09] trdmm opened #2491 "嵌入的Grafana页面无法显示"
### Issue description

嵌入的Grafana页面无法显示.

### Expected behavior

None

### How to Reproduce

None

### Screenshots

_No response_

### Environment

_No response_

### Additional context

_No response_