[2022-06-29 14:10] SkyeYoung commented on #2491
Could you please give us a screenshot so that we can locate the corresponding error?

[2022-06-30 03:48] adocat opened #2492 "嵌入的Grafana无法正常显示（被CSP阻止）"
### Issue description

Grafana的allow_embedding 已经配置为true

单独用页面使用ifame标签html代码直接嵌入是没问题的，可以显示，怀疑是VUE的问题

### Expected behavior

![2](https://user-images.githubusercontent.com/25237966/176588611-8644d154-4730-4946-a3a0-fb2856e0d213.png)

### How to Reproduce

无

### Screenshots

![1](https://user-images.githubusercontent.com/25237966/176588241-010efaa8-cbe4-41e7-8db7-05a51e99916b.png)

### Environme

[2022-07-01 02:29] jinnyu commented on #2492
me too,
on v2.11 dashboard work well,
I update dashboard to v2.13, grafana dosen't work,
Chrome show errors like above.
AND the plugin list page also show this error, and don't load plugin image.

[2022-07-01 05:44] adocat commented on #2492
解决了，加个配置就好了，官方文档没有写这部分，看源码发现写了一个csp的头，配置文件里可以自己覆盖掉，MESA的方式不好使，修改：example\dashboard_conf\conf.yaml，根据你需要的写，测试环境用我下面这个就行
![3](https://user-images.githubusercontent.com/25237966/176831351-4d781667-a1ef-44ee-be8f-f82f9070cb33.png)

[2022-07-01 05:46] #2492 closed

[2022-07-01 05:48] adocat commented on #2491
![3](https://user-images.githubusercontent.com/25237966/176831775-e6e49d52-55eb-4ca3-a70a-74470c088a72.png)
修改dashboard的配置文件，增加截图那一段即可

[2022-07-04 05:57] bzp2010 opened #2495 "feat: add raw data import and export support"
# Feature request

## Please describe your feature

We currently support OpenAPI3 data import support, which is based on the DataLoader interface. The DataLoader interface provides good support for extending our new data import and exporters.

However, it is difficult for us to handle the following scenario, when users have multiple environments, such as three environments like `development`, `tes

[2022-07-06 01:05] siaron commented on #2407
I also have this problem. copy router.

[2022-07-06 01:20] trdmm commented on #2491
成功解决 😄

[2022-07-06 01:20] #2491 closed

[2022-07-06 04:19] WestEnlarged opened #2496 "export/import openapi3 missing parameter schema"
# Feature request
if can add openapi3's parameter schema , it will be huge to help developer to use route.
## Please describe your feature

here is openapi3 's spec:
[code]

Up to now, import this will missing a lot like Pet、Error schema . If support apisix will easily to use with swagger doc.

## Describe the solution you'd like

maybe extend route config like this:
[code]

## Describe alternativ

[2022-07-06 08:22] SkyeYoung commented on #2407
I'll take a look, and try to solve this.

[2022-07-07 03:04] startzhuzhu opened #2499 "The last_report_time attribute in the system information of apisix-dashboard is Invalid date"
### Issue description

The last_report_time attribute in the system information of apisix-dashboard is Invalid date

### Expected behavior

The last_report_time attribute in the system information of apisix-dashboard is not Invalid date

### How to Reproduce

1、Go to apisix-dashboard
2、Click on System Info
3、Scroll down  to last_report_time
4、see error

### Screenshots

![image](https://user-image

[2022-07-07 09:37] #2407 closed

[2022-07-08 02:27] Baoyuantop commented on #2499
We may need to remove this field🤔.

[2022-07-09 05:59] whichdew opened #2503 "dial tcp 10.244.0.51:9000: connect: connection refused"
### Issue description

Readiness probe failed: Get "http://10.244.0.51:9000/ping": dial tcp 10.244.0.51:9000: connect: connection refused
  Warning  Unhealthy  19m (x2 over 19m)   kubelet            Liveness probe failed: Get "http://10.244.0.51:9000/ping": dial tcp 10.244.0.51:9000: connect: connection refused
  Warning  BackOff    36s (x92 over 19m)  kubelet            Back-off restarting failed

[2022-07-09 06:45] Wcdaren commented on #2299
Perhaps this problem is caused by the confusing logic of adding and enabling plugins, which we can solve with the following modifications.

- Form to show all added plugins (both enabled and unenabled)
- The logic of enabling plugins is modified to add plugins

![image](https://user-images.githubusercontent.com/25494875/178094746-345eaa96-33c6-4bc8-9dc2-20d93b0bf58b.png)

[2022-07-09 09:15] SkyeYoung commented on #2446
@juzhiyuan @bzp2010 Looks like this issue should be closed.

[2022-07-09 09:24] guoqqqi commented on #2299
Hello @Wcdaren I have a few questions about your proposal
1.

I understand that you are thinking that when we configure a plugin and it is not enabled, it should also be displayed in the list, right?
But right now we don't support this and I'm not sure if we need to change the API interface. The current implementation is that the plugin is removed when we don't enable it, and doesn't save its conf

[2022-07-09 12:25] Wcdaren opened #2504 "feat: distinguish between adding and enabling plugins"
# Feature request

The logic of enable/unenable and add/delete plugins in the plugins module (`/plugin/list`) is confusing.
eg: the following two states cannot be effectively distinguished under the current interaction:

- Disable plugins (functionality is suspended and the original configuration information is retained)
- Delete plugins (delete all configuration information)

![image](https://use

[2022-07-10 04:54] RexHuang opened #2505 "Want to redirect user-agent with MS Edge browser. but not working."
### Issue description

Want to redirect user-agent with MS Edge browser. but not working.

### Expected behavior

should redirect when user-agent HAS Edg.

### How to Reproduce

settings:
{
"uri": "/*",
"name": "test",
"methods": [
"GET",
"POST",
"PUT",
"DELETE",
"PATCH",
"HEAD",
"OPTIONS",
"CONNECT",
"TRACE"
],
"vars": [
[
"user-agent",
"HAS",
"Edg"
]
],
"plugins": {
"proxy-rewrite": {
"host": "x

[2022-07-10 05:20] bzp2010 commented on #2505
@RexHuang

1. APISIX does not have the variable `user-agent`, so you cannot use it as a key. If you need to use the UA value, you need to get it through the http header, it can get the http_user_agent this way.
2. APISIX's advanced matching does not support checking substring operators.
- `has` is used to check whether the left table contains the right element
- `in` is used to check whether the l

[2022-07-10 05:51] Wcdaren commented on #2299
Of course, it can be tricky to make changes to the logic that distinguishes between add and enable. We can now solve this issue simply by sorting (enabling or not) as follows

![image](https://user-images.githubusercontent.com/25494875/178132964-3ba507e9-24b3-4db6-8c0e-b995eac449d2.png)
![image](https://user-images.githubusercontent.com/25494875/178132978-2f3ce700-74cc-4de9-9694-85a9356cc7de.png)

[2022-07-10 08:36] RexHuang commented on #2505
Thanks, is it any simple way to check sub-string, such as regular expression？

[2022-07-10 13:03] bzp2010 commented on #2505
@RexHuang Yes, use `~~`.

![image](https://user-images.githubusercontent.com/8078418/178145998-a8ea2bb2-fe75-47ca-b33c-d48be3c5fd14.png)

[2022-07-11 01:54] Baoyuantop commented on #2504
LGTM, but currently APISIX does not support this feature.

[2022-07-11 01:54] #2446 closed

[2022-07-11 02:11] Baoyuantop commented on #2503
Is the etcd component ready? Is the Dashboard configuration file filled with the correct etcd configuration? Can you also provide the logs of the Pod?

[2022-07-11 02:15] bzp2010 commented on #2504
Hi, @Wcdaren.

Thanks for the suggestion, I think it's a more intuitive way to interact, but storing plugin configurations like this requires significant changes in the Dashboard storage layer, so it's not possible to implement this feature until we improve it first. It will probably be implemented in v3.

[2022-07-11 02:46] whichdew commented on #2503
![image](https://user-images.githubusercontent.com/20438962/178179014-a15b5ee5-baa5-4c1c-a2f8-a24376d06063.png)

[code]

[code]

It seems that etcd is not ready, how to reslove it? I am a k8S novice, asking for advice.

[2022-07-11 03:42] Baoyuantop commented on #2503
You can refer to https://github.com/apache/apisix-helm-chart
After my tests, all components work fine after installing APISIX and Dashboard with helm🤔.

[2022-07-11 06:42] startzhuzhu commented on #2499
Why not keep this field.

[2022-07-11 06:53] SkyeYoung commented on #2499
cc @Baoyuantop

[2022-07-11 16:01] whichdew commented on #2503
Now I know the problem is that etcd is not ready, but how do I create the corresponding PV for etcd?

[2022-07-12 03:22] RexHuang commented on #2505
Yes, it works.
Thanks bzp2010!

[2022-07-12 03:22] #2505 closed

[2022-07-12 03:29] RexHuang opened #2510 "upload cert file error"
### Issue description

upload cert.pem, key.perm in dashboard failed.
files in attach zip file.

### Expected behavior

want to upload cert.pem, key.perm in dashboard

### How to Reproduce

upload self sign cert.pem, key.perm (these file can work as https server)
when submit, I got the following error:
Request Error Code: 10000
schema validate failed: snis: Invalid type. Expected: array, given: nu

[2022-07-12 03:38] bzp2010 commented on #2510
@RexHuang

After checking, your domain is not configured with a domain name, including the user and its optional name.\

![311de75178399afba65b2d94b892ab1](https://user-images.githubusercontent.com/8078418/178403420-e921040a-0e6d-4882-a3ad-abff52f7dfba.png)

![9b8136994ba9bec41de5ddc54c91103](https://user-images.githubusercontent.com/8078418/178403436-0d06ca41-17b7-4c24-a891-480e591822b2.png)

[2022-07-12 06:24] RexHuang commented on #2510
Thanks bzp2010, it has been solved.

[2022-07-12 06:24] #2510 closed

[2022-07-12 10:18] bzp2010 opened #2514 "feat: supports overriding configuration via environment variables"
# Feature request

## Please describe your feature

Currently we use a configuration file to define the configuration items of APISIX Dashboard, if modified only the configuration file can be modified, and the configuration file must be available to start properly.

In some test environments or container deployments where writing configuration files is difficult, we expect to use environment varia

[2022-07-13 02:38] startzhuzhu commented on #2499
![image](https://user-images.githubusercontent.com/46840316/178638767-a28347fd-60bc-4519-a512-91ae97402b3b.png)
![image](https://user-images.githubusercontent.com/46840316/178638899-5f04dcc4-85d0-4503-8f81-dfeb84b34c6e.png)
This field was present in version 2.12, but not in later versions and we want to keep this field.

[2022-07-13 02:48] Baoyuantop commented on #2499
So only remove this field from the UI if it is not in the API response?

[2022-07-13 02:57] startzhuzhu commented on #2499
OK.

[2022-07-13 10:02] whichdew commented on #2503
Finally, i found the solution.

1. find pvc message with `kubectl describe -n apisix etcd ` -> storageClassName is empty
2. create pv for pvc above with storageClassName not set

then it works.

[2022-07-13 10:02] #2503 closed

[2022-07-15 01:01] iori0758 opened #2524 "After add 'Advanced Routing Matching Conditions' of a route,it will appears nothing"
### Issue description

i want add some routing matching conditions,but it doesn't work, after click confirm button, it displays white page

### Expected behavior

save routing matching condition succesfuly

### How to Reproduce

1.Go to Route.
2.Configure a Route Record
3.At the Stage "Define API Request", click "Add" which below section "Advanced Routing Matching Conditions"
4. Create Rule,

[2022-07-15 01:33] Baoyuantop commented on #2524
It has been fixed in https://github.com/apache/apisix-dashboard/pull/2440

[2022-07-18 18:37] pbalaban opened #2529 "feat: Support Zookeeper discovery type"
# Feature request

## Please describe your feature

According to the [ApiSix documentation](https://apisix.apache.org/docs/apisix/discovery/zookeeper/) it now supports zookeeper service discovery. I think it would be good to also add the possibility to choose Zookeeper discovery type from the dashboard

## Describe the solution you'd like

As far as I can see, the only one change is required [here

[2022-07-22 05:50] bzp2010 commented on #2529
Hi, @pbalaban

Thank you for your report, I confirm that this issue exists and it will be fixed in the next release.

[2022-07-22 08:00] yanghui8837 opened #2537 "feat:Hope to increase the rollback history management of route and upstream"
Like nginx, it is file-based and can be version managed through git. If there is a problem, it can be rolled back in time, but apisix is based on etcd. If it is used in a production environment, it cannot be rolled back if it is accidentally mishandled.

[2022-07-25 12:14] ghost opened #2541 "Build apisix dashboard on termux"
### Issue description

~/apisix-dashboard $ make build
api/build.sh && cd ./web && export CYPRESS_INSTALL_BINARY=0  && yarn install --ignore-scripts && yarn build  && mkdir -p ../output/logs
+ export ENV=local
+ ENV=local
++ pwd
+ pwd=/data/data/com.termux/files/home/apisix-dashboard
+ rm -rf output
+ mkdir -p output/conf
+ mkdir -p output/dag-to-lua
+ [[ ! -f dag-to-lua-1.1/lib/dag-to-lua.lua ]]

[2022-07-25 14:11] SkyeYoung commented on #2541
Hi, I think building with Termux is not a common requirement in production environments. But I think you can submit code for us if you want.

[2022-07-27 16:15] Chever-John opened #2546 "Dashboard of APISIX-dashboard seem to work incorrectly."
### Issue description

Yes, I know this may be an issue since the introduction of Content-security-policy. But I'm still not getting the results I want when I follow this line of thinking to configure it. So I came to ask for your help.

I noticed that this issue has come up before, but there has been no solution left. This issues will completely solve the problem!

<img width="1478" alt="image" s

[2022-07-28 00:48] Chever-John commented on #2546
Update:

Now there is no error in the CSP configuration.

<img width="1745" alt="image" src="https://user-images.githubusercontent.com/43690894/181396745-cad0051d-f7f9-44dd-9dc3-758c54c08522.png">

[2022-07-28 07:30] wodingyang opened #2549 "是否考虑支持etcd多前缀切换功能"
在实际生产环境中，需要部署多套apisix集群，这意味着每套集群需要使用不同的前缀。在dashboard中，只支持在配置文件中配置一个前缀匹配，所以现在需要每个集群部署一个dashborad。
请问是否有考虑或已有规划，在未来支持配置多个前缀，然后通过页面切换数据源对不同集群进行管理配置。如果能提供改功能，将极大的减少运维的日常工作，只需要发布极少的dashboard实例就可以完成更多的工作(在学习kong的时候发现kong的管理系统已经支持类似的功能)。

[2022-07-29 03:27] a1156698162 opened #2553 "Please describe your feature how to implement page query feature?"
apisix dashboad can query route list by page, but apisix can not. How can apisixdashboard implement page query?

[2022-07-29 06:03] #2499 closed

[2022-07-29 06:25] shuqingzai opened #2554 "import openapi.yaml 无法识别 x-apisix-service_id"
### Issue description

参考: [IMPORT_OPENAPI_USER_GUIDE](https://apisix.apache.org/zh/docs/dashboard/IMPORT_OPENAPI_USER_GUIDE) 直接导入 `openapi 3.0` ，文件格式: `yaml`，因为把 `x-apisix-service_id` 当成是 数字 无法识别，应该是 前端JavaScript 数字长度超出，如果是显式声明为 `string` 则可以导入

![image](https://user-images.githubusercontent.com/44406033/181693792-b3d97fc9-1c1a-462f-a377-cd9599f5c0bf.png)

以下是文件大概表述
[code]

解决方式:
注意: `yaml` 中 `x-a

[2022-07-29 09:45] a1156698162 commented on #2553
ok, I know.
<img width="484" alt="dashboard分页" src="https://user-images.githubusercontent.com/72338463/181732772-97927bb9-5547-4d1f-9651-3b85e62d45e7.png">

[2022-07-29 09:45] #2553 closed

[2022-07-31 15:24] ilteriseroglu-ty opened #2560 "feat: Allow setting custom IDs for entries"
# Feature request

## Please describe your feature

Right now the dashboard does not allow you to set custom IDs for config entries; which makes manual action & automation in parallel somewhat harder.

## Describe the solution you'd like

An ID entry form box just like entering a name.

## Describe alternatives you've considered

N/A

## Additional context

N/A

[2022-07-31 15:26] ilteriseroglu-ty opened #2561 "feat: Allow creating Stream/TCP config entries"
# Feature request

## Please describe your feature

Allowing to add Stream/TCP LB entries in a seperate area just like protobuf.

## Describe the solution you'd like

N/A

## Describe alternatives you've considered

N/A

## Additional context

N/A

[2022-08-01 02:16] FangSen9000 opened #2562 "test: adding route batch deleted function test cases"
# Feature request

## Please describe your feature

In the routing page, there is a batch deletion function that will be launched soon. We need to add test cases to cover it

## Additional context
Specific details can be seen here：
https://github.com/apache/apisix-dashboard/pull/2502
[批量删除.webm](https://user-images.githubusercontent.com/72308243/180745383-d0b5e450-5d33-44ac-a5a7-c49e5d9b4cb3.webm)

[2022-08-01 02:23] FangSen9000 opened #2563 "feat: want to add a confirmation message of successful deletion for the batch deletion function"
# Feature request

## Please describe your feature

In the routing page, there is a batch deletion function that will be launched soon. We need to add a confirmation message of successful deletion for the batch deletion function.

## Describe the solution you'd like

Like a single delete confirmation box or a simple delete successful promotion.

## Additional context

Specific details can be seen

[2022-08-01 08:06] shuqingzai commented on #2479
请问该插件可以统一定义 `rejected_msg`，如果在 `openapi.yaml` 导入时，如果定义这个全局的`rejected_msg ` ???

[2022-08-01 12:56] zfkube0x1 commented on #2554
您好，请查看新版本的Open API 导入。

[2022-08-01 14:40] zfkube0x1 commented on #2562
Hi @FangSen9000 https://github.com/FangSen9000/apisix-dashboard/pull/3

[2022-08-01 14:43] FangSen9000 commented on #2562
Hi, what's going on

[2022-08-01 14:47] FangSen9000 commented on #2562
I think you have opened a pr. do you want me to submit it on that or do you want to write it

[2022-08-01 15:01] FangSen9000 commented on #2562
My god, is this finished? amazing! @zfkube0x1

[2022-08-02 06:50] Sh1-5 commented on #2434
I'm completing it, should I change the Redirect from the select to a radio, or add a new option on the original basis?

[2022-08-02 07:03] shuqingzai opened #2565 "路由是否可以支持批量删除或批量更新覆盖？？？"
### 使用版本
[code]

### 问题
1. 目前支持使用 `openapi` 批量导入路由，但是，如果导入后，后续修改 `openapi` 的文件，如：路由参数变更等，重新导入会出错
错误: 路由已存在，不支持导入
2. 由于是 `openapi` 管理API文档，不能重新导入，只能在后台删了路由，然后在重新导入，但是路由很多，又不能多选删除，每条路由单独点击删除，大大的影响效率

### 提议
1. 批量导入 `openapi` 文档时，希望可以支持，路由存在，可以直接强制覆盖，减少操作
2. 希望添加批量删除路由的操作，很经常都是批量处理路由，但是只能批量导入，不能批量删除，有多选功能，支持批量删除应该很友好

[2022-08-02 09:49] SkyeYoung commented on #2565
Our contributors are trying to complete the bulk delete function https://github.com/apache/apisix-dashboard/pull/2502

[2022-08-03 01:09] guoqqqi commented on #2434
hello, that's too abstract, can you add a diagram to show what you think?

[2022-08-03 03:29] #2546 closed

[2022-08-03 05:01] Sh1-5 commented on #2434
1.select
<img width="430" alt="image" src="https://user-images.githubusercontent.com/48705798/182527532-726f41ef-5bf4-4c01-adc1-ee545632e2c6.png">
<img width="1127" alt="image" src="https://user-images.githubusercontent.com/48705798/182527595-ef0429ce-ac68-46f2-af01-2294624d5d78.png">

2.radio, like this
<img width="800" alt="image" src="https://user-images.githubusercontent.com/48705798/182527735

[2022-08-03 06:09] guoqqqi commented on #2434
hi, @Sh1-5
I prefer the latter. When we select Custom, we can add two radio configurations, one for `uri` by default and one for `regex_uri`

[2022-08-03 11:46] Sh1-5 commented on #2434
ok, I have completed it.It's time to write the test case

[2022-08-04 07:53] #2429 closed

[2022-08-04 16:11] varSmallRookie commented on #2554
@shuqingzai 我看最新的代码已经处理了，等他们发布就好了

[2022-08-05 05:54] guoqqqi commented on #2191
@barchielAbyss Do you have time to help check this issue?

[2022-08-06 07:57] #2563 closed

[2022-08-06 07:58] FangSen9000 commented on #2563
has been finished

[2022-08-06 10:47] ghost opened #2571 "Vulnerability found in apisix dashboard"
### Issue description

Vulnerability found in apisix dashboard

### Expected behavior

Vulnerability found in apisix dashboard

### How to Reproduce

Vulnerability found in apisix dashboard

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd:

[2022-08-06 12:26] Morakes opened #2572 "The drawer component cannot delete plugins"
### Issue description

The plugin drawer component could not remove the enable plugin.

### Expected behavior

When the user clicks the delete button in the drawer component, the plugin should be deleted correctly

### How to Reproduce

pass

### Screenshots

![22f485cdc906a25f9b0168c334e2775](https://user-images.githubusercontent.com/74828385/183248650-d2b61afc-efc8-4e5e-adf5-168cb61e0b4f.jpg)

#

[2022-08-06 12:45] 1328735450 commented on #2572
I will try to solve this problem

[2022-08-07 04:03] mLiGuangYuan commented on #2191
yep，I'm checking it

[2022-08-07 05:41] #2571 closed, assigned to nobody

[2022-08-07 11:25] FangSen9000 commented on #1363
Assign this to me

[2022-08-08 04:32] #2541 closed, assigned to nobody

[2022-08-08 06:07] barchielAbyss commented on #2191
@tomzhou1213

hi, Could you please tell me how you installed Google Chrome 69.0.3497.92? I want to simulate your environment accurately, but I found that this problem cannot be see in the later version of 89.x

[2022-08-08 06:08] barchielAbyss commented on #2191
I've used a lot of search engines, and they all point to the wrong download address

[2022-08-09 02:31] FangSen9000 commented on #2562
@zfkube0x1   Hey, brothers, the batch deletion function has been merged. You can directly open a PR submission for the tested code

[2022-08-09 04:25] forcemeter opened #2576 ""Invalid plugin data" when disable plugin"
### Issue description

just enable any plugin then disable it, will trigger json validator cause some invalid json format error, so can not submit the form.

### Expected behavior

Do not validator if plugin is not enabled.

### How to Reproduce

1. go to the plugin
2. open any plugin then submit

### Screenshots

![image](https://user-images.githubusercontent.com/56063441/183563225-fb054816-0c68-

[2022-08-09 05:41] botsphp commented on #2576
![image](https://user-images.githubusercontent.com/56063441/183573091-feba3e2a-20f3-43a2-9e62-14f65c822551.png)

[2022-08-09 08:01] believe1499 opened #2578 "Does apisix-dashboard's access.log and error.log support log rotate?"
# Feature request
Does apisix-dashboard's access.log and error.log support log rotate?
## Please describe your feature

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions

[2022-08-09 09:15] Baoyuantop commented on #2572
Hi @Morakes, Could you please describe the steps to reproduce in more detail? I can't reproduce this problem.

[2022-08-09 09:50] Bigwen-1 opened #2579 "是否可以支持zookeeper，实现和apisix-seed联动？"
# Feature request

## Please describe your feature

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other

[2022-08-09 10:39] Morakes commented on #2572
1. In the plug-in market page, click on the editable plug-ins.
2. Click the delete button on the drawer to delete the plug-in, but the plug-in is not deleted, it still exists.

[2022-08-10 02:29] barchielAbyss commented on #2191
I find download's in [here](https://www.chromedownloads.net/)

[2022-08-10 05:49] Morakes commented on #2299
I think this might be helpful.
1.Add a plugin remote search to the plugin list to help us find the "enable" plugin quickly.
Also, it might be clearer to change the "Add" button to the "Enable" button. Like this.
![82fda9ec36324d1d82e300f3a1471ae](https://user-images.githubusercontent.com/74828385/183823615-760238d1-6973-4dab-b22d-80e1a3a2a281.jpg)

2.Add "Tab" to the global plugins to distinguish

[2022-08-10 07:11] starsz commented on #2578
Sorry. It doesn't support it yet.

[2022-08-10 08:55] #2578 closed

[2022-08-10 10:05] starsz commented on #2469
I think the problem is solved.

[2022-08-10 10:05] #2469 closed

[2022-08-10 10:20] starsz commented on #2461
I think we can support re-connect the etcd.

[2022-08-11 15:13] pixeldin commented on #2461
Hello, @wangxiaochuang, It seems that this case did not reproduce on my machine(as I restarting the etcd durning the dashboard running and wait for canceled to notify outside channel).
`output.Error = fmt.Errorf("channel canceled")`
Could you show me more detail about your program environment, is your etcd service a single point or a cluster? What's the specific operation about '**cache failed to

[2022-08-12 01:44] Baoyuantop commented on #2576
You need to fill in the correct plugin configuration information

[2022-08-12 03:03] yigeqiji opened #2586 "Why is there still this problem,grafana cannot be displayed"
### Issue description

Why is there still this problem,grafana cannot be displayed

### Expected behavior

normal

### How to Reproduce

![image](https://user-images.githubusercontent.com/59365443/184277115-feab8843-a4a8-41f4-bab2-44b4ffa90c08.png)

### Screenshots

![image](https://user-images.githubusercontent.com/59365443/184277023-f3941fec-bde7-4b0e-96b9-0f911fca1c0e.png)

### Environment

- a

[2022-08-12 03:15] yigeqiji commented on #2586
I tried to change this configuration, but it has no effect

x_frame_options: "sameorigin"

[2022-08-12 15:40] vitcou opened #2588 ""Refused to load the image" , which build by deploy-with-docker.md"
### Issue description

i used the "deploy-with-docker.md" to build the docker image with git id
   0273865d54eb60a5812c403a887398fe74d30a65()

the image can run, but i found the plugin image can not load right.

<img width="1511" alt="image" src="https://user-images.githubusercontent.com/20715740/184387033-ebe41ea9-9bd5-4b3b-ab07-5c7706590d71.png">

### Expected behavior

plugin image can load rig

[2022-08-13 03:36] pixeldin commented on #2586
Hi, @yigeqiji, this maybe help, update the `allow_embedding` config item as `true` in your Grafana configuration file and restart Grafana server.
[code]

[2022-08-15 01:09] #2572 closed

[2022-08-16 14:07] Morakes opened #2592 "Refresh causes an exception to delete the plugin"
### Issue description

When you are in the global plugins list, if you have multiple enabled plugins, try refreshing the page and then deleting one of them, this will cause all of them to be deleted. In addition to this, it also happens when you go from the plugins list to the global plugins list and delete a plugin.

### Expected behavior

deleting only the plugins I want to delete

### How to Re

[2022-08-17 05:02] bzp2010 commented on #2579
Yes, we have plans to implement it, but I'm currently too busy with APISIX Dashboard v3 to finish it for now. It is actually quite simple and you can refer to the modifications in https://github.com/bzp2010/apisix-dashboard/tree/test-for-seed to implement it on your own branch and use the official version when a future update is released.

[2022-08-17 06:29] SkyeYoung commented on #2588
@FangSen9000 Would you be interested in this issue?

[2022-08-17 07:34] FangSen9000 commented on #2588
Pnpm is waiting for BZP's comments and is now working for the editor. If this bug still exists after the editor is finished (the editor will take about five days), I will consider it.

[2022-08-17 19:46] sangnguyen7 commented on #2586
I also getting the same issue, even though set
[code]

<img width="1060" alt="image" src="https://user-images.githubusercontent.com/4648887/185229001-f5bdb75a-25e2-458d-9cdd-c823a16f6d50.png">

[2022-08-18 02:28] guoqqqi commented on #2586
hello @yigeqiji The cause is due to the CSP (content-security-policy) and I think we can run the embed to fix it

[2022-08-18 02:57] guoqqqi commented on #2586
You can configure `frame-src *` to allow all frame

[2022-08-18 02:59] #2299 closed

[2022-08-18 06:24] #2592 closed

[2022-08-18 06:58] believe1499 opened #2594 "在apisix中如何实现这段Nginx的配置"
# Feature request
在apisix中如何实现这段Nginx的配置
 location ~ ^/apisix/test/(.*)? {
        if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Allow-Origin' '*' always;
            add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization';
            add_header 'Access-Control-Allo

[2022-08-18 08:48] #2594 closed

[2022-08-20 01:25] botsphp commented on #2576
Bug we just want to disable the plugin or not enable plugin.

[2022-08-20 03:14] 81981266 opened #2598 "When duplicate a Route on Dashboard web, it has the SAME id and cannot edit, so failed to submit at last step"
### Issue description

When duplicate a Route on Dashboard web, it has the SAME id and cannot edit, so failed to submit at last step

### Expected behavior

id for duplicated route is changeable

### How to Reproduce

click 'Duplicate' button on 'Dashboard web - Route'.

The id shown at the last step can not edit and have conflict.

### Screenshots

<img width="203" alt="image" src="https://user-i

[2022-08-21 11:29] SkyeYoung commented on #2598
In fact, this issue has been fixed in the master branch by https://github.com/apache/apisix-dashboard/pull/2501, but we have not yet released a new version. If you are in a hurry, you can download and compile the master version yourself. 😊

[2022-08-22 09:43] jackk01 commented on #476
@membphis It's been two years, hasn't this function been realized yet?

[2022-08-25 01:27] FangSen9000 opened #2605 "BUG: Rendering exception and timeout"
### Issue description

**This is most likely the reason why the front-end E2E test always loses an element and fails immediately after cy.login**

When we enter the dashboard panel for the first time, there will be a random page that **cannot be loaded**, which has nothing to This is most likely the reason why the front-end E2E test always loses an element and fails immediately after cy.logindo wi

[2022-08-25 20:31] moraKevin opened #2606 "bug: Stack overflow error when importing an openAPI .yaml file through the APISIX Dashboard"
### Current Behavior

Greetings, everyone!

When importing an openAPI .yaml file in the APISIX Dashboard, if the file has more than a couple of endpoints described (usually 4 or 5 is enough for the bug to occur), the dashboard throws a Network error and a _stack overflow_ error is thrown in the dashboard logs.

I have tried importing a .yaml file with only 1 or 2 endpoints, and all goes well. Howe

[2022-08-26 01:19] tokers commented on #2606
cc @bzp2010

[2022-08-26 09:58] SkyeYoung commented on #2598
@81981266

cc @bzp2010

[2022-08-26 09:58] #2598 closed

[2022-08-28 05:08] vitcou commented on #2588
i found the reason, is the conf.yaml key "content_security_policy" set

relate to
https://github.com/apache/apisix-dashboard/issues/2546
https://github.com/apache/apisix-dashboard/pull/2548

[code]

using
[code]
work ok!

[2022-08-28 05:08] #2588 closed

[2022-08-29 02:33] FangSen9000 opened #2607 "Complete the plug-in documentation"
# Feature request

## Please describe your feature

I found the plug-in documentation to be incomplete, hope to complete the plugin documentation support.

How should some plug-in content be written, the user doesn't know.

[2022-08-30 12:49] Someant opened #2609 "无法使用高级匹配条件创建路由"
### Issue description

会出现JS报错
![image](https://user-images.githubusercontent.com/4363184/187440374-1649adb0-2a58-4a3b-8573-13faa53de1eb.png)

### Expected behavior

无法使用高级匹配条件创建路由

### How to Reproduce

![image](https://user-images.githubusercontent.com/4363184/187440660-6f8c3e06-35a7-449d-80f4-28c9554bceda.png)
创建任意规则后即可触发

### Screenshots

_No response_

### Environment

- apisix version (cmd:

[2022-08-31 01:01] Baoyuantop commented on #2609
Please provide your apisix-dashboard  version, we have fixed it in https://github.com/apache/apisix-dashboard/pull/2440

[2022-08-31 02:00] Someant commented on #2609
@Baoyuantop 2.13.0

[2022-08-31 07:27] juzhiyuan commented on #2607
👋 Can you please provide more information/background? As APISIX's plugins documentation exists here https://apisix.apache.org/docs/apisix/plugins/batch-requests/

[2022-08-31 07:30] juzhiyuan commented on #2549
Hi @wodingyang, AFAIK, we don't have such a plan yet. Just added a Discuss label.

[2022-08-31 10:01] pan003 commented on #2609
我也遇到这个问题了，这么低级的bug，这功能明显就是没有测试过啊

[2022-08-31 14:47] alptugay opened #2610 "Route name max length has different values in schema.json and /api/internal/core/entity/entity.go file"
### Issue description

I am trying to add a route with a name of 58 characters. I am getting the following error:
`
{"code":10004,"message":"input validate failed: Key: 'UpdateInput.Route.Name' Error:Field validation for 'Name' failed on the 'max' tag","data":null,"request_id":"e4ff8fea-7a46-492b-9d0d-b0b81c12ad75"}
`
In schema.json file route name is defined with the following values (line number

[2022-09-02 01:50] Baoyuantop commented on #2609
I verified using the master code and did not find this problem, need to wait for a new release. cc @bzp2010

[2022-09-02 01:54] Baoyuantop commented on #2609
We have the corresponding E2E automated test coverage for each feature and bug fix. For this bug you can refer to
https://github.com/apache/apisix-dashboard/blob/master/web/cypress/e2e/route/can-skip-upstream-when-select-service-id.cy.js#L135

[2022-09-02 13:35] anime777 opened #2656 "bug: /apisix/admin/migrate/export "error_msg": "not found""
### Current Behavior

 GET     http://127.0.0.1:9080/apisix/admin/migrate/export
{
    "error_msg": "not found"
}

docker       image: apache/apisix:2.15.0-alpine

reference:    https://apisix.apache.org/docs/dashboard/api/api/#apisixadminmigrateexport

### Expected Behavior

_No response_

### Error Logs

_No response_

### Steps to Reproduce

SET X-API-KEY
 GET     http://192.192.0.5:9080/apisix

[2022-09-04 05:23] trungtien commented on #2586
it's now working bro :) still the same issues

content_security_policy: "default-src 'self'; script-src 'self' 'unsafe-eval' 'unsafe-inline'; st
yle-src 'self' 'unsafe-inline'; frame-src *"

[2022-09-08 10:38] gaoconggit opened #2613 "chrome 浏览器无限loading"
### Issue description

chrome 浏览器偶尔不停 loading , 单独看响应是正常的

火狐浏览器正常

### Expected behavior

不要不停loading

### How to Reproduce

![image](https://user-images.githubusercontent.com/10905068/189101400-b6b76b6f-0d7c-43f2-9cdb-ca9c5dceb3b3.png)
点了上游 点服务

### Screenshots

_No response_

### Environment

- apisix 2.15.0
- OS win10
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd 3.5.

[2022-09-08 10:41] gaoconggit commented on #2613
![image](https://user-images.githubusercontent.com/10905068/189102351-c2f10a33-15c3-44bb-a7ae-33f03fcc47fd.png)

[2022-09-08 10:44] gaoconggit commented on #2613
http://20.210.250.99:9000 也可以重现

[2022-09-08 12:56] FullStackPlayer opened #2614 "It's funny that APISIX can't route it's own dashboard web app correctly!"
### Issue description

I have successfully installed APISIX family and it worked!
---------------------------
apisix：2.15
apisix-dashboard：2.13
etcd：3.4.15
---------------------------
I was able to access apisix-dashboard via http://ip:9000, but that's not elegent enough, it deserves a sub domain, so i created a new route which matches a sub domain for apisix-dashboard itself, but i failed!
Login

[2022-09-08 17:24] moraKevin commented on #2606
Just a follow-up: Upon further testing, I discovered that a single endpoint from the .yaml file was causing the issue. When the request body of that endpoint was removed, all worked properly. The request body of that endpoint was:

`requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SystemSchema'
        required: false`

The 'SystemSchema'

[2022-09-09 04:49] bzp2010 commented on #2614
It would be better if you could read the documentation. https://apisix.apache.org/docs/apisix/FAQ/#how-do-i-access-the-apisix-dashboard-through-apache-apisix-proxy

[2022-09-09 10:26] FullStackPlayer commented on #2614
Thanks for your reply!
I think the main point is an individual admin port, i changed it and now everything seems ok.

[2022-09-09 10:27] #2614 closed

[2022-09-12 03:56] butterfly1924 opened #2615 "CI failing in latest master branch"
### Issue description

The CI is failing

### Expected behavior

...

### How to Reproduce

...

### Screenshots

_No response_

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `etcd --version`):
- apisix-dashboard version, if have:
- Browser version, if have:

###

[2022-09-13 04:03] FangSen9000 opened #2616 "feat: Upload cypress screenshots and videos to Slack"
# Feature request

## Please describe your feature

Upload ci cypress screenshots and videos to Slack.

## Describe the solution you'd like

[A clear and concise description of what you want and what your use case is.](https://github.com/marketplace/actions/cypress-screenshot-video-upload-to-slack)

## Describe alternatives you've considered

[A clear and concise description of any alternative sol

[2022-09-13 06:14] xiaolei000129 commented on #2586
Have you solved the prolem?

[2022-09-13 07:41] trungtien commented on #2586
security:
    access_control_allow_credentials: true
    access_control_allow_headers: "Authorization"
    access_control-allow_methods: "*"
    x_frame_options: "allow-from *"
    content_security_policy: "frame-src *;"

[2022-09-13 07:42] trungtien commented on #2586
it'w work for me, add some lines in conf.yaml
  security:
    access_control_allow_credentials: true          # support using custom cors configration
    access_control_allow_headers: "Authorization"
    access_control-allow_methods: "*"
    x_frame_options: "allow-from *"
    content_security_policy: "frame-src *;"

[2022-09-13 08:06] xiaolei000129 commented on #2586
Have you solved the prolem?

[2022-09-13 08:57] FangSen9000 commented on #2613
你这个和我发现的是一样的，https://github.com/apache/apisix-dashboard/issues/2605

[2022-09-13 08:57] FangSen9000 commented on #2605
https://github.com/apache/apisix-dashboard/issues/2613 这个人也有相同情况

[2022-09-13 09:06] #2562 closed

[2022-09-13 09:26] trungtien commented on #2586
![image](https://user-images.githubusercontent.com/16741935/189865069-8208539f-8613-488f-ae40-9d30d95c8613.png)
yep,

[2022-09-13 13:32] xiaolei000129 commented on #2586
是用你上面的配置吗？

[2022-09-13 15:49] trungtien commented on #2586
![image](https://user-images.githubusercontent.com/16741935/189947761-40b95362-7745-4ccc-9fc7-3732e89ad3c1.png)

[2022-09-14 06:19] pan003 commented on #2609
版本更新太慢了啊，还没有发新版本么

[2022-09-14 07:55] jeffreys-cat commented on #2609
I have the same problem

[2022-09-14 12:05] jeffreys-cat opened #2618 "Copied router has duplicated ID"
### Issue description

I copy a router in the dashboard, and make some changes when I want to save these changes, I took an error.

![image](https://user-images.githubusercontent.com/11832969/190148492-7c12ebd9-e90d-45e1-bd38-2643853d1acf.png)

![image](https://user-images.githubusercontent.com/11832969/190148400-bc16f41e-b70f-4dd7-8150-05f7efb0c7e7.png)

### Expected behavior

I have save the cop

[2022-09-14 12:22] jeffreys-cat commented on #2618
#2500 FIXED AND CLOSE

[2022-09-14 12:22] #2618 closed

[2022-09-14 12:27] jeffreys-cat commented on #2354
New Version Released Date？

Too many bugs in this version. The lastest release was on May 27, a long long time ago.

[2022-09-22 01:56] FangSen9000 commented on #2613
![image](https://user-images.githubusercontent.com/72308243/191641073-de71c74b-a2ff-4de4-9b67-d67d31cb8554.png)
https://github.com/apache/apisix-dashboard/issues/2605
这里有一个视频
@encanto-oss

[2022-09-22 18:17] qiuwshou opened #2621 "feat(account_management): Add a password reset link"
# Feature request

## Please describe your feature

The login page should provide a password reset link for the default admin user. Or provide an account management section in dashboard.

[2022-09-22 18:51] qiuwshou opened #2622 "feat(upsteam): Highlight running upstream"
# Feature request

## Please describe your feature

The frontend should higlight the running upstreams. So it will have less confusion to modify or delete them. In the test case the default stream is the one being used by the route.

![apisix](https://user-images.githubusercontent.com/5378574/191827670-a0ccc302-9cac-478b-8d7d-a26acedd6f3e.PNG)

## Describe the solution you'd like

## Describe alte

[2022-09-24 15:23] guoqqqi commented on #2622
hello, @bzp2010 Are there any of our existing fields that could be used to support this functionality

[2022-09-25 05:52] Silence-dream commented on #2622
I don't find any fields to indicate whether the current upstream is used by route
Whether to add a column to indicate whether the current upstream is in use, as shown in the following figure

![image](https://user-images.githubusercontent.com/42824008/192129932-88bfa4e0-cef1-4e55-bf67-72fed1916ba8.png)

You can view upsteam in route.
You can't check which route uses upsteam in upsteam.
![image](ht

[2022-09-26 01:21] guoqqqi opened #2625 "[feat]: Adding a Loading state to buttons"
# Feature request

## Please describe your feature

Currently, no limit is added to the buttons on all request interfaces. If the user has a poor network environment, there may be a situation where the create button is clicked multiple times in a row.

## Describe the solution you'd like

Add a global custom Hook to change the state of the button to Loading when clicking on a button in the Create,

[2022-09-26 01:22] guoqqqi commented on #2625
Hello, @Silence-dream Can you help support this feature?

[2022-09-26 01:48] Silence-dream commented on #2625
I will create a pr to complete it

[2022-09-26 09:58] yoyofx opened #2626 "Action CI:Release Test 不支持1.15以上版本编译"
### Issue description

其它CI Action都是1.18的编译,导致目前修改后端代码编译不过

### Expected behavior

需要修改 action 中的 Release_Test.yml 目前无法提交

### How to Reproduce

-

### Screenshots

_No response_

### Environment

- apisix version 2.13:
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `etcd --version`):
- apisix-dashboard version, if have:
-

[2022-09-28 04:08] C2022021 opened #2627 "help request: APISIX Dashboard ssl certificate setup hot reload not work?"
### Description

When I add ssl certificate from apisix-dashboard, the ssl certificate effective immediately. But when I delete exist ssl certificate from apisix-dashboard, it still allow me access resource through https untill I restart apisix service? Is that a bug of apisix-dashboard or it just not implement this function on apisix-dashboard now?

### Environment

- APISIX version (run `apisix

[2022-09-28 09:46] solid-wang opened #2628 "Upload certificate path error"
### Issue description

apisix errer.log:
radixtree_sni.lua:146: match_and_set(): failed to find any SSL certificate by SNI

### Expected behavior

The ssl uploaded through the dashboard is stored in the /apisix/ssl/ path of etcd, but actually needs to be placed in the /apisix/ssls/ path.

### How to Reproduce

Upload the certificate through the dashboard and configure the route. Visit your site.

[2022-09-29 06:33] C2022021 commented on #2628
what's your apisixand dashboard version?

[2022-09-29 08:03] hramovalexey opened #2631 "data not found by key"
### Issue description

In dashboard error.log I see messages like:

2022-09-26T11:22:10.187Z WARN store/store.go:154 data not found by key: 424533355921408701
2022-09-26T11:22:10.187Z WARN store/store.go:154 data not found by key: 424610085914804925

They appear every time when I open Route section in UI.
Key is routes ID.
Message appears on every created route.
All routes work fine.
If I open cle

[2022-09-30 06:56] C2022021 opened #2633 "help: how to expose echo plugin in route page (step 3)?"
### Description
In route setting page step 3, I found two plugin setting mode, Normal and Orchestration, and the echo plugin only shows Orchestration. echo plugin still work even if it not show in the web page, I can through Raw Data Editor to define it. But I wonder that is there any way to expose echo plugin in plugin setting page?

### Environment

- APISIX version (run `apisix version`): 2.13.

[2022-09-30 13:31] kwanhur commented on #2628
I faced the same issue :-(

dashboard version 2.13.0 and commit hash 7543860

[2022-09-30 16:04] kwanhur commented on #2549
Hopefully, multi-APISIX clusters can be maintained by one dashboard instance.

[2022-10-01 02:03] FangSen9000 commented on #2615
Please close this @butterfly1924

[2022-10-08 14:05] SkyeYoung commented on #2549
Although not planned, perhaps you could try to help Dashboard support this feature, in which case the community might include refinement of this feature in Dashboard's Roadmap in the future. 😺

[2022-10-09 06:03] panhow commented on #2628
i face the Same promblem

[2022-10-10 09:04] Nawbc opened #2635 "bug: dashboard throws csp errors"
### Current Behavior

![image](https://user-images.githubusercontent.com/45007226/194832172-1bfae7f1-b78d-4626-8c60-76accdfd0bc7.png)

And embbeded grafana is forbid. (has set allow_embedding = true)

### Expected Behavior

_No response_

### Error Logs

_No response_

### Steps to Reproduce

# Apisix Config
apisix:
  node_listen: 9080 # APISIX listening port
  enable_ipv6: false

  allow_admin: #

[2022-10-10 09:05] tokers commented on #2635
cc @bzp2010 .

[2022-10-10 09:21] hf400159 commented on #2635
hi, you can refer to: https://github.com/apache/apisix-dashboard/blob/master/api/conf/conf.yaml#L69

[2022-10-10 09:21] guoqqqi commented on #2635
@Nawbc please refer to https://github.com/apache/apisix-dashboard/issues/2492

[2022-10-10 09:23] #2635 closed

[2022-10-12 05:49] #2194 closed

[2022-10-12 13:31] SkyeYoung opened #2636 "[V3] Feat: make front-end adapts to `route` API interface modifications"
# Feature request

## Please describe your feature

The back-end API interface of APISIX Dashboard V3 has changed a lot compared to V2, so I think the front-end of Dashboard V3 should be adapted to the API interface changes as soon as possible.

First of all, we can start by adapting the API interface of the route part.

## Describe the solution you'd like

1. All updates should be developed under

[2022-10-14 00:56] tomtiao commented on #2636
I would like to implement this.

I found that many components are making request to v2 version of the apis, thus blocking the Cypress test of the `route` part. Is there anything I can do about it?

[2022-10-14 01:18] SkyeYoung commented on #2636
Yes, this is a problem ...... I think if you can, when you deal with E2E tests, make a list of these codes that prevent the tests from passing. Then you can have community members help you evaluate the difficulty of these test changes to decide if you want to do all of them in one PR.

cc @guoqi @bzp2010

[2022-10-14 06:00] Cheol-Soon-Choi opened #2640 "help: can't install using docker"
### Issue description

I tried to install according to the referenced documentation(https://apisix.apache.org/docs/dashboard/install/), but it failed.
Is there something wrong with my configuration environment or step?

### Expected behavior

docker run dashboard

### How to Reproduce

doc: https://apisix.apache.org/docs/dashboard/install/

1. docker pull apache/apisix-dashboard:2.13-alpine
2. doc

[2022-10-17 01:57] Baoyuantop commented on #2640
Hi @Cheol-Soon-Choi, can you share your configuration file? Also, make sure that your etcd is appropriately available.

[2022-10-17 01:58] jevonsnotes commented on #2609
一样的问题，怎么解决？
已用v2.13.0

[2022-10-17 02:00] jevonsnotes commented on #2609
@Baoyuantop

[2022-10-17 03:30] Cheol-Soon-Choi commented on #2640
my confing.yaml :
conf:
  listen:
    host: 0.0.0.0
    port: 9000
  allow_list:
    - 0.0.0.0/0

etcd :
![스크린샷 2022-10-17 오전 11 59 48](https://user-images.githubusercontent.com/79562672/196080001-babaf669-e1b5-41d8-969b-d5cf9157611e.png)

1. Do I need to override all items by referring to default-config? I understand that it is enough to override only the parts that need customization.
2

[2022-10-17 08:10] Cheol-Soon-Choi commented on #2640
i mean my dashboard config file, not apisix config file.
I created my config file.yaml by referring to this file(https://github.com/apache/apisix-dashboard/blob/master/api/conf/conf.yaml)
Do I have to write everything to my dashboard config file like a reference file?
or can I write only the necessary parts like the apisix config file?

For etcd, I just installed it according to doc(https://apisix

[2022-10-17 08:13] Cheol-Soon-Choi commented on #2640
Finally, I implemented my dashboard-config file. Please review.
I configured my dashboard config file by referring to this file(https://github.com/apache/apisix-dashboard/blob/master/api/conf/conf.yaml)

@Baoyuantop
Thanks!

conf:
  listen:
    host: 0.0.0.0
    port: 9000
  allow_list:
    - 0.0.0.0/0

  etcd:
    endpoints:
      - "127.0.0.1:2379"
    mtls:
      key_file: ""
      cert_file: "

[2022-10-17 08:57] Baoyuantop commented on #2640
It looks like because your apisix-dashboard is running in docker and etcd is running in the host, the containers in docker and the server in the host cannot use 127.0.0.1:2379 communication directly. You need to solve this problem by searching.
You can also try using https://github.com/apache/apisix-docker/tree/master/example to launch all components quickly.

[2022-10-18 03:25] ipanocloud opened #2648 "bug: Manual configuration is selected when the dashboard routing configuration plugin is clicked, and there is no plugin_config_id node in the routing information after clicking submit"
### Current Behavior

dashboad create route and manual select plugin config

### Expected Behavior

_No response_

### Error Logs

_No response_

### Steps to Reproduce

1.create route
2.manual select plugin config
3.submit

### Environment

- APISIX version (run `apisix version`):
2.15.0
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd ve

[2022-10-18 06:35] #2625 closed

[2022-10-19 01:28] SkyeYoung commented on #2609
@jevonsnotes You can try compiling it yourself using master. For some reason, there is no new official release yet. Maybe you can come and help us with a new release.

[2022-10-19 14:30] lucamaf commented on #2284
I'm trying something similar and it is not working at the moment ...
any idea?
![Screenshot from 2022-10-19 16-29-33](https://user-images.githubusercontent.com/1726883/196720402-c68eef28-6e39-407d-b2d0-2f024d00752e.png)

[2022-10-20 01:13] guoqqqi opened #2646 "chore: support for Eslint import specifications"
# Feature request

Support for Eslint import specifications.

## Please describe your feature

Automatically Eslint check every time you commit, and format the import and export.

refer: https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/order.md

[2022-10-20 09:55] lucamaf commented on #2586
not documented, facing the same bug

[2022-10-20 20:45] ChaojuWang commented on #2628
Same promblem here. My apisix image version is "apache/apisix:2.99.0-debian" baseed on the compose file from https://github.com/apache/apisix-docker/blob/master/example/docker-compose.yml

[2022-10-21 01:26] #2615 closed

[2022-10-21 01:48] ipanocloud commented on #2609
me too, dashboard version 2.13.0

[2022-10-21 01:55] guoqqqi opened #2649 "[Bug]: When creating a route, the search service input box cannot be customized."
### Issue description

When creating a route, the search service input box cannot be customized.
![image](https://user-images.githubusercontent.com/72343596/197092552-6210eaec-b403-4dbe-9955-af72f743d0c0.png)

### Expected behavior

Supports entering the name of the service you want to select

### How to Reproduce

1. Visit create route page
2. Click the service input
3. Type any character
4. You

[2022-10-21 05:19] wangchuaichuai commented on #2649
1

[2022-10-21 06:25] SkyeYoung commented on #2649
@wangchuaichuai What are you saying?

[2022-10-26 01:45] #2646 closed

[2022-10-27 04:22] LiberiFatali commented on #2586
solved after following steps here

[2022-10-27 16:15] kwanhur commented on #2628
thanks for your notification.

[2022-10-29 10:51] #2461 closed

[2022-10-31 08:01] hf400159 commented on #2648
hi, @ipanocloud I reproduced this problem. @bzp2010 Can you help me? This problem also exists in the latest version.

![image](https://user-images.githubusercontent.com/97138894/198959006-70aaea0b-2581-49a9-8b05-23f43aeae436.png)

reproduced steps:
1. create service.
2. create Plugin-Config
3. create routes. And use the service and plugin template you just created.
4. View routing configuration, n

[2022-10-31 10:13] hf400159 commented on #2649
In this text box, when you enter any content of the word (eg: `a`), the page will become blank, as shown above.
![image](https://user-images.githubusercontent.com/97138894/198984673-f78b009e-4fb6-4af8-bbac-8634b95f8245.png)

![screenshots](https://user-images.githubusercontent.com/97138894/198984186-bb90d90f-7560-4535-8bc2-322e0d7dd6b5.gif)

[2022-11-02 01:50] bzp2010 commented on #2648
Confirm, I will check it.

[2022-11-02 19:10] vibbix opened #2654 "bug: Upstream's created by K8's do not show up in dashboard until a matching route is added"
### Current Behavior

When adding just an upstream/service to APISIX via Kubectl/kubernetes discovery, they are neither reflected in the UI until a route is created.

### Expected Behavior

The upstream should show up in the UI after it's created, even if there is no matching route. If this is intended behavior, it should be mentioned.

### Error Logs
[code]

### Steps to Reproduce

1. Install api

[2022-11-03 01:45] lingsamuel commented on #2654
`ApisixUpstream` doesn't really create an upstream in APISIX until a route references it. It just contains some Upstream options.

[2022-11-04 00:47] lingsamuel commented on #2654
The ApisixUpstream option is applied to service with the same name in the same namespace. In your case, ApisixUpstream `httpbin` is applied to the service `httpbin`.

[2022-11-06 03:52] #2648 closed

[2022-11-06 06:42] bzp2010 commented on #2626
Fixed

[2022-11-06 06:42] #2626 closed

[2022-11-06 06:47] #2613 closed

[2022-11-06 07:02] bzp2010 commented on #2654
Expected behavior. Unless a service is actually associated to an ApisixRoute resource, that upstream will not be created and therefore you will not see it in the dashboard.

[2022-11-06 07:03] #2654 closed

[2022-11-07 09:22] Hazel6869 commented on #2649
@guoqqqi can you assign this issue to me ？

[2022-11-09 13:26] gkdgo opened #2660 "使用“复制”创建路由会由于ID重复创建失败"
### Issue description

使用“复制”创建路由

### Expected behavior

点击提交后创建成功

### How to Reproduce

<img width="465" alt="image" src="https://user-images.githubusercontent.com/55651847/200841566-f2a99d77-3b8e-4035-8ebb-61441e39087c.png">
<img width="467" alt="image" src="https://user-images.githubusercontent.com/55651847/200841970-60c5b9cb-8e6d-45a2-b049-9f94b321ebd6.png">

### Screenshots

<img width="467

[2022-11-10 09:51] t1055475740 opened #2662 "bug: dashboard protocol buffers 、 http to grpc"
### Current Behavior

在 dashboard 的 protocol buffers 里添加配置不能使用、无法删除，admin api 创建的 ID 显示为 /1 。

使用 http to grpc 返回类型不匹配，http to http 可以正常使用。

### Expected Behavior

[error] 45#45: *5248399 [lua] grpc-transcode.lua:134: phase_func(): proto load error: failed to find proto by id: 11, client: 192.168.130.30, server: _, request: "GET /api/serviceadmin/logout HTTP/1.1", host: "192.168.130.32:9080"

[err

[2022-11-11 06:06] Bigwen-1 opened #2661 "The node field is lost after the apisix-dashboard submission"
### Issue description

I added a service or upstream through the admin api and assigned node's metadata, but the metadata information was lost after I modified it through apisix-dashboard

Original etcd information：
/apisix/services/00000000000000046995
{"enable_websocket":true,"create_time":1668145810,"name":"push-user service2","id":"00000000000000046995","update_time":1668145810,"upstream":{"ha

[2022-11-14 09:56] luohoufa commented on #2609
我用的是rpm方式安装的2.13.0版本，还是存在这个问题， 几时发rpm新版本解决这个问题？

[2022-11-14 10:12] 113998274 commented on #2660
唉，这么低级的错误，不知道搞啥

[2022-11-14 10:14] 113998274 commented on #2609
有旧版本没有这问题吗？

[2022-11-15 01:13] Baoyuantop commented on #2609
2.13.1 is being released: https://lists.apache.org/thread/r8k7t7nxf2tb0tkqvsbj50zy4cnqmrd0

[2022-11-15 02:11] bzp2010 commented on #2660
Fixed by #2501

[2022-11-15 10:34] startzhuzhu opened #2663 "Does apisix-dashboard support user rights management？"
# Feature request
username and password for login `manager api`
## Please describe your feature
Ordinary users only have read-only access to apisix-dashboard.

[2022-11-15 13:57] NATHAN76543217 opened #2664 "SSL certificates upload by dashboard not working"
### Issue description

SSL certificates uploaded by the dashboard are not visible / not pushed in the admin API.

### Expected behavior

We expect that certificates uploaded from the dashboard are available and in APISIX and visible from the admin API.

### How to Reproduce

0. Enable SSL on APISIX configuration and restart.
1. Go to dashboard, on the SSL page.
2. Click on create
3. Create your ce

[2022-11-16 09:58] navendu-pottekkat opened #2665 "Plugins not shown on and not aligned in list of routes"
### Issue description

1. The Plugin column is not aligned properly as shown in the first screenshot.
2. When the Operation column is fixed to the right, the Plugin column is not shown at all. See second screenshot.

### Expected behavior

1. The alignment should be proper like the other columns.
2. Plugins column should be shown even when the operations column is fixed to the right.

### How to R

[2022-11-16 11:58] ynsdl opened #2666 "help request: Plugin enable"
### Description

I have added some plugin conf.yaml which in under apisix-docker/example/dashboard_conf but I cant see them on apisix dashboard under plugin/list

For example
  - server-info
  - log-rotate

plugins:                          # plugin list (sorted in alphabetical order)
  - api-breaker
  - authz-keycloak
  - basic-auth
  - batch-requests
  - consumer-restriction
  - cors
  - echo

[2022-11-17 01:40] Dignn commented on #2631
Yes, I have encountered the same problem. Is there a solution?

[2022-11-17 10:25] tzssangglass commented on #2666
@bzp2010 I remember some plugins don't show on dashboard? For example log-rotate.

[2022-11-17 12:27] ynsdl commented on #2666
Thank you.

[2022-11-17 12:27] #2666 closed

[2022-11-18 09:51] JohnsonCaii opened #2667 "Does apisix-dashboard support OIDC integrated with Okta?"
Hi team. I noticed there is `oidc` config in the example config file here: https://github.com/apache/apisix-dashboard/blob/master/api/conf/conf.yaml#L83

I'm wondering if this configuration can take effect? like integrated with Okta. To avoid using `username` and `password` models to log in to the dashboard.

If so, are there any docs can walk me through the whole integration process? Thanks in ad

[2022-11-18 14:57] cmdares opened #2668 "3.0计划何时发布，目前进度如何？"

[2022-11-21 06:17] mscb402 commented on #2664
What your apisix version is?

[2022-11-21 06:33] mscb402 commented on #2664
The apisix-dashboard currently does not support apisix 3.0.
Apisix 3.0 current change `/apisix/admin/ssl/{id}` to `/apisix/admin/ssls/{id}`. But the old version apisix-dashboard still upload the certificate to /apisix/admin/ssl/. So you can get a certificate from etcd but can't get one from APIs

[2022-11-21 10:51] NATHAN76543217 commented on #2664
Oh okay, thank you. Do you know if it is planed for apisix-dashboard to support apisix 3.0.0?

[2022-11-22 01:32] mscb402 commented on #2664
It's already being planned

[2022-11-24 05:51] Shuimo03 commented on #2495
hi, i want this issues

[2022-11-24 08:42] spacewander commented on #2252
Now we implement GM as a plugin of APISIX: https://github.com/apache/apisix/blob/master/docs/zh/latest/plugins/gm.md

[2022-11-25 07:08] mscb402 opened #2669 "fix: cors plugin config 'allow_origins_by_regex' help message is mislead for user"
# Feature request

## Please describe your feature

On the Cors plugin config page, the `allow_origins_by_regex` help message is misleading the user.

<img width="467" alt="image" src="https://user-images.githubusercontent.com/11229089/203920700-74089e4b-97fa-484b-b844-b212c3d0af4f.png">

This example ` [".*.test.com"]` is for users who use API to config the plugin.
But in the dashboard, the user

[2022-11-25 07:09] mscb402 commented on #2669
please assign me to solve this @tokers

[2022-11-25 08:50] yntx-it opened #2670 "配置完grafana地址后，首页面板提示：该内容被屏蔽了。请联系网站所有者以解决此问题。"
### Issue description

配置完grafana地址后，首页面板提示：该内容被屏蔽了。请联系网站所有者以解决此问题。
![image](https://user-images.githubusercontent.com/118282164/203939226-332a9bc9-a3bf-4bd8-aa49-62b7f005a034.png)

### Expected behavior

请问如何解决哇

### How to Reproduce

1.配置Grafana 地址：http://192.168.182.102:3000/d/bLlNuRLWz/apache-apisix?orgId=1&refresh=5s&from=1669363933397&to=1669365733397&var-DS_PROMETHEUS=apisix&var-service=All

[2022-11-25 17:52] zyhui98 commented on #2670
我也遇到了。

[2022-11-26 19:59] Laniakearr opened #2671 "bug: APISIX Dashboard Route config setting error"
### Issue description

Hi,
I was trying to configure the route with casdoor plugin.
I first set it up by using curl, the command I sent is shown as followed [Note I use escape code \" for "]:
`curl "http://127.0.0.1:9180/apisix/admin/routes/1" -H "X-API-KEY: edd1c9f034335f136f87ad84b625c8f1" -X PUT -d "{\"methods\": [\"GET\"],\"uri\": \"/anything/*\",\"plugins\": {\"authz-casdoor\": {\"endpoint_ad

[2022-11-29 02:11] Cheol-Soon-Choi opened #2673 "Source-based installation fails"
### Issue description

Installing according to https://apisix.apache.org/docs/dashboard/2.13/install/#source

An error occurred in the [make build] step.

### Expected behavior

install finished

### How to Reproduce

https://apisix.apache.org/docs/dashboard/2.13/install/#source

### Screenshots

![스크린샷 2022-11-29 오전 11 07 09](https://user-images.githubusercontent.com/79562672/204420904-6

[2022-11-30 03:35] LiteSun commented on #2609
2.13.1 is being released. Feel free to reopen it if you still have the same problem.

[2022-11-30 03:35] #2609 closed